[2017-03-10 23:50] wpsmort commented on #758
I have tested this comparing with my control site and everything works fine for all Noindex and Follow settings.  I have also tested by upgrading a site that had the Noodp options enabled and that works fine, only the Noodp tags are removed.

[2017-03-10 23:50] #758 closed

[2017-03-10 23:51] wpsmort commented on #759
I have tested this comparing with my control site and everything works fine for all Noindex and Follow settings.  I have also tested by upgrading a site that had the Noydir options enabled and that works fine, only the Noydir tags are removed.

[2017-03-10 23:51] #759 closed

[2017-03-11 00:24] wpsmort commented on #787
This is not a new bug.  We tested back to v2.3.6 and it was broken then.

[2017-03-11 01:03] michaeltorbert commented on #546
Closing as we definitely won't be doing this. See #787

Shortcodes are too unpredictable to run them by default. This should be considered advanced functionality and should remain an option that's disabled by default.

[2017-03-11 01:03] #546 closed

[2017-03-11 01:04] michaeltorbert commented on #545
Closing as we definitely won't be doing this. See #787

Shortcodes are too unpredictable to run them by default. This should be considered advanced functionality and should remain an option that's disabled by default.

[2017-03-11 01:04] #545 closed

[2017-03-11 01:04] michaeltorbert commented on #764
Closing as we definitely won't be doing this. See #787

Shortcodes are too unpredictable to run them by default. This should be considered advanced functionality and should remain an option that's disabled by default.

[2017-03-11 01:04] #764 closed

[2017-03-11 01:37] wpsmort commented on #787
I tested further and found that the problem ONLY occurs with shortcodes from NextGen Gallery Pro.

[2017-03-12 18:17] paaljoachim opened #815 "Not compatible with php 7.0."
Hi

I just downloaded the SiteGround SG Optimize. It offers three features:
SuperCacher Config
HTTPS Config
PHP Config -

PHP Config
This tool will allow you to check if your website is compatible with the recommended by SiteGround PHP version and switch to it with a click. It is highly advisable to keep your WordPress running on the recommended PHP for best security and performance.

Notice: chec

[2017-03-12 23:34] michaeltorbert commented on #815
Hi @paaljoachim

Thank you for letting us know. This is actually a false positive (break is absolutely used inside a loop) but we'll change the code so it doesn't trigger the alert in the next version.

[2017-03-12 23:34] #815 closed

[2017-03-13 05:46] paaljoachim commented on #815
Thanks Michael!

[2017-03-13 14:32] michaeltorbert commented on #646
I'm closing this as we've been unable to reproduce the problem.

[2017-03-13 14:36] michaeltorbert commented on #640
This may be related to #646

[2017-03-13 14:37] michaeltorbert commented on #571
BTW Siteground claims they have no extra wp-admin caching, but I haven't confirmed this personally.

[2017-03-13 14:38] michaeltorbert commented on #689
This may be related to #571

[2017-03-13 19:05] wpsmort commented on #646
I have tested this and cannot replicate the problem.  The URL is always correct, regardless of where WP is installed or the directory name for AIOSEOP.

[2017-03-13 19:05] #646 closed

[2017-03-13 19:08] wpsmort commented on #683
This was fixed by switching to the new Insert Media dialog in #684.

[2017-03-13 19:08] #683 closed

[2017-03-13 19:08] michaeltorbert commented on #640
Looks like I fixed this in a different commit.

[2017-03-13 19:08] #640 closed

[2017-03-13 19:09] wpsmort commented on #685
This was fixed by switching to the new Insert Media dialog in #684.

[2017-03-13 19:09] #685 closed

[2017-03-15 16:40] wpsmort opened #819 "Create all new screenshots for documentation"
The current screenshots in our documentation are out of date and need to be redone.

https://semperplugins.com/documentation/

[2017-03-15 19:15] michaeltorbert opened #820 "Make generic flush cache function"
Make a generic aiosp_common::cache_flush() method, which would call both wp_cache_flush() and aiosp_common::clear_wpe_cache()

[2017-03-15 20:03] michaeltorbert commented on #571
Ok so this is ready for testing on our WPE site. Unfortunately we probably can't conclusively test anything.

[2017-03-15 20:06] michaeltorbert commented on #689
We should see if this is fixed by our recent changes as well.

[2017-03-16 13:33] michaeltorbert opened #821 "Add filter for og:locale"
Related to (and depends on) #737

[2017-03-16 13:36] michaeltorbert commented on #737
We should reference https://www.facebook.com/translations/FacebookLocales.xml to make sure things match up with WP locales.

[2017-03-16 13:41] michaeltorbert commented on #737
Compatibility with WPML also needs to be considered. For instance, if WPML is installed, would we then use its locale instead of the WP locale?

[2017-03-16 14:00] michaeltorbert opened #822 "Improve metaboxes in edit post/taxonomy"
I would love to use something like ButterBean, but it doesn't support taxonomies. There's also a fork, called Haricot, which may or may not work for us.
Otherwise we may have to roll our own.

themehybrid.com/plugins/butterbean

We may want to take care of https://github.com/semperfiwebdesign/aioseop-pro/issues/67 first

[2017-03-16 14:03] michaeltorbert commented on #104
Closing as a dupe of #737

[2017-03-16 14:03] #104 closed

[2017-03-16 14:04] michaeltorbert commented on #737
From the closed dupe:

We could take the og:locale from the Site Language setting in WordPress and offer a drop down to select a different locale. We could also consider including an advanced option to select multiple locales as og:locale:alternate.

[2017-03-16 16:28] arnaudbroes opened #823 "update of strings for translation"
I'm linking all cleaned up commits to this issue.
Related to #790.

[2017-03-16 17:13] arnaudbroes opened #825 "fix missing spaces for translation"
Right now some strings start with a space, but these are not visible on the translation platform, causing some strings to be pasted together and look like this: (click hereto upgrade to Pro).

We should correct these for:

**aioseop_sitemap.php** line 480 & 481
' Post Type'
' Taxonomy'

**aioseop_sitemap.php** line 620 & 622
' Your sitemap has been created'
' and changes are automatically submitte

[2017-03-16 17:20] #790 closed

[2017-03-16 17:32] arnaudbroes opened #826 "consider using separate arrays for sitemap"
We should consider using separate arrays (or think of an alternative solution) for the sitemap and the sitemap interface because the current array on line 166 (aioseop_sitemap.php) can't be translated.

It is both used for the update frequency in the sitemap itself and for the interface in WordPress:

foreach ( array( 'always', 'hourly', 'daily', 'weekly', 'monthly', 'yearly', 'never' ) as $f ) {

[2017-03-16 18:31] wpsmort commented on #689
@michaeltorbert I tested this on a clone of the site we have on Cloudways where we can replicate the issue.  When I updated the plugin from v2.3.11.1 which is on his site to this branch by uploading the new plugin via FTP, the welcome screen was displayed once and went away after I dismissed it.

However, if I then deactivated and reactivated the plugin or installed it again after wiping our optio

[2017-03-16 18:44] michaeltorbert commented on #689
@wpsmort  Remember the welcome screen code looks in the database for both the last active version entry as well as the seen about page entry. It won't show up if either is the current version of AIOSEOP

[2017-03-16 19:07] wpsmort commented on #689
@michaeltorbert Understood, that's why I wiped anything from the wp_options table related to AIOSEOP to do a fresh install but upon activation there was no welcome screen.  However, when I installed this branch on a fresh new install the welcome screen did appear.

I believe that as I've been able to replicate the original bug and then test the fix on a clone of that site and it worked that this i

[2017-03-16 19:09] michaeltorbert commented on #689
@wpsmort Sorry, aioseop_seen_about_page is user meta, not an option.

[2017-03-16 19:36] wpsmort commented on #689
I carried out further testing on our Cloudways site where we could replicate the problem.  I installed the branch with the fix and switched between the old version of AIOSEOP where the redirect was happening and the new fixed branch and the problem went away as soon as I switched to the fixed version of AIOSEOP.

[2017-03-16 19:36] #689 closed

[2017-03-17 13:30] dougalcampbell commented on #571
I had a idea to test in one last attempt to replicate. I'm wondering if this problem could be triggered when upgrading from a pre-welcome-screen version of the plugin.

Suggested test procedure for WP Engine:

1. Deactivate and delete AIOSEOP plugin
2. Use WPE settings to flush all caches
3. Manually delete database entries using phpMyAdmin: `options/aioseop_options`, and `usermeta/aioseop_seen_ab

[2017-03-17 13:35] dougalcampbell commented on #571
If that *does* trigger the loop, then try again, but instead of version 2.3.10.1 for the upgrade, use a .zip of the `welcome-redirect` branch. See if those changes fixed the loop.

[2017-03-17 14:41] wpsmort commented on #571
@dougalcampbell I tested this twice but could not replicate the redirect loop.

[2017-03-17 14:51] michaeltorbert opened #827 "Notification Center - XML Sitemap - Add a warning for nginx users to add rewrite rules"
![rewrites](https://cloud.githubusercontent.com/assets/17364998/24048579/bdd2cb2e-0aff-11e7-94e7-37fb743be3c4.png)

Requested here: https://wordpress.org/support/topic/sitemap-404-at-nginx/page/2/#post-8926313

[2017-03-17 15:01] michaeltorbert opened #828 "multiple sitemaps"
Requested here: https://wordpress.org/support/topic/sitemap-404-at-nginx/page/2/#post-8926313

More info: https://moz.com/blog/multiple-xml-sitemaps-increased-indexation-and-traffic

[2017-03-17 17:08] herculesnetwork commented on #828
It would be a great improvement on the sitemaps feature :-) Great!

[2017-03-17 17:38] wpsmort commented on #828
We do already have this feature in our plugin.  It can be enabled by clicking the Enable Sitemap Indexes.  This creates a sitemap index which lists each individual sitemap.  We then generate individual sitemaps for each post type and taxonomy. See screenshots:

<img width="787" alt="screen shot 2017-03-17 at 1 34 04 pm" src="https://cloud.githubusercontent.com/assets/17548525/24055454/7b2b9a00-0b1

[2017-03-17 17:49] #828 closed

[2017-03-17 21:33] wpsmort commented on #287
@michaeltorbert:

I installed AIOSEOP Pro v2.4.4.2 and found that when you switch tabs there was a browser console error:

Uncaught Error: Syntax error, unrecognized expression: .aioseop_header_tab[href!=#aioseop_opengraph_settings]

I tested with Pro v2.4.5 and the error was no longer present.  I also tested with the current live version of Pro and couldn't replicate the issue.

Interestingly, I

[2017-03-18 14:12] arnaudbroes commented on #789
I've just traced this back with different versions of WordPress and the plugin.
The issue has been present since the introduction of the sitemap module.
However, it seems like the plugin wasn't able to generate the sitemap either before 2.3 when wordpress isn't nested in root but in a subfolder.

So in short:
- 2.2.x : sitemap doesn't work, message present
- 2.3.x : sitemap works, message still pr

[2017-03-18 15:56] michaeltorbert commented on #789
@arnaudbroes So the sitemap used to not work (meaning the message was correct at one time in this instance)?
When did that change?

[2017-03-18 16:31] arnaudbroes commented on #789
@michaeltorbert
So when WordPress is nested into a subfolder and permalinks are turned on, the sitemap doesn't seem to work at all in 2.2x. If a new one is generated (updated), it just outputs a blank page.
So I am guessing that's due to incorrect rewrite rules. This is up to 2.2.7.6.2.

In 2.3 (and onward) the sitemap is generated correctly and the message is definitely redundant.

[2017-03-18 18:27] michaeltorbert commented on #775
I've ping Steve Klasen to let him know. Until then, it's probably best to just not use AIOSEOP for the forum page.

[2017-03-19 20:01] #200 closed

[2017-03-19 20:01] arnaudbroes commented on #200
Moved to Pro:
https://github.com/semperfiwebdesign/aioseop-pro/issues/202

[2017-03-19 20:03] arnaudbroes commented on #174
Moved to Pro.

[2017-03-19 20:03] #174 closed

[2017-03-19 20:03] arnaudbroes commented on #173
Moved to Pro.

[2017-03-19 20:03] #173 closed

[2017-03-19 20:04] arnaudbroes commented on #172
Moved to Pro.

[2017-03-19 20:04] #172 closed

[2017-03-19 20:05] arnaudbroes commented on #171
Moved to Pro.

[2017-03-19 20:05] #171 closed

[2017-03-19 20:05] arnaudbroes commented on #170
Moved to Pro.

[2017-03-19 20:05] #170 closed

[2017-03-19 20:06] arnaudbroes commented on #169
Moved to Pro.

[2017-03-19 20:06] #169 closed

[2017-03-19 20:06] arnaudbroes commented on #168
Moved to Pro.

[2017-03-19 20:06] #168 closed

[2017-03-19 20:07] arnaudbroes commented on #167
Moved to Pro.

[2017-03-19 20:07] #167 closed

[2017-03-20 17:27] michaeltorbert commented on #800
1) This may supercede #51
2) We need to make sure this supports single character (Mandarin, etc) languages.

[2017-03-20 22:20] michaeltorbert commented on #164
https://guides.github.com/activities/contributing-to-open-source/
https://help.github.com/categories/collaborating-with-issues-and-pull-requests/
https://github.com/semperfiwebdesign/all-in-one-seo-pack/blob/master/CONTRIBUTING.md#contributing-code

[2017-03-20 22:20] michaeltorbert commented on #164
Main topics:

Github workflow

coding standards

dev tools
-editor/ide (preference for ones that have code sniffer or otherwise have WPCS compatibility)
-MAMP Pro or Local by Flywheel

[2017-03-21 00:04] wpsmort commented on #740
This is tested and is good.

[2017-03-21 00:04] #740 closed

[2017-03-21 01:09] michaeltorbert opened #830 "Custom capability"
A user reported the no permission to view this page error on our menus. It turns out the problem was that we add our custom capability to the "administrator" role, and he mysteriously has an "administrador" role on his spanish-language blog. As far as I can tell from schema.php populate_roles_160(), administrator is hard-coded to be a default.

We may want to consider something like  else _{ if cu

[2017-03-21 22:41] michaeltorbert opened #832 "Add testing documentation to wiki"
https://github.com/semperfiwebdesign/all-in-one-seo-pack/wiki

[2017-03-22 16:03] michaeltorbert opened #833 "Pro link in menu shows up for everyone"
Reported here: https://wordpress.org/support/topic/admin-panel-left-menu-link/#post-8944675

I've tested and confirmed this.

[2017-03-22 16:04] michaeltorbert commented on #833
We can just put a check in the AIOSEOPAdminMenus class contructor for our capability.

[2017-03-23 00:42] amostajo commented on #403
From a simple review, `All_in_One_SEO_Pack::output_callback_for_title` would only work if `output_callback_for_title` is static, which it isn't.

On line 3419 it is passed with a class reference for the same purpose.

This is also clarified on the php [documentation](http://php.net/manual/en/language.types.callable.php) @carlalexander shared:
[code]
Though I will test this locally just to confirm.

[2017-03-23 00:58] amostajo commented on #403
Test ran:
https://gist.github.com/amostajo/96ec1f80af77faf95593b61298d881fa

This will result on a faltal error:
[code]

[2017-03-23 20:12] amostajo commented on #200
@wpsmort this link http://stevemortiboy.com/videos/wordpress-tv-video/ doesn't appear to exists.

[2017-03-23 20:20] wpsmort commented on #200
@amostajo I've set up the post again here - http://stevemortiboy.com/wordpress-tv-video/
I've created the Video XML Sitemap (http://stevemortiboy.com/video-sitemap.xml) and submitted it to Google Webmaster Tools and got this error:

We've detected that one of the URLS in your Sitemap contains a missing or invalid reference to a thumbnail image file. Please ensure that each URL contains <video:thum

[2017-03-23 20:27] amostajo commented on #403
We reopened the ticket with @michaeltorbert just to make sure line 3960 on aioseop_class.php was functioning right and it is, the callable `'All_in_One_SEO_Pack::output_callback_for_title'` is rightly compared and validated to generate the flush the way it is set in the code.

[2017-03-23 20:27] #403 closed

[2017-03-23 20:30] michaeltorbert commented on #720
Closing this for now, as nobody can seem to reproduce it.

[2017-03-23 20:30] #720 closed

[2017-03-23 20:48] michaeltorbert commented on #499
Closing this until we get some more info.

[2017-03-23 20:48] #499 closed

[2017-03-23 22:36] wpsmort commented on #687
@amostajo I tested this and here are my results:

This works for the options in WPML for Different languages in directories and for A different domain per language. However, it breaks if you select the option for Language name added as a parameter.

Neither the default language sitemap show or the other languages. This is the URL for the XSL file for the default language:

http://stevemortiboy.com

[2017-03-27 18:10] wpsmort opened #836 "Social Meta - Add API Filter Hook for default image"
Requested here - https://semperplugins.com/support/configuring-all-in-one-seo-pack-pro/social-meta-twitter-settings-chose-image/

We should have a filter where you can set the default for any social media network, not just Twitter.  For example, the filter could be used to set a different default image for any specified social media network.

Note: Twitter uses twitter:image whereas other social m

[2017-03-27 20:04] michaeltorbert commented on #836
@wpsmort  Is this something different than "Default OG:Image"?

[2017-03-27 20:08] wpsmort commented on #836
@michaeltorbert Yes, the user is asking to be able to set a separate image here.  Currently we use the Default OG Image but this person wants to set a separate default Twitter image.

[2017-03-27 20:17] michaeltorbert commented on #836
This should be a setting instead of a filter.

[2017-03-27 23:12] wpsmort opened #837 "Open Graph Description field shows HTML markup for WooCommerce products"
This is related to #672

The same problem as reported in the above issue also happens with the Description field on the Social Settings tab.  See screenshot:

<img width="1147" alt="screen shot 2017-03-27 at 7 11 51 pm" src="https://cloud.githubusercontent.com/assets/17548525/24381945/41ecf33e-1321-11e7-9347-149e2547f8ad.png">

[2017-03-27 23:13] wpsmort commented on #672
I tested this in pull request 835 and it was fixed.  I opened a new issue #837 for the same problem on the Social Settings tab.

[2017-03-28 10:43] stanislavsa commented on #672
I added fix for an issue #837 in the pull request 835. Also placed the code that filters out tags for snippet preview before the code that truncates snippet preview description so for now snippet preview and post seo description placeholder displays text with the same length.

[2017-03-28 15:26] wpsmort commented on #672
@stanislavsa I tested this further with more HTML tags but using different format buttons from the TinyMCE bar in the Product Short Description field.  I found that certain text formatting seems to break this.  I believe it's because the HTML markup is being included in the number of characters and once we reach 160 characters we don't display anything more in the Description field.  For example:

[2017-03-28 19:20] stanislavsa commented on #672
@wpsmort ok, I'l check one more time

[2017-03-28 21:28] stanislavsa commented on #672
@wpsmort yes, you was right. The number of symbols was incorrect. I figured out where the description truncates in the code and did some changes.

[2017-03-28 23:19] wpsmort commented on #672
@stanislavsa This works now, thanks.  Can you submit a new pull request and I'll mark it for testing.

[2017-03-29 00:50] amostajo commented on #687
@wpsmort I am still trying to figure it out where are you getting those XSL urls from.

After looking at the code and researching on the topic, I have now a more clear knowledge of what XSL is for, these are just for styling the XML sitemap file.

By looking at the XML sitemaps generated on stevemortiboy (using WPML), both are referencing to the right XSL file, look at their source codes:
* [steve

[2017-03-29 13:00] michaeltorbert opened #841 "Make help text more clear that excerpt is used with autogenerate description"
Requested by "Lori Sanch" via Facebook.

"Description Format" and "Autogenerate Description" contextual help should be more clear that it will fall back to the excerpt if no meta description is entered.

[2017-03-29 14:52] michaeltorbert commented on #61
So is this
<img width="1383" alt="screen shot 2017-03-29 at 10 50 33 am" src="https://cloud.githubusercontent.com/assets/17364998/24460951/c5eb7988-146d-11e7-9e9a-3bc854cf5d1c.png">

[2017-03-29 16:04] wpsmort commented on #687
@amostajo Yes, the XSL is only for styling.  Typically when it doesn't load you see a empty screen when you view the XML Sitemap, but if you look at the source code of the page you'll see all the XML code is there, it's just not being displayed to humans because the XSL didn't load.

With regards to this specific problem - In WPML under Languages > Language URL Format there are three possible sett

[2017-03-29 19:52] michaeltorbert opened #842 "Remove installation instructions from readme"
This section has been removed on the .org repository

[2017-03-29 20:08] michaeltorbert opened #843 "FAQ format has changed on .org"
Look at https://wordpress.org/plugins/jetpack/ for an example.

[2017-03-29 21:10] wpsmort commented on #672
This is tested and is good.  Needs final code review.

[2017-03-29 21:29] wpsmort commented on #680
@stanislavsa I tested pull request #840 and I can still replicate the 503 HTTP error by placing three spaces and three blank lines in the User Agent Blocklist field before the first line of text.

[2017-03-29 21:49] wpsmort commented on #842
This is tested and is good.

[2017-03-29 21:49] #842 closed

[2017-03-29 22:46] michaeltorbert opened #844 "Maybe remove old legacy options migration code"
This originated here: https://wordpress.org/support/topic/all-changes-getting-lost-your-database-options-need-to-be-updated-error/
Although it's unclear what is actually causing his issue, and if my recommendation to remove all this code will fix his specific issue.

In aioseop_class.php display_right_sidebar() we have
 if ( ! get_options( 'aioseop_options' ) )
which was used ages ago to migrate o

[2017-03-30 02:04] michaeltorbert opened #845 "Marketing - Promote our security measures"
We regularly contract for 3rd party security reviews (Jaquith, etc), and we should make this known on the plugin's page, the welcome screen, .org, blog post, an All in One SEO Pack security page, etc.

[2017-03-30 07:09] stanislavsa commented on #680
@wpsmort yeah, I see. The problem is that three spaces is not an empty string. Therefore I added a 'trim' function.

[2017-03-30 13:55] stanislavsa commented on #253
I checked this issue and for sure that  options are not updated because in that case triggers an exception before the code that update settings and only warning displayed.
I added a new hook for this case to prevent displaying options updated message.
Also I got next issue when message displayed
![importer exporter web technologies wordpress](https://cloud.githubusercontent.com/assets/22232968/245

[2017-03-30 20:06] michaeltorbert commented on #253
@stanislavsa Are you still working on this or is it ready for a PR?

[2017-03-30 20:09] michaeltorbert commented on #680
@stanislavsa Are you still working on this or is it ready for a PR?

[2017-03-30 20:41] amostajo commented on #687
@wpsmort Yup it did. Know I get what you are saying, thank you very much.

Sitemap should be pointing to: http://stevemortiboy.com/sitemap.xml?lang=fr

[2017-03-31 06:43] stanislavsa commented on #253
@michaeltorbert It's ready for a PR.

[2017-03-31 22:22] amostajo commented on #687
@wpsmort I have tested it using multiple configurations and seems to working fine. Please review.

[2017-03-31 22:32] michaeltorbert opened #849 "Add new API filter to return of get_post_title_format()"

[2017-03-31 23:04] wpsmort commented on #837
@stanislavsa Is this ready for a PR?

[2017-04-01 09:19] stanislavsa commented on #837
This issue has the same fix as in #672 issue.
#835 PR fixed both this issues.

[2017-04-03 13:44] michaeltorbert opened #850 "PHP 7.1 compatibility"
Test if we're compatible with PHP 7.1. Reported here https://wordpress.org/support/topic/php-7-1-problem/#post-8986576

[2017-04-04 10:24] georgegijo opened #852 "Duplicates Content from My Plugin"
My plugin is in conflict with the social meta feature. The plugin shortcode creates content twice. If I comment the code inside do_opengraph, it works correctly. Is there anything I have to take care with my plugin to avoid this conflict?

[2017-04-04 10:45] michaeltorbert commented on #852
Please stop spamming us. We can't possibly debug your plugin's problem without seeing your plugin.

[2017-04-04 10:54] michaeltorbert opened #853 "Fatal error: Uncaught Error in PHP 7.1"
Reported here: https://wordpress.org/support/topic/php-7-1-problem/

I'm not exactly sure what's prompting this, but I don't think this has to do with PHP 7.1. My guess is that the edit array key simply doesn't exist already for some reason.
It may be as simple as checking for it first.

		unset( $actions['edit'] );

[2017-04-04 10:56] michaeltorbert commented on #853
We need to try and reproduce this.

[2017-04-04 11:15] georgegijo commented on #852
Sorry for that. I am attaching the code. Hope it helps. Thanks
[mcosms.zip](https://github.com/semperfiwebdesign/all-in-one-seo-pack/files/892896/mcosms.zip)

[2017-04-04 15:31] michaeltorbert opened #854 "Limit description length in list of all posts"
https://wordpress.org/support/topic/articles-dont-readable/

This could default to something small like 20-30, whatever would look best and we could either have a filter or add to the view settings.

[2017-04-04 21:27] michaeltorbert commented on #850
dupe

[2017-04-04 21:27] #850 closed

[2017-04-04 21:37] michaeltorbert commented on #853
Update: the user reported that the conflict is with the wp-editor plugin. https://wordpress.org/support/plugin/wp-editor

[2017-04-04 21:42] michaeltorbert commented on #853
So far I'm not able to reproduce it.

[2017-04-04 22:24] michaeltorbert commented on #571
Ok these changes are merged into the dev branch.

We *think we may have fixed it, so welcome redirects are now turned back on for updates to the new version.
@wpsmort Test and make sure you don't find any problems with installing this version from scratch or from updating to this version.

[2017-04-04 22:41] wpsmort commented on #837
@stanislavsa This needs a new PR so I can test it.

[2017-04-05 05:28] stanislavsa commented on #680
It is ready for PR

[2017-04-05 05:37] stanislavsa commented on #837
Fix for #837 is presented in the 835 PR.
Firstly I made two fixes for #672 and #837, but then I added some changes to #672 and it also fixed issue #837 so no need in PR for 837 issue.

[2017-04-05 13:43] georgegijo commented on #852
I resolved this issue by adding add_action('wp_head','myfunction') in my plugin to invoke the plugin execution. Now the issue seems to be resolved although I don't know the implications.

[2017-04-05 13:52] michaeltorbert commented on #852
Looks fine to me.

<img width="315" alt="screen shot 2017-04-05 at 9 52 05 am" src="https://cloud.githubusercontent.com/assets/17364998/24708686/983cf642-19e5-11e7-8b90-a79dd5ad9597.png">
<img width="555" alt="screen shot 2017-04-05 at 9 51 28 am" src="https://cloud.githubusercontent.com/assets/17364998/24708685/983b48e2-19e5-11e7-9dcb-2f1c6485597f.png">
<img width="354" alt="screen shot 2017-04-0

[2017-04-05 13:53] #852 closed

[2017-04-05 18:31] wpsmort commented on #571
@michaeltorbert I tested installing the dev branch from scratch and got this error:

PHP Parse error:  syntax error, unexpected 'to' (T_STRING), expecting ',' or ';' in all-in-one-seo-pack-development/admin/display/general-metaboxes.php on line 42

[2017-04-05 19:30] michaeltorbert commented on #823
@wpsmort For testing, check out https://github.com/semperfiwebdesign/all-in-one-seo-pack/commit/a4a058933a46cb75e4fa2131c8de2d719e307339 and you'll see where some option information is now translatable.
We need to make sure that these are all appropriate to be translated, and don't break options for people.
For example, the 404_title_format default is now translatable... is that something we want?

[2017-04-05 19:44] wpsmort opened #859 "Social Meta Module - Incorrect auto generated OG Description when Use content is enabled"
This affects Posts and WooCommerce Products (anything that has an Excerpt).

The placeholder text in the Open Graph Description field is incorrect when auto-generate descriptions is enabled.

There are two settings that affect the auto-generated OG descriptions, they are:

- Use Content For Autogenerated Descriptions under All in One SEO > General Settings > Advanced Settings
- Use Content For Aut

[2017-04-05 19:46] wpsmort commented on #837
This is tested and is good but it does need it's own PR.

[2017-04-05 19:57] wpsmort commented on #571
I have tested this and it works fine when installing from scratch (the Welcome screen shows once) and when updating from current live version (the Welcome screen does not show).

[2017-04-05 19:57] #571 closed

[2017-04-05 20:09] wpsmort commented on #823
@michaeltorbert I have tested this and everything looks fine.  There are no problems with the import/export feature and I believe its fine to translate the text string in the 404 Title Format field

[2017-04-05 20:09] #823 closed

[2017-04-05 20:28] wpsmort commented on #833
This is tested and is good.

[2017-04-05 20:28] #833 closed

[2017-04-05 20:52] wpsmort commented on #837
PR #860

[2017-04-05 21:02] wpsmort commented on #680
This is tested and is good.  This is ready for the code review.

[2017-04-06 17:08] wpsmort opened #863 "Warning: A non-numeric value encountered in aioseop_opengraph.php on line 258"
Reported here - https://wordpress.org/support/topic/lastest-version-causes-errors/#post-9002289

[2017-04-06 17:23] wpsmort commented on #863
This is tested and is confirmed to fix the bug with only two items in the OG Image Source dropdown.  I am unable to test on PHP 7.1.

[2017-04-06 17:23] #863 closed

[2017-04-06 19:05] wpsmort opened #864 "Notice: Undefined index: sfwd_update_check in aioseop_performance.php on line 291"
This notice occurs when you send the debug information from the Performance module:

Notice: Undefined index: sfwd_update_check in all-in-one-seo-pack-issue-97/modules/aioseop_performance.php on line 291

[2017-04-06 19:18] wpsmort commented on #97
@stanislavsa I tested this but when I sent the email I got this notice:

Notice: Undefined index: sfwd_update_check in all-in-one-seo-pack-issue-97/modules/aioseop_performance.php on line 291

I checked and this notice happens in the current live release so it's not new.  I've opened issue #864 for this and assigned it to you.

Can you also include the following information in the debug email:

Si

[2017-04-06 19:51] wpsmort commented on #254
This is tested and is good.  Needs a code review.

[2017-04-06 20:00] wpsmort commented on #253
This is tested and is good.  Needs a code review. PR #846

[2017-04-06 20:16] wpsmort opened #865 "Uncaught TypeError: wp.media is not a function"
This error occurs on the Edit Media screen and prevents you from clicking on the Social Settings tab.  It first occurred in v2.3.12.2.

all-in-one-seo-pack/js/modules/aioseop_module.js?ver=2.3.12.2
Uncaught TypeError: wp.media is not a function
    at a.fn.init.jQuery.fn.aioseopImageUploader (aioseop_module.js?ver=2.3.12.2:262)
    at HTMLInputElement.<anonymous> (aioseop_module.js?ver=2.3.12.2:30

[2017-04-06 20:27] michaeltorbert commented on #865
https://github.com/semperfiwebdesign/all-in-one-seo-pack/commit/338275431f158bb0b2f5562f1caadaa43c50db46 did it btw.

[2017-04-06 20:28] stanislavsa commented on #97
@wpsmort okay, will be done

[2017-04-06 22:38] arnaudbroes opened #866 "Internally used custom post types should be hidden"
Two internally used custom post types have recently start showing up in the plugin:
- custom CSS
- changesets

![image](https://cloud.githubusercontent.com/assets/18156697/24778394/9ef9f11a-1b2a-11e7-8f39-95c1cf36280f.png)

We should hide these in our settings.

[2017-04-06 22:54] michaeltorbert commented on #866
These were added in a recent version of WordPress

https://github.com/WordPress/WordPress/commit/1ccd9e7a6c7bc4a0f9ffae670c526f9420a3edeb#diff-ab88b030116a886cb5530713d3fd4bf2

https://github.com/WordPress/WordPress/commit/f1ba1918c925510822a48fb83c1e74d22d7f0c46#diff-ab88b030116a886cb5530713d3fd4bf2

[2017-04-07 11:49] arnaudbroes commented on #865
@michaeltorbert
I confirm that commit broke it.

[2017-04-07 11:54] michaeltorbert opened #869 "warning in woocommerce when setting mem in performance to 256"
When you set the memory limit to 256 in our performance module, WooCommerce (/wp-admin/admin.php?page=wc-status&tab=status) warns "40 MB - We recommend setting memory to at least 64MB."

Reported here: https://wordpress.org/support/topic/woocommerce-warning-40-mb-we-recommend-setting-memory-to-at-least-64mb/

I've verified this issue exists. Setting it to any other value makes the warning go away.

[2017-04-07 19:18] arnaudbroes opened #870 "Consider merging noindex settings"
If the code doesn't need a drastic overhaul we should consider merging these options together into a single option with multiple checkboxes:

![image](https://cloud.githubusercontent.com/assets/18156697/24816120/e3e05b40-1bd7-11e7-9677-dc1c9927d3c3.png)

[2017-04-07 19:26] arnaudbroes opened #871 "Link to GitHub in credits-content.php not translatable"
![image](https://cloud.githubusercontent.com/assets/18156697/24816402/ea0a33a0-1bd8-11e7-9aab-a6a9c075b907.png)

[2017-04-07 19:29] amostajo commented on #865
@arnaudbroes That commit didn't broke it; your confirmation is wrong.

`wp_enqueue_media()` was not being called prior enqueuing `aioseop_module.js`. Commit [3382754](https://github.com/semperfiwebdesign/all-in-one-seo-pack/commit/338275431f158bb0b2f5562f1caadaa43c50db46) is fine, it just re-organized the previous code. Had nothing to do with `wp.media` not being a function.

I have pushed a commi

[2017-04-07 20:04] arnaudbroes commented on #871
![image](https://cloud.githubusercontent.com/assets/18156697/24817769/1e615bec-1bde-11e7-8aa1-19f2fd984ca3.png)

[2017-04-08 12:45] arnaudbroes commented on #865
@amostajo I only tracked down the commit that caused the plugin to misbehave on a default installation; I did not track down the exact cause in the code. I just track down whatever Michael wants, I'm not accusing anyone of writing faulty code.

[2017-04-08 22:19] michaeltorbert opened #874 "Redirect Attachments to Post Parent "too many redirects" error"
Reported via email by M Sadeem.
The example he provided on his site has the issue, but I've been unable to reproduce it anywhere else.

[2017-04-10 02:27] amostajo commented on #865
Either way, the confirmation you did was wrong.

On Apr 8, 2017 6:45 AM, "Arnaud Broes" <notifications@github.com> wrote:

[2017-04-10 21:24] michaeltorbert opened #875 "Add Yandex and Baidu Webmaster Tools verification"
and any others we're missing including:

Baidu

[2017-04-12 00:51] michaeltorbert opened #876 "Keep versions 4 levels deep at most."
Reported by Jaime via email:

"Whenever you release a version that is 5 levels deep (such as the latest release at 12.3.12.2.1) it breaks composer from being able to do an update since I can't put that full version in my json file. So, in this case, I can only update to 12.3.12.2 when I see I really need to update to the tiny incremental update after that because of a bug. Is there any way you can

[2017-04-12 00:51] michaeltorbert commented on #876
I'm just putting this here for future reference as an issue.

[2017-04-12 00:51] #876 closed

[2017-04-12 12:16] michaeltorbert opened #877 "Add better support for modern theme titles with title-tag"
Currently, I think that if a theme uses title-tag as they should, rather than wp_title, we're still brute-forcing it. We should verify and try to do this more gently.

make.wordpress.org/core/2014/10/29/title-tags-in-4-1/

[2017-04-12 13:05] jhned opened #878 "Quickedit Functions JS linked with extra slash"
I'm seeing the quickedit functions link built as:

"/wp-content/plugins/all-in-one-seo-pack//js/quickedit_functions.js?ver=2.3.12.2.1"

in the current version of the plugin. The extra slash before JS is causing my server to respond 403 forbidden, for whatever reason.

[2017-04-12 14:53] michaeltorbert commented on #878
Hi jhned,

Thank you for reporting this. Strangely, Chrome on my computer seems to ignore the extra slash, which I suspect is why it wasn't caught. We'll make sure this is fixed for the next version.
Out of curiosity, what browser/OS/etc are you using?

[2017-04-12 17:27] jhned commented on #878
I'm using macOS Sierra 10.12.3 and Chrome 57.0.2987.133, though I suspect
it's a server issue-- I believe the site is hosted on Rackspace using
Apache, not nginx.

On Wed, Apr 12, 2017 at 10:53 AM, Michael Torbert <notifications@github.com>
wrote:

[2017-04-12 19:10] michaeltorbert opened #879 "Add meta to API"
get_aioseop_title(), get_aioseop_description, etc...

which would return get_post_meta( ....

We should consider how to do this, whether we want get_aioseop_post_title, get_aioseop_title, etc?

[2017-04-13 15:07] michaeltorbert opened #880 "SEO Data Importer - Add OG data to importer"
Requested here: https://wordpress.org/support/topic/import-tool-not-working-with-ogimage-from-yoast/

[2017-04-17 08:57] hotelwp opened #881 "trouble with get_posts function"
Hi,

I am developing a WP theme and ran some testing with All in One SEO Pack. I came across an issue as All in One SEO datas for a page/post where not saved/retrieved properly after editing a post.

Here is a description of the issue step by step:
- Enter a title in "SEO Title" for a certain page in Pages menu of WP admin
- Click "Edit" to edit the content of the page
- Check the All-in-One SEO s

[2017-04-17 13:57] michaeltorbert commented on #881
@hotelwp Please also include a link to download your theme.

[2017-04-17 19:43] hotelwp commented on #881
@michaeltorbert I can't link to a download of the theme (it is already for sale) but I can send it as zip file in a private message or to an email address.

[2017-04-17 19:55] michaeltorbert commented on #881
@hotelwp That's fine, send it to the email address you have for us.

[2017-04-17 20:35] hotelwp commented on #881
@michaeltorbert Just sent

[2017-04-17 20:41] michaeltorbert commented on #881
@hotelwp Adding/editing a title or any other AIOSEOP postmeta works fine for me with your theme active. Try these troubleshooting steps: https://semperplugins.com/documentation/how-to-troubleshoot-issues-with-all-in-one-seo-pack/

[2017-04-17 21:35] wpsmort commented on #865
I have tested this bug fix and confirmed that it fixes the issue.

[2017-04-19 17:07] wpsmort commented on #864
This is tested and is fixed.  Needs a code review.

[2017-04-19 17:11] wpsmort commented on #97
This is tested and is good.  Needs a code review.

[2017-04-19 17:34] wpsmort commented on #120
This is tested and is good.  It needs a code review.

[2017-04-19 17:44] wpsmort commented on #687
This is tested with all three language options in WPML and confirmed that all three now work.  This needs a code review.

[2017-04-21 09:10] hotelwp commented on #881
@michaeltorbert Thank you for your message. I have just tried again on a fresh install of WordPress with Adomus theme and All-in-one SEO Pack plugin. I still have the same issue.

Have you tried to add/edit AIOSEOP postmeta on a Page? This is where the problem happen. If you tried on a Post, you will not have seen the issue.

I have again done the debug before replying. In the file wp-content/adom

[2017-04-26 14:44] hotelwp commented on #881
@arnaudbroes Any update on the issue? Thank you.

[2017-04-26 15:25] arnaudbroes commented on #881
@hotelwp
Hi Aurelien
I have this on my schedule, and I'm testing this evening whether or not I can reproduce this.
I'll get back to you in a few hours from now.
Arnaud

[2017-04-26 18:18] wpsmort opened #882 "Add Noindex and Nofollow to Quick Edit on All Posts"
Requested here - https://wordpress.org/support/topic/nofollow-multiple-selection/

Consider adding the ability to select multiple posts on the All Posts screen and use the Quick Edit feature in WordPress to set Noindex or Nofollow for the selected posts.

[2017-04-26 20:35] arnaudbroes commented on #881
@hotelwp
I've tried this with a fresh installation of WordPress, All in One SEO Pack and your WordPress theme, but I wasn't able to reproduce this issue either when creating a few pages and adding meta content (SEO title, description) to them.
Could you please provide me with the exact steps to reproduce this issue, starting from a brand new WordPress installation with the theme installed & activa

[2017-04-26 22:15] wpsmort opened #883 "Social Meta Module - Add og:type meta tag to homepage when front page displays posts"
Reported here - https://wordpress.org/support/topic/facebook-like-button-warning/

We don't output the og:type tag on the homepage when Front Page is set to display posts under Settings > Reading.  We should output the og:type tag for blog as follows:

`<meta property="og:type" content="blog" />`

[2017-04-27 15:47] hotelwp commented on #881
@arnaudbroes I would be happy to check on your test site but the user you created for me has subscriber role. So I can't see Pages... ;-)

[2017-04-27 16:15] arnaudbroes commented on #881
@hotelwp
My mistake, assigned it to the wrong user. Changed it to Admin. :-)

[2017-04-27 16:41] hotelwp commented on #881
Hi,

Thank you. Good that we can work on same install. I have re-created the issue for you on the test site.

I have added a custom post type (Accommodation->test accommodation). Then I create a new Page (example 3) and you can see that the All in One SEO section (when editing the page example 3) shows the data of the page "test accommodation".

Come back to Pages list and edit the SEO title (it s

[2017-04-27 16:47] arnaudbroes commented on #881
@hotelwp
Thank you! I indeed saw that there was no title for that post. However, if I try to Edit it, it does show up, even when I refresh the page. Definitely a weird issue. I think I did everything right according to your steps. Could we perhaps arrange a quick Skype call and share your/my screen to go through the steps once more? I'm available this evening or tomorrow afternoon/evening (CET - B

[2017-04-27 17:06] hotelwp commented on #881
Steps by steps with screenshots:

![step 1 and 2](https://cloud.githubusercontent.com/assets/27673460/25495128/6e1d314e-2b7c-11e7-9a96-a03db60e6472.png)

![step 3](https://cloud.githubusercontent.com/assets/27673460/25495140/75c10fb0-2b7c-11e7-9af3-0c554c94c7b9.png)

![before step 4](https://cloud.githubusercontent.com/assets/27673460/25495150/7d3d8bc4-2b7c-11e7-873f-7bd4f99dc3ad.png)

![step 4](h

[2017-04-27 17:20] arnaudbroes commented on #881
@hotelwp
Agreed, I misunderstood something in your previous explanation.
Patching this through to Michael once more.
@michaeltorbert
I tested this on a fresh install while following the exact steps Aurelien specified in his screenshots and I was able to reproduce the issue. Also tested this with older versions with the plugin.

[2017-04-27 21:37] michaeltorbert commented on #882
This wouldn't do what he was wanting. He wanted a bulk editor, not a quick edit.
What would be better for him is to use a custom fields bulk editor (if such a thing exists).

This issue as written is still fine for inclusion though.

[2017-04-27 21:44] michaeltorbert commented on #883
@wpsmort What follows?

[2017-04-27 21:52] wpsmort commented on #883
@michaeltorbert I forgot the backticks so the HTML code would show.

[2017-04-28 18:35] wpsmort commented on #745
Reported again here - https://wordpress.org/support/topic/incorrect-sitemap-in-multisite-mode/

I have confirmed this on a multisite that I have access to and it is a bug.  Other sites in the network are being included in the main site XML Sitemap.

[2017-04-28 18:37] #871 closed

[2017-05-01 14:42] wpsmort commented on #866
@michaeltorbert These post types need to be removed from Social Meta > Facebook Settings > Enable Facebook Meta For as well.  See screenshot.

<img width="922" alt="screen shot 2017-05-01 at 10 42 01 am" src="https://cloud.githubusercontent.com/assets/17548525/25582354/d8d39a1a-2e5a-11e7-8bbb-c718246ac362.png">

[2017-05-01 14:45] wpsmort commented on #865
This is tested in 2.3.12.3 development and confirmed fixed.

[2017-05-01 14:45] #865 closed

[2017-05-01 14:57] wpsmort commented on #687
This is tested in 2.3.12.3 development and is confirmed to be fixed.

[2017-05-01 15:00] wpsmort commented on #866
This is tested and is confirmed fixed.

[2017-05-01 15:00] #866 closed

[2017-05-01 15:16] michaeltorbert commented on #518
@wpsmort Do we need something different than https://semperplugins.com/documentation/filter-all-in-one-seo-pack-google-analytics/ added in #371?

[2017-05-01 15:39] wpsmort commented on #518
@michaeltorbert No, I don't believe we need anything different as the existing filter works just fine.

Note: To remove GA tracking code from a specific page use the filter here - https://semperplugins.com/documentation/filter-all-in-one-seo-pack-google-analytics/

[2017-05-01 15:39] #518 closed

[2017-05-01 18:01] wpsmort commented on #687
I found the same error when viewing the robots.txt file generated by WordPress.  Our XML Sitemap URL is being displayed incorrectly as:

Sitemap: http://stevemortiboy.com/?lang=frsitemap.xml

Instead it should be displayed as:

Sitemap: http://stevemortiboy.com/sitemap.xml?lang=fr

[2017-05-01 19:42] wpsmort opened #884 "XML Sitemap - Blank sitemap pages with WPML"
This was identified whilst testing prior to release of 2.3.12.3.

When you are using WPML to translate content and you have sitemap indexes and pagination enabled, we are creating empty sitemap pages.

For example:

If you have 6 pages in English and pagination is set to 3 URLs per page, you get 2 pages populated with the 6 URLs (3 per page).  However, you also get a number of blank pages as well.

[2017-05-01 20:03] wpsmort commented on #687
This is tested and is now all working correctly.

[2017-05-01 20:03] #687 closed

[2017-05-01 23:04] michaeltorbert opened #886 "Swap __DIR__ with AIOSEOP_PLUGIN_DIR... for PHP 5.2 users"

[2017-05-01 23:23] #886 closed

[2017-05-02 15:19] michaeltorbert opened #888 ""Uploaded to this post" missing from media page dropdown"
We broke this again in 2.3.12.3 with the wp_enqueue_media added to enqueue_scripts(). It was previously broken and fixed in https://github.com/semperfiwebdesign/all-in-one-seo-pack/issues/726

Reported here: https://wordpress.org/support/topic/update-problem-41/#post-8686351

[2017-05-02 15:55] michaeltorbert commented on #888
On first glance, it appears to be caused by enqueue_metabox_scripts() not loading until the admin_print_scripts hook...
 then this function use the admin_print_scripts hook (makes no sense) and admin_enqueue_scripts hook (maybe too late??)

[2017-05-02 17:14] michaeltorbert opened #889 "Translation comments in documentation are showing"
Something looks off about this. :)

<img width="1015" alt="screen shot 2017-05-02 at 1 13 38 pm" src="https://cloud.githubusercontent.com/assets/17364998/25629904/39cebbfe-2f39-11e7-84f8-f75fd7e150c1.png">

[2017-05-02 17:19] #878 closed

[2017-05-02 17:22] arnaudbroes commented on #889
Related to #871.

[2017-05-02 17:39] arnaudbroes commented on #889
![image](https://cloud.githubusercontent.com/assets/18156697/25630906/fb4cb6ca-2f6e-11e7-9d3b-34f59a938322.png)

Looks fixed, needs final review.

[2017-05-02 17:56] #889 closed

[2017-05-02 17:58] wpsmort commented on #888
This is tested and is good.   It fixes the issue reported on the WP.org forums.

[2017-05-02 17:58] #888 closed

[2017-05-02 19:30] michaeltorbert opened #892 "Update the translations link in readme.txt"
It should be https://translate.wordpress.org/projects/wp-plugins/all-in-one-seo-pack, not sfwd

[2017-05-04 13:21] michaeltorbert opened #893 "Add pre-trim description filter"

[2017-05-05 16:28] hotelwp commented on #881
Hello,

@michaeltorbert : May I check if there is any update on the issue please?

Have a nice week-end!

[2017-05-05 18:50] wpsmort opened #894 "Cannot uncheck Capitalize Tag and Search Titles"
I noticed today that you cannot uncheck the Capitalize Tag and Search Titles checkbox under General Settings > Title Settings.

When you mouse over the checkbox the cursor does not change and if you inspect the div then you see what appears to be the wrong class and ID:

class="aioseop_wrapper aioseop_no_label  aioseop_hidden_type"
id="aiosp_force_rewrites_wrapper"

[2017-05-05 18:50] wpsmort commented on #894
I tested back and found this originated way back in version 2.0.2.

[2017-05-05 19:11] wpsmort commented on #894
We found a hidden field that overlaps the Capitalize Tag and Search Titles field which prevents you from being able to click the checkbox.  The hidden field is the one with the ID aiosp_force_rewrites_wrapper and is on line 401 of the main class file.  It has a height of 0px which is what makes it hidden, changing the height fixes the issue of being able to click the checkbox.

Deleting the code f

[2017-05-05 19:16] michaeltorbert commented on #894
Pay special attention to code like:
`if ( ! empty( $aioseop_options['aiosp_rewrite_titles'] ) ) {
			$force_rewrites = 1;
			if ( isset( $aioseop_options['aiosp_force_rewrites'] ) ) {
				$force_rewrites = $aioseop_options['aiosp_force_rewrites'];
			}
			if ( $force_rewrites ) {
				ob_start( array( $this, 'output_callback_for_title' ) );
			} else {
				add_filter( 'wp_title', array( $this, 'wp_

[2017-05-05 19:20] michaeltorbert commented on #894
What looks like is happening is that the toggle itself for force writes (output buffering) is located in Performance, but we need to access the setting in the aioseop_class.php, so for some reason, instead of accessing the options array that should have it anyway, the Performance setting itself toggles the hidden option on the main options page.

[2017-05-05 19:28] michaeltorbert commented on #894
Ok, so in the olden days, the force_rewrites was an options in the main settings page/class (which was the only place for settings in those pre-module days).
In order to move the setting to performance, but not perform a database migration, a prior developer simply made it a hidden field with the "solution" described above.

My advice is we do the database migration and remove it from the options

[2017-05-06 22:34] arnaudbroes commented on #593
Tested and confirmed.

[2017-05-08 13:37] michaeltorbert opened #895 "Add support for Google Optimize"
Requested here: https://semperplugins.com/support/configuring-all-in-one-seo-pack-pro/how-to-deploy-google-optimize/

[2017-05-08 19:10] michaeltorbert opened #896 "Fatal error in certain instances with new compatibility classes"
A user is getting a fatal error
Fatal error: Class ‘All_in_One_SEO_Pack_Compatible’ not found in /home/aitrey/public_html/wp-content/plugins/all-in-one-seo-pack/inc/compatability/compat-wpml.php on line 12

The error appears even with all other plugins deactivated and Twenty Seventeen active. Interestingly, the plugin activates with no problem if the plugin directory is renamed.

Also, this can't

[2017-05-09 18:03] amostajo commented on #896
After testing this locally and on the live server (where the issue was detected), I found out that the issue was due to server's cache and not the plugin.

# Test details
[ReflectionClass](http://php.net/manual/en/class.reflectionclass.php) was used to check the abstract class existence and the results were logged in a file.

[code]

The piece of code above was added to:
* After line 391 in [all_i

[2017-05-09 18:42] michaeltorbert commented on #896
As this is a server caching issue, I'm closing this for now.

[2017-05-09 19:18] michaeltorbert commented on #896
Response from Liquid Web:

Hello,

`My name is Calvin and I will be assisting you with finding information about what caching method your server utilizes. Here is what I've found so far:

    [root@host ~]# php -vPHP 5.6.29 (cli) (built: Dec 31 2016 00:06:57) Copyright (c) 1997-2016 The PHP GroupZend Engine v2.6.0, Copyright (c) 1998-2016 Zend Technologies    with the ionCube PHP Loader v4.7.5, Co

[2017-05-09 20:45] amostajo commented on #896
Here is documentation about [OPcache](http://php.net/manual/en/book.opcache.php) for future references.

This issue might be solved by simply calling [opcache_reset](http://php.net/manual/en/function.opcache-reset.php):
[code]

Again, a server issue.

[2017-05-09 20:51] michaeltorbert commented on #896
@amostajo opcache_reset() does fix it, but (and I'm talking about for future updates, not for this particular user) the problem would be where to put it. In the main plugin file doesn't work (and we wouldn't want to reset the cache on every load anyway).
We have aioseop_updates_class.php, but who knows whether that runs soon enough (it depends on where the moved/added file is that's breaking thing

[2017-05-10 16:05] wpsmort commented on #841
This is done.  The inline help and online documentation have been updated and improved.

[2017-05-10 16:05] #841 closed

[2017-05-11 05:17] Vipasha6 commented on #158
Please get it soon... Lots of WordPress lovers who love to use your plugin get benefit from it.

[2017-05-12 22:52] amostajo commented on #896
@michaeltorbert My humble opinion is that this should not be something concerning the plugin code-wise, because the plugin could be updated N times and you will never know how and which files are being cached by users' servers. This time, was `all-in-one-pack.php`, next time and in other server could be one of the module classes. If this is given a priority, the you will have to take in considerat

[2017-05-16 16:54] wpsmort commented on #422
I have confirmed that this was fixed in v2.3.10 under issue #450

[2017-05-16 16:54] #422 closed

[2017-05-16 19:30] michaeltorbert opened #897 "AIOSEOP section on WooCommerce shop page"
It seems as though the AIOSEOP section in the source code only shows up on the shop page if the products CPT is checked. We should probably change this behavior so it always does.

This behavior needs to be verified first.

[2017-05-16 19:40] wpsmort commented on #102
Results of testing with Polylang v2.1.4:

Our XML Sitemap and Sitemap Indexes works fine in the URL settings in Polylang is set to "The language is set from different domains".  However, it does not work if the URL settings in Polylang is set to the following:

1). The language is set from the directory name in pretty permalinks - The XML Sitemap should appear at the sub directory URL but it does

[2017-05-16 20:06] wpsmort commented on #102
Results of testing with qTranslate X v3.4.6.8:

Our XML Sitemap and Sitemap Indexes works fine in the URL settings in qTranslate X is set to either "Use Pre-Path Mode (domain.com/en/)" or "Use Per-Domain mode".  However, it does not work if the URL settings in qTranslate X is set to the following:

1). Use Query Mode (domain.com?lang=en) - With this setting we get a 404 (Not Found) for the XSL sty

[2017-05-16 21:42] wpsmort opened #898 "Strip out oEmbed videos from auto-generated descriptions"
When a video is embedded in the content of a page or post using oEmbed, the video URL shows up in the auto-generated SEO and OG descriptions.  oEmbed URLs need to be stripped out of auto generated descriptions.  See screenshot.

<img width="837" alt="screen shot 2017-05-16 at 5 42 07 pm" src="https://cloud.githubusercontent.com/assets/17548525/26129645/1663fb26-3a5f-11e7-8db9-185ee9847d91.png">

[2017-05-16 21:47] wpsmort opened #899 "Non-breaking spaces appearing in auto-generated descriptions"
When a non-breaking space is left at the end of content it shows up in the auto generated SEO and OG descriptions in the source code like this -

`<meta name="description"  content="This is my post content. This content ends here. &nbsp;" />`

[2017-05-16 21:57] wpsmort commented on #765
I tested every possible combination of content and found a couple of problems.  I opened new issues for these - #898 and #899

[2017-05-16 21:57] #765 closed

[2017-05-16 21:59] wpsmort commented on #807
I recommend we remove our help icon and instead use the WordPress dashicon here - https://developer.wordpress.org/resource/dashicons/#editor-help

[2017-05-16 22:17] wpsmort commented on #792
Rather than move the icons, I have added a CSS class to the translation text and added a margin to provide space between the text and the icons.

[2017-05-16 22:17] #792 closed

[2017-05-16 22:30] wpsmort commented on #897
@michaeltorbert I have confirmed this behavior.  We only output on the shop page if the products CPT is checked.

[2017-05-18 13:16] michaeltorbert opened #900 "Testing with WordPress 4.8"
https://core.trac.wordpress.org/milestone/4.8
http://www.wpbeginner.com/news/whats-coming-in-wordpress-4-8-features-and-screenshots/

[2017-05-18 23:06] amostajo commented on #899
@wpsmort ready for review.

I have added a generic filter for head `meta` values, maybe we can use this in the future for the likes of og:descriptions and such.

Regards,

[2017-05-18 23:09] amostajo commented on #898
Will add fixes to the pull-request of #899.

[2017-05-18 23:33] amostajo commented on #898
@wpsmort I have added the rule so it strips out any url placed.
This will strip out oEmbed, or any other url not filtered by stripping tags.
Your thoughts?

[2017-05-18 23:44] amostajo commented on #899
Seems like HTML entities are allowed in meta descriptions ([read here](https://webmasters.stackexchange.com/questions/76522/are-html-encoded-symbols-allowed-in-meta-description)). So I changed my PR so it only removes `&nbsp;` for the time being.

[2017-05-22 16:34] michaeltorbert opened #902 ""Edit SEO" in admin bar shows same post ID no matter the actual post."
Reported by energytherapy.biz via email.
I've logged in and confirmed the issue on their site, but am unable to reproduce it elsewhere. I'm creating a clone of their site for testing.

[2017-05-22 16:43] wpsmort commented on #899
@amostajo I tested this and I am still getting an &nbsp; on the end of my og:description. See screenshot.

<img width="983" alt="screen shot 2017-05-22 at 12 41 42 pm" src="https://cloud.githubusercontent.com/assets/17548525/26319239/335de43a-3eec-11e7-86e7-dd903f435fef.png">

[2017-05-22 16:56] wpsmort commented on #898
@amostajo I tested this and it does strip out the URL from the placeholder text in the OG Description field but does not strip it from the og:description and twitter:description in the source code.  See screenshot.

<img width="1195" alt="screen shot 2017-05-22 at 12 55 51 pm" src="https://cloud.githubusercontent.com/assets/17548525/26319710/0f2039c2-3eee-11e7-889a-5b8ab6a0fb67.png">

[2017-05-22 18:04] amostajo commented on #899
@wpsmort I added this already when I was working on issue #859; I have moved my changes to this pull-request so everything is related.

Please test again.

[2017-05-22 18:22] amostajo commented on #859
@wpsmort Added a small fix so placeholder reflects what is set on settings.

Please review.

[2017-05-22 18:29] wpsmort commented on #899
@amostajo I have tested this and it works for posts.

I tested with WooCommerce products and found that it does not work if your Product Short Description field has a non-breaking space at the end.  See screenshot.

<img width="902" alt="screen shot 2017-05-22 at 2 25 50 pm" src="https://cloud.githubusercontent.com/assets/17548525/26322827/a616ebe4-3efa-11e7-9bd8-c1d1b811d79a.png">

This affects b

[2017-05-22 18:34] wpsmort commented on #898
This is tested and is good.  This is ready for a code review.

[2017-05-22 19:19] wpsmort commented on #899
@amostajo I have confirmed that this also affects Post Excerpts where there is a non-breaking space after the excerpt.

[2017-05-22 19:28] wpsmort commented on #859
This is tested and is good.  It is ready for a code review.

[2017-05-22 20:13] michaeltorbert commented on #902
The theme creates a query improperly, so to fix the URL I'm changing how we get the post info.

For testing, first verify the problem exists with the existing theme and plugins installed (the various woocommerce plugins have to be installed for the theme to work). The "Edit SEO" post should link to the same URL (look at the post ID) for different posts/pages.
Then verify that this commit in the is

[2017-05-22 20:42] amostajo commented on #899
It appears that this only affects placeholders and snippets. Filter is applied to the meta correctly.

[2017-05-22 21:01] wpsmort commented on #902
I have tested this and confirmed that it fixes the problem on the customer's site and does not break anything with regards to a normal theme.

[2017-05-22 21:01] #902 closed

[2017-05-22 23:57] amostajo commented on #899
@wpsmort Fixed. I have refactored my code so it matches existing filters.

Proceed with final review, hopefully this is the last.

[2017-05-23 17:20] alichakery opened #905 "Conflict with Woocommerce Errors"
Today I noticed that after installing AIOSEO Woocommerce errors do not show any more.

For example in MyAccount login page if you leave Login/Password empty and click on login button, the page would only gets reloaded and no error appears.

My site details :

WP: 4.7.5
WooC: 3.0.7
AIOSEO: 2.3.12.5
Webserver: LiteSpeed
PHP: 5.6

thank you

[2017-05-23 17:35] wpsmort opened #906 "Use noindex for paginated pages/posts is being applied to archives"
The Use noindex for paginated pages/posts option should only apply to posts and pages, but it's being applied incorrectly to categories, tags and other archives.

Need to test to see if this is happening for Use nofollow for paginated pages/posts and Remove Descriptions For Paginated Pages as well.

The code is a jumbled mess and needs to be cleaned up.  We also need to improve the filter hooks an

[2017-05-23 17:46] michaeltorbert commented on #905
If you're referring to the "Error: Username is required" message, I get that on my test site with both WooCommerce and AIOSEOP active.

[2017-05-23 19:07] wpsmort commented on #706
Here's what we currently output:
[code]

[2017-05-23 20:39] wpsmort commented on #906
I have tested this and confirmed that all three settings apply to all paginated content including pages, posts, CPTs, blog page, category, tag, taxonomy, date and author archives.

The three settings should only apply to pages, posts and CPTs.   They should not apply to archives.

We need to make the following changes:

1). Change the behavior of the three settings so they only apply to pages, pos

[2017-05-23 21:40] wpsmort commented on #905
I cannot reproduce the specific problem reported with the My account login page. I had no issues with generating errors in WooCommerce when All in One SEO Pack is active.  I could generate errors on the Account Details page by not completing the form correctly.

[2017-05-23 22:03] arnaudbroes commented on #905
Same here:
![woocommerce error_censored](https://cloud.githubusercontent.com/assets/18156697/26378352/73ae49de-4014-11e7-9f5d-e6633cad9cb1.jpg)

[2017-05-23 22:07] alichakery commented on #905
Maybe its a conflict with the theme but when I disable AIOSEO errors are shown.

I also found a similar report which is not exactly like mine :
https://wordpress.org/support/topic/woocommerce-account-not-showing-messages/

I am using Genesis Theme with Envy child theme.

[2017-05-24 16:39] arnaudbroes commented on #905
@alichakery
Are you able to provide me with the .zip file of the Envy theme?
We've already got Genenis but we also need Envy to find out whether the theme is causing issues.
Please send it to me at abroes@semperfiwebdesign.

[2017-05-24 16:49] alichakery commented on #905
Yes sure.

But I am using a very customized version of envy. And the only thing that I forgot to mention is that I am using cloudflare and a plugin called woocommerce categories as subdomain.

I will send you my theme as soon as I get home.

Thank you

[2017-05-24 17:46] michaeltorbert commented on #905
@alichakery

Does the problem go away if you switch to the default theme (Twenty Seventeen)?

[2017-05-24 20:43] arnaudbroes commented on #905
@alichakery
I tested this with the latest unmodified build of the Envy theme that I received from Jon Baratt (developer) and it caused no issues.
You also stated on the free forum (https://goo.gl/91f5lR) that you already tested this by deactivating all plugins besides WooCommerce and All in One SEO Pack, so there's nothing going there as well.
The only viable explanation is that your customization

[2017-05-24 20:43] #905 closed

[2017-05-25 16:31] arnaudbroes opened #907 "Approve waiting strings for the Chinese locale"
Hi Dawa
Would you be so kind to check and approve these Fuzzy and Waiting strings?
https://translate.wordpress.org/locale/zh-cn/default/wp-plugins/all-in-one-seo-pack
Much appreciated. :-)

[2017-05-28 08:20] arnaudbroes opened #908 "Snippet doesn't always display entered permalink"
I've seen this happening a couple of times, not sure whether this is OK.

Correct behaviour looks like this:

![image](https://cloud.githubusercontent.com/assets/18156697/26527212/f4f8e076-438e-11e7-995b-77e1b8a51ae6.png)

--------------------------------------------------------------------------------------------------
Yet most non-published articles are currently not displaying the permalink in

[2017-05-30 14:58] arnaudbroes opened #909 "Possible duplicate function with moved PHPDoc block"
Noticed we have two functions doing the exact same thing:
![image](https://cloud.githubusercontent.com/assets/18156697/26589602/b9f8e2d4-4558-11e7-850d-15315defac86.png)

Originally only the xml_string_to_array function existed. Later the html_string_to_array function was added and it seems like the PHPDoc block from xml_string_to_array got moved to html_string_to_array.

[2017-05-30 14:59] michaeltorbert commented on #909
At a glance... looks like they're used for different purposes, one for html strings and one for xml strings... but that in practice the same code is able to be used for both.

So either a) we could combine them into one or b) leave them as separate in case in the future one needs something the other doesn't

[2017-05-30 17:20] #859 closed

[2017-05-30 18:07] wpsmort commented on #899
@amostajo I have updated PR #901 with the results of my latest testing.

[2017-05-30 19:39] wpsmort opened #910 "Manually entered HTML markup is not stripped from OG description"
When you enter HTML markup in the OG Description field on a post or page, the markup is output to the meta tag in the source code.

This was identified whilst testing PR's #839 and #901.

Here is the HTML markup I used in the OG Description field:

[code]

Here's a screenshot of how it looks in PR #839, notice how the meta description tag is correct:

<img width="1286" alt="screen shot 2017-05-30

[2017-05-31 14:50] arnaudbroes opened #911 "Standalone comment block should probably be merged"
This standalone comment block should probably be merged with either the function above or below it.
I'm not sure to which one it applies.

Lines 146-149 in meta_import.php.

[code]

[2017-05-31 17:36] arnaudbroes commented on #909
I've moved the PHPDoc back from html_string_to_array because I'm sure this belongs to the xml_string_to_array function.

[2017-05-31 20:12] #864 closed

[2017-05-31 20:20] wpsmort opened #913 "Performance Module - Remove Check for Updates button"
On the Performance screen in the System Status box is a Check for updates button which we can remove.

<img width="1250" alt="screen shot 2017-05-31 at 4 04 50 pm" src="https://cloud.githubusercontent.com/assets/17548525/26652190/0d1b5ae0-461d-11e7-9110-e537b66d8758.png">

[2017-05-31 20:38] #899 closed

[2017-05-31 20:42] wpsmort opened #914 "Single blank space in og:description when non-breaking space it present"
This relates to #901.  Whilst testing that PR, I found that when you have an excerpt that ends with a non-breaking space (&nbsp;) then the non-breaking space is stripped but replaced with a single blank space.  I notified @amostajo about this so he could investigate.

PR #901 has now been closed and merged into the development branch hence this new issue which will require a new PR.

[2017-05-31 20:44] #97 closed

[2017-05-31 20:47] #837 closed

[2017-05-31 20:51] #680 closed

[2017-05-31 20:55] #120 closed

[2017-05-31 20:57] #254 closed

[2017-05-31 21:01] #253 closed

[2017-05-31 23:28] amostajo commented on #910
@wpsmort ready for your testing.

[2017-05-31 23:49] amostajo commented on #914
@wpsmort please test this.

[2017-06-01 02:05] amostajo commented on #706
@wpsmort There is no individual page for each activity entry...

BuddyPress creates a page called "Activity", here is where you can edit SEO as you would normally do for any page.

So it is a bit confusing what it is requested for this issue.

[2017-06-01 13:51] wpsmort commented on #914
This is tested and is fixed.  It is ready for a code review - PR #915

[2017-06-01 14:00] wpsmort commented on #910
@michaeltorbert This is tested and is good.  The only issue I see is that we are stripping the link text, when we should be only stripping the link HTML markup.  For example,

This markup gets removed from the og:description meta tag:
<a href="https://google.com/" target="_blank">Link text</a>

When we should really just strip the HTML and leave the text in between the anchor tags.

I suggest that

[2017-06-01 14:15] michaeltorbert commented on #910
@wpsmort Agreed.

[2017-06-01 14:16] #910 closed

[2017-06-01 14:16] #914 closed

[2017-06-01 14:22] wpsmort commented on #706
@amostajo So there are three things we'd like to achieve here:

1. Improve the title tag that we're outputting for activity
For the title tag, is it possible to include the member name? i.e. Activity by Steve Mortiboy
Is it also possible to include the group name (if the activity is in a group)? i.e. Activity by Steve Mortiboy in Support Group

2. Output a meta description when Autogenerate Descri

[2017-06-01 14:24] #898 closed

[2017-06-01 16:45] wpsmort opened #916 "Manually entered links are stripped from descriptions"
This is related to #910

When you manually enter a link in the SEO Description or OG Description fields, the HTML and link text is stripped.  We should only strip the HTML, not the link text.  For example:

`<a href="https://google.com/" target="_blank">Link text</a>`

should become:

Link text

[2017-06-01 17:02] #672 closed

[2017-06-01 17:48] wpsmort opened #918 "Fatal error: all-in-one-seo-pack/admin/aioseop_module_class.php on line 506"
Reported here - https://wordpress.org/support/topic/fatal-error-all-in-one-seo-packadminaioseop_module_class-php-on-line-506/

This was reported immediately after the release of v2.3.13.

[2017-06-01 18:12] wpsmort commented on #918
This only affects users on PHP v5.4 and earlier.  When testing with PHP v5.5 and later, no fatal error was produced.

[2017-06-01 18:13] wpsmort commented on #918
To reproduce, check the first three boxes in Bad Bot Blocker and then save.  Visiting any page on the site will generate the fatal error.

[2017-06-01 18:14] wpsmort commented on #918
This was introduced by the commit in #680.

[2017-06-01 18:16] michaeltorbert commented on #918
https://secure.php.net/manual/en/function.empty.php

This was broken in #680 from @stanislavsa

[2017-06-01 18:40] #918 closed

[2017-06-01 20:36] davidhyland opened #920 "add %post_date% post title format"
Using your plugin for the first time having switched from Yoast as it's been getting rather bloaty. Love the simplicity but I would love to see an option for adding %post_date% as a post title format.

More specifically separate %post_year% and %post_month% tags would be awesome!

Thanks dude

[2017-06-01 21:57] michaeltorbert commented on #803
We can add "Front Page Displays" to the list of confusing strings

[2017-06-01 22:20] michaeltorbert opened #921 "Track Outbound Links doesn't appear to be functioning"
This can be confirmed on our own sites where no outbound links show up since about April or May of 2014.

We should have an event category "Outbound Links" with the action being the URL in google analytics, but it's not there.

https://support.google.com/analytics/answer/1136920?hl=en

[2017-06-02 12:50] michaeltorbert opened #922 "Edit SEO url is at the bottom of every page on the site when logged in"
Reported here:
https://wordpress.org/support/topic/error-after-update-99/
https://wordpress.org/support/topic/odd-edit-url-on-pages-when-logged-in/
https://semperplugins.com/support/troubleshooting-all-in-one-seo-pack-pro/line-of-code-appears-below-the-footer
https://wordpress.org/support/topic/bug-in-footer/

[2017-06-02 13:53] michaeltorbert commented on #61
<img width="1418" alt="screen shot 2017-06-02 at 9 52 25 am" src="https://cloud.githubusercontent.com/assets/17364998/26728762/5450eef4-4779-11e7-8341-a3293b2e6a42.png">

[2017-06-02 15:05] michaeltorbert opened #923 "Illegal string offset aiosp_can"
PHP Notice:  Uninitialized string offset: 0 in all-in-one-seo-pack/aioseop_class.php on line 3613
PHP Warning:  Illegal string offset 'aiosp_can' in all-in-one-seo-pack/aioseop_class.php on line 3613

This may require having a really really old (even <2.0?) version installed, then updating in order to reproduce.

[2017-06-02 15:10] michaeltorbert commented on #922
This was broken in #902 and should be fixed now

[2017-06-02 15:12] michaeltorbert commented on #923
Actually, to reproduce it, it looks like you need to manually delete the options, then when they're created again they aren't fully redone... this isn't much of an issue except it looks like we're not handling no value very well.

[2017-06-02 15:42] DerrickAm opened #924 "Fatal Error - www.sherrikayaks.com"
Our client's website is now showing...

Warning: require_once(/home/sherrik/public_html/wp-content/plugins/all-in-one-seo-pack/inc/aioseop_functions.php): failed to open stream: No such file or directory in /home/sherrik/public_html/wp-content/plugins/all-in-one-seo-pack/all_in_one_seo_pack.php on line 381

Fatal error: require_once(): Failed opening required '/home/sherrik/public_html/wp-content/

[2017-06-02 16:30] michaeltorbert commented on #924
@DerrickAm This is almost certainly a server caching issue.

[2017-06-02 16:30] #924 closed

[2017-06-02 16:56] wpsmort commented on #922
This is tested and confirmed that it fixes the bug.

[2017-06-02 16:56] #922 closed

[2017-06-02 17:34] RUSxDeviL1979 opened #926 "All in One SEO Pack"
Hello everyone I want to share one bug after updating plugin All in One SEO Pack appeared error https://bi-glass.ru/wp-admin/post.php?post=1271&action=edit it is only visible in the admin panel if you go to the site it is not visible
---------------------------------------------------

всем привет спешу поделиться одним багом после обновления плагина All in One SEO Pack появилась ошибка https://bi

[2017-06-02 17:39] michaeltorbert commented on #926
@RUSxDeviL1979 This is fixed in 2.3.13.2 which was released today.

[2017-06-02 17:39] #926 closed

[2017-06-02 17:48] RUSxDeviL1979 commented on #926
Спасибо ))

[2017-06-02 20:51] amostajo commented on #916
@wpsmort ready for review.

[2017-06-02 23:47] amostajo commented on #706
As discussed with @wpsmort, we will extend this issue so activities support full AIOSEOP metabox features.

[2017-06-04 11:42] fahmi182 opened #928 "Double quotes not escape in meta descriptions"
Hi, i'm your member aio PRO, our problem is, double quotes in meta description not escape, that cause error our html format, can you check please?

Thanks!

[2017-06-04 17:43] wpsmort commented on #928
Reported here - https://semperplugins.com/support/troubleshooting-all-in-one-seo-pack-pro/meta-descriptions-double-quotes-not-escape/#p6643

[2017-06-06 16:21] wpsmort commented on #593
Reported again here - https://semperplugins.com/support/troubleshooting-all-in-one-seo-pack-pro/meta-descriptions-double-quotes-not-escape/#p6650

[2017-06-06 16:34] wpsmort commented on #928
Duplicate of #593

[2017-06-06 16:34] #928 closed

[2017-06-06 16:55] wpsmort commented on #921
The documentation provided by Google here https://support.google.com/analytics/answer/1136920?hl=en requires the onclick attribute is added to all links which we can't do.  I believe that we came up with a different solution using JavaScript when this feature was implemented.  It's possible that this JavaScript no longer does what we think it should.

However, theres code called Autotrack which we

[2017-06-06 16:57] wpsmort commented on #921
Here's the current JavaScript we output for outbound link tracking.   @amostajo is going to review this and see if there's something wrong with this and see if Autotrack will work instead.

[code]

[2017-06-07 00:27] amostajo commented on #593
@wpsmort I am not being able to reproduce the error. Not sure if PR #901 solved it, cus it decodes html entities.
I tried this with multiple scenarios, double quotes in excerpt, content, as html entity... and aioseop supports them pretty well.

[2017-06-07 00:38] amostajo commented on #921
@wpsmort that piece of code is enabled only if two settings are on.., `aiosp_ga_advanced_options` and `aiosp_ga_track_outbound_links`, I looked at the plugin settings and wasn't able to find them, do you know where I can activate them?

[2017-06-07 08:06] arnaudbroes commented on #593
I'll check this.

[2017-06-07 08:27] arnaudbroes commented on #593
I'm still getting this with the latest version of Free and Pro.
Tested with one post with a manually added description and one post with a auto-generated description.
view-source:http://wordpress-72523-276765.cloudwaysapps.com/
PM me on Slack @amostajo if you want credentials to the test site. :-)

[2017-06-07 10:49] michaeltorbert opened #929 "OG tag escaping"
"After updating All in One SEO Pack to 2.3.13.2 on the latest WordPress 4.7.5, HTML page is broke with the unescaped OGP tags.

This symptom only occurs when blockquote tags of the contents contain “>” or “>” characters.

I confirmed the bug with a staging WP server by disabling all other plug-ins. Thus I guess All in One SEO Pack 2.3.13.2 is the cause of the bug.

Reverting it to 2.3.12.5 fixes t

[2017-06-07 10:52] michaeltorbert commented on #929
Dupe of #593

[2017-06-07 10:52] #929 closed

[2017-06-07 10:53] michaeltorbert commented on #593
Reported again here:

https://wordpress.org/support/topic/ogp-tags-in-2-3-13-2-is-unescaped/

[2017-06-07 14:23] wpsmort commented on #593
@amostajo There are two problems here:

The first only affects the og:description and twitter:description.  In the screenshot provided by @arnaudbroes above, you can see that we output " in the meta tag which breaks the HTML because you can't have double quotes inside content="".  This is reflected by the color of the text where the HTML tag has been closed by the ".

The second problem is that we

[2017-06-07 14:41] wpsmort commented on #921
@amostajo You can find both options under All in One SEO > General Settings > Google Settings.  The first is Advanced Analytics Options which is a radial.  Once this is set to Enabled you'll see the second which is Track Outbound Links.

https://semperplugins.com/documentation/advanced-google-analytics-settings/

[2017-06-07 14:50] wpsmort commented on #916
This is tested and is good.  PR #927 is ready for code review.

[2017-06-08 14:26] michaeltorbert commented on #593
Reported again here: https://wordpress.org/support/topic/glitch-in-social-media-settings-snippet

[2017-06-08 15:13] wpsmort commented on #593
I tested PR #930 and found two bugs.  I updated the PR with the details.

[2017-06-08 18:18] wpsmort commented on #593
@amostajo I tested PR #930 and found one issue I updated the PR with the details.

[2017-06-09 16:55] wpsmort commented on #593
This is tested and now works fine.  I've tested with PHP versions from 5.2 to 7.1 and all work.

PR #930 is now ready for code review.

[2017-06-09 18:51] wpsmort opened #932 "Broken filter in version 2.3.13"
Reported by Marco Ricca by email

Marco uses the filter below that we provided him back in 2014.  This filter adds the comment number to descriptions for paginated comment pages.  It's now outputting the comment number twice.  This broke in v2.3.13 and is probably related to #899.

[code]

[2017-06-09 20:08] michaeltorbert commented on #932
This was most likely adding the extra apply_filter aioseop_description in aioseop_class.php:2571

Since the filter is applied twice, part of it gets repeated.

[2017-06-12 13:51] wpsmort commented on #260
Reported again here - https://wordpress.org/support/topic/open-graph-featured-image-is-wrong-size/

[2017-06-12 14:01] Garconis commented on #260
For now, I added:

[code]

As documented here: https://semperplugins.com/documentation/opengraph-image-size/

But this should be fixed to at least offer an option to set the size, since having it use the "Large" size isn't ideal, nor expected.

[2017-06-13 20:13] wpsmort commented on #921
This PR #931 adds a number of new options to the Google Settings section.  We discussed on Slack whether these should be included or be held back.  I believe they should be held and just the option for Track Outbound Links should be included for now.

[2017-06-14 13:31] wpsmort opened #934 "Add permalink clean up feature"
Requested by email from Daniel Violante.

Add an option that cleans up permalinks to redirect anything with URL variables to the base URL.

[2017-06-14 16:20] wpsmort commented on #119
Requested again here - https://semperplugins.com/support/optimizing-all-in-one-seo-pack-pro/exporter-module/#p6688#spEditFormAnchor

[2017-06-19 21:39] michaeltorbert opened #935 "Compatibility with PHP 7.1.x"
This is available in Local by Flywheel, and we should make sure we have full compatibility.

[2017-06-19 21:43] michaeltorbert opened #936 "AMP errors"
Possible AMP errors > 2.3.12.5

Reported here: https://wordpress.org/support/topic/amp-errors-explosion/

[2017-06-25 13:19] michaeltorbert opened #937 "link to XML sitemap in robots.txt isn't https"
https://semperplugins.com/robots.txt and https://semperfiwebdesign.com/robots.txt are http, although strangely https://michaeltorbert.com/robots.txt is https

[2017-06-25 13:20] michaeltorbert commented on #937
Also, the one at semperplugins doesn't link to the video sitemap

[2017-06-27 16:03] michaeltorbert commented on #921
@wpsmort Should this still be assigned to me for code review or is it back to @amostajo?

[2017-06-27 17:33] michaeltorbert opened #938 "Add Premium SEO Pack to importer"
https://codecanyon.net/item/premium-seo-pack-wordpress-plugin/6109437

[2017-06-28 14:27] michaeltorbert opened #939 "Make it easy to add to composer"
Shown here: http://bit.ly/2s1xaSU

[2017-06-28 15:08] michaeltorbert opened #940 "Sitemap.xml Additional Pages break with no date entered"
reported here: https://wordpress.org/support/topic/sitemap-xml-additional-pages/
_ not manually entered a Last Modified date that the options stored in the db ended up empty.

In the aioseop_sitemap.xml the date conversion around line 2272 when used with an empty date string returns 1970-01-01. We had entered a lot of URLs before I released so I implemented a temporary solution adding a basic chec

[2017-06-28 15:59] wpsmort opened #941 "XML Sitemap - Ensure compatibility with Polylang plugin"
This is similar to what we did under #687 for compatibility with WPML.
Reported here - https://wordpress.org/support/topic/how-to-seo-multilingual-website-with-polylang-plugin/

When running Polylang for translating content, the XML Sitemap results in a 404 Page Not Found error for languages other than the default language.

Polylang has four options for handling URL's for translations, these are

[2017-06-29 19:15] #593 closed

[2017-06-29 19:27] wpsmort commented on #921
@amostajo I have updated PR #931 with some comments.

[2017-06-29 19:38] #916 closed

[2017-06-29 19:58] michaeltorbert commented on #913
For testing, just copy and overwrite modules/aioseop_performance.php to Pro locally on your computer/server.

[2017-06-29 20:15] wpsmort commented on #913
This is tested and is good.

[2017-06-29 20:15] #913 closed

[2017-06-29 20:23] michaeltorbert commented on #880
The problem with this is that we don't have a 1:1 relationship here...
Our social meta is serialized and stored in a single field.

[2017-06-29 20:29] michaeltorbert commented on #705
Can this all be done with filters? If so, should this be a paid add-on?

[2017-06-29 20:36] michaeltorbert commented on #895
Closed. Moved to Pro.

[2017-06-29 20:36] #895 closed

[2017-06-29 20:43] michaeltorbert commented on #788
Notes: WooCommerce has "catalog, search, catalog+search, hidden" (as opposed to the WP public, private, password protected)

[2017-06-29 20:48] michaeltorbert commented on #788
Closing as this is a pro feature.

[2017-06-29 20:48] #788 closed

[2017-06-29 20:51] michaeltorbert commented on #746
My recommendation is that this is a filter hook.

[2017-06-30 14:59] michaeltorbert opened #942 "Add API for custom title format tags"
Requested here: https://wordpress.org/support/topic/how-can-i-make-secondary-title-searchable

Something like this https://pastebin.com/jt5m5PMm
but maybe aioseop_title_format

It could either be a filter hook or a registration function...

Example filter hook:

add_filter( 'aioseop_format_tags', 'custom_format_tags', 10, 1 );

function custom_format_tags( $tagslist ){
$tagslist[] = 'post_year';
}

[2017-06-30 18:05] nextpulse commented on #936
Not just AMP pages. I am seeing this on regular pages too.

[2017-06-30 19:17] michaeltorbert commented on #936
@nextpulse What are you seeing?

[2017-06-30 20:31] nextpulse commented on #936
Example:

For FB og and twitter description:

2.3.12.5 :
"Richard Claxton &quot;Dick&quot; Gregory ....

2.3.13.2:
"Richard Claxton "Dick" Gregory....

[2017-07-01 15:48] H-K-P opened #943 "Additional Character Stops Facebook Excerpt"
@hallsofmontezuma

Thanks for your reply on WP.org

The known quote issue also extends to an open square bracket "**[**"
An open square bracket ends a Facebook excerpt as does an **"**
I have not tested other characters.

Regards, Angus

[2017-07-01 16:02] michaeltorbert commented on #943
@H-K-P To what issue are you referring?

[2017-07-01 16:21] H-K-P commented on #943
Hi Michael,
About 3 weeks ago you wrote on your plugin Wordpress.org forum:
_"As for the quote issue, thank you for reporting it. We’re aware of the problem and are currently working on a fix. The best way to report a bug is to open a Github issue https://github.com/semperfiwebdesign/all-in-one-seo-pack/issues/new"_
Sorry for the confusion - i was just adding that I found that both " and [  will t

[2017-07-01 21:32] michaeltorbert commented on #943
I have no idea what you're talking about as we have hundreds of open issues. Do you have a link to the issue or the wp.org thread?

[2017-07-01 23:26] H-K-P commented on #943
Thank you kind sir.  Sorry for the trouble.
https://wordpress.org/support/topic/glitch-in-social-media-settings-snippet/  refers.

[2017-07-03 14:55] michaeltorbert opened #944 "Remove schema for WooCommerce product pages"
This is reported and requested fairly often.
WooCommerce adds its own product info, so ours conflicts. We give (pro) users some code using our API to remove it, but perhaps we should have it built into the plugin?

This may be something we just want in the WooCommerce upgraded functionality for Pro.

I know we have some other schema stuff we're working on, but this is something that could be easil

[2017-07-03 16:52] michaeltorbert commented on #943
This may be related to #593
@wpsmort Can you verify this issue in 2.3.13 and see if https://github.com/semperfiwebdesign/all-in-one-seo-pack/commit/3f579ce3cb1f456d8d0d93ccefccb678751906f1 fixed it?

[2017-07-03 16:57] michaeltorbert commented on #936
@wpsmort @amostajo Is this related to #929 and/or #593
If so, was it fixed in https://github.com/semperfiwebdesign/all-in-one-seo-pack/commit/3f579ce3cb1f456d8d0d93ccefccb678751906f1 ?

[2017-07-03 20:26] amostajo commented on #936
@michaeltorbert The latest PRs I have developed convert any equivalent and charcode of double quotes, single quote or similar into html entities enabled for in searches and social tags.

[2017-07-03 20:35] amostajo commented on #939
Why would you want to add the entire plugin to packagist? You should only include the `composer.json` file to handle dependencies.
Composer does not work as a repository, all packages downloaded in a project are stored in a vendor folder located at the root of the project, makes no sense to register the entire plugin as a package because (1) there will be no way to load files properly into wordpre

[2017-07-03 20:37] #939 closed

[2017-07-03 20:44] michaeltorbert commented on #936
Closing as this is fixed in the upcoming release.

[2017-07-03 20:44] #936 closed

[2017-07-04 02:34] michaeltorbert opened #945 "Compressed sitemaps return 404 when using NGINX"
Using NGINX, compressed sitemaps return a 404.

Can something be changed in the rewrite rules to support this?
https://semperplugins.com/documentation/all-in-one-seo-pack-xml-sitemap-404-nginx/

Otherwise, we may want to consider having compression off by default.

[2017-07-05 15:50] michaeltorbert opened #947 "Pro modules should be added via filter"
1) In aioseop_feature_manager.php line ~63, we have an if (AIOSEOPPRO) which should be replaced by filter hook.

2) Also in all_in_one_seo_pack.php we should do this for line 188/199 $aioseop_module_list

[2017-07-05 15:56] wpsmort opened #948 "Pagination not applied to custom canonical URLs"
Reported here - https://wordpress.org/support/topic/wrong-canonical-url-at-certain-paginations-pages/

If you have Enable Custom Canonical URLs checked and set a custom canonical URL for a post with paginated content, the custom canonical URL appears without the page number on the end.

For example:

First page - link rel="canonical" href="http://aioseop.dev/my-custom-canonical-url/"
Second page -

[2017-07-06 09:01] hadingrh commented on #948
Thanks to report here @wpsmort

It's a serious issue for a web using custom canonicals. Because I experienced a drop rankings for some targeting articles, that other URL used canonical pointed those articles.

I update the issue here.
Seems that the plugin use a wrong canonical, if the the first position on a certain page having a custom canonical. It will not happened if the article that having a

[2017-07-06 21:35] wpsmort commented on #943
@michaeltorbert I have confirmed that this is an issue.  It does not get fixed by 3f579ce. Here is the output meta when brackets are included in the title and description:

[code]

You'll notice from the above that the titles are all fine but that the descriptions are missing any text that is wrapped in brackets.

[2017-07-06 22:00] wpsmort opened #949 "Social Meta module - Incorrect encoding of single quotes"
Whilst testing #943 I found that single quotes are also encoded incorrectly.  Here's the output of our meta tags:

[code]

The SEO meta tags are fine but the OG and Twitter meta tags are not encoded correctly.

This was tested with the current live version and with commit 3f579ce from issue #593.

[2017-07-06 22:58] wpsmort commented on #943
I have tested with other special characters and found the exact same issue with < > characters:

[code]

[2017-07-06 23:04] wpsmort opened #950 "Social Meta module - Backslashes are stripped from OG title and description fields"
Whilst testing #943, I found that when you manually enter a title and description in the OG fields that includes backslashes, the backslashes are stripped from those fields and the meta output in the source code.  See screenshots where I typed the exact same text in the SEO fields and the OG fields:

<img width="846" alt="screen shot 2017-07-06 at 7 03 58 pm" src="https://user-images.githubusercon

[2017-07-07 17:07] wpsmort commented on #661
Requested again today by Glenn Gabe by email.

[2017-07-07 18:18] wpsmort commented on #944
I've tested this and confirmed that it is a problem.  We should build this into the plugin so that on products we remove our Schema markup.  I think this should be functionality in Pro.

We should consider what to do once we add the new JSON-LD markup.  If we product better markup that WooCommerce, do we want to offer Pro users the ability to use our markup instead of the markup in WooCommerce.

[2017-07-07 19:37] wpsmort opened #951 "Character counter counts ampersands as 4 characters"
Reported here - https://wordpress.org/support/topic/meta-description-gets-cut-short/

I tested with the same description and whilst the description is only 151 characters, we seem to be treating it as longer.  I believe this is because we're counting the & sign as four characters, i.e. &amp

[2017-07-07 19:51] wpsmort commented on #951
I tested and found that the & sign is actually treated as 4 characters &amp

[2017-07-11 20:58] michaeltorbert opened #954 "Add column for image count to XML Sitemap"
Examples:
<img width="107" alt="screen shot 2017-07-11 at 4 56 35 pm" src="https://user-images.githubusercontent.com/17364998/28090404-2006c330-665a-11e7-82d9-534600e17a84.png">
<img width="872" alt="screen shot 2017-07-11 at 4 59 53 pm" src="https://user-images.githubusercontent.com/17364998/28090471-65741eb8-665a-11e7-8a0f-30640942074b.png">

[2017-07-12 17:11] wpsmort commented on #954
@michaeltorbert I think this is a good idea.  I have opened a similar issue under Pro (https://github.com/semperfiwebdesign/aioseop-pro/issues/275) to add a column for video count.

[2017-07-12 21:02] wpsmort opened #957 "Add description format field for categories, tags and custom taxonomies"
Requested by Sergey by email on 7/11/2017.

Add a Description Format field where users can control the format for meta descriptions used on categories, tags and custom taxonomies.

[2017-07-13 15:31] michaeltorbert commented on #957
This is actually more complicated than it seems. The title of this issue is for taxonomies, but I assume we'd want to do it for post types as well.

The main problem with this is our current two settings we have for autogenerating descriptions, and how to move from that to this.
This would make those obsolete, and we'd need to migrate those settings to this as appropriate.

So for instance, if som

[2017-07-13 18:26] michaeltorbert commented on #61
Specs:

1) Should give 3 options:
a) link to rate 5 stars on .org
b) Not now/remind me later
c) already rated

2) Explanation of why: keep developing free software, etc

3) free version only

4) Should be in its own class/file

*Use code from other plugins as a guide if needed.

[2017-07-13 18:59] wpsmort opened #958 "meta description hook isn't always overriding"
The aioseop_description filter hook should be the last thing that runs for the meta description; it should override everything else.

We had %description% - %cf_short_description% as the description template, and using the filter hook as:

add_filter( 'aioseop_description', 'change_description', 10, 2 );

function change_description( $desc ){

	if( ! is_singular( 'movies' ) ){
		return $desc;
	}

[2017-07-13 19:00] wpsmort commented on #958
We need to see if this is new in the last few versions. We made some changes to the aioseop_description filter hook in 2.3.13.

[2017-07-13 19:21] michaeltorbert commented on #958
This means the filter gets applied twice...

[2017-07-13 20:19] wpsmort opened #959 "ACF macro is being output in titles and meta descriptions"
When you use the ACF macro (https://semperplugins.com/documentation/advanced-custom-fields-integration-with-title-format-fields/) in the Title Format field or Description Format field then we output the macro when the custom field is empty.

For example, if you have an ACF custom field called short_description and you use the macro %cf_short_description% in either the Title Format field or Descrip

[2017-07-13 20:22] michaeltorbert commented on #958
This is a probable dupe of #932

[2017-07-13 21:05] wpsmort opened #960 "Meta descriptions aren't output when using ACF macro in Description Format"
When you use the ACF macro (https://semperplugins.com/documentation/advanced-custom-fields-integration-with-title-format-fields/) in the Description Format field then no meta description is output unless content exists on the post and Autogenerate Descriptions is enabled.

To reproduce this, create a custom post type and then use Advanced Custom Fields to create a field called Custom Description.

[2017-07-13 21:08] #958 closed

[2017-07-13 21:09] #932 closed

[2017-07-14 05:52] contactashish13 commented on #954
@michaeltorbert Just to clarify, you need a column to show in the post listing which should display the number of images. The images should include the images in the post content + the featured image, basically all images after the_content filter is applied. Is that correct?

![image](https://user-images.githubusercontent.com/12953439/28199775-dec918c2-6885-11e7-80fe-7dae4f3ad23b.png)

[2017-07-14 12:56] michaeltorbert opened #961 "Single apostrophe is changed to two in Doc title"
Reported here: https://wordpress.org/support/topic/july-update-adding-an-extra-to-my-title/ to have broken in 2.3.14

[2017-07-14 13:58] wpsmort commented on #961
@michaeltorbert @amostajo I was able to reproduce this on a brand new site.  The problem is with the %blog_title% part of the title tag. To reproduce this follow these steps:

- Set up a site where the Site Title has an apostrophe, i.e Steve's Test Site
- Activate AIOSEOP v2.3.14 with default config
- Visit any page or post on the site and look at the browser tab, you should see the two apostrophe

[2017-07-14 14:16] michaeltorbert commented on #961
In my testing I just left everything blank but put Michael's site in the site title in WordPress General Settings (not AIOSEOP settings) and it showed up as a quotation mark.

[2017-07-14 19:56] michaeltorbert commented on #961
The problem is that &#039; (which is a single quote) is being checked for in aioseop_class.php:4913

[2017-07-14 21:38] wpsmort commented on #954
@contactashish13 No, this is for the XML Sitemap.  We need a column added to the human readable XML Sitemap that shows the number of images found for each URL.

See screenshot of an XML Sitemap with this image column below:

<img width="1035" alt="screen shot 2017-07-14 at 5 35 08 pm" src="https://user-images.githubusercontent.com/17548525/28231731-04e0b378-68bb-11e7-9989-ef124acdb123.png">

[2017-07-14 23:45] amostajo commented on #961
@michaeltorbert The change is partially fine. But we might need to include the charcode conversion in the preg_replace to support PHP5.2.

See this [commit](https://github.com/amostajo/all-in-one-seo-pack/commit/d0726995241c3e76d16b2fb452c3520621b38c3d) on my fork.

[2017-07-15 09:33] contactashish13 commented on #954
@wpsmort this must sound like a dumb question, but by human readable sitemap are you referring to the tabular structure shown on the browser while accessing the sitemap?

[2017-07-15 13:16] wpsmort commented on #954
@contactashish13 Yes, that is correct. This is not part of the XML format for sitemaps so it should only be part of the human readable sitemap and not part of the XML that gets submitted to search engines.

[2017-07-15 13:26] wpsmort opened #963 "Button is broken on email subscription form"
The button is missing from the form in 2.3.13.2 and 2.3.14.

<img width="622" alt="screen shot 2017-07-15 at 9 24 44 am" src="https://user-images.githubusercontent.com/17548525/28239665-b0a94740-693f-11e7-9769-2a4a3c4d2765.png">

[2017-07-15 13:37] michaeltorbert opened #964 "filter_title only runs on the site title"
Unless I'm missing something, filter_title() (and by extension, html_entity_decode and seo_entity_encode) only runs on the blog title (which is appended by default to post titles), not on the post-specific part of the title.

To reproduce this, make a blog title of something like Bob's website and a post with a title like Bob's post and view the doc title in the source.

<img width="411" alt="scre

[2017-07-15 13:50] wpsmort commented on #963
This originally broke in v2.3.12.1

[2017-07-15 13:51] michaeltorbert opened #965 "&apos; vs #039;"
We're using the former to escape apostrophe's, whereas the single quote seems more common.
Not sure if the information here is outdated: https://stackoverflow.com/questions/2083754/why-shouldnt-apos-be-used-to-escape-single-quotes

Interestingly, WordPress, with no plugins active, escapes the blog title and post title differently.

<img width="496" alt="screen shot 2017-07-15 at 9 48 54 am" src="h

[2017-07-15 14:06] wpsmort commented on #963
@michaeltorbert It looks like it was his commit where the Subscribe button broke https://github.com/semperfiwebdesign/all-in-one-seo-pack/commit/a4a058933a46cb75e4fa2131c8de2d719e307339

[2017-07-15 14:11] wpsmort commented on #963
I believe this is the offending code:

[code]

Removing the PHP code from the input value fixes this.

[2017-07-15 14:17] contactashish13 commented on #954
@wpsmort I'm confused. From what I understand, the browser automatically displays the XML as an HTML. And you want someway to introduce an element in the XML so that it shows in the HTML but not in XML?

[2017-07-15 14:35] contactashish13 commented on #954
@wpsmort actually I think I understand what needs to be done. Ignore my previous message :)

[2017-07-15 15:23] #961 closed

[2017-07-15 15:31] michaeltorbert commented on #963
FYI in 2.3.12.5 it is a bit broken as well.
<img width="635" alt="screen shot 2017-07-15 at 11 31 16 am" src="https://user-images.githubusercontent.com/17364998/28240496-230fb77c-6951-11e7-9817-f19608faa432.png">

[2017-07-15 15:40] michaeltorbert commented on #963
Also, the "Email Address" placeholder is broken.

[2017-07-15 16:59] wpsmort commented on #963
This is tested and is good. Both the placeholder text and the button are present and there are no console errors.

[2017-07-15 17:08] #963 closed

[2017-07-15 17:24] wpsmort opened #968 "&amp;apos;s output in OG meta"
Whilst testing the release for v2.3.14.1 with the fix for issue #961 I found that the OG title and Twitter title have the incorrect character encoding.  See source code below:

[code]

The doc title and og:site_name are fine but the og:title and twitter:title are not.

[2017-07-15 17:29] wpsmort commented on #965
See also the OG meta, as referenced in issue #968

[2017-07-16 00:46] amostajo commented on #968
[PR:970](https://github.com/semperfiwebdesign/all-in-one-seo-pack/pull/970)
Can't seem to replicate issue.

![698](https://user-images.githubusercontent.com/1645908/28243595-e21ab96e-698d-11e7-91f1-63ce022a6723.jpg)

[2017-07-16 00:47] amostajo commented on #965
[PR:970](https://github.com/semperfiwebdesign/all-in-one-seo-pack/pull/970)

[2017-07-16 13:51] sarutsi opened #971 "my wordpress is not working"
my wordpress is not working http://180.180.240.30/wordpress/wordpress/
Warning: require(/var/www/html/wordpress/wordpress/wp-content/themes/CherryFramework/inc/custom-header.php): failed to open stream: No such file or directory in /var/www/html/wordpress/wordpress/wp-content/themes/twentyfourteen/functions.php on line 506

Fatal error: require(): Failed opening required '/var/www/html/wordpress/w

[2017-07-16 13:55] michaeltorbert commented on #971
Closing as a) this has nothing to do with All in One SEO Pack and b) Github isn't a support forum.

[2017-07-16 16:08] wpsmort commented on #965
@amostajo @michaeltorbert I tested PR #970 and found that on Posts only, the og:title and twitter:title are using the character code &#8217; for the auto generated title.  For example:
[code]
All other meta used the character code &#039;

This is the same behavior as v2.3.13.2 so it should not hold up release of this bug fix.

[2017-07-17 05:37] contactashish13 commented on #954
@wpsmort I assume this change is required in both the free and pro versions - the code for displaying the html sitemap is present in both.

[2017-07-17 11:07] michaeltorbert commented on #954
@contactashish13 Development of shared code is done in the free repository. Once we're ready to release, I'll copy it over to the Pro repository. (Not a great system, but it's what we have for now).

[2017-07-18 05:34] contactashish13 commented on #954
@wpsmort PR: https://github.com/semperfiwebdesign/all-in-one-seo-pack/pull/978

[2017-07-18 16:31] wpsmort commented on #954
@contactashish13 I tested PR #978 and got the following warnings:

PHP Warning:  DOMDocument::loadHTML(): Tag figure invalid in Entity, line: 14 in /all-in-one-seo-pack--954/modules/aioseop_sitemap.php on line 2632
PHP Warning:  DOMDocument::loadHTML(): Tag figcaption invalid in Entity, line: 14 in /all-in-one-seo-pack--954/modules/aioseop_sitemap.php on line 2632
PHP Warning:  DOMDocument::loadHT

[2017-07-18 23:08] EkoJr commented on #61
Wanted to provide some screenshots to the update. However, I had a few things I wanted to mention for any feedback needed on this.

* Are there any changes, or a preferred way, to the wording in both the Notice and Footer?
* How many days til the notice pops up?
* Show the days as a whole integer or a float decimal (and how many decimal places?)?
* Currently, in admin notice, if either 3 are selec

[2017-07-19 04:53] contactashish13 commented on #954
@wpsmort I've addressed this. You should not see these warnings now.

[2017-07-19 13:29] wpsmort commented on #73
Requested again here - https://semperplugins.com/support/feature-requests-all-in-one-seo-pack-pro/dublin-core-json-ld-meta/#p6808

[2017-07-19 15:00] wpsmort opened #979 "Hyphens in doc title get converted to apostrophes"
Reported here - https://wordpress.org/support/topic/error-in-title-the-became/

When you use a hyphen in a post title it is displayed as an apostrophe in the doc title.  See screenshot:

<img width="1024" alt="screen shot 2017-07-19 at 10 59 19 am" src="https://user-images.githubusercontent.com/17548525/28373993-765be54a-6c71-11e7-9cfa-52e31c00ae8e.png">

[2017-07-19 15:32] wpsmort commented on #979
@amostajo I tested this and found that in the doc title, og:title and twitter:title the hyphen is encoded as &#039; but in the meta description, og:description and twitter:description it is output as a hyphen -

[2017-07-19 15:35] michaeltorbert commented on #979
The problem is that &#8211 is a dash, not an apostrophe, which we're checking for in aioseop_class.php.

[2017-07-19 16:26] wpsmort commented on #943
I have tested with other special characters and found a similar issue with < > characters:

When text is wrapped in < > characters the text is not output in the doc title, meta description, OG and Twitter descriptions (OG and Twitter titles are fine).  For example: `<greater and less than>` is missing in the source code below:
[code]

This is not an issue if the < > signs are separated by spaces f

[2017-07-19 18:21] #979 closed

[2017-07-19 18:32] wpsmort commented on #979
This is tested and is good.  I tested all of the following special characters:

Exclamation! &quot;Quotes&quot; Hash# Dollar$ Percent% And &amp; Apostrophe&#039; (Parenthesis) Asterisk* Plus+ Comma, Hyphen &#8211; Period. Slash/ Colon: Semicolon; Less&lt; Greater&gt; Equal = Question? At @ [Brackets] Backslash\ Caret^ Underscore_ Grave` {Braces} Pipe | Tilde~

[2017-07-20 13:14] michaeltorbert commented on #61
My feedback:

-I'd remove the number of days... maybe just say "for a while".
-10 days?
-We either need to remove the number of days or be able to determine if we started tracking when they updated or activated. If they've been using it for two years, we certainly don't want to tell them they've been using it for 10 days.
If we do have a number, it should definitely be an integer.
-I'm not sure wh

[2017-07-20 13:16] michaeltorbert commented on #61
Also, https://github.com/EkoJr/all-in-one-seo-pack/commit/25268eed3fdaf723208e5bc4ffff10158e3c4427 adds to aioseop_class.php. We should be extracting code out of the big files and reorganizing/refactoring/etc, not adding to the mess. :)

[2017-07-20 16:04] wpsmort commented on #119
Requested again by email from Ruth

[2017-07-20 20:17] EkoJr commented on #61
Understood. Some of what was applied was for conceptual use, and to present the data.

1-3 Agreed. There's really no benefit to other users. It mainly started off as dev code that got thrown into the mix. I'll also change it to 10 days.

4 Currently, it dismisses the Notification if they go to WP site to rate the plugin, but thinking about it now I should probably prevent dismissing the Notificati

[2017-07-20 20:54] michaeltorbert commented on #61
4. I'm not sure about that. Maybe try taking a survey of what other plugins do? My guess is they all dismiss when clicking to rate.
5. We don't have anything to do that I can think of on deactivation, and I don't think we're likely to ever make an uninstall method.

I'd say we probably want both an admin footer as well as a notice.

[2017-07-20 21:41] EkoJr commented on #61
4. From what I've seen. Most other plugins just dismiss the notification at that point. Probably because there is no way to check if the user did rate the plugin, but I still believe it may help to reserve it til 'Already rated' is clicked.

5. The uninstall method was just a bit of a surprise to see missing. The plugin itself has no need for it, but I thought it was a standard that WP has been tr

[2017-07-20 21:52] michaeltorbert commented on #61
5. I'm not sure why we'd want to have an unused method.

[2017-07-20 22:02] EkoJr commented on #61
The only reason I can think of is to remove the database when the plugin in uninstalled. Other than that, there's no other purpose that I can think.

[2017-07-20 22:37] michaeltorbert commented on #61
We're not going to remove our database entries on uninstall.

[2017-07-20 23:19] EkoJr commented on #61
I understand.

[2017-07-21 16:43] michaeltorbert commented on #595
related to or dupe of #133

[2017-07-21 22:16] wpsmort commented on #954
@contactashish13 Thanks, that fixed those.  I think we should remove the 0 from categories, tags, custom taxonomies, date archives, author archives and any other types of archives where we're not going to be detecting images.

[2017-07-22 00:48] Toast707 opened #986 "Issue when using post title as description"
Hi,

I'm currently trying to get AIO seo to use the post title as the description, but I'm having a bit of difficulty.

I've tried using both %post_title% and %wp_title% but neither are displaying. Is this a common issue?

Currently using php 7.1.7. WP version 4.8

[2017-07-22 01:32] michaeltorbert commented on #986
From preliminary testing, it looks like there may be a bug that causes the meta description to only show up if something is entered in the SEO description field for the post, regardless of the description template settings.

[2017-07-22 02:13] Toast707 commented on #986
@michaeltorbert Hey, good to know it's not only me. Do you know what custom field the the descriptions are stored as?

[2017-07-22 02:19] michaeltorbert commented on #986
@Toast707 The field is _aioseop_description but that's only for manually entered ones. Otherwise they're generated dynamically (on the fly) and not stored in the database.

[2017-07-22 02:23] Toast707 commented on #986
Yeah, I was just looking for a temporary work-around until it gets patched. Thanks for the heads up; looking forward to the update. I'll close the issue.

[2017-07-22 02:30] michaeltorbert commented on #986
Reopening, as this is a legitimate bug.

[2017-07-22 02:50] Toast707 commented on #986
Sorry about that; I wasn't under the impression I was the first to post this issue.

[2017-07-22 06:55] contactashish13 commented on #954
@wpsmort can you show me a sample sitemap to help me understand where to exclude the count? also, do you want to show -- or N/A or something else besides 0?

[2017-07-24 20:28] wpsmort commented on #986
@michaeltorbert I tested on a new install with the current live version of AIOSEOP.  There was no meta description until I activated the Autogenerate Descriptions option.   Once I activated that option, the meta description was generated from my post excerpt or the post content as expected.

I then changed the Description Format to %post_title% and got the following meta description:

```<meta nam

[2017-07-24 22:19] wpsmort commented on #954
@contactashish13 Here's a screenshot of an XML Sitemap that has posts, pages, products, categories, tags, product categories and product tags.  You can see that we output a zero next to all the categories, tags, and product categories and tags.

We should first try to if the archive page has an image (for example in WooCommerce you can set a product category image) and if there is an image(s) then

[2017-07-25 10:14] contactashish13 commented on #954
@wpsmort have made my changes to support this

[2017-07-25 17:09] wpsmort commented on #954
@contactashish13 Please extend this to remove the zeros next to date archives and author archives.  You can see these archives by checking the check boxes for Include Date Archive Pages and Include Author Pages (https://semperplugins.com/documentation/xml-sitemaps-module/#include-archive-pages).  See screenshot:

<img width="1135" alt="screen shot 2017-07-25 at 1 08 38 pm" src="https://user-images

[2017-07-25 17:52] wpsmort opened #988 "n"

[2017-07-25 17:54] wpsmort commented on #954
@contactashish13 I found a compatibility issue with Jetpack.  This commit https://github.com/semperfiwebdesign/all-in-one-seo-pack/pull/978/commits/732c399ea47240b35c7baf21c1cf4a8688a7639c has a change to line 2599 of the modules/aioseop_sitemap.php file.  That change results in a blank sitemap when Jetpack is active.

[2017-07-25 17:55] wpsmort commented on #988
Opened in error

[2017-07-25 17:55] #988 closed

[2017-07-26 04:08] contactashish13 commented on #954
@wpsmort I activated jetpack on my instance and was able to view the sitemap without any problem. Maybe it is a particular setting of jetpack. Would you be able to tell me which setting causes this problem? Alternatively,  I can debug the issue on your test site

[2017-07-26 04:15] contactashish13 commented on #954
@wpsmort I feel the behavior of the sitemap is fine w.r.t the numbers showing against the URLs.  If you check, a blank is shown in the images column only when the last modified date is also blank. This only happens for archive type URLs.  And if the URL has images, like the date archive that shows 8, it shows against it.

[2017-07-26 15:51] wpsmort opened #989 "Conflict with WebDorado Slider plugin"
Reported by email from Rodney Thompson.

When AIOSEOP is active on a site with the WebDorado Slider plugin, sliders don't load.

[2017-07-26 18:08] michaeltorbert commented on #989
This is caused by that plugin's improper use of wp_print_scripts() instead of wp_enqueue_scripts(). Disabling the "Include scripts/styles only on necessary pages" option in the plugin will resolve the issue for users, but my suggestion is for anyone affect to simply use a better written slider plugin.

[2017-07-26 18:08] #989 closed

[2017-07-26 18:57] michaeltorbert commented on #989
In this case, the extra bad calls to javascript (generated by the shortcode) were being pulled in by our OG description field. We "fixed it" for this particular user by simply disabling running shortcodes in OG descriptions.

[2017-07-27 12:36] amitsingh5588 opened #990 "no issu"
no issu

[2017-07-27 13:11] #990 closed

[2017-07-27 13:25] michaeltorbert commented on #990
@amitsingh5588 ?

[2017-07-27 15:31] michaeltorbert opened #991 "Email field"
On installation/activation, and for anyone who hasn't seen it yet, we should have an email field, similar to how Wordfence does it on new installations.

It should have a checkbox for whether you want email updates about SEO news, tips, tricks, and a free ebook (our mailing list) and/or realtime email notifications for SEO issues on their site.

[2017-07-27 20:36] paaljoachim opened #992 "Making it easy to download the Pro pack from the web site"
Hey

It would be nice to login at https://semperplugins.com and then in the profile section or some other place and download the Pro plugin.

I found this page:
https://semperplugins.com/faqs/i-purchased-all-in-one-seo-pack-pro-version-where-is-the-download/

It would be better to make the Pro pack easier available for download through the site without having to dig through older e-mails and locat

[2017-07-27 20:49] wpsmort commented on #954
@contactashish13 My problem here is that an archive is an archive of posts.  Archives by their nature don't have images so there shouldn't be a number in the image column.  Date archives and author archives are no different to category and tag archives. We should therefore treat them exactly the same and either display a number or not display a number.

My question is therefore, can you detect the

[2017-07-28 11:18] michaeltorbert commented on #992
Hi @paaljoachim

Thank you for your suggestion.
This is something we're working on at the moment. An issue is open in our internal private repository.

[2017-07-28 11:18] #992 closed

[2017-07-28 15:34] michaeltorbert opened #993 "Improve default Twitter card settings and behavior"
First reported/requested here: https://wordpress.org/support/topic/bug-twitter-card-summary-large-image-ignored

Currently, we have two Twitter card settings:
1) Global setting in the site's Social Meta menu
2) Post setting in Social tab

The behavior is currently that, whichever is set in the global setting, is what the post-specific setting defaults to for new posts. However, there's no override

[2017-07-28 15:38] michaeltorbert opened #994 "Twitter card post setting helptext needs improvement"
It currently refers to it as the "default," which I think was just copy/pasted from the global setting's text. Of course, this isn't a default.

[2017-07-28 18:48] wpsmort commented on #968
@michaeltorbert I cannot reproduce this either.  I tested back through the commits to 2.3.14.1 and 2.3.14.2 and it looks like PR #970 did fix this issue by replacing `&apos;` with `&#039;`

[2017-07-28 19:08] michaeltorbert commented on #968
Closing this as it was fixed in the same version that broke it, pre-release.

[2017-07-28 19:08] #968 closed

[2017-07-28 22:24] amostajo commented on #883
@wpsmort Should this always be type `blog`?

What happens if the blog page has some modifications to its template so it displays more information aside for posts to actually make it look like a landing page?

[2017-07-28 22:31] wpsmort commented on #883
@amostajo We have a filter hook to change this - https://semperplugins.com/documentation/aiosp_opengraph_meta/

[2017-07-28 22:48] wpsmort commented on #951
I noticed today whilst testing with AIOSEOP v2.3.14.2 that apostrophes in the Site Title are being counted as 6 characters in autogenerated titles.  For example, if you set your Site Title in WordPress to Steve's Site, the autogenerated title on the Edit Post screen shows 20 characters even though "Steve's Site" is only 12 characters.  This is because it's counting the apostrophe as 6 characters f

[2017-07-28 23:39] amostajo commented on #951
I am not a SEO savvy, but I have a question here, do the character count affect SEO in some sort of way or is it just to make sure that the text will display well on search engine results?

Because if it does matter, then it should be counted right?

As much as I know, the count was just to make sure snippets will look clean, the have not much influence when indexing on Google, if this is right th

[2017-07-29 00:24] wpsmort commented on #951
@amostajo The character count is to ensure a clean snippet in SERPs that does not exceed the number of characters allowed, resulting in an ellipses cutting off the title or description.  If Google counts an ampersand or apostrophe as a single character then we should too.

[2017-07-29 07:33] contactashish13 commented on #954
@wpsmort can you please check the PR again? I believe my recent changes should exclude everything except single posts/pages/CPTs

[2017-07-29 19:12] EkoJr commented on #43
@michaeltorbert I noticed this issue similar to 'Add a 5 star ratings request' #61, and wanted to request assigning this.

I am aware of most of the notices by now, and took a look at the Repo for Persistant Admin Notice Dismissal. The other repo seems to apply a similar concept by working off a time-lapse, and uses a dismissal variable. Then saves it as wp_options. Not too much different than wha

[2017-07-29 21:27] michaeltorbert commented on #43
I've assigned this two you, but we should be careful about possible conflicts. It's probably best to wait until the other one is finished before doing this.

Offhand I'd say some notice dismissals may be unique to users, but most are probably site wide.

[2017-07-29 21:29] michaeltorbert opened #998 "New Feature - Notification Center"
something similar to what wordfence does...

[2017-07-30 00:03] EkoJr commented on #998
Something similar to this; sort of like an announcement list?

![dashboard notifications](https://user-images.githubusercontent.com/2794445/28749527-756c5a6e-747f-11e7-9022-4de7a83cfbb9.png)

[2017-07-30 00:05] EkoJr commented on #43
Understood. I was curious if I should wait for the other branch.

[2017-07-31 21:46] wpsmort opened #999 "Remove old code related to Google Analytics classic asynchronous tracking"
Google has now migrated all properties to Universal Analytics tracking code.  We should therefore remove all code related to the old classic asynchronous tracking.

[2017-07-31 21:47] wpsmort opened #1000 "Remove filter hook for Google Asynchronous tracking"
Remove the filter hook documented here - https://semperplugins.com/documentation/use-classic-asynchronous-google-analytics-for-all-in-one-seo-pack/

See also issue #999

[2017-07-31 21:49] wpsmort opened #1001 "Update documentation to add warning about switching to Universal Analytics"
We are removing old code related to Google classic asynchronous tracking (issue #999 and #1000).  We therefore need to update our documentation to add a warning to update to the new Universal Tracking.

https://semperplugins.com/documentation/use-classic-asynchronous-google-analytics-for-all-in-one-seo-pack/

https://developers.google.com/analytics/devguides/collection/upgrade/

[2017-07-31 21:53] michaeltorbert opened #1002 "Add filter for attributes in Google Analytics"
Requested here: https://wordpress.org/support/topic/plugin-not-capturing-ecommerce/#post-9343731
This specifically is for cloudflare support.

[2017-07-31 22:10] michaeltorbert opened #1003 "use Grunt"
from private PM

"for phplinting and php coding standards...
it uses NodeJS and runs locally. It does quite a few things - running PHPCS, minimizing CSS/JS, optimizing images, running text-domain validations, preparing the POT file and even ensures phpunit test cases are run in case they are configured. PHPStorm makes the integrator responsible for a lot of these things whereas by using grunt, thi

[2017-07-31 22:11] michaeltorbert opened #1004 "Travis integration"
From private PM

"I've also found integration of Travis with GitHub to be extremely useful and it is free for public repositories."

[2017-07-31 23:25] amostajo commented on #1003
My little grain of salt... just so we can choice the right JS tasker, between `grunt` and `gulp`.
https://medium.com/@preslavrachev/gulp-vs-grunt-why-one-why-the-other-f5d3b398edc4
Let's discuss further on slack.

[2017-08-01 14:34] charlesrr commented on #993
For now, could you just add some help text to mention that "it doesn't affect previous pages and posts and that it can be done in the meta tab on old pages and post"? (arrived here while trying to figure out why I couldn't update my homepage to "large" card via the global settings. I don't think many people would want to go back and change many old posts because they have already chosen images tha

[2017-08-01 15:31] wpsmort opened #1005 "Block capital titles get converted to capital case in categories"
This is related to #531 when we removed the Capitalize Category Titles option in v2.3.10.

If you enter an SEO title of ABC Title for a category, it gets converted to Abc Title. We need to not convert block capitals.

We do have a filter for this which may be sufficient - https://semperplugins.com/documentation/capitalize-category-titles/

[2017-08-01 15:31] wpsmort commented on #1005
Reported today by email from Lee Rickler.

This is also happening with category SEO titles on Lee's site, for example:

TIME:Commercial Freehold is changed to TIME:commercial Freehold
TIME:Advance is changed to TIME:advance

I have confirmed this on a test site running the latest live version of Pro.

[2017-08-01 17:11] amostajo commented on #965
@wpsmort I was not able to reproduce this behavior, I think this got solved in one of the PRs already merged. On my end everything gets converted to `&#039;`. Can you please double check?

[2017-08-01 19:03] wpsmort commented on #965
I have tested and confirmed that this is fixed in the current development branch.

[2017-08-01 19:10] michaeltorbert commented on #965
@wpsmort When did this get fixed? If we decided that it was broken in the last version, it couldn't have magically fixed itself in the dev branch which is the same as the live version.

[2017-08-01 19:45] wpsmort commented on #965
@michaeltorbert This got fixed by PR #980.  I tested commits prior to that and confirmed it was broken.  Testing of tPR #980 confirmed that this fixed the issue.

[2017-08-01 20:04] wpsmort opened #1006 "Remove capitalize categories functionality"
In version 2.3.10 we removed the option for Capitalize Category Titles and replaced it with a filter hook.  Issue #531 refers.

We should now remove the code associated with capitalizing category titles.

See also #530 for removing the same functionality for Capitalize Tag and Search Titles.

[2017-08-01 20:04] wpsmort commented on #530
We discussed this today and decided to remove all functionality related to capitalizing tag titles and search titles.

We'll be doing the same for capitalizing category titles (Issue #1006).

[2017-08-01 20:06] wpsmort commented on #894
We have decided to just remove this option and all related functionality.  See issue #530

[2017-08-01 20:06] #894 closed

[2017-08-01 20:07] wpsmort commented on #1005
We have decided to remove all functionality related to capitalizing category titles.  See issue #1006

[2017-08-01 20:07] #1005 closed

[2017-08-01 20:14] michaeltorbert commented on #1006
Notes for posterity:

These options
a) added little to no SEO value
b) caused more problems than they were worth (mostly they would just override what people wanted, and at best would do nothing)... AIOSEOP isn't the grammar/capitalization police
c) When searching .org support and our own support... every single mention (over the past 9 years) of the feature was of a user having problems with it e

[2017-08-01 20:17] #965 closed

[2017-08-01 21:18] michaeltorbert opened #1007 "implement document_title_parts"
wp_title is deprecated as of 4.4 in favor of document_title_parts

[2017-08-01 21:29] michaeltorbert commented on #530
We'll also need to update the documentation. Code that can achieve much of the same thing:

`add_filter('aioseop_title','change_seo_title', 10, 1);

function change_seo_title( $title ){
	static $charset = null;
				if ( $charset == null ) {
					$charset = get_bloginfo( 'charset' );
				}
	if ( function_exists( 'mb_convert_case' ) ) {
					// Breaks for acronymns like SEO.
						$mytitle = mb_conv

[2017-08-01 21:43] wpsmort opened #1008 "Update documentation related to Capitalize titles"
See issues #530 and #1006

https://semperplugins.com/documentation/title-settings/
https://semperplugins.com/documentation/capitalize-category-titles/

[2017-08-01 22:57] wpsmort commented on #1006
This is tested and is good.

[2017-08-01 22:57] #1006 closed

[2017-08-01 22:57] wpsmort commented on #530
This is tested and is good.

[2017-08-01 22:57] #530 closed

[2017-08-01 23:00] michaeltorbert commented on #1002
https://semperplugins.com/documentation/add-attribute-to-google-analytics/

[2017-08-01 23:02] michaeltorbert commented on #1002
@wpsmort In testing, make sure that a) I didn't break anything and that b) the filter hook works.

[2017-08-02 17:37] wpsmort opened #1011 "Social Meta module - Remove Facebook Object Type option"
Remove the Facebook Object Type option under Social Meta > Facebook Settings.

Instead we'll default to Website for the homepage regardless of whether it's a static home page or dynamic homepage.

The aiosp_opengraph_meta filter can be used for those who want to change the og:type value.

[2017-08-02 17:38] wpsmort commented on #883
Michael and I discussed this today and agreed that the og:type should in fact be set to website because blog is no longer a valid type.  See OGP protocol documentation - http://ogp.me/#types

[2017-08-02 17:38] wpsmort commented on #883
See also related issue #1011

[2017-08-02 17:42] wpsmort commented on #106
We need to update the og:types to match the lists here -

http://ogp.me/#types
https://developers.facebook.com/docs/reference/opengraph#object-type

[2017-08-02 17:48] wpsmort opened #1012 "Social Meta module - Add Open Graph meta to static posts page"
Currently we are not outputting Open Graph meta on a static posts page.

To reproduce this, create a page called Blog and then set this page as the Posts page under Settings > Reading.  Next edit the page and set Open Graph meta on the Social Settings tab.  Check the source code of your page and you'll see SEO meta tags but no OG meta tags.

We should be outputting the OG meta set on the Edit Page

[2017-08-02 17:51] wpsmort opened #1013 "Social Meta module - Remove Blog from Object Type drop downs"
Blog is no longer a valid og:type (http://ogp.me/#types) so we should remove it from the drop downs found under Social Meta > Facebook Settings > Object Type (there are drop downs for each post type).

https://semperplugins.com/documentation/social-meta-module/#content-object-types

[2017-08-02 18:21] wpsmort commented on #1002
@michaeltorbert This is tested and is good.  I had to make some changes to the documentation for the filter hook in order for that to work as it was missing a semicolon and the return $attributes.

[2017-08-02 18:21] #1002 closed

[2017-08-02 18:33] michaeltorbert opened #1014 "Default og type should be object"
related to #883

[2017-08-02 18:35] #1014 closed

[2017-08-02 18:41] michaeltorbert commented on #883
Ok so in this commit, og type will be website on either the home page (regardless of whether it's the blog archive, and on the page for posts it will also.

[2017-08-02 19:03] wpsmort opened #1015 "Social Meta module - Remove Home Article Tags option"
Related to issue #1011

As we are removing the Facebook Object Type option, we can also now remove the Home Article Tags option under Social Meta > Home Page Settings.

https://semperplugins.com/documentation/social-meta-module/#home-article-tags

[2017-08-02 19:04] wpsmort commented on #1013
Blog also needs to be removed from the Facebook Object Type drop down on the Social Settings tab of the Edit Post screen.

[2017-08-02 19:07] michaeltorbert commented on #1011
We're also removing the hometags options, as that only showed up when the homepage was set to article.

[2017-08-02 19:10] michaeltorbert opened #1016 "Two array keys for setcard"
In /modules/aioseop_opengraph.php lines 160 and 178 in the help_anchors array, we have setcard twice. Any idea if that was on purpose or a mistake?

[2017-08-02 19:12] michaeltorbert opened #1017 "Remove hometag option"
Since this is based on the homepage OG type option which we're removing in #1011 and only worked if article was selected for homepage.

[2017-08-02 19:18] michaeltorbert commented on #1015
Dupe #1017

[2017-08-02 19:18] #1015 closed

[2017-08-02 20:21] wpsmort commented on #883
This is tested and is good.

[2017-08-02 20:21] #883 closed

[2017-08-02 20:22] wpsmort commented on #1011
This is tested and is good.

[2017-08-02 20:22] #1011 closed

[2017-08-02 20:25] wpsmort commented on #1017
This is tested and is good.

[2017-08-02 20:25] #1017 closed

[2017-08-02 20:28] wpsmort commented on #1012
@michaeltorbert I tested this and we are not outputting what is set in the Social Settings tab of the Edit Page for my static Blog page.

[2017-08-02 20:30] wpsmort commented on #1012
Here's a screenshot comparing what's set in the Social Settings tab and what's output in the source code:
<img width="2153" alt="screen shot 2017-08-02 at 4 29 31 pm" src="https://user-images.githubusercontent.com/17548525/28893562-e7105738-779f-11e7-8176-093ed0bd5c4a.png">

[2017-08-02 20:57] wpsmort commented on #1016
@michaeltorbert I have tested this and it doesn't look like the setcard on line 170 is used at all.  The setcard on line 188 is used for the documentation link on the Social Settings tab of the Edit Post screen

[2017-08-02 21:59] wpsmort commented on #1012
@michaeltorbert The only issue I found during testing has to do with falling back when generating the og:description.  On a normal page, if an OG Description is not entered then we use the SEO Description as the OG Description.

However, this is not happening with the static Blog page.  If no OG Description is entered then we don't fall back and use the SEO Description.  For sake of consistency we

[2017-08-02 22:07] #1016 closed

[2017-08-02 22:10] wpsmort commented on #999
This is tested and is good.

[2017-08-02 22:10] #999 closed

[2017-08-02 22:11] wpsmort commented on #1000
This is tested and is good.

[2017-08-02 22:11] #1000 closed

[2017-08-02 22:14] wpsmort commented on #1001
The documentation has been updated.

[2017-08-02 22:14] #1001 closed

[2017-08-02 22:28] wpsmort commented on #1012
This is tested and is good.

[2017-08-02 22:28] #1012 closed

[2017-08-02 22:34] michaeltorbert commented on #943
Strangely it doesn't strip it out in the meta description for me

<img width="611" alt="screen shot 2017-08-02 at 6 33 29 pm" src="https://user-images.githubusercontent.com/17364998/28897927-1fd32f08-77b1-11e7-9733-689114975b3e.png">
<img width="580" alt="screen shot 2017-08-02 at 6 33 19 pm" src="https://user-images.githubusercontent.com/17364998/28897926-1fd30e42-77b1-11e7-9a7d-c8613aa2754a.png"

[2017-08-02 22:53] amostajo commented on #943
It does for me

[2017-08-03 00:45] amostajo commented on #951
@wpsmort  So this only happens for auto-generated?

[2017-08-03 02:04] wpsmort commented on #951
@amostajo Yes, it only happens with the auto generated titles.  The easiest way to test this is to set your Site Title to abc' and then leave your post title empty.  The character count for the title should show 12 which breaks down as:

3 for the space | space
3 for the abc
6 for the `&#039;`

You can do the same with the ampersand to get a count of 11 (5 for the `&amp;`)

[2017-08-03 04:28] contactashish13 commented on #954
@wpsmort I've had to change the entire approach. Now I'm defining a custom XSD (attached) and the sitemap xml will contain a custom element namespaced to this XSD that will define the number of images.

Can you please host the XSD on an appropriate URL and change the URLs here:
1. in the XSD
2. https://github.com/contactashish13/all-in-one-seo-pack/blob/%23954/modules/aioseop_sitemap.php#L1955
3.

[2017-08-03 14:17] michaeltorbert commented on #911
@arnaudbroes Good catch. I suspect a function was deleted or merged with another and this got orphaned.

[2017-08-03 14:17] #911 closed

[2017-08-03 14:18] #900 closed

[2017-08-03 15:53] #812 closed

[2017-08-03 18:28] wpsmort opened #1021 "Less than symbol does not get output in SEO meta"
Whilst testing PR #1020 I found that when the last character of a title or description is a less than symbol, the symbol is not output in the SEO meta or OG meta.

For example, setting the post title, post excerpt and post content as "Hello World <" shows in all SEO and OG meta tags as "Hello World".  Same with "Hello World<".

This is a very minor edge case so is low priority.  However, I will te

[2017-08-03 18:28] wpsmort commented on #943
PR #1020 fixes the issue with text wrapped in brackets.  It does not fix the issue with text wrapped in greater than and less than symbols which we agreed we would leave for now.

I did find one small odd little bug when testing with greater than and less than symbols.  If the last character in your post title is a less than symbol then we don't output it.  I've opened a new issue #1021 for this.

[2017-08-03 18:30] #943 closed

[2017-08-03 18:43] wpsmort opened #1022 "Never Shorten Long Descriptions no longer works"
Auto generated meta descriptions are still being shortened even when you enable the Never Shorten Long Descriptions option and the Use Content For Autogenerated Descriptions options together under Advanced Settings.

If you don't enable the Use Content For Autogenerated Descriptions option then auto generated meta descriptions are not shortened.

I tested back through the versions and found that t

[2017-08-03 19:06] wpsmort commented on #1013
@michaeltorbert I was hoping this was a simple change of just removing Blog from the drop down array in aioseop_opengraph.php.  However, we need to account for anyone who has selected Blog as their Object Type.

If I have set one of the Object Type drop downs under Social Meta > Facebook Settings to Blog then removing that as a selection means that the Object Type reverts to the first available ty

[2017-08-03 19:13] michaeltorbert commented on #1013
This will probably require a db migration for the entry and/or we may want to just check for that and use website if they have blog.

[2017-08-03 19:28] wpsmort commented on #954
@contactashish13 I tested the latest code in PR #978 and it worked, however, Google rejects the XML Sitemap because the numImages tag is unrecognized by them.

Also, we won't want to host the XSD file on our servers, the XSD file should be part of the plugin.

[2017-08-03 19:33] michaeltorbert commented on #920
This is added for both page, post, and CPT titles and descriptions (with autogenerate turned on)

[2017-08-03 20:13] wpsmort commented on #920
This is tested and is good.

[2017-08-03 20:13] #920 closed

[2017-08-03 20:15] wpsmort opened #1024 "Update documentation for new %post_date% title format"
Relates to issue #920

https://semperplugins.com/documentation/title-settings/#title-format-fields

%post_date% - The current date (localized)
%post_year% - The current date (localized)
%post_month% - The current date (localized)

[2017-08-03 22:02] wpsmort opened #1027 "PHP Notice when viewing an empty category or tag"
Whilst testing the branch https://github.com/semperfiwebdesign/aioseop-pro/tree/2_4_15-from-free, I found that if you view a tag or category that is empty (no posts) the you get these notices:

PHP Notice:  Trying to get property of non-object in /wp-content/plugins/aioseoppro-2.4.15/modules/aioseop_opengraph.php on line 1182

PHP Notice:  Trying to get property of non-object in /wp-content/plugin

[2017-08-03 22:07] wpsmort opened #1028 "Video XML Sitemap - Improve appearance of thumbnails"
In Issue https://github.com/semperfiwebdesign/aioseop-pro/issues/289 we added thumbnails for videos in the Video XML Sitemap.  We should improve the appearance of the videos, especially when they span multiple rows.

I originally made this commit https://github.com/semperfiwebdesign/aioseop-pro/commit/d97198d0f791152409eb84eb527772972e68d3b9 to add some CSS but I committed to Pro when this code sh

[2017-08-03 22:22] wpsmort opened #1029 "Automatically Generate Article Tags should only apply to singular posts"
The option for Automatically Generate Article Tags under Social Meta >Facebook Settings currently applies to anything with an Object Type set to Article.  However, we decided that auto generation of Facebook article tags should only happen for posts of any post type, not for taxonomies or archives.

Related to #1027

[2017-08-03 22:23] wpsmort opened #1030 "Update documentation for Automatically Generate Article Tags"
Update the documentation for this option to state that it only applies to posts, not to taxonomies.

See issue #1029

https://semperplugins.com/documentation/social-meta-module/#automatically-generate-article-tags

[2017-08-03 22:38] wpsmort commented on #1027
This is fixed by this PR https://github.com/semperfiwebdesign/aioseop-pro/pull/309

[2017-08-03 22:38] #1027 closed

[2017-08-03 22:38] wpsmort commented on #1029
This is fixed by this PR https://github.com/semperfiwebdesign/aioseop-pro/pull/309

[2017-08-03 22:38] #1029 closed

[2017-08-03 22:45] wpsmort commented on #1030
The documentation has been updated.

[2017-08-03 22:45] #1030 closed

[2017-08-03 22:49] wpsmort commented on #1024
Documentation has been updated.

[2017-08-03 22:49] #1024 closed

[2017-08-03 22:54] wpsmort commented on #1008
Documentation has been updated.

[2017-08-03 22:54] #1008 closed

[2017-08-03 23:19] amostajo commented on #951
Ready for testing.

[2017-08-04 00:06] michaeltorbert opened #1032 "fatal timeout error on CPTs with shortcode in post content"
Reported here: https://wordpress.org/support/topic/2-3-15-php-fatal-error-maximum-execution-time-of-120-seconds-exceeded

[2017-08-04 01:38] visser commented on #1032
Hi there, just adding details as requested on w.org support topic.

WordPress version: 3.8.1
Working All in One SEO Pack version: 2.3.14.1
Not working: All in One SEO Pack version: 2.3.14.2 and 2.3.15

URL of affected page: https://visser.io/tools/webcams/traffic-cameras/
CPT: Page
Post Content:

[code]

PHP error response:

[code]

De-activating AIOSEOP resolved the timeout issue, rolling back to

[2017-08-04 01:41] michaeltorbert commented on #1032
@visser What plugin are you using for the traffic camera?

[2017-08-04 01:49] visser commented on #1032
@michaeltorbert, self-built (not public), happy to share code if it helps you identify the issue.

Attached screenshots of selected options (none) within the All in One SEO Pack meta box on the Edit Page screen of https://visser.io/tools/webcams/traffic-cameras/

![aioseop-2 3 14 1-2](https://user-images.githubusercontent.com/1157602/28950907-e076fb72-790a-11e7-918c-9a9f786a5124.png)
![aioseop-2 3

[2017-08-04 01:51] michaeltorbert commented on #1032
@visser Yes, that would be helpful.

[2017-08-04 01:53] michaeltorbert commented on #1032
The easiest thing to do would be to send us login info to a dev site if you have one, or else send us the login info to this site so we can make a backup https://semperplugins.com/contact/submit-login-information/

[2017-08-04 01:56] visser commented on #1032
Sure thing, I'll provide access.

visser.io is on Google Cloud Compute Engine so SFTP access will tricky; I'll do some reading on how to provision SFTP access.

I'll also try commenting out a few blocks of code this morning to help isolate this issue further

[2017-08-04 01:58] michaeltorbert commented on #1032
@visser Just wp-admin access should be enough for us to make a backup and set it up locally for testing.

[2017-08-04 01:58] visser commented on #1032
Sure thing, setting that up now. 👍

[2017-08-04 03:37] contactashish13 commented on #954
@wpsmort according to the sitemap XSD, https://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd I can include any other valid namespaced tag so I'm not sure why it is being rejected

![image](https://user-images.githubusercontent.com/12953439/28953210-34d838be-78f4-11e7-9bad-5cee035e033d.png)

[2017-08-04 05:25] H-K-P opened #1033 "Save AIOSEOP settings on Save Draft for empty posts"
Hi Folks,
I just updated to Version 2.3.15.  I use Wordpress  version 4.8.1.
All was working 100% till I installed V2.3.15 and I now have issues with the 'OG:Image' on Facebook - but not Twitter.
I have a default 'OG:Image' source setting of an icon for all posts and then I manually enter a Custom URL for the author image, which should over-ride the default on individual posts.
However, since the

[2017-08-04 05:53] esolix commented on #1032
We are having the same issue

(Litespeed with LSPHP) / Running on HTTPS

2017-08-04 01:29:30.483 [NOTICE] [116.102.145.93:55473:HTTP2-3] [STDERR] PHP Fatal error:  Maximum execution time of 30 seconds exceeded in /home/boingboingnet/html/wp-content/plugins/all-in-one-seo-pack/aioseop_class.php on line 2570
2017-08-04 01:29:35.529 [INFO] [180.4.194.76:36315:HTTP2-7] Abort request processing by PID:

[2017-08-04 10:14] mmslender commented on #1032
I am having the same issue. This is what I noticed when trying out some scenarios:

https://www.iabonnement.com/iphone-8/ GOOD
2 shortcodes - seo title, NO description

https://www.iabonnement.com/iphone-8/ GOOD
2 shortcodes - seo title AND description

https://www.iabonnement.com/iphone-7s/ GOOD
1 shortcode - NO seo title and description
No change after adding seo title

https://www.iabonnement.c

[2017-08-04 11:11] michaeltorbert commented on #1032
In the meantime, if you turn off autogenerate descriptions, it should work until we have a fix.

[2017-08-04 11:48] davidhyland commented on #920
Thank you so much for this update, really appreciate it! Have a good one wherever you are.

[2017-08-04 13:54] mackb0828 commented on #1032
Same issue with me. [2.3.15] I had to disable the plugin.

Fatal error: Maximum execution time of 30 seconds exceeded in /XXXX/XXXXX/public_html/XXXXX/wp-content/plugins/all-in-one-seo-pack/aioseop_class.php on line 2570

[2017-08-04 14:14] wpsmort opened #1035 "Improve handling of shortcodes in manually entered descriptions"
This was originally reported by a user in issue #943.

We attempted to resolve this in Version 2.3.15.

However, the solution caused a fatal timeout on many sites, see issue #1032 so we rolled back the changes.

We need to allow users to use brackets in manually entered SEO and OG Descriptions and leave auto generated descriptions alone.

[2017-08-04 14:18] michaeltorbert commented on #1032
2.3.15.1 is released which should resolve this issue. Thank you to everyone for reporting it and for your patience.

[2017-08-04 14:18] #1032 closed

[2017-08-04 20:37] wpsmort commented on #954
@contactashish13 Here's a screenshot of what I get in Google Webmaster Tools:

<img width="1152" alt="screen shot 2017-08-04 at 4 34 39 pm" src="https://user-images.githubusercontent.com/17548525/28985965-fe9f47bc-7932-11e7-8a15-443641abf324.png">

The line numbers referred to in the test results matches each line where there's a `<aioseop:numImages>` tag.  As Google is returning errors here, they

[2017-08-04 21:24] efalquero opened #1038 "500 Server Error when attempting to load All in Once SEO sitemap"
Hello,

Yesterday, I updated All in One SEO Pack on my organization's website. We've used the plugin in for a long time for SEO only. But before the long-deferred update, I started reading your documentation and learned of all the other great things in the pack: social meta, xml sitemap, etc.

I configured the sitemap, but have not yet been able to get it to work correctly. Whenever I follow the h

[2017-08-04 21:28] michaeltorbert commented on #1038
@efalquero This isn't a support forum. The others were reporting a bug, unrelated to the issue you're having.
Premium support is available for Pro customers: https://semperplugins.com/all-in-one-seo-pack-pro-version/

[2017-08-04 21:34] efalquero commented on #1038
Got it. I was just thinking maybe there was a bug causing this too since I was receiving a similar message to those other users. Thank you.

[2017-08-04 22:06] amostajo commented on #1035
@wpsmort I have removed the line that was replacing brackets as a whole.

I have tested this solution on the breaking WP that was mounted yesterday due to a little line in the regex related to this issue.

We might need extensive testing on this with more breaking environments.., I would suggest if there is a possibility of mounting more breaking environments from other users as well.

[2017-08-04 23:27] amostajo commented on #1033
@wpsmort I can not reproduce issue.
Custom image does save and gets selected as it should on my end. Please test.

[2017-08-05 05:51] contactashish13 commented on #954
@wpsmort I assume you submitted the sitemap after hosting the XSD publicly and changing the urls in the 3 places I mentioned?

[2017-08-05 10:46] michaeltorbert commented on #1038
@efalquero If you're still getting this error, please submit your login information here and we'll look into it https://semperplugins.com/contact/submit-login-information/
Make sure to reference this issue URL.

[2017-08-05 11:32] michaeltorbert commented on #1033
@H-K-P What are the exact steps to reproduce? Does the problem still occur if you disable all other plugins and switch to the default theme?

[2017-08-05 13:25] wpsmort commented on #787
Update:  In version 2.3.15 we added do_shortcode() to run on all titles and descriptions instead of having the Run shortcodes options which users could enable or disable.  Because we no run shortcodes in titles and content, this user's galleries are broken.

[2017-08-05 13:27] efalquero commented on #1038
Hi Michael,

Thank you very much for the offer - especially reaching out on the weekend.

I didn't know where to begin yesterday on isolating a configuration error or finding a plug-in conflict if this wasn't a bug. So I tried disabled the XML feature on AIO and installing Google XML Sitemap, which resolved the error.

I can revert to our earlier state and share access if it's worth checking on to

[2017-08-05 14:24] michaeltorbert commented on #1038
@efalquero We'd definitely like to discover what the problem is, for the sake of your blogs as well as for other users if it's not isolated to you.

[2017-08-05 15:35] wpsmort commented on #1038
@efalquero This is an out of memory issue when trying to load anything to do with your Articles custom post type.  The 500 error also happens occasionally when you try to go to the All Articles screen here - http://streetsense.org/wp-admin/edit.php?post_type=article.  You need to increase the memory allocated to PHP (https://codex.wordpress.org/Editing_wp-config.php#Increasing_memory_allocated_to_

[2017-08-05 15:35] #1038 closed

[2017-08-05 15:40] michaeltorbert opened #1040 "Revert shortcodes from 2.3.15"
Related to #787

[2017-08-05 15:47] wpsmort opened #1041 "Run Shortcodes in Descriptions options don't work correctly"
This was originally reported under #943.
Related to #1035 and #787.

In #943, Angus reported that text wrapped in brackets is not output in og:description tags.  I tested this and confirmed that it affects meta descriptions and og:descriptions.  We attempted a fix for this in version 2.3.15 but had to roll it back due to numerous bug reports from users.

The two Run Shortcodes In Autogenerated Des

[2017-08-05 15:59] efalquero commented on #1038
Got it - and I see you addressed that directly in the AIO performance tab pushing the memory to 258MB. Thank you for you help! Glad to be using AIO for all of this.

[2017-08-05 16:01] wpsmort commented on #1038
@efalquero You still need to increase the memory allocated to PHP and if that doesn't work then you'll need to contact your hosting provider to have them increase the memory allocated to PHP.

[2017-08-05 16:19] wpsmort commented on #1041
To reproduce this, create a post and enter the following as the Title, Content and Excerpt:

Post with [brackets] in it

Check the source code and you'll see that the title tag and og:title is correct but the meta description and og:description looks like this:

"Post with in it"

Testing this with the Run Shortcodes options disabled or enabled makes no difference.

We need to account for sites wh

[2017-08-05 16:57] efalquero commented on #1038
Got it - I just tried the wp-config amendment you linked me to, raising the limit to 158 and the max/admin limit to 256, but it remains at 90 (streetsense.org/myphpinfo.php). Probably because we're on a shared server plan. I'll contact the host. You'd gone above and beyond in your guidance on this. Thank you!

[2017-08-06 00:43] michaeltorbert opened #1045 "Undefined variable from 2.3.15.x"
Reported by Mark via email:

Notice: Undefined variable: content in /home/bangthe1/public_html/wp-content/plugins/1all-in-one-seo-pack/aioseop_class.php on line 2540 | Notice: Undefined variable: content in /home/bangthe1/public_html/wp-content/plugins/1all-in-one-seo-pack/aioseop_class.php on line 2540
-- | --
Notice: Undefined variable: content in /home/bangthe1/public_html/wp-content/plugins/1a

[2017-08-06 09:09] michaeltorbert opened #1049 "noindex on categories"
reported here https://wordpress.org/support/topic/plugin-generate-noindex-for-new-tags-and-category/
The user suggests his setting was changed... I don't see any evidence of that, but it is the default.
We should discuss whether we want to change this default.

[2017-08-06 13:19] #1040 closed

[2017-08-06 13:29] michaeltorbert opened #1050 "Bug in date templates"
Reported here: https://www.facebook.com/captain.alexlion/posts/1873947676187857

Regarding our new date template tags...

I *think he's saying that either a) the help text is wrong and/or b) the functionality is wrong...

All in One SEO Pack 的開發者，在英文介面的撰寫能力上，有待加強。
新增的四條，其中一條是之前他漏的，剩下三條除了變數名稱變了之外，說明文字全是錯的。
Current Date 是之前另一個變數的說明，現在全部複製給新的三個變數，變成這三個變數的說明是錯的。
我怎麼知道的？因為我有測試知道正確結果啊...

From Bing tran

[2017-08-06 13:40] michaeltorbert commented on #1050
Ok yep we definitely missed the help text descriptions for the new 3 tags.

[2017-08-06 15:25] leehblue opened #1051 "PHP Fatal Error: Uncaught Error: [] operator not supported for strings (version 2.4.15.3)"
After upgrading to version 2.4.15.3 our entire site was taken down by a 500 server error.

[error] 8335#8335: *161441 "PHP message: PHP Fatal error:  Uncaught Error: [] operator not supported for strings in /www/wp-content/plugins/all-in-one-seo-pack-pro/pro/functions_general.php:211
Stack trace:
#0 /www/wp-includes/class-wp-hook.php(298): aioseop_opengraph_display('')
#1 /www/wp-includes/plugin.p

[2017-08-06 15:28] michaeltorbert commented on #1051
@leehblue Thanks for reporting this. We're looking into it now.

[2017-08-06 15:32] michaeltorbert commented on #1051
@leehblue Thanks for reporting this. We're looking into it now.
What version of PHP are you running?

[2017-08-06 15:39] leehblue commented on #1051
We're running on FlyWheel and it looks like their running PHP 7.1 based on this FAQ https://getflywheel.com/wordpress-support/php-7-faq/

I'm not sure how to check the exact version of PHP myself as they seem to block `phpinfo()` output on their servers.

[2017-08-06 15:39] michaeltorbert opened #1052 "category or tag is changed to noindex if the last post in category is noindex"
_I tested my site with All in One Seo and plugin and I discovered that if the last post in category or the last post with specific tag has a “no index” atribute that all category or tag has “no index”. If you publish new post without “no index” all category will by without “no index” again. I think it’s a bug._

Reported here:

https://wordpress.org/support/topic/plugin-generate-noindex-for-new-ta

[2017-08-06 15:41] michaeltorbert commented on #1051
@leehblue I've just set up a new site on Flywheel's Local app now for testing.

Does the Performance module tell you the PHP version?
This is almost certainly a PHP 7 issue, but it's nice to have confirmation. :)

[2017-08-06 15:45] arnaudbroes commented on #1052
Checking.

[2017-08-06 15:47] leehblue commented on #1051
Ah! Great idea! Yes, it does. PHP 7.1 Confirmed.
PHP Version: 7.1.7-1+ubuntu16.04.1+deb.sury.org+1

[2017-08-06 17:28] arnaudbroes commented on #1052
Confirmed. Once a post belonging to a certain a category is marked as "no index", the category page for that specific category will also output "no index" in the source code.

Traced this back to 2.2 so it's been there for a while.

[2017-08-06 21:50] michaeltorbert commented on #1033
This was also reported via Facebook by ‎Felipe.

_images are not loading anymore on facebook. we setup to have Featured Image of the post and now with the upgrade it does not work anymore._

_i did update your plugin and OG featured image stoped working. it will only display default image. eventhough featured image was selected. it was working fine before previous update. i did a debuuger on faceb

[2017-08-07 18:07] arnaudbroes opened #1053 "Social Settings Tab not activated by default for Posts/Pages"
The Social Settings tab isn't appearing by default for Posts & Pages when the Social Meta module is activated for the first time.

[2017-08-07 18:09] michaeltorbert commented on #1053
@arnaudbroes Can you determine when this behavior started?

[2017-08-07 19:25] arnaudbroes commented on #1053
Traced this back to the commits of July 11th, 2017. Couldn't check the the exact commit because those builds break the site.

It's any of these (chronological order):

https://github.com/semperfiwebdesign/all-in-one-seo-pack/commit/56db40c0a932226d9b83276496d7a5ff54b12e25
https://github.com/semperfiwebdesign/all-in-one-seo-pack/commit/04184bb79d04998b8304ed12954df71a291b5e78
https://github.com/sem

[2017-08-07 19:28] michaeltorbert commented on #1053
possibly this? https://github.com/semperfiwebdesign/all-in-one-seo-pack/commit/eaf66d8556d2eaa9c7b398f5c1bd0bc0ff6a6488

[2017-08-07 20:30] wpsmort commented on #954
@contactashish13 Yes, I tried that but it did not work.  Here's my sitemap - http://stevemortiboy.com/sitemap.xml

Google just does not like that XML tag and rejects the sitemap because of it.

[2017-08-07 21:20] wpsmort commented on #1033
@michaeltorbert I tested this on an existing site and on a new site and was unable to reproduce either issue.  I tested updating from versions 2.3.13 onwards to 2.3.15 and each time the images in the source code were correct and did not change.  I tested with Featured Image and Post Author Image.

I also checked back to v2.3.11 and confirmed that AIOSEOP has never preselected a radial in the list

[2017-08-07 21:22] michaeltorbert commented on #1033
@H-K-P Can you please provide us with exact steps to reproduce this issue?

[2017-08-07 21:27] michaeltorbert commented on #1049
Dupe of #1052

[2017-08-07 21:27] #1049 closed

[2017-08-07 21:44] wpsmort commented on #1052
@michaeltorbert This bug also includes the NOFOLLOW and Disable on this post settings.  In other words, if you select either of three checkboxes (NOINDEX, NOFOLLOW or Disable) on the last post in a category or tag then that setting will get applied to the category or tag archive.

[2017-08-08 07:32] contactashish13 commented on #954
@wpsmort that's really strange. I found this that seems to suggest that this is not a problem

https://stackoverflow.com/questions/21853057/creating-a-valid-sitemap-with-custom-attributes/32628830#32628830

[2017-08-08 11:41] contactashish13 commented on #1003
@michaeltorbert here are all the tasks that need to be performed:

1. we will need to create a new repo which will contain all the grunt plugins that we need to use. This will ensure that both the free and pro plugins can share the same set of tasks. I will create this repo on my account and you can clone it.
2. locally install node, npm and grunt
3. when I run grunt locally, it will change all th

[2017-08-08 12:35] arnaudbroes commented on #1033
@michaeltorbert I tested this with a couple of different versions and this is working fine for me as well. Default image is overrided by custom images and everything in the source code seems correct. Perhaps he just had some caching issues?

[2017-08-08 13:50] H-K-P commented on #1033
@michaeltorbert   Sorry for the delay in replying.
Disabling plugins makes no difference.   As @wpsmort commented above: _"AIOSEOP has never preselected a radial in the list of images on the Edit Post screen. The only way a radial is selected is if the user specifically clicks on it."_
I guess therefore I was getting some 'errors' in the previous version which automatically selected the custom rad

[2017-08-08 15:50] wpsmort commented on #1033
@H-K-P PLease provide the exact steps to reproduce this as I cannot reproduce the problem with adding a custom image.  Follow these steps to add a custom image to a new post:

1. Go to Posts > Add New to create a new post
2. Add a title and some text content
3. In the Social Settings tab of All in One SEO Pack, click the Upload Image button
4. Upload an image to the Upload Files tab and click the

[2017-08-08 15:59] wpsmort opened #1054 "Fix incorrect documentation links in inline help"
Reported by Gerald via email today.

The documentation links in the inline help on the Edit Post screen are linking to the wrong destination.  They currently link here - https://semperplugins.com/sections/postpage-settings/ and they should link here - https://semperplugins.com/documentation/post-settings/

[2017-08-08 16:01] michaeltorbert commented on #1003
@contactashish13 I think it's better if the grunt plugins are in the WP plugin repo.

[2017-08-08 16:02] wpsmort commented on #954
@contactashish13 I see that the answer you linked to on stackoverflow does state that Google Webmaster Tolls returns an error.  In our case, we cannot have GWT return errors or it will mean users won't trust our XML Sitemap so this needs to be fixed a different way.

[2017-08-08 16:46] contactashish13 commented on #954
@wpsmort if google refuses to recognize a valid protocol, I'm not sure I know of any other way to approach this problem. Any suggestions?

[2017-08-08 16:48] wpsmort commented on #954
@contactashish13 Is there any way to hide that tag from the source code?  It doesn't need to appear in the source code, it only needs to appear in the human readable sitemap.

[2017-08-08 16:49] contactashish13 commented on #1003
@michaeltorbert i would suggest they be in a separate repository because they are going to be shared by the free and pro plugins. Also grunt tasks are not part of the plugin's functionality and this will unnecessarily complicate the grunt scripts.

Could you also respond to my question about the PRs?

[2017-08-08 16:49] contactashish13 commented on #954
@wpsmort I don't think so because the HTML sitemap is created from the XML sitemap

[2017-08-08 16:51] wpsmort commented on #954
@contactashish13 You had been doing this before and it worked.  It wasn't until you changed the XSD that the imageNum tag started to appear in the source code.

[2017-08-08 16:52] michaeltorbert commented on #1003
@contactashish13 How would it complicate the grunt scripts? That should change them any.

-Let's hold off on any PRs until we've finished deciding exactly what to do.

[2017-08-08 16:53] contactashish13 commented on #954
@wpsmort If you remember, the change was required because my earlier approach was to include blank image:image tags in the XML which google did not like either. I agree with google in that case because the XSD dictates that image:image tag cannot be empty. If it cannot be empty, then there is no way to separate an archive from a post that has 0 images.

[2017-08-08 16:54] contactashish13 commented on #1003
@michaeltorbert is there a particular reason you want to keep grunt as part of the source code of the plugins despite it not adding any functionality to the plugin per se?

[2017-08-08 17:03] michaeltorbert commented on #1003
What happens when something only applies to one? Or when we stop having Pro be effectively a fork of free?
It would only be in the development repository. Certainly we'd add it to .gitattributes to keep it out of releases.

[2017-08-08 17:07] wpsmort commented on #954
@contactashish13 I have messaged you in Slack about this as it's better for us to continue the conversation there.

[2017-08-08 18:10] wpsmort commented on #1054
I have updated all of the documentation links on the Main Settings tab of the AIOSEOP meta box on the Edit Post screen.  I have verified that each link works and tested with different post types.

[2017-08-08 18:14] wpsmort opened #1055 "Merge documentation pages for Post Settings and Page Settings"
We currently have separate doc pages for Post Settings and Page Settings as below:

https://semperplugins.com/documentation/post-settings/
https://semperplugins.com/documentation/page-settings/

This was because AIOSEOP used to have two options specific to Pages (Title Attribute and Menu Label).  These options were removed in v2.3.11 and now the settings are identical for all post types.

Therefor

[2017-08-08 18:17] wpsmort commented on #1055
I have updated the documentation page here - https://semperplugins.com/documentation/post-settings/.   I have deleted the documentation page here - https://semperplugins.com/documentation/page-settings/.  I have set up a redirect from /documentation/page-settings/ to /documentation/post-settings/.

[2017-08-08 18:17] #1055 closed

[2017-08-08 18:25] wpsmort commented on #1054
PR #1056 refers

[2017-08-08 18:44] michaeltorbert commented on #1052
This is also the case for tags and customer taxonomies. When testing, we need to make sure we don't break it for Pro, which handles things a bit differently.

[2017-08-08 18:49] wpsmort commented on #1050
@michaeltorbert I've updated the inline help - PR #1057.  I tested thoroughly and each post date format worked fine in every format field where it is supported.

[2017-08-08 19:59] wpsmort opened #1059 "Cannot edit Home Page Title Format field"
Related to #894

In Issue #894 we found that you could not uncheck the Capitalize Tag and Search Titles option because there was a hidden field that overlaps that option.  Now that we've removed the Capitalize Tag and Search Titles option, this problem now affects the next field down which is the Home Page Title Format field.

[2017-08-08 20:35] wpsmort commented on #1052
@michaeltorbert I tested this going from live free to this branch and confirmed that the Noindex, Nofollow, Custom Canonical URL and Disable on this page/post all change to the correct settings.   I then copied the changes to the dev version of Pro and switched between current free, dev free, current Pro and dev Pro.  I confirmed that the changes in the source code were all correct.

[2017-08-08 20:41] michaeltorbert opened #1061 "Move and remove force rewrites option"
Reference https://github.com/semperfiwebdesign/all-in-one-seo-pack/issues/894#issuecomment-299555077
Probably, it's been long enough that we don't need to do a database migration... there's no reason everyone shouldn't have a setting in the performance module for this (make sure that's always the case).
We can most likely just remove the "option" in aioseop_class, then change the code to access it

[2017-08-08 20:44] #1052 closed

[2017-08-08 20:48] michaeltorbert commented on #1050
This is good.

[2017-08-08 20:48] #1050 closed

[2017-08-08 21:00] wpsmort opened #1062 "Bottom of text cut off in some fields"
In Firefox, the bottom of some text is cut off.  This seems to be due to CSS that sets the height on text input fields.  See screenshot.

<img width="971" alt="screen shot 2017-08-08 at 4 59 59 pm" src="https://user-images.githubusercontent.com/17548525/29094382-22aaa9d2-7c5b-11e7-82ee-886b81b1fc15.png">

[2017-08-08 21:04] wpsmort commented on #1059
@michaeltorbert I have added CSS that fixes this issue. The CSS only applies to to the specific field ID in the Title Settings box so it won't affect any other setting in the plugin.

PR #1063

[2017-08-08 21:48] michaeltorbert commented on #1051
@leehblue
I'm pretty sure I know the problem and fix, but I can't test without being able to reproduce it. On my dev site with 7.1.3 I don't get the error, and I even signed up for a flywheel account and even that site doesn't get the error.
Do you have a test/dev site with the problem we take take a look at? https://semperplugins.com/contact/submit-login-information/

[2017-08-08 21:50] leehblue commented on #1051
I don't actually have a test/dev site with the problem. I have not upgraded any of the other sites we have on flywheel using the plugin.

[2017-08-08 21:52] wpsmort commented on #1062
@michaeltorbert PR #1064 is tested and is good.  I tested in Chrome, Firefox, Opera and Safari and with an RTL language site.

[2017-08-08 22:08] wpsmort commented on #1053
@michaeltorbert PR #1060 is tested and is good.

[2017-08-08 22:25] michaeltorbert commented on #1051
@leehblue Unfortunately we need to be able to reproduce it.
I've spent hours in every PHP 7.x version I can in various environments, including getting a Flywheel account, but I can't make reproduce the error.
If you're able to create a test environment that has the issue that would be very helpful.

[2017-08-09 02:10] H-K-P commented on #1033
@wpsmort   Thank you.  **Matter is now resolved.**
It has often been my habit to do the 'admin' on a post, **before** inserting any content or title.
After your last comment and some testing, I now see that if the post contents and title are blank - the Custom Image will not work.
Adding any content or title input first, will allow the Custom Image URL to be recognized and retained on SAVE or PUBL

[2017-08-09 10:14] EkoJr commented on #1051
This has been rather interesting, and took some digging around, but I was only able to get the wp-admin side to crash.

To reproduce the issue...

PHP Version: 7.1.7 & 7.1.8

1. Go to All in One SEO -> General Settings, and locate the `Custom Post Type Settings` box.
2. Uncheck all `SEO on only these post types:`.
3. Check at least ONE taxonomy in `SEO on only these taxonomies:`.
4. Enable `Enable

[2017-08-09 10:19] EkoJr commented on #1051
I believe when the Settings are being saved in General Settings. The variable within the array is being set as an empty string, **OR rather**, WP is setting it as an empty string if there is no value; which would include empty arrays. I may be wrong, but I believe that was the same issue I recently had with APL 0.4.alpha

[2017-08-09 13:41] wpsmort commented on #1033
I have tested adding SEO meta and OG meta including a custom image to a post before adding a title and content.  Here are my results:

You cannot publish a post until you have added a title. A Post Title is the minimum required in order to publish a post, this is because a permalink is not created until a title has been entered.  Once a title has been entered then you can successfully add any SEO

[2017-08-09 13:46] michaeltorbert commented on #1051
@leehblue Can you shed some light on your settings from these two screenshots?

[2017-08-09 14:16] michaeltorbert commented on #1051
Closing in favor of the two issues in the Pro repository.

[2017-08-09 14:53] wpsmort commented on #1028
This is done and tested.  PR #1065 is ready for final review.

[2017-08-09 15:00] michaeltorbert commented on #1045
This was fixed in 2.3.15.3

[2017-08-09 15:00] #1045 closed

[2017-08-09 16:36] wpsmort opened #1066 "Sorry, you are not allowed to access this page when activating Social Meta module"
When activating the Social Meta module, the first time you click on the Social Meta menu item you get a Sorry, you are not allowed to access this page error.

This is because the menu link is http://testsite.dev/wp-admin/admin.php?page=all-in-one-seo-pack/modules/aioseop_opengraph.php when it should be http://testsite.dev/wp-admin/admin.php?page=aiosp_opengraph

Need to find when this broke.

[2017-08-09 18:24] michaeltorbert commented on #1028
Done.

[2017-08-09 18:24] #1028 closed

[2017-08-09 19:05] wpsmort opened #1067 "AIOSEOP meta box appears when SEO for post types is disabled"
If you uncheck all post type and taxonomy boxes under Custom Post Type Settings and then disable SEO for Custom Post Types then the AIOSEOP meta box is still output on the Edit Post screen.

This has been a bug for a while now.

Steps to reproduce this:
1. Go to General Settings > Custom Post Type Settings and uncheck all checkboxes and disable Advanced Options then click Update Options
2. Go back

[2017-08-09 19:30] wpsmort opened #1068 "Social Meta module - Posts Object Type (post) is being displayed by default"
The Posts Object Type (post) drop down is displayed even if no checkboxes are checked under Social Meta > Facebook Settings > Enable Facebook Meta for Post Types.

That drop down should only be displayed if Posts is checked.

See screenshot:

<img width="769" alt="screen shot 2017-08-09 at 3 29 36 pm" src="https://user-images.githubusercontent.com/17548525/29140195-a393a636-7d17-11e7-968e-c6b04b5b

[2017-08-09 20:04] arnaudbroes commented on #1066
This started with 2.5.13, but I couldn't trace it back to a single commit because all of the builds of Github don't cause issues while the official one off .org does.

[2017-08-09 20:31] wpsmort opened #1069 "SEO meta is output when SEO for Custom Post Types is disabled"
Related to #1067

If you uncheck all post type and taxonomy boxes under Custom Post Type Settings and then disable SEO for Custom Post Types then SEO meta is still output in the source of posts and pages.

This also happens with categories and tags in Pro, specifically where you've previously added SEO meta in the Edit Term screen.

This has been a bug for a while now.

Steps to reproduce this:
1.

[2017-08-09 20:39] wpsmort opened #1070 "Social meta is not output when SEO on only these post types are unchecked"
If you uncheck the box for a post type under General Settings > Custom Post Type Settings > SEO on only these post types but check that post type box under Social Meta > Facebook Settings > Enable Facebook Meta for Post Types then edit a post, you'll see the AIOSEOP meta box with only the Social Settings tab and you can complete the fields, however, nothing is output to the source code.

Steps to

[2017-08-09 20:43] wpsmort opened #1071 "Incorrect link for Edit SEO in Admin Bar on taxonomies"
When viewing a taxonomy such as a category or tag page, the Edit SEO link in the Admin Bar takes you to the latest post.

The correct behavior is:

Free - There should be no Edit SEO link in the Admin Bar (this is a Pro feature)
Pro - The link should take you to the Edit term page for the category, tag, etc.

[2017-08-09 21:45] michaeltorbert commented on #1066
In aioseop_module_class.php function add_menu() there are three add_submenu_page()s.

The first one, on line 1971 is how most modules get added.
The 2nd one (default) is for General Settings.
The third one is how Social Meta and Robots.txt get added. The difference the 6th parameter, $this->get_prefix( $k ) . $k vs plugin_basename( $this->file )
Subbing in plugin_basename( $this->file ) works. We

[2017-08-09 22:03] #1051 closed

[2017-08-09 23:09] wpsmort commented on #1066
@michaeltorbert I tracked this bug back to this commit - https://github.com/semperfiwebdesign/all-in-one-seo-pack/commit/98703b5d5bfdff462a07d8a774a350cd15f036e4

[2017-08-10 07:18] contactashish13 commented on #1003
@michaeltorbert Even if it applies only to one, it just seems more organized (following the separation of concerns paradigm) if these plugins are kept outside. What if tomorrow you want to give a grunt specialist access? You will have to give access to the entire plugin repo and not just grunt plugins.

[2017-08-10 12:30] michaeltorbert commented on #1003
@contactashish13  If we need a grunt specialist, I'm happy to give him access to what he needs.
Let's do it in the plugin repo for now, we can always make a separate one later.

[2017-08-10 14:16] michaeltorbert commented on #1066
I'm not sure why that PR tagged this issue, but it's unrelated and can be ignored within the context of this issue.

[2017-08-10 15:36] wpsmort commented on #954
@contactashish13 I tested the latest changes to PR #978 and there were no errors returned by Google.  I did notice two things I'd like to see if you can improve:

1. When you have a static home page and there are image on that home page, we list the homepage URL in the XML Sitemap even if you don't have Pages checked under XML Sitemap > Post Types. However, the image count is zero.  To reproduce t

[2017-08-10 15:59] wpsmort opened #1074 "Social Meta module - Pasting an image URL in Custom Image field is broken"
Reported by Matt @syntax53 here - https://wordpress.org/support/topic/using-incorrect-facebook-ogimage/#post-9398765

In version 2.3.15 the ability to paste an image URL in the Custom Image field stopped working.  You can still paste an image URL in the Custom Twitter Image field.

[2017-08-10 16:03] wpsmort commented on #1074
@arnaudbroes Can you determine which commit in v2.3.15 broke this.

Steps to reproduce the issue:
1. Create a post and paste an image URL in the Custom Image field. You can use any image URL from any website
2. Save the post and then view the source code and see if the image URL is shown in the og:image meta tag

[2017-08-10 16:43] tilopa opened #1075 "Upgrading to Pro problematic"
I really want to upgrade to SEO pro, and have tried twice, but the whole purchasing process is so broken that I simply gave up. I simply don't have the time to jump through PayPal and other hoops to make it work.

[2017-08-10 17:40] michaeltorbert commented on #1075
@tilopa What specifically is broken?

[2017-08-10 17:59] arnaudbroes commented on #1074
On it.

[2017-08-10 18:02] tilopa commented on #1075
Actually so sorry, I think that the bank had frozen our credit card, suspecting fraud. No error messages informed me of exact issue, just failed silently.

We have spent most of this morning clearing up this issue with the bank.  Is there any chance that in addition to the $68 charge for the plugin, another $20 was assessed by PayPal?

[2017-08-10 18:04] michaeltorbert commented on #1075
No, and as this is a development repository, not a support forum, I'm closing this issue.
You can contact support here: https://semperplugins.com/contact/

[2017-08-10 18:04] #1075 closed

[2017-08-10 18:31] wpsmort commented on #811
PR #1076 is done and tested.

[2017-08-10 18:41] michaeltorbert commented on #1066
The problem is the settings being moved to a new init() function on the WP init action hook. This has the information needed to add the submenu, which needs to be available before the init function runs. @amostajo Do you have any idea why this was moved?

[2017-08-10 19:58] michaeltorbert opened #1077 "Disabled Social Tab still shows up for post type - separately"
<img width="321" alt="screen shot 2017-08-10 at 3 56 28 pm" src="https://user-images.githubusercontent.com/17364998/29189493-c4c49f7c-7de4-11e7-99cf-410bc9e3aadf.png">

<img width="975" alt="screen shot 2017-08-10 at 3 58 09 pm" src="https://user-images.githubusercontent.com/17364998/29189492-c4b6d1a8-7de4-11e7-9fbd-a581e3961e66.png">

[2017-08-10 20:06] michaeltorbert commented on #1074
This works for me. Did you select it in the radio button?

[2017-08-10 21:49] #811 closed

[2017-08-11 01:48] amostajo commented on #1074
Ready for testing

[2017-08-11 01:53] amostajo commented on #1066
@michaeltorbert This was moved under "init" hook because the module was being initialized before wordpress or external plugins were initialized/instantiated, causing issue that the scope of the module was limited to default post types and taxonomies. Custom types/taxonomies registered by other plugins were out of the scope of the module.

[2017-08-11 02:01] amostajo commented on #1041
@wpsmort So are we going to rollback to the functionality found prior 2.3.15?

[2017-08-11 12:49] contactashish13 commented on #954
@wpsmort you really think of every possible scenario :) have added support for these.

[2017-08-11 14:38] michaeltorbert commented on #1066
@amostajo What are your thoughts on how we should handle this?

1) Swapping $this->get_prefix( $k ) . $k with $k vs plugin_basename( $this->file ) as I described above fixes it, but I'm not sure what else that may break.

2) Completely rewrite how the menus are created. (Long overdue, but that may be overkill just to fix this).

3) Move the code back to the constructor from init(). (What would thi

[2017-08-11 15:58] amostajo commented on #1003
@contactashish13 Why do we need a new repo for this?
What do we want to accomplish with grunt?

[2017-08-11 16:21] wpsmort commented on #954
@contactashish13 Looks like I found two final bugs:

The first is with product categories in WooCommerce when the category has an image.  The source code is incorrect:

[code]
It's wrapping the  image in an `<image:image>` tag instead of an `<image:loc>` tag.

The second is with media attachment pages where the source code is also incorrect:

[code]
This is also missing the image:loc tag.

[2017-08-11 16:26] amostajo commented on #1066
@michaeltorbert The right thing to do would be option (2), imo. Because menus should be created following Wordpress initialization flow. Menus should not be created before Wordpress initializes itself and plugins.

My comments to the other options:

No sure... without unit testing this is unknown... and every little change in this plugin always affect something, my past experience...

The issue re

[2017-08-11 16:33] michaeltorbert commented on #1066
I agree 2 is the best solution, at least long term, but it may take quite a bit to do it. I've never liked how complicated the menu code is. It's normally pretty simple in WP plugins. We should probably first figure out why the behavior of 1 exists in the first place though before we ditch it completely.

For 4, I meant that we call init() on the init action, as well as from the constructor. I'm n

[2017-08-11 18:07] wpsmort opened #1079 "Social Meta module - PHP Warning array_flip with image in custom field"
When you save/update a post with an image URL in a custom field, the following PHP warning is returned:

PHP Warning:  array_flip(): Can only flip STRING and INTEGER values! in /wp-content/plugins/all-in-one-seo-pack/modules/aioseop_opengraph.php on line 1549

To reproduce this:
1. Go to All in One SEO > Social Meta > Image Settings > Use Custom Field For Image and enter a field name, i.e. image
2

[2017-08-11 18:14] wpsmort commented on #1079
@arnaudbroes This does not appear to be a new bug.  Can you trace back to when it started.  We added this feature in v2.1.3

[2017-08-11 18:15] #1054 closed

[2017-08-11 18:20] wpsmort commented on #1074
@amostajo This works fine until you try to paste in a new image URL.  When you paste in a new URL it doesn't change the image in the og:image meta tag.

Steps to reproduce:
1. Edit a post and paste in the URL for an image in the Custom Image field then click Update.  The image should be correctly reflected in the og:image tag in the source code
2. Edit the post again and paste a new URL in the Cus

[2017-08-11 18:28] #1053 closed

[2017-08-11 18:31] #1062 closed

[2017-08-11 18:35] #1059 closed

[2017-08-11 18:42] michaeltorbert opened #1081 "i18n - Translation updates"
The following locales are all very close to being 90+% (mostly between 80%-90%). The just need someone to finish them. For Arabic and Spanish, a non-speaker could probably just copy/paste the translations from a more complete language of a different local [HINT] to make it easier for the PTE/GTE to approve.

- [ ] Albanian
- [ ] Serbian
- [ ] Vietnamese
- [ ] Occitan
- [ ] Moroccan Arabic
- [ ] Sp

[2017-08-11 21:31] amostajo commented on #1066
Will test it

[2017-08-12 00:33] amostajo commented on #1074
@wpsmort It did work for me. Make sure you force refresh of assets by pressing F5 on your browser.

[2017-08-12 00:43] amostajo commented on #1066
Did some testing and appears to work fine without any errors thrown.
@wpsmort This might need deep testing though not sure what may affect, would you like a PR for pro as well?

[2017-08-12 01:02] amostajo commented on #49
@wpsmort Is this issue still active? I followed the steps described and these are the results for me:
![image](https://user-images.githubusercontent.com/1645908/29236426-9523f6ee-7ec7-11e7-9572-a495a0a84e93.png)

[2017-08-12 02:05] amostajo commented on #1022
Ready for testing. [PR1083](https://github.com/semperfiwebdesign/all-in-one-seo-pack/pull/1083)

[2017-08-12 06:31] contactashish13 commented on #1003
@amostajo I can't comment on those projects but in the projects that I have used grunt on, this is how the grunt specific part of package.json looks for every project
[code]
this loads all the grunt plugins from the mentioned repo and uses load-project-config (https://github.com/cedaro/load-project-config) to load each grunt plugin into the task list. I don't find mixing grunt plugins with WP plug

[2017-08-13 14:29] arnaudbroes commented on #1067
@wpsmort
I tested this with three different, fresh local test sites and a few versions of WordPress (ranging from 4.8.1 to 4.0) and All in One SEO Pack (ranging from 2.4.15.3 (PRO) to 2.0 (FREE) and I did not encounter this issue.
I tried both disabling Posts, Pages and the combination of both and this worked fine each time.

[2017-08-13 14:41] arnaudbroes commented on #1068
@wpsmort
I tested this with two different, fresh local test sites and a few versions of WordPress (ranging from 4.8.1 to 4.0) and All in One SEO Pack and it seems that this behaviour has been there since the launch of the Social Meta module with version 2.1.0. Good catch.

[2017-08-13 16:47] Ajilis commented on #941
i hope its the same like my issue:

when we add a new language. SEO pack seems to take the last language and not the default one setup in polylang.
the result is that sitemap.xml is empty.
does google console want an XML for each language or an XML with all ?

[2017-08-14 05:32] lizsterine opened #1084 "Title and meta description aren't getting saved on *some* pages"
This problem is occurring on two sites that use the All in one SEO pack v2.3.15.3 on WordPress v4.8

There are a few existing pages that are unable to have the metadata titles and descriptions updated using the SEO pack plugin interface.

This appears to be with pages that have been saved previously however the problem appears to be isolated to a few pages while others are fine.

I've done the usu

[2017-08-14 09:53] arnaudbroes commented on #1069
I tested this with two different, fresh local test sites and a few versions of WordPress (ranging from 4.8.1 to 4.0) and All in One SEO Pack (ranging from 2.3.15.3 (FREE) to 2.0 (FREE) and it seems that this never worked in the free version, at least, that's what I'm experiencing.

Now I'm testing the Pro version because I believe behaviour is different here.

[2017-08-14 11:31] arnaudbroes commented on #1070
@wpsmort
I tested this with two different, fresh local test sites and a few versions of WordPress (ranging from 4.8.1 to 4.0) and All in One SEO Pack and it seems that this behaviour has been there since the launch of the Social Meta module with version 2.1.0.

[2017-08-14 11:53] arnaudbroes commented on #1071
@wpsmort
I tested this with two different, fresh local test sites and a few versions of WordPress (ranging from 4.8.1 to 4.0) and All in One SEO Pack (ranging from 2.4.15.3 (PRO) to 2.3.0 (PRO)) and it seems that this behaviour has been there since the introduction of SEO for taxonomies such as Categories and Tags.

Furthermore, this link has been present even before SEO for Categories and Tags wa

[2017-08-14 14:15] arnaudbroes commented on #1077
@michaeltorbert
I noticed this issue with Steve earlier as well, but I'm having a hard time reproducing it.
It seems to be appearing at random. I'm testing this with fresh installs each time, and when I use the same plugin version, it either appears or it doesn't.

[2017-08-14 14:38] arnaudbroes commented on #1079
@wpsmort
I've tested this with two different, fresh local test sites, two different versions of WordPress (4.8.1 & 4.0.0) and All in One SEO Pack (ranging from 2.3.15.3 to 2.1.3) and traced this back to version 2.2.0.

[2017-08-14 17:33] wpsmort opened #1085 "Incorrect Custom Canonical URL when homepage set to Latest Posts"
When the homepage is set to Your Latest Posts under Settings > Reading and the latest post has a custom canonical URL then we're using that custom URL as the canonical URL for the homepage.

Steps to reproduce:
1. Under Settings > Reading set Front page displays to Your latest posts
2. Enable Custom Canonical URLs under All in One SEO > General Settings
3. Edit the latest post and set a custom can

[2017-08-14 17:34] wpsmort commented on #1085
@arnaudbroes Can you check when this bug first started please.

[2017-08-14 17:48] wpsmort commented on #1069
@arnaudbroes I checked this and confirm that this bug has been present since v2.0 when we added the Custom Post Type Settings section.

[2017-08-14 18:11] michaeltorbert commented on #1077
@arnaudbroes It's definitely not random. :)
When you're able to reproduce it, export the settings. That way you can import them into another site if needed.

[2017-08-14 19:06] wpsmort commented on #1022
This is tested and is good.  PR #1083 is ready for code review.

[2017-08-14 19:36] wpsmort commented on #1074
@amostajo It's working for me now too.  I cannot reproduce the issue I was seeing on Friday at all.
PR #1078 is ready for code review

[2017-08-14 19:51] wpsmort commented on #1084
Are you able to reproduce this on a test site with no other plugins active and with the default Twenty Seventeen theme active?  I am unable to reproduce this at all on a plain site or an existing site and no other user has reported this problem.

If you are able to reproduce this on a plain site then please send us the WordPress administrator login and we'll troubleshoot it.  You can send login in

[2017-08-14 20:21] wpsmort commented on #951
@amostajo I've tested this and found one problem:

If you enable the Use Content For Autogenerated Descriptions and the content includes an ampersand then the meta description is shortened.  It is not shortened if you disable that option.

The content I'm using is below which is exactly 160 characters but it gets shortened to 150 characters in my meta description:

C&23456789 123456789 123456789 1

[2017-08-14 20:44] michaeltorbert commented on #1071
Previously, it was probably showing up everywhere. It should only show up on a post (of any type) or a taxonomy, and should link to the correct edit page.

[2017-08-15 05:07] contactashish13 commented on #1003
@michaeltorbert could you please let me know if there are still doubts about the implementation? If not, I can start working on this.

[2017-08-15 21:05] michaeltorbert commented on #1003
@contactashish13 You can go ahead and implement it in your fork of the repository and I'll take a look.

[2017-08-15 21:07] michaeltorbert commented on #1084
@lizsterine Unfortunately there's nothing we can do unless you're able to help us reproduce the issue.

[2017-08-15 21:13] #1074 closed

[2017-08-15 21:17] michaeltorbert commented on #1070
What do we want this behavior to be?

1) Social tab shows up, and social SEO shows up in the source code also?
2) Social tab doesn't show up?
3) There's no separate option for Social SEO per post type, and it just goes off the one in general settings?
4) ?

[2017-08-15 21:29] arnaudbroes commented on #1070
@michaeltorbert
Option three is the most logical imo. What does @wpsmort think?

[2017-08-15 22:14] michaeltorbert commented on #1068
This goes away if/when we remove these checkboxes.

[2017-08-16 12:56] michaeltorbert opened #1087 "Bug with title tag and meta description"
Reported here: https://wordpress.org/support/topic/bug-with-title-tag-and-meta-desc/

_Since I’ve added the “Portfolio” on the type of page I want to do SEO , it has created a strange bug on the pages of my website.

Each time I edit a title tag or a meta description of a page and hit the update button, it’s got automatically replace by the title tag / meta description of the latest portfolio item

[2017-08-16 14:07] wpsmort commented on #1070
@michaeltorbert I agree with @arnaudbroes that we should just have one option to control whether AIOSEOP is active on a post type or taxonomy (Pro) and that one option should control both the SEO and Social Settings tabs.  We can have a filter if users was to disable OG meta.

[2017-08-16 15:48] wpsmort commented on #1077
@arnaudbroes I can now reliably reproduce this bug.  Here are the steps to follow:

1. On a new install of WordPress, install and activate AIOSEOP from the WP.org plugin repository
2. Activate the Social Meta module in Feature Manager
3. Edit a post and the problem should be visible

I can also reproduce this by resetting all settings in AIOSEOP to default and then activating the Social Meta modul

[2017-08-16 16:42] amostajo commented on #1003
@contactashish13 What tasks are stored in the separeated repo?

[2017-08-16 16:42] amostajo commented on #1003
Do you have an example?

[2017-08-16 18:21] michaeltorbert commented on #1066
@amostajo Is there a PR for this?
Since this is pretty simple code-wise, just a PR in free will probably suffice, and for Pro testing @wpsmort can just copy/paste the line of code. Testing needs to be done in free and Pro... it's unclear what, if anything, this may affect.

[2017-08-16 18:38] wpsmort commented on #49
@amostajo I can still reproduce this although it's a little tricky.  It seems to depend on which WooCommerce product has an SEO title assigned.  I have a local test site where I've reproduced the issue and I can send you a copy of the files and database.

Please note that this bug is marked for 2.3.17 so we shouldn't worry about it until after all work for v2.3.16 has been completed.

[2017-08-16 19:37] wpsmort commented on #1041
We should not change behavior for auto generated descriptions, instead we need to verify that 1). the behavior in the current release is the same as in releases prior to v2.3.15 and 2). that nothing is broken with auto generated descriptions.

We do need to make sure that if a user enters text with brackets in the SEO Description field or OG Description field in the AIOSEOP meta box on a post then

[2017-08-16 20:12] michaeltorbert commented on #1041
Since we're back to pre-2.3.15 functionality with this (verify this @wpsmort ), I'm moving this to 2.3.17.

[2017-08-16 20:27] wpsmort commented on #1071
@michaeltorbert PR #1086 is tested and the correct Edit SEO links show for both free and Pro.

[2017-08-16 20:32] #1071 closed

[2017-08-16 21:55] wpsmort commented on #1041
@michaeltorbert I have tested and can confirm that the current live release v2.3.15.3 is back to pre-2.3.15 functionality.

I recommend that we close this issue as the problem is not with the Run Shortcodes options, those options work fine and we've confirmed this by reviewing the code.

We should leave issue #1035 open and assign it to 2.3.17 and rename it Improve handling of shortcodes in manual

[2017-08-16 21:55] #1041 closed

[2017-08-16 21:56] michaeltorbert commented on #1035
"we don't intend to change anything with autogenerated descriptions, we just want to fix a bug with outputting shortcodes manually entered in the SEO and OG description fields." - @wpsmort

[2017-08-16 22:00] wpsmort commented on #1035
We should allow users to enter text that contains brackets in the SEO and OG description fields.  Currently we strip out the brackets and anything inside them.

To test, manually enter an SEO and OG description that has brackets and check that this is correctly output in the source code.

Autogenerated Descriptions should be unaffected by this.

[2017-08-17 15:11] michaeltorbert opened #1088 "Add button to credits page."
"Check out the people who make All in One SEO Pack."
... Contributors include both Semper Plugins team members as well as community members like you.

[2017-08-17 16:34] arnaudbroes commented on #1084
I'm not able to reproduce this either.

[2017-08-17 16:38] michaeltorbert commented on #1084
Closing until this can be confirmed with steps to reproduce or login info.

[2017-08-17 16:38] #1084 closed

[2017-08-17 16:51] arnaudbroes commented on #1085
@wpsmort
This feature was introduced in 2.2.4 and the above issue started occurring from 2.2.4.2.

[2017-08-17 17:14] michaeltorbert commented on #1085
@wpsmort @arnaudbroes  I'm getting this behavior in 2.2.4.

[2017-08-17 17:27] arnaudbroes commented on #1077
@wpsmort
Thanks, that worked! Traced back to 2.3.14.
One of these commits (same as #1053 #1074 ) caused the issue:

56db40c
04184bb
eaf66d8
c50b65d
762f9e3

[2017-08-17 18:11] arnaudbroes commented on #1087
User reported that the issue lies with the theme and he's looking into it with their support.

[2017-08-17 18:11] #1087 closed

[2017-08-17 18:13] michaeltorbert commented on #1077
@wpsmort @arnaudbroes Can you determine exactly what the setting is that's breaking this? Maybe comparing two settings dumps... one that isn't broken with one that's broken but shouldn't be?

[2017-08-17 18:48] wpsmort commented on #1077
@michaeltorbert The setting that breaks this is the Enable Facebook Meta for Post Types setting.  This is caused because the checkboxes for Posts and Pages were unchecked by default in v2.3.14.

We've now fixed that bug (Issue #1053) in the 2.3.16 branch and I've confirmed that it also fixes this issue as well.  I tested this by installing v2.3.14, confirmed the bug is present and then updated to

[2017-08-17 18:53] #1077 closed

[2017-08-17 18:58] wpsmort commented on #1085
@michaeltorbert I can confirm that this bug has existed since v2.2.4 when the Enable Custom Canonical URLs option was first added.

[2017-08-17 19:48] wpsmort commented on #1066
PT #1082 has been tested and is good.

[2017-08-17 20:00] #1066 closed

[2017-08-17 20:11] wpsmort commented on #1085
PR #1089 has been tested and is good.

[2017-08-17 20:12] #1085 closed

[2017-08-17 21:23] wpsmort commented on #994
The help text has been improved for this option.

[2017-08-17 21:23] #994 closed

[2017-08-17 21:42] wpsmort commented on #810
The wording has been shortened. I have tested this and confirmed it fixes the issue shown in Arnaud's screenshot.

[2017-08-17 21:42] #810 closed

[2017-08-17 22:11] amostajo commented on #1003
@michaeltorbert I have been looking at [load-project-config](https://github.com/cedaro/load-project-config) and seems to be a NodeJS that has no support not documentation what so ever. Last update done was on June 2016 and in order to understanf what the file does and how to use it is to make reverse engineering to the main file.

This is clearly not a normal setup on any project, seems to be some

[2017-08-17 22:14] michaeltorbert commented on #1003
@amostajo  Looks good.

[2017-08-17 22:17] amostajo commented on #1003
@contactashish13 similar thing on a greater scale project such as jQuery-UI, look at their `package.json` [file](https://github.com/jquery/jquery-ui/blob/master/package.json), they don't use a middle tier repository for grunt tasks either.

Please provide an example to see what are you trying to accomplish, thanks.