[2019-04-08 06:00] vincenzoricco opened #2330 "SEO"
Can I know how to consistently use this function? Thank you, my mail is ricco@mileruntech.com

Best regards,

Vincenzo

[2019-04-08 20:38] wpsmort commented on #2330
@vincenzoricco Which function are you referring to?  There are many functions in All in One SEO Pack.  Please note this is NOT a support forum, this is a development repository.

[2019-04-09 08:56] vincenzoricco commented on #2330
I am sorry, I must have entered in the wrong room.

Best regards,

Vincenzo Ricco

From: wpsmort <notifications@github.com>
Reply-To: semperfiwebdesign/all-in-one-seo-pack <reply@reply.github.com>
Date: Tuesday, April 9, 2019 at 05:39
To: semperfiwebdesign/all-in-one-seo-pack <all-in-one-seo-pack@noreply.github.com>
Cc: Vincenzo Ricco <ricco@mileruntech.com>, Mention <mention@noreply.github.com>
S

[2019-04-11 12:30] maramofilms opened #2331 "NO Robot.txt EDITOR"
Hello,
I've got a little problem. That would be that I do not see the Robots.txt editor! I can not edit that, so my page will not be indexed on google. Although I have turned off, I get the message that is in the robots txt still Disallow. WHERE DO I FIND THE ROBOTS.TXT FILE? HOW CAN I EDIT THEM ???

 Thank you!

[2019-04-11 14:05] wpsmort commented on #2331
This is not a support forum, this is a development repository.
You can find documentation here https://semperplugins.com/documentation/
or access premium support here https://semperplugins.com/all-in-one-seo-pack-pro-version/

[2019-04-11 14:05] #2331 closed

[2019-04-12 03:30] OB1212 opened #2332 "Error"
Hi, your Plugin gives me an Log-Error:

[12-Apr-2019 03:07:38 UTC] PHP Notice:  Trying to get property of non-object in /www/htdocs/xxxxxxx/xxxxx/wp-content/plugins/all-in-one-seo-pack/aioseop_class.php on line 1623

Please fix it and give an Update for This Plugin , or tell me what can i do now??

[2019-04-12 16:13] wpsmort commented on #2332
Dupe of #1616

[2019-04-12 16:13] #2332 closed

[2019-04-12 16:14] wpsmort commented on #678
Dupe of #1616.  I'm copying the comment above to the other issue.

[2019-04-12 16:14] #678 closed

[2019-04-12 16:14] wpsmort commented on #1616
This comment is copied from duplicate issue #678:

In aioseop_class.php on line 1624, we have

global $post;
$post_id = $post->ID;

Reported here, https://wordpress.org/support/topic/trying-to-get-property-of-non-object-35, there could be conditions in certain edge cases where there's no $post
We could consider checking if $post has anything, and if not, maybe bail out of the function gracefully?

[2019-04-12 17:47] wpsmort commented on #2215
We added noindex for RSS feeds in #356.  We should adda filter to remove this.  Requested again here - https://semperplugins.com/upgrading-to-2-9-seo-meta-disappear/#comment-24206

[2019-04-12 22:27] MikeLeddy opened #2333 "Add field for Amazon OneLink id"
It would be very cool if you added a feature to include Amazon OneLink functionality within All in One SEO in much the same way as site ownership verification & google analytics code can be added.  Thanks in advance.

[2019-04-13 10:26] contactashish13 opened #2335 "PHPCS checks for strict comparsion"
All PRs will fail grunt because of the new release of WPCS until these rules are excluded or addressed.

e.g.

![image](https://user-images.githubusercontent.com/12953439/56078350-9d183400-5e04-11e9-83d4-30c03595586a.png)

[2019-04-13 14:33] michaeltorbert commented on #2333
I'm closing this as Amazon OneLink is for affiliate revenue, and is unrelated to an SEO plugin.

[2019-04-13 14:33] #2333 closed

[2019-04-13 20:24] michaeltorbert commented on #2335
@contactashish13  So my understanding is that this PR (now merged) will keep subsequent PRs from failing, but we still need to apply the fixes for the new standards?

[2019-04-13 21:20] MikeLeddy commented on #2333
Thanks Michael.  I hadn't thought of that but of course you are right.  I
guess I've got so used to using All in One SEO as the one app to rule them
all - google, bing, social media accounts etc that it seemed a logical
place to put another identifying / tracking code.  Thanks again.

On Sun, 14 Apr 2019 at 02:33, Michael Torbert <notifications@github.com>
wrote:

[2019-04-13 21:45] michaeltorbert commented on #2333
@MikeLeddy What's more likely is that we could add an option for additional headers to your site, similar to the existing ones for specific pages. https://semperplugins.com/documentation/all-in-one-seo-pack-advanced-settings/#additional-post-headers

[2019-04-13 22:16] arnaudbroes commented on #2212
Page has been taken down.

[2019-04-13 22:16] #2212 closed

[2019-04-15 03:36] contactashish13 commented on #2335
@michaeltorbert yes thats correct. We still need to decide if we need to apply the fixes for the new rules or let them be excluded.

[2019-04-15 15:23] michaeltorbert commented on #2335
Is there any reason we wouldn't want to apply all the fixes?

[2019-04-16 04:25] contactashish13 commented on #2335
Yes thats the only reason to not apply the fixes right now.

[2019-04-16 13:56] michaeltorbert commented on #2335
As soon as all the existing PRs are cleared (our first priority) we should do this.

[2019-04-16 14:25] wpsmort opened #2337 "Bug - Character counter broken for categories, tags, etc"
Whilst testing PR #2304 I noticed that the character counter is broken on the Edit Category screen.  This applies to the Edit screen for any taxonomy.  The character counter doesn't increment as you type, but it does show the correct number once you click Update.

The problem affects the character counter on both the Main Settings tab and the Social Settings tab.  I tested and found this broke in

[2019-04-16 14:26] wpsmort commented on #2337
@arnaudbroes Can you see which commit broke this please.

[2019-04-16 17:33] mohamedebrahim12 opened #2338 "الشيخ الروحاني محمد ابراهيم تاج لعلاح السحر وجلب الحبيب 00201125238804"
[CENTER][SIZE="5"][COLOR="Green"]#الشيخ_الروحاني_محمد_ابراهيم_تاج  #اصدق_اقوى_شيخ_روحاني    #شيخ_روحاني_مجرب                 #شيخ_روحاني_صادق   #جلب_الخطاب_العرسان   #للجلب_المحبه   #الهيبه_القبول   #الطاعه_العمياء  #لجلب_الحبيب   #الشيخ_الروحاني_لجلب_الحبيب   #جلب_الحبيب  #لجلب_الحبيب_للزواج  #للخطبه_الزواج   #جلب_الخطاب_العرسان   #00201125238804  @shikrohanii       #زواج_البنت_البائر_المتعسره  #

[2019-04-16 17:38] #2338 closed

[2019-04-16 21:07] wpsmort opened #2339 "404 error when viewing Video XML Sitemap"
Whilst testing PRs #2334 and https://github.com/semperfiwebdesign/aioseop-pro/pull/474, I found that I got a 404 error when clicking on the link to view the Video XML Sitemap.

I tested back and found that this bug originates in this commit in he 3.0 branch of free - https://github.com/semperfiwebdesign/all-in-one-seo-pack/commit/5a2d96a76cd8b4bd21526e239b367a5513e49c2c

[2019-04-16 22:18] EkoJR commented on #2339
This is a Pro issue

[2019-04-16 22:23] arnaudbroes commented on #2339
@EkoJR good catch. I'll do it, but feel free to close the issue after duplicating it to the correct repo.

[2019-04-16 22:23] #2339 closed

[2019-04-18 07:37] Garc964 opened #2340 "Dutch translation message and view menu: 'bericht' wrongly in place of 'tag' side R."
There are two 'bericht' type messages displayed in these SEO menu's, I believe the left one is correct and the one in the right column should be 'tag' ?

[2019-04-18 13:18] arnaudbroes commented on #2340
@Garc964 bedankt om dit te rapporteren. Ikzelf ben verantwoordelijk voor de Nederlandse vertaling van de plugin. Kan je me toevallig even tonen via een schermafbeelding wat je bedoelt?

[2019-04-18 14:14] arnaudbroes opened #2341 "Social Meta Module - Default OG:image for each custom post type"
Requested by Céline R. in the Premium Forums on 4/18/2019 - https://semperplugins.com/support/troubleshooting-all-in-one-seo-pack-pro/how-to-set-default-ogimage-to-every-posts-of-a-custom-post-type/#p8941

[2019-04-18 14:29] Garc964 commented on #2340
Goeiedag,

zoals u vroeg in bijlage.

Met vriendelijke groet

Op 18/04/19 om 15:18 schreef Arnaud Broes:

--
dibididoe-wapwap

[2019-04-18 14:34] arnaudbroes commented on #2340
@Garc964 via e-mail kan je geen schermafbeeldingen toevoegen aan de issue in GitHub, dus ik zie momenteel nog niets. Je zal even op GitHub moeten inloggen om deze toe te voegen, of anders mag je ze ook doorsturen naar abroes[at]semperplugins.com.

[2019-04-18 14:55] Garc964 commented on #2340
![Schermafdruk van 2019-04-18 16-24-03-SEO](https://user-images.githubusercontent.com/35963192/56369885-7db14a80-61fa-11e9-9c52-affb8e523369.png)
de noindex en nofollow menu's hebben ook 2 'berichten'

[2019-04-18 14:56] Garc964 commented on #2340
Excuses, nieuw voor mij.

[2019-04-18 15:09] arnaudbroes commented on #2340
@Garc964 je ziet tweemaal 'Berichten' omdat je ergens anders een aangepaste berichtsoort (custom post type) hebt die ook 'Berichten' heet. Onze plugin somt enkel een lijstje op van alle berichtsoorten die worden aangetroffen, maar de naam zelf is niet afkomstig van plugin. In elk geval is dit geen bug en kan je dit dus gerust negeren.

[2019-04-18 15:09] #2340 closed

[2019-04-18 15:23] Garc964 commented on #2340
ok dank u wel

[2019-04-18 21:43] #2036 closed

[2019-04-18 21:47] wpsmort commented on #60
Dupe of 1352

[2019-04-18 21:47] #60 closed

[2019-04-18 21:59] wpsmort commented on #51
I found that this bug was fixed in v2.4

[2019-04-18 21:59] #51 closed

[2019-04-18 22:15] wpsmort commented on #516
I have found that this bug no longer occurs with the latest version of qTranslate-X v3.4.6.8.

[2019-04-18 22:15] #516 closed

[2019-04-21 10:14] shishir24 opened #2342 "Why is not I getting a picture with the news on my web site?"
Why is not I getting a picture with the news on my web site?

[2019-04-21 14:20] arnaudbroes commented on #2342
This is a development repository; not a support forum. If you'd like us to provide support for this issue, then please purchase a license for All in One SEO Pack Pro here - https://semperplugins.com/all-in-one-seo-pack-pro-version/

[2019-04-21 14:20] #2342 closed

[2019-04-22 22:42] fakesamgregory commented on #1760
Have there been any updates on this? Definitely a needed feature for this plugin.

[2019-04-22 23:23] michaeltorbert commented on #1760
@fakesamgregory There's no update for this at the moment (any updates will show up in this issues).
If this issue is particularly important, you're welcome to submit a PR.

[2019-04-23 16:01] gvburg opened #2343 "XML sitemap is not compatible to Google requirements"
Dear support and dear Michael

There have been similiar issues, which have been discarded because of informalities. I try to learn from your demands, and want to open up the issue again.
Our company's website is [https://www.one-pm.com/](url) and your XML of course is under /sitemap.xml . The plugin will be active whenever you check it.
So Google does not recognise your XML configuration, because

[2019-04-23 17:05] michaeltorbert commented on #2343
@gvburg You can add this to your secret list of "similar issues" that are closed. Feel free to try again if you want to fill out the bug report form with the information we'd need about your specific issue.

https://github.com/semperfiwebdesign/all-in-one-seo-pack/issues/new?assignees=&labels=&template=bug_report.md&title=

[2019-04-23 17:05] #2343 closed

[2019-04-24 03:51] gvburg opened #2344 "XML sitemap is not compatible to Google requirements"
This is not a support request, the XML file is a (for the Google Search Engine) broken feature. I have no other XML plugin active.

**Provide the relevant URL(s) here**
The website in question here: https://www.one-pm.com/
The generated XML file: https://www.one-pm.com/sitemap.xml
Google's internal analytical program: https://search.google.com/u/1/search-console/

**Describing the bug**
Google sta

[2019-04-24 03:52] gvburg commented on #2343
@michaeltorbert Maybe you should tell in advance about the bug report template, even though your suggestion is completely unnecessairy in my case. Every necessairy information is given by me here already, and if I was not clear: The XML feature is broken, and even though 5 people reported on that issue, you closed all of their issues including mine.

Following your recommendation, I filled out a b

[2019-04-24 05:32] michaeltorbert commented on #2343
It's there automatically when you create an issue. This is functionality built into Github.

No, it's absolutely unnecessary. Even now, you've still failed to provide steps to reproduce your issue.

No it's not. Your website has an issue. I've don't recall ever having seen this behavior. Hence the need for you to provide steps to reproduce.

Please provide the 5 URLs.

[2019-04-24 05:34] michaeltorbert commented on #2344
Once again, you need to add steps to reproduce the issue. We can't do anything about special behavior on your website that can't be reproduced.
You can find troubleshooting steps to narrow down a plugin or theme conflict here: https://semperplugins.com/documentation/how-to-troubleshoot-issues-with-all-in-one-seo-pack/

As this issue in its current form is still not useful, I'm closing it too. It c

[2019-04-24 05:34] #2344 closed

[2019-04-24 06:28] gvburg commented on #2343
You are actually wrong. The link you provide on your own plugin overview on wordpress is the following: https://github.com/semperfiwebdesign/all-in-one-seo-pack/issues/new ... as there is no additional argument like "&template=bug_report.md" as you stated in your previous answer, this is again smth you did not provide properly.

I assume you meant "necessary", and you still fail to understand, tha

[2019-04-24 06:34] gvburg commented on #2344
Unfortunately, I already stated that I disabled all plugins and went through troubleshoot. I am certain this is a bug or a broken feature.

There is one way, and one way only to reproduce this bug: 1) install the plugin 2) do your settings as you wish, as I have attached the screenshot now. The XML has generated on it's own and has nothing to do with reproducable procedures.

As I now provided you

[2019-04-24 13:17] michaeltorbert opened #2345 "Bug report link should go directly to bug report template"
We may want two separate links for each template... bug report and feature request.

[2019-04-24 13:20] michaeltorbert commented on #2343
Clicking the "new issue" link takes you to a page where you choose which type of issue template to use. You're correct that the link in our plugin predates this Github functionality. I'll open an issue to change that.
https://github.com/semperfiwebdesign/all-in-one-seo-pack/issues/new/choose

Literally every other website AIOSEOP is installed on I've ever seen.

Not a single one of those is report

[2019-04-24 13:29] michaeltorbert commented on #2344
I care, it's simply that we can't do anything about that which we can't reproduce. Contrary to your claim, All in One SEO Pack uses absolute URLs.

The single other time we've seen this, there was another plugin that was interferring and causing the URLs to change into relative URLs. The changed URLs being a symptom of an issue that had nothing to do with All in One SEO Pack.

As your comments on

[2019-04-24 21:26] alexavd1 opened #2348 ""Title Tag for a Page" problem"
Hello, after update a plugin, i have a problem:
Although the option "Display site name" is disabled - it still shows.

In Title Settings - Title Format Fields  section i entered next text: %page_title%
so it have to be show without "My Site Title" but it shows anyway
![AIOS_01](https://user-images.githubusercontent.com/49962591/56695033-d0a26a80-66f0-11e9-81ad-c6a381c0e801.jpg)
![AIOS_02](https://

[2019-04-25 13:01] marsuby commented on #1798
Same here: Undefined variable post_type in aioseop_class.php on line 4249
... it's only showing up on the search results page.

[2019-04-25 13:58] arnaudbroes commented on #2348
@alexavd1 Properties aren't pages but custom post types.

[2019-04-25 13:58] #2348 closed

[2019-04-25 20:46] arnaudbroes opened #2349 "CSS for plugin icon applies to hardcoded ID"
Currently, our CSS targets #toplevel_page_all-in-one-seo-pack-aioseop_class. However, the ID of our admin menu's toplevel entry is based on the plugin directory name. This means that our plugin icon doesn't show when the plugin directory is named different than the default.

![image](https://user-images.githubusercontent.com/18156697/56767386-9d57ee00-6779-11e9-916a-3cade777c27d.png)

As far as I

[2019-04-25 20:47] arnaudbroes commented on #2282
I've fixed the Upgrade link but opened a separate issue (#2349) for the plugin icon.

[2019-04-25 21:21] arnaudbroes commented on #2349
Duplicate of #1861.

[2019-04-25 21:21] #2349 closed

[2019-04-25 21:23] arnaudbroes commented on #1861
@EkoJR I came to the same conclusion in #2349, however, the toplevel ID is generated by our plugin based off the plugin directory name. I'm guessing JavaScript is the only thing that will solve the trick here? Unless I'm mistaken, we can't dynamically change the target ID inside our CSS code.

[2019-04-25 21:36] arnaudbroes commented on #1574
Related to #1963.

[2019-04-25 21:36] arnaudbroes commented on #1963
Related to #1574.

[2019-04-25 21:41] #1574 closed

[2019-04-25 21:42] michaeltorbert commented on #1574
This is done: https://wordpress.org/plugins/all-in-one-seo-pack/

[2019-04-25 21:44] #2282 closed

[2019-04-25 21:49] arnaudbroes opened #2351 "Marketing - New plugin header for wp.org page"
https://wordpress.org/plugins/all-in-one-seo-pack/ should get a better looking plugin header.
https://developer.wordpress.org/plugins/wordpress-org/plugin-assets/#plugin-headers

[2019-04-25 22:32] arnaudbroes opened #2353 "Remove redundant global $aioseop_plugin_name"
https://github.com/semperfiwebdesign/all-in-one-seo-pack/blob/f2b6eca55f491b14ddcc8abe987a0e50c362c026/all_in_one_seo_pack.php#L44-L45

This global seems to be useless since nothing affect its value and it gets used to define a constant just a few lines beneath it.

https://github.com/semperfiwebdesign/all-in-one-seo-pack/blob/f2b6eca55f491b14ddcc8abe987a0e50c362c026/all_in_one_seo_pack.php#L77-L7

[2019-04-25 23:19] arnaudbroes opened #2356 "'All in One SEO Pack' string should be replaced with AIOSEOP_PLUGIN_NAME"
There's dozens of lines where we still use this as a string instead of the AIOSEOP_PLUGIN_NAME constant.

Once this is done, Pro will also no longer mention 'All in One SEO Pack' anywhere but only 'All in One SEO Pack Pro'.

[2019-04-25 23:42] arnaudbroes opened #2357 "Change 'All in One SEO' in sitemap"
This is yuck and should use the constant AIOSEOP_PLUGIN_NAME.
![image](https://user-images.githubusercontent.com/18156697/56774772-20853e00-6792-11e9-9d87-2d42708e2d4f.png)

[2019-04-26 12:36] michaeltorbert opened #2359 "Conflict with Tabs - Responsive Tabs with Accordions plugin"
**Provide the relevant URL(s) here**
Reported: https://wordpress.org/support/topic/content-not-showing-19
https://wordpress.org/plugins/vc-tabs/

**Describe the bug**
Content isn't showing on any of the tabs created by the "Tabs - Responsive Tabs with Accordions" plugin.

**To Reproduce**
Steps to reproduce the behavior:

...

[2019-04-26 14:00] arnaudbroes commented on #2359
Not a bug. "Run Shortcodes In Autogenerated Descriptions" needs to be disabled.

[2019-04-26 14:00] #2359 closed

[2019-04-26 15:21] wpsmort commented on #1798
Reported again here https://semperplugins.com/support/troubleshooting-all-in-one-seo-pack-pro/error-log-why-is-this-error-happening/

[2019-04-26 16:25] #1972 closed

[2019-04-26 19:38] #2353 closed

[2019-04-26 19:39] #2088 closed

[2019-04-26 20:10] arnaudbroes opened #2361 "DB migration to remove deprecated %blog_xxxx% macros"
%blog_title% and %blog_description% are deprecated since we've added the %site_title% and %site_description% macros, but at some point we'll probably want to do a migration.

[2019-04-26 20:10] arnaudbroes commented on #1271
At some point we'll probably want to do a db migration - #2361

[2019-04-26 20:12] michaeltorbert commented on #2361
No, we should continue to support %blog*% as a deprecated macro.

Database changes to post and metadata can cause significant and irreversible problems if done incorrectly, and should only be done in rare cases as a last resort. A deprecated macro isn't one of them.

[2019-04-26 20:12] #2361 closed

[2019-04-26 20:22] arnaudbroes commented on #1754
This will need a unit test as well.

[2019-04-27 16:31] arnaudbroes opened #2363 "Add Yandex and Baidu Webmaster Tools verification documentation"
Now that #875 has been addressed, we need to add two documentation pages:

https://semperplugins.com/documentation/yandex-webmaster-verification/
https://semperplugins.com/documentation/baidu-webmaster-verification/

[2019-04-27 23:00] arnaudbroes opened #2364 "Test compatibility with WordPress 5.2"
It's releasing on May 7.

[2019-04-27 23:20] michaeltorbert commented on #773
We need to verify that the referrer info is still passed. Check every browser (Chrome, Firefox, Safari, Opera, etc).

For testing, change the URL to one you can control and add in something to show you what, if any, referrer is passed.
For example:
`if ( isset( $_SERVER['HTTP_REFERER'] ) ) {
	echo "referrer: " . $_SERVER['HTTP_REFERER'];
}else{
	echo 'no referrer';
}`

[2019-04-28 00:40] arnaudbroes commented on #2363
@wpsmort both have been written. Can you review them?

[2019-04-28 15:26] arnaudbroes commented on #1790
@wpsmort can you see if you're able to reproduce this? I'm not able to.

[2019-04-28 15:31] arnaudbroes commented on #2127
This has been fixed on their end.

[2019-04-28 15:31] #2127 closed

[2019-04-28 15:56] arnaudbroes commented on #1337
#2366 needs to be merged first.

[2019-04-29 14:19] #1336 closed

[2019-04-29 14:23] #2357 closed

[2019-04-29 14:30] #875 closed

[2019-04-29 14:40] wpsmort commented on #2363
@arnaudbroes I have reviewed both documents and they are good to go.

[2019-04-29 15:10] arnaudbroes commented on #773
I tested this on Windows for Chrome, Firefox, Edge and Internet Explorer and the URL is still passed on.
@wpsmort can you test this in Safari? Just install the plugin, click either of the upgrade links and once you land on the plugin page, enter the document.referrer command into the JavaScript console.

[2019-04-29 15:33] wpsmort commented on #1790
@arnaudbroes I'm not able to reproduce this in any browser on Mac.  However, we can certainly improve the CSS for text input fields by setting a min-height instead of a fixed height.  I've created PR #2367 for this change.

[2019-04-29 15:51] #1790 closed

[2019-04-29 16:20] wpsmort commented on #773
I tested this in Chrome, Firefox, Safari and Opera on Mac and the referrer was passed each time.

[2019-04-29 16:20] #773 closed

[2019-04-29 21:40] arnaudbroes commented on #2242
Duplicate of #825.

[2019-04-29 21:40] #2242 closed

[2019-04-29 21:45] arnaudbroes commented on #825
I believe we can either

(1) add non-breaking space HTML entities (&nbsp;) to partial strings so that our translators take these into account;

or (2) remove the spaces from those partial strings and concatenate them as separate strings (for example "I am" . " " . "Arnaud Broes" or "I am" . "&nbsp;" . "Arnaud Broes"). This makes the code a little messier but also ensures translators can't make any

[2019-04-29 22:35] michaeltorbert commented on #825
Probably best to use placeholders https://codex.wordpress.org/I18n_for_WordPress_Developers#Placeholders

[2019-04-30 19:20] wpsmort opened #2368 "Bug - Trying to get property 'ID' of non-object in aioseop_module_class.php on line 1600"
Reported by Rex by email today.

It occurs on category archive pages.

Trying to get property 'ID' of non-object in /wp-content/plugins/all-in-one-seo-pack-pro/admin/aioseop_module_class.php on line 1600"

[2019-05-01 00:02] sbiese opened #2370 "Allowed length of site title and description"
I'm very disappointed that as long as Google has increased the limits for site titles and descriptions, I have to push your program into the red constantly since I know the limits have been increased. It's still an uneasy feeling seeing all that red. When will All In One SEO update these values?

https://user-images.githubusercontent.com/10327059/57000657-af270000-6b82-11e9-9e12-312382e97434.png

[2019-05-01 00:12] arnaudbroes commented on #2370
@sbiese I'm not sure why you'd think the character limit is any higher than that.

Google briefly changed the maximum length of meta descriptions last year, which we adjusted in our plugin accordingly, but after a few months they decided to revert the change, which we then also did.
The current title limit is still set at 600 pixels (which roughly corresponds with 60 characters) and the meta descr

[2019-05-01 00:12] #2370 closed

[2019-05-01 15:16] wpsmort commented on #2368
I've been unable to reproduce this on a clone of the customer site.  I was also unable to reproduce it on the live customer site.  I notified Rex and he also could not reproduce this on either the live site or a staging site.

[2019-05-01 15:19] EkoJR opened #2371 "Further encapsulate enqueue scripts to use with the parent class"
There's a some modules that still use their own method for enqueue scripts rather than the encapsulated method with the parent module base. Ideally, if it is a module, they should use inheritance to implement enqueuing scripts.

[2019-05-01 16:14] arnaudbroes opened #2372 "Create documentation on how to setup Xdebug, Grunt PHPUnit"
As discussed on our call.

[2019-05-01 19:28] arnaudbroes commented on #2372
@contactashish13 Ben will first see if he can figure it out with me.

[2019-05-01 21:26] arnaudbroes commented on #2372
@contactashish13 Ben and I were able to set it up so there's no more need. I'll create the documentation.

[2019-05-02 15:51] wpsmort opened #2373 "Help icons alignment is off in WP v5.2"
WordPress v5.2 changes CSS line-height values to be unitless - https://core.trac.wordpress.org/ticket/44643

This means that the line-height for .postbox .inside is changed from 1.4em to 1.4 and as a result, our help icon alignment in the 3.0 branch is affected.  See screenshot below:

<img width="583" alt="Screen Shot 2019-05-02 at 11 45 34 AM" src="https://user-images.githubusercontent.com/17548

[2019-05-02 15:53] michaeltorbert commented on #2373
When testing, we need to make sure the new CSS is appropriate in older supported versions of WP as well.

[2019-05-02 15:53] michaeltorbert commented on #2373
Also, since 3.0 may not be out before WP 5.2, we may need to consider a 2.12.1 release for this.

[2019-05-02 16:46] wpsmort commented on #2373
There are also problems with RTL styling:

<img width="593" alt="Screen Shot 2019-05-02 at 12 45 48 PM" src="https://user-images.githubusercontent.com/17548525/57091911-3b970700-6cd8-11e9-9bbb-73802b1abf52.png">

[2019-05-02 16:48] arnaudbroes commented on #2372
I've added these:

- https://github.com/semperfiwebdesign/all-in-one-seo-pack/wiki/Setting-up-Grunt-for-PHPStorm
- https://github.com/semperfiwebdesign/all-in-one-seo-pack/wiki/Setting-up-PHPUnit-for-PHPStorm
- https://github.com/semperfiwebdesign/all-in-one-seo-pack/wiki/Setting-up-Xdebug-for-PHPStorm

[2019-05-02 16:48] #2372 closed

[2019-05-02 17:38] wpsmort commented on #2364
I have tested compatibility and only found one problem.  Issue #2373 opened.

[2019-05-02 19:29] arnaudbroes opened #2375 "System Status section made redundant by new WP 5.2 Site Health feature"
WordPress 5.2's new Site Health function has whatever info we output in the System Status section (Perfomance module) and much more so we need to discuss what we want to do/how to proceed.

Should we take it out (and move the remaining features/settings elsewhere)? Do we want to expand it to match the amount of info Site Health has? etc.

![image](https://user-images.githubusercontent.com/18156697

[2019-05-02 19:30] michaeltorbert commented on #2375
We may want to look into just hooking into the new health check feature: https://make.wordpress.org/core/2019/04/25/site-health-check-in-5-2/

[2019-05-02 19:34] arnaudbroes opened #2376 "Use WP 5.2 Gutenberg field styling for our meta box/menus"
The latest release of Gutenberg affects our meta box styling (currently only for Posts and Pages as Steve correctly pointed out) and it seems like a big improvement. We should consider whether we want to replicate Gutenberg's styling across all our menus and meta boxes.

![image](https://user-images.githubusercontent.com/18156697/57101740-d6e7a680-6cef-11e9-9ed2-1c4516ae9028.png)

This only happen

[2019-05-02 20:05] arnaudbroes opened #2377 "Focus effects cut off on the left in metabox"
This only happens when the Gutenberg plugin is installed so I've asked in #core-editor on Slack what the difference between the plugin and built-in version is at this point.

This currently affects the focus effect on:

- the upgrade link;
- the character counter field;
- the checkboxes.

[2019-05-02 20:19] wpsmort commented on #2376
It's actually version 5.4 of the Gutenberg plugin released on April 3rd where they started overriding the styles of meta boxes added to the Edit Post / Edit Page screen by plugins.  I verified that this happens with meta boxes from other plugins (i.e. ACF).

I really like the styles and would be interested to know if the plan is to roll these styles out to all WP admin screens.  If the new styling

[2019-05-02 20:49] wpsmort commented on #2375
The Site Health Info screen provides some of the same information that we display in the System Status section of the Performance module.  We could use this to replace our System Status, adding in the additional information we need.

[2019-05-03 15:21] arnaudbroes commented on #2376
@wpsmort #core-editor considers it to be a bug in the Gutenberg editor so they will probably fix it. However, we should definitely copy the styling.

[2019-05-03 15:44] arnaudbroes opened #2380 "Add csslint and cssmin to Grunt"

[2019-05-03 16:00] arnaudbroes commented on #2377
#core-editor considers this to be a bug in the Gutenberg editor plugin so they will fix it; it doesn't affect the version of Gutenberg that's built-in into WordPress Core.

[2019-05-03 16:00] #2377 closed

[2019-05-03 16:01] #2373 closed

[2019-05-03 19:25] #1392 closed

[2019-05-03 19:26] arnaudbroes commented on #2252
Here's what we have now - https://docs.google.com/spreadsheets/d/1zaO5b4XabWiL_kbTa59SnvUadArtyZ5A153cWirPvhU/edit#gid=0

[2019-05-04 15:05] arnaudbroes commented on #2364
This can be closed now too.

[2019-05-04 15:05] #2364 closed

[2019-05-04 18:59] arnaudbroes commented on #2085
https://github.com/semperfiwebdesign/all-in-one-seo-pack/pull/2317 fixed noindex but didn't affect nofollow so that still has to be fixed.

[2019-05-04 19:06] arnaudbroes opened #2383 "switch is equivalent to "break" in aioseop_opengraph.php on line 971"
Reported by Anatolii P. on 5/4/2019 by e-mail.

I've requested login credentials so we access his website. He said he's using v2.12.

[2019-05-04 19:07] #1382 closed

[2019-05-05 21:26] arnaudbroes opened #2384 "Add additional scenarios to rewrite title unit tests"
Once https://github.com/semperfiwebdesign/all-in-one-seo-pack/pull/2360 is merged, I should expand those unit tests to include all page types (homepage, search page, 404 page, etc) as well as all scenarios (homepage title, aioseop title, homepage as a static page, etc)

[2019-05-06 07:04] ninadbe commented on #2145
hmm till date no solution

[2019-05-06 15:53] #1271 closed

[2019-05-06 16:23] wpsmort commented on #2185
Requested again by Vicky by email

[2019-05-07 12:46] arnaudbroes opened #2385 "Add documentation or FAQ on HTML <time> tag in SERPs"
We keep getting asked whether this is coming from All in One SEO Pack. It's not, so we should create a doc at some point which we can use to refer to (perhaps it can contain some code to take it out via the functions.php file).

On another note, @michaeltorbert do we have any interest in adding a feature like that in the future where we output a time tag into the source code?

[2019-05-07 13:52] michaeltorbert commented on #2385
Open an issue for it and we can talk about it.

[2019-05-07 14:55] michaeltorbert commented on #2345
We can't do this, as the template doesn't show up when you're not logged in.

[2019-05-07 14:55] #2345 closed

[2019-05-07 15:40] arnaudbroes opened #2386 "Add HTML <time> tag option"
We should consider adding an option for this -
![image](https://user-images.githubusercontent.com/18156697/57313066-cb63f900-70bc-11e9-863c-817f4488553d.png)

Related to #2385.

[2019-05-07 15:47] arnaudbroes opened #2387 "Unit Testing - Title format unit test not triggering wp_title()"
The title format unit test in test-rewrite-titles.php is not triggering the wp_title() function in aioseop-class.php which is why the title isn't being rewritten by the plugin. Currently, the tests aren't throwing any errors because the WP title is the same as the expected result, but when we'd expand the test with more macros (#2384), they'll start to fail.

@contactashish13 seems to have run int

[2019-05-07 15:54] wpsmort commented on #2386
Actually, were adding this as part of the Schema project as per Google's recommendations here - https://webmasters.googleblog.com/2019/03/help-google-search-know-best-date-for.html

Specifically, datePublished and dateModified will be added as part of #73.

[2019-05-07 15:58] arnaudbroes commented on #2386
@wpsmort does that result in the same snippet? I've seen sites where meta descriptions look like that without Schema.org markup but with the HTML `<time>` tag in the source code.

[2019-05-07 16:11] wpsmort commented on #2386
@arnaudbroes This is certainly what Google says you must do in order for them to display the date in SERPS.

To help Google to pick the right date, site owners and publishers should:

- Show a clear date: Show a visible date prominently on the page.
- Use structured data: Use the datePublished and dateModified schema with the correct time zone designator for AMP or non-AMP pages.

[2019-05-07 16:20] arnaudbroes commented on #2386
@wpsmort let's go with that then since I just found that `<time>` is a visible tag, which we do not want.

[2019-05-07 16:20] #2386 closed

[2019-05-07 18:34] michaeltorbert opened #2389 "Improve travis config"
Looking at some other configurations, I wonder if there are things we can do to improve ours.

For example:
https://travis-ci.org/Automattic/jetpack/builds/529421646/config
https://travis-ci.org/woocommerce/woocommerce/builds/529406948/config
https://travis-ci.org/easydigitaldownloads/easy-digital-downloads/builds/529410324/config

They have coding standards checks, PHP 7.3, WP nightly, etc.

[2019-05-07 20:41] arnaudbroes opened #2392 "Fix PHPCS missing line at end of test-rewrite-titles.php"

[2019-05-07 20:50] #2392 closed

[2019-05-08 14:49] arnaudbroes opened #2394 "Code Refactor - Refactor description code"
This enormous blob should have it's own class instead of being in aioseop-class.php and should be optimized as well.

[2019-05-08 14:49] arnaudbroes commented on #2387
This should looked after https://github.com/semperfiwebdesign/all-in-one-seo-pack/issues/2394 is done.

[2019-05-08 14:52] michaeltorbert opened #2395 "Remove Google Connect"
We have a bunch of code for Google Connect that isn't doing anything (mostly commented out). Should it be removed?

[2019-05-08 14:59] michaeltorbert opened #2396 "PHPCS"
We have a lot of exclusions. https://github.com/semperfiwebdesign/all-in-one-seo-pack/blob/master/phpcs.xml
We need to go through and address each. A separate issue should probably be made for each, many of which can be labeled "good first issue".

[2019-05-08 15:10] wpsmort commented on #1752
This was added as part of #1848

[2019-05-08 15:10] #1752 closed

[2019-05-08 15:10] #1754 closed

[2019-05-08 15:41] #2324 closed

[2019-05-08 16:36] arnaudbroes commented on #2043
When it has not been tested up to the latest version:
![image](https://user-images.githubusercontent.com/18156697/57391963-9673a700-718d-11e9-8e43-e43ddab00055.png)

When it has been tested up to the latest version:
![image](https://user-images.githubusercontent.com/18156697/57392027-bc994700-718d-11e9-9988-f93256045efa.png)

I don't see any advantages in this; only a disadvantage since we'd have

[2019-05-08 17:02] michaeltorbert commented on #2043
Yeah I don't see any point to this.

[2019-05-08 17:02] #2043 closed

[2019-05-08 17:23] arnaudbroes opened #2398 "XML sitemap menu shows "changes are automatically submitted" when pings are disabled"
"Changes are automatically submitted to search engines." is displayed even when there's no ping schedule. Does that make sense?

![image](https://user-images.githubusercontent.com/18156697/57394682-169d0b00-7194-11e9-813f-381827a9cd6a.png)

[2019-05-08 17:29] michaeltorbert commented on #2398
Yes.

[2019-05-08 17:29] #2398 closed

[2019-05-08 18:05] wpsmort commented on #2395
Yes, this code should be removed.  This connection method has now been replaced by the newer OAuth 2.0 from Google - https://developers.google.com/identity/protocols/OAuth2

See issue #140

[2019-05-08 18:08] michaeltorbert opened #2399 "Add noopener noreferrer to sitemaps.org link"
https://github.com/semperfiwebdesign/all-in-one-seo-pack/blob/master/inc/sitemap-xsl.php#L93

[2019-05-08 18:10] wpsmort commented on #140
The new connection method is OAuth 2.0 detailed here - https://developers.google.com/identity/protocols/OAuth2

[2019-05-08 18:12] wpsmort commented on #1635
We should keep an eye on the Google Site Kit plugin which is currently in development - https://sitekit.withgoogle.com/

[2019-05-08 18:42] #825 closed

[2019-05-08 19:46] arnaudbroes opened #2401 "i18n - Make Page Frequency options translatable"
https://github.com/semperfiwebdesign/all-in-one-seo-pack/blob/923c488b60339be714c9a54b4677b901908f7bbc/modules/aioseop_sitemap.php#L253-L255

These options can be translated by using the code below but URLs that are manually added display the translated frequency string in the sitemap so that first has to be addressed.

![image](https://user-images.githubusercontent.com/18156697/57403807-7bfaf700-

[2019-05-08 21:11] #2241 closed

[2019-05-08 21:21] #2121 closed

[2019-05-08 21:24] #1471 closed

[2019-05-08 21:25] michaeltorbert commented on #2401
The big question is do we even want to make these translatable?

[2019-05-09 13:19] arnaudbroes commented on #2401
@michaeltorbert I would since all other dropdowns have been made translatable already.

[2019-05-09 13:39] michaeltorbert commented on #2401
I'm closing this because I'm pretty sure these have to be in English.  https://www.sitemaps.org/protocol.html
Open it back up if you can find an authority source that says otherwise.

[2019-05-09 14:18] michaeltorbert commented on #2401
Ok I see what you're trying to do. You just want what's displayed to be translated, but the actual value to be English? If so, that code won't do it. Both the display and the value will be translated with that code.

[2019-05-09 14:28] arnaudbroes commented on #2401
@michaeltorbert that's correct. I'll have to change some things in the code so I'll do it later when we're working on 3.1.

[2019-05-09 15:14] michaeltorbert commented on #2218
Now that we've created a new notifications class, we've just converted it.

[2019-05-09 15:33] michaeltorbert opened #2404 "warning: invalid arg supplied for foreach aioseop_sitemap.php on line 941"
When testing #2403, and installing AIOSEOP on a fresh install of WP:

https://github.com/semperfiwebdesign/all-in-one-seo-pack/blob/d0b67da3b0084f73f4b7e5e53480cf42024c23fc/modules/aioseop_sitemap.php#L936-L942

Looks like this was added in https://github.com/semperfiwebdesign/all-in-one-seo-pack/pull/2379 by @EkoJR

[2019-05-09 17:45] michaeltorbert opened #2405 "Make WC upgrade button orange"
<img width="1098" alt="Screen Shot 2019-05-09 at 12 19 57 PM" src="https://user-images.githubusercontent.com/17364998/57474615-8973b800-7260-11e9-9d84-fe73671104ce.png">

It should be the same orange as the others, which I think is the orange from here but whoever works on this will want to doublecheck.
 https://make.wordpress.org/design/handbook/design-guide/foundations/colors/

[2019-05-09 18:03] michaeltorbert opened #2406 "Undefined variable post_type in aioseop_class.php on line 4249"
Reported here: https://wordpress.org/support/topic/error-bug-undefined-variable/

https://github.com/semperfiwebdesign/all-in-one-seo-pack/blob/master/aioseop_class.php#L4249

[2019-05-09 18:05] #2406 closed

[2019-05-09 19:05] #1854 closed

[2019-05-09 19:05] #2218 closed

[2019-05-10 14:40] michaeltorbert opened #2411 "Code Refactor - Replace doing_ajax constant with wp_doing_ajax"
Now that we don't support WP < 4.7, we can replace the old constant checks with the new (introduced in WP 4.7) wp_doing_ajax().
There are two instances in free, none in pro exclusively.

[2019-05-10 15:15] michaeltorbert opened #2412 "Use get_post_gallery_images"
See if we can optimize our code by using get_post_gallery_images().

https://github.com/semperfiwebdesign/all-in-one-seo-pack/blob/53b0a5f9c74941979d645caa4866145287f7e944/modules/aioseop_sitemap.php#L3435-L3437

[2019-05-10 15:24] #2311 closed

[2019-05-10 15:25] #1963 closed

[2019-05-10 15:25] #1861 closed

[2019-05-10 15:26] #1337 closed

[2019-05-10 15:33] arnaudbroes commented on #2296
This also affects the Twitter:description which is truncated to 200 character (maximum). Just adding a note here because this was confusing me.

[2019-05-10 15:55] arnaudbroes opened #2413 "Change character counter threshold for OG:title and OG:description"
As discussed here - https://github.com/semperfiwebdesign/all-in-one-seo-pack/issues/2139#issuecomment-453830817.

The maximum amount has already been adjusted to 95 characters for the title and 200 characters for the description but we still need to change the "yellow" threshold to 55 characters.

[2019-05-10 17:20] wpsmort commented on #2246
This was removed in PR #2390

[2019-05-10 19:25] arnaudbroes opened #2415 "Add dedicated file with constants"
As https://github.com/semperfiwebdesign/all-in-one-seo-pack/pull/2414 and many other issues/PRs show us, we need to have a dedicated file for constants so we don't have to change variables all over the place each time we want to make minor changes.

[2019-05-10 19:52] arnaudbroes commented on #1332
I set up a IIS web server on Windows Server 2016, installed WordPress 5.2 and All in One SEO Pack v2.12.1 and couldn't reproduce this error. There are no error entries in the log files.

I'm a 100% certain this issue is related to IIS on Windows and is a user configuration issue where the application pool node does not have sufficient access/read permissions. In other words: not an issue on our en

[2019-05-10 19:52] #1332 closed

[2019-05-10 20:47] michaeltorbert commented on #534
Considering we're moving in the direction of indexes, we should probably just remove all compression functionality since it doesn't really benefit us at all.

[2019-05-10 20:49] arnaudbroes opened #2416 "Documentation - Add doc on how to fix overlapping meta box in Gutenberg"
We need to add a doc to explain this as I have no doubt people will keep creating bug reports and opening support threads.

[2019-05-10 20:49] arnaudbroes commented on #2128
Just as a follow up and FYI:

I just had this issue with All in One SEO Pack and no other plugins and the default theme. After looking around, I was able to confirm again that this isn't coming from our end and found out it happens whenever a plugin (or something else) is outputting something in the source code of the Edit page before the HTML document declaration. In my case, this was WP_DEBUG di

[2019-05-11 14:37] michaeltorbert commented on #1759
I'm no longer able to reproduce this.

[2019-05-11 14:41] michaeltorbert commented on #1361
As we're doing away with compression, this can be closed.

[2019-05-11 14:41] #1361 closed

[2019-05-11 23:39] michaeltorbert commented on #425
This option has already been removed.

[2019-05-11 23:39] #425 closed

[2019-05-12 00:12] michaeltorbert commented on #69
Looking at the code, this doesn't really do anything useful, except other options conditionally depend on it.
It's used in:
aioseop_class.php
aioseop_performance.php
class-aioseop-helper.php

[2019-05-12 00:15] michaeltorbert commented on #550
Duplicate of #359

[2019-05-12 00:15] #550 closed

[2019-05-12 10:24] JakubPie opened #2423 "Sitemap Priorities and Frequencies options don't work for main page"
Sitemap: value change in Priorities and/or Frequencies for a main page does not reflect in sitemap.xml file - still shows "old" values.

[2019-05-12 19:46] michaeltorbert commented on #869
This has been reported again by Brandon via email. Even though this seems to be a cosmetic-only issue (ie the memory limit isn't really only 40MB) we should take a look at if and how we can resolve this.

[2019-05-12 19:54] michaeltorbert commented on #869
This has been reported again by Brandon via email. Even though this seems to be a cosmetic-only issue (ie the memory limit isn't really only 40MB) we should take a look at if and how we can resolve this.
https://github.com/woocommerce/woocommerce

[2019-05-13 14:19] #1929 closed

[2019-05-13 14:19] #2257 closed

[2019-05-13 16:23] arnaudbroes opened #2424 "Autogenerated OG:descriptions longer than 200 chars for certain languages"
We're not truncating the OG:description at the moment, which causes issues with some foreign languages like Chinese because these do not use spaces. The OG:description is often longer than 200 characters as the code trims off the description up to the next space character after the first 200 characters. This is usually the next paragraph for these languages.

I would be in favour of simply truncat

[2019-05-13 16:56] wpsmort opened #2425 "Update / Add screenshot for user profile fields"
In #39 we add a title to the fields we add to the Edit User Profile screen.  We need to update the screenshot here - https://semperplugins.com/documentation/social-meta-module/#show-twitter-author and add a screenshot here - https://semperplugins.com/documentation/social-meta-module/#show-facebook-author-on-articles

[2019-05-13 17:16] #39 closed

[2019-05-13 19:21] arnaudbroes commented on #1688
I have been able to reproduce this with these settings:

![image](https://user-images.githubusercontent.com/18156697/57648178-cb6b6980-7592-11e9-9a1d-d45e2f2ea67f.png)

![image](https://user-images.githubusercontent.com/18156697/57648145-b4c51280-7592-11e9-9cae-1cc4087c875a.png)

[2019-05-13 20:00] arnaudbroes commented on #1671
I'm certain this was happening because of the `$posts = new WP_Query();` line he had in his static PHP page as this notice could only have been thrown if `$query->posts` on line 2684 contains something other than an array.

https://github.com/semperfiwebdesign/all-in-one-seo-pack/blob/8b5b6308a5685744f8edd07fded745d8a441c212/aioseop_class.php#L2415-L2426

[2019-05-13 20:00] #1671 closed

[2019-05-13 20:14] arnaudbroes commented on #2283
After we've improved the look, we should also go through all tooltips and add line breaks or other formatting where needed.

[2019-05-13 20:25] arnaudbroes commented on #1306
In retrospect, this is quite clear, but the punctuation could be improved and there are two slashes being escaped while they don't have be.

[2019-05-13 21:19] arnaudbroes opened #2429 "Manually entered OG Description is being truncated to 1,000 characters"
https://github.com/semperfiwebdesign/all-in-one-seo-pack/pull/2409#issuecomment-491968899

I'm not sure why we are doing this. There are a few websites that say that the OG:description allows up to a maximum of 1,000 characters and we also used to say this in the plugin before https://github.com/semperfiwebdesign/all-in-one-seo-pack/commit/d0b67da3b0084f73f4b7e5e53480cf42024c23fc was merged so we

[2019-05-13 21:34] #528 closed

[2019-05-13 21:43] wpsmort opened #2430 "Incorrect output with Article Tags options in Social Meta module"
Whilst testing PR #2427 I found that the output in the article:tag meta tag don't correspond to the checkboxes that are checked under Social Meta > Facebook Settings > "Use xxxx in Article Tags".

This happens with the current version of AIOSEOP.

**Describe the bug**
Under Facebook Settings, there are three checkboxes related to Article Tags, these are:
- Use Keywords in Article Tags
- Use Catego

[2019-05-13 21:51] arnaudbroes commented on #2430
@wpsmort have you checked whether this isn't happening because the "Use Categories for META keywords" and "Use Tags for META keywords" settings in the General Settings menu are enabled and its using those keywords?

[2019-05-13 22:00] wpsmort commented on #2430
@arnaudbroes Great catch!  Yes, that's exactly what this was.  Closing this as it's irrelevant.

[2019-05-13 22:00] #2430 closed

[2019-05-13 22:06] #534 closed

[2019-05-13 22:15] #1306 closed

[2019-05-13 22:15] #1757 closed

[2019-05-13 22:28] wpsmort commented on #869
I've emailed Mike Jolley at WooCommerce about this.

[2019-05-13 22:42] arnaudbroes commented on #2429
We have decided to stop truncating the OG:description as we couldn't find any reputable source that says there's a maximum of 1,000 characters, including the official Open Graph website.

[2019-05-13 22:44] arnaudbroes commented on #2424
We have decided to truncate it to 200 characters which will fix this for all languages.

[2019-05-14 13:18] arnaudbroes opened #2432 "Make All in One SEO Pack untranslatable"
We discussed and no longer want the brand/product name to be translatable so we just need to replace it with AIOSEOP_PLUGIN_NAME wherever it occurs.

[2019-05-14 13:26] michaeltorbert commented on #2432
This should be looked at on a case by case basis to determine whether "Pro" is appropriate.

[2019-05-14 13:33] EkoJR commented on #2246
Confirming it was removed, and closing this issue.

[2019-05-14 13:33] #2246 closed

[2019-05-14 13:40] #1688 closed

[2019-05-14 17:48] arnaudbroes commented on #2283
Here's what I would do as far as the styling of the tooltip and its content goes:
![image](https://user-images.githubusercontent.com/18156697/57719931-c10ea580-764e-11e9-95b0-31b6ea39fc36.png)

What I would also like to do is add the setting name/title to all tooltips so they look like this:
![image](https://user-images.githubusercontent.com/18156697/57719986-e7ccdc00-764e-11e9-8fe9-6c3e67aa5b69.p

[2019-05-14 18:40] arnaudbroes opened #2435 "Improve help text and formatting for tooltips"
The tooltips for title format fields could look like this for example:

![image](https://user-images.githubusercontent.com/18156697/57723145-02ef1a00-7656-11e9-9c3d-f5707474c4fe.png)

[2019-05-14 18:44] wpsmort opened #2437 "Remove documentation for Preferred Site Name"
In #1282 we remove the option for Set Preferred Site Name.  When 3.0 is ready for release, we need to complete the following tasks:

- [x] Remove this setting from the documentation here https://semperplugins.com/documentation/google-settings/#set-preferred-site-name
- [x] Update the screenshot here https://semperplugins.com/documentation/google-settings/

[2019-05-14 18:51] wpsmort commented on #2283
I like the proposed design and changes. The only additional change I'd suggest is adding a triangle to the top left of the bubble that points to the help icon.  See the example below of the WooCommerce tooltips:

<img width="237" alt="Screen Shot 2019-05-14 at 2 50 01 PM" src="https://user-images.githubusercontent.com/17548525/57723973-ccb29a00-7657-11e9-946b-6144339df5bf.png">

[2019-05-14 19:01] wpsmort commented on #869
Mike responded to ask if we've ruled out that this may be related to the code here - https://github.com/semperfiwebdesign/all-in-one-seo-pack/blob/ef0349e9312809079e484ff356295367ff599c05/all_in_one_seo_pack.php#L197

He said that "The system status report in WooCommerce simply grabs the WP Memory Limit constant here https://github.com/woocommerce/woocommerce/blob/0e80030f0b48ed3f520401b2341c4f3a3

[2019-05-14 19:46] michaeltorbert commented on #869
The relevant parts of our code are:

https://github.com/semperfiwebdesign/all-in-one-seo-pack/blob/39c6de463eeca92bbc50729b5746d3ac519780e5/all_in_one_seo_pack.php#L134-L200

https://github.com/semperfiwebdesign/all-in-one-seo-pack/blob/master/modules/aioseop_performance.php#L135-L147

https://github.com/semperfiwebdesign/all-in-one-seo-pack/blob/master/modules/aioseop_performance.php#L194-L203

[2019-05-14 19:47] michaeltorbert commented on #869
WooCommerce:

https://github.com/woocommerce/woocommerce/blob/0e80030f0b48ed3f520401b2341c4f3a3319a356/includes/api/v2/class-wc-rest-system-status-v2-controller.php#L600-L602

[2019-05-14 20:13] arnaudbroes commented on #2283
I tried implementing Steve's suggestion and although it looks great, we can't implement it. If a tooltip doesn't fit on the screen (for example when someone wants to view a tooltip for an option at the bottom of the screen), then it is displayed above, and we can't dynamically adjust the pointer in that scenario.

[2019-05-14 21:47] #1366 closed

[2019-05-15 00:40] arnaudbroes opened #2439 "Excerpt printed in description when "Autogenerate Descriptions" is disabled"
When "Autogenerate Descriptions" is disabled, the plugin outputs the entire excerpt (if the page has one) into the description.

*Steve has confirmed this as well.

[2019-05-15 16:06] #1282 closed

[2019-05-15 16:06] #2139 closed

[2019-05-15 16:16] #2283 closed

[2019-05-15 16:17] #2429 closed

[2019-05-15 16:17] #2424 closed

[2019-05-15 17:01] EkoJR opened #2440 "Add custom css class to tooltip to prevent conflicts"
After PR #2438 I realized there was a conflict with other plugins that use tooltips.

**To Reproduce**
Steps to reproduce the behavior:
1) Install and Activate Advanced Post List.
2) Go to Adv. Post List > New Post List.
3) Hover over help icon to display tooltip.

**Expected behavior**
The CSS styling from AIOSEOP should not affect the styling of other plugins.

**Screenshots**
![tooltip-conflict

[2019-05-15 17:48] michaeltorbert opened #2442 "Condense title format functions"
We have multiple functions to replace placeholders in the title:

get_title_format()
title_placeholder_helper()
apply_tax_title_format()
apply_description_format()

Is there any reason why we shouldn't combine these into a single function?

[2019-05-15 18:03] arnaudbroes commented on #2442
This is basically why I opened https://github.com/semperfiwebdesign/all-in-one-seo-pack/issues/2394. All of that code needs to be moved to its own class/file and needs to be refactored.

[2019-05-15 18:15] #2440 closed

[2019-05-15 18:19] aquorange opened #2444 "Translation requests don't always match correct language"
There is only one german translation waiting: Your product name which could hardly be translated - would be funny ;-) So you could simply close all requests for help on the german translation by approving this one.
Best, C

[2019-05-15 18:24] michaeltorbert commented on #2444
@aquorange Unfortunately we're not able to approve strings. Only a Project Translation Editor, which is a translator submitted by us and approved by the wordpress.org translation staff, can approve them.

We have an issue open to remove the plugin name from being translated: https://github.com/semperfiwebdesign/all-in-one-seo-pack/issues/2432

If you'd like to be a Project Translation Editor for t

[2019-05-15 18:29] michaeltorbert commented on #2444
Reopening this issue as I just realized the issue (bug?) that it's reporting 80% complete (which is the completeness for German (formal) instead of 99%.

[2019-05-15 20:54] michaeltorbert opened #2446 "Create documentation for new title formatting filter hook"
Added in #942

Example:

[code]

Example with function:

[code]

[2019-05-15 20:58] michaeltorbert opened #2447 "Create unit tests for new aioseop_title_format filter hook"

[2019-05-15 21:46] michaeltorbert opened #2448 "Add get_user_locale to translation class"
replace get_locale()

[2019-05-16 05:25] notti17 opened #2449 "Soli Deo gloria"
WEBデザイン
WEBコンサルタント

[2019-05-16 12:56] #2449 closed

[2019-05-16 14:32] michaeltorbert opened #2450 "Formal languages aren't translating"
While doing #2444, I discovered that Dutch Formal, German Formal, etc aren't translating for AIOSEOP.

[2019-05-16 14:32] michaeltorbert commented on #2450
@arnaudbroes Can you see when this bug was introduced?

[2019-05-16 18:54] michaeltorbert opened #2452 "Remove space for translators"
This is for both free and pro.

In pro we have " Need a license key?" and in free we include the string so it's translated. We need to remove this space in both places.

[2019-05-16 19:42] michaeltorbert opened #2454 "Grunt won't fail"
Grunt is autocorrecting (locally) and so doesn't fail when it comes across problems. I think it's this: https://github.com/semperfiwebdesign/all-in-one-seo-pack/blob/master/Gruntfile.js#L48

We need to decide whether we want that behavior or not.

[2019-05-16 19:58] michaeltorbert opened #2455 "translation link is broken for German (formal)"
If you've set the language to German (formal), the contribution link goes to https://translate.wordpress.org/projects/wp-plugins/all-in-one-seo-pack/dev/de/default/ instead of https://translate.wordpress.org/projects/wp-plugins/all-in-one-seo-pack/dev/de/formal/

[2019-05-16 20:04] michaeltorbert commented on #2455
This is fixed in the same issue.

[2019-05-16 20:08] #2452 closed

[2019-05-16 21:51] michaeltorbert opened #2456 "Remove newline from translatable string"
There should be a newline, it just shouldn't be translatable. Either use a placeholder or concatenate earlier.

https://github.com/semperfiwebdesign/all-in-one-seo-pack/blob/53b0a5f9c74941979d645caa4866145287f7e944/admin/aioseop_module_class.php#L1238

https://github.com/semperfiwebdesign/all-in-one-seo-pack/blob/53b0a5f9c74941979d645caa4866145287f7e944/admin/aioseop_module_class.php#L1243

and ma

[2019-05-17 07:56] djboris88 commented on #1616
This is how I fixed it, since I believe it happens only if the static homepage is being loaded.

These are lines 1622-1626 in [`All_in_One_SEO_Pack::get_aioseop_title`](https://github.com/semperfiwebdesign/all-in-one-seo-pack/blob/1eb745292046d926fecf7ecf65663807cde4cce3/aioseop_class.php#L1622-L1626), latest version:
[code]

So if the global `$post` is null, I suppose it is the static frontpage,

[2019-05-17 13:09] arnaudbroes opened #2457 "Undefined index: aiosp_sitemap_rss_sitemap in aioseop_sitemap.php on line 1708"
Reported here - https://wordpress.org/support/topic/some-errors-in-plugin/

[2019-05-17 13:10] arnaudbroes opened #2458 "Undefined variable: post_type in aioseop_class.php on line 4249"
Reported here - https://wordpress.org/support/topic/some-errors-in-plugin/

WordPress: v5.1.1
AIOSEOP: v2.12.1 with XML Sitemap and Social Meta modules activated

[2019-05-17 15:36] michaeltorbert commented on #1120
Duplicate of #1760

[2019-05-17 15:36] #1120 closed

[2019-05-17 15:37] michaeltorbert commented on #1760
Suggestion from Hiroaz https://wordpress.org/support/topic/get-ogp-title-and-description-via-wordpress-rest-api/

`add_action( 'rest_api_init', 'adding_post_meta_rest' );
function adding_post_meta_rest() {
  register_rest_field( 'post',
	'_aioseop_title',
	array(
		'get_callback'      => 'post_meta_callback',
		'update_callback'   => null,
		'schema'            => null,
	)
   );
  register_rest_fi

[2019-05-17 18:53] #2444 closed

[2019-05-17 18:53] #2455 closed

[2019-05-17 18:54] #2435 closed

[2019-05-17 19:27] arnaudbroes commented on #2454
@EkoJR will have to back me up here but I think we could simply change the order of our Grunt tasks and run PHPCS before PHPCBF so that Travis will fail when there are errors that need to be fixed, but so we can also still run PHPCBF as a separate task in PHPStorm to fix the issues.

[2019-05-17 20:38] arnaudbroes commented on #681
We'll discuss https://github.com/semperfiwebdesign/all-in-one-seo-pack/issues/2375 first.

[2019-05-17 22:09] EkoJR commented on #2454
@arnaudbroes Sounds possible, but running local tests phpcbf is intended to run prior, and I wonder if putting it in last will turn out confusing; getting errors to errors that no longer exists.

I'm leaning more towards adding a seperate test, so that there would be two types. 1) `default` used by travis 2) `dev` for local development tests.

`default` would be strictly error checking and code sn

[2019-05-18 12:51] michaeltorbert commented on #2454
That sounds like a great idea.

[2019-05-18 12:52] #942 closed

[2019-05-18 13:13] contactashish13 commented on #2454
why do we not like grunt auto-correcting the errors?

[2019-05-18 13:18] arnaudbroes commented on #2454
@contactashish13 we don't want Grunt auto-correcting errors in Travis so that build will fail if there still are errors that haven't been resolved. I believe @EkoJR has set up a second batch of Grunt tasks for dev use which still includes PHPCBF.

[2019-05-18 13:21] contactashish13 commented on #2454
@arnaudbroes phpcbf corrects errors that it can auto correct. That's what we depend on locally as well as developers. For example, it would be a terrible waste of time to manually fix each line that should have spaces instead of tabs and phpcbf does that for you. That is after all the task of a JS task runner. As far as errors that phpcbf cannot fix, if I commit them grunt will fail because they h

[2019-05-18 13:22] michaeltorbert commented on #2454
Ben can correct me if I'm wrong, but I think the idea is that PHPCBF is correcting errors in travisci (locally only within the travis container), so then it never fails coding standards checks.

Autocorrecting locally on a dev machine is good of course.

I think the plan is to figure out a way autocorrect can happen during dev but not in travis builds.

[2019-05-18 13:33] contactashish13 commented on #2454
@michaeltorbert that's what I've mentioned that that's what its job is - to correct errors that can be corrected. It cannot and does not correct errors that need manual intervention. Are we talking about simple phpcbf-correctable errors or manual phpcbf-non-correctable errors? Both run identically on local and travis.

[2019-05-18 13:36] michaeltorbert commented on #2454
This is in the context of travisci, not a developer's local machine.
My understanding is that the errors corrected by grunt are only temporary and local to travis, which causes subsequent checks to pass when they should fail, if grunt wasn't previously run by a developer with the changes committed.

[2019-05-18 13:38] contactashish13 commented on #2454
Ok so do you want jobs to fail because of a (simple) error that WordPress was spelled incorrectly (just as an illustration) or had tabs instead of spaces and the developer knew that phpcbf would run and correct these things?

[2019-05-18 16:41] EkoJR commented on #2454
From what I've found, `phpcs` is built to work in conjunction with `phpcbf`. Even with `phpcbf` removed from install, I still end up with an error log saying at the end...

...and I haven't found a way to get around requiring phpcbf. It also appears the php_codesniffer devs don't have an alternative. https://github.com/squizlabs/PHP_CodeSniffer/issues/981

I also found an error with the latest nod

[2019-05-19 12:34] michaeltorbert commented on #2454
https://github.com/marketplace/codefactor looks like it can "automatically" do the changes for php codesniffer.

[2019-05-19 19:51] EkoJR commented on #2454
I took a look into applying a patch through travis, and it does seem possible. However, it does require a secure api key to be setup for each repository, which is then added to travis encrypted variable, then added to the travis yml

This is one of the examples...
https://gist.github.com/willprice/e07efd73fb7f13f917ea

The problem with this, it requires...

1) Seems limited to 1 repo; which won't

[2019-05-19 19:56] EkoJR commented on #2454
@michaeltorbert I did a quick search, and can't find anything on 'codefactor + wpcs'.

[2019-05-20 21:26] arnaudbroes commented on #2363
Documentation has been published.

[2019-05-20 21:26] #2363 closed

[2019-05-21 17:08] michaeltorbert opened #2462 "Add index files to each directory"
We had a user report that Google was indexing his directory index page created by mod_autoindex.
We should include an index.php in every directory that doesn't have one to avoid this.

[2019-05-21 18:21] wpsmort commented on #2462
Will a PR need to be created in the Pro repo to add an index.php file to the pro/ directory and it's subdirectories?

[2019-05-21 18:28] michaeltorbert commented on #2462
Good catch. I've opened an issue.

[2019-05-22 11:33] #2462 closed

[2019-05-22 19:03] wpsmort commented on #2258
Documentation added here - https://semperplugins.com/documentation/how-does-the-import-process-for-seo-data-work/

[2019-05-22 19:03] #2258 closed

[2019-05-22 19:15] wpsmort opened #2464 "Update docs for Google Settings section"
Now that we've removed all settings related to Google+, we need to update the docs here - https://semperplugins.com/documentation/google-settings/

[2019-05-22 19:30] wpsmort commented on #2464
This is done.  I have also deleted the documentation for Authenticating your site with Google which is no longer needed (it referred to authentication via Google+).

[2019-05-22 19:30] #2464 closed

[2019-05-22 19:30] wpsmort commented on #2437
This has been completed.

[2019-05-22 19:30] #2437 closed

[2019-05-22 19:57] wpsmort commented on #2425
This has been done.

[2019-05-22 19:57] #2425 closed

[2019-05-22 20:05] wpsmort opened #2465 "Remove docs for Enable Custom Canonical URLs"
Related to #528

Remove the documentation here - https://semperplugins.com/documentation/general-settings/#enable-custom-canonical-urls

Update the screenshot here - https://semperplugins.com/documentation/general-settings/

[2019-05-22 20:06] wpsmort commented on #2465
This is done.

[2019-05-22 20:06] #2465 closed

[2019-05-22 20:21] michaeltorbert opened #2466 "Add indication that we put sitemap link in robots.txt"
related to #535

This is the same sort of indication we need for other things we do behind the scenes that don't have a setting, such as pinging Google, etc.

[2019-05-22 20:47] stefanofantin1981 opened #2467 "Full Stack RDF for semantic web"
Hello at all,
my name is Stefano Fantin and my opinion is that json linked data are important for big schema and google support json linked data.
The search engine say "if exist to find" so RDF is important to build semantic web page for neural network on rank brain.
My opinion on rank brain is full stack rdf for learning to neural network.
I think that there is not only open graph but also rdf su

[2019-05-22 20:52] EkoJR opened #2468 "Empty items for exclude terms to select on sitemap settings"
**Describe the bug**

Loading the sitemap settings for the first time will show no taxonomy terms to select in the Exclude Terms option.

This occurs because the default setting hasn't had a chance to add the taxonomies aioseop will use.

This changes when options are saved.

**To Reproduce**
Steps to reproduce the behavior:
1. Do a fresh install/activation of AIOSEOP. (use phpMyAdmin to delete ai

[2019-05-22 20:58] wpsmort opened #2469 "Rename clean_url() to avoid false deprecation positives"
When running the plugin files through https://wpseek.com/pluginfilecheck/ this deprecated function was identified:

clean_url is deprecated since WordPress 3.0.0
esc_url() all-in-one-seo-pack-3.0/modules/aioseop_sitemap.php

https://github.com/semperfiwebdesign/all-in-one-seo-pack/blob/53b0a5f9c74941979d645caa4866145287f7e944/modules/aioseop_sitemap.php#L3387

(edited by Michael to add link to cod

[2019-05-22 21:36] wpsmort commented on #1229
The documentation has been updated.

[2019-05-22 21:36] #1229 closed

[2019-05-22 21:57] michaeltorbert commented on #2469
This is actually our own internal function, not WP's. We can just rename it to avoid false positives.

[2019-05-22 22:09] michaeltorbert opened #2472 "improve grunt/coding standards/sniffs"
Maybe take some guidance from some other projects.
https://github.com/Automattic/jetpack/blob/master/.phpcs.xml.dist looks pretty good.

Also look at ones we should be customizing, such as minimum WP version

* https://github.com/WordPress-Coding-Standards/WordPress-Coding-Standards/wiki/Customizable-sniff-properties
* https://github.com/squizlabs/PHP_CodeSniffer/wiki/Advanced-Usage

[2019-05-22 22:15] EkoJR commented on #2472
When applying coding standard updates, try to isolate your changes to each module for testing purposes. So that each module has their own PR. This will make testing easier and less widespread.

[2019-05-22 22:19] wpsmort commented on #2256
This is done.  I've updated the doc here - https://semperplugins.com/documentation/submitting-an-xml-sitemap-to-google/

[2019-05-22 22:19] #2256 closed

[2019-05-22 22:28] wpsmort commented on #1895
PR #2473

[2019-05-22 22:46] kickbk commented on #154
Same as @wpsmort social meta tags are missing in custom post type archive templates

[2019-05-23 08:19] contactashish13 commented on #1747
@arnaudbroes I believe this can be closed in preference to #1846

[2019-05-23 09:18] contactashish13 commented on #1875
This needs discussion keeping the following in mind:

- a permalink is created when the post is published. That is why it shows an ugly permalink till the post is in auto-draft status
- when creating a new post, the post title is empty till the user starts typing.
- do we want the permalink to keep updating as the title updates?
- do we want to hide the snippet area till the post is published?

so

[2019-05-23 11:46] michaeltorbert commented on #1747
@contactashish13 We aren't necessarily removing that option yet, so this can't be closed.

[2019-05-23 12:01] michaeltorbert opened #2475 "Update title as user is typing (Gutenberg)"
While the user is typing a title, our doc title should update at the same time.

[2019-05-23 12:01] michaeltorbert commented on #1875
The permalink is created when a draft is saved as well.

As soon as a permalink is created, ours should update as well.

[2019-05-23 13:11] iamchana opened #2476 "File Editor does not appear on WordPress Admin Bar"
![seo](https://user-images.githubusercontent.com/50954361/58255139-83b8bf00-7d96-11e9-9a56-44b922c60ce7.png)

I have activated the File Editor under Feature Manager. But the menu does not appear on the admin sidebar. Please see screenshot attached.

Thanks in advance.
Chana

[2019-05-23 15:35] wpsmort commented on #2476
Please refer to our documentation - https://semperplugins.com/documentation/the-file-editor-or-robots-txt-modules-are-missing/

This is not a support forum.

[2019-05-23 15:35] #2476 closed

[2019-05-23 17:08] michaeltorbert opened #2477 "Create security policy"
https://github.com/semperfiwebdesign/all-in-one-seo-pack/security/policy
https://help.github.com/en/articles/adding-a-security-policy-to-your-repository

[2019-05-23 18:25] arnaudbroes commented on #2466
Related to https://github.com/semperfiwebdesign/all-in-one-seo-pack/issues/1166.

[2019-05-23 19:02] wpsmort commented on #2446
@arnaudbroes Please review the draft doc here https://semperplugins.com/?post_type=documentation&p=4802.  If it's good, go ahead and publish it.

[2019-05-23 19:31] michaeltorbert opened #2478 "custom Github og image"
Github now supports custom OG images for repositories.

1) Is this only for the repo page itself? What about issues?
2) Design a nice image
3) Github mentions they have a template of some kind to get started. https://github.blog/2019-04-17-custom-open-graph-images-for-repositories/

[2019-05-23 19:36] michaeltorbert opened #2479 "Add .github/FUNDING.yml"
https://github.blog/2019-05-23-announcing-github-sponsors-a-new-way-to-contribute-to-open-source/

[2019-05-23 20:12] michaeltorbert commented on #2309
create issue for phpdoc

[2019-05-23 20:13] michaeltorbert commented on #2308
create issue for phpdoc

[2019-05-23 20:15] #2274 closed

[2019-05-23 20:20] #1917 closed

[2019-05-23 20:29] #945 closed

[2019-05-23 20:33] wpsmort commented on #1956
This has been fixed for when the Social Settings tab is not present but needs improving when the Social Settings tab is present.  See screenshots:

<img width="824" alt="Screen Shot 2019-05-23 at 4 23 57 PM" src="https://user-images.githubusercontent.com/17548525/58284108-eea6cd80-7d77-11e9-90c2-90f1276997a1.png">

<img width="815" alt="Screen Shot 2019-05-23 at 4 25 09 PM" src="https://user-image

[2019-05-23 20:34] EkoJR commented on #2150
Nonce verification is called in prior functions. So, this would be more of a refactor of other variables that access global variables `$_POST` & `$_GET` so that they aren't being accessed outside the initial function.

[2019-05-23 20:46] wpsmort commented on #1956
@arnaudbroes This is a simple fix, just remove margin-right: 45px; from here - https://github.com/semperfiwebdesign/all-in-one-seo-pack/blob/1eb745292046d926fecf7ecf65663807cde4cce3/css/modules/aioseop_module.css#L136

That shouldn't affect anything else so I'm not sure why that margin was added.

[2019-05-23 20:55] michaeltorbert opened #2480 "fix filter hook parameters"
In https://github.com/semperfiwebdesign/all-in-one-seo-pack/commit/7c504495b31e1bfac7e3bb6fdc3b2d8d2bb99be8 10, 1 shouldn't be there.

[2019-05-23 20:58] wpsmort opened #2481 "Add docs for generate_descriptions_from_content filters"
Add docs for the two new filters added here - https://github.com/semperfiwebdesign/aioseop-pro/issues/185

[2019-05-23 21:01] wpsmort commented on #2481
@arnaudbroes Please review the new docs here:

https://semperplugins.com/?post_type=documentation&p=4811
https://semperplugins.com/?post_type=documentation&p=4814

[2019-05-23 21:19] arnaudbroes opened #2482 "Figure out how to set up Grunt on MacOS"

[2019-05-23 21:32] wpsmort commented on #2309
The documentation has been updated.

@arnaudbroes to do the phpdoc

[2019-05-23 22:57] arnaudbroes commented on #1956
@wpsmort that fixes it. Is it normal though that the help icon jumps from the collapsable menu bar to its position next to the upgrade link when the Social Meta module is enabled?

Social Meta menu disabled:
![image](https://user-images.githubusercontent.com/18156697/58291728-c3939c80-7dbe-11e9-85fe-94d15652ab38.png)

Social Meta menu enabled:
![image](https://user-images.githubusercontent.com/181

[2019-05-23 23:03] michaeltorbert commented on #1884
I think we've reached a pretty good process, so I'm closing this.
Anyone can feel free to reopen.

[2019-05-23 23:03] #1884 closed

[2019-05-23 23:06] arnaudbroes commented on #1884
I'll still create documentation for this in the GitHub wiki at some point but I agree that this can be closed.

[2019-05-23 23:06] michaeltorbert commented on #1884
You should open an issue for that then.

[2019-05-24 00:34] #1895 closed

[2019-05-24 00:37] #2404 closed

[2019-05-24 05:18] hatakealex opened #2487 "Yandex reports duplicate user-agent (*)"
User-agent: *
Disallow: /wp-admin/
Allow: /wp-admin/admin-ajax.php

User-agent: *
Disallow: /cgi-bin/
Disallow: /?/
Disallow: /wp-/
Disallow: /*?s=/
....

[2019-05-24 07:28] arnaudbroes commented on #2487
This is a development repository; not a support forum. Please purchase a license for All in One SEO Pack Pro if you'd like to gain access to our support resources - https://semperplugins.com/all-in-one-seo-pack-pro-version/

[2019-05-24 07:49] hatakealex commented on #2487
I do not ask for support, I report an error

[2019-05-24 08:50] arnaudbroes commented on #2487
It's not an error.

[2019-05-24 08:53] hatakealex commented on #2487
Yandex.Webmaster displays as an error

[2019-05-24 08:54] hatakealex commented on #2487
I understood you, I simply informed. all the best

[2019-05-24 09:28] arnaudbroes commented on #2487
@hatakealex can you show us a screenshot of the error that Yandex is reporting to you?

[2019-05-24 09:32] hatakealex commented on #2487
https://ibb.co/BKx2pNw

[2019-05-24 12:51] arnaudbroes commented on #2487
@hatakealex thanks, we'll take a look at it!

[2019-05-24 17:20] #2469 closed

[2019-05-25 08:59] arnaudbroes commented on #1846
https://github.com/semperfiwebdesign/all-in-one-seo-pack/pull/2488 could be a solution where we just keep adding shortcodes that are known to conflict to the funtion I've introduced.

[2019-05-25 09:53] arnaudbroes opened #2497 "Focus effect on Facebook button not aligned properly"
![image](https://user-images.githubusercontent.com/18156697/58367792-9f7dab80-7ee3-11e9-8db5-2c2ac7b854c0.png)

[2019-05-25 12:26] #2468 closed

[2019-05-25 21:08] wpsmort commented on #1956
@arnaudbroes Yes, that's normal.  The location of the help link moves when the tabs are present because there are two help links, one on the Main tab and one on the Social tab.

[2019-05-25 22:28] arnaudbroes opened #2498 "Excluded Terms setting has old help text"
This should be "taxonomy terms" instead of "categories":

![image](https://user-images.githubusercontent.com/18156697/58375154-19964a80-7f4d-11e9-8b63-073021499024.png)

[2019-05-25 22:29] arnaudbroes opened #2499 "Refactor Priority/Frequency help text strings for XML Sitemap menu"
I should optimize these strings the same way I did in https://github.com/semperfiwebdesign/aioseop-pro/pull/496 for the Video Sitemap menu.

[2019-05-26 00:25] arnaudbroes opened #2502 "Code Refactor - Pointer code should be removed"
Saw we had pointers back in the early days and I'm not sure why we're not using them anymore since we definitely should -
![image](https://user-images.githubusercontent.com/18156697/58375868-697d0d80-7f5d-11e9-9d67-537df493b0a2.png)

Also, we should remove old pointer content from new releases since it's still in there.

[2019-05-26 00:29] arnaudbroes commented on #2502
Related to https://github.com/semperfiwebdesign/all-in-one-seo-pack/issues/187.

[2019-05-26 17:10] wpsmort opened #2506 "Missing character from notice"
I noticed that the following text is missing a t in the word doesn't:

User doesn' have `aiosp_manage_seo` capabilities.

https://github.com/semperfiwebdesign/all-in-one-seo-pack/blob/b6c7803cbf5f3a1624098e6653379178f6c5dde9/admin/class-aioseop-notices.php#L646

[2019-05-26 18:05] #2480 closed

[2019-05-26 18:09] #2456 closed

[2019-05-26 19:09] michaeltorbert commented on #2506
It's also easier, more readable (less confusing for translators) if we use double quotes on the string so we can have an apostrophe without escaping it.

[2019-05-26 19:10] michaeltorbert commented on #2239
Can you reproduce this?

[2019-05-26 19:56] #1915 closed

[2019-05-26 19:57] #1916 closed

[2019-05-26 19:59] #1913 closed

[2019-05-26 20:01] #1912 closed

[2019-05-26 20:26] EkoJR opened #2507 "Fix syntax error unexpected '""
Introduced when trying to make an inline edit on github with #1441

**To Reproduce**
Steps to reproduce the behavior:
1. Just have plugin active.

[2019-05-26 20:42] arnaudbroes commented on #2239
I can't reproduce it and I don't see any reason why this error would appear since $type doesn't seem to be empty in any scenario.

https://github.com/semperfiwebdesign/all-in-one-seo-pack/blob/3d46a348779d90594ce02f4ed6537b851c07ec2c/modules/aioseop_opengraph.php#L1307-L1321

I'll go ahead and close this issue for now since no one else has reported this.

[2019-05-26 20:45] #1154 closed

[2019-05-26 20:58] arnaudbroes commented on #2239
I've asked Olivier in the Premium Forums for access to his website so we can troubleshoot the issue there since we're not able to reproduce it on a test server.

[2019-05-26 21:26] #2507 closed

[2019-05-27 02:17] #289 closed

[2019-05-27 09:53] arnaudbroes opened #2513 "Add rule for line endings to .gitattributes"
We'll need to discuss this since we're working on different OS's - https://help.github.com/en/articles/dealing-with-line-endings

@EkoJR I think this might do the trick?

[2019-05-27 10:06] arnaudbroes commented on #2279
Pushing this back to 3.1 since #495 has been pushed back to that release.

[2019-05-27 10:15] arnaudbroes opened #2514 "Add phpdoc for new disable_meta_tag_truncation filter"
Related to https://github.com/semperfiwebdesign/all-in-one-seo-pack/issues/2308.

[2019-05-27 10:49] zych2019 opened #2515 "zych20193.com"

[2019-05-27 10:53] #2515 closed

[2019-05-27 10:53] EkoJR commented on #1918
Closing this since, as mentioned, we'll be using the built in dashicon.

[2019-05-27 10:53] #1918 closed

[2019-05-27 12:06] arnaudbroes commented on #2514
Actually, it already has a phpdoc.

https://github.com/semperfiwebdesign/all-in-one-seo-pack/blob/07c77b9c68930c13567f49e93dcdbb65109fa03f/modules/aioseop_opengraph.php#L132-L148

[2019-05-27 12:06] #2514 closed

[2019-05-27 12:20] arnaudbroes commented on #2308
@wpsmort please review and then publish the doc - https://semperplugins.com/?p=4819&post_type=documentation&preview_id=4819

[2019-05-27 12:37] arnaudbroes commented on #2309
phpdoc has already been updated by the developer.

https://github.com/semperfiwebdesign/all-in-one-seo-pack/blob/07c77b9c68930c13567f49e93dcdbb65109fa03f/modules/aioseop_opengraph.php#L1569-L1580

[2019-05-27 12:49] #2309 closed

[2019-05-27 13:05] arnaudbroes commented on #2446
This has been published.

[2019-05-27 13:05] #2446 closed

[2019-05-27 13:15] arnaudbroes commented on #2481
These have been published.

[2019-05-27 13:15] #2481 closed

[2019-05-27 14:08] arnaudbroes commented on #1735
This PR (https://github.com/semperfiwebdesign/all-in-one-seo-pack/pull/2512) also improves the menus quite a bit.

[2019-05-27 17:10] arnaudbroes commented on #2278
@wpsmort please review the release post and let me know if something is missing - https://semperplugins.com/wp-admin/post.php?post=4834&action=edit

[2019-05-27 19:23] #2234 closed

[2019-05-27 19:27] michaeltorbert commented on #1918
Removing the 3.0 milestone.

[2019-05-27 20:27] EkoJR opened #2516 "Revise AIOSEOP_Notices notice operations"
This would change the way individual notices are loaded and handled. Currently, the notices are ran through a hardcoded function(s); which is also duplicate code. Then the whole notice data is stored within the database.

3.0 introduces aioseop_notices, and I want to get these changes added before we ship 3.0.

Proposed changes.

* Use a hook to load notice config data.
    * Which would allow ext

[2019-05-28 16:00] michaeltorbert opened #2519 "Create documentation for new sitemap URL in robots.txt filter hook"
aioseop_robotstxt_sitemap_url

[2019-05-28 18:25] michaeltorbert opened #2521 "Update documentation for (removed) Rewrite Titles option."
Offhand I'd say we should
a) update the images on the page
b) replace the text under the "Rewrite Titles" heading with a message that this option has been removed as of 3.0.

[2019-05-28 19:26] #2498 closed

[2019-05-28 19:47] #2506 closed

[2019-05-28 21:02] #2499 closed

[2019-05-28 22:03] #2432 closed

[2019-05-28 22:25] michaeltorbert commented on #1834
Correct me if I'm wrong, but to sum up, we have problems with
a) media is unattached
b) media is attached to a non-existant page

Proposed solution:
Redirect to the image itself if there's no attached page or attached page doesn't exist.

[2019-05-28 23:17] michaeltorbert commented on #2111
Offhand the only things I can think of to resolve this are either

1) Change all % to %%. In addition to the possible problems coming from doing a db change that massive, we couldn't know when it's intentional.
2) Some method of escaping what's added explicitly to the title on per post basis.

[2019-05-28 23:24] michaeltorbert opened #2523 "Remove draft posts from XML Sitemap"
Reported here: https://wordpress.org/support/topic/draft-in-sitemap/

[2019-05-28 23:33] michaeltorbert commented on #2523
user error

[2019-05-28 23:33] #2523 closed

[2019-05-29 00:50] wpsmort commented on #1408
Reported again by Marcos by email today.

[2019-05-29 01:21] wpsmort commented on #1408
I have been able to reproduce this on a new site by following these steps:

1. Set up WordPress with Reading Settings > Your homepage displays set to A static page and a Homepage and Posts page selected
2. Install the current version of AIOSEOP (v2.12.1) and activate it
3. Edit the Posts page and you should see the double site titles in the Preview Snippet

[2019-05-29 12:35] #535 closed

[2019-05-29 13:32] arnaudbroes commented on #2111
@michaeltorbert I think I've inadvertently already fixed this with https://github.com/semperfiwebdesign/all-in-one-seo-pack/pull/2360 by specifying the offset. I just had a look at it and it seems fixed.

@wpsmort can you confirm this with the 3.0 branch and close the issue if I'm correct?

[2019-05-29 13:43] michaeltorbert commented on #2111
@wpsmort
If this has been fixed, we'll include the issue in 3.0 and close it.
If not, send it Back to the Future.

[2019-05-29 13:45] #1956 closed

[2019-05-29 14:05] michaeltorbert opened #2524 "UX - Review accessibility of new tooltips"
As an example: https://a11y.nicolas-hoffmann.net/simple-tooltip/

[2019-05-29 14:43] #1301 closed

[2019-05-29 15:16] arnaudbroes commented on #2478
@michaeltorbert I was just setting up 2FA and by coincidence saw that your personal Gravatar account was linked to our Organization so I've removed it, updated the old AIOSEOP icon to the gear logo and now that's the fallback image for OG.

[2019-05-29 15:21] #2185 closed

[2019-05-29 15:27] michaeltorbert opened #2525 "Update commonstrings.php with current Pro strings"
That's how they get translated. We need to add/remove/modify all the strings. Probably the easiest way is to use some sort of translation tool to generate a list of the strings.

https://github.com/semperfiwebdesign/all-in-one-seo-pack/blob/master/inc/commonstrings.php

[2019-05-29 15:29] michaeltorbert commented on #619
I'm not sure this is true.

[2019-05-29 16:32] wpsmort opened #2526 "% sign in title breaks Preview Snippet"
**Describe the bug**
Placing multiple % signs in the title of a post or page breaks the Preview Snippet.

NOTE: It does not break the placeholder text in the Title field or the doc title tag  in the source code.

**To Reproduce**
In order to reproduce this issue, follow these steps:

1. Install All in One SEO Pack on a new test site
2. Create a new Post and set a title without a %. You'll see that

[2019-05-29 16:32] wpsmort commented on #2111
I was unable to reproduce this and after speaking with Arnaud we found it was an error in his testing procedure (he'd left a % off the end of the %post_title% macro).

However, we did confirm there is a bug with percent signs in the preview snippet.  See #2526

[2019-05-29 16:32] #2111 closed

[2019-05-29 16:47] wpsmort commented on #2526
@arnaudbroes Please test back to see what version this bug first occurred in.

[2019-05-29 17:06] arnaudbroes commented on #2526
I believe this is related to #1408.

[2019-05-29 19:54] michaeltorbert opened #2527 "new issue labels to improve development process"
needs-origin
has-PR

[2019-05-29 21:15] wpsmort opened #2528 "Add API doc for aioseop_admin_notice- filter"
Add API doc for the new aioseop_admin_notice- filter added in PR #2517

[2019-05-29 21:37] #2516 closed

[2019-05-29 21:51] michaeltorbert opened #2529 "SEO Data Importer - Add support for new plugins"
Check out https://wordpress.org/plugins/seo-data-transporter/

[2019-05-29 21:59] michaeltorbert commented on #69
I've merged the code in, but @arnaudbroes will make another PR to address the grunt issues.

[2019-05-30 09:00] arnaudbroes commented on #2244
Or "Rewrite Format Settings"? Now that the rewrite titles option has been removed.

[2019-05-30 09:21] arnaudbroes commented on #2521
@wpsmort take screenshots with the #1168 PR so the new visual changes are in as well.

[2019-05-30 09:26] arnaudbroes commented on #2519
@wpsmort please review the doc here and then publish it - https://semperplugins.com/wp-admin/post.php?post=4854&action=edit&lang=en

[2019-05-30 09:37] arnaudbroes commented on #619
If they're translated in core, then they don't have to be translated on our end.

[2019-05-30 09:37] #619 closed

[2019-05-30 14:04] #69 closed

[2019-05-30 18:26] arnaudbroes commented on #1320
This has been dealt with.

[2019-05-30 18:26] #1320 closed

[2019-05-30 19:30] arnaudbroes commented on #2527
Labels have been added. I've also broken up the Documentation labels into Inline, Tooltip and Website.

[2019-05-30 19:30] #2527 closed

[2019-05-30 20:21] michaeltorbert commented on #2527
@arnaudbroes Personally I think in-app is better than tooltip, since we may not always only have tooltips in-app.

[2019-05-30 20:34] arnaudbroes commented on #2527
@michaeltorbert sure I've changed them.

[2019-05-30 21:06] #2525 closed

[2019-05-30 21:33] wpsmort opened #2533 "Improve meta box alignment on Edit Post screen"
Following on from the UI improvements made in v3.0 PR #2512, we should improve the alignment of fields in the AIO meta box on the Edit Post screen.  See screenshots below:

<img width="964" alt="Screen Shot 2019-05-30 at 5 30 08 PM" src="https://user-images.githubusercontent.com/17548525/58666324-02ff4300-8301-11e9-979a-4203ed0f3f57.png">

<img width="943" alt="Screen Shot 2019-05-30 at 5 30 35 PM

[2019-05-30 21:59] wpsmort opened #2534 "Run validator everywhere AIOSEOP shows up"
The Validity Checker plugin for Chrome is a good place to start, but we may want to check out some others as well.

[2019-05-30 22:01] #1168 closed

[2019-05-30 22:17] wpsmort commented on #2308
I've reviewed the doc and published it - https://semperplugins.com/documentation/aiosp_opengraph_disable_meta_tag_truncation/

[2019-05-30 22:17] #2308 closed

[2019-05-30 22:18] michaeltorbert opened #2535 "XML Sitemap - Sitemap running on every pageload"
Based on https://wordpress.org/support/topic/unable-to-access-dashboard-sitemap-error it looks like the sitemap may be getting built on every pageload, or at least in the dashboard.
We should verify whether any of it is and modify that.

[2019-05-30 22:23] #1747 closed

[2019-05-30 22:24] wpsmort commented on #2519
This has been reviewed and published - https://semperplugins.com/documentation/aioseop_robotstxt_sitemap_url/

[2019-05-30 22:24] #2519 closed

[2019-05-30 22:30] wpsmort commented on #2521
The documentation and screenshot here have been updated - https://semperplugins.com/documentation/title-settings/

[2019-05-30 22:30] #2521 closed

[2019-05-30 23:18] michaeltorbert opened #2538 "General - Create empty index.php for css/font-icons"

[2019-05-30 23:52] wpsmort opened #2540 "Sitemap pagination notice doesn't go away"
The notice that displays when sitemap pagination is greater than 1000 does not go away when pagination is set to less than 1000.

See screenshot:

<img width="1095" alt="Screen Shot 2019-05-30 at 7 51 27 PM" src="https://user-images.githubusercontent.com/17548525/58672311-5cbd3880-8314-11e9-899a-771d0bdef6f2.png">

[2019-05-31 00:08] wpsmort commented on #2278
@arnaudbroes Here are some additional items for the release post:

- We now default to Sitemap Indexes.  We should state why we did this and that we strongly recommend existing users enable this with pagination set to 1000.  Add a nice visual that shows users how to do this.
- The sitemap indexes now display content in reverse chronological order and why (see #2217).
- We've removed Sitemap Compre

[2019-05-31 01:30] iqbal211 opened #2542 "kewords"
can i have keywords for separate pages

[2019-05-31 01:30] #2542 closed

[2019-05-31 01:40] michaeltorbert commented on #2405
This is blue again...

<img width="992" alt="Screen Shot 2019-05-30 at 9 38 17 PM" src="https://user-images.githubusercontent.com/17364998/58675689-6a2def00-8323-11e9-9449-bbe4ff2d1571.png">

[2019-05-31 20:55] EkoJR opened #2544 "Refactor instance for Save Settings to an earlier WP hook"
Currently, saving the plugin settings occurs with `\All_in_One_SEO_Pack_Module::handle_settings_updates()` only during the `\All_in_One_SEO_Pack_Module::display_settings_page()` method; which is hooked in the callback for `add_menu_page()`, `add_submenu_page()`, & `\All_in_One_SEO_Pack_Module::__call()`.

It's isolated to its own aioseop screens, which is good. The problem is, saving the settings

[2019-05-31 21:49] #2405 closed

[2019-05-31 23:04] #2540 closed

[2019-05-31 23:05] #1133 closed

[2019-06-01 12:17] arnaudbroes commented on #2528
Published here - https://semperplugins.com/documentation/aioseop_admin_notice-slug/

[2019-06-01 12:17] #2528 closed

[2019-06-01 13:03] arnaudbroes commented on #2278
@wpsmort I've added the first four items to the release post but I'd personally wouldn't include the others and only add them to the changelog since the release post is already quite bulky as it is and I find them to be of less importance. I'll put them in if you'd still like me to.

[2019-06-01 18:13] wpsmort opened #2546 "Content not being correctly excluded from sitemap"
**Describe the bug**
In PR #2317 we added support for excluding content from the sitemap when NOINDEX is enabled.  The bug here is that individual posts set to NOINDEX or Exclude from Sitemap are not being excluded from the sitemap when Indexes is enabled and the sitemap is being paginated.

**To Reproduce**
Steps to reproduce the behavior:
1. On a new site, install the master branch and enable th

[2019-06-02 12:13] sbiese opened #2547 "Error when generating sitemap.xml"
XML Parsing Error: XML or text declaration not at start of entity
Location: http://thebibleuniversity.org/sitemap.xml
Line Number 2, Column 1:<?xml version="1.0" encoding="UTF-8"?>
^

Only, there is NOTHING on line 2 when I view the file:
<?xml version="1.0" encoding="UTF-8"?>
(This would be line 2. It's empty!)

[2019-06-02 14:06] michaeltorbert commented on #2547
https://semperplugins.com/documentation/this-page-contains-the-following-errors/

[2019-06-02 14:06] #2547 closed

[2019-06-02 19:04] tawanya opened #2548 "site health problem"
Site Health Status
The site health check shows critical information about your WordPress configuration and items that require your attention.

2 Critical issues

Your PHP version requires an update
Security

The REST API encountered an error
Performance
3 Recommended improvements

Have a default theme available
Security

Outdated SQL server
Performance

A scheduled event has failed
Performance
Pas

[2019-06-02 20:05] michaeltorbert opened #2549 "PHP Warning: count(): Parameter must be an array or an object that implements Countable in wp-includes\post-template.php on line 293"
https://pastebin.com/fEg8pu5R

[2019-06-02 20:06] michaeltorbert commented on #2548
This is the All in One SEO Pack development repository.
Unless I'm missing something, none of those issues have anything to do with Al in One SEO Pack.

[2019-06-02 20:06] #2548 closed

[2019-06-03 18:35] wpsmort commented on #2244
I still don't like that title, it's not intuitive for novices.  How about either of these titles:

- Title / Description Settings
- Search Appearance

[2019-06-03 18:37] michaeltorbert commented on #2244
I like Search Appearance but that maybe too broad, and probably includes other stuff from other sections.
Title / Description Settings is pretty straightforward.

[2019-06-03 18:38] wpsmort commented on #1834
Yes, those two instances are where we have problems.  The proposed solution works for me.

[2019-06-03 20:12] michaeltorbert commented on #2546
When I install the original PR where this should have been fixed, I'm still getting the URLs included in the sitemap. https://github.com/semperfiwebdesign/all-in-one-seo-pack/tree/04899b3f30e65956b35aac93b16a5c58893ff51d

[2019-06-03 20:41] GuzmanAriel commented on #1805
I have had the same issue and removed all other plugins and deleted all code from templates in case of any whitespace and still see this issue

[2019-06-03 20:42] michaeltorbert commented on #1805
@GuzmanAriel It is not caused by All in One SEO Pack. Unfortunately it's a frustrating issue which can be difficult to locate the cause.

[2019-06-03 20:44] michaeltorbert commented on #1805
@GuzmanAriel It is not caused by All in One SEO Pack. Unfortunately it's a frustrating issue which can be difficult to locate the cause.
If you've purchased an All in One SEO Pack Pro license, you can contact our support team for help locating the cause. If you would like to purchase a license, you can do so here: https://semperplugins.com/all-in-one-seo-pack-pro-version/

[2019-06-03 21:04] wpsmort commented on #2278
I made some changes to the post and published it - https://semperplugins.com/all-in-one-seo-pack-3-0/

[2019-06-03 21:04] #2278 closed

[2019-06-03 21:14] EkoJR commented on #2549
This was introduced with https://github.com/semperfiwebdesign/all-in-one-seo-pack/pull/2410

This occurs with all WP versions below 5.2. Updating WP should fix the problem; for those who can update.

When breakpointing, I noticed WP doesn't use a WP_Post param, but uses the global `$post` instead, and on a sitemap page the global `$post` is null.

[2019-06-03 21:15] michaeltorbert commented on #2549
@EkoJR Can it be fixed for 4.6<x<5.2?

[2019-06-03 21:32] EkoJR commented on #2549
Yes.

[code]

change to
[code]

[2019-06-03 22:19] wpsmort commented on #2546
@EkoJR I tracked this bug down to this commit - https://github.com/semperfiwebdesign/all-in-one-seo-pack/pull/2317/commits/1b5cf30650f5972bed7011dc3b1c4fb18e91bc0b

[2019-06-03 22:30] EkoJR commented on #2546
Oh yea, I remember that one. That was actually a change that was requested on that PR, and the only reason I added it was to get the PR to move forward.

[2019-06-03 22:59] EkoJR commented on #2546
Looking at the code, that set of args is made to exclude, and setting a limit to it restricts the exclude concept; I added a note for future reference.

[2019-06-03 23:25] michaeltorbert commented on #2546
@ekojr What was the intended purpose of it changing it previous?

[2019-06-03 23:42] EkoJR commented on #2546
@michaeltorbert Can't limit an exclude method. You need the list of all the posts that are going to be excluded, and trying to add pagination within another pagination query will have unstable results.

[2019-06-04 08:29] aLEX19911111 opened #2552 "ПРОБЛЕМА ПОСЛЕ ОБНОВЛЕНИЕ ALL-IN-ONE-SEO"
дОБРЫЙ ДЕНЬ, ПОСЛЕ вАШЕГО ОБНОВЛЕНИЯ произошла вот такая ерунда!! скриншоты прикладываю. отключаю плагин и все работает нормально , включаю и вижу вот такую ерунду. Решите проблему в крадшайшие сроки. и выпустите новое обновление которое устранит все это заранее спасибо!!

![цукцукцук](https://user-images.githubusercontent.com/51360348/58863693-ff323e80-86bb-11e9-81e5-59ce62a9eb4a.png)
![уцауацуа]

[2019-06-04 11:09] aLEX19911111 commented on #2552
Все ребят отключил WPGLOBUS и все заработала . Спасибо Вам все равно

[2019-06-04 11:14] michaeltorbert commented on #2552
I can't tell what problem you're reporting. The translator just says "nonsense" which isn't helpful.

[2019-06-04 11:15] michaeltorbert commented on #2552
@aLEX19911111 I can't tell what problem you're reporting. The translator just says "nonsense" which isn't helpful.

[2019-06-04 11:15] aLEX19911111 commented on #2552
Просто у меня пошла какая то не совместимость с плагином wpglobus

[2019-06-04 11:17] michaeltorbert opened #2553 "compatibility issue with WPGlobus"
An error of type E_ERROR was caused in line 235 of the file /home/beerte6/public_html/wp-content/plugins/wpglobus/includes/vendor/class-wpglobus-aioseop.php. Error message: Undefined class constant ‘DISPLAY_HELP_START’

Reported here: https://wordpress.org/support/topic/problem-with-wp-5-2-1-and-wpglobus2-2-8

[2019-06-04 11:19] michaeltorbert commented on #2552
Can you provide more details than that?

[2019-06-04 11:23] michaeltorbert opened #2554 "Google does not read all sitemap index files"
Reported here: https://wordpress.org/support/topic/sitemap-error-67

with this

URL	Last Change
https://www.lucianoblancato.it/sitemap_addl.xml
https://www.lucianoblancato.it/sitemap_post.xml
https://www.lucianoblancato.it/sitemap_page.xml
https://www.lucianoblancato.it/sitemap_attachment_1.xml
https://www.lucianoblancato.it/sitemap_attachment_2.xml
https://www.lucianoblancato.it/sitemap_attachmen

[2019-06-04 11:25] michaeltorbert opened #2555 "Divi icon set broken"
Reported here: https://wordpress.org/support/topic/divi-icons-set-broken/

[2019-06-04 11:28] michaeltorbert opened #2556 "WooCommerce upgrade notice won't go away when clicking "no thanks" or close"
Reported here: https://wordpress.org/support/topic/warning-msg-asking-to-upgrade-annoying

## To Reproduce

This will need 2 users. 1 as the main admin, the other as an Editor.

1. Go to Settings > Reading and enable "Discourage search engines from indexing this site" to trigger `blog_public_disabled`.
2. Browse admin as the site admin to set WC notice.
3. With notice displayed, click 'No thanks'

[2019-06-04 12:22] jan-71 opened #2557 "Broken fields"
After an update to version version 3.0, the fields are broken and can not be clicked.
![bug1](https://user-images.githubusercontent.com/51368601/58878727-33b1f480-86d4-11e9-9b49-45f1dd28ba28.jpg)
![bug2](https://user-images.githubusercontent.com/51368601/58878728-33b1f480-86d4-11e9-91bc-bed7634fdb97.jpg)

[2019-06-04 12:47] michaeltorbert commented on #2553
Fixed in the latest version of WPGlobus.

[2019-06-04 12:49] michaeltorbert commented on #2557
Hi @jan-71

Thank you for reporting this. So far we've been unable to reproduce it.
You can submit your login information to our secure form here and we'll investigate further.

[2019-06-04 12:57] michaeltorbert commented on #2555
@wpsmort @arnaudbroes Can one of you try and reproduce this?

[2019-06-04 12:58] michaeltorbert commented on #2554
Youtube video https://youtu.be/U5-7X2-m8Do

[2019-06-04 12:59] michaeltorbert commented on #2554
@wpsmort @arnaudbroes Can anyone decipher what he's trying to say?

[2019-06-04 13:01] wpsmort commented on #2555
I'll test ad see if I can reproduce this.

[2019-06-04 13:06] arnaudbroes commented on #2244
I agree with the latter. Let's use that.

[2019-06-04 13:21] michaeltorbert commented on #2554
1. I go to the configuration page and put 1000 in size sitemap
2. will be created a sitemap with a child
3. I insert sitemap url on google
4. google not read all sitemap (child) but only a part (usally 15 but i have 25 child).

for this reason google does not index the whole site but only a part

config 2 (no problem)

1. I go to the configuration page and put 50.000 in size sitemap
2. will be cre

[2019-06-04 13:31] wpsmort commented on #2554
I'm trying to reproduce this with my public site.

[2019-06-04 14:08] arnaudbroes commented on #2555
Both Steve and I weren't able to reproduce this is. Now waiting on more info from the user.

[2019-06-04 14:21] mkulgin opened #2558 "sitemap.xml problems after update to 3.0"
Hi!

After upgrade the plugin to v.3.0 I get some errors in sitemap.xml (link https://companylist.ru/sitemap.xml) when open it in Chrome: https://prnt.sc/nxi9tx and Google doesn't accept the file :(

Before upgrading everything was OK!
WordPress v4.9

Opening the sitemap.xml will get the following output inside:

<br />
--
  | <b>Warning</b>:  count(): Parameter must be an array or an object that

[2019-06-04 14:28] arnaudbroes commented on #2556
I was not able to reproduce this.

[2019-06-04 14:28] michaeltorbert commented on #2558
This is a known issue and will be fixed in 3.0.1.
In the meantime, you can fix it by upgrading to the latest version of WordPress. If you're holding off on updating because of Gutenberg, you can keep the classic editor with this plugin. https://wordpress.org/plugins/classic-editor/

[2019-06-04 14:28] #2558 closed

[2019-06-04 14:28] #2549 closed

[2019-06-04 14:29] michaeltorbert commented on #2556
We'll need access to someone's site who is experiencing the problem.

[2019-06-04 14:33] mkulgin commented on #2558
Thanks! I will wait 3.01 and pray you will do it fast :) because it has affect to SEO... :(

[2019-06-04 14:34] michaeltorbert commented on #2558
You can resolve it now by updating WordPress.

[2019-06-04 14:36] michaeltorbert commented on #2557
Hi @jan-71

Thank you for reporting this. So far we've been unable to reproduce it.
You can submit your login information to our secure form here and we'll investigate further.
https://semperplugins.com/contact/support-login-information/

[2019-06-04 14:39] mkulgin commented on #2558
Well... Im afraid that it may affect others plugin (I have alot of). And it might be problems. But thanks, if it take months to release 3.01 I will surely to update WP.

[2019-06-04 14:41] michaeltorbert commented on #2558
We're trying to get 3.0.1 released today.

[2019-06-04 14:43] mkulgin commented on #2558
THANKS. I go to and leave 5 stars and perfect review on your plugin. Right now.

[2019-06-04 14:49] wpsmort commented on #2554
I've been able to reproduce this with my public site which has a sitemap index with 26 sitemaps.  Google only pulls 17 of them when I submit the sitemap.  I've been able to reproduce this with v2.12.1 and an old version 2.5 from last year as well meaning this is not new.

Google's docs state that they'll accept "up to 500 sitemap index files for each site" (https://support.google.com/webmasters/an

[2019-06-04 15:42] michaeltorbert commented on #2553
This is fixed in the latest version of WPGlobus.
I asked its developer for details about the problem, but he was unresponsive/uncooperative.

So that we can rule out any other plugin conflicts, we should take a look at the code changes which "fixed" the problem. https://github.com/WPGlobus/WPGlobus/commit/3825d1da93ed015f417d7eaeb2398b8e93d19ac0

[2019-06-04 15:54] #2546 closed

[2019-06-04 16:10] michaeltorbert commented on #2558
@mkulgin We've released 3.0.1 which should fix this issue for you.

[2019-06-04 16:27] michaeltorbert opened #2560 "Correct spelling of ecommerce"
https://github.com/semperfiwebdesign/all-in-one-seo-pack/blob/523cefc39a2291e816d3bdbd716e2a0c72908efe/all_in_one_seo_pack.php#L6

eCommerce? e-commerce?

[2019-06-04 16:46] arnaudbroes commented on #2560
ecommerce is used more than e-commerce as search term so I'd go with eCommerce.

[2019-06-04 17:03] wpsmort opened #2561 "Undefined index: aiosp_sitemap_taxonomies in aioseop_sitemap.php on line 712"
The following PHP Notice occurs when going to the Video Sitemap module screen:

PHP Notice:  Undefined index: aiosp_sitemap_taxonomies in modules/aioseop_sitemap.php on line 712

[2019-06-04 17:08] wpsmort commented on #2561
@EkoJR We need to know why we're getting an undefined index on aiosp_sitemap_taxonomies in the Video Sitemap because the Taxonomies option was supposed to be removed in PRs #474 and https://github.com/semperfiwebdesign/all-in-one-seo-pack/pull/2334

I tried the following code change on line 712 which fixed the notice:

`if ( isset( $this->options['aiosp_sitemap_taxonomies'] ) && is_array( $this->o

[2019-06-04 17:12] michaeltorbert commented on #2560
I'm curious about regional variations. @arnaudbroes  Can you check out the glossaries for the various WP locales?

[2019-06-04 18:03] Garconis commented on #1846
Please do not consider removing shortcode functionality in the auto-generated descriptions. In fact, please consider this issue (https://github.com/semperfiwebdesign/all-in-one-seo-pack/issues/1867), and allow shortcodes to function properly when added to the page's Title and Description.

[2019-06-04 18:13] arnaudbroes commented on #1846
@Garconis we've implemented a fix for conflicting shortcodes in our latest 3.0 version (https://github.com/semperfiwebdesign/all-in-one-seo-pack/pull/2488) so we won't be removing them. As for the other issue, we're going to consider adding it when we've finished fixing any bugs 3.0 introduced and start working on 3.1, which shouldn't be too long from now.

I believe this issue can be closed.

[2019-06-04 18:13] #1846 closed

[2019-06-04 18:29] EkoJR commented on #2561
@wpsmort it was missing the module prefix variable, rather than the static string. It was checking for `aiosp_video_sitemap_taxonomies`. At the time, I expected only the sitemap module to use the function. Changing it to `$this->prefix . 'taxonomies'` fixes the problem.

[2019-06-04 18:41] michaeltorbert commented on #2561
@EkoJR Can you make a PR for this?

[2019-06-04 18:56] wpsmort commented on #2557
@jan-71 Do you have a caching or performance plugin installed that is doing both caching and CSS / JavaScript minification?

[2019-06-04 20:23] michaeltorbert opened #2564 "WooCommerce notice button to dismiss forever"
Requested here: https://wordpress.org/support/topic/woocommerce-pro-upgrade-nag-notice/

We currently have buttons to upgrade and to dismiss for 30 days. We may want to change this to something like:

"Upgrade"
"Remind me later"
"Never show me this again"

Thoughts?

[2019-06-04 20:30] michaeltorbert opened #2565 "Restrict review notice to our own screens"
Is that here? https://github.com/semperfiwebdesign/all-in-one-seo-pack/blob/ce0acebb6efd9d30c6547049bddff1c6a6e31b51/admin/display/notices/review-plugin-notice.php#L21

[2019-06-04 20:45] 7thcirclegit commented on #2564
I would suggest not showing it in the primary dashboard, but then the options under the plugin should be as you suggest.

[2019-06-04 20:47] arnaudbroes commented on #2564
I'd like for us to show it on the Edit Product and Edit Product Category screen too.

[2019-06-04 21:32] michaeltorbert opened #2566 "New issue label suggestion- Needs User Feedback"
Sometimes an issue is opened by a user, or else for something a user has reported, and then we never hear back from them with steps to reproduce or whatever other info we need.

Realizing that this has a bit of overlap with "Needs Reproducing," we need a way to quickly go through old issues that should be closed because we're unable to obtain info from the user necessary to the advancement of the

[2019-06-04 22:07] wpsmort commented on #2557
I was able to reproduce this on a site and found that it was caused by WP Fastest Cache.  Clicking the option to Delete the cache and minified CSS/JS fixed the problem.

[2019-06-04 22:18] #2561 closed

[2019-06-04 22:21] michaeltorbert commented on #2557
Why would our CSS/JS be cached? Doesn't WP automatically bust it with file.css?version=x?
@EkoJR?

[2019-06-04 23:46] alexgff commented on #2552
@aLEX19911111
выпущен WPGlobus 2.2.9 с исправлением для ALL-IN-ONE-SEO v.3

[2019-06-05 02:30] michaeltorbert opened #2567 "Wrong font in classic text editor"
Reported here: https://wordpress.org/support/topic/since-version-3-0-bug-in-the-html-editor/#post-11606265

<img width="1278" alt="Screen Shot 2019-06-04 at 10 25 59 PM" src="https://user-images.githubusercontent.com/17364998/58926220-739acb00-8718-11e9-92e6-a858c0a425b7.png">

[2019-06-05 03:58] EkoJR commented on #2557
Using a different version should force the cache to refresh if it is cache.

This could possible a client side issue. Doing a Hard Refresh on the browser might fix the issue.

[2019-06-05 08:44] jan-71 commented on #2557
I cleared the cache and temporarily disabled WP Fastest Cache, but the issue continues. I have not installed any additional caching plugins. It has to be a CSS problem. The problem also occurs only with the plugin version 3.

[2019-06-05 08:55] jan-71 commented on #2557
@wpsmort yes WP Fastest Cache. I have cleared Cache and minified CSS/JS. but the issue continues.

[2019-06-05 08:58] jan-71 commented on #2557
Here is a list of the active plugins:

All In One SEO Pack
    3.0.1
    Anti-spam
    5.4
    Better Search Replace
    1.3.3
    Classic Editor
    1.5
    Contact Form 7
    5.1.3
    Contact Form 7 Image Captcha
    2.4.7
    Cookie Notice
    1.2.46
    Custom Permalinks
    1.5.0
    Easy Custom Auto Excerpt
    2.4.10
    Google Image Sitemap Feed With Multisite Support
    1.2.0.4
    HTML

[2019-06-05 09:04] arnaudbroes commented on #2566
I agree and I think @wpsmort agreed on this topic previously at some point when it was brought up.

I've created "Needs User Input" in both free and Pro (for example, when waiting on input from someone in the premium forums).

[2019-06-05 09:04] #2566 closed

[2019-06-05 09:08] arnaudbroes commented on #2552
I've tested and also confirmed through the changelog that WPGlobus has fixed this on their end.
![image](https://user-images.githubusercontent.com/18156697/58944516-48e55c80-8782-11e9-9e43-96eb7e2917cf.png)

[2019-06-05 09:08] #2552 closed

[2019-06-05 09:46] arnaudbroes opened #2569 ".ui-sortable-handle span {} affects other wp_admin meta boxes"
Reported on 6/5/2019 via e-mail by Ilkka V.

I don't know an example of a plugin this would be conflicting with but I do see the issue so I'll restrict the class to our own options (which I should have done in the first place).

In aioseop_module.css.

[2019-06-05 10:39] arnaudbroes commented on #2458
Duplicate of #1798.

[2019-06-05 10:39] #2458 closed

[2019-06-05 10:40] arnaudbroes commented on #1798
@psmits1567 believes this might fix the issue:
[If I add the following on line 4246 the error is no longer present:
$post_type = get_post_type();](url)

[2019-06-05 10:53] EkoJR commented on #2565
Yes, it would be `array( 'aioseop' )` to target all AIOSEOP screens; or individual screen IDs could be used.

[2019-06-05 12:37] michaeltorbert commented on #2553
Closing this in favor of the fix in WPGlobus.

"Michael, Alex meant to say “problem with integration”. Not “problem with AIOSEOP”. You did not have to open an issue at your side at all. The reference was to our file.

Regards,
Gregory"

[2019-06-05 12:37] #2553 closed

[2019-06-05 12:47] #2567 closed

[2019-06-05 12:56] t8pe commented on #2564
Right now you're showing a nag every time I go to the main WordPress dashboard, and the options are "Upgrade" and "No Thanks" - but No Thanks just means it's going to nag me again... and again... Dismissing for 30 days would be fine.

[2019-06-05 12:57] michaeltorbert commented on #2564
@t8pe Are you saying it isn't dismissing for you?

[2019-06-05 12:59] michaeltorbert commented on #2557
@jan-71
Unfortunately we can't fix what we can't reproduce.
If  you would like us to investigate this issue, we'll need to access your site.
https://semperplugins.com/contact/support-login-information/

[2019-06-05 13:25] michaeltorbert opened #2572 "Missing social tab in 3.0.1"
The Main Settings and Social Settings tabs are missing:

<img width="979" alt="Screen Shot 2019-06-05 at 2 02 53 PM" src="https://user-images.githubusercontent.com/17548525/58978908-db91f580-879a-11e9-92dd-d5511617df14.png">

[2019-06-05 13:33] #2569 closed

[2019-06-05 13:57] #2565 closed

[2019-06-05 13:58] EkoJR commented on #2564
There is a WP Community Constant DISABLE_NAG_NOTICES to prevent any nag messages.

`define('DISABLE_NAG_NOTICES', true);`

[2019-06-05 14:39] michaeltorbert opened #2573 "Use Google Site verification API"
https://developers.google.com/site-verification/
https://wordpress.org/plugins/wp-site-verification-tool/

[2019-06-05 14:40] michaeltorbert opened #2574 "Google Search Console API"
https://developers.google.com/webmaster-tools/search-console-api-original/

[2019-06-05 14:56] arnaudbroes commented on #2447
Before this can happen https://github.com/semperfiwebdesign/all-in-one-seo-pack/issues/2387 needs to be resolved first.

[2019-06-05 15:09] arnaudbroes commented on #2513
This can be closed since I first considered this an issue because GitHub couldn't detect the CSS changes in https://github.com/semperfiwebdesign/all-in-one-seo-pack/pull/2512 that well. On second thought, I'm thinking it was more of a glitch on GitHub's end rather than a lack of a line ending rule in our .gitattributes file.

[2019-06-05 15:09] #2513 closed

[2019-06-05 15:20] Zodiac1978 opened #2576 "Bug - Redirect to about page is breaking following updates"
/wp-admin/index.php?page=aioseop-about

**Describe the bug**
In a bulk update from AIOSEOP and other plugins, the updates following after AIOSEOP are failing because of the redirect to the About page.

Related #2255

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Plugins
2. Mark the plugins to update or click update link from AIOSEOP and at least one more plugin
3. See the second one f

[2019-06-05 15:21] Zodiac1978 commented on #2576
![aioseop](https://user-images.githubusercontent.com/870475/58968479-66ccb480-87b6-11e9-8ab3-abc8bc8432ae.gif)

[2019-06-05 16:20] michaeltorbert commented on #2564
@t8pe  The new tab bug will be fixed in 3.0.2. We *hope that the bug about not being able to dismiss it will be fixed as well, but so far we've been unable to reliably reproduce it.
If you'd like to let us investigate the state of your site so we can develop a fix, you can submit your login info to our secure form here: https://semperplugins.com/contact/support-login-information/

[2019-06-05 16:39] michaeltorbert commented on #2576
@Zodiac1978 Thanks for reporting this, and THANKS for the great steps to reproduce + animation.
We're looking into it now.

[2019-06-05 18:02] wpsmort commented on #2572
I tracked this down to a conflict with this plugin - https://wordpress.org/plugins/accelerated-mobile-pages/

I was able to reproduce this on a new site with only AIO and that plugin installed.  The Accelerated Mobile Pages plugin has a CSS style of display: none; applied to the class .hide on line 1038 of accelerated-mobile-pages/pagebuilder/inc/admin-amp-page-builder.css

We use the class .hide

[2019-06-05 19:06] #2555 closed

[2019-06-05 19:13] arnaudbroes opened #2578 "Notice unit test failing Travis build"
Travis is failing because of this unit test. @EkoJR the data provider always seems to provide three arguments. Can you take a look and see whether there's an actual bug in your code or whether Travis is acting up again?

[2019-06-05 19:17] Justabandit opened #2579 "We have detected you are running WooCommerce. Upgrade to All in One SEO Pack Pro to unlock our advanced e-commerce features, including SEO for Product Categories and more."
Since last update this notification will not go away. Get rid of it

"We have detected you are running WooCommerce. Upgrade to All in One SEO Pack Pro to unlock our advanced e-commerce features, including SEO for Product Categories and more."

[2019-06-05 19:17] michaeltorbert commented on #2579
Duplicate of https://github.com/semperfiwebdesign/all-in-one-seo-pack/issues/2556

[2019-06-05 19:17] #2579 closed

[2019-06-05 19:23] daliasued commented on #2554
Hi,

I used **Yoast SEO** from the beginning of my project (I didn't know about your plugin LOL), everything runned ok (Yoast), but I bought a new theme for movies and series with post types.

The adjustment in Yoast was Ok to read the post types, but the sitemap doesn't show up for the post type in Google Search Console. I searched for help but nobody answered me. I have Jetpack who has a SEO too

[2019-06-05 19:28] Justabandit commented on #2556
Whats the resolution to this apart from you closing opened issues

[2019-06-05 19:29] michaeltorbert commented on #2556
@Justabandit We're not simply closing open issues. You opened a duplicate issue.
The resolution to this is in the merged PR for 3.0.2 linked on this issue.

[2019-06-05 20:25] arnaudbroes commented on #2487
I've confirmed this. We'll have to discuss whether this is an actual issue, see whether it affects other search engines as well and then decide whether we want to something about it.

![image](https://user-images.githubusercontent.com/18156697/58987863-be801580-87e0-11e9-80db-e879d56bea8d.png)

[2019-06-05 20:29] #2572 closed

[2019-06-05 20:35] michaeltorbert opened #2580 "Fatal error: Call to undefined method DirectoryIterator::getExtension() in class-aioseop-notices.php on line 159"
Reported by Jim via email:

`Fatal error: Call to undefined method DirectoryIterator::getExtension() in /home/content/70/9001570/html/wp-content/plugins/all-in-one-seo-pack/admin/class-aioseop-notices.php on line 159`

[2019-06-05 20:47] michaeltorbert commented on #2580
This is caused by our use of the DirectoryIterator, which requires PHP 5.3.6.

https://github.com/semperfiwebdesign/all-in-one-seo-pack/blob/3.0/admin/class-aioseop-notices.php#L158

[2019-06-05 20:49] arnaudbroes commented on #2576
I'm not able to reproduce this issue. Here's what I did:

1. Install AIOSEOP, Classic Editor, Contact Form (same plugins as user);
2. Change version number of each plugin so they can be updated.
3. Go to the database and change the value of 'aioseop_seen_about_page' in the user meta table to an earlier version.

![image](https://user-images.githubusercontent.com/18156697/58989231-cbeacf00-87e3-11e

[2019-06-05 21:46] michaeltorbert commented on #2576
Hi @Zodiac1978

So far we've been unable to reproduce this. You can submit your login info to our secure form here and we'll be happy to investigate further so we can get out a fix as quickly as possible: https://semperplugins.com/contact/support-login-information/

[2019-06-05 21:50] wpsmort commented on #2554
I tested again with two sites and both worked fine this time.  There's a chance that this was a transient with Google Search Console.  All of the sitemaps in the index for each site were processed much faster today than when I tested yesterday.

[2019-06-05 22:04] #2580 closed

[2019-06-05 22:09] wpsmort commented on #2576
I have been able to reproduce this on a local test site.  Here are the steps to reproduce this:

1. Install old versions of multiple plugins (NOTE: the plugins should have names that place them after All in One SEO Pack in the alphabetical list on the Plugins screen)
2. Install v2.12.1 of AIOSEOP
3. Go to the Plugins screen an verify that all plugins require updates
4. Select all of the plugins an

[2019-06-06 00:26] michaeltorbert commented on #2556
https://wordpress.org/support/topic/upgrade-nag-message-for-woocommerce-users/#post-11609995

Reported here that the problem is still there.

[2019-06-06 02:15] michaeltorbert opened #2583 "Restrict WooCommerce notice to our own screens"
Since there are still some users with the problem of it not staying away (and I'd still like us to figure out why) we need to discuss whether to at least restrict it to our own admin screens. This may be the more considerate option anyway.

Thoughts?

[2019-06-06 03:59] michaeltorbert opened #2584 "Code Refactor - Change metabox icons to dashicons"
In #1154 we started using font-icons.

Even better would be to use the built-in dashicons. https://developer.wordpress.org/resource/dashicons/#arrow-right-alt2

There's nearly a 1:1 replacements for each.

[2019-06-06 08:00] Zodiac1978 commented on #2576
The problem is showing too if you click the "update now" links manually to start the updates. You just have to start AIOSEOP first and then the other plugins to see the issue.

[2019-06-06 08:21] Zodiac1978 commented on #2399
`<?php echo __( 'You can find more information about XML sitemaps at <a href="http://sitemaps.org">sitemaps.org</a>', 'all-in-one-seo-pack' ); ?>.</p>`

could be written shorter:
`<?php _e( 'You can find more information about XML sitemaps at <a href="http://sitemaps.org">sitemaps.org</a>', 'all-in-one-seo-pack' ); ?>.</p>`

"noopener noreferrer" is just needed if the link is opened in a new windo

[2019-06-06 08:50] arnaudbroes commented on #2399
@Zodiac1978 we probably want these to open as new tabs. Thank you for your input though!

[2019-06-06 08:51] arnaudbroes commented on #2583
Is what I would have done. I'd either limit it to only AIOSEOP or AIOSEOP and the Edit Product & Edit Product Category screens.

[2019-06-06 09:10] Zodiac1978 commented on #2399
@arnaudbroes I have made a PR. I wasn't sure about the usage of `echo __` - is this intentional? I haven't touched this ... because this is used more than once, so it could be wanted.

[2019-06-06 09:37] arnaudbroes commented on #2399
@Zodiac1978 thank you, I'll definitely have a look at it.

__() is a function that's built into WordPress Core and it allows you to make strings translatable so that, when a user is using a language different than English, it shows up in that language instead (assuming that the string has been translated on translate.wordpress.org) - https://developer.wordpress.org/reference/functions/__/

Alterna

[2019-06-06 09:41] Zodiac1978 commented on #2399
Yes, I know (German GTE for years) ;)
https://github.com/semperfiwebdesign/all-in-one-seo-pack/issues/2399#issuecomment-499397616

I just wasn't sure if this is your code style to use it this way ...

[2019-06-06 10:09] arnaudbroes commented on #2399
@Zodiac1978 my bad. :-)

[2019-06-06 12:17] #2578 closed

[2019-06-06 12:21] EkoJR commented on #2389
PR was intended to get travis operational again. There is still room for improvements.

[2019-06-06 12:27] michaeltorbert commented on #2399
@Zodiac1978 Thanks for your comments and PR!
After all the new and changed strings in the latest major release, we could use your help with some of the German strings if you like. :)
https://translate.wordpress.org/locale/de/default/wp-plugins/all-in-one-seo-pack/

[2019-06-06 12:30] michaeltorbert commented on #2576
@EkoJR When you tried and couldn't reproduce this, did you have AIOSEOP activated first?

[2019-06-06 12:37] michaeltorbert opened #2589 "Remove review request notice"
Since we're having the problem of dismissible notices staying gone, we probably need to preemptively disable this one until the problem is resolved.

[2019-06-06 13:34] wpsmort commented on #2583
I agree with restricting the notice to just our admin screens. As you say, it's the considerate option.

[2019-06-06 13:39] wpsmort commented on #2556
I had a services customer email yesterday to report this. He's not agreed to allow us access to his site.  However, he reported that the notice was gone last night but didn't say what he did to get rid of it.

This morning he emailed to say that the notice is back on WooCommerce screens but gone from Jetpack screens.  He had dismissed the notice on the Jetpack Stats screen by clicking the X.  He's

[2019-06-06 18:57] #2583 closed

[2019-06-06 19:01] wpsmort commented on #2576
@EkoJR As discussed, I've given you access to a site where this can be reproduced.

[2019-06-06 19:09] michaeltorbert opened #2592 "Review notice lacks styling"
<img width="1172" alt="Screen Shot 2019-06-06 at 3 08 54 PM" src="https://user-images.githubusercontent.com/17364998/59059490-1bc1a880-886d-11e9-9915-a96c7ba44c75.png">

[2019-06-06 22:10] wpsmort commented on #1834
Reported again here - https://wordpress.org/support/topic/sitemap-has-nonexistent-pages/.  I was not able to reproduce this with a backup of the customer site.

However, using the Media Library Assistant and looking in the database I was able to see that media was attached to posts that had been deleted.  When I looked in the wp_posts table for the post ID, the post showed up with a status of publ

[2019-06-06 22:49] #2454 closed

[2019-06-06 23:14] michaeltorbert opened #2595 "improve issue templates"
This is a good place to start:
github.com/woocommerce/woocommerce/issues/new/choose

[2019-06-06 23:32] michaeltorbert opened #2596 "XML Sitemap - Sitemap shows non-existing pages"
Related to #1834
Reported https://wordpress.org/support/topic/sitemap-has-nonexistent-pages/#post-11607939

Based on the info we have, it looks like a post type Portfolio was created by an old theme, some portfolio entries were added, and some images were attached to them.
The post type registration was then removed (switched themes) but the pages are in the database, public, and published, but th

[2019-06-06 23:51] #2589 closed

[2019-06-06 23:55] antonioorg opened #2598 "CORPORATIVO ASG CHIAPAS"
Arcb

[2019-06-06 23:58] #2598 closed

[2019-06-07 00:30] EkoJR commented on #2556
I believe this may be occurring when multiple users have access to wp-admin, but don't have `manage_options` perms. Which causes the notice to deactivate, and to later be reactivated by site admin.

[2019-06-07 02:16] wpsmort opened #2600 "Update help text for Log important events"
The current help text reads:

Check this and All in One SEO Pack Pro will create a log of important events (all-in-one-seo-pack.log) in its plugin directory which might help debugging. Make sure this directory is writable.

However, this needs to be changed to:

Check this and All in One SEO Pack Pro will create a log of important events (all-in-one-seo-pack.log) in the wp-content directory which

[2019-06-07 07:14] Vanellih opened #2601 "Update error"
I can't update the plugin on my wordpress site. What could be the problem?

[2019-06-07 07:32] EkoJR commented on #2556
Confirmed this bug was being triggered by non-admins browsing the wp-admin side. Which would explain why it was difficult to reproduce.

It requires testing with 2 or more accounts, 1 as admin, and other(s) as non-admin.

[2019-06-07 09:25] EkoJR commented on #2576
This is due to file permissions/owner, and does not appear to be related to AIOSEOP.

Plugin page with plugin updates
![i-2576-plugins-page](https://user-images.githubusercontent.com/2794445/59094596-53f7d400-88cb-11e9-9758-b2756922efd1.png)

File Right/Owner in FTP
![i-2576-ftp-perms](https://user-images.githubusercontent.com/2794445/59094625-64a84a00-88cb-11e9-9d11-8fc444b0d2fa.png)

[2019-06-07 12:00] michaeltorbert opened #2602 "Upgrade to Pro is in Pro version"
<img width="842" alt="Screen Shot 2019-06-07 at 7 58 40 AM" src="https://user-images.githubusercontent.com/17364998/59102532-5e7d9200-88fa-11e9-9bec-f7c9c088666c.png">

[2019-06-07 12:04] michaeltorbert opened #2603 "Tag font has changed"
![D8dAi7EWsAAaQeG](https://user-images.githubusercontent.com/17364998/59102699-da77da00-88fa-11e9-8113-9139374f4f9a.jpg)

[2019-06-07 12:18] michaeltorbert commented on #2576
@EkoJR I think that's specific to your installation. I'm not getting that error message at all. I'm getting the one reported by @Zodiac1978

[2019-06-07 12:21] michaeltorbert opened #2604 "Correct wrong text domain and make “Version 3” localizable"
Reported: https://wordpress.org/support/topic/aioseop-l10n-issue

https://github.com/semperfiwebdesign/all-in-one-seo-pack/blob/01bf171799b6b45443d0b7f4b3de2c61256b7bdf/admin/display/welcome-content.php#L5

Original:
`<h3><a href="https://semperplugins.com/all-in-one-seo-pack-3-0/" target="_blank"><?php echo esc_html( sprintf( __( "Check out what's new in our %s release post!", 'all_in_one_seo_pac

[2019-06-07 12:22] michaeltorbert opened #2605 "missing text domain in aioseop_opengraph.php"
Reported https://wordpress.org/support/topic/aioseop-l10n-issue/#new-post

https://github.com/semperfiwebdesign/all-in-one-seo-pack/blob/01bf171799b6b45443d0b7f4b3de2c61256b7bdf/modules/aioseop_opengraph.php#L367-L373

Original:

''         => __( 'Default Image' ),
'featured' => __( 'Featured Image' ),
'attach'   => __( 'First Attached Image' ),
'content'  => __( 'First Image In Content' ),
'cust

[2019-06-07 12:23] michaeltorbert opened #2606 "Frequency array text displayed in UI can’t be localizable"
Reported https://wordpress.org/support/topic/aioseop-l10n-issue/

[2019-06-07 12:47] michaeltorbert commented on #2601
@Vanellih Since you don't provide any details, such as what exactly happens when you try and fail to update, we couldn't possibly know.
You can try these troubleshooting steps. https://semperplugins.com/documentation/how-to-troubleshoot-issues-with-all-in-one-seo-pack/

[2019-06-07 12:47] #2601 closed

[2019-06-07 13:08] michaeltorbert opened #2607 "Google APIs are blocked in China"
Reported https://wordpress.org/support/topic/problems-with-new-version-6/

We need to see when we started using Google APIs in order to determine if this needs to go out in 3.0.4.
Is there a reason why we aren't just shipping it?

[2019-06-07 13:19] wpsmort commented on #2607
This was added in PR #2290 in this commit https://github.com/semperfiwebdesign/all-in-one-seo-pack/pull/2290/commits/23309f192f8f9ff1783cd538966b85b35e146892

[2019-06-07 13:25] michaeltorbert commented on #2607
Ok so we can either load it from a different location, ship it, or use a built-in library
These are one that ship with WP https://developer.wordpress.org/reference/functions/wp_enqueue_script/#default-scripts-included-and-registered-by-wordpress

If we use ones built into WP, we need to check what version of WP they were first included with.

This tabs library is included https://jqueryui.com/tabs

[2019-06-07 14:34] wpsmort commented on #2603
I have been able to reproduce this.  This was added in PR #2236 in this commit https://github.com/semperfiwebdesign/all-in-one-seo-pack/pull/2236/commits/1ab9b68e89aea2187d5e84f4efe1b3903f30463d

[2019-06-07 14:51] ediong opened #2608 "Sitemap and admin section not loading..."
Sitemap and admin section not loading...

[2019-06-07 14:54] michaeltorbert commented on #2608
@ediong Can you please provide screenshots?

[2019-06-07 14:54] ediong commented on #2608
wp-admin/admin.php?page=all-in-one-seo-pack-pro/modules/aioseop_sitemap.php and sitemap.xml are all loading blank.

[2019-06-07 14:55] michaeltorbert commented on #2608
@ediong What is the URL to your sitemap?

[2019-06-07 14:56] ediong commented on #2608
<img width="1440" alt="Screenshot 2019-06-07 at 3 54 59 PM" src="https://user-images.githubusercontent.com/28027710/59113367-c6ed6300-893c-11e9-9801-a8afa06a41c2.png">
<img width="1440" alt="Screenshot 2019-06-07 at 3 55 18 PM" src="https://user-images.githubusercontent.com/28027710/59113368-c6ed6300-893c-11e9-8791-61b663400a40.png">
<img width="1440" alt="Screenshot 2019-06-07 at 3 55 23 PM" src=

[2019-06-07 14:57] michaeltorbert commented on #2608
@ediong Try these troubleshooting steps to narrow down a plugin or theme conflict: https://semperplugins.com/documentation/how-to-troubleshoot-issues-with-all-in-one-seo-pack/

[2019-06-07 15:00] ediong commented on #2608
Taking those actions are far bigger risk. The website is an active news site with large audience. Everything was okay until I updated the plugin. The only problem is with sitemaps alone...every other thing is OK.

[2019-06-07 15:02] ediong commented on #2608
The website is large. It has nearly 500k tag and posts.

[2019-06-07 15:04] michaeltorbert commented on #2608
@ediong

Those troubleshooting steps are required in order to diagnose whether there's a plugin/theme conflict.

We recommend testing on a development copy of the site if possible. If you are not able to do that, you can also try using the healthcheck plugin, which will allow you to deactivate plugins just for your session, while others will see the regular live site. https://wordpress.org/plugins

[2019-06-07 15:10] ediong commented on #2608
<img width="1440" alt="Screenshot 2019-06-07 at 4 08 22 PM" src="https://user-images.githubusercontent.com/28027710/59114171-88f13e80-893e-11e9-92a9-57f307f91b2d.png">
<img width="1440" alt="Screenshot 2019-06-07 at 4 09 09 PM" src="https://user-images.githubusercontent.com/28027710/59114209-9c9ca500-893e-11e9-8858-00b8ea5c7ae5.png">

This is at Troubleshooting Mode. Everything disabled. Same resu

[2019-06-07 15:11] michaeltorbert commented on #2608
You can submit your login info to our secure form here and we'll have a look: https://semperplugins.com/contact/support-login-information/

[2019-06-07 18:10] michaeltorbert opened #2609 "Make plugin name constant dynamic"
https://github.com/semperfiwebdesign/all-in-one-seo-pack/blob/01bf171799b6b45443d0b7f4b3de2c61256b7bdf/all_in_one_seo_pack.php#L41-L42

We should just check for the AIOSEOPPRO constant and then conditionally call it whichever to make switching easier.

If Pro - name = pro
else - name = free/core

[2019-06-07 19:37] michaeltorbert commented on #2556
One user just reported his site only has admins.

[2019-06-07 20:08] EkoJR commented on #2576
@michaeltorbert I was able to get both errors on the remote test site. First one was for all plugin, which had the long error message, and the second was for the remaining plugin that didn't update (classic editor), which gave me that WP error.

[2019-06-07 20:10] michaeltorbert commented on #2576
@michaeltorbert Does that mean there are two semi-unrelated but overlapping issues, one for each plugin?

[2019-06-07 20:13] EkoJR commented on #2576
At least 1 error is unrelated to AIOSEOP. The file perms for the Classic Editor doesn't have the correct rights set up for the WP platform to remove and add files.

The long error initially shown (when it should be a WP error), does seem to be triggered by aioseop's redirect setup. Which is rather odd when it's just a WP_Error call.

[2019-06-07 20:21] EkoJR commented on #2607
Those aren't scripts, those are styles. Most of which do not ship with WP.

[2019-06-07 20:30] EkoJR commented on #2607
After 8 years....it's still an open issue. https://core.trac.wordpress.org/ticket/18909

[2019-06-07 20:47] wpsmort opened #2611 "Video sitemap links to itself in indexes"
When Sitemap indexes is enabled in the Video Sitemap, the URL for the video sitemap appears in the index.  See screenshot below from https://semperplugins.com/video-sitemap.xml

<img width="805" alt="Screen Shot 2019-06-07 at 4 45 23 PM" src="https://user-images.githubusercontent.com/17548525/59132604-aa085e00-8943-11e9-802b-913a779c3f6b.png">

The result of this is an error in Google Search Conso

[2019-06-07 20:51] #2602 closed

[2019-06-07 21:05] michaeltorbert commented on #2607
Test Microsoft's for China @EkoJR

[2019-06-07 21:06] michaeltorbert opened #2612 "Fallback jquery"

[2019-06-07 21:13] #2606 closed

[2019-06-07 21:16] wpsmort opened #2613 "XML Sitemap pagination not working for SimplePress forums"
This can be seen on https://semperplugins.com/sitemap_forum.xml where we have sitemap indexes enabled and pagination set to 1000 but the sitemap for forums is not being paginated.  This could be caused by the SimplePress XML Sitemap add-on (https://simple-press.com/downloads/xml-sitemap-plugin/).

[2019-06-07 21:17] wpsmort commented on #2613
I'll do more testing to determine where this problem

[2019-06-07 21:27] kovalets opened #2614 "Old icon in new version"
**In the new installation of the plugin, the new icon, in the old version updated to the new version, is still the old icon.**
New install ![new install](https://user-images.githubusercontent.com/22265102/59134309-59185a00-8983-11e9-9bdb-96b0a5f0a710.png)

Old Install ![Old install](https://user-images.githubusercontent.com/22265102/59134311-5c134a80-8983-11e9-854c-6b5f9a7e8f74.png)
_(Do not pay a

[2019-06-07 21:30] michaeltorbert commented on #2614
The top one is the new version of the icon.
The bottom one is the old icon.

[2019-06-07 21:30] #2614 closed

[2019-06-07 21:34] kovalets commented on #2614
Missing the button to disable the SEO button in the panel.
![seo](https://user-images.githubusercontent.com/22265102/59134793-2ec79c00-8985-11e9-8639-e815da967570.png)

[2019-06-07 21:37] kovalets commented on #2614
I translate your plugin into Ukrainian Leanguage.
Can you add me to the list of translators of your plugin?
https://profiles.wordpress.org/sergeykovalets/

[2019-06-07 21:41] michaeltorbert commented on #2614
@kovalets
This is a development repository, not a discussion forum. Many people get notifications for these issues, so let's please use the site appropriately.
If you have a bug report, feature request, etc, create a new issue. Do not post on another unrelated existing issue.
If you would like to be a translator, please contact us here and our Translator Wrangler will get in touch with you. https:

[2019-06-07 22:12] wpsmort opened #2616 "Empty <lastmod> for SimplePress forum sitemap"
This can be seen on https://semperplugins.com/sitemap.xml where we have sitemap indexes enabled.  The sitemap for the forums contains an empty <lastmod> tag which results in an error in Google Search Console shown in the screenshot below:

<img width="957" alt="Screen Shot 2019-06-07 at 6 10 39 PM" src="https://user-images.githubusercontent.com/17548525/59136100-a24eb680-894f-11e9-9730-8e3a3f15708

[2019-06-07 23:04] EkoJR commented on #2603
I'm not sure this can be fixed; unless the styling isn't enqueued. The element structure & element classes are set up in WP in such a way, that enqueueing a style will apply those styles. It seems to be more of a problem with WP's element structure.

[2019-06-07 23:25] #2604 closed

[2019-06-07 23:25] #2605 closed

[2019-06-08 01:49] #2556 closed

[2019-06-08 01:53] #2607 closed

[2019-06-08 02:00] EkoJR opened #2620 "Add unit test for notices using multiple user roles"
Unit test for admin and non-admin interactions, and make sure they operate correctly.

PR #2599 fixed a similar bug.

[2019-06-08 11:38] arnaudbroes commented on #2609
That would be a welcome change.

[2019-06-08 21:11] michaeltorbert opened #2621 "Rename admin bar -> toolbar in internationalized string"
https://github.com/semperfiwebdesign/all-in-one-seo-pack/blob/523cefc39a2291e816d3bdbd716e2a0c72908efe/inc/commonstrings.php#L26
https://github.com/semperfiwebdesign/all-in-one-seo-pack/blob/523cefc39a2291e816d3bdbd716e2a0c72908efe/inc/commonstrings.php#L87

The admin bar has been called the toolbar since 3.0.
https://wordpress.org/support/article/toolbar/
https://wordpress.org/support/wordpress-v

[2019-06-09 22:19] michaeltorbert opened #2622 "Fix placeholder"
should be 1 then 2

https://github.com/semperfiwebdesign/all-in-one-seo-pack/blob/2e61d1552f37d3f41904a6f18e69a7f44573e00c/admin/display/notices/review-plugin-notice.php#L24

[2019-06-09 22:23] michaeltorbert opened #2623 "Fix placeholder for translation"
@arnaudbroes  Is this correct?

https://github.com/semperfiwebdesign/all-in-one-seo-pack/blob/2e61d1552f37d3f41904a6f18e69a7f44573e00c/admin/class-aioseop-helper.php#L451

[2019-06-09 22:24] michaeltorbert opened #2624 "Better OG image for github repo"
Something with better dimensions so it unfurls better than a stretched out logo

[2019-06-10 00:09] leandroprz opened #2625 "Bug - Issue with WPML after updating to v3.x"
Please fill out this form as completely as possible so that we can help you more quickly.

- [x] I understand that this is a development repository and not a support forum. This is a bug report and is not a support request.
 - [x] I've followed the [troubleshooting steps](https://semperplugins.com/documentation/how-to-troubleshoot-issues-with-all-in-one-seo-pack)  to determine if there's a theme/p

[2019-06-10 00:51] michaeltorbert commented on #2554
Update: it looks as though Google has made an undocumented change, and "_post_" in the sitemap name does not appear to be supported any longer.

[2019-06-10 04:01] wpsmort opened #2628 "XML Sitemap - Include additional namespaces"
We should consider including the additional namespaces in our XML Sitemaps (these do not need to be added to the main sitemap index, only the sitemaps within the index):

[code]

Here's our current namespaces:

[code]

[2019-06-10 04:38] #2554 closed

[2019-06-10 09:04] BartGysens opened #2630 "Add new post broken"
After updating to version 3.1

Uncaught TypeError: jQuery(...).tabs is not a function
    at HTMLDocument.<anonymous> (aioseop_module.js:543)
    at i (jquery.js:2)
    at Object.fireWith [as resolveWith] (jquery.js:2)
    at Function.ready (jquery.js:2)
    at HTMLDocument.J (jquery.js:2)

Additional info:

Uncaught Error: Undefined class constant
'DISPLAY_HELP_START' in
/home/ek2sz83820yt/public

[2019-06-10 09:07] arnaudbroes commented on #2623
This is correct.

[2019-06-10 09:07] #2623 closed

[2019-06-10 09:15] arnaudbroes commented on #2630
@BartGysens dag Bart, bedankt om dit te rapporteren. Het gaat hier echter om een bug in WPGlobus die  in versie 2.2.9 werd verholpen. Ik raad je aan WPGlobus te updaten als je een oudere versie gebruikt.  Mocht dat niet het geval zijn, geef ons dan gerust een seintje.

[2019-06-10 09:15] #2630 closed

[2019-06-10 09:19] BartGysens commented on #2630
Ok, bedankt voor je reply!

_______________________________

Bart Gysens
bart.gysens@gmail.com
0032 475 84 69 56

[2019-06-10 11:21] arnaudbroes opened #2631 "Add "Don't show this again" option to About screen"
Reported by Alexander B. on 6/10/2019 via Facebook DM.

I can personally understand why this is annoying if you're a site admin managing dozens of websites when we're rapidly releasing bug fixes, etc.

We could add a "Don't show this again" action link but I'm open to other suggestions.

[2019-06-10 18:57] michaeltorbert opened #2632 "i18n - Fix placeholder in admin/class-aioseop-helper.php:451"
https://github.com/semperfiwebdesign/all-in-one-seo-pack/blob/3da681fc9e66a522414b5c17398af93aca10ca3c/admin/class-aioseop-helper.php#L451

[2019-06-10 20:00] wpsmort commented on #2502
I was not a fan of these pointers when we implemented them.  I'd rather we 1). introduce our dashboard for notices, and 2). implement a setup wizard.

[2019-06-10 20:16] michaeltorbert commented on #255
Depends on https://github.com/semperfiwebdesign/all-in-one-seo-pack/issues/877 and https://github.com/semperfiwebdesign/all-in-one-seo-pack/issues/1007

[2019-06-10 20:22] arnaudbroes commented on #2502
Agreed. In the meantime I'll remove the remaining code.

[2019-06-10 20:24] wpsmort opened #2633 "New Feature - Setup wizard for configuring the plugin"
We should have a setup wizard for first time users similar to other plugins.

[2019-06-10 20:50] tonyzeoli commented on #2502
I like the setup wizard idea.

[image: photo]
Tony Zeoli
Founder, Digital Strategy Works LLC
O  (828) 412-0990  <(828) 412-0990> M  (917) 705-4700  <(917)
705-4700> E  az@digitalstrategyworks.com
<az@digitalstrategyworks.com>
W  https://digitalstrategyworks.com
Whatsapp 9177054700
Skype tonyzeoli
<http://www.facebook.com/digitalstrategyworks>
<http://www.twitter.com/dswks>
<http://www.linkedin.com

[2019-06-10 21:13] arnaudbroes commented on #468
This should be AJAX.

[2019-06-10 21:24] #536 closed

[2019-06-10 21:34] #568 closed

[2019-06-10 21:35] wpsmort commented on #142
This is now replaced by #508 as there's only one setting (Display Sitelinks Search Box) that's not related to Google Analytics left in the current box and that will be moved to it's own box as part of the Schema project.

[2019-06-10 21:35] #142 closed

[2019-06-10 21:39] #694 closed

[2019-06-10 21:43] #730 closed

[2019-06-10 21:46] michaeltorbert commented on #737
@arnaudbroes Can you research this to see what various translation (and seo?) plugins are doing to accomodate multi-language sites

[2019-06-10 21:49] michaeltorbert commented on #796
We already have a notice for this.

[2019-06-10 21:49] #796 closed

[2019-06-10 21:58] michaeltorbert commented on #1157
We recently implemented font-icons for this, but we should just use dashicons.
There should be a 1:1 relationship with most of the images with an existing dashicon. Where there isn't, use the best option.

*Note: recently some new dashicons were added in I think WP 5.2, so make sure whatever you use exists in WP 4.7+.
https://developer.wordpress.org/resource/dashicons/

[2019-06-10 22:03] #1796 closed

[2019-06-10 22:06] michaeltorbert commented on #1331
Requested here https://semperplugins.com/support/configuring-all-in-one-seo-pack-pro/woocommerce-product-category-migration-from-yoast/

[2019-06-10 22:06] michaeltorbert commented on #1331
This is a tricky one. Taxonomy meta is only supported in Pro, however, we can still import it in free.

[2019-06-10 22:06] #1309 closed

[2019-06-10 22:07] michaeltorbert opened #2634 "Add searchbox image to assets"

[2019-06-10 22:10] wpsmort commented on #1386
@arnaudbroes Talk to me when you're ready to start on this and I can review GTM with you and give you access to my account.

[2019-06-10 22:11] #1524 closed

[2019-06-10 22:14] michaeltorbert commented on #1614
1) Look at the code for each place and make sure it makes sense to do wp_parse_url
2) Manually test to make sure the functionality is unchanged
3) Write unit tests for each instance

[2019-06-10 22:16] michaeltorbert commented on #1708
Some plugins have this.

[2019-06-10 22:21] michaeltorbert commented on #1715
Let's reach out to Thomas and see if it's resolved for him.

[2019-06-10 22:21] wpsmort commented on #1708
Here's an example of what this looks like in other plugins:

![deactivation-form-example](https://user-images.githubusercontent.com/17548525/59230780-94e23800-8bac-11e9-9f9b-bf4283854f27.jpg)

[2019-06-11 00:43] michaeltorbert commented on #2502
@tonyzeoli Anything in particular you'd like it to do?

[2019-06-11 07:34] arnaudbroes commented on #187
This can be closed since we'll be removing them.

[2019-06-11 07:34] #187 closed

[2019-06-11 11:16] 18590342249 opened #2635 "baiduSEO"
NO baidu SEO

[2019-06-11 12:54] michaeltorbert commented on #2635
@18590342249 Could you provide more details about what you mean?

[2019-06-11 13:31] michaeltorbert opened #2636 "array_key_exists() expects parameter 2 to be array, boolean given in aioseop_class.php on line 4941"
Reported here: https://wordpress.org/support/topic/array_key_exists-expects-parameter-2-to-be-array-boolean-given-in-2/

https://github.com/semperfiwebdesign/all-in-one-seo-pack/blob/3da681fc9e66a522414b5c17398af93aca10ca3c/aioseop_class.php#L4941

[2019-06-11 14:15] tonyzeoli opened #2637 "When select noindex or nofollow write rules to robots.txt file"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

When I click on a checkbox to default NO INDEX (or NO FOLLOW) a category or a post type, I would think the rule should be written to the robots.txt file editor, so that a site admin can see the rule that was put in place.

Recently, Google

[2019-06-11 14:19] michaeltorbert commented on #2637
Hi Tony,

Offhand I'd say this wouldn't be good behavior, because they're two separate things.
For instance, you may have noindex but follow, and so you wouldn't want to blog Google from crawling the page.
Also, if there are a lot of categories, that's a LONG robots.txt. :)
This is also something that introduces another layer of complexity (and bugs) for redundant functionality.

If I understand c

[2019-06-11 14:21] michaeltorbert commented on #2636
Reported as resolved by user.

[2019-06-11 14:21] #2636 closed

[2019-06-11 14:37] tonyzeoli commented on #2637
Consider the following.

Google sends an email to the site admin reporting that something is blocked
in Robots.txt. The site admin is new to the company or someone else may
have changed a setting when they had access to it. The site admin reviews
Robots.txt and sees nothing. The site admin is new to AIOSEO, so he/she
doesn't know what to do next, so they send a support request to AIOSEO to
ask, be

[2019-06-11 15:17] michaeltorbert commented on #2637
Is Google sending emails that the robots.txt is blocking access when it isn't, it's really the robots meta tag on the page itself? I've never seen this ad we've never gotten any reports about it as far as I know.
@wpsmort can you weigh in here?

[2019-06-11 15:21] michaeltorbert opened #2638 "repeated placeholder"
https://github.com/semperfiwebdesign/all-in-one-seo-pack/blob/master/admin/display/notices/review-plugin-notice.php#L24

The double placeholder is getting flagged. Do we know this works?
https://translate.wordpress.org/projects/wp-plugins/all-in-one-seo-pack/dev/en-ca/default/?filters%5Bwarnings%5D=yes&filters%5Bstatus%5D=current_or_waiting&sort%5Bby%5D=translation_date_added

[2019-06-11 17:08] tonyzeoli commented on #2637
Here's the text of the message from Google Search Console below.

So, when the URL is marked "no index," the obvious place to look first is
Robots.txt, because I wanted to see if the URL was actually marked
"noindex." When I looked at the Errors in Search Console, it showed me the
three URLs and I ascertained they were category URLs. It suggested I
inspect the URLs, so I inspected them and they al

[2019-06-11 17:58] michaeltorbert commented on #2638
Another:
https://github.com/semperfiwebdesign/all-in-one-seo-pack/blob/3da681fc9e66a522414b5c17398af93aca10ca3c/admin/class-aioseop-helper.php#L959

[2019-06-11 18:03] michaeltorbert opened #2639 "i18n - Add translator comment"
It needs a placeholder comment anyway, also it may be confusing that it starts with 2.

https://github.com/semperfiwebdesign/all-in-one-seo-pack/blob/3da681fc9e66a522414b5c17398af93aca10ca3c/admin/class-aioseop-helper.php#L451

[2019-06-11 18:07] michaeltorbert opened #2640 "Redirects feature"
This is something we get asked for quite a bit

[2019-06-11 18:15] michaeltorbert opened #2641 "Correct casing"
url should be URL

https://github.com/semperfiwebdesign/all-in-one-seo-pack/blob/523cefc39a2291e816d3bdbd716e2a0c72908efe/inc/commonstrings.php#L31

This also needs to be fixed in /pro/ in the Pro repo.

[2019-06-11 18:22] michaeltorbert opened #2642 "Remove double spacing from localized string"
https://github.com/semperfiwebdesign/all-in-one-seo-pack/blob/3da681fc9e66a522414b5c17398af93aca10ca3c/admin/class-aioseop-helper.php#L119

[2019-06-11 21:42] michaeltorbert opened #2643 "Add translator comments"
https://github.com/semperfiwebdesign/all-in-one-seo-pack/blob/3da681fc9e66a522414b5c17398af93aca10ca3c/modules/aioseop_sitemap.php#L1341

This is probably confusing for translators.

[2019-06-11 21:50] michaeltorbert opened #2644 "Remove obsolete string"
https://github.com/semperfiwebdesign/all-in-one-seo-pack/blob/523cefc39a2291e816d3bdbd716e2a0c72908efe/inc/commonstrings.php#L60

[2019-06-12 00:21] wpsmort commented on #1127
We can do three things here:

1. Improve this text to make it clearer how to use the rule builder: "Use the rule builder below to add/delete rules."
2. Improve the help text for each field
3. Add a heading above the window that displays the robots.txt to state what that window does.  See mockup below:

<img width="688" alt="Screen Shot 2019-06-11 at 8 14 45 PM" src="https://user-images.githubuserc

[2019-06-12 00:30] wpsmort commented on #2637
The messages from GSC are very specific.  If it says "Submitted URL marked ‘noindex’" then this is caused by the robots meta tag in the source code.  Whereas, if it says "Submitted URL blocked by robots.txt" then it's because the URL is blocked in the robots.txt file.  These are two separate things and should not be confused.  Google have a list of these errors and explanations here - https://supp

[2019-06-12 01:02] tonyzeoli commented on #2637
When you're (the developers) as close to this as anyone, it might seem
obvious to you these distinctions. But it's not obvious until someone tells
you it exists. Therefore, these helper guides in your docs and in the
plugin would certainly be helpful to indicate settings have been changed
and here's where to look.

Lastly, as i said before, someone may walk into this for the first time and
have no

[2019-06-12 10:29] hobhobuk opened #2645 "Unable to verify with Google Search Console"
Google no longer offers the tag option, this plugin requires that..
So due to this it is no longer possible to use this feature.
Any other option failed to verify.

[2019-06-12 13:47] wpsmort commented on #2645
@hobhobuk Google still supports the HTML tag method as per their documentation here - https://support.google.com/webmasters/answer/9008080

[2019-06-12 13:47] #2645 closed

[2019-06-12 14:49] michaeltorbert commented on #1738
This is a very niche functionality that is covered by our API.

[2019-06-12 14:49] #1738 closed

[2019-06-12 15:02] michaeltorbert commented on #1986
This should be the last modified date from the last modified post. Is this going to cause performance issues if there are a lot of archives?

[2019-06-12 15:11] michaeltorbert commented on #2216
Stuff like this needs to go in its own file.

[2019-06-12 15:14] michaeltorbert commented on #2238
@wpsmort Make the necessary notes here about why this will be closed and create the new issue.

[2019-06-12 15:18] #2244 closed

[2019-06-12 15:24] michaeltorbert commented on #2285
The documentation reflects this functionality.

[2019-06-12 15:30] michaeltorbert commented on #2327
https://github.com/semperfiwebdesign/all-in-one-seo-pack/blob/2.12/aioseop_class.php#L3561

We need to see why cpostactive would be undefined. If none are checked?
Should we just add a check to see if it's defined first?

[2019-06-12 15:30] michaeltorbert commented on #2335
This is already fixed.

[2019-06-12 15:30] #2335 closed

[2019-06-12 15:41] michaeltorbert commented on #2395
Instead of removing Google Connect, will the button work again if we replace the old oauth with the new oauth as a drop-in replacement?

[2019-06-12 15:55] michaeltorbert commented on #435
Related to #2534

[2019-06-12 15:59] michaeltorbert commented on #2616
@EkoJR Can you look and see whether this is something that needs fixing by us or by their add-on?

[2019-06-12 16:05] michaeltorbert commented on #2622
1) Test and make sure it works with 1,1 instead of 1,2.
2) Add a translator comment, because translators may get confused thinking it's wrong.

[2019-06-12 16:53] wpsmort commented on #2238
We don't want to add a new option for this as we're removing the related option (Use Static Front Page Instead) from the General Settings - see issue #495.

Instead we want to do what we're doing with the home page SEO settings and hide the fields based on what's set under Reading Settings in WordPress.  We have issue #515 open for this. I am therefore closing this issue.

[2019-06-12 16:53] #2238 closed

[2019-06-12 17:41] michaeltorbert commented on #2635
We can reopen this if we get more details.

[2019-06-12 17:41] #2635 closed

[2019-06-12 17:44] michaeltorbert commented on #2608
This can be reopened if we get more info such as steps to reproduce.

[2019-06-12 17:44] #2608 closed

[2019-06-12 18:16] wpsmort commented on #2557
This can be reopened if we get more info such as steps to reproduce.

[2019-06-12 21:03] wpsmort commented on #1616
I tested the fix provided above and it works for all test cases.  I've created a PR with this code change.

[2019-06-12 21:27] wpsmort opened #2648 "Slow sitemap index"
Reported by Troy by email today:

We cloned the customer site and verified that it was taking over 20 seconds to display the sitemap index file.  The index contains 10 sitemaps for pages, products and product categories.  The site has 0 posts, 839 pages, 6379 products and 536 product categories.  Images are excluded from the sitemap.  Pagination is set to 1000.

Rolling back to v2.12 and v2.113 of

[2019-06-12 21:30] michaeltorbert commented on #2648
I'd like to see this in a 3.1.1 release.

[2019-06-12 22:07] wpsmort opened #2649 "XML Sitemap - Add support for images in post_meta"
Requested by Jaffer by email on 6/6/19.

Jaffer use the Featured Galleries plugin (https://wordpress.org/plugins/featured-galleries/) to add galleries to his posts.  He wanted to know if these images could be included in the XML Sitemap.

I tested and found that this plugin adds post meta for fg_perm_metadata with the IDs of the images.

We could look at adding a filter hook that enables users to

[2019-06-12 22:13] wpsmort opened #2650 "Add FAQ about noindex and robots.txt"
As suggested here https://github.com/semperfiwebdesign/all-in-one-seo-pack/issues/2637 we could add an FAQ that explains the difference between Noindex and Robots.txt and why you'd use them.

[2019-06-12 22:15] wpsmort commented on #2637
I'm closing this in favor of the issues opened as per my comment here https://github.com/semperfiwebdesign/all-in-one-seo-pack/issues/2637#issuecomment-501074057

[2019-06-12 22:15] #2637 closed

[2019-06-13 00:29] tonyzeoli commented on #2637
Thanks, Steve!

[2019-06-13 08:00] jan-71 commented on #2557
I have not been in the office for a couple of days, so I'm only getting in touch now. I found the mistake. There is a conflict with the nginx pagespeed module. The nginx Pagespeed module optimizes css files. If I deactivate the nginx Pagespeed module also the admin area of the all in one seo pack is displayed correctly again. But when I turn on nginx pagespeed again, the CSS error reappears.

[2019-06-13 12:20] michaeltorbert opened #2651 "Google Analytics - Tracking code doesn't show up on CPT without AIOSEOP section"
Reported here: https://wordpress.org/support/topic/google-analytics-feature-is-not-working-with-custom-post-type/

Is there any reason we shouldn't have it show up everywhere? Maybe we should unhook it from the AIOSEOP section and just display it on every page?

[2019-06-13 13:07] wpsmort commented on #2651
I agree that Google Analytics should show up everywhere regardless of whether the user has AIOSEOP active on that page.  We should have a filter hook to enable users to remove it if they wish.

[2019-06-13 15:16] gemelli2 opened #2652 "recent update to all in one seo made CPU usage surge"
hi -- i updated to the latest version of the plugin 3.1 and the day after, my hosting company said that the CPU usage was sky high. Apparently (from the siteground tech people) they said that up until i updated the plugin, script executions were taking ~ 0.6 seconds to complete and then after that time, it was taking up to 30 secs.

Also: the most frequently executed scripts seem to be index.php a

[2019-06-13 15:28] michaeltorbert commented on #2652
@gemelli2

Thats odd. The only change in 3.1 was to change the naming convention for the XML sitemap files, would wouldn't affect performance. You can submit your login info to our secure form here and we'll take a look: https://semperplugins.com/contact/support-login-information/

Obviously we don't recommend that.

[2019-06-13 17:30] wpsmort commented on #659
I'm pushing this back to v3.6 as it is dependent on #660.  In testing I found that we're currently not logging blocked bots to the AIO log file.

[2019-06-13 17:51] wpsmort commented on #2652
@gemelli2 We've tested on your site updating between v2.12.1, v3.0.4 and v3.1 of All in One SEO Pack and are seeing no difference in performance on the site.  We also tested on a clone of your site on our server and there was no difference in performance or CPU utilization.

We did notice three things regarding the configuration of WordPress, they are:

- In the wp-config.php file you have the WP_

[2019-06-13 17:55] michaeltorbert commented on #2652
Can you provide specific instructions on how to see the performance problems on your site?

[2019-06-13 18:04] gemelli2 commented on #2652
i saw it in my cpanel.... yesterday the top "last 2 hours" was over the
8000 limit for CPU and and up into the 7k in executions
[image: image.png]

i'm not sure where else you can get that info???

2twinsdesign
website design | graphic design | SEO
Phone & Text: (484) 321-3289
info@2twinsdesign.com | 2twinsdesign.com
[image: cloudHQ]
<https://chrome.google.com/webstore/detail/free-email-tracker/nk

[2019-06-13 18:07] michaeltorbert commented on #2652
Ok offhand I’d say that doesn’t seem to indicate AIOSEOP is involved.

[2019-06-13 18:29] gemelli2 commented on #2652
thanks -

i will look into all of these....
i appreciate your input -- not sure why it happened when i updated your
plugin ... weird timing?

2twinsdesign
website design | graphic design | SEO
Phone & Text: (484) 321-3289
info@2twinsdesign.com | 2twinsdesign.com

On Thu, Jun 13, 2019 at 1:51 PM wpsmort <notifications@github.com> wrote:

[2019-06-13 18:41] wpsmort commented on #2652
It could have been any number of things that caused the CPU spike.  I'll close this issue.

[2019-06-13 18:41] #2652 closed

[2019-06-13 19:49] wpsmort opened #2653 "AIO v3.x breaks styling in Post Snippets plugin"
Reported here https://wordpress.org/support/topic/backend-css-issues/

The new styles we enqueue in 3.0 affect the popup for Post Snippets plugin on the Edit Post screen.  See screenshots below.

Before:
<img width="576" alt="before" src="https://user-images.githubusercontent.com/17548525/59462947-c8160880-8df2-11e9-8a50-399e7c08f796.png">

After:
<img width="561" alt="after" src="https://user-ima

[2019-06-13 20:05] wpsmort opened #2654 "add memory used to create sitemap to its comments"
currently we only put it in the log file

[2019-06-13 21:16] michaeltorbert commented on #2652
@gemelli2

Like every software, we've certainly introduced bugs or code that needed some attention, even including some performance issues (though that's rare and generally only for exceptionally large sites).

Yet, after nearly every release for over a decade, we've received reports that the latest release of x.x caused some sort of performance issue. In reality, what tends to happen is that prob

[2019-06-13 21:53] wpsmort commented on #1310
I have tested the rules thoroughly with all variations of XML Sitemap and Video Sitemap for both v3.1 where we introduced the new naming convention and for versions prior to v3.1.

I have updated the documentation to reflect the new rules for the new naming convention and added a new doc for Video Sitemap rewrite rules.  Both docs can be found here:

https://semperplugins.com/documentation/xml-sit

[2019-06-13 21:53] #1310 closed

[2019-06-13 21:58] wpsmort commented on #2648
After further testing on multiple clones of the customer site, we found that we could not reproduce the problem when switching between versions from 3.0 to 3.1.  Each time we activated a different version the problem went away.  We testing on the original clone and couldn't reproduce it there.

Testing on the live customer site we found that the site ran slow with AIO deactivated.  The customer co

[2019-06-13 21:58] #2648 closed

[2019-06-14 11:36] Sandjab commented on #1800
Same here. I have a multisite  WP install consisting in 4 onepager sites (one main, and 3 subdomains).

As already described by @arnaudbroes, the mainsite sitemap contains the subdomains sitemaps URLs.

I would normally don't mind, but as you can see below, the substites sitemaps are not between `<sitemap>` tags but between `<url>` tags.

Thus google tries to index them, but as they are obviously

[2019-06-14 21:13] arnaudbroes commented on #1708
![image](https://user-images.githubusercontent.com/18156697/59538426-fd594e00-8ef9-11e9-9edf-4ec924f3746a.png)

[2019-06-15 10:24] arnaudbroes commented on #1127
@wpsmort looks good! Nothing to add.

[2019-06-15 10:32] arnaudbroes commented on #2651
Agreed, this should show up on each page.

[2019-06-15 13:44] arnaudbroes commented on #426
Looks like Yandex used to have it but no longer does, and Baidu supports something for blog feeds but not for sitemaps. I'll go ahead and close this.

[2019-06-15 13:44] #426 closed

[2019-06-15 15:46] #2603 closed

[2019-06-15 15:47] #2653 closed

[2019-06-15 17:03] arnaudbroes commented on #2216
Shouldn't we instead output noindex,nofollow on those three pages? We could use those filters but I think it will conflict with other plugins who change those links.

[2019-06-15 17:04] #2612 closed

[2019-06-15 17:04] arnaudbroes commented on #2612
This is no longer needed since we're shipping it ourselves now.

[2019-06-15 18:59] michaeltorbert commented on #2216
We could think about doing that too but I still think we should apply nofollow to the links themselves. It *shouldn't conflict if we just add it. We aren't changing the entire link.

[2019-06-15 19:04] michaeltorbert opened #2660 "Add new contributors to credits"
...right before releasing. Update this issue as we go along.

1) zodiac1978
2) @sergeykovalets for Ukrainian

[2019-06-15 19:05] #2399 closed

[2019-06-15 19:28] arnaudbroes commented on #2126
@wpsmort I'm no longer able to reproduce this anymore with the newest versions of All in One SEO Pack and WooCommerce nor with older versions (nor with the commit I traced it back to).

Can you confirm this?

[2019-06-16 10:40] arnaudbroes commented on #2216
I had a look at it this morning. Looks like we'll have to do it through the screens because, as far as I can see, those filters require the links to be in a 'http://' or 'https://' format and can't be in HTML.

[2019-06-16 13:52] michaeltorbert opened #2662 "Better controls over welcome page"
Probably in the updates file, we should make it explicit for when the welcome page appears... ie after major releases.

[2019-06-16 14:19] michaeltorbert commented on #2216
https://core.trac.wordpress.org/browser/tags/5.2.1/src/wp-includes/general-template.php#L0
They're the full HTML so we can just use a string replace function.

[2019-06-16 14:55] wpsmort commented on #2126
@arnaudbroes I've set up a new site on your Cloudways server where the problem is present - https://wordpress-281813-887299.cloudwaysapps.com

[2019-06-17 07:48] arnaudbroes commented on #2662
Related to https://github.com/semperfiwebdesign/all-in-one-seo-pack/issues/2631.

[2019-06-17 07:49] arnaudbroes commented on #2631
Related to https://github.com/semperfiwebdesign/all-in-one-seo-pack/issues/2662.

[2019-06-17 08:20] arnaudbroes opened #2664 "Resolve new Grunt errors"
There's a bunch of new line separator errors now.

![image](https://user-images.githubusercontent.com/18156697/59589106-81255d00-90e9-11e9-97f8-c95a8b7e123c.png)

[2019-06-17 08:27] arnaudbroes commented on #2664
@EkoJR are you seeing the same?

[2019-06-17 08:28] arnaudbroes commented on #2643
I'll close this in favour of #1500.

[2019-06-17 08:28] #2643 closed

[2019-06-17 08:49] arnaudbroes commented on #2638
It works (see Dutch string below).
![image](https://user-images.githubusercontent.com/18156697/59590647-d31bb200-90ec-11e9-8f78-88f861b7d6b9.png)

We can change it to %1$s, %2$s but then we have to add the same argument twice. Using %s twice for a single argument is not an option because Grunt flags it.

I'm good as it is but I'll change it to improve readability and make it less confusing.

[2019-06-17 09:02] arnaudbroes commented on #2622
Duplicate of #2638.

I've created a PR to improve readability; will add a translator description as part of #803.

[2019-06-17 09:02] #2622 closed

[2019-06-17 09:55] arnaudbroes opened #2669 "Make webmaster tool verification fields untranslatable"
With the exception of "Pinterest Site verification", is there a reason why we want these to be translatable? I don't think there's a different term for these in other languages.

* Google Search Console
* Bing Webmaster Tools
* Yandex Webmaster Tools
* Baidu Webmaster Tools

[2019-06-17 11:38] michaeltorbert commented on #2669
Is there any way to research it?

[2019-06-17 11:53] arnaudbroes commented on #2669
Only thing I can think is going through our locales and see what our translators are doing with those strings.

[2019-06-17 11:54] michaeltorbert commented on #2669
That only works if that particular translator knows, which we may not be able to assume is the case.

[2019-06-17 11:57] michaeltorbert commented on #2669
Although looks like we can test it:
https://www.google.com/webmasters/tools/home?hl=es
https://www.google.com/webmasters/tools/home?hl=zh-cn

Looks like it is indeed not translated.

[2019-06-17 15:52] arnaudbroes commented on #746
After going through the code, I found we already have a filter for this, but no documentation.
https://github.com/semperfiwebdesign/all-in-one-seo-pack/blob/bdd97e94ae953ef85f894da6f4230217d5693223/modules/aioseop_sitemap.php#L4165-L4168

I've removed some unnecessary arguments and created a doc for it.

[2019-06-17 20:02] michaeltorbert commented on #2301
On second thought. Since we're localizing this, I can see a need for someone who has a site's backend in their native language for ease of use, but wants the front-end in English for wider reach.
Maybe we should have something like %current_month% and %current_month_i18n%?

[2019-06-17 20:09] #2609 closed

[2019-06-17 20:17] #869 closed

[2019-06-17 20:39] #2644 closed

[2019-06-17 21:01] #2642 closed

[2019-06-17 21:30] #2641 closed

[2019-06-17 21:37] wpsmort opened #2673 "Correct URL casing"
Option label for Track Url Changes needs correct casing:

https://github.com/semperfiwebdesign/aioseop-pro/blob/dd73239a666035d2cdc8c34b0ee118ff7fcd4bc7/inc/commonstrings.php#L91

[2019-06-17 21:41] arnaudbroes commented on #2673
This was fixed in https://github.com/semperfiwebdesign/all-in-one-seo-pack/pull/2666.

[2019-06-17 21:41] #2673 closed

[2019-06-17 21:49] arnaudbroes commented on #2301
It's an interesting thought, although I don't have a strong opinion on it. @wpsmort?

[2019-06-17 22:00] wpsmort commented on #2301
Good point.  I think this would be a good idea.

[2019-06-17 22:29] #1512 closed

[2019-06-17 22:35] #1509 closed

[2019-06-17 22:38] #2638 closed

[2019-06-18 01:52] michaeltorbert opened #2674 "An error of type E_ERROR was caused in line 446 of the file aioseop_sitemap.php"
Reported via email, I'm not sure how to reproduce it.

Error Details
=============
An error of type E_ERROR was caused in line 446 of the file /home/laugol11/goldenkeypartnership.com/wp-content/plugins/all-in-one-seo-pack-pro/modules/aioseop_sitemap.php. Error message: Uncaught Error: Call to a member function deactivate_notice() on null in /home/laugol11/goldenkeypartnership.com/wp-content/plugin

[2019-06-18 17:55] wpsmort commented on #2140
Here's the new list of Open Graph types:
[code]

This will need a database migration to map the following OG Types from current to new:

Song
Album
Movie
Episode
TV Show

Anything not in the new list should default to Article.

@arnaudbroes Do you want to do the development on this?

[2019-06-18 20:02] wpsmort commented on #2395
It does not look like this is an easy drop-in replacement for the old OAuth connection method.  I have therefore created a PR to remove the legacy Google Connect and OAuth code.

[2019-06-19 19:34] arnaudbroes opened #2680 "Checkboxes and radio options look off in Microsoft Edge"
![image](https://user-images.githubusercontent.com/18156697/59794703-d88a1f80-92d9-11e9-9701-1b3eda494f0a.png)

We'll want to wait till Microsoft releases their upcoming Chromium based Microsoft Edge to see if this is still happening.

[2019-06-19 20:56] arnaudbroes commented on #2140
@wpsmort that works for

[2019-06-19 22:55] wpsmort commented on #2368
I have now been able to reproduce this.  Here are the steps:

1. Install Pro on a new site
2. Go to the General Settings screen and check the box for Categories under SEO on only these taxonomies
3. Activate the Social Meta module and go to the Social Meta settings
4. Select First Attached Image in the Select OG:Image Source dropdown
5. Create an empty category and then view the category and you s

[2019-06-19 23:02] wpsmort commented on #2368
There is a related PHP notice if you select First Image in Content in the Select OG:Image Source dropdown:

Trying to get property 'ID' of non-object in admin/aioseop_module_class.php on line 1661

Both of these are because we're trying to get an attached image or an image in the content for the og:image tag.  If the category has a post then it works fine and uses the image from the latest post or

[2019-06-19 23:18] tonyzeoli commented on #2650
Cool, this would be helpful to those who get Google Search Console errors but don't see the rule written into the robots.txt file. Thanks!

[2019-06-20 20:06] wpsmort commented on #2616
This is caused by the Google XML Sitemap add-on for SimplePress.  Specifically line 125 of sp-google-sitemap-components.php contains `'lastmod' => ‘’` which, when removed, fixes the problem.

I have emailed the developers of SimplePress to ask them to update their add-on and provided the code to fix this.

[2019-06-20 20:13] wpsmort commented on #2616
I have also emailed the SimplePress developers to request that they change the name of their sitemap to comply with the new naming convention we introduced in v3.1.

Currently, their Google XML Sitemap add-on for SimplePress creates a sitemap called sitemap_forum.xml (see screenshot from semperplugins.com below), which results in a 404 Page not found when you go to it.

I have requested that they

[2019-06-20 22:34] wpsmort commented on #2613
This is not new, and it doesn't just affect AIO, it affects other well known plugins too.  Looking at the code of the SimplePress Google XML Sitemap add-on, it doesn't have any way of paginating their sitemap.  I've emailed the developers to ask if they intend on adding pagination.

[2019-06-22 15:02] arnaudbroes commented on #1798
Reported again here - https://wordpress.org/support/topic/aioseop_class-php-on-line-3983/

[2019-06-24 03:08] cyberxsboy opened #2683 "The function of this plug-in conflicts with many plug-ins, which will cause text overflow in the front end of the website. How to solve this problem?"
It conflicts with webp-express and Autoptimize plug-ins. Webp-express needs to cancel the cache, while the Autoptimize plug-in feels unable to set it. The text overflow prompt caused by the front-end conflict of the website is:
http://images.gaofumei.net/Bug__ob_start_detected.png

In Ubuntu, you can search the home directory of the website by command. See the screenshot:
http://images.gaofumei.ne

[2019-06-24 06:46] JanSudek commented on #1798
still have notice `Notice Undefined variable: post_type in file /wp-content/plugins/all-in-one-seo-pack/aioseop_class.php on line 3983` on 404 Not found page...
AIOSP v3.1.1
WP v4.9.10

[2019-06-24 07:38] arnaudbroes commented on #1798
@JanSudek we're actively working on a fix.

[2019-06-24 10:04] arnaudbroes commented on #2416
Reported again here - https://wordpress.org/support/topic/cant-see-my-text-with-gutenberg-because-of-plung-ins. I'll assign this to 3.3.

[2019-06-24 13:36] arnaudbroes commented on #2085
I've got a fix for this that can be implemented after #1798 is merged.

[2019-06-24 14:00] arnaudbroes opened #2684 "Code Refactor - Move get_robots_meta() to own file"
This function can be moved to its own file along with its helper function when #2671 is merged, although it's a bit more complex since we'll have to decide whether to move get_current_options() and get_page_number() in aioseop-class.php to aioseop_functions.php and or use them by instantiating aioseop-class.php.

[2019-06-24 14:05] michaeltorbert commented on #2683
This is expected behavior, not a bug. Not everyone can do output buffering.
Try disabling force rewrites.

[2019-06-24 14:05] #2683 closed

[2019-06-24 14:24] arnaudbroes commented on #638
I'm not able to reproduce this in a local environment (nginx and apache) and on CW (nginx), so I'll just go ahead and close this. AIOSEOP is reporting the same value as WooCommerce in each test case.

[2019-06-24 14:24] #638 closed

[2019-06-25 09:37] PhearomVon opened #2685 "SEO"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Additional context**
Add any other context or screenshots about the feature request here.

[2019-06-25 10:26] arnaudbroes commented on #2685
@PhearomVon You didn't fill in the issue template or tell us what the problem is, so I'm going to close this issue. Feel free to reopen the issue if you can provide us with information about the problem that you are experiencing.

[2019-06-25 10:26] #2685 closed

[2019-06-25 11:19] arnaudbroes opened #2686 "Add siteSpeedSampleRate option for GA"
Requested on 6/25/2019 via e-mail by Craig F.

We might want to consider adding this as either a free or Pro GA setting.

[2019-06-25 11:22] arnaudbroes opened #2687 "Add setting for users to add extra code to GA snippet"
We might want to consider adding a setting where users can add extra code to their GA snippet for features we do not support yet.

[2019-06-25 14:53] #2600 closed

[2019-06-25 14:53] #2621 closed

[2019-06-25 14:54] #2592 closed

[2019-06-25 14:56] #2533 closed

[2019-06-25 14:56] #2497 closed

[2019-06-25 14:58] #1127 closed

[2019-06-25 14:58] #1616 closed

[2019-06-25 17:11] arnaudbroes commented on #2472
I'd like for us to add these rulesets:

- PHPCompatibilityWP (Check PHP cross-version compatibility issues).
- WordPress-Extra (extended ruleset for recommended best practices).

WordPress-Extra includes WordPress-Core so we could use it to replace it.

==

Here's what properties I'd like to add:

[code]

Checks whether all i18n functions contain our text domain. Useful to make sure that all trans

[2019-06-25 18:12] arnaudbroes opened #2688 "Fix CSSLint issues"
@wpsmort we might want to do this together and try to fix as many of these warnings as we can.

[2019-06-25 18:17] arnaudbroes commented on #2664
@EkoJR I'm still seeing this.

[2019-06-25 18:26] arnaudbroes commented on #1614
I don't think this is something that can be unit tested as it's part of a function and not a function on its own. These would fall under larger unit tests for the sitemap.

[2019-06-26 02:27] cyberxsboy commented on #2683
Is it because different plug-ins use the function of "caching enabled", that this conflict is caused?

Let me give it a try.

[2019-06-26 02:37] cyberxsboy commented on #2683
Disable mandatory rewriting???

How do you disable this plug-in without this option?

[2019-06-26 02:37] cyberxsboy commented on #2683
Disable mandatory rewriting???

How do you disable this plug-in without this option?

[2019-06-26 07:07] EkoJR commented on #2472
That was/is the plan.

After grinding through about 20 different rules in 2-3 days as fast as I could, I was exhausted, and that was a lot of additions and deletions.

I would like to get the rest of these added when we start 3.3, or at some point when PR submission is slow.

[2019-06-26 12:28] #2395 closed

[2019-06-26 12:29] #2301 closed

[2019-06-26 13:17] arnaudbroes commented on #2472
I'm good with that.

[2019-06-26 15:01] wpsmort commented on #2687
@arnaudbroes We already have a couple of filters for this:

https://semperplugins.com/documentation/filter-all-in-one-seo-pack-google-analytics/
https://semperplugins.com/documentation/add-code-after-google-analytics-in-all-in-one-seo-pack/

Plus we're adding support for Google Tag Manager (https://github.com/semperfiwebdesign/all-in-one-seo-pack/issues/1386) in v3.2 which enables users to do much

[2019-06-26 15:46] alomotorlukurye opened #2691 "Merhaba"
ALL İN SEO İÇİNDE ÖZELLİKLER YÖNETİCİSİNDE ROBOT TXT VE DOSYA DÜZENLEYİCİ KISMI BİR TÜRLÜ AÇILMIYOR. GÖSTERMİYOR. SORUN NEDİR ACABA?
AHMET BAL alomotorlukurye.com

[2019-06-26 19:18] wpsmort commented on #2691
This is a development repository, not a support forum.  You can find an FAQ on this here - https://semperplugins.com/documentation/the-file-editor-or-robots-txt-modules-are-missing/ and customers with a valid license for All in One SEO Pack Pro can access support here - https://semperplugins.com/support/

[2019-06-26 19:18] #2691 closed

[2019-06-26 20:39] wpsmort commented on #2683
Force Rewrites is the option on the Performance screen - https://semperplugins.com/documentation/performance-settings/

[2019-06-27 05:57] cyberxsboy commented on #2683
The point is, I'm not talking about this rewrite function. I'm talking about turning off the plug-in's caching function, because its internal'ob_start_detected'property always conflicts with other plug-ins' caching function, causing the front page to overflow with this prompt text.

[2019-06-27 17:30] wpsmort commented on #2616
These problems have been fixed in version 3.1.1 of the Google XML Sitemap add-om from SimplePress.

[2019-06-27 17:30] #2616 closed

[2019-06-27 17:34] wpsmort commented on #2613
I received this response from the developers of SimplePress:

[2019-06-27 17:34] #2613 closed

[2019-06-28 13:55] alomotorlukurye commented on #2691
YANİ YARDIMCI OLMAYACAK MISINIZ.

[2019-06-28 14:35] wpsmort opened #2692 "Meta keywords not output on tax term archives"
Reported by email from Dex Zhou today.

The meta keywords tag is not output on taxonomy terms (categories, tags, custom taxonomies) unless the Dynamically Generate Keywords for Posts Page/Archives option is checked.  The meta keywords tag should be output when this is unchecked or checked.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to AIOSEOP Pro > General Settings > Keyword Settings

[2019-06-28 14:36] wpsmort commented on #2692
@arnaudbroes Can you see if this bug has always been present or if we introduced it in a previous version.

[2019-06-29 00:50] #2380 closed

[2019-06-29 08:49] arnaudbroes commented on #2687
Wasn't aware we had a filter. I agree that we do not need a setting for this then.

[2019-06-29 08:49] #2687 closed

[2019-06-29 09:06] arnaudbroes commented on #72
@wpsmort is this still needed now that the markup for Google Knowledge Graphs has been deprecated?

[2019-06-29 16:23] michaeltorbert commented on #2613
Aren't *we* one of their large forum users? Besides, that absurd. Surely they don't expect their users to be experts on sitemaps? How would they even know to ask?

Considering pagination is standard practice among sitemap plugins, should we take this as a signal that they don't intend keeping the plugin modern and expedite our finding a replacement for our own forum?

[2019-06-30 10:19] arnaudbroes commented on #2285
Yes, I think we already discussed this and decided that posts assigned to taxonomy terms should also be excluded.

[2019-06-30 10:19] #2285 closed

[2019-06-30 10:24] arnaudbroes opened #2693 "Noindexed taxonomy terms not excluded from sitemap"
This might have been an oversight during the development of 3.0 but taxonomy terms are, as opposed to post types, not excluded from the sitemap when they are noindexed. This is an improvement/feature we introduced with 3.0.

[2019-06-30 14:32] arnaudbroes commented on #2693
Closing in favour of https://github.com/semperfiwebdesign/aioseop-pro/issues/470.

[2019-06-30 14:32] #2693 closed

[2019-07-01 13:31] wpsmort opened #2694 "Remove Schema markup for social profiles"
Google has deprecated the Schema markup for social profiles in the Knowledge Panel (https://searchengineland.com/google-deprecates-social-knowledge-panel-markup-support-318755).

We should review whether this markup is used by any other search engines and if we agree that it's no longer needed then we should remove the option for Social Profile Links (https://semperplugins.com/documentation/social

[2019-07-01 13:31] wpsmort commented on #72
@arnaudbroes I've opened a new issue regarding removing just the markup for social profiles (#2694).

[2019-07-01 20:04] sceniccycletours opened #2695 "All In One SEO Not Working!"
Suddenly Google is using my words on my home page sliders for a Description when people search for my site instead of the ALL in One SEO description it used to. WHY and how can I fix it?
![search 6 26 19](https://user-images.githubusercontent.com/52426887/60463387-b5783d80-9c00-11e9-962d-9b55a930be60.png)

[2019-07-01 20:06] michaeltorbert commented on #2695
First of all, there's no need to use exclamation points. We're humans. Don't yell at us.

Second, All in One SEO Pack does indeed work. What you're experiencing is covered in our documentation. https://semperplugins.com/documentation/why-doesnt-the-title-and-description-i-set-appear-in-search-results/

[2019-07-01 20:06] #2695 closed

[2019-07-01 22:38] wpsmort commented on #435
I've opened a PR that takes care of the low hanging fruit for making the UI more accessible.

Here are the items that still need to be resolved along with my comments:

1. Feature Manager:  You can't tab between the modules which means that you can't activate or deactivate a module by using only the keyboard.  @arnaudbroes This may be something you can fix with JS.

2. There are color contrast pro

[2019-07-02 00:41] tonyzeoli commented on #2695
And all that keyword stuffing! Yikes!

[2019-07-02 00:43] sceniccycletours opened #2697 "All in one SEO Not working suddenly!"
Suddenly in searches my Description is all my text on my Home page Layer Slider NOT my All in One SEO Description like it used to be! Do you know why and how to fix it? Thanks
![search 6 26 19](https://user-images.githubusercontent.com/52426887/60474589-a5278900-9c27-11e9-9ac0-91a70842f78b.png)

[2019-07-02 00:53] michaeltorbert commented on #2697
Stop spamming us please. This has already been addressed.

[2019-07-02 00:53] #2697 closed

[2019-07-02 00:57] sceniccycletours commented on #2697
My initial message said it couldn't send it from Safari. I went out
for a bit and then tried again in Chrome. I wasn't spamming you - just
didn't realize it had acturally been sent from Safari.

Sorry.
----- Message from Michael Torbert <notifications@github.com> ---------
    Date: Mon, 01 Jul 2019 17:53:21 -0700
    From: Michael Torbert <notifications@github.com>
Reply-To: semperfiwebdesign/all

[2019-07-02 01:02] sceniccycletours commented on #2695
Those are just the titles on my Home page Layer SliderS that search
engines are using suddenly as my Description.

This is what it says in my All In One SEO Description area and what I
want it to say again:

"Our Guided Bike Tours Are Fun, Safe & Fascinating! San Diego &
Coronado are ideal for riders of all levels with separate bike paths &
mild year-round weather."

I've removed all the actual te

[2019-07-02 17:57] arnaudbroes opened #2698 "Check if refactored get_robots_meta() fixed other bugs"
https://github.com/semperfiwebdesign/all-in-one-seo-pack/pull/2671

[2019-07-02 20:59] wpsmort opened #2699 "Bug - Images listed in XML Sitemap twice"
This bug was introduced in v2.11 PR #2136 in one of the commits between Jan 9th and Jan 10th.

**Describe the bug**
When you add multiple images to a post and select the thumbnail, media or large size for the images then the last image is not listed, and the last but one image is listed twice.

This does not happen all images or all but the last image are full size.

**To Reproduce**
1. Create a p

[2019-07-02 21:15] wpsmort commented on #2628
I found this documentation on valid namespaces for XML Sitemaps - https://www.sitemaps.org/protocol.html#validating

Based on this, we need to implement the following changes:

We should output the following for sitemap indexes only:
[code]

We should output the following for sitemaps within an index:
[code]

We should output the following for the video sitemap:
[code]

[2019-07-03 14:59] tonyzeoli opened #2700 "Divi reporting an undefined variable issue"
Please fill out this form as completely as possible so that we can help you more quickly.

- [ ] I understand that this is a development repository and not a support forum. This is a bug report and is not a support request.
 - [ ] I've followed the [troubleshooting steps](https://semperplugins.com/documentation/how-to-troubleshoot-issues-with-all-in-one-seo-pack)  to determine if there's a theme/p

[2019-07-03 15:02] michaeltorbert commented on #2700
Hi Tony, thanks for reporting this.
We've got an issue open for it here, so I'll go ahead and close this one. https://github.com/semperfiwebdesign/all-in-one-seo-pack/issues/1798

Fortunately this is only a warning, so you can safely ignore it. Make sure to disable error logging on live sites.

[2019-07-03 15:02] #2700 closed

[2019-07-03 15:58] wpsmort opened #2701 "RSS sitemap - No description is output when there's no post excerpt"
**Describe the bug**
In the RSS sitemap, we only use the Excerpt text for the <description> tag.   We should be using the SEO description, or the content / excerpt if no SEO description is present.

**To Reproduce**
1. On a new site, create a post and add an excerpt and content
2. Go to the XML Sitemap and view the RSS sitemap, you should see that the excerpt appears in the <description> tag
3. No

[2019-07-03 16:03] tonyzeoli commented on #2700
Sounds good. Thanks!

[2019-07-03 18:35] wpsmort commented on #46
Google announced proposed standards for robots.txt which have been submitted to the IETF.  As part of this work they have looked at non-standard rules such as crawl-delay and decided to no longer support this as of September 1st, 2019 (https://webmasters.googleblog.com/2019/07/a-note-on-unsupported-rules-in-robotstxt.html).  Whilst other search engines MAY support crawl-delay, it's more than likel

[2019-07-03 18:35] #46 closed

[2019-07-03 18:37] wpsmort opened #2702 "Add note about max file size for robots.txt"
Google has announced a proposed standard for robots.txt (https://webmasters.googleblog.com/2019/07/rep-id.html).  This includes a recommended max file size of 512KB.

We should add a note in our documentation about large robots.txt files:

https://semperplugins.com/documentation/robots-txt-module/
https://semperplugins.com/documentation/robots-txt-editor-for-multisite-networks/

[2019-07-03 18:42] wpsmort commented on #2702
I have updated both documents.

[2019-07-03 18:42] #2702 closed

[2019-07-03 18:46] wpsmort opened #2703 "Robots.txt - Add robots testing tool"
Google has open-sourced the code they use for parsing robots.txt files and this includes a testing tool - https://webmasters.googleblog.com/2019/07/repp-oss.html

The code can be found here - https://github.com/google/robotstxt

We should look at whether we want to incorporate this into AIO for users to test and validate their robots.txt

[2019-07-03 20:35] michaeltorbert opened #2704 "XML Sitemap - Remove Change Frequency and Priority"
We should discuss whether to remove or keep these. Not all sitemap plugins even have them anymore, and Google may ignore them. https://twitter.com/methode/status/846796737750712320

We should investigate whether other search engines like Bing, Yandex, Baidu, etc use them.

[2019-07-05 14:30] arnaudbroes commented on #1715
I've reached out to Thomas today.

[2019-07-05 17:25] #1614 closed

[2019-07-05 17:26] #746 closed

[2019-07-05 19:55] #2624 closed

[2019-07-05 20:13] arnaudbroes commented on #2628
@wpsmort can you tell me what the difference is between "sitemap indexes only" and "sitemaps with an index"?

[2019-07-07 06:59] arnaudbroes commented on #1715
Here's what Thomas said (although he no longer uses AIOSEOP):

[2019-07-07 10:49] arnaudbroes opened #2711 "Fix Scrutinizer code issues"
Scrutinizer is detecting more than 800 issues where we could improve the code. I'll go through and fix some with each version.

![image](https://user-images.githubusercontent.com/18156697/60767264-bce28f80-a0b5-11e9-9755-82ad1641410a.png)

[2019-07-07 18:09] michaeltorbert commented on #2711
Going through and fixing minor code issues isn't a good use of resources when we have a neverending list of github issues that are more important.
Unless there's something major, things like this should be fixed when working in that code.

[2019-07-07 18:09] #2711 closed

[2019-07-08 13:50] wpsmort commented on #2628
@arnaudbroes The sitemap indexes only refers to the index page that lists the sitemaps.  See screenshot below:

<img width="791" alt="Screen Shot 2019-07-08 at 9 50 06 AM" src="https://user-images.githubusercontent.com/17548525/60815515-ccb9ac80-a165-11e9-97fe-3668f65aaa06.png">

The sitemaps within an index refers to the individual sitemaps that are listed within the index file (or the main sitem

[2019-07-08 15:56] #2215 closed

[2019-07-09 02:07] leitah opened #2712 "Update Failed: Download failed. A valid URL was not provided."
I encounter the following error:
Update Failed: Download failed. A valid URL was not provided.

All In One SEO PackUpgrade to Pro \| Documentation \| Support Forum \| SEO Settings \| Deactivate | Out-of-the-box SEO for your  WordPress blog. Features like XML Sitemaps, SEO for custom post types,  SEO for blogs or business sites, SEO for ecommerce sites, and much more.  More than 50 million download

[2019-07-09 11:50] michaeltorbert commented on #2712
Updates are 100% handled by WordPress, so this isn't related to AIOSEOP itself.
Try the update again. If that doesn't work, delete and reinstall the plugin.

[2019-07-09 11:50] #2712 closed

[2019-07-09 13:20] #1513 closed

[2019-07-09 13:21] #2669 closed

[2019-07-09 21:31] #2664 closed

[2019-07-09 21:32] #477 closed

[2019-07-09 21:33] #435 closed

[2019-07-10 05:07] mattypants opened #2713 "Some Custom Permalinks missing paths in XML Sitemap When Dynamically Generated"
Last week (July 2) my XML the dynamically generated XML sitemap began spitting 404s for 34 of my custom permalinks, most of which display properly in the sitemap. For now in order to remedy the problem, I've had to disable 'Dynamically generate XML sitemap', and the paths show. I've cleaned out old slugs from the database and that didn't help.

[2019-07-10 12:05] michaeltorbert commented on #2713
Please provide the steps to reproduce this issue.

[2019-07-10 14:24] wpsmort opened #2714 "Add documentation for new Schema options"
Add documentation for the new Schema options.

[2019-07-10 14:25] wpsmort opened #2715 "Add help for new Schema options"
- Add tooltip help for new Schema options
- Add links to documentation for new Schema options (see #2714)

[2019-07-10 14:25] wpsmort opened #2716 "Create release post for 3.2"
Create release post announcing what's new in the 3.2 release.

[2019-07-10 14:26] wpsmort opened #2717 "Create Schema release post"
Create a release post announcing the new Schema features.

[2019-07-10 14:45] arnaudbroes opened #2718 "Bug - Add missing macros for preview snippet title"
While testing https://github.com/semperfiwebdesign/all-in-one-seo-pack/pull/2705 Steve found that a bunch of macros, such as the author related ones, never were included in the code for the preview snippet title. I'll check which ones are missing and add them after https://github.com/semperfiwebdesign/all-in-one-seo-pack/pull/2705 is merged.

[2019-07-10 15:30] wpsmort commented on #686
This field is being removed and replaced with a new field for Organization Name under #72

[2019-07-10 15:30] #686 closed

[2019-07-10 15:38] arnaudbroes commented on #1690
This should also be fixed in https://github.com/semperfiwebdesign/all-in-one-seo-pack/pull/2671.

[2019-07-10 15:39] arnaudbroes commented on #2698
I'll compile a list of issues that should be fixed here:

- #1690

[2019-07-10 15:43] arnaudbroes commented on #2650
Maybe also mention this - https://searchengineland.com/google-to-stop-supporting-noindex-directive-in-robots-txt-319003

[2019-07-10 15:45] arnaudbroes commented on #2176
Steve and I decided to relocate our large test site (cosmopolitan-estate) to the sfwd-dev server and that should be fine for now.

[2019-07-10 15:45] #2176 closed

[2019-07-10 15:51] arnaudbroes commented on #204
@wpsmort do you have any idea what this means and if we do not have it already?

[2019-07-10 19:08] wpsmort commented on #204
@arnaudbroes I'm not entirely sure I understand what this issue is about.  If it's for adding an option to se Noindex for custom taxonomy archives then we already have that (https://semperplugins.com/documentation/noindex-settings/#use-noindex-for-the-taxonomy-archives).

As to what "set the defaults for Noindex" means, I have no idea on that.

If you don't remember what this was about then I'd sa

[2019-07-10 19:53] arnaudbroes commented on #204
This is one of many issues I copied from a spreadsheet you had before we migrated to GitHub, so since you don't remember what it is for I'll just go ahead and close this.