[2017-08-17 22:37] michaeltorbert commented on #17
Moved to Pro https://github.com/semperfiwebdesign/aioseop-pro/issues/326

[2017-08-17 22:37] #17 closed

[2017-08-17 23:14] michaeltorbert commented on #57
This was done ~2.3

[2017-08-17 23:14] #57 closed

[2017-08-17 23:21] michaeltorbert opened #1090 "Move AIOSEOP metabox up"

[2017-08-18 04:26] contactashish13 commented on #1003
@amostajo the approach used by jquery-ui and your previous project assume that the grunt tasks were to be used as-is. If any modification needs to be made to the task, the JS file that defines the code of the task needs to be stored somewhere. That is when https://github.com/cedaro/load-project-config is useful and, in the projects I have used, some tasks have been customized.

Maybe it would be b

[2017-08-18 21:12] michaeltorbert opened #1091 "Add filters to change metabox priority and context"
In #1090 we moved the AIOSEOP metaboxes up on the edit post screen.
We should also add two filters, aioseop_post_metabox_context and aioseop_post_metabox_priority so people can change them as desired.

reference: https://developer.wordpress.org/reference/functions/add_meta_box/

Note: We've  changed these values to normal and high, they used to be advanced and default.

[2017-08-18 21:13] michaeltorbert commented on #1090
For testing, we need to
1) make sure they're moved up for all post types where they should show up (try this with a of selected post types, and with social on or off for that post type
2) it's not broken for taxonomies

[2017-08-21 07:23] cagrimkocer opened #1093 "I lost the share buttons"
After  update I coulnd't have the share button any more can you help me

[2017-08-21 11:07] michaeltorbert commented on #1093
@cagrimkocer
You have the wrong plugin. All in One SEO Pack doesn't create sharing buttons.

[2017-08-21 11:07] #1093 closed

[2017-08-22 15:04] wpsmort commented on #1090
PR #1092 is tested and is good.  I tested with different post types from different plugins and with plugins that add meta boxes as well.  I tested the code with free and Pro.

[2017-08-22 15:04] wpsmort commented on #1091
PR #1092 is tested and is good.  I tested both filters and they worked fine.

[2017-08-22 17:22] wpsmort commented on #954
@contactashish13 I tested the latest code under PR #978 and the two bugs reported above still exist.  You can see this here - view-source:http://stevemortiboy.com/sitemap.xml

[2017-08-22 17:35] michaeltorbert opened #1094 "add filters for metabox order placement"
aioseop_post_metabox_context and aioseop_post_metabox_priority
Related to #1091

[2017-08-22 18:03] andreysneg opened #1095 "With Qtranslate plugin made only 1 language Sitemap.xml"

[2017-08-22 18:22] #1094 closed

[2017-08-22 18:24] #1091 closed

[2017-08-22 18:24] #1090 closed

[2017-08-22 20:20] michaeltorbert opened #1096 "Various readme improvements"
Check out the example here, and see how we can get up to date... for instance, videos and screenshots

https://developer.wordpress.org/plugins/wordpress-org/how-your-readme-txt-works/#example-readme

[2017-08-22 22:03] michaeltorbert commented on #64
We could do a couple things:

1) add to the pull-down on our own menus, and
2) add to the pull-down on all areas where we show up (ex: edit post screen)

<img width="1138" alt="screen shot 2017-08-22 at 6 02 13 pm" src="https://user-images.githubusercontent.com/17364998/29589669-1b997b3c-8764-11e7-9950-0540bb368cba.png">
<img width="1112" alt="screen shot 2017-08-22 at 6 01 47 pm" src="https://use

[2017-08-23 06:26] contactashish13 commented on #954
@wpsmort I've pushed in my changes and tested on your site as well.

[2017-08-23 06:49] contactashish13 commented on #954
@wpsmort I'm also getting this notification from aiseop-bot that says something about cyclomatic complexity. I tried to fix it but it only increased it from 12 to 13. It looks like a false positive but any suggestion would be great.

[2017-08-23 16:11] iangeek opened #1103 "Post starting with <img> and &nbsp; causes auto-generate of description to fail"
Any posts that begin with an image and subsequently followed by a non-breaking space fail to populate the auto-generated descriptions (e.g screen below)

![screen1](https://user-images.githubusercontent.com/1556882/29625898-ff1936ac-8824-11e7-80d1-ee0e189aa28e.jpg)

Removal of the `&nbsp;` reverts back to the expected behaviour (see below).

![screen2](https://user-images.githubusercontent.com/155

[2017-08-23 18:29] wpsmort commented on #1103
@arnaudbroes Can you test and confirm this behavior and if you're able to reproduce this then please see if you can trace back to when it started.

[2017-08-23 18:52] wpsmort opened #1104 "Default OG:Type is incorrect"
Whilst testing the final release of v2.3.16 I found a bug where the default og:type for posts and pages is incorrect.

On a brand new install of WordPress, the og:type in the source code of a post or page is displayed as "object" and the drop down on the Edit Post screen is "Activity".  Both are incorrect, they should be Article which is what's shown under Social Meta > Facebook Settings.

This bu

[2017-08-23 20:11] michaeltorbert commented on #1104
Notes:
Site must be new (wipe the aioseop_options entry from the database).
Activate the Social Media Module, but don't click save within it. It appears as though posts default to article, but that value isn't actually being saved until the button is clicked.
Because of this, at some point, activity gets assigned. (Not sure where.)

[2017-08-23 20:25] wpsmort commented on #1104
@arnaudbroes Can you test back with versions prior to v2.3 and see if it's always existed since v2.1.

The steps to reproduce are:
1. Create a new install of WordPress and install AIOSEOP
2. Activate the Social Meta module in Feature Manager but don't change or save any options
3. Create a new post and go to the Social Settings tab and check the OG Type and check the og:type in the source code of

[2017-08-23 22:17] amostajo commented on #951
@wpsmort Ready for testing

[2017-08-24 01:25] amostajo commented on #1003
@contactashish13 sounds very reasonable. What tasks are required @michaeltorbert ?

[2017-08-24 01:33] amostajo commented on #1022
@wpsmort changes made for #951 fixes this issue as well. Please re-test this using PR 1031
https://github.com/semperfiwebdesign/all-in-one-seo-pack/pull/1031

[2017-08-24 02:06] amostajo commented on #1079
Ready for testing

[2017-08-24 03:16] amostajo commented on #921
@wpsmort fixes and changes applied ready for testing.

I have created a pro PR for this as well. Please test.
https://github.com/semperfiwebdesign/aioseop-pro/pull/340

[2017-08-24 10:29] arnaudbroes commented on #1103
@wpsmort This works fine with multiple versions of the plugin up to 2.3.16 and with a few WordPress versions ranging from 4.0 to 4.8.1.
![image](https://user-images.githubusercontent.com/18156697/29662501-d9072c6e-88c7-11e7-9bf8-41e40d997d8d.png)

[2017-08-24 11:13] michaeltorbert opened #1110 "Conflict with WP Ulike plugin"
_There is a conflict with the popular WP Ulike plugin (version 2.8). It totally messes up the All in One SEO Pack settings when editing a blog post. The All in One SEO Pack General Settings are also not displayed correctly._

Reported here: https://wordpress.org/support/topic/conflict-with-wp-ulike-plugin/

[2017-08-24 11:29] iangeek commented on #1103
@arnaudbroes @wpsmort  Stripped right back to vanilla plugin-wise, and the theme is just based on Automattic's Underscores, but the issue still persists. Odd.

OK, thanks for checking anyway, and sorry if it was a timewaster. Will let you know if I'm ever able to track down the cause, just for reference.

[2017-08-24 11:34] michaeltorbert commented on #1110
<img width="746" alt="screen shot 2017-08-24 at 7 33 40 am" src="https://user-images.githubusercontent.com/17364998/29664663-9d0ac9c4-889e-11e7-83f2-5ccccf5825a5.png">
<img width="568" alt="screen shot 2017-08-24 at 7 33 15 am" src="https://user-images.githubusercontent.com/17364998/29664662-9d092844-889e-11e7-9548-d1f0474d48de.png">

[2017-08-24 11:45] michaeltorbert commented on #1110
This is a javascript problem with WP Ulike.

[2017-08-24 11:46] #1110 closed

[2017-08-24 11:46] arnaudbroes commented on #1104
@wpsmort I tested this back to 2.1.0 and it seems this issue has been there since the introduction of the Social Meta Module.

[2017-08-24 11:59] michaeltorbert commented on #1103
@iangeek Please use the default theme (Twenty Seventeen) instead of your custom theme. You also may want to try turning on debug error logging.

[2017-08-24 12:40] iangeek commented on #1103
@michaeltorbert Sorry, should have clarified... I'd already tried default themes and all basic settings before posting the issue.

Will set WP_DEBUG_LOG going and see if it shows anything more.

[2017-08-24 12:54] michaeltorbert commented on #1103
@iangeek  Export your AIOSEOP settings and send it to us.

[2017-08-24 17:08] michaeltorbert commented on #1003
@amostajo I don't know, what did you and @contactashish13 have in mind?

[2017-08-24 17:47] amostajo commented on #1003
@michaeltorbert I though you and @contactashish13 had something in mind already...

The tasks that come to my mind are:
- SASS/LESS or similar (if you decide to use in the future)
- CSS minify
- JS minify
- Wordpress.org deployments via SVN push-commit
- Manage environments

Those tasks come to my mind atm.

[2017-08-24 18:03] michaeltorbert commented on #1003
I didn't have anything specific in mind. We can make a list of everything, and maybe start off slow. :)

[2017-08-24 19:38] amostajo commented on #964
@michaeltorbert I can not reproduce this.

Test results
[code]
Is this still an issue on your end?

[2017-08-24 19:41] michaeltorbert commented on #964
This may have been fixed in a recent update. I'm getting  `&#039;s` for both now.

[2017-08-24 19:41] #964 closed

[2017-08-24 19:42] michaeltorbert commented on #964
@amostajo  This may have been fixed in a recent update. I'm getting  `&#039;s` for both now.

[2017-08-24 21:42] michaeltorbert commented on #950
@wpsmort  Is there a reason we want to allow backslashes in any of our fields?

[2017-08-24 22:09] wpsmort commented on #950
@michaeltorbert We actually had a user contact us about this around February 29th, 2016 and Dougal worked on a fix for this.  The user wanted to use a description that included this:

Error Can not find script file C:\WINDOWS\Test.vbs

AIOSEOP was stripping the backslashes and I believe we fixed that in v2.3

[2017-08-24 22:23] wpsmort commented on #950
@michaeltorbert I've tested this and can confirm that the bug only exists when you manually enter an OG Title and/or OG Description.  This does not affect SEO titles/descriptions and it does not affect autogenerated SEO/OG titles and descriptions.

To reproduce this, edit a post and enter a title and description in the Social Settings tab that has backslashes.  The backslashes will be stripped whe

[2017-08-24 22:35] wpsmort commented on #954
@contactashish13 @amostajo or @michaeltorbert might be able to help you with this.

[2017-08-24 22:59] amostajo commented on #1013
@wpsmort ready for testing. I have added the migration for when version switches to `2.3.17`. Haven't changed version on code though,

[2017-08-24 23:00] michaeltorbert commented on #954
Those notices should be disabled now. Both of the complexity checks were terrible.

[2017-08-24 23:01] amostajo commented on #954
@contactashish13 I usually get this notifications too. As long as your code follows wordpress coding standards, I think this notification can be ignored right?

[2017-08-25 02:31] michaeltorbert opened #1113 "Broken XML Sitemap filter for additional pages"
#Reported here:

https://semperplugins.com/support/general-all-in-one-seo-pack-pro-forum/progamatically-adding-pages-to-the-sitemap-using-aiosp_sitemap_addl_pages/

Our filter hook aiosp_sitemap_addl_pages at https://semperplugins.com/documentation/aiosp_sitemap_addl_pages/ doesn't seem to work (although aiosp_sitemap_addl_pages_only does).

From looking at the code, it looks like it adds it to /s

[2017-08-25 02:32] michaeltorbert commented on #1113
Update.. looks like it adds it to:
 'addl' === $sitemap_type

[2017-08-25 13:25] michaeltorbert commented on #1013
@amostajo What does "Haven't changed version on code though" mean?

[2017-08-25 13:57] amostajo commented on #1013
Means that I have not changed/pish the version of the plugin to 2.3.17, cuz I thing this is something you usually do.

[2017-08-26 14:19] michaeltorbert opened #1116 "Code Refactor - Use autoloading"
There's a lot of work to get ready for this, but here's a great guide on doing it with PHP 5.2

smashingmagazine.com/2015/05/how-to-use-autoloading-and-a-plugin-container-in-wordpress-plugins/

[2017-08-26 23:36] michaeltorbert commented on #1081
<img width="351" alt="screen shot 2017-08-26 at 7 35 49 pm" src="https://user-images.githubusercontent.com/17364998/29745898-d0658a5e-8a95-11e7-949a-b91d109df339.png">

[2017-08-26 23:36] michaeltorbert commented on #1081
The threshold is now 95%, which means that no language packs exist for any of these languages.

[2017-08-27 09:15] Ajilis commented on #941
hi,
Do you think this problem should be solved in the 2.3.17 ?

[2017-08-28 01:21] michaeltorbert opened #1117 "Add to API documentation how to remove metaboxes"
For example, for certain roles:
https://wordpress.org/support/topic/remove-meta-box-for-authors/#post-9231056

Improve the API as needed.

[2017-08-28 19:09] michaeltorbert opened #1118 "Add wordpress.org semperplugins account as a contributor in the readme"

[2017-08-28 19:15] michaeltorbert opened #1119 "Remove translations link from readme"

[2017-08-29 05:18] contactashish13 commented on #1003
@amostajo the chat came about because I saw that the code for pro was hard to read because the indentation was a bit messy and in some places even the curly braces were out of whack and I wondered if it would not be better to use grunt to prettify the code and also enforce PHPCS/WPCS. So the tasks that come to my mind are

phpcs/wpcs/phplint
jshint
minify css
minify js
automatic generation of POT

[2017-08-29 11:40] michaeltorbert opened #1120 "Modify meta values via REST API"

[2017-08-29 18:55] michaeltorbert opened #1121 "Conflict with FacetWP or Really Simple SSL plugin"
(Reported via email by Daniel V)

When using the FacetWP plugin with AIOSEOP, the filter doesn't work. According to their support:
"Regarding the front-end, this bit of code is being injected at the very end of FacetWP's ajax response (breaking FacetWP):
"

This is code that would only run when working on the title, when force rewrites is enabled. There's no reason why it should be running then.

[2017-08-30 12:19] michaeltorbert commented on #1121
Email sent to Daniel:

" After diving into the code these last few days, we’ve determined that this SSL plugin is hijacking the output buffer in order to change non-https urls to https, which conflicts with any plugin needing to access the wp_query during that time, which All in One SEO Pack does.
There are a few ways to resolve this.

1) Use the checkbox you’ve discovered, which changes their out

[2017-08-30 12:19] #1121 closed

[2017-08-30 14:41] michaeltorbert opened #1122 "Integration with Gutenberg"
We should discuss what we want to do with this. It now supports post meta

[2017-08-31 21:34] wpsmort commented on #921
@amostajo I have tested both PRs and they are both good.
I have one very minor change for you.  The closing HTML comment for All in One SEO Pack should appear on it's own line in the source code but now it's appearing on the same line as the last script like so:

`<script async src="https://cdnjs.cloudflare.com/ajax/libs/autotrack/2.4.0/autotrack.js"></script>`

Can you change this so it looks lik

[2017-09-01 12:43] michaeltorbert opened #1123 "PHP Warning: file_exists(): open_basedir restriction in effect."
Reported here: https://wordpress.org/support/topic/errors-in-php-error-log/

PHP Warning: file_exists(): open_basedir restriction in effect. File(C:\wwwroot\fin-calcs.com/wp-content/plugins/https://semperplugins.com/all-in-one-seo-pack-pro-version/) is not within the allowed path(s): (c:\wwwroot\) in C:\wwwroot\fin-calcs.com\wp-admin\menu-header.php on line 219

This is a reference to the Pro link

[2017-09-04 16:26] amostajo commented on #921
@wpsmort Let me know if the indent pushed works

[2017-09-05 17:55] wpsmort opened #1124 "Robot.txt file should work with domain mapping"
Reported here - https://wordpress.org/support/topic/robots-txt-not-working-on-multisite/#post-9469713

Currently we create a static file for the robot.txt which means that there's one file for a multisite network.  If domain mapping is active on the multisite then this causes problems because the sitemap URL will be wrong for all but the primary site.

Issue #214 covers changing the static robots.

[2017-09-05 19:42] wpsmort commented on #921
@amostajo Thanks, this is tested and is good.

[2017-09-05 19:55] #921 closed

[2017-09-05 20:02] michaeltorbert opened #1125 "Add new strings from Pro"
In the next version of Pro, we're adding new Google Analytics related strings. https://github.com/semperfiwebdesign/aioseop-pro/pull/340/files
These need to be added to commonstrings.php

Related to https://github.com/semperfiwebdesign/aioseop-pro/issues/346

[2017-09-05 20:25] wpsmort commented on #951
PR #1031 is tested and is good.

[2017-09-05 21:45] wpsmort commented on #1022
PR #1031 is tested and is good.

Enabling the Never Shorten Long Descriptions option now works regardless of whether you are using the excerpt or the content as the auto generated meta description.

[2017-09-05 22:55] arnaudbroes opened #1127 "Add extra help to Robots.txt module"
I wonder if we shouldn't add some more info for the help buttons of these fields -
it's rather useless at the moment:

![image](https://user-images.githubusercontent.com/18156697/30087112-09f3c70c-929f-11e7-8968-c2eff37a096e.png)

[2017-09-05 23:04] arnaudbroes opened #1128 "XML sitemap - "additional pages" add URL button needs CSS fix"
![image](https://user-images.githubusercontent.com/18156697/30087157-4d880f0a-929f-11e7-96f3-57c271b7ed7f.png)

[2017-09-06 19:43] michaeltorbert commented on #1127
@arnaudbroes What do you have in mind?

[2017-09-06 19:49] #1022 closed

[2017-09-06 19:50] #951 closed

[2017-09-06 19:58] wpsmort commented on #1079
I have tested PR #1109 and confirmed that it fixes the PHP notice and doesn't break anything.

[2017-09-06 20:01] wpsmort commented on #1128
Duplicate of #802

[2017-09-06 20:01] #1128 closed

[2017-09-06 20:07] michaeltorbert opened #1129 "Fix all automated checks"
Between the three, codeclimate is probably best, but they're pretty aggressive.

[2017-09-06 20:30] #1125 closed

[2017-09-06 20:32] wpsmort commented on #954
This is tested and is good.  I have confirmed that there are no errors when submitting the sitemap to Google via Webmaster Tools.

[2017-09-06 21:04] michaeltorbert opened #1131 "Update images in documentation to reflect new image column"
Issue #954 adds a new column to the XML Sitemap.  Once we're ready to launch this version we'll need to update the XML Sitemap documentation and screenshots to reflect this new feature.

[2017-09-06 21:04] wpsmort commented on #386
PR #978 adds support for images in the main XML Sitemap and adds a column that displays the number of images for each sitemap entry.

We have discussed whether images should be in a separate sitemap or in the main sitemap and decided to include them in the main sitemap as this appears to be what Google expects (https://support.google.com/webmasters/answer/178636?hl=en).

We have also discussed whe

[2017-09-06 21:05] michaeltorbert opened #1132 "Prominently feature images in sitemap"
-Something in Sitemap Status could mention that images are being included
-Readme should mention images included automatically in the sitemap
-?

[2017-09-06 21:06] michaeltorbert opened #1133 "Update welcome screen for 3.0"
1) Prominently feature images in sitemap here
2) Video sitemap improvements in Pro
3) ?

[2017-09-06 21:07] wpsmort commented on #954
See also #386

[2017-09-06 21:15] michaeltorbert opened #1134 "Update phpdocs from 2.3.17 to 2.4"
Since there's no 2.3.17, we need to change all these to 2.4. Do this for Pro as well.

[2017-09-06 22:36] michaeltorbert opened #1136 "Reenable phpmd on sideci but turn off cyclomatic complexity check in config file"
https://sideci.com/gh/52752597/select_tools

[2017-09-06 22:40] #954 closed

[2017-09-06 22:41] #386 closed

[2017-09-07 16:47] wpsmort commented on #214
See also #1124

[2017-09-07 17:07] wpsmort opened #1142 "Review and update docs for Robots.txt and File Editor modules"
Once all changes have been made to the Robots.txt and File Editor modules we'll need to review and update the documentation and screenshots for these modules.

[2017-09-07 17:12] wpsmort opened #1143 "Robots.txt module - Compatibility with multisite networks"
Ensure compatibility with both types of multisite networks (subdirectory and subdomain).

[2017-09-07 17:14] wpsmort commented on #87
@contactashish13 Please hold off on this issue until Issues #214 and #596 have been completed and tested.

[2017-09-08 21:15] hilvle909 opened #1144 "my one"
best

[2017-09-08 21:16] michaeltorbert commented on #1144
?

[2017-09-08 21:16] #1144 closed

[2017-09-12 22:19] wpsmort commented on #1013
@amostajo I tested PR #1112 and found three issues:

1). When I update to this version I get the following error during the DB migration:

WordPress database error You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near ''s:35:\"aioseop_opengraph_settings_category\"' at line 2 for query UPDATE wp_postmeta
SET meta_value

[2017-09-14 15:14] popseries opened #1146 "Not working with post format"
Hello, I am having a problem to make de plugin work with a post format. Can anyone help with that?

[2017-09-14 16:05] michaeltorbert commented on #1146
@popseries  This isn't a support forum. We have support for customers who purchase All in One SEO Pack Pro here: https://semperplugins.com/all-in-one-seo-pack-pro-version/

[2017-09-14 16:05] #1146 closed

[2017-09-14 17:03] michaeltorbert opened #1147 "SEO Health Scan"

[2017-09-17 15:18] Ahmetamca opened #1148 "Google + Problem"
Hi again,

I am not sure if i still have pro support chance but i want to ask an other question.

Previously when i was sending a post to Google + the featured image and the post title was coming with that. But as you can see in my last post in Google + only the featured image and author is coming.

I do not face the same problem with Facebook?

What do you think the problem is?

Best Regards,
Ahm

[2017-09-17 16:05] michaeltorbert commented on #1148
@Ahmetamca

This isn't a support forum. If you'd like support, you can purchase a license here. https://semperplugins.com/all-in-one-seo-pack-pro-version/ and use the support forum here: https://semperplugins.com/support/

[2017-09-17 16:05] #1148 closed

[2017-09-18 20:50] Ahmetamca commented on #1148
Hi,

I go to forum and i cannot log in…

It says i am locked…

From: Michael Torbert [mailto:notifications@github.com]
Sent: Sunday, September 17, 2017 7:06 PM
To: semperfiwebdesign/all-in-one-seo-pack <all-in-one-seo-pack@noreply.github.com>
Cc: Ahmetamca <ahmetamca@gmail.com>; Mention <mention@noreply.github.com>
Subject: Re: [semperfiwebdesign/all-in-one-seo-pack] Google + Problem (#1148)

@Ahm

[2017-09-18 21:09] michaeltorbert commented on #1148
@Ahmetamca Please stop posting support requests here. This is a development site, not a support forum.
If you'd like support, you can purchase a license here. https://semperplugins.com/all-in-one-seo-pack-pro-version/ and use the support forum here: https://semperplugins.com/support/

You can not access the support forum unless you're a customer.

[2017-09-18 22:06] michaeltorbert opened #1149 "multisite settings applying to wrong site"
Reported here: https://wordpress.org/support/topic/problem-with-wordpress-multisite-2/

In order for us to do anything two conditions need to be satisfied:
1) prove AIOSEOP is causing the problem
2) we need to be able to reproduce the behavior

[2017-09-19 13:50] michaeltorbert opened #1150 "Plugin dashboard area"
Related to #998

The idea is to give a visual representation of what we're doing for the user, as well as what Pro could do for them.

<img width="1042" alt="screen shot 2017-09-13 at 2 35 32 pm" src="https://user-images.githubusercontent.com/17364998/30595690-e7c807ca-9d1f-11e7-8181-a83c12c44e2e.png">

[2017-09-19 15:36] michaeltorbert commented on #1132
The wording of this should be reviewed. Any other suggestions to make it clear images are included in the sitemap?

[2017-09-19 18:45] #1134 closed

[2017-09-19 22:06] #1079 closed

[2017-09-20 11:10] michaeltorbert opened #1153 "Add date to SERP preview"
and possibly an option (or filter hook) to remove it

[2017-09-20 15:31] amostajo commented on #1035
Also... if setting to "run shortcodes" is on, I am not wiping out brackets. What do you think?

[2017-09-20 15:40] amostajo commented on #1035
Well. title always allows brackets.

[2017-09-20 15:58] amostajo commented on #1035
@wpsmort ready for testing

[2017-09-20 17:49] amostajo commented on #1013
@wpsmort I have tested and validated that the migration is working and it is modifying the `og:type`. Please test this again.

I have also added update notices, so the plugin informs the user about the update done.

**NOTE:** To test this PR, change plugin to version 2.4

[2017-09-20 17:52] michaeltorbert commented on #1013
@amostajo  This needs to be tested on sites with a lot of posts (there should be post-generator plugins) and not a ton of memory.
Can you determine how much memory per x posts this consumes?

Also, do we we want to have the update user-initiated? ie "click here to do the database update"

[2017-09-21 17:29] michaeltorbert opened #1154 "Change images in support metabox to dashicons"
Most of these are exact duplicates of dashicons already.
Make sure we remove the old ones.

[2017-09-21 17:31] michaeltorbert opened #1155 "Change question mark help image"

[2017-09-21 17:32] michaeltorbert opened #1156 "Change behavior of help text area"
Instead of moving everything down and inserting the text (which uses a lot of code and has caused bugs in the past) maybe there's another way.
Popup tooltip? How can we make this look better?

[2017-09-21 17:33] michaeltorbert opened #1157 "Code Refactor - Use dashicons in Upgrade to Pro box"
Let's see if this looks better than it does currently. We'd need to make sure not to duplicate any (or the color) from the support metabox right below it.

[2017-09-21 17:34] michaeltorbert opened #1158 "UI - New images for the Feature Manager"
We could either keep the general style just with fresher images, or change the style completely.

[2017-09-21 17:49] michaeltorbert opened #1159 "Improve UI/UX of edit post metabox"
This could/should probably be multiple issues. It doesn't all have to happen at once.

[2017-09-21 17:51] michaeltorbert commented on #1155
Dupe of #807

[2017-09-21 17:51] #1155 closed

[2017-09-21 17:52] michaeltorbert commented on #807
Agreed re: editor-help

[2017-09-22 17:52] Geti2 opened #1160 "3D сканер Artec Eva, цена, купить"

[2017-09-22 17:52] michaeltorbert commented on #1160
?

[2017-09-22 17:52] #1160 closed

[2017-09-25 10:47] shaneohare3107 opened #1161 "XML Sitemap redirecting to home page"
I disabled all plugins for a few days while fixing an issue on my site. After re-activating, I've noticed the XML sitemap URL is redirecting to home page. I have tried the following to fix, with no luck:

- Disable the XML sitemap feature, and re-enable.

- Restore the XML sitemap settings to default.

The site is https://www.simplifyprivacy.com

Thanks

Shane

[2017-09-25 10:54] michaeltorbert commented on #1161
Looks fine to me. https://www.simplifyprivacy.com/sitemap.xml

[2017-09-25 10:54] #1161 closed

[2017-09-25 17:16] wpsmort commented on #96
Reported again here - https://wordpress.org/support/topic/woocommerce-shop-page-og/

[2017-09-25 17:24] wpsmort commented on #96
@michaeltorbert I think for now we should just have a generic template.  If it's possible to support CPT archives that have a static page, i.e. WooCommerce Shop page, and have the OG meta be taken from the page if set then would be ideal.  Otherwise we just fall back to a generic template.

[2017-09-25 17:28] michaeltorbert opened #1162 "images in sitemap should be included in documentation and product page"
https://github.com/semperfiwebdesign/semperpluginstore/issues/390
https://github.com/semperfiwebdesign/semperpluginstore/issues/391

[2017-09-25 18:40] anysolved24 opened #1163 "anysolved"
anysolved news new tips tech information movies

[2017-09-25 18:50] #1163 closed

[2017-09-25 19:01] michaeltorbert commented on #1163
@anysolved24 How about a trade? What news new tips tech information movies do you have for us?

[2017-09-25 19:09] wpsmort commented on #1132
@michaeltorbert The wording added here is good.  The only additional items I can think of are:

- We should feature this on the Welcome screen for v2.4 - Issue #1133 refers

- Do we want to add a checkbox to XML Sitemap > Post Types for Images in case users don't want their images submitted to Google?  We do occasionally get users asking whether they can stop Google indexing their images.

[2017-09-25 19:54] michaeltorbert opened #1164 "Remove link from virtual robots.txt option"
Is there any reason we want this to be optional?
If we remove it, we just need to make it clear it happens... or do we?

I'm thinking something like:

[green light] Added to virtual robots.txt
[green light] Some other thing we do
etc

[2017-09-25 19:56] michaeltorbert opened #1165 "Remove create compressed sitemap"
When would someone not want this available? We just need to make sure they know it exists.
Is it one or the other... is this checked, is there still a non-compressed version?

[2017-09-25 19:57] michaeltorbert commented on #1132
@wpsmort

Personally, I don't think we should add a checkbox... I think we should add some indicator like I discuss in #1164, but I'm open to ideas.
What do you think?

[2017-09-25 20:05] wpsmort commented on #1164
@michaeltorbert We have issue #535 open for this.

I don't think this should be optional.  I think the idea of the green light is good.  Whatever we do for the XML Sitemap module will have to be repeated for the Video XML Sitemap module.

[2017-09-25 20:09] wpsmort commented on #534
See #945

[2017-09-25 20:09] wpsmort commented on #1165
@michaeltorbert We already have issue #534 open for this.

[2017-09-25 20:10] wpsmort commented on #1132
@michaeltorbert I think the idea of an indicator is a good one.

[2017-09-25 20:11] michaeltorbert opened #1166 "UI - Add indicators for tasks performed by plugin"
[green light] XML Sitemap created
[green light] Images added to sitemap
[green light] XML Sitemap added to virtual robots.txt
[green light] other stuff
and so on, at the top of each options page (eventually maybe just on our new dashboard when it exists).

This will highlight some functionality, and let users know what is going on... it's especially important as we continue to remove plugin settin

[2017-09-25 20:16] michaeltorbert commented on #534
When would someone not want this available? We just need to make sure they know it exists (in the new indicator).

Is it one or the other... is this checked, is there still a non-compressed version?

[2017-09-25 20:16] #1165 closed

[2017-09-25 20:18] michaeltorbert commented on #535
[green light] Some other thing we do
etc

[2017-09-25 20:18] #1164 closed

[2017-09-25 20:30] wpsmort commented on #1035
@amostajo I tested PR #1039 and found one minor issue.  The placeholder text in the OG Description field does not match what is output in the source code.  This happens when you enter an SEO description with brackets and leave the OG description empty.  In this instance, the OG description should be taken from the SEO description so the placeholder text should match exactly what's typed in the SEO

[2017-09-25 20:37] #1132 closed

[2017-09-25 20:39] wpsmort commented on #534
I don't believe there's a case where someone would not want this available.  It's something we should just do and then indicate that it's been done.

[2017-09-25 20:44] wpsmort commented on #1013
@michaeltorbert I don't think we want to make the update user initiated.  If they are using Blog as their OG type then it should be changed as Blog is no longer valid and they may not realize this.

[2017-09-25 20:45] michaeltorbert commented on #1013
That's fine, we can just add it to our normal db upgrades

[2017-09-25 20:55] ceeportnews opened #1167 "Home Page Title Format grayed out"
Hi -

I've been troubleshooting last three days to fix the URL of the home page rendering properly in text messaging. It will not pull the right title and description! Tried every combination under the sun. Works on every other site correctly. Works fine on all other site pages. Just not the home page! The favicon/site image is the image pulling into the text message description, and not the socia

[2017-09-25 20:57] michaeltorbert commented on #1167
@ceeportnews If this is working on all other sites, and just not that one, that indicates a settings issue, server issue, or a plugin/theme conflict.
This isn't a support forum, but you can find basic troubleshooting steps here: https://semperplugins.com/documentation/how-to-troubleshoot-issues-with-all-in-one-seo-pack/
If you would like access to support, you can purchase the premium upgrade here

[2017-09-25 20:57] #1167 closed

[2017-09-25 21:01] ceeportnews commented on #1167
Okay, yes, so that grayed out issue is a settings issue?

[2017-09-25 21:07] michaeltorbert commented on #1167
This is a development repository. If you need support you can purchase the premium upgrade here: https://semperplugins.com/all-in-one-seo-pack-pro-version/

[2017-09-26 14:30] Chouby commented on #941
Not necessarily. It would be acceptable to have all languages in the same sitemap (and to submit only this sitemap to Google). For the compatibility with Yoast SEO, I had to separate sitemaps for subdomains and multiple domains because Yoast did not accept to allow multiple domains in one sitemap. But in all other cases, there is only one sitemap for all languages.

[2017-09-26 15:00] michaeltorbert commented on #313
Dupe of #803

[2017-09-26 15:00] #313 closed

[2017-09-26 15:14] michaeltorbert opened #1168 "Improve edit post AIOSEOP section"
This could/should probably be multiple issues. It doesn't all have to happen at once.

find all the ways it can be made to look better…
improve look of snippet area…
get rid of all the extra whitespace…
line things up better…
let’s do what we can for this version… but have a designer look at it for the next

[2017-09-26 15:14] michaeltorbert opened #1169 "improve edit-post area - Long-term goal"
look better, maybe something like WooCommerce? This will require a major refactor of the settings and options code; we need to decouple the post meta stuff from the general/social options (also it’s own issue?)

[2017-09-26 15:23] nicvalencia opened #1170 "woocommerce"
al guardar las opciones de ceo del producto no se guardan las de la pagina funcionan perfecto pero las de los producto no se guardan

[2017-09-26 15:34] #1159 closed

[2017-09-26 15:34] michaeltorbert commented on #1159
Dupe

[2017-09-26 16:41] wpsmort commented on #807
PR #1171

[2017-09-26 16:50] wpsmort opened #1172 "Improvements to preview snippet"
Improve the appearance of the preview snippet on the Edit Post screen.

[2017-09-26 17:15] michaeltorbert commented on #1170
I'm not sure what this says. If you're looking for support, you can get it buy purchasing All in One SEO Pack Pro: https://semperplugins.com/all-in-one-seo-pack-pro-version/

[2017-09-26 17:15] #1170 closed

[2017-09-26 18:43] wpsmort commented on #1172
PR #1173 is ready for review.

[2017-09-26 18:46] wpsmort opened #1174 "Improve spacing in meta box on Edit Post screen"
See if we can improve the spacing of our meta box on the Post Edit screen making sure all margins and gutters are evenly spaced.

[2017-09-26 20:53] michaeltorbert opened #1176 "Duplicate strings in commonstrings.php"
For some reason, we have some duplicate strings.

[2017-09-26 21:11] wpsmort commented on #1174
PR #1177 is ready for final review.

[2017-09-26 21:13] wpsmort commented on #1168
#1172 opened to improve the preview snippet
#1174 opened to improve spacing and gutters

[2017-09-26 21:32] wpsmort opened #1178 "Improve appearance of tabs on Edit Post screen"
Improve the look of the tabs on the AIOSEOP meta box on the Edit Post screen

[2017-09-26 21:43] wpsmort commented on #1178
@michaeltorbert PR #1179 is ready for final review.

[2017-09-27 03:58] #1172 closed

[2017-09-27 04:13] michaeltorbert opened #1180 "Add comments to css files"
https://make.wordpress.org/core/handbook/best-practices/coding-standards/css/#commenting

[2017-09-27 04:20] michaeltorbert commented on #1178
Great job on this @wpsmort

[2017-09-27 04:20] #1178 closed

[2017-09-27 05:20] dtheme101 opened #1181 "Feature request - cache-control or filtering the header"
Adding a filter hook for either cache-control or just filtering the header (better) would be useful for anyone using heavy caching and needs a cache header to set rules. eg. Expiry date - 12 hours - 24 hours etc

[2017-09-27 10:51] michaeltorbert commented on #1181
Source: https://wordpress.org/support/topic/dynamically-generate-sitemap-and-cpu-headers/#post-9531800

[2017-09-27 11:31] michaeltorbert commented on #803
@arnaudbroes Also, you may want to make a separate issue for each file, and add comments for each string as needed. Err on the side of too many comments.
For strings in an array... we'll have to figure out how to do that, if we can.

[2017-09-27 13:27] nellypledge opened #1183 "Issue using UX Builder - Flatsome theme"
Hi only noticed today when All in one SEO when activated it stops the UX builder within the Flatsome Theme from updating. Thank you.

[2017-09-27 13:50] michaeltorbert commented on #1183
As that is a commercial theme, we have no way of looking at it.
I recommend contacting their support team.

[2017-09-27 13:50] #1183 closed

[2017-09-27 14:03] #1176 closed

[2017-09-27 14:23] #807 closed

[2017-09-27 15:27] #1118 closed

[2017-09-27 15:37] #1174 closed

[2017-09-27 15:38] wpsmort opened #1185 "Reduce spacing between fields and help text"
See screenshot:

<img width="740" alt="screen shot 2017-09-27 at 11 32 44 am" src="https://user-images.githubusercontent.com/17548525/30922872-688ec7d2-a378-11e7-899b-7eed755ce5cb.png">

[2017-09-27 15:42] michaeltorbert commented on #1081
Update: the new 95% threshold combined with our new strings have made even more locales out of date.

[2017-09-27 15:44] #1119 closed

[2017-09-27 15:53] michaeltorbert commented on #1185
@wpsmort I still feel like this could be better, but it's an improvement.

[2017-09-27 15:54] #1185 closed

[2017-09-27 16:37] michaeltorbert commented on #1162
Once this is done, I recommend change the links from github to our documentation in the sfwd and sp release histories.

[2017-09-27 17:11] michaeltorbert opened #1187 "Conflict with WP Affiliate View"
For some reason, WP Affiliate View has a css file loading at the top of the xml sitemap.

[2017-09-27 17:11] michaeltorbert commented on #1187
Tracing back the function calls, it originates with:

add_shortcode('wp_affiliate_view', 'wp_affiliate_view_handler');

[2017-09-27 17:45] wpsmort commented on #1187
@michaeltorbert This started with this commit from PR #978 - https://github.com/semperfiwebdesign/all-in-one-seo-pack/pull/978/commits/732c399ea47240b35c7baf21c1cf4a8688a7639c

[2017-09-27 19:23] michaeltorbert commented on #1187
It seems to be coming from $posts = get_posts( apply_filters( $this->prefix . 'post_query', $args ) );
When the get_posts there runs, it looks at the last 10k or whatever... if the WP Affiliate shortcode is in one of the pages we're getting, it runs for some reason.

[2017-09-27 19:26] michaeltorbert commented on #1187
Steps to reproduce, install WP Affiliate Platform, add the shortcode [wp_affiliate_view] to a post, and view your sitemap. You should get the "This page contains the following errors" error due to the affiliate css being loaded at the top.

[2017-09-27 19:31] michaeltorbert commented on #1187
Also, I don't know if I'm missing something, but it seems strange that get_posts has two arguments here. https://developer.wordpress.org/reference/functions/get_posts/ says only $args

[2017-09-27 20:19] #1187 closed

[2017-09-27 20:43] michaeltorbert opened #1189 "Make screenshots the same size"
With the new plugin .org interface, screenshots jump around if they're a different size as you go through them. We should redo the screenshots such that they're all the same size.
Hopefully then this behavior will improve.

https://wordpress.org/plugins/all-in-one-seo-pack

[2017-09-27 22:41] zonemagazine opened #1190 "BING not verifying"
I have tried many times but BING will not verify my site?

[2017-09-28 02:03] michaeltorbert commented on #1190
@zonemagazine This is a development site, not a support forum. If you'd like access to support, you can upgrade here: https://semperplugins.com/all-in-one-seo-pack-pro-version/

[2017-09-28 02:03] #1190 closed

[2017-09-28 13:29] michaeltorbert opened #1191 "Better check for images in galleries - alternative to the_content filter for image sitemap"
In #1187 I’ve removed the apply_filter for now, because it breaks in some cases where things are output to the screen on the filter.
So we’ll need to find some way around that long-term.

I figured not applying it and not getting images added by the_content was better than applying it and having it break some site.

[2017-09-28 13:40] contactashish13 commented on #1191
@michaeltorbert can you please tell me how to replicate this?

[2017-09-28 13:41] michaeltorbert commented on #1191
@contactashish13 I recommend reading all of #1187, and you can follow my progress yesterday.
Steps to reproduce are here: https://github.com/semperfiwebdesign/all-in-one-seo-pack/issues/1187#issuecomment-332629386

[2017-09-28 17:16] wpsmort opened #1192 "XML Sitemap - Add filter to disable images in sitemap"
As discussed today, we should add a filter so that users can disable the images in XML Sitemap we added in Issue #386.

[2017-09-28 17:16] wpsmort opened #1193 "Documentation for new filter to disable images in XML Sitemap"
Add docs for new filter added in #1192

[2017-09-28 17:20] wpsmort commented on #1191
We discussed this today and agreed to release v2.4 without the apply_filter.  We now know that it's needed in order to discover images in galleries added via the default WordPress Media Library gallery functionality.  It may also be needed to discover images added via other gallery plugins/shortcodes.

We know that the_content filter causes a conflict with plugins such as WP Affiliate Platform whe

[2017-09-28 17:35] michaeltorbert commented on #1192
The filter is aioseo_include_images_in_sitemap, just __return_false on it.

[2017-09-28 17:52] wpsmort commented on #386
I tested the new image sitemap functionality with a large photography site and here are the results:

A sitemap that has 7,509 URLs with 11,280 images took 10 seconds using the current live plugin (v2.3.16) and 14 seconds with the new image sitemap in v2.4.

[2017-09-28 18:03] wpsmort commented on #1192
@michaeltorbert I tested PR #1194 and got two errors in the debug log which resulted in a broken sitemap:

PHP Warning:  Missing argument 2 for apply_filters(), called in /wp-content/plugins/all-in-one-seo-pack-issue-1192/modules/aioseop_sitemap.php on line 2663 and defined in /wp-includes/plugin.php on line 176

PHP Notice:  Undefined variable: value in /wp-includes/plugin.php on line 191

[2017-09-28 18:07] michaeltorbert commented on #1192
Fixed.

[2017-09-28 18:24] #1192 closed

[2017-09-28 18:26] wpsmort commented on #1193
Documentation added here - https://semperplugins.com/documentation/disable-images-in-xml-sitemap/

[2017-09-28 18:26] #1193 closed

[2017-09-28 18:34] michaeltorbert opened #1197 "sync readmes"
Readme from github is out of sync from .org readme... carefully compare and merge changes

[2017-09-28 18:58] michaeltorbert opened #1198 "Clean up whitespace in options"
We improved extra space in the post edit screen in 2.4, now let's do it in the plugin settings.

[2017-09-28 19:02] michaeltorbert opened #1199 "Marketing - Add screenshot of AIOSEOP metabox on post-edit screen to assets/readme"

[2017-09-28 22:21] FilmCutting opened #1200 "XML Sitemap Memory"
Hello,

I also installed today’s 2.4 update, and upon doing so my sitemap no longer loads. When I click to view my sitemap, it says:
"XML Parsing Error: no root element found
Location: http://filmcutting.com/sitemap.xml
Line Number 1, Column 1:"

I've deleted cache and also tried resetting my sitemap's settings to the defaults without any results. When I tried to check my sitemap via Google Search

[2017-09-28 22:23] MobeenKhan22 opened #1201 "Add Product Page Issue After Installing the Plugin"
Hello,

After installing this plugin and it is messing up the product page alignments. I have pasted the screenshot.

Let me know once this is fixed. I will be deactivating the plugin in mean-time.

Thanks,
Mobeen

![image](https://user-images.githubusercontent.com/32375529/30992862-7cc2d1cc-a471-11e7-8dd2-ba51ff2aa5ec.png)

[2017-09-29 01:38] michaeltorbert commented on #1201
Unfortunately, this is not a bug, but a support request.
This isn't something that's broken or has changed. Just uncheck the columns you don't want in screen options.

[2017-09-29 01:38] #1201 closed

[2017-09-29 01:40] MobeenKhan22 commented on #1201
Sure this would be a support issue. But broken when installed the app. Thanks anyways.

[2017-09-29 01:42] michaeltorbert commented on #1201
Nothing is broken. That is the intended behavior, hence why it's a support issue.

[2017-09-29 01:45] michaeltorbert commented on #1200
Hi @FilmCutting, unfortunately we've not been able to reproduce this issue. You can submit your login info to our secure form here and we'll be happy to take a look: https://semperplugins.com/contact/submit-login-information/

[2017-09-29 02:16] michaeltorbert opened #1202 "XML Sitemap - Full size image for sitemap"
When we include an image in the xml sitemap, make sure it's the full size image.

[2017-09-29 06:36] FilmCutting commented on #1200
Hi michaeltorbert, thank you for your prompt reply. I have submitted my login info to your secure form. Kind regards.

[2017-09-29 06:43] contactashish13 commented on #1191
@wpsmort have fixed this by removing the filter and fetching galleries using core WP functions. PR: https://github.com/semperfiwebdesign/all-in-one-seo-pack/pull/1204

[2017-09-29 07:55] wp1113 opened #1205 "i had enabled auto create description but not description in page."
http://mkv.cn/12200/happy-death-day-2017-trailer-2

--
  | <meta name="keywords"  content="happy death day,忌日快乐,预告片" />
  |  
  | <link rel="canonical" href="http://mkv.cn/12200/happy-death-day-2017-trailer-2" />

[2017-09-29 09:35] michaeltorbert opened #1206 "check if dom module exists"
We should do something like class_exists( 'DOMDocument' ) in the sitemap module.

Reported here: https://wordpress.org/support/topic/php-dom-module/

[2017-09-29 09:47] michaeltorbert commented on #1200
@FilmCutting Can you check your apache logs for any errors?

[2017-09-29 09:54] michaeltorbert opened #1207 "Filter for adding shortcodes with images for sitemap"
Since we can't apply the_content filter when looking for images for the sitemap, we should have a filter that plugin devs or site owners can use to have their shortcodes be seen by our image scanning for the sitemap.

[2017-09-29 09:59] FilmCutting commented on #1200
Sorry, but I don't know how to check my apache logs. I have logged in now to my admin successfully. Do you have problem to log in? I have Login LockDown plugin installed (Adds some extra security to WordPress by restricting the rate at which failed logins can be re-attempted from a given IP range).

[2017-09-29 10:01] michaeltorbert commented on #1200
@FilmCutting There's no problem logging in. We just want to check the apache logs for any clues as to the problem with the sitemap. If you submit the form again with your FTP login information I'll see if I can find the logs. https://semperplugins.com/contact/submit-login-information/

Also, who is your hosting company?

[2017-09-29 10:03] FilmCutting commented on #1200
Thank you. I will do it right now. My hosting company is MochaHost.

[2017-09-29 10:24] FilmCutting commented on #1200
Dear Michael, the sitemap in online again! Thank you a ton! Should I keep the default settings (19 sitemaps) or check just for posts and pages?

[2017-09-29 10:30] michaeltorbert commented on #1200
@FilmCutting The problem is almost certainly memory, but we're still making a backup of your site to our private server for testing.
To fix it for you I just enabled to use sitemap indexes, so each sitemap is smaller and takes up less memory. We'll release an update to resolve this though.

[2017-09-29 10:41] FilmCutting commented on #1200
Ah, so! I'm not a tech person. I will not touch anything and will be waiting for your update. Thanks again for helping me.

[2017-09-29 10:45] michaeltorbert commented on #1200
Ok the backup has completed to our servers. The sitemap works on our servers perfectly. We've confirmed the problem is memory.

We'll have a release soon that optimizes memory usage, but we recommend anyone else reading this to take the following steps in the meantime:

1) In the XML Sitemap module, enable the Sitemap Indexes option, then enable paginate sitemap indexes. In "Maximum Posts Per Site

[2017-09-29 10:56] FilmCutting commented on #1200
I can confirm that the first step is already made - the max. posts per sitemap is set to 1,000. The memory limit is also set to 256 (which is the max. value).

[2017-09-29 10:59] michaeltorbert commented on #1200
Yes, I did that for you. Those instructions were for anyone else reading.

[2017-09-29 11:11] FilmCutting commented on #1200
Note: I've just checked my Google search console. It says: https://screenshots.firefox.com/8tvW2NA5NEYD65Ft/www.google.com
I don't know if that report is accurate or not as I am able to reach the sitemap_post_3 link?!

[2017-09-29 11:15] FilmCutting commented on #1200
I've just tested sitemap. Everything seems alright now: https://screenshots.firefox.com/k6qOg5skQjYkp4uS/www.google.com

[2017-09-29 12:21] FilmCutting commented on #1200
Sadly, Google search console still not validate the above sitemap: https://screenshots.firefox.com/LUg8D0O4e6jOzjZr/www.google.com

[2017-09-29 14:50] michaeltorbert opened #1208 "Don't include attachment pages by default in sitemap"
I'm not  sure they're needed, since images and videos are included in the sitemap anyway. Do we want to change this for existing sites?

[2017-09-29 15:17] michaeltorbert opened #1209 "Google Search Console parsing errors in sitemap"
Reported here: https://wordpress.org/support/topic/version-2-4-broke-sitemap/#post-9542902
and here: https://wordpress.org/support/topic/version-2-4-broke-my-sitemap/#post-9542883
and here: http://filmcutting.com/sitemap.xml
and here: https://wordpress.org/support/topic/version-2-4-broke-sitemap/#post-9542902

[2017-09-29 18:05] michaeltorbert opened #1210 "homepage and blog page on addl entry in sitemap"
Reported here: https://wordpress.org/support/topic/version-2-4-broke-sitemap/page/2/#post-9543321

We may want to look into why this is the case and if it should be changed.

[2017-09-29 18:43] michaeltorbert opened #1211 "Taxonomy formats should mirror post formats"
apply_tax_title_format only has 6 macros, but it should have the same ones from post/page

Why do we even have separate functions for this?

[2017-09-29 19:45] wpsmort commented on #73
Requested again here - https://semperplugins.com/support/feature-requests-all-in-one-seo-pack-pro/any-news-about-dublin-core-json-ld-meta-implementation/#p7037#spEditFormAnchor

[2017-09-29 22:00] wpsmort opened #1212 "XML Sitemap - Embeds and other code being picked up as images"
Reported by Nick M. here - https://wordpress.org/support/topic/version-2-4-broke-my-sitemap/#post-9542883

Sitemap URL: http://filmcutting.com/sitemap_post_3.xml
Error: Invalid URL error appears in Google Webmaster Tools under Sitemap details.  The line in question is 109 which looks like this:

[code]

Note the missing image location tag.

This is coming from an embed in this post - http://filmcu

[2017-09-29 22:03] wpsmort commented on #1200
@FilmCutting I've opened a separate issue for the validation error here - https://github.com/semperfiwebdesign/all-in-one-seo-pack/issues/1212

[2017-09-29 22:05] wpsmort commented on #1209
See issue #1212

[2017-09-29 22:12] FilmCutting commented on #1200
Thank you. Earlier today some of your colleagues installed Cloudways Migrate plugin on my site in order to backup it. Do you still need the plugin for testing?

[2017-09-29 22:18] wpsmort commented on #1200
@FilmCutting I have deleted that plugin from your site.

[2017-09-29 22:18] wpsmort commented on #1212
We've have two reports related to this for embeds from Amazon.

One of these, reported by Derek H. here - https://wordpress.org/support/topic/version-2-4-broke-my-sitemap/#post-9542883.  In this case this is a text link to Amazon which can be seen on this page - https://www.whizbuzzbooks.com/another-summer-sue-lilley/.  The code in question is this:

[code]

The image tag in that code is being pic

[2017-09-29 22:20] dotcominfo opened #1213 "Ecommerce data missing"
I've integrated Google Analytics into a customer site recently, using the google analytics setting All In One SEO Pack to do it. Traffic data is showing up just fine, but no ecommerce data is showing up in the analytics at all. I've made sure that my view in the GA profile has ecommerce turned on, and I've enabled all the usual (advanced ecommerce tracking) stuff. I've done this more times than I

[2017-09-29 22:30] wpsmort commented on #1212
The second report of an issue with Amazon code is from Matt H. by email.

In this instance the problem comes from this post - http://www.entertainmentbuddha.com/reviews/the-art-of-titanfall-review/.  Here's there's a thumbnail image under the text "Buy The Art of Titanfall today!".   The code for this image looks like this:

[code]

Same problem here, we're picking up the image tag inside that aff

[2017-09-29 22:35] FilmCutting commented on #1212
If I understand correctly, the issue is caused by a single embed. Whether the problem with the embeded image will be resolved if I simply remove it and leave only the clickable link?

[2017-09-29 22:40] wpsmort commented on #1212
@FilmCutting Yes, it's just that one embed.  If you delete it the parse error in Google Webmaster Tools will go away.

[2017-09-29 22:42] FilmCutting commented on #1200
Thank you. Do you recommend all post types and taxonomies to leave checked?

[2017-09-29 22:44] wpsmort commented on #1200
@FilmCutting You can uncheck Media / Attachments and Format.

[2017-09-29 22:47] FilmCutting commented on #1212
Alrighty then, I sure will. Thanks for being so helpful.

[2017-09-29 22:48] FilmCutting commented on #1200
Thanks for sharing your knowledge!

[2017-09-29 23:06] FilmCutting commented on #1212
Issue resolved! https://screenshots.firefox.com/5fCFkAFDsfuCn3CY/www.google.com

[2017-09-30 04:29] contactashish13 commented on #1212
@wpsmort it looks like google does not like if an image URL does not have an extension. Will add a patch for that

[2017-09-30 06:22] contactashish13 commented on #1207
@wpsmort @michaeltorbert  PR: https://github.com/semperfiwebdesign/all-in-one-seo-pack/pull/1214

[2017-09-30 10:53] contactashish13 commented on #1209
@wpsmort PR: https://github.com/semperfiwebdesign/all-in-one-seo-pack/pull/1215 (didn't know if I should post on #1212)

[2017-09-30 11:59] contactashish13 commented on #1206
@michaeltorbert @wpsmort PR: https://github.com/semperfiwebdesign/all-in-one-seo-pack/pull/1216

If domdocument does not exist, I'm logging an error message and falling back to regex.

[2017-09-30 15:44] michaeltorbert opened #1217 "sitemap index and posts per page"
I suggest two things for considerations:

a) IF sitemap index is turned on, so should be the posts per page option (#1232)

b) posts per page should default to something low, like 1000

(these should be defaults, but we shouldn't change existing settings)

[2017-09-30 16:45] wpsmort commented on #1212
@michaeltorbert I have tested PR #1215 on the three sites where this problem was reported.  On each site it resolves the problem of picking up embeds that are not valid images.  It also resolves the issue of the blank XML Sitemap page.

This is ready for code review.

[2017-09-30 16:52] wpsmort commented on #1205
This is not a support forum.  If you need support then please post in our support forum here - https://semperplugins.com/support/

[2017-09-30 16:52] #1205 closed

[2017-09-30 16:55] wpsmort commented on #1217
@michaeltorbert I completely agree with these suggestions.

[2017-09-30 17:13] wpsmort commented on #1217
@michaeltorbert I tested on a large site with another SEO plugin and found the same out of memory problem occurs when the pagination is set to 10,000.  Setting this to 1,000 that plugin or AIOSEOP worked fine.

Could we try to detect if either 1). an out of memory error is shown when the sitemap is built, or 2). if the site has more than 1,000 URLs, and return a red light and message that says "en

[2017-09-30 17:19] michaeltorbert commented on #1217
@wpsmort
1) maybe... we might be able to detect when we're about to run out of memory, but it wouldn't be 100% reliable
2) yes
3) we should also test all other SEO/sitemap plugins and see how much memory they use per x posts compared to us (only for ones with dynamic sitemaps)

[2017-09-30 22:47] dhenzler opened #1218 "add capability to work with "fabulous fluid" your system says 0 compatibility with my files"
:o(

[2017-09-30 22:49] michaeltorbert commented on #1218
I don't know what you're asking for. From Google, I see that there's a "Fabulous Fluid" theme https://wordpress.org/themes/fabulous-fluid/.
Where do you see "o compatibility" with your files?

[2017-09-30 22:54] dhenzler commented on #1218
after I run the plugin... it shows 5 things were looked at 0 were changed.  the top selection box looked like different apps for doing SEO, and the bottom box seemed like Theme's  Am I wrong?  Maybe I need to RTFM

[2017-09-30 22:56] dhenzler commented on #1218
I chose Infinate SEO Compatible data:

    Custom Doctitle
    META Description
    META Keywords
    Canonical URI

[2017-09-30 22:56] michaeltorbert commented on #1218
I don't know what any of this means:

Please provide some screenshots and a clear explanation about what is telling you our software has no compatibility with something.

[2017-09-30 22:57] dhenzler commented on #1218
0 Records were updated

5 Records were ignored

[2017-09-30 22:57] michaeltorbert commented on #1218
Ok what you want is support, which isn't provided here. This is a development system.
Support is for customers who purchase a Pro subscription here: https://semperplugins.com/all-in-one-seo-pack-pro-version/

[2017-09-30 22:57] #1218 closed

[2017-10-01 04:52] michaeltorbert opened #1219 "Sitemap index only"
We should consider either a) defaulting to or b) only using sitemap indexes.

[2017-10-01 08:30] hsbahri opened #1220 "Sitemap not working properly"
I have All in One SEO plugin installed since, more than a year. Suddenly, I noticed Google giving me an error that sitemap issue is there. Then, I found my sitemap page was showing blank. Then, I made a settings change to this and clicked on enable sitemap index. Then, though my sitemap started working (https://www.thebuzzstand.com/sitemap.xml), but then a sub sitemap https://www.thebuzzstand.com/

[2017-10-01 13:26] wpsmort commented on #1220
@hsbahri This is most likely caused because PHP is running out of memory when trying to build that sitemap due to the large number of URLs on it.  You may need to increase the memory allocated to PHP (https://codex.wordpress.org/Editing_wp-config.php#Increasing_memory_allocated_to_PHP) or decrease the number of posts per page in the XML Sitemap settings (https://semperplugins.com/documentation/xml

[2017-10-01 13:26] #1220 closed

[2017-10-01 13:34] michaeltorbert opened #1221 "XML Sitemap - Disable attachment pages by default"
Consider whether we should do this related to #1796

If we do this we need to _**make absolutely certain nothing changes for existing users**_.

[2017-10-01 14:04] michaeltorbert opened #1222 "Redirect attachment to post parent default to on"
We should consider whether this should default to on for new installs.

[2017-10-01 14:05] #1222 closed

[2017-10-01 22:12] michaeltorbert commented on #1156
@EkoJr discussed wanting to do this with jQuery UI Dialogs.

[2017-10-02 00:09] michaeltorbert commented on #1212
@wpsmort The blank screen is from running out of memory, and should be unrelated to this. You can test by seeing how much a sitemap uses (on sites that use a lot of memory) with and without this patch.

[2017-10-02 11:52] michaeltorbert commented on #695
Also, we should make sure “last change” in the code is the date updated, not published…. make sure saving again changes this date in the sitemap

[2017-10-02 13:23] michaeltorbert opened #1224 "compare sitemap memory"
Compare sitemap memory for x posts vs other plugins

[2017-10-02 13:24] contactashish13 commented on #1200
@michaeltorbert PR: https://github.com/semperfiwebdesign/all-in-one-seo-pack/pull/1223

The two improvements in this are:

1) For featured image
a) check whether the post type supports thumbnails
b) check if the attachment in the featured image is an image

2) For post type 'attachments'
a) check if the attachment in the featured image is an image

[2017-10-02 13:29] michaeltorbert opened #1225 "Notice for >1000 URLs"
If we detect that a site has more than 1000 URLs, and sitemap indexes aren't turned on or it's turned on but it's set to >1000, recommend they change their settings

[2017-10-02 14:38] #1209 closed

[2017-10-02 14:38] #1212 closed

[2017-10-02 14:49] #1206 closed

[2017-10-02 15:26] wpsmort commented on #1212
@michaeltorbert: I tested on the four customer cloned sites and there was little to no difference in the memory usage between v2.4 and the v.2.4.1 I tested for the embed code fix.

[2017-10-02 16:01] michaeltorbert opened #1226 "Privacy settings warning"
In the sitemap module we have the following warning:

"Warning: your privacy settings are configured to ask search engines to not index your site; you can change this under Reading Settings for your blog."

This seems like a unnecessary duplicate of the admin notice we also have.

[2017-10-02 16:46] michaeltorbert opened #1227 "Change wording for notice"
In #1225 we added a notice to change the settings.... now that we're forcing indexes and pagination, and making 1000 the default, we'll want to change the wording to reflect this (exclude things now being forced).

[2017-10-02 16:48] michaeltorbert opened #1228 "Remove checks"
In 2.4.1, we added checks for the new notice, we'll want to remove ones that no longer apply.

[2017-10-02 16:53] michaeltorbert opened #1229 "Change sitemap pagination documentation from 50,000 URLs to 1000"
We need to do this for the website documentation as well.

[2017-10-02 16:54] wpsmort commented on #1229
@michaeltorbert I totally agree with this.

[2017-10-02 17:06] wpsmort opened #1230 "XML Sitemap - Add support for images in JetPack galleries"
In Issue #1191 we added support for images in the built in WordPress galleries.  We now need to add support for images in JetPack galleries and slideshows.

[2017-10-02 17:06] wpsmort commented on #1191
@michaeltorbert PR #1204 has been tested and is good.

Note: This only adds support for the built in WordPress gallery and does not work with other galleries that use shortcodes such as JetPack and NextGen Gallery.  I've opened Issue #1230 for this enhancement.

[2017-10-02 18:08] michaeltorbert commented on #1169
![memberdiscounts](https://user-images.githubusercontent.com/17364998/31092053-269e70dc-a77b-11e7-8d6e-9ce3266f0ee5.png)

[2017-10-02 18:54] wpsmort commented on #1200
@contactashish13 I tested PR #1223 and this no longer gets featured images when they are set in a post and displayed on the front end of the post.  To replicate this, follow these steps:

1. Create a new post and set a featured image and add an image into the content
2. With v2.4, check the sitemap and you should see two images listed for your new post, the featured image and the image in the cont

[2017-10-02 19:16] #1191 closed

[2017-10-02 19:17] michaeltorbert commented on #1200
I'm moving this away from 2.4.1, as it doesn't appear we can make major memory improvements to the current code. Indexes are the future. :)

[2017-10-02 19:34] #1225 closed

[2017-10-02 19:36] michaeltorbert opened #1232 "Remove pagination option"
If indexes is on, pagination should be automatic

[2017-10-02 19:42] wpsmort opened #1233 "XML Sitemap - Change wording of notice for >1000 URLs"
Look at improving the wording of the new notice added in issue #1225

Current wording:

Warning: Your website has a lot of URLs.
Click here to enable Sitemap Indexes and then enable Paginate Sitemap Indexes, and set the Maximum Posts per Sitemap to 1000.

Suggested new wording:

Notice: To avoid problems with your XML Sitemap, we strongly recommend you enable Sitemap Indexes and set the Maximum Po

[2017-10-02 19:49] wpsmort commented on #1233
@michaeltorbert PR #1234 is ready for final review

[2017-10-02 19:50] wpsmort opened #1235 "XML Sitemap - Change label for Maximum Posts Per Sitemap"
Change the wording of the label for the Maximum Posts Per Sitemap option.

It should really be Maximum Posts Per Sitemap Page

[2017-10-02 19:55] wpsmort opened #1237 "Update docs for v2.4.1"
- [x] Remove  the Paginate Sitemap Indexes option

- [x] Change the label for Maximum Posts Per Sitemap

- [x] Add note about the new notice for >1000 URLs

[2017-10-02 19:58] wpsmort commented on #1235
@michaeltorbert PR #1238 is ready for final review.

[2017-10-02 19:59] #1233 closed

[2017-10-02 20:00] #1235 closed

[2017-10-02 20:15] #1232 closed

[2017-10-02 20:35] wpsmort opened #1241 "XML Sitemap - Sitemap generated log message appears when activating plugin"
When testing PRs for v2.4.1 I saw the log message that says the sitemap was generated after activating the plugin.  This is new in v2.4.1.

[2017-10-02 20:39] wpsmort opened #1242 "Advertise that AIOSEOP Pro includes additional Google Analytics features"
We should advertise in the free plugin that additional GA features for outbound tracking are available in Pro.

[2017-10-02 21:08] ocdevops opened #1243 "Warning: array_sum() expects parameter 1 to be array"
After I installed the Version 2.4.1, I get this PHP warning on my admin site:

[2017-10-02 21:09] michaeltorbert commented on #1243
@ocdevops Thank you for reporting this. We'll release a fix, but this is just a warning. Make sure to disable error logging on production sites.

[2017-10-02 21:24] michaeltorbert commented on #1241
We need to know what version this started with.

[2017-10-02 21:24] michaeltorbert commented on #1241
@arnaudbroes Can you see what commit this started with?

[2017-10-02 21:33] michaeltorbert commented on #1243
@ocdevops Does this fix it for you?

[2017-10-02 21:33] wpsmort commented on #1243
@michaeltorbert This is tested and the URL notice still works.

[2017-10-02 21:35] #1243 closed

[2017-10-02 21:36] ocdevops commented on #1243
@michaeltorbert I added these lines to my wp-config.php,and it solve the issue:

[2017-10-02 21:44] wpsmort opened #1245 "XML Sitemap - Exclude images from external sites"
Reported by Matt H. by email today.

Google Webmaster Tools can return warnings about URLs blocked by robots.txt when the image is on an external site and the robots.txt on that external site is blocking them.

We should consider not including external images in our sitemap.

[2017-10-02 21:53] wpsmort opened #1246 "XML Sitemap - Don't include images without FQDN"
Reported by Matt H. by email today.

Matt had some images which showed up in his sitemap without the http://domain.com part of the URL.  This caused Google to return an Invalid URL error.  The way the images appeared in the source code was without the http://domain.com so that's what was listed in our sitemap.

We should consider ignoring images without a full URL including protocol and domain nam

[2017-10-03 03:42] michaeltorbert opened #1247 "Yandex support for images in sitemap"
Reported by Alex via email

Reference: https://yandex.com/support/webmaster/controlling-robot/sitemap.html

Related to #1248

[2017-10-03 03:43] michaeltorbert opened #1248 "Add filter for removing images from sitemap"
See if this validates for yandex

[2017-10-03 04:33] blogxkomo opened #1249 "Blank Sitemap_post.xml"
you can see on https://xkomo.com/sitemap_post.xml
if you visit you will see blank page

[2017-10-03 08:06] contactashish13 commented on #1200
@wpsmort I've removed the check mentioned in 1b. Now only 1a and 2a are valid checks. I've tested with multiple cases and this is now working fine.

I've also synced this PR with the upstream dev

[2017-10-03 08:16] contactashish13 commented on #1247
@michaeltorbert there could be a couple of ways to address this:

1) sitemap URL contains a parameter that indicates which search engine this is for (by default empty) e.g. engine=yandex which is used to exclude the image information
2) detect the user agent of yandex and exclude the image information

I would prefer the 2nd approach. Let me know your thoughts.

Also, I see in https://yandex.com/s

[2017-10-03 12:58] michaeltorbert opened #1250 "Google Search Console validation error in 2.4.1.1"
Reported by Bimal via email and

https://wordpress.org/support/topic/google-webmaster-sitemap-error/

[2017-10-03 13:15] michaeltorbert opened #1251 "Broke options in Divi theme in 2.4.1.1"
The version should be verified.

The report is that options don't work.

Reported here: https://wordpress.org/support/topic/version-2-4-1-1-broke-divi-theme/

[2017-10-03 13:26] michaeltorbert opened #1252 "Too many images being reported by Google from 2.4.1.1"
Reported by bobsled here: https://wordpress.org/support/topic/a-lot-of-images-with-version-2-4-1-1/

[2017-10-03 13:32] michaeltorbert commented on #1250
Looking at the site, this is the first image:

https://i2.wp.com/moviesweed.com/wp-content/uploads/2017/10/Tiger-Zinda-Hai-2017-Hindi-Movie-Poster.jpg?resize=150%2C150&ssl=1

Do we just need to strip all the extra url vars?

[2017-10-03 13:38] contactashish13 commented on #1252
@michaeltorbert this could be expected behavior if the user wants to show all post types, including attachment types. So if he has uploaded X images and attached one each to a post thus making X posts, the sitemap will show 2X images - one for the posts and one for the attachment type.

[2017-10-03 13:39] michaeltorbert commented on #1250
I'm creating a backup and clone of his site for testing.

[2017-10-03 13:40] contactashish13 commented on #1250
@michaeltorbert this type of URL will automatically be excluded with the changes in #1212

[2017-10-03 13:45] michaeltorbert commented on #1250
@contactashish13 It isn't though, he's running 2.4.1.1 which has PR #1215 in it.

[2017-10-03 14:00] michaeltorbert commented on #1247
Offhand I don't like either of these.
At a minimum, we should allow users to disable the image functionality via filter https://github.com/semperfiwebdesign/all-in-one-seo-pack/issues/1248
Potentially then they could use this filter conditionally when it's yandex, or all the time, whichever they prefer.
Perhaps there's another way... do other plugins have the same issue?

[2017-10-03 14:00] michaeltorbert commented on #1247
@wpsmort Can you check if other plugins have the same issue?

[2017-10-03 14:10] bimal008 commented on #1250
@contactashish13 , @michaeltorbert hi,
do you have an idea yet, why its causing error in google webmaster sitemap section ?

[2017-10-03 14:13] michaeltorbert commented on #1252
@wpsmort Can you compare apples to apples with other plugins and see if they have the same results in Google Search Console?

[2017-10-03 14:13] bimal008 commented on #1250
Re-submit http://prntscr.com/gsrcay  > same error yet http://prntscr.com/gsrcpn

[2017-10-03 14:16] michaeltorbert commented on #1250
@bimal008 As you can see, we're working on it now. There's no need for repeated messages.

[2017-10-03 14:21] michaeltorbert commented on #1249
Follow the instructions here https://semperplugins.com/documentation/this-page-contains-the-following-errors/ and here https://semperplugins.com/documentation/how-to-troubleshoot-issues-with-all-in-one-seo-pack/

[2017-10-03 15:47] michaeltorbert commented on #1249
Update: for moviesweed, the sitemap is blank: https://moviesweed.com/sitemap_post_1.xml but when I did a clone of their site to our server, it works fine http://wordpress-119458-341044.cloudwaysapps.com/sitemap_post_1.xml

[2017-10-03 16:14] wpsmort commented on #1252
@contactashish13 i tested PR #1254 and it does reduce the number of images down significantly, however, there is still a problem where an image is added to the sitemap twice.  This happens when the image tag looks like this:

[code]
When that tag is found, we add the following to the sitemap:
[code]

Notice how one image:loc tag has the URL of my local test site and the other has the URL for the c

[2017-10-03 16:16] contactashish13 commented on #1249
@michaeltorbert we parse using the domdocument and iterate over the elements found to get the 'src'. for some strange reason that src is not found. Even if I use the hasAttribute function it misinforms that 'src' attribute exists. But it does not throw any error

the problematic line is https://github.com/semperfiwebdesign/all-in-one-seo-pack/blob/master/modules/aioseop_sitemap.php#L2851

[2017-10-03 16:17] wpsmort commented on #1252
Notes from testing:  The code in PR #1254 reduced the number of images shown in the sitemap by this amount:

v2.4.1.1 code:
sitemap_post.xml = 3198 images
sitemap_page.xml = 54 images

PR 1254 code:
sitemap_post.xml = 2051 images
sitemap_page.xml = 30 images

[2017-10-03 17:43] EkoJr commented on #1156
As discussed: Implementing jQuery UI Tooltips instead.

[2017-10-03 18:02] wpsmort commented on #1250
@michaeltorbert I was able to reproduce the error on my site.  When submitting the XML Sitemap to GWT I was able to get the same parsing error.  It was caused by the &ssl=1 part of the image URL.

Once I could reproduce the problem, I tested PR #1253 and I confirmed that this fixed the problem.  In addition to fixing the parsing error in GWT, I also found that this fixes the blank sitemap problem

[2017-10-03 18:04] michaeltorbert opened #1255 "Conflict with Members plugin"
Reported here: https://wordpress.org/support/topic/version-2-4-1-1/#post-9552966

Plugin conflict – MEMBERS Version 2.0.1 | By Justin Tadlock

When Members is activated, the report is that AIOSEOP can not be.

[2017-10-03 18:16] contactashish13 commented on #1250
@wpsmort I reached the same conclusion at around the same time after a long struggle :) @michaeltorbert I have created a new PR with a sub-branch of #1253 because I'm making the image URL xml-safe in the same function I had added earlier. PR: https://github.com/semperfiwebdesign/all-in-one-seo-pack/pull/1256

[2017-10-03 18:34] justintadlock commented on #1255
Just making sure I get notifications on this.  Let me know if there's an issue on Members end.

[2017-10-03 18:48] michaeltorbert opened #1257 "Noindex for Author Archives"
Reported here: https://semperplugins.com/support/general-all-in-one-seo-pack-pro-forum/noindex-for-author-archives-isnt-working

I narrowed this down to is_page_included() in all-in-one-seo-pack-pro/aioseop_class.php:
The highlighted block is where it falls out:
https://www.dropbox.com/s/ujdqryffxu36kvw/Screenshot%202017-10-03%2014.33.10.png?dl=0

![screenshot 2017-10-03 14 33 10](https://user-ima

[2017-10-03 18:51] wpsmort opened #1258 "XML Sitemap - Facebook links picked up as images"
Related to issue #1212

Reported by @blogxkomo in issue #1249.

In the sitemap here https://xkomo.com/sitemap_post.xml we are picking up Facebook links as images.

This is the code in question that we see as an image:

[code]

We need to not list these as images, they are actually links.

[2017-10-03 18:51] wpsmort commented on #1249
@contactashish13 Part of the problem with the https://xkomo.com/sitemap_post.xml sitemap is that we're picking up Facebook links as images.  This is the code in question that we see as an image:

[code]

This is just like Issue #1212 where we picked up Amazon links as images.  I've opened issue #1258 for this.

[2017-10-03 18:53] michaeltorbert commented on #1255
Thanks @justintadlock Will do.

[2017-10-03 18:54] wpsmort commented on #1249
Note: The issue reported by blogxkomo is related to Issue #1250 where there are images that have URL parameters separated by an &.  This causes a blank sitemap and it causes parsing errors in GWT.

There is a secondary problem whereby the specific images that are causing this are actually Facebook links.  Issue #1258 has been opened for us to remove these from our sitemap.

[2017-10-03 19:00] wpsmort commented on #1249
See PR #1256

[2017-10-03 19:00] wpsmort commented on #1250
See PR #1256

[2017-10-03 19:13] #1250 closed

[2017-10-03 19:13] #1249 closed

[2017-10-03 19:16] michaeltorbert commented on #1255
User reports this as resolved.

[2017-10-03 19:16] #1255 closed

[2017-10-03 20:20] bimal008 commented on #1250
See PR #1256
<https://github.com/semperfiwebdesign/all-in-one-seo-pack/pull/1256>  >
michaeltorbert removed their assignment an hour ago
http://prntscr.com/gsweda .

On Tue, Oct 3, 2017 at 9:00 PM, wpsmort <notifications@github.com> wrote:

[2017-10-03 20:21] michaeltorbert commented on #1250
@bimal008 ?

[2017-10-03 20:26] bimal008 commented on #1250
Hi Michael

Is this issue resolved yet ? (
https://wordpress.org/support/topic/google-webmaster-sitemap-error/)

On Tue, Oct 3, 2017 at 10:21 PM, Michael Torbert <notifications@github.com>
wrote:

[2017-10-03 20:27] michaeltorbert commented on #1250
@bimal008 This issue will be fixed in the next release. Constant messages are not necessary and only distract us from development.

[2017-10-03 20:46] wpsmort commented on #1252
@michaeltorbert I tested with a different sitemap plugin and these are the number of images it found:

post-sitemap.xml = 1629 images
page-sitemap.xml = 27 images
attachment-sitemap.xml = 1617 images

The difference was because we're adding some images twice, see my comment here - https://github.com/semperfiwebdesign/all-in-one-seo-pack/issues/1252#issuecomment-333893174

[2017-10-03 21:19] michaeltorbert commented on #1213
@dotcominfo What is the URL to your site?

[2017-10-03 22:14] elena-novinskiy opened #1259 "Plugin Disables DIVI theme options"
Hi there,

I am using DIVI theme for my website. I updated to the latest version of all-in-one-seo pro and DIVI theme options are no longer showing. Disabling the plugin puts everything back to normal. Please, let me know if this can be somehow resolved.

Thank you!
Elena.

[2017-10-03 22:15] michaeltorbert commented on #1259
Closing as a duplicate of https://github.com/semperfiwebdesign/all-in-one-seo-pack/issues/1251

[2017-10-03 22:15] #1259 closed

[2017-10-04 04:03] EkoJr commented on #1251
@wpsmort The Sitemap Indexes will need to be retested.

There was a `global $options` that Divi was using, which AIOSEO started using with a recent update to handle its options, which was intended as a local variable. Removing the global variable fixes the issue.

[2017-10-04 04:06] michaeltorbert commented on #1251
@wpsmort He means to test that we haven't broken the sitemap index notice we added in 2.4.1 with this commit.

[2017-10-04 04:52] contactashish13 commented on #1252
@wpsmort I tested with the below HTML snippet and it adds only one image. I don't think this could be the issue because if we happened to take the images mentioned in the "srcset" attribute, you would find 5 more images. I believe the issue is somewhere else.

[code]

[2017-10-04 06:32] contactashish13 commented on #1230
@michaeltorbert while making changes for this issue I saw that the merged code seems to be missing my changes for #1200. Can you please check?

My commit: https://github.com/contactashish13/all-in-one-seo-pack/commit/fbe11c81cad0645f21bd125f96bb8f9ab4555db2

relevant lines: https://github.com/semperfiwebdesign/all-in-one-seo-pack/blob/2.4.2/modules/aioseop_sitemap.php#L2732 and https://github.com/

[2017-10-04 11:10] michaeltorbert opened #1261 "Not able to Fetch as Google"
Reported here: https://wordpress.org/support/topic/google-webmaster-sitemap-error/#post-9554319 and via email from Jivan.

Error Type
Temporarily unreachable

But home page url successfully Fetched.

[2017-10-04 11:21] contactashish13 commented on #1230
@wpsmort for jetpack, is this the feature that needs to be supported?

![image](https://user-images.githubusercontent.com/12953439/31173188-385cfdb6-a924-11e7-95d9-a1cf9c75356f.png)

[2017-10-04 12:56] michaeltorbert opened #1262 "Option to remove images from sitemap"
Related to #1247

[2017-10-04 12:57] michaeltorbert opened #1263 "Improve Filter hook to remove images from sitemap"
We currently have a filter hook aioseo_include_images_in_sitemap to remove images from the xml sitemap (this is helpful for sites that need yandex, which doesn't accept images in the sitemap).

While it's currently sufficient to make it work, we should improve it so that not even the column shows up, as well as refactor it into its own function along with the option check.

Related to #1247

[2017-10-04 13:01] michaeltorbert commented on #1252
We'll go ahead and include PR #1254 in 2.4.2 since it at least improves the image count so we aren't holding up the release, then we'll revisit this for 2.4.3.

[2017-10-04 13:03] #1248 closed

[2017-10-04 13:18] michaeltorbert commented on #1258
@contactashish13  Let's just exclude all external images.

[2017-10-04 13:46] michaeltorbert opened #1264 "support external images"
We should add a filter (or option) to allow externally hosted images, such as those from a cdn.

[2017-10-04 13:52] wpsmort commented on #1251
@michaeltorbert PR #1260 is tested and is good.  I've confirmed that the Divi options page works and that our Sitemap Indexes notice works.  PR is ready for code review.

[2017-10-04 14:22] michaeltorbert commented on #1262
When testing, we need to make sure that the option defaults to on for new installs as well as for people updating

[2017-10-04 14:25] wpsmort commented on #1247
@michaeltorbert I've been to reproduce this with the Yandex Sitemap Validator.  I have confirmed that our filter (https://semperplugins.com/documentation/disable-images-in-xml-sitemap/) resolves this.

[2017-10-04 14:30] michaeltorbert commented on #1247
Ok great, I'll close this issue now, but we'll still want to improve the filter.

[2017-10-04 14:30] #1247 closed

[2017-10-04 14:42] wpsmort opened #1266 "Add documentation on how to exclude images for Yandex users"
Yandex does not allow images in the XML Sitemap.  Our filter (https://semperplugins.com/documentation/disable-images-in-xml-sitemap/) fixes this.  We need to add an FAQ about this.

[2017-10-04 14:51] michaeltorbert commented on #1229
We should also make it clear that while we default to 1000, users can try lowering it in case of memory issues (usually indicated by a blank screen on their sitemap). We may even want to have this show up without someone clicking on the help icon.

[2017-10-04 14:52] contactashish13 opened #1268 "document all hooks that can be used"

[2017-10-04 14:53] michaeltorbert opened #1269 "page/post in post meta should be name of post type"

[2017-10-04 14:58] michaeltorbert opened #1270 "Change instances of "pages/posts" to either the specific content type or just something generic like "content type""

[2017-10-04 14:59] michaeltorbert opened #1271 "Change blog_xxxx macro to site_xxxx macro"
~~This would require a db upgrade.~~ Let's continue to support blog_title unofficially.

[2017-10-04 15:05] wpsmort commented on #1258
@contactashish13 I tested this and it works fine but there's  one problem.  It doesn't pick up images with a relative URL.  For example, this image is not picked up:

`<img src="/wp-content/uploads/2017/05/venice.jpg" />`

[2017-10-04 15:09] wpsmort commented on #1258
@contactashish13 If there's no easy way to detect images added with a relative URL then we'll leave that for a future version to look at adding support for this.  We shouldn't hold up this bug fix release unless this is an easy fix.

[2017-10-04 15:23] contactashish13 commented on #1258
@wpsmort added a fix for that.

[2017-10-04 15:23] michaeltorbert commented on #1258
@contactashish13 @wpsmort I think there would just be no hostname or it would return false or an error something when attempting to parse the URL.

[2017-10-04 15:24] contactashish13 commented on #1258
@michaeltorbert i'm checking the url to see if its relative and if it is, make it absolute by prefixing it with home_url. It works fine for me.

[2017-10-04 15:28] bimal008 commented on #1261
HI guys ,
This is really a serious matter of concern, since googlebot can't Crawl sites post pages this will indicate a negative impact to its SEO, i believe.

Furthermore, I refer this thread & my last reply in it, for better understanding https://wordpress.org/support/topic/google-webmaster-sitemap-error/#post-9556018

Also i wanted to ask you, when you are going to release then next updated ver

[2017-10-04 15:29] SimonCCCe opened #1272 "Images\media in Sitemap even if unchecked the option"
Hi,
after updating to 2.4.1.1 my sitemap now include 17.000 images\media even if I uncheck the option on the Sitemap setting page. Before the update I had 0 images\media in the sitemap..

[2017-10-04 15:30] michaeltorbert commented on #1261
@bimal008 Pease stop the constant messages. As you can see, we are working on it.

[2017-10-04 15:32] michaeltorbert commented on #1272
@SimonCCCe  What is the URL to your sitemap?

[2017-10-04 15:34] SimonCCCe commented on #1272
http://www.lafune.eu/sitemap.xml

[2017-10-04 15:35] #1251 closed

[2017-10-04 15:39] michaeltorbert commented on #1272
@SimonCCCe  in 2.4 we added images to the sitemap, are you saying you don't want them, or that there's a problem with the way they show up?

[2017-10-04 15:40] michaeltorbert opened #1273 "Reduce duplicate images in sitemap for 2.4.2"
The master issue is #1252 but we have some changes only in 2.4.2 so this issue is for that

[2017-10-04 15:41] SimonCCCe commented on #1272
I mean I don't want them. I unchecked them in the sitemap setting by they are in the sitemap anyway

![schermata 2017-10-04 alle 17 40 57](https://user-images.githubusercontent.com/32519291/31185014-3e34cb0e-a92b-11e7-95d4-9f46b9893390.png)

[2017-10-04 15:45] michaeltorbert commented on #1272
That is for the attachment post type, not for images (they aren't exactly the same thing).

We’ll have an option in the next release to remove them, but in the meantime you can use our aioseo_include_images_in_sitemap filter hook.

To do this, just paste the following code in your theme’s functions.php:

https://gist.github.com/michaeltorbert/56af2d944c01b571ee42ca7fad31279c

`add_filter( 'aioseo_

[2017-10-04 15:45] #1272 closed

[2017-10-04 15:46] SimonCCCe commented on #1272
Thank you.

[2017-10-04 15:47] #1273 closed

[2017-10-04 15:49] wpsmort commented on #1262
@michaeltorbert @contactashish13  The new Include Images option does not default to enabled for new installs.

[2017-10-04 16:05] michaeltorbert commented on #1262
@wpsmort  It should default to on _for new installs_ now.

[2017-10-04 16:18] wpsmort commented on #1262
@michaeltorbert I have confirmed that the option is now checked by default on a new install, however, images don't appear in the sitemap until you click Update Options.  I checked in the database and none of the sitemap module options are shown in the database until you click Update Options.

[2017-10-04 16:29] wpsmort commented on #1258
@contactashish13 I've confirmed we're now picking up images with relative URLs but we're outputting the relative URL in the image:loc tag in the sitemap which results in a parsing error in Google Webmaster Tools.  Google needs a full URL so we need to take the relative URL and turn it into a full URL.

For example, this image in a post

`<img src="/wp-content/uploads/2017/01/venice.jpg" />`

becom

[2017-10-04 16:34] EkoJr commented on #1156
Both Tooltips and Dialogs were added for testing. Tooltips seem to work quite well, but dialogs seem problematic anyways. Here are some of the notes I added of the changes that were made.

* **Dialogs** were added on the Top Right of the metabox, inside the metabox title container (Next to the Help link).
  * Dialog content is added/included from a separate file that is unique to the metabox.
  *

[2017-10-04 16:57] wpsmort commented on #1266
Add new document here - https://semperplugins.com/documentation/exclude-images-from-xml-sitemap-for-yandex/

[2017-10-04 16:57] #1266 closed

[2017-10-04 16:57] michaeltorbert opened #1274 "Options checkboxes should be radio button toggles with explicit on and off"

[2017-10-04 17:03] wpsmort commented on #1230
@contactashish13 Yes, I believe that's it.  Here are the steps to reproduce this:

1. Activate JetPack and create a new post
2. Click the Add Media button and then click Create Gallery
3. Select the images for the gallery and then click the Create new gallery button
4. In the Type dropdown select Slideshow (this is added by JetPack)

You should see a shortcode that looks like this:

`[gallery size

[2017-10-04 17:26] michaeltorbert opened #1275 "Support relative URLs for images in sitemap"

[2017-10-04 17:40] wpsmort commented on #1262
@michaeltorbert PR #1267 is tested and is good.  I've tested with all the different configurations that we discussed.

[2017-10-04 17:40] wpsmort commented on #1263
@michaeltorbert PR #1267 is tested and is good.

[2017-10-04 17:50] #1262 closed

[2017-10-04 17:50] #1263 closed

[2017-10-04 18:27] contactashish13 commented on #1258
@wpsmort @michaeltorbert have moved absolutize_url to the clean_url function so that its applicable to all image URLs

[2017-10-04 18:32] contactashish13 commented on #1230
@michaeltorbert while making changes for this issue I saw that the merged code seems to be missing my changes for #1200. Can you please check?

My commit: contactashish13/all-in-one-seo-pack@fbe11c8

relevant lines: https://github.com/semperfiwebdesign/all-in-one-seo-pack/blob/2.4.2/modules/aioseop_sitemap.php#L2732 and https://github.com/semperfiwebdesign/all-in-one-seo-pack/blob/2.4.2/modules/ai

[2017-10-04 19:33] michaeltorbert opened #1276 "Conflict with Jetpack images"
Reported here: https://twitter.com/nicebrainsbird/status/915524375776043008

I take this to mean that some sort of image option in https://github.com/Automattic/jetpack causes the sitemap not to show up. So far I've been unable to reproduce this.

[2017-10-04 19:34] michaeltorbert commented on #1276
https://github.com/Automattic/jetpack

[2017-10-04 19:37] wpsmort commented on #1258
@michaeltorbert PR #1265 is tested and is good.  I tested on two very large sites and submitted the sitemaps to Google and there were no errors reported.

[2017-10-04 19:37] wpsmort commented on #1275
@michaeltorbert PR #1265 is tested and is good.

[2017-10-04 19:38] #1258 closed

[2017-10-04 19:38] #1275 closed

[2017-10-04 20:10] wpsmort commented on #1237
This is done.

[2017-10-04 20:10] #1237 closed

[2017-10-05 06:43] contactashish13 commented on #1230
@wpsmort PR: https://github.com/semperfiwebdesign/all-in-one-seo-pack/pull/1279

[2017-10-05 06:48] contactashish13 commented on #1264
@michaeltorbert one way could be to have an option to whitelist comma-separated CDNs/hosts. Maybe a filter is not required in that case.

[2017-10-05 13:33] michaeltorbert commented on #1264
@contactashish13 Either way we should have a filter, so that it can be programmatically done easily, say on large multisite installations for instance.
We'd need to discuss whether to add an option. Ideally we cut down on options, not add them so that it's a simpler interface. This *may be important enough to have an option though. @wpsmort Thoughts?

[2017-10-05 17:56] wpsmort commented on #1156
Notes from Skype call with @EkoJr

@EkoJr demoed the new tooltips and they look and work fine.  We discussed the popup dialogs and I told him not to spend any more time on those.  We will leave the main Help links as they are for now.

We discussed the following with regards to the tooltips replacing inline help for options:

- We do not need any delay on the tooltip, a standard tooltip which work

[2017-10-05 18:38] fernsehwerk opened #1280 "Excerpts of posts on facebook destroyed after update"
In the past, clean excerts of the post were delivered to facebook, when postig a link of a wp-post on facebook.
afte one of the last updates, some strange content is delivered to fb: the category name, the text of social buttons (e.g.'click here to share post..') and after this the excerpt is delivered.
is this a known bug?

thx,
alex

[2017-10-05 18:47] michaeltorbert commented on #1280
Hi @fernsehwerk What is the URL to the post?

[2017-10-05 19:12] fernsehwerk commented on #1280
Link to one example can be found here:

https://www.facebook.com/wettermagazin/

[2017-10-05 19:24] michaeltorbert commented on #1280
@fernsehwerk No, what is a URL to a post on your website?

[2017-10-05 19:29] fernsehwerk commented on #1280
One original post can be found here:

http://www.wetter-ruhr.info/2017/10/amelia-brightman-konzert-faellt-aus/

[2017-10-05 19:32] michaeltorbert commented on #1280
AIOSEOP isn't outputting any social, which probably means you don't have the Social module turned on. This is a development repository, not a support forum.

You can read the documentation here https://semperplugins.com/documentation/ or purchase a license for support here: https://semperplugins.com/all-in-one-seo-pack-pro-version/

[2017-10-05 19:32] #1280 closed

[2017-10-05 19:54] Garconis commented on #49
Any word on this? Just stumbled upon this issue. :(

[2017-10-05 21:42] wpsmort commented on #49
@Garconis This is currently in development and is slated for the next major release.

[2017-10-06 02:11] Garconis commented on #260
It seems the Featured Image is no longer being pulled in at all?

Settings: https://i.gyazo.com/a7b7e46f3db18da59542b721a73ae021.png

Yet, new posts that do have featured images, the opengraph tag is wrong. :(

This seems to have started less than a month ago.

[2017-10-06 05:57] contactashish13 commented on #1264
@michaeltorbert have added the filter. We can extend this in case an option is required later. PR: https://github.com/semperfiwebdesign/all-in-one-seo-pack/pull/1281

[2017-10-06 20:10] michaeltorbert opened #1282 "Remove Set Preferred Site Name"
According to https://www.seroundtable.com/google-drops-preferred-site-name-24396.html, this may not be supported anymore.
We should try to verify this and see if we should remove the option.

However, looking at the code, this seems to only be used for the sitelinks search box.

[2017-10-08 17:40] michaeltorbert opened #1283 "Errors in Google Search console for sitemap"
Reported here: https://wordpress.org/support/topic/the-plugin-causes-errors-in-the-site-map-associated-with-images/

in Google Search Console file sitemap.xml causes errors with images:

http://i.piccy.info/i9/6f912c79e6e8655283db3237c0b69232/1507476681/40106/1179164/2017_10_08_181514.jpg

http://i.piccy.info/i9/9d44e4ac8c5e7623eeaf97e10225f49c/1507476831/74272/1179164/2017_10_08_182705.jpg

 http

[2017-10-08 17:46] michaeltorbert commented on #1283
<img width="1352" alt="sitemap" src="https://user-images.githubusercontent.com/17364998/31319322-0888c6ac-ac2f-11e7-9be0-85d4949edaa2.png">

[2017-10-08 21:38] michaeltorbert opened #1284 "UI - Improvements for the menus"
These are some good examples

![screenshot-3](https://user-images.githubusercontent.com/17364998/31321176-81088908-ac4f-11e7-8f77-0a47f5e3e631.png)
![screenshot-2](https://user-images.githubusercontent.com/17364998/31321177-8112ffb4-ac4f-11e7-8dbc-c71be8dfa752.png)

[2017-10-08 21:44] michaeltorbert opened #1285 "Update to readme description"
We should let people know that the target is everyone...

Simple enough for Beginners, advanced options for power users, API for developers

Work on adjectives...
Power
Simple
Advanced

Related to https://github.com/semperfiwebdesign/semperpluginstore/issues/407

[2017-10-09 05:29] contactashish13 commented on #1283
@michaeltorbert PR: https://github.com/semperfiwebdesign/all-in-one-seo-pack/pull/1286

[2017-10-09 17:54] arnaudbroes commented on #803
Ok, I'm going to create a separate issue for each file and link those issues to this one.

[2017-10-09 18:23] arnaudbroes opened #1287 "i18n - Add translator descriptions to credits.php"
Related to #803.

[2017-10-09 21:43] michaeltorbert opened #1289 "Internal deep linking"
Requested via email by Nick (as "suggested links"), as well as many others.

Similar to Yoast (premium only?) or SEO Ultimate.

Also make sure this supports Chinese.

[2017-10-09 21:45] michaeltorbert opened #1290 "Cornerstone content"
Requested via email by Nick.

Resource: https://www.elegantthemes.com/blog/tips-tricks/how-to-identify-cornerstone-articles-in-wordpress

We should review how site structure helps with this and what ways AIOSEOP can help…
Anything marked as “cornerstone” should be high up the list of suggested links… we should weight suggested links:

cornerstone label
same category (figure out how to deal with hi

[2017-10-10 02:44] michaeltorbert opened #1291 "Possible conflict with image module"
Reported here: https://wordpress.org/support/topic/new-version-problems-2

This user says that her ad, which is created via shortcode (and maybe javascript?) no longer works when AIOSEOP is activated.

[2017-10-10 03:44] michaeltorbert opened #1292 "Review 4.9 compatibility"
Does this affect anything for image sitemap or video sitemap? Keeping in mind we need to support older versions of WP

https://www.cloudways.com/blog/wordpress-4-9-features/amp/

[2017-10-10 05:01] contactashish13 commented on #1292
@michaeltorbert I did a quick test with 4.9 and both sitemaps work as usual.

[2017-10-10 05:21] contactashish13 commented on #1291
@michaeltorbert can you let me know once you create a clone of this site?

[2017-10-10 09:54] arnaudbroes commented on #892
@michaeltorbert Is this still relevant? I don't see a link to the translation page in the readme.txt.
https://github.com/semperfiwebdesign/all-in-one-seo-pack/blob/readme_%23892/readme.txt

[2017-10-10 09:58] arnaudbroes commented on #819
Same as https://github.com/semperfiwebdesign/semperpluginstore/issues/400
The other issue is a better repository.

[2017-10-10 09:58] #819 closed

[2017-10-10 14:28] PrafullaKumarSahu opened #1293 "Is it possible to display the preview snippet separately."
I would like to display the preview snippet in a separate metabox just above the metabox it is by default.

Is there anyway, any hook or any idea you can provide me how I should proceed to achieve this.

Also I would like to know how this

`add_action( 'output_option', array( $this, 'custom_output_option' ), 10, 2 );` is working? where is `do_action`?

[2017-10-10 17:24] michaeltorbert commented on #1293
@PrafullaKumarSahu Unfortunately this isn't something you can easily move.
It works because add_action calls add_filter.

[2017-10-10 17:24] #1293 closed

[2017-10-11 05:54] PrafullaKumarSahu commented on #1293
Thank you so much for your kind reply, Can you please let me know, how add_action is called without a do_action, I understand "add_action calls add_filter" part from [documentation](https://developer.wordpress.org/reference/functions/add_action/).

[2017-10-11 08:45] sembel60 opened #1294 "Errors found"
Hello. I have two sites. With the update of the plug-in All In One SEO Pack up to 2.4.1, the Yandex webmaster system began to write: "One or more Sitemap files have errors that may affect the processing of files by the indexing robot."
Here are the screenshots: http://clip2net.com/s/3OtmDyk, http://clip2net.com/s/3Otn1Cn

There are errors in your Sitemap
One or more Sitemap files encountered error

[2017-10-11 13:03] michaeltorbert opened #1295 "Remove date from sitemap comment"
Sitemap dynamically generated by All in One SEO Pack 2.4.1.1 by Michael Torbert of Semper Fi Web Design on Wed, 11 Oct 2017 13:02:21 UTC

We don't need the date there. It's only helpful for static sitemaps which we're removing.

Do we want to remove the date now or wait until after static goes away?

[2017-10-11 20:03] michaeltorbert opened #1296 "google analytics script updates"
For some reason, in PR #931, we removed a version of the GA tracking code.

@amostajo
@wpsmort

Any idea why?

This suggests we should have it https://developers.google.com/analytics/devguides/collection/analyticsjs/
and it's requested here: https://wordpress.org/support/topic/google-analytics-not-working-17/

User says _Google tag assistant states error to be “no HTTP response detected”_

I see t

[2017-10-12 00:59] arnaudbroes opened #1297 "Custom posts bbPress not outputting tags in source code"
Reported here on the support forum:
https://semperplugins.com/support/troubleshooting-all-in-one-seo-pack-pro/does-not-work-for-bbpress-replies/

[2017-10-12 01:46] michaeltorbert commented on #1297
This may be a duplicate of #202

[2017-10-12 13:40] contactashish13 commented on #1224
@michaeltorbert here is the comparison while generating sitemap for only posts, including images and using sitemap indexes. I'm taking the average of the post sitemaps that are created without including the memory used for generating the sitemap index (which is usually negligible). I cannot disable images on yoast so have not compared without images.

number of URLs per sitemap: yoast (average mem

[2017-10-12 13:45] michaeltorbert commented on #1224
@contactashish13 You should see two of those notices. One for importing their settings as well.

[2017-10-12 14:08] michaeltorbert opened #1298 "Google Search Console errors with compression turned on"
Reported here: https://wordpress.org/support/topic/sitemap-error-in-google-search-console/#post-9579584 and via email "Google Search Console gives an "exceeding file size" error when submitting a compressed sitemap even though the sitemap isn't that large at all."

See if we can verify this.

[2017-10-12 17:37] michaeltorbert opened #1299 "Change media to attachment in settings"
To avoid confusion

[2017-10-12 18:18] arnaudbroes commented on #892
This is no longer needed and has been removed from the readme.txt.

[2017-10-12 18:18] #892 closed

[2017-10-12 19:19] arnaudbroes commented on #1294
@sembel60
There are no errors in our sitemap.
Yandex reports an error because it does not support images in sitemaps at this time.
Please read through our documentation here and exclude the images from the sitemap - https://semperplugins.com/documentation/exclude-images-from-xml-sitemap-for-yandex/

[2017-10-12 19:19] #1294 closed

[2017-10-12 20:35] arnaudbroes commented on #1297
@michaeltorbert I've tested bbPress with All in One SEO Pack (starting from 2.0) and it seems that Replies have never been supported before. There's three different custom post types: Forums, Topics and Replies, and it's just that last one that doesn't output any meta tags at all.

[2017-10-13 06:25] sembel60 commented on #1294
Many thanks!!!

С уважением.
sembel60

[2017-10-13 06:26] sembel60 commented on #1294
Many thanks!!!

[2017-10-13 08:34] EkoJr commented on #1156
I did find a resolve with the tooltips (with Caldera Forms). The solution was wrapping the code in an anonymous function.

I also made a method that will allow HTML to be added, but may be limited with rendering on jQuery (which, I also made a RegEx alternative). This is useful if you need newlines, but any links would still be excluded.

So, now I feel confident to adding it to AIOSEO, I'll proce

[2017-10-13 12:54] michaeltorbert commented on #1296
Update from user:

"the issue was having the website URL entered in the Tracking Domain settings of this All In One SEO plugin (bug?). Remove the URL in the Tracking Domain box and GA will work."

[2017-10-14 02:03] chrismazz75 opened #1300 "robots.txt, google search problem"
I don't know when or how this started, but I need to make it go away.  When you google search the name of my website you get a message saying "a description for this result is not available because of this site's robots.txt."  I've tried everything I can think of, even contacted my web hosting company who temporarily deleted this file, and nothing can make Google recognize my site. How do I fix th

[2017-10-14 02:14] michaeltorbert commented on #1300
@chrismazz75

That isn't caused by All in One SEO Pack, and this isn't a support forum.

[2017-10-14 02:14] #1300 closed

[2017-10-14 02:16] michaeltorbert opened #1301 "Go through and find simple issues for new contributors"
"Now, GitHub will help potential first-time contributors discover issues labeled with **_help wanted_** or _**good first issue**_"

We can find some that don't touch many parts of the code, are restricted to CSS, or are otherwise minor changes.

[2017-10-14 07:57] contactashish13 opened #1303 "Using private function timer_start while creating sitemap"
https://github.com/semperfiwebdesign/all-in-one-seo-pack/blob/master/modules/aioseop_sitemap.php#L1192 : https://developer.wordpress.org/reference/functions/timer_start/

[2017-10-14 20:35] arnaudbroes opened #1304 "Exclude Pages option not working for titles"
As reported by Albert Belzer (belzer9@gmail.com) on October 14, 2017.

In his original e-mail, Albert states that both the "Disable SEO for this post/page option" setting on the Edit screen and the "Exlude Pages" setting in the General Settings are not working.

[2017-10-14 20:35] arnaudbroes commented on #1304
I'm going to look whether I can trace this down.

[2017-10-14 21:19] michaeltorbert commented on #1304
Ok so here is the relevant code: https://github.com/semperfiwebdesign/all-in-one-seo-pack/blob/5f978e35b467db9ca35b9d08d97fd5f79afaadcd/inc/aioseop_functions.php#L751

I would have figured that it would accept the slug and/or the post id. In reality, it looks like it takes whatever is in the option, and looks to see if that is in the URL. So it's essentially the slug (or post id if you have permal

[2017-10-14 21:26] michaeltorbert commented on #1304
Update: after rereading the report, looks like this IS broken for titles.

[2017-10-14 21:35] arnaudbroes opened #1305 "Expand documentation for Exclude Pages setting"
Expand the documentation for the Exclude Pages setting that's part of the Advanced Settings.
https://semperplugins.com/documentation/all-in-one-seo-pack-advanced-settings/#exclude-pages

Related to #1304.

[2017-10-14 21:39] arnaudbroes opened #1306 "Make contextual help more clear for Exclude Pages setting"
Let's make this a bit more clearer:

![image](https://user-images.githubusercontent.com/18156697/31579545-de253f3a-b138-11e7-91d9-4ebdcc75e661.png)

Related to #1304.

[2017-10-15 12:46] arnaudbroes opened #1307 "Make documentation more clear for XML sitemap caching exclusion"
https://semperplugins.com/documentation/excluding-the-xml-sitemap-from-caching/

We should update the documentation with screenshots and make a bit more clear.
One of our users confused the Peformance menu of W3 Total Cache with the Performance menu from All in One SEO Pack Pro.

https://semperplugins.com/support/optimizing-all-in-one-seo-pack-pro/excluding-the-xml-sitemap-from-caching/#p7076

[2017-10-15 17:29] mobilapk opened #1308 "Autogenerate Descriptions: Problem"
Everyone Merhabalar

I have been using all in seo for a long time. I noticed a problem today. The "Autogenerate Descriptions" feature is turned on in the settings;

![image](https://user-images.githubusercontent.com/29548030/31587253-2dc93f60-b1e7-11e7-91f9-c1a749158226.png)

But this feature works on some pages.

![image](https://user-images.githubusercontent.com/29548030/31587274-764c040c-b1e7-1

[2017-10-15 17:39] michaeltorbert commented on #1308
Please provide steps to reproduce the issue.

[2017-10-15 19:27] michaeltorbert opened #1309 "Add taxonomy meta to importer"
Requested here https://semperplugins.com/support/configuring-all-in-one-seo-pack-pro/woocommerce-product-category-migration-from-yoast/

[2017-10-16 05:55] mobilapk commented on #1308
Which steps I will follow. The problem is already present.

[2017-10-16 06:33] contactashish13 commented on #1297
@michaeltorbert I tested this and I'm confused - Forums and Topics have their own pages i.e. can be viewed on their own page but Replies are a subset of the Topic and have no page of their own so I'm not sure if this can be supported. Example: the forum can be viewed http://wordpress-118694-338656.cloudwaysapps.com/forums/forum/ddddd/ and the topic http://wordpress-118694-338656.cloudwaysapps.com/

[2017-10-16 12:15] arnaudbroes commented on #202
@contactashish13 We received the question via e-mail, but the user did not provide details.
This is what he said:

[2017-10-16 12:25] arnaudbroes commented on #1297
@contactashish13 Replies do get a page of their own, as you can see here for example:
http://wordpress-111082-347208.cloudwaysapps.com/forums/reply/23

Follow these steps:
#1. Add a new Forum
#2. Add a new Topic and mark the Forum page as parent
#3. View the topic and do a reply on it.
#4. Now go to Replies in the WordPress backend. You'll see something like this: "Reply to: XXXX".
Now take a look

[2017-10-16 13:04] arnaudbroes commented on #1308
@mobilapk
We need you to provide us with the exact steps to reproduce this issue.
We can't fix something that we aren't able to reproduce.

[2017-10-16 13:04] contactashish13 commented on #1297
@arnaudbroes The view link gives "http://wordpress-118694-338656.cloudwaysapps.com/forums/topic/tipoc/#post-18251" as the URL as you can see in the screenshot below

![image](https://user-images.githubusercontent.com/12953439/31613358-7ca084b8-b2a0-11e7-9d6d-736a1fb744e4.png)

[2017-10-16 13:07] arnaudbroes commented on #1297
@contactashish13
Go to the Edit Screen of the Reply and then click the URL above.
![image](https://user-images.githubusercontent.com/18156697/31613551-bb30ceb2-b283-11e7-9959-6b50d260588c.png)
I'm not sure why the URL on the Replies directory is different.

[2017-10-16 13:09] contactashish13 commented on #1297
@arnaudbroes got it!

[2017-10-17 01:04] michaeltorbert opened #1310 "Test nginx sitemap rewrite rules under all conditions"
specifically with indexes and multiple pages

https://semperplugins.com/documentation/all-in-one-seo-pack-xml-sitemap-404-nginx/

[2017-10-17 06:17] contactashish13 commented on #1297
@michaeltorbert I may have found the problem. The meta tags are being added by determining what type of content is being loaded. For this we use is_single(), is_category(), is_page() etc. methods. Replies are comments to topics so they do not qualify as is_single() even when their own single page is loaded. They are in fact identified by is_singular(). I can add support for this but I don't know w

[2017-10-17 06:52] bncmattia opened #1311 "Analytics not working"
Hi, since october 7 the wordpress plugin seems to be not connected with Google Analytics. I have tried to set a new Analytics account with a new ID, but didn't work. As you can see at this link http://italiaincammino.altervista.org/wp-content/analytics-1.pdf Analytics registers no traffic, while at this link http://italiaincammino.altervista.org/wp-content/rivista-camminare-1.pdf you can see on oc

[2017-10-17 06:53] bncmattia commented on #1311
[rivista-camminare-1.pdf](https://github.com/semperfiwebdesign/all-in-one-seo-pack/files/1390053/rivista-camminare-1.pdf)
[analytics-1.pdf](https://github.com/semperfiwebdesign/all-in-one-seo-pack/files/1390054/analytics-1.pdf)

[2017-10-17 06:53] #1311 closed

[2017-10-17 18:24] mobilapk commented on #1308
I did nothing to create the problem. I have not changed for years, I noticed it a week ago.

[2017-10-17 20:14] michaeltorbert commented on #1308
@mobilapk We have been unable to reproduce this issue. So that we can investigate further, you can submit your username and password to our secure form here: https://semperplugins.com/contact/submit-login-information/

[2017-10-17 23:16] michaeltorbert opened #1312 "Support canonical URL for paged comment pages"
Requested by Marco via email

[2017-10-17 23:19] michaeltorbert commented on #1312
We need to revisit our canonical URL functionality. WP has improved in that area a lot, and for things like this we may be better off using WP's?

[2017-10-18 00:44] michaeltorbert commented on #1297
@contactashish13 What is your recommendation?

[2017-10-18 10:02] mobilapk commented on #1308
I sent the form and sent it. I added the bug address to the description.

[2017-10-18 11:29] contactashish13 commented on #1297
@michaeltorbert its a fine balance between tying the plugin tightly to bbpress by using its functions/hooks vs. keeping it generic. But maybe for the short term we can go with the first method. What do you suggest?

[2017-10-18 12:53] michaeltorbert opened #1313 "Canonical URLs broken for paged"
At least for the homepage. Reported via email by Marco.

"It is set to mysite.com/2/   mysite.com/3/   mysite.com/4/  instead of  mysite.com/page/2/  mysite.com/page/3/  mysite.com/page/4/"

We need to see if this is new or has always been there. I'm pretty sure it hasn't always been there... I want to say we had this problem at one time and then fixed it, maybe it broke again?

[2017-10-18 14:56] EkoJR opened #1315 "Admin Help Text functionality on Frontend"
When running a breakpoint in the parent module class, I discovered the child classes are initiating the help text functionality. Which has no reason for it and only adds to the memory.

The Child Classes are using `All_in_One_SEO_Pack_Module::add_help_text_links()` method within it's class constructor.

To resolve this, wrap the function in an IF check with AIOSEOP Manage Cap/Role.

[2017-10-19 17:52] arnaudbroes opened #1316 "Add documentation on translation updates for plugins"
People now have to manually update via Dashboard > Updates.

[2017-10-19 18:28] mobilapk commented on #1308
Any progress ?

[2017-10-20 04:30] michaeltorbert commented on #1308
When an image is in the content, it breaks our scanning for the meta description.

_content part 1
<img src="http://someurl.com/someimage.jpg" />
content part 2_
results in meta description = "content part 1"

Interestingly,
_content part 1
<img src="http://someurl.com/someimage.jpg" />
content part 2
<img src="http://someurl.com/someimage.jpg" />
content part 3
_
results in meta description = "co

[2017-10-20 05:35] mobilapk commented on #1308
is this a plug-in bug?

[2017-10-20 06:52] bncmattia opened #1317 "Google Analytics not working"
Hi, since october 7 the wordpress plugin seems to be not connected with Google Analytics. I have tried to set a new Analytics account with a new ID, but didn't work. As you can see at this link http://italiaincammino.altervista.org/wp-content/analytics-1.pdf Analytics registers no traffic, while at this link http://italiaincammino.altervista.org/wp-content/rivista-camminare-1.pdf you can see on oc

[2017-10-20 07:23] contactashish13 commented on #1308
@michaeltorbert one potential problem appears to be https://github.com/semperfiwebdesign/all-in-one-seo-pack/blob/master/aioseop_class.php#L4916 where, i'm not sure why, the tags are being cleared only for php v5.2.  This conditions has been introduced in 2.3.14.1 with this commit: https://github.com/semperfiwebdesign/all-in-one-seo-pack/commit/ad495008424f99a5343971044bcb057b9eb1aeb2#diff-4e53364

[2017-10-20 15:42] EkoJr commented on #1315
I've been running some tests of my own, and I've found that methods provided by WordPress doesn't prevent admin content 100% on the frontend (mostly because of the admin bar firing off of admin.php).

However, this does greatly reduce the number of loads and initiations.

`( defined( 'WP_ADMIN' ) && WP_ADMIN && is_blog_admin() )`

In order to prevent loading any unnecessary backend content, it may

[2017-10-20 18:18] michaeltorbert commented on #1308
I'm not sure, it was added for this issue: https://github.com/semperfiwebdesign/all-in-one-seo-pack/pull/933

[2017-10-21 00:49] michaeltorbert opened #1318 "Consider whether autotrack.js should be externally hosted"
In https://github.com/semperfiwebdesign/all-in-one-seo-pack/commit/8b1807b117c41093fc3c366cf7ce55b92eac4858#diff-e8642dbdf7f688d3d3edb9fcd9eb3ea5 for #921 we added autotrack.js, but hosted at https://cdnjs.cloudflare.com/ajax/libs/autotrack/2.4.0/autotrack.js

It's a pretty small file, so I'm just not sure the benefit of using cloudflare.

We should discuss whether this is ideal, versus locally ho

[2017-10-21 13:23] contactashish13 commented on #1318
advantages of using CDN
1. uses the cache (server side or plugin based and browser cache) in case its a commonly used file and requested by another plugin.
2. I can't see if it uses edge servers (if its a CDN it typically should) but if it does, it reduces the total transit time too.

For tiny, not very common files it does not matter whether we use a CDN or not but if it is about following a prot

[2017-10-21 14:08] arnaudbroes commented on #1318
I agree with @contactashish13 that we should be consistent in this matter. And considering that we have been using a CDN, I would suggest continue doing so in the future. Making changes at this point seems like a waste of resources to me.

[2017-10-21 14:40] contactashish13 commented on #1297
@michaeltorbert PR: https://github.com/semperfiwebdesign/all-in-one-seo-pack/pull/1319

[2017-10-21 15:17] arnaudbroes opened #1320 "Check and improve tooltips documentation"
#1156 changes the current inline documentation to tooltips.
I should go over those and see where we can improve them by either using HTML or slimming them down.

[2017-10-21 15:18] arnaudbroes commented on #1156
@EkoJr @michaeltorbert
Let me know when this is finalized so I can do #1320.

[2017-10-21 16:26] EkoJr commented on #1156
@michaeltorbert @arnaudbroes
I happen to catch a possible future bug in `All_in_One_SEO_Pack_Module::add_help_text_links()`. Looks like I'll need to both remove the old variable operation and add the new Helper Class to that area.

I suspect the plugin is running off of old data save on the database somehow, but haven't tested on a fresh install. Either way, it has to go.

https://github.com/sempe

[2017-10-21 18:46] aleks683 opened #1321 "Autogenerate Descriptions does not work"
Autogenerate Descriptions does not work if there is a picture in front of the text. Example:

[code]
In this case it does not work Autogenerate Descriptions.

[2017-10-21 18:54] arnaudbroes commented on #1321
Related to #1103?

[2017-10-21 19:36] aleks683 commented on #1103
The problem is urgent. It's not about plugins. And not in the subject. Removal of the `&nbsp;` does not help either. Autogenerated OG Descriptions works perfectly. What to do?

[2017-10-21 19:36] aleks683 commented on #1321
The problem is urgent. It's not about plugins. And not in the subject. Removal of the `&nbsp;` does not help either. Autogenerated OG Descriptions works perfectly. What to do?

[2017-10-22 06:32] contactashish13 commented on #1308
@michaeltorbert PR: https://github.com/semperfiwebdesign/all-in-one-seo-pack/pull/1322

Even though I've tried to be careful to not tread on any of the previous changes, I feel this needs a fair bit of testing.

@wpsmort could you mention the kind of text that got removed when you were testing #932 for which changes were made in https://github.com/semperfiwebdesign/all-in-one-seo-pack/pull/933? It

[2017-10-22 13:57] arnaudbroes commented on #1308
@contactashish13 best to ask questions for @wpsmort to me or Michael since he has broken his back and is unavailable for the time being. I'll check this and get back to you.

[2017-10-22 15:51] mobilapk commented on #1308
Yes, how do I solve this problem?

[2017-10-22 16:11] arnaudbroes commented on #1308
@mobilapk We are working on it.

[2017-10-22 21:15] mobilapk commented on #1308
@arnaudbroes thank you. I expect to be resolved

[2017-10-23 01:26] michaeltorbert commented on #1308
I've deleted the extraneous comments.

This is a development repository site, not a place for chit chat, or for user support. We do not provide release dates. Constantly asking questions and making these types of comments would only delay a release.

[2017-10-23 02:17] michaeltorbert commented on #1321
I'm closing this as a duplicate of #1308.
@aleks683 I'll ask you to please not post the same message in multiple issues. I'm removing it from the other.

[2017-10-23 02:17] #1321 closed

[2017-10-23 03:41] EkoJR opened #1323 "Delete Unused Functions in All_in_One_SEO_Pack_Module"
This is in relation to #1156

The two unused are...
* `All_in_One_SEO_Pack_Module::help_text_helper()`
* `All_in_One_SEO_Pack_Module::add_help_text_links`

After the updated code with the Help Text/Tooltips. These two functions are no longer being used after applying the concept in a different class ( `AIOSEOP_Helper` ) . I've ran some test and breakpoints, and don't see it being applied in any fu

[2017-10-23 08:42] aleks683 opened #1324 "Autogenerate Descriptions does not work"
I apologize, created before this request. It was closed, referring to #1308
The problem is not solved. Все записи начинаются с изображений. Description Autogenerate this does not work. All entries were left without description. The problem is serious. Please help to understand or suggest the correct solution. Thank you.

[2017-10-23 08:47] contactashish13 commented on #1003
@michaeltorbert I've checked in a few things relevant to this. For the time being, I'm using only 5 plugins - PHP coding standards, beautifier, linter and JS linter and uglifier. This takes care of 90% of what we might require.

Have checked in:

1. the package.json and phpcs.xml (as below)
2. the log file that phpcs generates when it runs (logs/phpcs.log): this will show you what phpcs tries to d

[2017-10-23 17:18] clifgriffin commented on #1257
@michaeltorbert This may also be affecting media items.  Though, I'm not sure why attachment wouldn't be in `$wp_post_types`.

[2017-10-24 02:59] michaeltorbert commented on #1257
Hi @clifgriffin
Thank you for letting us know. We'll take a look at this at some point, or if you find out anything, you're welcome to submit a PR in the meantime.

[2017-10-24 20:30] michaeltorbert commented on #1324
@aleks683 That issue is still open. As you can see, it is being worked on. Please don't open additional issues about it.

[2017-10-24 20:30] #1324 closed

[2017-10-25 05:18] contactashish13 commented on #1246
@michaeltorbert this has already been patched as part of a previous PR

[2017-10-25 20:24] marcelo3k opened #1326 "problems"
Dear Sirs,
The social Media is now showing. What might have happened?
Please help.

[2017-10-25 20:26] arnaudbroes commented on #1326
This is a development repository, not a support forum.

[2017-10-25 20:26] #1326 closed

[2017-10-30 19:10] lschoppa opened #1327 "Just upgraded but see no where to enter my key."
![screen shot 2017-10-30 at 3 09 54 pm](https://user-images.githubusercontent.com/759604/32190512-703173b0-bd84-11e7-8591-f84f14abe9bc.png)

[2017-10-30 19:15] #1327 closed

[2017-10-30 19:46] mkokc opened #1328 "SEO keyword field not showing"
Have the non-pro version of All in one SEO pack and do not see the field for SEO keywords either when I edit a page or a post.

[2017-10-30 19:49] michaeltorbert commented on #1328
This is not a support forum. We offer Premium Support for All in One SEO Pack Pro customers which can be purchased here: https://semperplugins.com/all-in-one-seo-pack-pro-version/

[2017-10-30 19:49] #1328 closed

[2017-10-30 19:51] mkokc commented on #1328
It's a bug.
How would you like people who use the non-pro version of your plug-in to fix issues they have?

[2017-10-30 19:54] michaeltorbert commented on #1328
This isn't a bug.

[2017-11-01 19:04] michaeltorbert opened #1330 "Browser errors calling external autotrack code"
![image001](https://user-images.githubusercontent.com/17364998/32292293-fdbb5a4c-bf15-11e7-9816-95034165b763.png)

[2017-11-01 19:42] michaeltorbert opened #1331 "Data Importer - Add taxonomy term meta"
_"We successfully migrated SEO meta title, description etc. from Yst for pages and products.
But when it comes to product categories, settings are not migrated from Yst."_

Requested by Marko.

[2017-11-01 19:43] michaeltorbert commented on #1331
BTW All these others are related
https://github.com/semperfiwebdesign/all-in-one-seo-pack/issues?utf8=%E2%9C%93&q=is%3Aissue%20is%3Aopen%20import%20

[2017-11-01 19:45] michaeltorbert commented on #1331
Also, we do have a copy of the Yst WooCommerce addon if needed.

[2017-11-02 01:54] michaeltorbert opened #1332 "PHP Warning: file_exists(): open_basedir restriction in effect"
People get this warning when open_basedir is enabled on our code that adds the upgrade link to the admin bar.

Is there some way to avoid this?

Reported here: https://wordpress.org/support/topic/open_basedir/

[2017-11-02 09:41] contactashish13 commented on #1330
@michaeltorbert is this only happening in MS Edge? If so, there is a similar problem highlighted here https://stackoverflow.com/questions/33533605/twitter-bootstrap-alpha-4-0-404-403-response-from-cdns-in-ms-edge. There does not seem to a solution to this except to load this file locally.

[2017-11-02 11:46] contactashish13 commented on #1332
@michaeltorbert I don't see a reason for this error in the code but maybe I'm looking at the wrong place. Can you please share the exact error message and the stack trace?

[2017-11-02 12:57] michaeltorbert commented on #1332
@contactashish13 This was reported by a user in the wordpress.org forums (it's been reported multiple times), so I don't personally have it anywhere.

I think the problem is that an absolute path "https://semperplugins.com/all-in-one-seo-pack-pro-version/" is being passed to the code (specifically file_exists) for the admin bar which results in File(C:\Domains\mywebsite.com\wwwroot/wp-content/plug

[2017-11-02 19:18] blogxkomo opened #1333 "/sitemap.xml not work"
i have problem i use All In One SEO Pack 2.4.2 but if i try access : https://xkomo.com/sitemap.xml  still error.
can you help me ?

[2017-11-02 20:50] michaeltorbert commented on #1333
"This is not a support forum. We offer Premium Support for All in One SEO Pack Pro customers which can be purchased here: https://semperplugins.com/all-in-one-seo-pack-pro-version/"

[2017-11-02 20:50] #1333 closed

[2017-11-02 20:56] web2033 opened #1334 "HTTP vs HTTPS"
Hi! Any ideas?
![2017-11-02_225120](https://user-images.githubusercontent.com/11320080/32349849-1135d294-c021-11e7-9da6-d83f79e83c33.png)

[2017-11-02 20:59] web2033 commented on #1334
![2017-11-02_225841](https://user-images.githubusercontent.com/11320080/32349935-6ccfec5c-c021-11e7-958d-ea1eb0b78279.png)

[2017-11-02 21:19] michaeltorbert commented on #1334
Most likely you have set up ssl incorrectly. We offer premium support for customers of All in One SEO Pack Pro: https://semperplugins.com/all-in-one-seo-pack-pro-version/

[2017-11-02 21:19] #1334 closed

[2017-11-04 00:17] biohackingclub opened #1335 "Социальные мета работают неправильно для Facebook"
Сайт http://biohacking.com.ua/
Исходный код главной страницы после настройки содержит фрагмент кода:
`<meta property="og:image" content="http://biohacking.com.ua/wp-content/uploads/2017/11/fb-img.jpg" />`

https://developers.facebook.com/tools/debug/sharing/ для страницы http://biohacking.com.ua/ выдаёт
`og:image | http://biohacking.com.ua/wp-content/plugins/all-in-one-seo-pack/images/default-user

[2017-11-04 00:28] michaeltorbert opened #1336 ""Home Title" field in Social Meta module should be a textbox not textarea"

[2017-11-04 00:31] arnaudbroes opened #1337 "Add character counter for homepage OG title & meta description"
Since it doesn't have one yet.

[2017-11-04 00:37] michaeltorbert opened #1338 "Use Static Front Page Instead should be automatic"

[2017-11-04 01:27] michaeltorbert commented on #1335
This is not a support forum. We offer premium support for our Pro customers, which can be purchased here: https://semperplugins.com/all-in-one-seo-pack-pro-version/

[2017-11-04 01:27] #1335 closed

[2017-11-04 01:42] arnaudbroes opened #1339 "Merge About and Support boxes into one single box"
![image](https://user-images.githubusercontent.com/18156697/32401106-29885a18-c109-11e7-9a90-d04141760c0e.png)

[2017-11-05 10:15] contactashish13 commented on #1332
@michaeltorbert PR: https://github.com/semperfiwebdesign/all-in-one-seo-pack/pull/1340

[2017-11-05 10:54] contactashish13 commented on #1331
@michaeltorbert i have configured a couple of products along with product categories. When I try to analyze the import I see the below. I'm not sure if this is correct. Will it mention that 2 products are being imported?

![image](https://user-images.githubusercontent.com/12953439/32414095-9973dd4c-c245-11e7-9cff-42347f87bcef.png)

[2017-11-05 14:55] underlaw opened #1341 "造成所有文章列表变形"
造成所有文章列表变形了

[2017-11-06 00:05] EkoJr commented on #61
[code]

Strictly for adding data if no data is for. Used only for adding on initialization.

`insert_notice( $slug, $delay_time = 0, $message = '', $delay_options = array(), $target = 'site', $screens = array() )`

Updates a Notice without cause it to reset.

`update_notice( $slug, $delay_time = 0, $message = '', $delay_options = array(), $target = 'site', $screens = array() )`

Activates a notice

[2017-11-06 00:06] EkoJr commented on #61
This may help to give an overall visual explanation.

![environment](https://user-images.githubusercontent.com/2794445/32420695-31c1677a-c243-11e7-9ed5-bd25572879d6.png)

[2017-11-06 03:28] EkoJr commented on #25
I added this concept to the Notice Management Class. Notices are inserted, and de/activated when no longer in use, but can remain stored on the Database. There is a remove method added, but is intended for deprecated and obsolete notices.

https://github.com/EkoJr/all-in-one-seo-pack/commit/c84a9364193f80c7d6dbaac3c3333e265f988072

[2017-11-06 04:32] EkoJr commented on #745
in `All_in_One_SEO_Pack_Sitemap::get_simple_sitemap()` the child URLs are being added

`$child   = $this->get_child_sitemap_urls();`

`$prio  = array_merge( $child, $prio, $prio2, $prio3 );`

[2017-11-06 04:53] EkoJr commented on #298
`All_in_One_SEO_Pack_Sitemap::get_child_sitemap_urls()` keeps returning a string instead of an array.

[2017-11-06 05:15] EkoJr commented on #1226
Looks like code that can be consolidated #43

[2017-11-07 13:07] michaeltorbert opened #1342 "German and Turkish translations should point to credit card (German) page"
https://semperplugins.com/de/all-in-one-seo-pack-pro/ instead of https://semperplugins.com/all-in-one-seo-pack-pro/

This should happen in both German and Turkish translations of the readme as well as the plugin, anywhere the purchase link exists.

We should also probably make a separate issue to add a translator comment in these places for Turkish and German translators.

[2017-11-07 16:25] michaeltorbert commented on #1342
We have many purchase urls in the plugin... even better would be to simply make them not translatable, but instead filterable with a single filter, and if the locale is set to Turkish or German, to do it then.
We can probably set the purchase URL as a filterable constant early in the plugin and just use that.

[2017-11-07 19:01] vschettino opened #1343 "Little mistake on test sample"
Hi there,

Just to inform you that there's a little mistake on `tests/test-sample.php`, as you can see here:

https://github.com/semperfiwebdesign/all-in-one-seo-pack/blob/80ce0cba8e68188064d3d4a9d62124feae24509c/tests/test-sample.php#L25

That should be a  `$this->`, not a `$this-&gt`.

Best Regards,

[2017-11-07 22:27] michaeltorbert commented on #1343
@vschettino Thank you for pointing that out. Feel free to submit a PR if you like.

[2017-11-07 23:04] vschettino commented on #1343
It'll be my pleasure :)

[2017-11-07 23:05] michaeltorbert commented on #1343
@vschettino Merged. Thank you. :)
Feel free to contribute anything else you like.

[2017-11-07 23:05] #1343 closed

[2017-11-08 02:09] michaeltorbert commented on #1226
@EkoJr Yes, but I was specifically referring to this https://github.com/semperfiwebdesign/all-in-one-seo-pack/blob/master/modules/aioseop_sitemap.php#L702 as a duplicate of an existing admin notice.

[2017-11-08 02:10] michaeltorbert commented on #298
@EkoJr What is your suggestion?

[2017-11-08 02:12] michaeltorbert commented on #745
@EkoJr Do you want to do this one?

[2017-11-08 02:13] michaeltorbert commented on #1331
You have to have metadata entered to import for the product.

[2017-11-08 02:14] michaeltorbert commented on #1331
@contactashish13 You have to have metadata entered to import for the product.

[2017-11-08 02:43] EkoJr commented on #298
I was thinking of correcting the pattern, but at the same time, they appear to be the compressed files from the other (multi) sites.

This also appears to part of some other issues related. #745

I think the root issue is that there is only a sitemap.xml.gz link, which goes to a file to download. Unsure on the intend, but suspect it was intended to be displayed.

[2017-11-08 02:45] EkoJr commented on #1226
It looks like this is it...

![notice](https://user-images.githubusercontent.com/2794445/32529173-d29ae3ac-c3eb-11e7-8aa9-1bbea242b006.png)

[2017-11-08 02:46] michaeltorbert commented on #1226
@EkoJr Right. I meant that it can be removed, since the other one should be showing at the top of all pages in wp-admin anyway.

[2017-11-08 02:56] EkoJr commented on #1306
Check and improve tooltips documentation #1320

[2017-11-08 06:49] scottbuscemi opened #1345 "Subscribers can see Notice regarding XML sitemap"
![screen shot 2017-11-07 at 10 47 20 pm](https://user-images.githubusercontent.com/4336848/32535172-dc548c5a-c40d-11e7-8a37-02ff85000e5d.png)

Subscribers who access the wp-admin dashboard can see the above notice regarding the XML Sitemap. This should only appear for those with admin privileges.

[2017-11-08 08:25] contactashish13 commented on #1331
@michaeltorbert I did save the metadata on a few posts but I'm not sure how this works. Any steps to replicate would be great

[2017-11-08 12:12] Fabrizio62 opened #1346 "Date in og:title"
When I share an event in FB in the title appears the date of the event with yyyy-mm-dd format.
Very annoying.
How can I change the format in dd-mm-yyyy or hide the date in og:title?
here the link of fb post: https://www.facebook.com/centromaitri/posts/518132475214712
Thank in advance
Fabrizio Maffioletti

[2017-11-08 12:17] michaeltorbert commented on #1346
This is a development repository, not a support forum. Premium support is provided to customers of All in One SEO Pack Pro, which can be purchased here: https://semperplugins.com/all-in-one-seo-pack-pro-version/

[2017-11-08 12:17] #1346 closed

[2017-11-08 12:20] michaeltorbert opened #1347 "Make date format filterable"
For at least current_date, if not post_date as well: https://github.com/semperfiwebdesign/all-in-one-seo-pack/blob/master/aioseop_class.php#L2084

Either as a single filter or as multiple filters.

[2017-11-08 14:37] dawatorbert commented on #1341
@underlaw 为了能更好的帮您解决问题，请提供您遇到的问题的屏幕截图，以及您期望看到的内容。最好能提供问题重现的步骤。谢谢！

[2017-11-08 15:43] underlaw commented on #1341
<img src="https://image.prntscr.com/image/52uko4DCTzSFLqCIZyM_bw.png">
<img src="https://image.prntscr.com/image/kPYcKV3iT7aPLcfeMkDGvQ.png">

[2017-11-08 15:43] underlaw commented on #1341
<img src="https://image.prntscr.com/image/52uko4DCTzSFLqCIZyM_bw.png">
<img src="https://image.prntscr.com/image/kPYcKV3iT7aPLcfeMkDGvQ.png">

[2017-11-08 15:43] underlaw commented on #1341
<img src="https://image.prntscr.com/image/52uko4DCTzSFLqCIZyM_bw.png">
<img src="https://image.prntscr.com/image/kPYcKV3iT7aPLcfeMkDGvQ.png">

[2017-11-08 15:43] underlaw commented on #1341
<img src="https://image.prntscr.com/image/52uko4DCTzSFLqCIZyM_bw.png">
<img src="https://image.prntscr.com/image/kPYcKV3iT7aPLcfeMkDGvQ.png">

[2017-11-08 15:43] underlaw commented on #1341
<img src="https://image.prntscr.com/image/52uko4DCTzSFLqCIZyM_bw.png">
<img src="https://image.prntscr.com/image/kPYcKV3iT7aPLcfeMkDGvQ.png">

[2017-11-08 16:02] #1341 closed

[2017-11-08 16:09] dawatorbert commented on #1341
@underlaw 非常感谢您提供的屏幕截图。您所看到的不是由系统缺陷的问题（not a bug)。我们为All in One SEO Pack升级用户提供高端的售后支持服务，请到此链接加入我们的高端客户群体，我们会帮您解决。
https://semperplugins.com/all-in-one-seo-pack-pro-version/

[2017-11-08 21:36] v-at-dx opened #1348 "OG Custom Image does not show."
ISSUE: Custom social (OG) image - DOES NOT WORK in BLOG POST.

DETAILS:

I'd like selection for OG image to degrade in this order:
1. Custom image from posts's Social Settings tab
2. Featured image for the post
3. Default image (from plugins Social Meta Settings)

However, on the social meta tab I don't see a way to set this up so it actually works.

I was expecting that it can be configured in th

[2017-11-09 00:13] arnaudbroes commented on #1348
This is a development repository, not a support forum.
Support is available to paid customers. You can purchase the upgrade here - https://semperplugins.com/all-in-one-seo-pack-pro-version/

[2017-11-09 00:13] #1348 closed

[2017-11-09 05:03] contactashish13 commented on #1330
@michaeltorbert there are 2 approaches:

we can load this locally only when its MS Edge and otherwise load it from the CDN. This will allow us to remove the local loading when MS Edge fixes the problem.
OR
load this locally for all browsers

Let me know which one would be preferable.

[2017-11-09 05:07] contactashish13 commented on #1035
@wpsmort @arnaudbroes WP considers any text within [ ] to be a shortcode, so is this minor issue a valid test case?

[2017-11-09 05:35] EkoJr commented on #63
This is made easier with the AIOSEOP_Notices class. There is a comment that demonstrates this concept on a single notice.

https://github.com/semperfiwebdesign/all-in-one-seo-pack/issues/61#issuecomment-342017293

[2017-11-09 05:36] contactashish13 commented on #1347
@michaeltorbert I have 2 questions:

1. Is there a reason https://github.com/semperfiwebdesign/all-in-one-seo-pack/blob/master/aioseop_class.php#L2085 uses date_i18n and https://github.com/semperfiwebdesign/all-in-one-seo-pack/blob/master/aioseop_class.php#L2087 does not?

2.
https://codex.wordpress.org/Function_Reference/date_i18n says

This means if we do
[code]
this will end up modifying format

[2017-11-09 06:24] contactashish13 commented on #884
@wpsmort @arnaudbroes @michaeltorbert can I get a copy of the WPML plugin to reproduced and fix this?

[2017-11-09 07:41] arnaudbroes commented on #884
@contactashish13 Sending it on Slack.

[2017-11-09 08:04] arnaudbroes commented on #1330
@michaeltorbert I'd use the temp fix considering Edge has a market share of 3.6% but ask Michael first.

[2017-11-09 08:16] arnaudbroes commented on #1342
@michaeltorbert I would either send them to our new link for credit card purchases (https://semperplugins.com/all-in-one-seo-pack-pro-credit-card-purchase/) or consider looking into WPML once more, see if we encounter and can solve the bugs and set up a German and Turkish page with the translations that we have.

[2017-11-09 08:57] sumt7 opened #1349 "Unable to get default pic on Twitter Card, Please help"
Hi there,
Kindly look at the updated issue on Wordpress Support forum.
Link https://wordpress.org/support/topic/wrong-default-image-for-home-main-url/#post-9665570

[2017-11-09 09:03] contactashish13 commented on #1202
@michaeltorbert @arnaudbroes PR: https://github.com/semperfiwebdesign/all-in-one-seo-pack/pull/1350

[2017-11-09 09:03] arnaudbroes commented on #1349
Please stop spamming us here, this is not a support forum.

[2017-11-09 09:03] #1349 closed

[2017-11-09 10:29] sumt7 commented on #1349
My humble apologies for the inconvenience but in a thread ( a month ago) you've asked to report the issue to Github.

[2017-11-09 10:30] arnaudbroes commented on #1349
If this were a genuine issue with All in One SEO Pack, which it isn't.

[2017-11-09 10:35] sumt7 commented on #1349
So Sir,
If it isn't then Plz suggest what should I do?

On 11/9/17, Arnaud Broes <notifications@github.com> wrote:

--
Best Wishes & Regards,

Sumeet Mahendra
www.bit.ly/sumt7p

[2017-11-09 13:28] michaeltorbert opened #1351 ""notice: undefined variable: tag in"...aiosep_opengraph.php"
Reported by Taura via email

Unfortunately we don't have the line number.

[2017-11-09 13:56] michaeltorbert opened #1352 "Description placeholder text not counted in character count"

[2017-11-09 13:57] michaeltorbert commented on #1352
<img width="774" alt="screen shot 2017-11-09 at 8 57 31 am" src="https://user-images.githubusercontent.com/17364998/32608976-0e95527a-c52c-11e7-82a8-8fe24522884a.png">
<img width="767" alt="screen shot 2017-11-09 at 8 57 09 am" src="https://user-images.githubusercontent.com/17364998/32608977-0ea3cb2a-c52c-11e7-8549-8392b96e50f6.png">

[2017-11-09 16:42] michaeltorbert opened #1353 "Fatal error: Cannot unset string offsets in all_in_one_seo_pack.php on line 328"
Reported here: https://wordpress.org/support/topic/fatal-error-string-offsets-in-all-in-one-seo-pack/

_I’m getting the following errors when I try to access my admin dashboard:

Warning: array_unshift() expects parameter 1 to be array, string given in ~/public_html/wp/wp-content/plugins/akismet/class.akismet-admin.php on line 89

Fatal error: Cannot unset string offsets in ~/public_html/wp/wp-con

[2017-11-09 20:18] alexmuntean opened #1354 "homepage image not working"
homepage image is not working. it's using the default even if I set a custom image

[2017-11-09 20:35] michaeltorbert commented on #1354
This isn't a support forum. Premium support is available for All in One SEO Pack Pro customers: https://semperplugins.com/all-in-one-seo-pack-pro-version/

[2017-11-09 20:35] #1354 closed

[2017-11-10 00:16] cpassero opened #1355 "XML Parsing Error"
Sitemap -which has worked fine for years - now has this error

XML Parsing Error: junk after document element
Location: https://www.myremovablestickers.com/sitemap.xml
Line Number 2, Column 1:<b>Warning</b>:  pathinfo() expects parameter 1 to be string, array given in <b>/home/content/56/7854656/html/wp-content/plugins/all-in-one-seo-pack/modules/aioseop_sitemap.php</b> on line <b>2826</b><br />
^

[2017-11-10 00:42] michaeltorbert commented on #1355
The problem you're having is at https://github.com/semperfiwebdesign/all-in-one-seo-pack/blob/master/modules/aioseop_sitemap.php#L2826

Offhand I'd say your images don't have a PHP_URL_PATH for some reason.
Disabling the images in the sitemap *may serve as a quick fix.

Longer term things we may look at would be pulling out wp_parse_url and checking if the result is a string, or else something alo

[2017-11-10 03:44] cpassero commented on #1355
We did try to eliminate images in the sitemap but error continued.  We submitted our login info as requested. Thanks.

[2017-11-10 05:37] EkoJr commented on #1355
By any chance, have you tried saving your permalink structure in Settings > Permalinks?

[2017-11-10 11:06] cpassero commented on #1355
I just tried.  Saved the same permalink settings and then updated the sitemap.  Still a problem. Also tried changing the permalink display settings to include a date in the string. Rebuilt the sitemap. Error remains.

[2017-11-10 11:13] contactashish13 commented on #1355
@cpassero could you tell us the PHP and WP versions you are using?

[2017-11-10 11:17] cpassero commented on #1355
Will check and get back.  Might be a couple hours.

From: contactashish13
Sent: Friday, November 10, 2017 6:13 AM
To: semperfiwebdesign/all-in-one-seo-pack
Cc: cpassero ; Mention
Subject: Re: [semperfiwebdesign/all-in-one-seo-pack] XML Parsing Error (#1355)

@cpassero could you tell us the PHP and WP versions you are using?

—
You are receiving this because you were mentioned.
Reply to this email

[2017-11-10 11:29] cpassero commented on #1355
WordPress 4.6.8 but I can update to 4.8.3 if you think that will help.  Still checking the PHP version.

[2017-11-10 11:33] cpassero commented on #1355
PHP 5.3

[2017-11-10 12:03] michaeltorbert commented on #1355
@cpassero The short version is that you need to update to at least WP 4.7.

For development of this issue: We need to decide if we want to support <4.7, and if so implement a fix like I described above where we take out the component parameter.

[2017-11-11 00:08] EkoJr commented on #1353
I believe there is a conflict being caused by a different plugin that decided to use `'plugin_action_links'` filter instead of `'plugin_action_links_' . $plugin_name`, and in turn is replacing all other plugin action links, including Akismet.

I was unable to reproduce this, so I can't determine exactly what AIOSEOP can do, but I don't think a resolve can be found, considering it may be a differen

[2017-11-11 07:03] contactashish13 commented on #884
@arnaudbroes I followed Steve's suggestions and configured WPML with French an the additional language. When I view the sitemap in default as well as the /fr/ URLs, I get the same number of pages and not the additional pages he mentions. Maybe my settings are not identical to reproduce the issue. Could you please check?

[2017-11-11 21:15] arnaudbroes commented on #884
@contactashish13 I was able to reproduce this issue with the settings that Steve mentioned above. Sending credentials for the test site on Slack that you can use to verify the issue.

[2017-11-12 04:46] EkoJr commented on #63
Implemented in the backend; for Dev purposes.

https://github.com/EkoJr/all-in-one-seo-pack/commit/f1fff41fb62cde3ef29a47628745f0c95eff2ce9#diff-e50f83592847a929bbc83f96b0d32386R16

Just needs to be implemented on the frontend.

[2017-11-12 04:49] EkoJr commented on #1226
Fixed / Removed
https://github.com/EkoJr/all-in-one-seo-pack/commit/311489ae6a9967e4c91e74d6625f4dd3fa310119

[2017-11-12 05:12] EkoJr commented on #340
I had taken a look at the code while working on a related issue, and it relies on two factors.

* If 'WPSEO_Import_Hooks' class does not exist.
* If `is_admin()`.

I ran into this issue before, and it is because of the admin_bar at the top; which I believe was traced back to `admin-ajax`. There's one concept I haven't implemented yet, but I was tempted to write a ticket to WP Core to propose a fun

[2017-11-12 08:47] contactashish13 commented on #884
@arnaudbroes PR: https://github.com/semperfiwebdesign/all-in-one-seo-pack/pull/1358. Have also made changes to the test site and tested there.

@michaeltorbert there were a few bits of messy and redundant code that I've removed to improve readability. Have left comments as well.

[2017-11-13 06:49] Anky9 opened #1359 "Google is not showing the given meta description under the search result. How i can do that?"

[2017-11-13 09:05] kulagin-ilya opened #1360 "Sitemap.xml - <image:image> switch off option"
Hello, I need an option to switch off images in posts in my sitemap.xml . The thing is that Google Webmaster recognise this tag and everything ok with it, but the most popular Russian search engine Yandex doesn't recognise <image:image> tags yet and sends me an allert. While I don't have this option I cannot use Sitemap.xml module by All in one SEO Pack.

Thanks a lot!

[2017-11-13 12:02] michaeltorbert commented on #1360
This isn't a support forum. Premium support is available for users who purchase a Pro license: https://semperplugins.com/all-in-one-seo-pack-pro-version/

[2017-11-13 12:02] #1360 closed

[2017-11-13 12:03] michaeltorbert commented on #1359
This is a development repository, not a support forum. Premium support is available for users who purchase a Pro license: https://semperplugins.com/all-in-one-seo-pack-pro-version/

[2017-11-13 12:03] #1359 closed

[2017-11-13 17:56] arnaudbroes opened #1361 "Sitemap indexes cannot be viewed when compression is enabled"
![image](https://user-images.githubusercontent.com/18156697/32740778-4b1aadd2-c8a4-11e7-8e84-e237a58aa285.png)

[2017-11-14 06:59] contactashish13 commented on #1361
@arnaudbroes can you please let me know the steps to reproduce this issue? Can I also get access to the cloned site and the SSH instance? If you want, you can make this site available to me through cloudways - will send my email ID on slack.

[2017-11-14 23:43] arnaudbroes opened #1362 "Taxonomies don't output keywords when Dynamic Keyword Generation is disabled"
Reported here: https://semperplugins.com/support/troubleshooting-all-in-one-seo-pack-pro/there-are-no-keywords-at-woocommerce-category-page/

When the "Dynamically Generate Keywords for Posts Page/Archives" setting is disabled, taxonomies do not output any meta keywords when they should. This applies to all taxonomies as far as I am aware of, including categories and tags.

Follow these steps in o

[2017-11-14 23:53] arnaudbroes commented on #1361
@contactashish13 we don't have a cloned site for this issue.
Follow these steps to reproduce the issue:

1. Install a fresh, clean test site
2. Install All in One SEO Pack
3. Create a few dummy posts and pages
4. Activate the XML Sitemap Module in the Feature Manager
5. Check if the 'Create compressed sitemap' setting is enabled
6. Enable the 'Enable sitemap indexes' setting
7. Update and view the

[2017-11-15 00:04] arnaudbroes commented on #1362
Moved this to aioseop-pro considering the free version doesn't do SEO for custom taxonomies.
https://github.com/semperfiwebdesign/aioseop-pro/issues/371

[2017-11-15 00:04] #1362 closed

[2017-11-15 05:04] contactashish13 commented on #1361
What should I find in the sitemap and what is the expected behavior?

On Nov 15, 2017, 05:23, at 05:23, Arnaud Broes <notifications@github.com> wrote:

[2017-11-15 05:56] arnaudbroes commented on #1361
@contactashish13 if you go to /sitemap.xml/, you'll see that the browser displays URLs with the .gz extension, which shouldnt be the case. In addition, when you click on any of the URLs in the sitemap, you won't be able to access them (or depending on the browser it will download the .gz file).

Normal behaviour is that the sitemap does not display the .gz extension and every URL can be opened.

[2017-11-15 11:36] contactashish13 commented on #1361
@arnaudbroes I'm not sure I understand the problem. From what I have been reading (e.g. https://www.design19.org/blog/optimize-sitemap-xml-gz-better-seo/) a compressed sitemap is indeed a gzipped file. If thats not the case, then what should compression really do?

[2017-11-15 15:09] michaeltorbert commented on #1361
@contactashish13 The problem is that when sitemap indexes is enabled, the compressed file is a 404.

[2017-11-15 21:47] springtouchweb opened #1363 "Special Characters Issue"
In the Social Meta tool of your plugin when entering an ampersand after updating the ampersand is converted to "&amp; " that's how it would display in the social sharing card.
![special-characters](https://user-images.githubusercontent.com/33703454/32861950-196b49f8-ca1c-11e7-86bc-3b50f94dfb5b.PNG)
![home-title](https://user-images.githubusercontent.com/33703454/32861951-197add0a-ca1c-11e7-858e-e7

[2017-11-15 21:51] springtouchweb commented on #1363
It displays as `&amp;` ... "& amp;" not "&". Github autocorrected the entity in the first report, please let me know if you have any questions.

[2017-11-16 04:39] contactashish13 commented on #941
@arnaudbroes @wpsmort have we concluded on the expected behavior?

[2017-11-16 04:52] contactashish13 commented on #940
@michaeltorbert I believe all the 4 parameters are mandatory. We should have a date selector as well as validate the values and reject values that do not have all 4 parameters. Thoughts?

![image](https://user-images.githubusercontent.com/12953439/32874371-d6f9cfe4-cab7-11e7-9bd2-60530e1e6f34.png)

[2017-11-16 04:55] michaeltorbert commented on #940
@contactashish13 Agreed.

[2017-11-16 06:53] contactashish13 commented on #940
@michaeltorbert PR: https://github.com/semperfiwebdesign/all-in-one-seo-pack/pull/1364

I can't seem to get rid of codeclimate's false positives. Is there a code directive that I can use in the future to make it ignore specific lines?

[2017-11-16 14:30] michaeltorbert commented on #397
Reported here: https://wordpress.org/support/topic/broken-og-custom-image-does-not-show/

This should be the same issue.

[2017-11-16 18:16] customtrim opened #1366 "Change link for schema.org to HTTPS"
on line 4172 in the file aioseop_class.php

Here is the block of code:

		$search_box = <<<EOF
<script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "WebSite",

It causes sssl validation errors.

Thank you!

[2017-11-16 22:04] michaeltorbert commented on #1353
@EkoJr Most likely Jetpack or Akismet, based on reports.

[2017-11-16 22:10] michaeltorbert commented on #1353
Also reported here: https://wordpress.org/support/topic/fatal-error-string-offsets-in-all-in-one-seo-pack/
Warning: array_unshift() expects parameter 1 to be array, string given in ~/public_html/wp/wp-content/plugins/akismet/class.akismet-admin.php on line 89

Fatal error: Cannot unset string offsets in ~/public_html/wp/wp-content/plugins/all-in-one-seo-pack/all_in_one_seo_pack.php on line 328

[2017-11-16 22:27] michaeltorbert commented on #1353
https://github.com/Automattic/jetpack/issues/8164
Probably related.

[2017-11-16 22:30] wpsmort commented on #1353
I have been able to reproduce this on a development site here - http://wordpress-128878-370533.cloudwaysapps.com/wp-admin/

I get these errors when I switched Jetpack to using my WP.com account, previously Jetpack was in Safe Mode as this is a duplicate of a live customer site:

Warning: array_unshift() expects parameter 1 to be array, string given in /home/128878.cloudwaysapps.com/bdqtvwzhbf/publ

[2017-11-17 01:56] #1353 closed

[2017-11-17 05:51] mobilapk opened #1370 "Autogenerate Descriptions: Problem (2)"
https://github.com/semperfiwebdesign/all-in-one-seo-pack/issues/1308

I opened the bug 2 months ago but no solution was made. I guess the crew does not have the ability to solve it. Please do not have the information we can not figure out this finding. I'm using yoast seo.

[2017-11-17 11:17] arnaudbroes commented on #1370
You posted this one month ago instead of two and this isn't one of our highest priorities.
Stop spamming us.

[2017-11-17 11:17] #1370 closed

[2017-11-17 11:21] arnaudbroes commented on #941
@contactashish13 Best to do it like Steve said, multiple sitemaps for each subdomain. But let's check this with @michaeltorbert first.

[2017-11-17 12:39] michaeltorbert commented on #1355
PR #1356

[2017-11-18 03:50] michaeltorbert commented on #941
@wpsmort Is there any authority on this, ie Google documentation?

[2017-11-18 04:24] michaeltorbert commented on #1366
Can you provide more information about the errors?
Screenshots, specific page you're one, exact text of the errors, etc.

[2017-11-18 04:40] michaeltorbert commented on #940
We don't want it to ignore specific lines, instead we should use the config file to fine tune it. https://github.com/semperfiwebdesign/all-in-one-seo-pack/blob/master/.codeclimate.yml

[2017-11-18 04:40] michaeltorbert commented on #940
@contactashish13  We don't want it to ignore specific lines, instead we should use the config file to fine tune it. https://github.com/semperfiwebdesign/all-in-one-seo-pack/blob/master/.codeclimate.yml

[2017-11-18 15:22] arnaudbroes opened #1371 "Correct tags order according to Sitemap protocol"
See conversation with Kevin K via email.

We should consider whether we want to correct the tag order for our XML sitemaps.
Currently, the priority tag is outputted before the changefreq tag while it should be the opposite.
https://www.sitemaps.org/protocol.html

[2017-11-18 15:36] michaeltorbert commented on #1371
Unless there's a reason not to I'd say we should. @wpsmort?

[2017-11-18 15:38] michaeltorbert commented on #1371
http://freetools.webmasterworld.com/tools/site-validator/#sthash.hCD7UuCC.vXNhS1Ia.dpbs

[2017-11-18 15:42] michaeltorbert commented on #1371
Ok generally it is the last one, we'll have to look into why it's not. Maybe only for indexed?

correct: view-source:https://semperplugins.com/sitemap.xml
incorrect: view-source:https://www.healthfulpursuit.com/sitemap_meal_type.xml

[2017-11-18 21:55] arnaudbroes commented on #1371
@michaeltorbert I'll look into it.

[2017-11-19 04:10] customtrim commented on #1366
Hi Michael,
You really don't need a screenshot, what happens it the site will not call secure because of the http link. I have to change it to https on each update.
Schema.org is a secure site and there is no reason to leave that http link in your plugin.
Thanks,
Bill
   On Friday, November 17, 2017, 8:24:19 PM PST, Michael Torbert <notifications@github.com> wrote:

Can you provide more informatio

[2017-11-19 04:27] michaeltorbert commented on #1366
@customtrim What browser is giving you ssl issues? What is the URL?

[2017-11-19 05:34] customtrim commented on #1366
Chrome, Firefox, and Edge.

Contourderm.com

There is no error now because I changed the link upon each update from http://schema.org to https://schema.org

Did you receive this info in my github ticket?

I explained it in detail, with the file and line of code that’s the problem.

Thanks,

Bill

[2017-11-19 05:37] michaeltorbert commented on #1366
@customtrim Unfortunately I'm unable to replicate the issue. If you change it back, let me know and I'll take a look.

[2017-11-19 05:57] customtrim commented on #1366
I can let you have access to one of my dev sites on Monday, then you can test and see what I mean.

Contourderm.com is our main site and I try to keep it very secure as we are a medical office.

Thanks for all your support. It’s really refreshing to see!

Thanks,

Bill

[2017-11-19 06:32] contactashish13 commented on #1363
@michaeltorbert PR: https://github.com/semperfiwebdesign/all-in-one-seo-pack/pull/1372

[2017-11-20 19:49] michaeltorbert opened #1373 "General - Hide private post types"
Reported here: https://wordpress.org/support/topic/seo-on-only-these-post-types-lists-posts-multiple-times/#post-9703235

We should determine if this is intentional or not.

 https://codex.wordpress.org/Function_Reference/get_post_types). We don’t provide our custom post types any labels because public is disabled and they are not exposed to the UI at all. They are for internal use and we referenc

[2017-11-20 21:03] michaeltorbert opened #1374 "Possible robots.txt issue on multisite"
Reported here: https://wordpress.org/support/topic/virtual-robots-txt-not-working/

[2017-11-22 02:37] michaeltorbert opened #1375 "Update sitelinks searchbox code"
[code]

Updated with latest code from  here https://developers.google.com/search/docs/data-types/sitelinks-searchbox

[2017-11-22 09:00] contactashish13 commented on #1347
@michaeltorbert could you please review my comments and let me know how to proceed?

[2017-11-23 20:06] EkoJr commented on #1373
In regards to AIOSEOP, everything functions as it should. Contact Form by WPForms on the other hand was written very loosely. Most of which, has little to no labels used, which in turn defaults to 'post' labels.

Even though the author says he has the CPTs set to private ( public = false ). WordPress says from their own codex.

https://developer.wordpress.org/reference/functions/register_post_type

[2017-11-23 20:14] EkoJr commented on #1345
I believe this is exclusive to the Pro Version.

[2017-11-23 20:20] scottbuscemi commented on #1345
What’s the reasoning behind hiding an error message to end users only on
Pro? That doesn’t make sense...

On Thu, Nov 23, 2017 at 12:14 PM EkoJr <notifications@github.com> wrote:

[2017-11-23 20:29] EkoJr commented on #1345
Well, it is possible there is an added feature that requires a message if it fits a set of conditions.

[2017-11-23 20:34] scottbuscemi commented on #1345
This is happening on the free version for me.

On Thu, Nov 23, 2017 at 12:30 PM EkoJr <notifications@github.com> wrote:

[2017-11-23 20:38] jaredatch commented on #1373
In the next release we have defined a labels, so that should at least avoid the confusion of having multiple "Posts" display - at least from our plugin.

I don't know if I'd go as far as not defining labels for an internal post type as loose though 😆 I've seen that from other plugins as well. If a developer registers a post type that has no UI, export, etc (by all counts, should be invisible) I th

[2017-11-23 20:47] EkoJr commented on #1345
Hmm, when working the free version I didn't see code for it, but the pro version had it.

It could of been a recent add that I'm missing, but it could also be a database viable. Either way, I wanted to comment on it. Thank you for replying back on it.

Admin notices recently got some work done, and I'll take another look to see where this got added in the free version.

[2017-11-23 22:00] EkoJr commented on #1373
That is true, many plugins do the same...but at the same time, some of those can easily become error prone.

I was just skimming over the issue, and noticed there were only a few lines of code to register post types; which felt like a bit of a surprise at the time, but perhaps I was just being too strict about it. I had a simular issue with an internal post type. In regards to `public` settings, t

[2017-11-24 01:53] michaeltorbert commented on #1373
@jaredatch Thanks for following up.
I wouldn't call it "loose" on your part, I'd just say there's an unfortunate clash between two awesome plugins that can make things confusing for mutual our users. :)
This is something we should and will resolve on our end, and as you said you'll take care of it on yours too.

[2017-11-24 04:17] michaeltorbert commented on #1345
@EkoJr This is definitely in the free version. It was added in #1225 and can be found at https://github.com/semperfiwebdesign/all-in-one-seo-pack/blob/5f978e35b467db9ca35b9d08d97fd5f79afaadcd/modules/aioseop_sitemap.php#L369

@scottbuscemi Thank you for reporting this, we'll get it fixed.

[2017-11-24 04:23] michaeltorbert commented on #340
@EkoJr  So short of waiting on a change to core, do you have a recommendation?

[2017-11-25 07:10] contactashish13 commented on #1371
@michaeltorbert you were right. It was a problem only in the indexed pages. Additionally, the image tag was in the wrong location; have fixed that as well.

PR: https://github.com/semperfiwebdesign/all-in-one-seo-pack/pull/1378

[2017-11-25 07:19] contactashish13 commented on #1274
@michaeltorbert I've used https://simontabor.com/labs/toggles/ previously and it works quite well. Should I go ahead and use this?

[2017-11-25 07:23] contactashish13 commented on #1245
@wpsmort @michaeltorbert https://github.com/semperfiwebdesign/all-in-one-seo-pack/pull/1281 takes care of this if the filter 'aioseop_images_allowed_from_hosts' does not exist or if it returns an empty array.

[2017-11-25 09:09] contactashish13 commented on #1069
@wpsmort @arnaudbroes PR: https://github.com/semperfiwebdesign/all-in-one-seo-pack/pull/1379

[2017-11-25 13:29] contactashish13 commented on #1067
@wpsmort @arnaudbroes PR: https://github.com/semperfiwebdesign/all-in-one-seo-pack/pull/1380

[2017-11-26 01:02] heliodor opened #1381 "After deploying to PROD, sitemap contains the correct domain but still uses http instead of https"
Wordpress installation configured at http://localhost and deployed to https://somedomain.com

In my development environment, the sitemap and the robots file both show all urls as http://localhost/... Once copied over to my production server and accessed at https://somedomain.com, the sitemap and robots file both show **http**://somedomain.com instead of **https**://somedomain.com

[2017-11-26 01:09] michaeltorbert commented on #1381
This is a development repository, not a support forum.
Support is provided for Pro customers at https://semperplugins.com/all-in-one-seo-pack-pro-version/

[2017-11-26 01:09] #1381 closed

[2017-11-26 01:21] heliodor commented on #1381
I don't need support. I'm simply reporting what looks like a bug to me, and explaining the context in case it helps you understand.

One expects that a dynamically generated sitemap should render with the same protocol, domain, and port from which it is being requested. If I request `http:localhost:5101/sitemap.xml`, the response should use `http:localhost:5101/` for all urls. And if I request `ht

[2017-11-26 01:43] michaeltorbert commented on #1381
These features use built-in WordPress functions to determine the scheme.
Most likely, you haven't configured SSL correctly.

[2017-11-27 12:49] michaeltorbert opened #1382 "Remove from sitemap when noindex is enabled"
Reported by Gordon via email.

We should consider whether to remove a post from the XML sitemap with the noindex option is enabled. This makes sense, although it may make "exclude from sitemap" redundant.
If we do this, we should consider whether to remove the latter option.

It was suggested that excluding a post from XML might prevent Google and other crawlers from reading the noindex and theref

[2017-11-27 21:01] arnaudbroes commented on #1371
@michaeltorbert I checked this and it works. Needs code review.

[2017-11-28 14:04] arnaudbroes commented on #1382
@michaeltorbert good thinking, I'd remove the "exclude from sitemap" setting. Using NOINDEX makes more sense.

[2017-11-28 15:17] michaeltorbert commented on #154
https://wordpress.org/support/topic/add-description-and-keyword-in-cpt-archive/

[2017-11-28 15:51] contactashish13 commented on #1382
@michaeltorbert would this also need to be backward compatible for users who had excluded pages from sitemap and now find the option gone?

[2017-11-28 16:27] contactashish13 commented on #1330
@michaeltorbert I guess we can action this as this will also resolve #1318. Let me know

[2017-11-28 18:27] arnaudbroes commented on #1069
@contactashish13 All in One SEO Pack is still changing the theme's title tag.

[2017-11-28 18:33] arnaudbroes commented on #1067
@michaeltorbert I tested this. Needs code review.

[2017-11-29 07:07] contactashish13 commented on #1069
@arnaudbroes I assume you mean the title tag of the page. I don't see the title being changed except for some special characters being suitably modified e.g. pipe being converted to
[code]
Can you please check if its not something else?

[2017-11-29 12:41] bimal008 opened #1383 "How to change changefreq"
Hello

how do i change change changefreq in a Sitemap ?

Suppose i have a sitemap "sitemap_doctors.xml" and the sitemap has more the 100 url on it & each url's changefreq is set "monthly" at this time http://prntscr.com/hgrw3k . how do i change it to daly or weekly ?
Note: i only need to change or modify the "changefreq" for this particular sitemap other sitemaps need not any changes.

Any Help or

[2017-11-29 14:03] taraschuiko opened #1384 "Ajax error on saving"
When I'm trying to activate your xml sitemap module, i'm experiencing this issue.
![screen shot 2017-11-29 at 16 02 38](https://user-images.githubusercontent.com/29632020/33378820-c29501c4-d51e-11e7-8141-040677dd89d8.png)

[2017-11-29 18:06] arnaudbroes commented on #1383
This is a development repository, not a support forum.
You can purchase All in One SEO Pack Pro here and get acces to our support services - https://semperplugins.com/all-in-one-seo-pack-pro-version/

[2017-11-29 18:06] #1383 closed

[2017-11-29 18:09] arnaudbroes commented on #1384
This is a development repository, not a support forum.
You can purchase All in One SEO Pack Pro here and get access to our support services - https://semperplugins.com/all-in-one-seo-pack-pro-version/

[2017-11-29 18:09] #1384 closed

[2017-11-29 20:37] arnaudbroes commented on #1069
@contactashish13 I double-checked, looks like it works. Might have been cache.
@michaeltorbert I tested this. Needs code review.

[2017-11-30 12:54] coreyconsulting opened #1385 "ALL IN ONE SEO PLUGIN"
Hello,

So why is it that the All in One SEO only allows me to choose the premium option for the plugin?

Thank you,

[2017-11-30 16:15] arnaudbroes commented on #1385
@coreyconsulting I'm not sure what you mean but please keep in mind that this a development repository, not a support forum or place to ask general questions about the plugin. You can contact us here - https://semperplugins.com/contact/

[2017-11-30 16:15] #1385 closed

[2017-12-01 20:38] mblase75 opened #1386 "google tag manager support"
I'm glad to see there's a space in the settings to insert Google Analytics IDs. But how about support for Google Tag Manager as well?

[2017-12-02 03:05] michaeltorbert opened #1387 "Get a wp.com business account for the purpose of AIOSEOP installation instructions"
Can we do a free trial or just one month so we can write instructions on installing .org or non-.org third party plugins?
We should also look at any other UI issues.

[2017-12-02 14:26] arnaudbroes commented on #1387
@michaeltorbert looks like there is no trial or a monthly plan but their FAQ does say this: Can I cancel my subscription? Yes. We want you to love WordPress.com, so we give you a 30-day refund on all your subscriptions. I will write to their support and confirm if we're able to purchase the annual plan, use it for testing purposes and then cancel it.

[2017-12-02 15:06] michaeltorbert commented on #1387
@arnaudbroes Maybe ask if we can have a short free or paid account of the business plan for purposes of writing instructions for our users since they have none.

[2017-12-02 15:56] arnaudbroes commented on #1387
@michaeltorbert their response:

[2017-12-03 13:06] PaulStranger opened #1388 "Yandex and strange tag <image:image>"
Hi.

The Yandex search engine (Yandex Webmaster) finds strange tags **<image:image>** in the sitemap.xml

I see by the code of the site map that for each link an post entry with a <image:image> tag for the picture is formed. How do I turn off or change the formation of these tags?

Screens:
https://image.prntscr.com/image/jMT3ILojTwm91demGzBjiA.jpg
https://image.prntscr.com/image/6gwAm0uWRFOfU2W4t

[2017-12-03 15:50] michaeltorbert commented on #1388
@PaulStranger
https://semperplugins.com/documentation/exclude-images-from-xml-sitemap-for-yandex/

[2017-12-03 15:50] #1388 closed

[2017-12-03 21:44] tonyzeoli commented on #1387
Hey guys...just following this. Is AIOSEOP going to be avail on
WordPress.com for WordPress Business Level customers?

On Sat, Dec 2, 2017 at 10:56 AM, Arnaud Broes <notifications@github.com>
wrote:

[2017-12-04 02:00] michaeltorbert commented on #1387
@tonyzeoli It is available, which is why we have this issue to make instructions.

[2017-12-04 02:37] michaeltorbert commented on #1342
I'm pretty sure WPML fixed the problems in a recent update. I think @wpsmort was going to look into testing it.

[2017-12-04 03:55] tonyzeoli commented on #1387
Cool - I'll start letting people know. Great news! Good luck!

On Sun, Dec 3, 2017 at 9:00 PM, Michael Torbert <notifications@github.com>
wrote:

[2017-12-04 09:38] JenniferFreeman opened #1389 "Page Titles are not saving"
The page titles are not saving - only half a title

[2017-12-04 12:13] michaeltorbert commented on #1389
@JenniferFreeman Can you provide more details and exact steps to reproduce?

[2017-12-04 13:59] JenniferFreeman commented on #1389
Hi Michael, yes. Thank you for replying. Literally as it sounds
![image](https://user-images.githubusercontent.com/34233651/33556287-45a81ed6-d8fb-11e7-860a-cb9ecaf9a6a1.png)
I cannot add anything else to the home page title - it just deletes out. I have changed the force rewrite to prevent that from happening but still no fix..

[2017-12-04 14:10] michaeltorbert commented on #1389
https://semperplugins.com/documentation/why-doesnt-the-title-and-description-i-set-appear-in-search-results/

[2017-12-04 14:10] #1389 closed

[2017-12-04 16:28] michaeltorbert opened #1390 "Problem with Protocol-Relative URL Format"
Reported here: https://wordpress.org/support/topic/problem-with-protocol-relative-url-format/

This may be if the URL for the image is a relative URL, and we don't turn it into a real URL in the sitemap, which Google likely needs.

[2017-12-04 16:34] wpsmort commented on #1390
@michaeltorbert I have tested this and confirmed that we do not output the protocol if it is missing from the image URL.

For example, an image embedded using this URL:

//stevemortiboy.com/wp-content/uploads/2017/12/steve-headshot.jpg

results in the same URL in the XML Sitemap.  Google rejects that as an incomplete URL when you submit the sitemap to Google Webmaster Tools.

[2017-12-04 23:01] arnaudbroes opened #1391 "Disabling "Rewrite Titles" setting no longer works"
The plugin still rewrites titles when the 'Rewrite Titles' setting has been disabled.
I've noticed and confirmed this on an existing site and a fresh install.

[2017-12-05 07:20] contactashish13 commented on #1390
@wpsmort this has been fixed in https://github.com/semperfiwebdesign/all-in-one-seo-pack/pull/1286

[2017-12-05 08:51] contactashish13 opened #1392 "Create unit tests"

[2017-12-05 22:18] koraqee opened #1393 "Iam getting a fatal error on my site"
Call to undefined function apply_filters_deprecated() in /membri/erakuqe/wp-content/plugins/wordpress-seo/admin/menu/class-admin-menu.php on line 246

[2017-12-05 23:57] michaeltorbert commented on #1393
You should let the fine folks over at @yoast know, as it's their plugin.

[2017-12-05 23:57] #1393 closed

[2017-12-06 07:35] EkoJR opened #1394 "Move CSS and Scripts to be enqueued as a file."
I notice there's some CSS and Scripts within various functions and class methods. Changing it to a CSS or JS file of its own would probably alleviate the amount of searching it would take to solve an issue, and would improve code quality itself with development.

* For each class/module, I believe it would be separate JS/CSS files.
* All the variable with PHP have to be localized. Including any st

[2017-12-06 15:46] maximbrykin opened #1395 "Support longer meta descriptions"
Good day! Update your WP-plugin please! Google already support long descriptions - but All in One SEO Pack is cutting them now 😮

[2017-12-06 16:41] michaeltorbert commented on #1395
@maximbrykin  First, there's no need to to use exclamation points. Just say what you want to say. I'm editing your submission to remove the exclamation points and to make your title appropriate.

Second, please provide specific information about the exact lengths you're suggesting, along with links to supporting documentation.

[2017-12-06 16:43] michaeltorbert opened #1396 "Google measures snippet titles in pixels"
I thought we had an issue open for this but apparently not.

I've seen everywhere from 580-600 pixels. We should try to confirm this and update the code.

[2017-12-06 16:50] tonyzeoli commented on #1395
I'm not sure, but he could be talking about this:

https://en.ryte.com/magazine/google-is-testing-longer-snippets-more-space-for-titles-and-descriptions

Or, this:

https://seopressor.com/blog/google-increases-title-meta-description-length/

Or, this:

https://www.searchenginejournal.com/google-titles-and-descriptions-2016/163812/

All in May of 2016.

I don't see documentation in my search on thi

[2017-12-06 16:51] michaeltorbert commented on #1395
@tonyzeoli I'm familiar with the idea that titles are measured by pixels, and are longer than they previously were, but before we change anything, we need to know conclusively what they should be.
Everywhere says something different.

[2017-12-06 21:41] michaeltorbert commented on #1394
This is good, although it should probably be multiple issues.

[2017-12-07 00:04] EkoJr commented on #1394
Agreed. I noticed there are some option variables, and some callbacks that may need to handled separately.

[2017-12-07 02:41] tonyzeoli commented on #1395
Agreed - there needs to be consensus and finality to these types of
decisions. Just because a bunch of people uncover something doesn't mean
it's absolute. Better to be safe, than sorry later.

On Wed, Dec 6, 2017 at 11:51 AM, Michael Torbert <notifications@github.com>
wrote:

[2017-12-07 04:30] maximbrykin commented on #1395
https://searchengineland.com/google-officially-increases-length-snippets-search-results-287596

[2017-12-07 08:36] EkoJR opened #1397 "Code Refactor - Add a AIOSEOP_Core / _Init class"
Create a Core Class file as a Singleton in order to create only one instance to initiate AIOSEOP from.

Code from the initial file (`all-in-one-seo-pack.php`) can then be moved over, and there’s possibly some code in `All_in_One_SEO_Pack` class. Although, accessing variables or data objects should remain with the modules if they intend to be used multiple times, especially if outside of the core c

[2017-12-07 13:32] michaeltorbert commented on #1397
@contactashish13 Thoughts?

[2017-12-07 13:58] contactashish13 commented on #1397
@EkoJr @michaeltorbert Based on my own struggles with the plugin, I would start with using a boilerplate that I've used/seen used with good results (https://github.com/DevinVinson/WordPress-Plugin-Boilerplate) as this will help separate the admin and public side of things and keep things more organized. The first thing the code needs IMHO is organization and separation so that it becomes patently

[2017-12-07 15:41] ayushgangrade11 opened #1398 "Not able to update Google webmasters info. Upon pasting the code and clicking update the field is not getting updated."
I am using wordpress through heroku and have a free version of all in one seo pack.

[2017-12-07 15:52] michaeltorbert commented on #1398
This is a development repository, not a support forum. You can find troubleshooting steps here https://semperplugins.com/documentation/how-to-troubleshoot-issues-with-all-in-one-seo-pack/ or if you'd like Premium Support you can purchase a license here: https://semperplugins.com/all-in-one-seo-pack-pro-version/

[2017-12-07 15:52] #1398 closed

[2017-12-07 16:49] jeremydenoun opened #1399 "XML Sitemap - Wrong behavior on multisite context"
I found a bug or a weird behavior with WP multisite context on sitemap generation :

https://github.com/semperfiwebdesign/all-in-one-seo-pack/blob/350b32f77003910051a4614abf03c5a85101556f/modules/aioseop_sitemap.php#L647

- the url_path isn't a correct way to find right rewrite regexp by example if wordpress is located in /wordpress/ URL_PATH value is wordpress/{filename}.xml and this don't match

[2017-12-07 20:16] michaeltorbert opened #1400 "Bug - No OG:image radio button selected when custom image is removed"
Reported by Eric D via email.

We should try to reproduce this and determine under what conditions it happens. For instance, does the problem occur immediately after saving, a day later, after some other event?

[2017-12-08 02:14] michaeltorbert opened #1401 "sitemap 404 for compression"
In some cases, the gz version of sitemaps results in a 404. We need to figure out the conditions.
Off the top of my head, I'd guess that index on and compression on causes the bug. We need to confirm, and then test to see when it started.

<img width="900" alt="screen shot 2017-12-07 at 9 13 27 pm" src="https://user-images.githubusercontent.com/17364998/33747895-87bc8d44-db93-11e7-8607-d782c059376

[2017-12-08 07:13] EkoJr commented on #1397
I definitely agree on code organization, and the boilerplate; which I also use, and was slowly introducing the concept. The Admin class was also something I was planning on bringing up as well, and I imagine it would clean things up the most, but wasn't sure if it would be too soon to introduce it with the way the `All_in_One_SEO_Pack` class is.

The `All_in_One_SEO_Pack` class seems to be what ne

[2017-12-08 20:44] arnaudbroes commented on #1401
@michaeltorbert I believe this is a duplicate of #1361

[2017-12-09 09:54] contactashish13 commented on #1394
@EkoJr I'm sure you've already thought of this but wanted to add this as suggestion just in case - if some JS/CSS is being included conditionally, then instead of adding these separate scraps to one big file, it is useful to have different files and register/localize all of them in one go to be enqueued later. So basically, instead of using wp_enqueue_script and wp_localize_script use wp_register_

[2017-12-09 10:31] EkoJr commented on #1394
@contactashish13 I was thinking instead of one big file, I was going to follow the module pattern just to keep it consistent. Possibly a Public JS, and the rest may end up in one file.

I also use a similar pattern to where I try to keep things optimal and enqueue where needed, but I try not to repeat code by enqueuing multiple places. So, I usually try to catch it when it is first needed (and exc

[2017-12-10 01:12] michaeltorbert commented on #1169
We may want to hold off on this for now until we decide what to do about Gutenberg for when it's integrated https://wordpress.org/plugins/gutenberg/

[2017-12-10 20:29] waqarts opened #1402 "Auto-generated Description not working if post starts with image"
![setting 1](https://user-images.githubusercontent.com/30706949/33809122-62e073b4-de13-11e7-9074-8bcd0764db9a.png)
![setting 2](https://user-images.githubusercontent.com/30706949/33809123-6316c1e4-de13-11e7-9674-0fc9a427f1b0.png)
![source view](https://user-images.githubusercontent.com/30706949/33809124-634b824e-de13-11e7-9f36-276b5d0faab1.png)

Auto-generated Description not working on post which

[2017-12-11 12:04] LNWEB opened #1407 "Thumbs bug"
Hi there
I have a bug with AIO seo social meta thumbs.
It didn't show the first image in content (featured oetc.) but only the default one ...
Wrong config or bug ?
txs in advance

[2017-12-11 21:07] tonyzeoli commented on #1361
Please note that when I disabled compression on https://janetwhitworth.com, then resubmitted the sitemap to GWT, all 6 errors went away. So it's only the compression that throws the 404 errors in GWT.

[2017-12-11 21:37] #1401 closed

[2017-12-12 00:29] michaeltorbert commented on #1407
You can find documentation for that setting here: https://semperplugins.com/documentation/beginners-guide-to-social-meta/

[2017-12-12 00:29] #1407 closed

[2017-12-12 02:07] michaeltorbert opened #1408 "Double site title on posts page"
Reported here: https://semperplugins.com/support/troubleshooting-all-in-one-seo-pack-pro/posts-page-preview-snippet-shows-site-title-twice/

Preview snippet of posts page is showing page title | site title | site title

We need to determine whether this bug has always been there, or when it was introduced.

[2017-12-12 16:09] michaeltorbert commented on #1395
This has been requested numerous times lately.

[2017-12-12 16:58] tonyzeoli commented on #1395
Per maximbrykin's post, he may not have read this or ignored it altogether: "Some webmasters and SEOs may consider updating their meta descriptions, but I don’t believe Google would recommend doing so. The snippets are more often dynamically generated based on the user query and content found in both the meta description and the content visible on the page. If Google is going to go with a longer s

[2017-12-12 17:10] wpsmort commented on #1395
The only official statement that I can find from Google is on Twitter here - https://twitter.com/dannysullivan/status/936708405363843072?ref_src=twsrc%5Etfw&ref_url=https%3A%2F%2Fwww.seroundtable.com%2Fgoogle-extends-snippets-320-characters-24862.html

There's more Tweets in this article here - https://www.seroundtable.com/google-extends-snippets-320-characters-24862.html

My recommendation is tha

[2017-12-12 17:30] michaeltorbert commented on #1395
One way we could handle this is to not cut off a manually entered description at all. If the user enters 5000 characters, that's up to them.
We can decide whether or not to increase the recommended amount via character count on the back-end though.

[2017-12-12 17:31] wpsmort commented on #1395
I agree with the recommendation by @michaeltorbert

[2017-12-12 18:47] justinpward opened #1409 "Plugin broke my sitemap?"
![image](https://user-images.githubusercontent.com/26862075/33902408-c2e4fca0-df29-11e7-9340-057eaf00916e.png)
Everything seemed to suddenly break for me. Reset to defaults, also broke. Updated to latest version. https://livemusicblog.com/sitemap.xml

[2017-12-12 18:51] michaeltorbert commented on #1409
https://semperplugins.com/documentation/this-page-contains-the-following-errors/

[2017-12-12 18:51] #1409 closed

[2017-12-12 23:54] arnaudbroes commented on #1408
@michaeltorbert first appeared in 2.2.4. I found this in the changelog:

[2017-12-13 02:53] michaeltorbert opened #1410 "Error with Gutenburg"
Reported here: https://wordpress.org/support/topic/gutenberg-2/

The plugin throws the following console error when used together with the forthcoming Gutenberg editor plugin:

TypeError: Cannot read property 'aiosp_title' of undefined

[2017-12-13 07:04] sheik1991 opened #1411 "Custom page/post keyword and meta description are not reflected(not works)"
Custom page/post keyword and meta description are not reflected(not works)

[2017-12-13 07:59] contactashish13 commented on #1410
@michaeltorbert PR: https://github.com/semperfiwebdesign/all-in-one-seo-pack/pull/1412

[2017-12-13 11:04] EkoJr commented on #1400
The only instance I've been able to reproduce this is when Adding/Removing the Custom Image.

Adding a custom image, it was expected to select the Custom Image instead.

However, removing the custom image resulted in nothing selected, even when an alternate image ( Non-Custom Image ) was selected selected.

Removing a Custom Image, I believe would need a check for what image is selected, and a fal

[2017-12-14 01:17] EkoJR opened #1413 "Add a Post Data object/class"
This is to organize code by creating a separate object; which most of the variables and functions reside in file: `aioseop_class.php` class: `All_in_One_SEO_Pack`. So, many of the functions and concepts are already created, and will just need to be migrated over, but how data is being stored within the database will need to be closely watched/noted.

To load post variables with All in One SEO Pack

[2017-12-14 01:42] EkoJR opened #1414 "Code Refactor - Add Admin Class"
Using the Boilerplace as an example, create an Admin class to handle core admin functionality, and rendering admin pages.

A few things that it may contain.

* Check User Role / `is_admin`.
* Admin Enqueue Scripts and Styles.
* Metabox register & add.
* Handle Post Actions (Save Post)/ Transitions. ( possibly better as an Editor class ).
* Menu register & add.

## Module Structure ( Inheritance )

[2017-12-14 01:55] EkoJR opened #1415 "Add Post Editor class for Post Actions"
This would be part of code organization, and possibly part of Add Admin Class #1414.

It is intended mainly to handle the actions with Post Transitions and/or AJAX, or anything that involves the Post Editor and the plugin.

* Post Transitions.
* AJAX.
* Process Input (sanitation & esc).

Most of the code could reside in the main admin class or aioseop_class.

[2017-12-14 02:05] EkoJr commented on #728
I noticed while messing with #1394, the scripts were using the old concept for enqueueing scripts, and have ran into this multiple times.

## WP Hooks

* Frontend - [wp_enqueue_scripts](https://codex.wordpress.org/Plugin_API/Action_Reference/wp_enqueue_scripts)
* Backend - [admin_enqueue_scripts](https://codex.wordpress.org/Plugin_API/Action_Reference/admin_enqueue_scripts)
* ~~Login - [login_enqu

[2017-12-14 02:24] EkoJr commented on #1289
This may be an idea that I've slowly been expanding on, and may be the same thing.

* WP Websites with AIOSEOP to cross communicate.
* NOT to be confused with only just the Multi-site. However, a Prototype could start with Multi-site.
* Avoid Keyword Spamming. It’s intended as an assistant when creating/editing content.
  * Spamming may have worked in the past, but google also considers the qualit

[2017-12-14 02:41] EkoJR opened #1416 "Content/Link Referencing"
This would add additional content about a link where information can be readily available or accessible. This could be particularly useful for websites with information, but could also be hidden so that it is still useful to search bots.

* Similar to tagging, but could have some hierarchical properties to follow content nesting.
* Dynamic save to get link information, and static save to manually

[2017-12-14 15:35] shendison commented on #957
For what it's worth, this would be a really nice addition. Whenever we encounter new clients using AIOSEO, our only solution for the issue has been to change their SEO plugin to "that other one" which does support excerpts for tags and categories, and we'd prefer not have to do that...

[2017-12-14 15:44] michaeltorbert commented on #1330
@contactashish13 Is there any disadvantage to loading locally for all browsers?

[2017-12-14 15:49] michaeltorbert commented on #1347
@contactashish13

1) Not that I'm aware of. Oversight?
2) Maybe we can just filter the built-in filter?  `apply_filters(add_filter('date_i18n` or something?
What are your thoughts?

[2017-12-14 15:50] michaeltorbert commented on #957
@shendison We'd prefer it as well. ;)

[2017-12-15 04:51] contactashish13 commented on #1347
@michaeltorbert I'd prefer to change both form to date_i18n and then add a filter for date_i18n

[2017-12-15 04:53] contactashish13 commented on #1330
@michaeltorbert the only disadvantage I see is that one additional request will be sent to the user's server which, considering the limited amount of things we load locally, is not a biggie.

[2017-12-15 05:19] michaeltorbert commented on #1330
That seems like a pretty small request though. My vote is ship it with the plugin if we really need it

[2017-12-15 05:21] michaeltorbert commented on #1347
Ok let's go with that. @contactashish13  You take charge of this

[2017-12-15 06:42] contactashish13 commented on #1347
@michaeltorbert PR: https://github.com/semperfiwebdesign/all-in-one-seo-pack/pull/1417

[2017-12-16 17:38] wpsmort commented on #1402
Reported again here - https://semperplugins.com/support/troubleshooting-all-in-one-seo-pack-pro/autogenerate-descriptions-not-working-for-some-regular-posts/#p7275

[2017-12-16 17:43] wpsmort commented on #1402
@michaeltorbert I have verified this is a bug.  Here are the steps to reproduce:

1. On a new site, install AIOSEOP and enable Autogenerate Descriptions
2. Create a post with an image as the first object followed by text.  The code should look like this:

[code]

3. Verify that there's no auto generated description in the Description field or the source code.

The auto generated description does w

[2017-12-17 10:57] wilfrantz opened #1418 "Don't know how to reactivate All in one SEO pro"
Hi,

I had to uninstall the All in one plugins to troubleshoot a bug, now that everything is back to normal, I don't know how to reactivate the pro version. I still have the product key .

[2017-12-18 08:34] contactashish13 commented on #1402
@wpsmort PR: https://github.com/semperfiwebdesign/all-in-one-seo-pack/pull/1420

[2017-12-18 10:52] contactashish13 commented on #1402
@wpsmort just realized that https://github.com/semperfiwebdesign/all-in-one-seo-pack/issues/1103 might be related to this

[2017-12-18 12:00] contactashish13 commented on #986
@wpsmort PR: https://github.com/semperfiwebdesign/all-in-one-seo-pack/pull/1421 solves part of the issue i.e. when you specify %post_title% in the description, now it will not add the blog title as the suffix.

Also seems related to #1408

[2017-12-18 17:06] arnaudbroes commented on #1418
@wilfrantz this is our development repository so I'm afraid we're unable to help you here. Please fill out this form and we'll be happy to help you - https://semperplugins.com/contact/

[2017-12-18 17:06] #1418 closed

[2017-12-20 16:30] EkoJR opened #1422 "Scan Post and create a List of SEO Items from Content"
This will take all potential elements for SEO, and creates a list to modify the post content from. Breif idea, items could include...

* Links.
    * Alt Text.
    * Possibly Link Quality.
    * Possibly Analytics Events (_ga).
* Header Structure (Possibly related to scanner issue/feature).
* Images.
    * Easier Access of data.

[2017-12-20 21:03] wpsmort opened #1423 "XML Sitemap - Don't include content from trashed pages"
Reported by Karl Bratby by email.

When you have images attached to a page or post and the page/post is moved to the trash, the image attachment pages still exist.   These image attachment pages can only be viewed when you're logged into the site.  If you have Media / Attachments included in the XML Sitemap then these URLs get included in the sitemap which results in 404 errors when the sitemap is

[2017-12-21 06:39] contactashish13 commented on #1392
@michaeltorbert PR: https://github.com/semperfiwebdesign/all-in-one-seo-pack/pull/1377

[2017-12-21 14:00] Monalisha786 opened #1424 "vvxv"

[2017-12-21 14:01] michaeltorbert commented on #1424
vvxv to you too

[2017-12-21 14:01] #1424 closed

[2017-12-22 21:13] wpsmort commented on #737
Requested again today by Matthias acheramann

[2017-12-23 09:57] contactashish13 commented on #1423
@wpsmort PR: https://github.com/semperfiwebdesign/all-in-one-seo-pack/pull/1425

[2017-12-23 15:47] michaeltorbert opened #1428 "Look at file_get_contents in sitemap class"
See if this can be improved in some way.

Some hosts can potentially have  a problem with seeking https://wordpress.org/support/topic/errors-creating-sitemap/#post-9808145

[2017-12-23 15:56] michaeltorbert commented on #1428
User reports error only comes on PHP 7.10

According to the changelog for PHP: "7.1.0 | Support for negative offsets has been added."
This should be investigated.

[2017-12-24 06:23] contactashish13 commented on #1399
@michaeltorbert I tested this and was unable to replicate either problem. All seems to work well.

[2017-12-24 07:47] jeremydenoun commented on #1399
For reproduce issue, you can follow this step :
1) setup a clean WP install
2) setup a multi-site and 2 site look like :
`blog.com/blog1
  blog.com/blog2`
3) setup aiosp with sitemap plugin
4) try to check result

[2017-12-26 06:54] contactashish13 commented on #1181
@michaeltorbert have added an action hook which is more generic. PR: https://github.com/semperfiwebdesign/all-in-one-seo-pack/pull/1429

[2017-12-26 07:40] contactashish13 commented on #752
@michaeltorbert PR: https://github.com/semperfiwebdesign/all-in-one-seo-pack/pull/1430

[2017-12-26 07:43] contactashish13 commented on #746
@michaeltorbert @wpsmort I believe this is related to https://github.com/semperfiwebdesign/aioseop-pro/issues/240 and is resolved by https://github.com/semperfiwebdesign/all-in-one-seo-pack/pull/1419

[2017-12-26 15:37] EkoJr commented on #1428
I've been able to reproduce the issue, and investigated it a bit, and it seems the main issue is the difference between remote and local. Both files are local, but the compression prefix is causing PHP to recognize the string file path to be a remote file. The .xml file however works fine.

The issue also seems to be the cause of another issue, and happens that the warning function used also throw

[2017-12-27 14:18] marhangelsky opened #1431 "All in One SEO Plugin is rearranging title tag"
What we thought was a OPD indexing issue initially, however looks like the title tag is being re formatted. Looks like all settings are set correctly. Has anyone else experienced this issue before? The title tag format displays with a : and - ex: center for dental excellence : dentist - orlando fl

We have the title tag set  Dentist - Orlando FL - Center For Dental Excellence

Any assistance is ap

[2017-12-27 14:19] marhangelsky commented on #1431
What we thought was a OPD indexing issue initially, however looks like the title tag is being re formatted. Looks like all settings are set correctly. Has anyone else experienced this issue before? The title tag format displays with a : and - ex: center for dental excellence : dentist - orlando fl

We have the title tag set Dentist - Orlando FL - Center For Dental Excellence

Any assistance is app

[2017-12-27 14:37] michaeltorbert commented on #1431
This is a development repository, not a support forum. Premium support is available for Pro customers which can be purchased here: https://semperplugins.com/all-in-one-seo-pack-pro-version/

[2017-12-27 14:37] #1431 closed

[2017-12-27 16:11] contactashish13 commented on #561
@wpsmort PR: https://github.com/semperfiwebdesign/all-in-one-seo-pack/pull/1432

I've tried to follow what https://wordpress.org/plugins/www-xml-sitemap-generator-org/ does for this - the RSS feeds are provided in 2 ways: one is the full sitemap in RSS form and another is the 20 latest posts where 20 can be changed by a filter. The full sitemap is called

[code]
and the sitemap that contains the 2

[2017-12-28 06:31] contactashish13 commented on #670
@michaeltorbert PR: https://github.com/semperfiwebdesign/all-in-one-seo-pack/pull/1433. I've tested #676 and I'm unable to reproduce it.

[2017-12-28 06:43] contactashish13 commented on #340
@EkoJr @michaeltorbert I have a suggestion: Instead of using

[code]
maybe it should be using

[code]
and if its a problem of ajax, we can consider checking for the constant DOING_AJAX

[2017-12-28 06:47] contactashish13 commented on #668
@michaeltorbert If this is for the dashboard widget SEO News feed, this seems to be already the case https://github.com/semperfiwebdesign/all-in-one-seo-pack/blob/master/admin/display/dashboard_widget.php#L82

[2017-12-28 09:58] contactashish13 commented on #538
@michaeltorbert @wpsmort PR: https://github.com/semperfiwebdesign/all-in-one-seo-pack/pull/1434

[2017-12-28 11:54] EkoJr commented on #1428
## Reproduce

Additional environmental conditions that may contribute to bug...

* Unknown Rewrite issue. Was possibly the main contributor to the PHP error message itself being triggered, but was not the root issue. In my case, it was the localhost URL that I suspected.

## 7.1.0+ PHP Development

It may already be assumed that this was an intended change with PHP, and when investigating the matt