[2018-11-21 17:04] githubeing commented on #2075
i think wordpress should always return a 200 code on empty category. it shouldn't be 404 because the category itself does exist, therefore its status should differ from a non-existent category which should return 404. therefore, i think that this is a bug of all-in-one-seo-pack that it doesn't apply `noindex` to these empty 200 pages. do you agree?

[2018-11-21 17:30] contactashish13 commented on #2077
@arnaudbroes what version are you testing with? Some features were rolled back by Ben recently as part of 2.9.1. If you can verify that this was removed from 2.9 which became 2.9.1, it would make it easier.

[2018-11-21 17:34] githubeing commented on #2075
i've created a bug report on wordpress for this (only for wordpress' itself fault), will see if they will confirm that
https://core.trac.wordpress.org/ticket/45393

[2018-11-21 17:40] wpsmort commented on #2075
@githubeing Thanks for creating the bug report on WordPress Trac.  We'll look into outputting NOINDEX and NOFOLLOW tags on empty taxonomy archives.

[2018-11-22 07:42] arnaudbroes commented on #2077
@contactashish13 agreed.

[2018-11-24 21:57] wpsmort commented on #1312
Requested again here - https://semperplugins.com/support/optimizing-all-in-one-seo-pack-pro/google-webmaster-tools-showing-paginated-pages/#p8434

[2018-11-24 22:34] rfischmann opened #2078 "Homepage's title is gone on 2.9.1"
I'm using version 2.8 without any issues.

If I update to 2.9.1, I lose my custom homepage's title. It just shows my site's URL.

Any help?

[2018-11-25 17:49] michaeltorbert opened #2079 "walkthrough"
We should discuss implementing a walkthrough. Is there reusable code in WP we can use?

<img width="588" alt="screen shot 2018-11-25 at 12 48 20 pm" src="https://user-images.githubusercontent.com/17364998/48982439-7739ff00-f0b0-11e8-874d-40a7165c2083.png">

[2018-11-25 19:55] michaeltorbert opened #2080 "API - aioseop_attachment_size filter doesn't always work"
Reported here: https://wordpress.org/support/topic/image-size-for-sharing-on-social-media/

From looking at the code, the filter only fires on get_the_image_by_attachment()
I *think* that the image settings have to be configured to attachment, and then on the post itself, don't select an image.

[2018-11-27 15:59] #1662 closed

[2018-11-27 17:32] k008 commented on #2054
@arnaudbroes, @michaeltorbert, @wpsmort

It turned out to set up a test environment.

So, when the error display is turned off, the error is not displayed (although it was shown on the working site), so I turned on the error output.

All that is required:
1. Go to admin panel
2. Update plugin
3. The error has already appeared

Login and password sent via the form, indicating this ticket

Ps.
If ne

[2018-11-27 17:33] k008 commented on #2054
@wpsmort
I'm sorry, I ran the check ...

Now everything works.

FTP is not available, I get access via ssh, now I will send data

[2018-11-27 17:37] wpsmort commented on #2054
@k008 Thanks, I have access now.  I updated All in One SEO Pack to v2.9.1 but don't see the error anywhere.

[2018-11-27 17:45] k008 commented on #2054
@wpsmort
Restored the site, updated the plugin and the error ...
Just in case, I copy backups to my computer, then I will provide access to the files.

[2018-11-27 18:57] wpsmort commented on #2054
I tracked down the problem to the aiosp_cpostactive option not being present in the aioseop_options array in the database table.  If I export the AIOSEOP settings from the test site then aiosp_cpostactive = 'a:2:{i:0;s:4:"post";i:1;s:4:"page";}' is missing.  If I add that then the problem is resolved.  Clicking Update Options in the plugin General Settings also resolves this because it adds that o

[2018-11-27 19:06] k008 commented on #2054
Need to install a new wp or restore test site?
You yourself can do it on your site or I have specific hosting settings

[2018-11-27 19:09] wpsmort commented on #2054
@k008 We don't need your test site any more.  We've been able to reproduce this.  The error can easily be resolved by clicking the Update Options button on the General Settings screen of All in One SEO Pack.  This adds the missing option to the database table which dismisses the error message.

[2018-11-27 19:11] k008 commented on #2054
Sorry, got it.
My help is no longer required?

[2018-11-28 13:51] michaeltorbert commented on #2072
This is on hold, pending us getting out the PRs we already have. This seems like something likely to cause merge conflicts.

[2018-11-29 07:07] contactashish13 commented on #2057
@wpsmort shouldn't the module be renamed to Sitemaps rather than XML Sitemaps as this can generate RSS as well?

[2018-11-29 12:53] ruebe0zahl opened #2081 "HTML Sitemap"
It would be great if there was also an HTML sitemap.
Either via menu item or via shortcode.

[2018-11-29 20:31] #2057 closed

[2018-11-29 20:51] arnaudbroes commented on #2057
@contactashish13 feel free to open an issue to discuss it.

[2018-11-30 03:48] contactashish13 opened #2082 "Rename module from XML Sitemaps to Sitemaps, as it generates RSS sitemaps too"

[2018-11-30 17:11] FactorExtremo opened #2083 "GA Code Does not appear"
Hello there, My Google Analytics Code does not appear in any page

regards

[2018-11-30 18:48] #2065 closed

[2018-11-30 20:41] wpsmort commented on #2083
@FactorExtremo Can you please provide the URL for your site.

[2018-11-30 21:08] FactorExtremo commented on #2083
Yes ,https://elsegurosocial.net/

[2018-11-30 23:09] wpsmort commented on #2083
@FactorExtremo Please follow the steps below:

- Go to All in One SEO > General Settings > Content Type Settings
- Make sure that SEO for Custom Post Types is set to Enabled
- Make sure you've ticked the checkboxes for Posts and Pages in SEO on only these post types
- Check the source code of your posts and pages to verify that the All in One SEO Pack Pro section is back and that your Google Analy

[2018-11-30 23:14] FactorExtremo commented on #2083
@wpsmort Thanks a lot, it's working now.

[2018-11-30 23:14] #2083 closed

[2018-12-02 14:17] michaeltorbert commented on #1884
@arnaudbroes Sounds like you volunteered to be that person. ;)

[2018-12-02 20:46] #2059 closed

[2018-12-03 14:38] wpsmort commented on #1313
Reported again here - https://semperplugins.com/support/general-all-in-one-seo-pack-pro-forum/canonical-link-on-paginated-pages/

[2018-12-03 21:16] wpsmort opened #2085 "NOINDEX / NOFOLLOW this page/post doesn't work on the WooCommerce Shop page"
NOINDEX / NOFOLLOW this page/post doesn't work on the WooCommerce Shop page.

Reported here - https://semperplugins.com/support/configuring-all-in-one-seo-pack-pro/woocommerce-removing-shop-page-from-sitemap/

[2018-12-03 21:20] wpsmort commented on #2085
This is also the case for the Exclude from Sitemap setting as well.  In fact, I can't see any way to exclude the Shop page from the XML Sitemap.

[2018-12-05 03:00] evallee opened #2087 "Litespeed Sitemap issue"
Hi,
Receiving an error
XML Parsing Error: not well-formed
Location: https://novelfinancial.ca/sitemap.xml
Line Number 20, Column 91:

I am using the Litespeed cache tool.  I tried using the same text provided for W3/WP-Rocket in the Exclude URI field, but no luck.

https://novelfinancial.ca/sitemap.xml is the file in question

[2018-12-05 03:41] michaeltorbert commented on #2087
That sitemap wasn't created with All in One SEO Pack.

[2018-12-05 03:41] #2087 closed

[2018-12-05 16:20] wpsmort opened #2088 "Use double quotes for pagination links"
Requested here - https://wordpress.org/support/topic/single-quotes-on-prev-next-links-in-archives/

We currently output the link rel=prev and link rel=next with single quotes.  We should consider changing this to double quotes like so:

[code]

[2018-12-05 17:47] brainssolutions opened #2089 "Social Meta Module - OG for WhatsApp, Telegram ecc."
**Is your feature request related to a problem? Please describe.**
The OG: Image tags With regard to the image in highlight is not displayed the same way on WhatsApp, Telegram etc.

**Describe the solution you'd like**
[code]

**Additional context**
The above mentioned code has been tested on the latest version of WordPress. It would be good to adapt it to your plugin.

[2018-12-06 15:36] #2027 closed

[2018-12-06 15:37] #2055 closed

[2018-12-06 15:41] wpsmort opened #2090 "Bad link to XML sitemap in 2.10 branch"
When you click on the view sitemap link it results in a 404 error because there's a trailing slash added to the URL, i.e.

http://domain.com/sitemap.xml/

This is only in the 2.10 branch.

[2018-12-06 15:42] #2029 closed

[2018-12-06 15:42] #2028 closed

[2018-12-06 15:47] H-K-P commented on #1660
Hi Michael,
I was wondering if there is any chance of getting this bug fixed soon?
I just checked and it is still the same as 7 months ago.
Regards and thanks,
Angus

[2018-12-06 15:53] #2090 closed

[2018-12-06 17:24] wpsmort opened #2095 "Undefined variable: num_terms in modules/aioseop_sitemap.php on line 476"
When activating Pro v2.11 I get this notice:

PHP Notice:  Undefined variable: num_terms in /wp-content/plugins/all-in-one-seo-pack-pro/modules/aioseop_sitemap.php on line 476

[2018-12-06 17:37] wpsmort opened #2096 "Undefined index: aiosp_cpostactive aioseop_class.php:953"
Reported here - https://wordpress.org/support/topic/error-messages-since-version-2-10/

Reported right after release of v2.10
Undefined index: aiosp_cpostactive /wp-content/plugins/all-in-one-seo-pack/aioseop_class.php:953

[2018-12-06 17:37] wpsmort opened #2097 "Non-static method WP_Feed_Cache::create() should not be called statically"
Reported here - https://wordpress.org/support/topic/error-messages-since-version-2-10/

Reported right after release of v2.10
Non-static method WP_Feed_Cache::create() should not be called statically /wp-includes/SimplePie/Registry.php:215

[2018-12-06 17:51] #2095 closed

[2018-12-06 18:01] wpsmort commented on #1650
Reopening this as it is not fixed and is still present.

[2018-12-06 18:14] EkoJR commented on #2096
I wasn't able to reproduce this, but I created a PR that may fix it.

[2018-12-06 21:25] rdrewniak opened #2100 "Character count JS 404 error"
I just updated to WordPress v5 as well as the latest version of All In One SEO, when I got a 404 error for the **count-chars.js** file.

[2018-12-06 21:53] michaeltorbert commented on #2100
Thanks for reporting this. Can you delete and reinstall the plugin and see if it's fixed for you?

[2018-12-06 21:59] rdrewniak commented on #2100
...You know what they say, the simplest solution is usually the correct one...

Sorry, I should have done that before reporting this.

[2018-12-06 21:59] #2100 closed

[2018-12-06 22:01] michaeltorbert commented on #2100
Don't be sorry. You really did find a bug. I just fixed it quickly and reinstalling applies it to your site. :)
Thank you for reporting it.

[2018-12-07 05:39] contactashish13 commented on #1650
@wpsmort PRs: https://github.com/semperfiwebdesign/aioseop-pro/pull/459 and https://github.com/semperfiwebdesign/all-in-one-seo-pack/pull/2101

[2018-12-07 14:17] bostmaguy commented on #1352
I'm having the same problem but the character count shows up after I save or publish but the count is wrong! And if I edit the description after I save or publish, it still won't accurately count the characters. Also happens with the Title as well.

[2018-12-07 14:26] RomanKashtanov opened #2102 "Problem with PageSpeed Ninja plugin - erasing "title" from page"
Please test your plugin with PageSpeed Ninja because working together these plugins makes global problem for SEO for Title - it starts using the site name, which is not in All in One SEO, but is in the general settings of the site

**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll

[2018-12-07 14:57] wpsmort commented on #2102
@RomanKashtanov Are you referring to this plugin - https://wordpress.org/plugins/psn-pagespeed-ninja/

Please provide exact details on how to reproduce the problem you are seeing.  If you can provide us with a login for a site where this issue can be seen then please send that to us using the secure form here - https://semperplugins.com/contact/support-login-information/

[2018-12-07 19:36] wpsmort commented on #1995
I've contacted the theme developer to notify him of this compatibility issue to see if it's something he can fix in the Avia Code block.

[2018-12-07 20:24] michaeltorbert commented on #2102
@RomanKashtanov I've edited your post to add in the bug report template which you should have used. At the moment, you haven't given us enough information to go on.

[2018-12-07 22:44] #2097 closed

[2018-12-09 00:18] michaeltorbert opened #2103 "sitemap 404s on nginx"
On Local by Flywheel, create a new site with nginx, and the sitemap is a 404. The xsl file and rss sitemap load.

[2018-12-09 01:34] michaeltorbert opened #2104 "Remove exabot from Bad Bot Blocker"
Reported here: https://wordpress.org/support/topic/alexa-com-is-blocked-by-bad-bot-blocker/

We block the bot, exabot, in our Bad Bot Blocker module. Unfortunately this also blocks Alexabot from alexa.com.
Code reference: https://github.com/semperfiwebdesign/all-in-one-seo-pack/blob/8a245b26873757ca5ed52c24323e99fbb6564370/admin/aioseop_module_class.php#L542

[2018-12-09 15:26] plykite opened #2105 "sitemap error"
Hello,
i tried to creat my sitemap but i get this error https://airdeslyonnais.fr/sitemap.xml

Thnk you for your help,

PAscal (Wordpress 4.9.8)

[2018-12-09 15:42] plykite commented on #2105
In chrome error message : 'This page contains the following errors:
error on line 3 at column 14: XML declaration allowed only at the start of the document
Below is a rendering of the page up to the first error.'

[2018-12-09 16:41] michaeltorbert commented on #2105
https://semperplugins.com/documentation/this-page-contains-the-following-errors/

[2018-12-09 16:41] #2105 closed

[2018-12-09 17:05] arnaudbroes commented on #2103
Same as #945?

[2018-12-09 19:12] michaeltorbert commented on #2103
Yep.

[2018-12-09 19:12] #2103 closed

[2018-12-10 15:43] elefly2297 opened #2108 "SEO box now displayed in the middle of my post"
The SEO box at the bottom of the section where you create posts is now right in the middle of some posts and it covers my content and I can't edit. Some posts have it stuck more towards the bottom and it won't allow me to scroll through my post. Please advise.

Thank you,
Jamie

[2018-12-10 16:53] michaeltorbert commented on #2108
Please try these troubleshoot steps to narrow down a plugin or theme conflict. Make sure to clear your browser’s cache, server cache, and any other caching you have.
https://www.google.com/amp/s/semperplugins.com/documentation/how-to-troubleshoot-issues-with-all-in-one-seo-pack/amp/

[2018-12-11 13:38] msslovi0 opened #2109 "Bug - Wrong canonical on paginated article list"
We use the latest version 2.10, we have „Canonical URLs“ on and „No pagination for canonical URLs“ off. However, the canonical on https://www.cross-channel-lawyers.de/page/2/ still points to https://www.cross-channel-lawyers.de/.
Custom canonicals are also turned off.

[2018-12-12 15:39] iMiMx commented on #1751
Theme Settings -> Shop Filters -> AJAX

[2018-12-12 17:08] wpsmort commented on #2109
@msslovi0 This is a development repository and not a support forum.  Please start by following the troubleshooting steps here - https://semperplugins.com/documentation/how-to-troubleshoot-issues-with-all-in-one-seo-pack/

[2018-12-12 19:32] msslovi0 commented on #2109
The link I followed from Wordpress says „Report a bug“. So I did as this is a bug. If you don't want bug reports, don't put that link in wordpress.

[2018-12-12 19:37] wpsmort commented on #2109
@msslovi0 I directed you to those troubleshooting steps just to ensure it's not a problem caused by your theme or another plugin.  Can you please send us an Administrator login for your site using the secure form here and we can troubleshoot this - https://semperplugins.com/contact/support-login-information/

[2018-12-12 23:24] wpsmort opened #2110 "XML Sitemap: Incorrect encoding of special characters"
In AIOSEOP v2.9 we added the <image:caption> and <image:title>.  However, some special characters are not being encoded correctly when output in the <image:caption> and <image:title> tags.

The special characters are:

- Apostrophe '
- and &
- quotes "

Steps to reproduce the behavior:
1. Go to a post and add a new featured image
2. Set an image title and caption that have the special characters l

[2018-12-13 23:22] wpsmort commented on #2109
I've confirmed that this is a compatibility issue between AIOSEOP and the Salient WPBakery Page Builder (http://themenectar.com/docs/salient/page-builder-general/) plugin.  This plugin is a modified version of the WP Bakery plugin.  It was modified by Nectar Themes for use with their themes.

This plugin adds some new elements to the page builder.  One of these elements is a Blog element which wil

[2018-12-14 15:40] wpsmort commented on #1313
Update from the user who reported this:

I have checked the source code and found the following issue, which should be confirmed by the Dev Team, as they know the source code better. But I think this should be the solution/reason:

File: aioseop_class.php
Function: function get_paged( $link )
Line: 2778
Code: $link = trailingslashit( $link ) . “$page”;

This can not work correct, as the $link is g

[2018-12-14 15:43] wpsmort commented on #1313
@arnaudbroes Can you reproduce the problem and then test the solution provided by the user.  If it works and doesn't break anything else then you can create a PR for this.

[2018-12-15 15:16] arnaudbroes opened #2111 "% in title breaks title format macros"
Placing an % in the title seems to break all macros (e.g. %post_title%) that follow after it.

In order to reproduce this issue, follow these steps:

1. Install All in One SEO Pack on a new test site
2. Go to the General Settings and set the title format of Posts (example) to %post_title% | %post_title%
3. Create a new Post and add a random title without a %. You'll see that the title is just fine

[2018-12-15 15:37] arnaudbroes commented on #1313
@wpsmort I'm not able to reproduce this. Tested with the homepage and a random page.
![image](https://user-images.githubusercontent.com/18156697/50044692-c52a9d00-0087-11e9-9b9f-253770cd050b.png)

[2018-12-15 15:42] arnaudbroes commented on #2102
I'm not able to reproduce this nor have we received more information so I'm closing this until @RomanKashtanov provides more information.

[2018-12-15 15:42] #2102 closed

[2018-12-15 15:45] arnaudbroes commented on #2010
I'm closing this until we receive more information from @nmurciano.

[2018-12-15 15:45] #2010 closed

[2018-12-17 05:50] contactashish13 opened #2114 "Regular release schedule + releasing RCs"
We may want to look into

- making a regular release schedule e.g. on the 2nd Wednesday of every month as this would benefit users knowing we have a regular schedule instead of our current irregular method. This would also benefit us by not pushing everything possible into one release and thereby causing am implosion (like in 2.9).
- releasing RCs before full fledged releases so that things can be

[2018-12-17 06:00] contactashish13 commented on #1003
@michaeltorbert wrt our conversation on Slack, I had already mentioned https://github.com/semperfiwebdesign/all-in-one-seo-pack/issues/1003#issuecomment-422250153 :)

Another alternate way to go about handling guest PRs is by running grunt through travis only on the master branch. I'm not a big fan of this as, I believe, the master build publishes the wp.org and should be a fire-and-forget deploym

[2018-12-17 09:46] HelenD123 opened #2115 "bug"
1) When I post to Facebook it is showing the title of my blog not the title of the post and no meta description. However when sending through Hootsuite it shows correctly but still does not post properly.

2) When I tweet, sometimes it shows the picture and meta description and sometimes not

Please can you advise?
Thanks

[2018-12-17 15:52] martijnrusschen commented on #2096
Still seeing this issue. Example: https://studio-hoogeveen.nl/.

[2018-12-17 15:53] wpsmort commented on #2115
@HelenD123 This is a development repository, not a support forum.

You can find troubleshooting steps here https://semperplugins.com/documentation/troubleshooting-incorrect-social-meta-when-sharing-or-publishing-content/
or access premium support here https://semperplugins.com/all-in-one-seo-pack-pro-version/

[2018-12-17 15:53] #2115 closed

[2018-12-17 15:57] wpsmort commented on #2096
@martijnrusschen Can you confirm you are running version 2.10.1 of All in One SEO Pack which has the patch for this.  If you are, then please can you let us know the exact steps to reproduce this and can you send us an Administrator login for your site using the secure form here - https://semperplugins.com/contact/support-login-information/

[2018-12-17 15:59] wpsmort commented on #2114
@contactashish13 I'm all in favor of having a release schedule as you suggest.

[2018-12-17 16:39] martijnrusschen commented on #2096
Yep see below:
![screenshot 2018-12-17 at 5 38 02 pm](https://user-images.githubusercontent.com/1412392/50101216-85e48380-0222-11e9-85c9-677b3b6dc0e2.png)

I'd like to avoid sharing Admin credentials, it seems this started to happen after the Wordpress 5 upgrade. There was an upgrade for the plugin available at that time, which I executed as well, but it didn't resolve the errors I'm seeing.

[2018-12-17 16:42] EkoJR commented on #2114
I would be partially in favor, and would lean more towards **Quarterly Releases** for major versions; since that seems to be roughly how often we've released versions.

I believe there are other things that should be addressed; primarily with workflows. Implementing some form of Scrum might naturally cause the team to be more organized as a whole, and setting up an Agile workflow might also make t

[2018-12-17 18:15] zoelarkin opened #2116 "Error message: Notice: Undefined variable: post_type in /home/zoes0702/public_html/zoelarkin.com/wp-content/plugins/all-in-one-seo-pack/aioseop_class.php on line 4235"
I know that and have seen the previous thread on this, but it didn't seem to work adding the code that was suggested.

Pages that it happens are category pages of my blog, showing each category that I have set up on my blog section of my website.

https://zoelarkin.com/category/engagement-proposal/
https://zoelarkin.com/category/intimate-wedding/
https://zoelarkin.com/category/album-print/

like t

[2018-12-17 19:18] michaeltorbert commented on #2116
So that we don't have to hunt around, please link to things you're referencing, like "the previous thread on this" and "the code that was suggested".

[2018-12-17 19:19] michaeltorbert commented on #2116
@zoelarkin So that we don't have to hunt around, please link to things you're referencing, like "the previous thread on this" and "the code that was suggested".

[2018-12-17 19:25] michaeltorbert commented on #2114
I agree wholeheartedly with @contactashish13's suggestions.

@EkoJR The problem with quarterly releases is that we'd be packing too much into each release, opening us up to more bugs than with more frequent releases, such as monthly.
I've not participated in scrum or agile workflows, what aspects of those do you think would help?

[2018-12-17 19:39] zoelarkin commented on #2116
Thank you @michaeltorbert ! https://github.com/semperfiwebdesign/all-in-one-seo-pack/issues/1491 and the code is below. Apologies in advance I'm not a 'github' person and don't know anything about coding. I'm just a photographer. But I'll definitely provide all the info I can!!

Method 1
Uses the same concept as before, but checks the value.

$haspost = false;
if ( ! empty( $query->posts ) ) {
	$h

[2018-12-17 19:41] arnaudbroes commented on #2114
I'm in favour of working with Scrum, but we'll need to come up with a good strategy to make it work because besides Steve and Michael we're all freelancers with shifting availibility and different time zones.

@michaeltorbert stuff like daily standups are obviously things we're not able to effectively implement, but working with sprints (ideally biweekly or monthly ones) might be a big step forwar

[2018-12-17 19:50] arnaudbroes commented on #2096
@martijnrusschen om de waarschuwing te verbergen (aangezien het vermoedelijk om een website van een klant gaat) kan je trouwens in de tussentijd in het wp-config.php-bestand van de website debugging uitschakelen.

[2018-12-17 19:53] arnaudbroes commented on #1003
I don't want to disturb the party here, but can anyone explain to me why these things can't be done with a few plugins in PHPStorm?

[2018-12-17 19:57] EkoJR commented on #2116
Looks like this was introduced in commit ebf2c686fa106e9d0aa908ec68d12ef297780b17

For this, I see a better solution by moving `$post_type = get_post_type();` to the line above the If check.

https://github.com/semperfiwebdesign/all-in-one-seo-pack/blob/master/aioseop_class.php#L4241 to https://github.com/semperfiwebdesign/all-in-one-seo-pack/blob/master/aioseop_class.php#L4223

[2018-12-17 20:18] arnaudbroes opened #2118 "2nd and subsequent pages of paginated homepage have no rel="next" link"
Works fine on regular pages.

In order to reproduce this, follow these steps:

1. Install All in One SEO Pack Pro on a fresh test site
2. Create a paginated page with at least three pages and set it as the static homepage
3. Go to the second page and check the source code. There should be a rel="next" link to the third page, but there isn't.

[2018-12-17 20:19] arnaudbroes commented on #2118
@wpsmort please confirm if this, then mark it as "has been reproduced" and assign it to a developer.

[2018-12-17 20:31] EkoJR commented on #2114
@michaeltorbert Between major and minor version releases, I was trying to refer to major version releases. Which may have been interpreted as in general. Monthly releases would be good, just some worry it may rush updates as an affect.

I was leaning towards bi-weekly for Scrum. It's essentially the development team discussing reports and planning. Giving everyone a better idea which tasks to hand

[2018-12-17 20:36] arnaudbroes commented on #2114
@EkoJR  I agree on bi-weekly updates, and I also like your idea to split up scrums into different teams. The idea is not to rush anything though. We release whatever code is finished and tested properly and anything else transfers onto the next sprint.

[2018-12-17 20:55] wpsmort commented on #2114
I'm not sure we have a need to split Scrums into groups.  We have such a small team, and our focus is on development, that we should just need one group.  Your suggestion of bi-weekly updates is good.

[2018-12-17 21:12] wpsmort commented on #2118
I have been able to reproduce this by following the steps above.

[2018-12-17 23:33] amostajo commented on #1003
Got notified about this, just dropping a little grain of salt here... @arnaudbroes forcing the entire development and team members to only work with one IDE is not a good idea, more knowing that IDEs such as PHPStorm are not very efficient with the computer's resources (RAM and CPU consumption).

This is why it is better to have a solution, like grunt or gulp, which is cross-platform and can be us

[2018-12-18 17:48] githubeing commented on #2075
I confirm that in version 2.10 the bug doesn't reproduces anymore. 👍 Thanks!

[2018-12-18 18:43] arnaudbroes commented on #2075
I've confirmed that this bug is now fixed. @githubeing thank you for your cooperation.

[2018-12-18 18:43] #2075 closed

[2018-12-18 22:37] wpsmort commented on #1995
The theme developer responded and asked me to test this with the latest version of their theme, v4.5.2.  I tested but the same problem still exists.  I notified the theme developer of this.

[2018-12-19 02:51] zoelarkin commented on #2116
@michaeltorbert ooops, so sorry. I'll stay off the thread from now on and let you get on with it

[2018-12-19 03:18] michaeltorbert commented on #2114
continuing this in slack...

[2018-12-19 03:18] #2114 closed

[2018-12-19 05:41] contactashish13 commented on #1003
@michaeltorbert that can be automated through travis and a droplet as well.

@EkoJR can you please confirm https://github.com/semperfiwebdesign/all-in-one-seo-pack/issues/1003#issuecomment-447731437?

[2018-12-19 14:23] wpsmort commented on #72
Requested again by David Young (email)

[2018-12-19 16:43] EkoJR commented on #1003
@contactashish13 As far as I know, I already confirmed it back on the 1st of October via Slack

[2018-12-19 18:14] RUSxDeviL1979 opened #2119 "please tell me when will add Yandex webmaster ?"
https://prnt.sc/lx40fp

please tell me when will add Yandex webmaster ?

[2018-12-19 19:01] RUSxDeviL1979 commented on #875
please tell me when will add Yandex webmaster ?

[2018-12-19 19:19] wpsmort commented on #2119
Duplicate of #875

[2018-12-19 19:19] #2119 closed

[2018-12-19 19:21] wpsmort commented on #875
@RUSxDeviL1979 This is on our roadmap but we don't have a release date as yet.  We'll update this issue when we do have one.

FYI... you can add the HTML code for Yandex Webmaster verification in the Additional Headers fields under All in One SEO > General Settings > Advanced Settings - https://semperplugins.com/documentation/all-in-one-seo-pack-advanced-settings/

[2018-12-20 19:56] wpsmort commented on #2116
This appears to be a duplicate of #1798 and the proposed change in PR #2117 appears to be the same change that's in PR #1825.  @EkoJR Please confirm this.

I tested PR #2117 but it results in the same problem as I reported here - https://github.com/semperfiwebdesign/all-in-one-seo-pack/issues/1798#issuecomment-412670589 where the nofollow tag is changed.

[2018-12-20 21:45] arnaudbroes commented on #2118
I've also troubleshooted a website where the homepage was paginated using the Advanced Custom Fields plugin and no rel="next" nor rel="prev" links were present in the source code, so the issue could be a bit broader. I've got a clone on CW.

[2018-12-21 17:41] EkoJR commented on #2116
Looks like it is a duplicate.

Although, it looks like code was duplicated to satisfy the end result. So, I'll need take another look at the function's concept itself, and see if I can refactor it back into 1 code. https://github.com/semperfiwebdesign/all-in-one-seo-pack/issues/1798#issuecomment-427028209

[2018-12-21 22:27] wpsmort opened #2120 "Enfold page builder layout broken"
Reported by Iskan Ibragimov by email on 12/18.

When the Social Meta module is active, the frontend page layout of a page built using the Enfold theme Avia page builder is broken.

[2018-12-24 15:40] michaeltorbert opened #2121 "Remove Google+ (and two filter hooks)"
Google+ is shutting down in a few months, so we should be prepared to remove any associated functionality such as rel="publisher".
https://9to5google.com/2018/12/21/google-apis-shut-down-date/

I've tentatively assigned a 3.3 milestone, but we can adjust that up or down as appropriate.

[2018-12-24 15:43] michaeltorbert commented on #140
We should revisit this in light of G+ shutting down soon.

[2018-12-25 15:41] DjMorgul commented on #1947
I confirm it was a bbPress issue. I identified where the problem was, and reported it to their bug tracker: https://bbpress.trac.wordpress.org/ticket/3234

Now I just created a patch to fix the issue, which works finely on my site, and will prevent bbPress from messing up with foreign queries in such a way (with their code to exclude private forums and their topics and replies). It's attached to t

[2018-12-25 15:45] DjMorgul commented on #1629
I believe this was already addressed and solved by bbPress. That's probably how they broke your sitemap's query from returning other posts than bbPress related (the cause for issue #1947 in here).

[2018-12-26 02:22] silentmedia opened #2122 "Extra | in Title"
Hello,

I have set Product Title Format: (product)
%post_title% | %blog_title%

But it keeps adding and extra | in title to all meta tags (as below):
Near Wall TV Floor Stand, VESA Ready, 23″-55″ TVs | | Forest-AV.com

WooCommerce + Flatsome Theme.  There is no setting in Theme adding this.

Regards,
Jasbir

[2018-12-26 09:30] arnaudbroes commented on #2122
@silentmedia this is a development repository; not a support forum. If you'd like access to our support resources, then you can purchase a license on our website and create a forum thread in our premium support forums - https://semperplugins.com/all-in-one-seo-pack-pro-version/

[2018-12-26 09:30] #2122 closed

[2018-12-26 09:43] arnaudbroes commented on #2116
I believe this might be a duplicate of #1985 also.

[2018-12-26 22:09] michaeltorbert opened #2123 "Add Last Change date to sitemap index"
Requested here: https://wordpress.org/support/topic/add-last-update-in-sitemap-xml/

[2018-12-27 09:09] arnaudbroes commented on #2123
Related to #1986.

[2018-12-27 15:20] michaeltorbert opened #2124 "aiosp_sitemap_daily_update_cron is clearing rewrite rules"
Copied from https://wordpress.org/support/topic/aiosp_sitemap_daily_update_cron-is-clearing-rewrite-rules/

"
After updating latest version last week, our website was showing 404 on all pages and posts suddenly after a specific time each day and when I digging into various plugins and custom made theme, I found out that “aiosp_sitemap_daily_update_cron” CRON JOB is clearing out “rewrite_rules” val

[2018-12-27 15:31] adiie9 commented on #2124
SELECT * FROM `wp_options` WHERE option_name LIKE '%aiosp%'
is showing only:
aiosp_sitemap_cron_last_run
_transient_timeout_aiosp_sitemap_rules_flushed
_transient_aiosp_sitemap_rules_flushed

on aioseop_sitemap.php print_r($this->options) shows the follow:
Array
(
    [aiosp_sitemap_filename] => sitemap
    [aiosp_sitemap_google] =>
    [aiosp_sitemap_bing] =>
    [aiosp_sitemap_indexes] =>
    [a

[2018-12-27 15:40] adiie9 commented on #2124
I have disabled 'Dynamically Generate Sitemap' and it works fine now, generating new sitemap.xml and not resetting rewrite_rules  to BLANK which causes 404 on all pages.
I have this option enabled since I am using this plugin which is like around 2 years but this update is having issue with dynamic option.

[2018-12-27 15:44] michaeltorbert commented on #2124
@adiie9
Disabling dynamic sitemaps isn't a good long-term solution. The static sitemap is outdated and will be deprecated soon so it's best if we figure out what's causing the problem.
Use these troubleshooting steps to narrow down a plugin or theme conflict: https://semperplugins.com/documentation/how-to-troubleshoot-issues-with-all-in-one-seo-pack/

[2018-12-27 18:13] wpsmort commented on #2116
@EkoJR Feel free to take a look but make sure to discuss with @contactashish13 as he's looked at this code and determined that in order to solve this PHP notice, the code will probably need a complete rewrite.  I'm closing this issue in favor of #1798

[2018-12-27 18:13] #2116 closed

[2018-12-27 18:19] wpsmort commented on #1629
@DjMorgul I just tested with Version 2.5.14 of bbPress and the problem is still present.  Do you know if the fix has been released by bbPress?

[2018-12-27 19:30] adiie9 commented on #2124
@michaeltorbert Please ignore the issue related to WP Super Cache, I have added sitemap.xml in ignore list of cache.
Thanks for your help :)

[2018-12-28 00:05] EkoJR commented on #2116
@wpsmort That does seem to be the case, and I'll probably take a look.

[2018-12-28 15:08] suwaih opened #2125 "القنطري يهنئ عكاشة برئاسة الاتحادات العربية"
القنطري يهنئ عكاشة برئاسة الاتحادات العربية
تقدم رئيس الهيئة العامة للشباب والرياضة الدكتور بشير القنطري بالتهنئة للأستاذ مصطفى عكاشة رئيس الاتحاد العربي للكرة الحديدية بمناسبة حصوله على عضوية المكتب التنفيذي لاتحاد الاتحادات العربية والذي عُقد مؤخراً في دولة الإمارات العربية المتحدة.
حيث أعرب القنطري خلال لقائه بعكاشة وأمينه العام محمود الطويل عن استعداد ليبيا لتقديم الدعم اللازم لإنجاح عمل الكوا

[2018-12-28 15:47] michaeltorbert commented on #2125
According to Google Translate this is spam.

[2018-12-28 15:47] #2125 closed

[2018-12-28 16:10] #2124 closed

[2018-12-28 23:35] wpsmort opened #2126 "Static pages included twice in sitemap"
Reported here - https://semperplugins.com/support/troubleshooting-all-in-one-seo-pack-pro/sitemap-lists-same-url-twice-with-two-different-dates-of-updates/

The WooCommerce Shop page is included twice in the XML Sitemap and can the two entries may have different Priority, Frequency and Last Change date.

Steps to reproduce the behavior:
1. Install WooCommerce and AIOSEOP on a new site
2. Ensure th

[2018-12-28 23:36] wpsmort commented on #2126
@arnaudbroes Can you test back through the old versions of AIO and see if this has always been the case or is new.

[2018-12-29 19:42] wpsmort commented on #2120
This is quite difficult to reproduce, here are the steps:

Environment: WordPress v5.0.2, AIOSEOP v2.10.2, Enfold v4.5.2

1. Create a page using the Enfold page builder
2. Add a Color Section from the Layout Elements
3. Edit the Color Section and add a Custom Background Image on the Section Background tab
4. Add a Text Block inside the Color Section
5. Add a Text Block below the Color Section
6. T

[2018-12-31 10:30] arnaudbroes opened #2127 "Meta box appears in the middle of the Gutenberg editor when using Hestia theme"
I confirmed this on a user's site running v1.1.73. I'll need to check whether this is also the case with the latest version of the theme.

[2018-12-31 18:35] #1650 closed

[2019-01-03 20:31] wpsmort commented on #1995
@InoPlugs I tested that patch and it works great.  We were able to output the meta description with the Run Shortcodes option checked and the page content was not broken.

I will close this issue as you are patching this in your code.

Have you had a chance to look at Issue #2120 which is also a compatibility issue with Enfold?

[2019-01-03 20:31] #1995 closed

[2019-01-04 21:07] iKarel opened #2128 "All in One SEO Pack overlays text in Gutenberg"
The SEO fields overlay the text. This makes it impossible to write longer pages, posts ...
I use Chrome on a Macbook Pro.

![schermafbeelding 2019-01-04 om 22 05 21](https://user-images.githubusercontent.com/29686660/50711008-f7b72c80-106c-11e9-9cd7-a61f880f9117.png)

[2019-01-04 21:31] michaeltorbert commented on #2128
Hi @iKarel
Thanks for reporting this. We're unable to reproduce it.
Try these steps to narrow down a possible plugin/theme conflict.

[2019-01-05 14:03] InoPlugs commented on #1995
@wpsmort

Sorry - no.

I added an issue to our dev repo - I will try to have a look at it next week :)

[2019-01-05 14:12] iKarel commented on #2128
It was a conflict with another plugin: Form Maker. It’s okay now.

Met vriendelijke groet
Kind Regards

Karel Overlaet
Medianaut - nautical news and photos
VAT.: BE 0861.429.581
M.: + 32 487 41 42 58

[2019-01-07 14:04] michaeltorbert opened #2129 "Warning: “continue” targeting switch is equivalent to “break”"
Reported here: https://wordpress.org/support/topic/warning-continue-targeting-switch-is-equivalent-to-break-3/

[2019-01-07 18:34] wpsmort opened #2131 "XML Sitemap - Improve sitemaps for multi-language sites"
Related to #941.

Currently we create different sitemaps for each language.  We do this regardless of whether the translated content is in subdirectories, subdomains or their own domains.

For sites where translated content is in subdirectories, Google recommends including every language variation for each URL in the same sitemap.  Here is Google's article about this - https://support.google.com/w

[2019-01-07 18:34] wpsmort commented on #941
Google has the following article about this - https://support.google.com/webmasters/answer/189077?hl=en.  This article recommends using one XML Sitemap listing every language variation for each URL.

However, this would only work when submitting each language is in a subdirectory, for example:

http://domain.com/en/
http://domain.com/fr/

This won't work if each language is in a sub domain (http:/

[2019-01-09 14:18] wpsmort commented on #1386
Requested by Paul Hammond by email.

[2019-01-09 16:30] wpsmort commented on #1747
Reported again by sam by email today.

[2019-01-10 00:33] Lawtaker opened #2134 "Bug - Post Title Format is ignored for posts with no title"
One of my blogs consists of a series of fairly short notes on current events and suchlike. I do not set the titles for them.

When both the WP and the SEO Pack titles of a post are missing, SEO Pack ignores the Post Title Format setting. For example, it may be

%blog_title% | %post_author_firstname% %post_author_lastname%

But it fails to rewrite the title to that or any other value in that textbo

[2019-01-10 07:41] gena8208 opened #2135 "Fatal error"
Fatal error: ob_start() [<a href='ref.outcontrol'>ref.outcontrol</a>]: Cannot use output buffering in output buffering display handlers in .../wp-content/plugins/wordpress-seo/frontend/class-frontend.php on line 1813

[2019-01-10 14:39] michaeltorbert commented on #2135
That's a different plugin causing that error. Disable Yoast and the error should go away.

[2019-01-10 14:39] #2135 closed

[2019-01-10 17:31] wpsmort commented on #2008
Reported again - https://wordpress.org/support/topic/option-to-disable-sitemap-generation-on-post-create-update/

[2019-01-10 20:05] arnaudbroes opened #2138 "Hide Exclude Categories when there are no categories besides uncategorized"
This is just a minor thing we could improve. Might not be needed after https://github.com/semperfiwebdesign/aioseop-pro/issues/240.

![image](https://user-images.githubusercontent.com/18156697/50993989-4c4e2200-151b-11e9-8d45-618c466b3ce3.png)

[2019-01-10 20:30] arnaudbroes opened #2139 "Add recommended and/or max. amount of chars for og:title and og:description"
We might want to consider this:

[2019-01-10 20:52] wpsmort commented on #2139
@arnaudbroes Are you recommending we change the text and the character counter (yellow and red levels) under the Title and Description fields on the Social Settings tab?  If not, what are you recommending?

[2019-01-10 21:27] wpsmort opened #2140 "Social Meta - Update the list of Facebook Object Types"
Requested here - https://semperplugins.com/support/general-all-in-one-seo-pack-pro-forum/cant-change-facebook-object-type/

We need to update the list of Facebook Object Types in the drop down in the main Social Meta settings and on the Social Settings tab on the Edit Post screen.

Here's the current list of Facebook Object Types: https://developers.facebook.com/docs/reference/opengraph#object-typ

[2019-01-10 23:52] wpsmort commented on #1747
@arnaudbroes Were you able to track down which version and which commit broke this?  If not, can you do this so we can better understand what changed caused this conflict.

[2019-01-11 15:30] wpsmort commented on #1929
Ashish and I have discussed auto-enabling sitemap indexes and pagination on sites with over x number of URLs.  This was discussed because of the problems reported in #2008 and #2014 where users with large sites reported 500 and 503 errors with their large sites when updating to v2.9.

[2019-01-13 13:13] arnaudbroes commented on #1929
I'm all for default sitemap indexing. I don't see a reason not to.

[2019-01-13 13:42] arnaudbroes commented on #2139
@wpsmort I recommend the following:

1. OG:title
< 55 => green

2. OG:description
< 55 => green

Also, we need to add the counter to the Home Title and Home Description fields in the Social Meta menu. Let me know what you think. We might want to separate this into two specific issues.

[2019-01-13 16:48] arnaudbroes commented on #1747
@wpsmort I tracked this down to 2.2.3, which is when the "Run shortcodes in the description" was introduced, which means that it never worked.

[2019-01-13 17:35] arnaudbroes opened #2141 "apply_post_title_format() sometimes called on page/custom post type"
Reported by @harryrobbins #2137.

I have not been able to reproduce this yet.

[2019-01-13 17:35] arnaudbroes opened #2142 "apply_post_title_format() sometimes called on page/custom post type"
Reported by @harryrobbins #2137.

[2019-01-13 17:36] arnaudbroes commented on #2141
Not sure why but GitHub opened two instances of this issue.
Closing this one. #2142

[2019-01-13 17:36] #2141 closed

[2019-01-13 17:48] arnaudbroes opened #2143 "Help link text in menu meta box overflows when using Japanese locale"
Reported by @mayukojpn #2133.

[2019-01-14 16:14] vit1260 opened #2144 "SEO Missing Data"
Hello - We use the free version of All in One SEO on our WordPress site. We've recently discovered that a great majority of our posts seem to have lost their SEO data (title, description, keywords, and image). In looking at the long list of all of our posts, it seems that the posts between 12/21/2018 and 5/30/2018 are missing data. That said when we click into the posts, some of them actually do s

[2019-01-15 16:36] wpsmort commented on #2139
@arnaudbroes I agree with your recommendations.

We have #1337 open for adding the counter to the Home Title and Home Description fields under the Social Meta settings.

[2019-01-15 22:33] arnaudbroes opened #2145 "Learnpress LMS lessons display course title instead of own title"
Looks like our plugin is taking the title of the course instead of the lesson. We might be able to improve this a bit, but someone will need to look into that.

https://wordpress.org/support/topic/lms-site-lessons-are-not-displaying-meta-title-set-at-plugin-2/

[2019-01-16 23:40] #2143 closed

[2019-01-17 04:01] Pikamander2 commented on #1867
I'm also in need of this.

[2019-01-17 17:58] EkoJR opened #2148 "Fix undefined variables in Sitemap ( $prio_options & $freq_options )"
This is part of the WPCS PR changes that occured from #2084

This appears it could be a possible bug/warning-notice.

Fix areas marked `// TODO Fix undefined variable.`.

https://github.com/semperfiwebdesign/all-in-one-seo-pack/blob/a7f01e2289ee6e16a276e529d91f156ab65c6fc3/modules/aioseop_sitemap.php#L407

https://github.com/semperfiwebdesign/all-in-one-seo-pack/blob/a7f01e2289ee6e16a276e529d91f15

[2019-01-17 17:58] EkoJR commented on #1614
This is part of the WPCS PR changes that occured from #2084

Sitemap where areas are marked as `// TODO Change to wp_parse_url().`

https://github.com/semperfiwebdesign/all-in-one-seo-pack/blob/a7f01e2289ee6e16a276e529d91f156ab65c6fc3/modules/aioseop_sitemap.php#L2380

https://github.com/semperfiwebdesign/all-in-one-seo-pack/blob/a7f01e2289ee6e16a276e529d91f156ab65c6fc3/modules/aioseop_sitemap.php

[2019-01-17 17:58] EkoJR opened #2149 "Add 'true' in 3rd ard in in_array()"
This is part of the WPCS PR changes that occured from #2084

Areas marked as.

`// TODO Add `true` in 3rd argument with in_array(); which changes it to a strict comparison.`

https://github.com/semperfiwebdesign/all-in-one-seo-pack/blob/a7f01e2289ee6e16a276e529d91f156ab65c6fc3/modules/aioseop_sitemap.php#L883

https://github.com/semperfiwebdesign/all-in-one-seo-pack/blob/a7f01e2289ee6e16a276e529d9

[2019-01-17 17:58] EkoJR opened #2150 "Code Refactor - Move Nonce verification"
This is part of the WPCS PR changes that occured from #2084

There is no nonce security check.

https://github.com/semperfiwebdesign/all-in-one-seo-pack/blob/a7f01e2289ee6e16a276e529d91f156ab65c6fc3/modules/aioseop_sitemap.php#L905

[2019-01-17 17:58] EkoJR opened #2151 "Change to prevent direct access to $_POST"
This is part of the WPCS PR changes that occured from #2084

Areas marked as

`// TODO Add/Change to filter_input().`

https://github.com/semperfiwebdesign/all-in-one-seo-pack/blob/a7f01e2289ee6e16a276e529d91f156ab65c6fc3/modules/aioseop_sitemap.php#L956

https://github.com/semperfiwebdesign/all-in-one-seo-pack/blob/a7f01e2289ee6e16a276e529d91f156ab65c6fc3/modules/aioseop_sitemap.php#L959

https:/

[2019-01-17 17:58] EkoJR opened #2152 "Change urlencode() to rawurlencode()"
This is part of the WPCS PR changes that occured from #2084

Area marked as

`// TODO Change urlencode() to rawurlencode().`

https://github.com/semperfiwebdesign/all-in-one-seo-pack/blob/a7f01e2289ee6e16a276e529d91f156ab65c6fc3/modules/aioseop_sitemap.php#L1641

[2019-01-17 19:53] wpsmort commented on #1747
Thanks @arnaudbroes. I'll leave this assigned to you as the owner.  I'll remove the high priority as this has been a problem for a long time.

[2019-01-17 20:11] arnaudbroes commented on #1313
@wpsmort this started happening in 2.2.6. However, in 2.2.4.1 we added support for this, but I believe there was a bug (?) at the time because the canonical URL of paginated pages refers to the last product that has been added (even if it's not featured on that page). So I'm guessing that this has been broken from the start.

[2019-01-17 20:14] arnaudbroes commented on #1313
Just a reminder to use the following steps to reproduce the issue:

1. Install AIOSEOP and WooCommerce
2. Enable SEO for Products in the General Settings menu
3. Add about a dozen test products
4. Go to the Customizer and reduce the amount of products per row and row per page
5. Set the shop page as the homepage
6. Check the source code. You'll see that the canonical URL ends on e.g. /2/ instead o

[2019-01-17 20:17] arnaudbroes commented on #2142
Here's some more info from Harry.

[2019-01-17 20:19] arnaudbroes commented on #2142
@EkoJR can you have a look and see if you're able to reproduce and/or whether Harry's information makes sense to you from a code perspective.

[2019-01-17 20:32] EquineChallengeSupplements opened #2153 "Website Name being added to product titles"
I recently updated to All in One SEO 2.10.1 from All In One 2.8. I had updated from the 2.8 and had problems, my sitemap disappeared, so I went back to 2.8. When 2.10.1 became available I updated and then noticed that my website name was automatically being added to all of my product page titles (not adding to post titles or page titles.)

Example:
Amino Acid Horse Supplement | Muscle Mass | Topli

[2019-01-17 20:59] michaeltorbert commented on #2153
This is a development repository, not a support forum.
You can find documentation here https://semperplugins.com/documentation/
or access premium support here https://semperplugins.com/all-in-one-seo-pack-pro-version/

[2019-01-17 20:59] #2153 closed

[2019-01-17 21:17] EquineChallengeSupplements commented on #2153
Thank you!

[2019-01-18 06:42] EkoJR commented on #2142
There's 2 functions that achieve similar results.

`apply_page_title_format()` & `apply_post_title_format()`

It seems he's trying to replicate the page function on a post. Which would be resolved by using %post_title% instead, but seems to alternate between the two. I don't think I would be able to reproduce this without more info about the website; since I suspect another plugin played a part (e

[2019-01-18 08:20] EkoJR opened #2155 "Assignees & Labels ( & Reviewers ) Workflow Protocol"
My first thoughts is to have a workflow (chart) that would help everyone identify where Issues/PR are at, and help in decision making and labeling.

* Issue Created
    * No Status or 'Needs Reproducing'.
* Project Backlog (reproduced and waiting for development)
    * Currently no status.
* Development Stage
    * Assigned and 'In-Development'.
* --- PR is Created ---
* Testing Started
    * Assi

[2019-01-18 08:20] EkoJR commented on #2155
I see two separate types of labels.

* 'Needs_&ast;' is an Action requested.
* 'In-&ast;' is a Status/Stage.

Actions can be a large number of requests needed, and it often switches labels multiple times.

Status would be fewer labels, and works in conjunction with Assignee/Member-Role. Whenever Testing or Review needs Development, then just add 'In-Development' with 'In-Testing' or 'In-Review'.

[2019-01-18 13:50] #2008 closed

[2019-01-18 14:53] #2110 closed

[2019-01-18 14:53] #2014 closed

[2019-01-18 15:36] #1518 closed

[2019-01-18 16:08] EkoJR opened #2156 "Move All_in_One_SEO_Pack_Sitemap::get_images_from_post() to static aiosp_common"
Part of restoring some of the old concepts from 2.9 was moving `All_in_One_SEO_Pack_Sitemap::get_images_from_post()` back to the static class `aiosp_common`.

https://github.com/semperfiwebdesign/all-in-one-seo-pack/blob/a7f01e2289ee6e16a276e529d91f156ab65c6fc3/modules/aioseop_sitemap.php#L3347

This would improve code quality and allow other classes methods and functions to use the method.

Howev

[2019-01-18 16:21] wpsmort opened #2157 "E-mail debug information form missing"
The E-mail debug information form is missing from the System Status box in the Performance module.  This happened in v2.10.

<img width="629" alt="screen shot 2019-01-18 at 11 21 58 am" src="https://user-images.githubusercontent.com/17548525/51399163-4952c300-1b13-11e9-837e-641812118e3c.png">

[2019-01-18 16:21] wpsmort commented on #2157
@arnaudbroes Can you find out which commit resulted in the form not being displayed anymore.

[2019-01-18 17:08] wpsmort opened #2158 "Undefined index: aiosp_opengraph_options in aioseop_opengraph.php line 1101"
I got this PHP Notice whilst testing the 2.11 branch on a new site:

PHP Notice:  Undefined index: all-in-one-seo-pack/modules/aioseop_opengraph.php on line 1101

It is related to this commit for PR #1873 - https://github.com/semperfiwebdesign/all-in-one-seo-pack/pull/1873/commits/527c4cf730d4047103b2cfccc9eec3d1478592cf

[2019-01-18 18:24] EkoJR commented on #2158
It looks like the options array in the backend had some restructuring done on it, but doesn't seem to be getting set/initialized.

@contactashish13 might have a better idea. I'm unsure where to apply changes.

[2019-01-18 21:54] arnaudbroes commented on #2157
Traced it back to https://github.com/semperfiwebdesign/all-in-one-seo-pack/commit/77bbe410dc75765aee0e53947dc964046c05b6e6.

[2019-01-21 05:20] contactashish13 commented on #2158
@wpsmort I can see the potential problem but I cannot reproduce this. Can you outline the exact steps?

[2019-01-21 15:27] wpsmort commented on #2158
@contactashish13 Here are the steps to reproduce this:

1. Download the v2.11 branch of free and the v2.12 branch of Pro and create the Pro plugin from these branches.
2. Install the plugin on a brand new site.
3. Enable wp_debug in the wp-config.php file
4. Activate the Social Meta module.
5. View the Uncategorized category and you should see the PHP notice.

[2019-01-22 05:15] contactashish13 commented on #1003
@michaeltorbert as discussed on the call, can you please test? The details were mentioned on slack some time ago. Can you also create a new branch called grunt so that it can be used for the grunted changes?

@EkoJR can you run grunt and then create a PR for @michaeltorbert to merge (to that grunt branch) so that this part of the process is clear?

[2019-01-22 05:39] contactashish13 commented on #2158
PR https://github.com/semperfiwebdesign/all-in-one-seo-pack/pull/2159

[2019-01-22 16:11] michaeltorbert commented on #1003
@contactashish13 I don't need to test it if you're confident, and Ben has also tested. We can go ahead and move forward with this. Make sure there are clear guidelines/instructions on the dev process moving forward. ie you are Ben or whomever needs to run grunt at some point in lieu of others being able to.

[2019-01-22 16:55] #2158 closed

[2019-01-23 07:30] contactashish13 opened #2160 "Updating large (static) sitemap locks out WP-API"
https://semperplugins.com/support/troubleshooting-all-in-one-seo-pack-pro/updating-large-sitemap-locks-out-wp-api/

[2019-01-23 08:03] contactashish13 commented on #2160
@wpsmort PR: https://github.com/semperfiwebdesign/all-in-one-seo-pack/pull/2161

We have to explore whether https://github.com/semperfiwebdesign/all-in-one-seo-pack/blob/master/modules/aioseop_sitemap.php#L436 is even required. This causes a redraw of the entire sitemap whenever a post (any post_type enabled for the sitemap) is updated. This seems to irrelevant for dynamic sitemaps. I have a feeli

[2019-01-23 16:07] arnaudbroes opened #2162 "admin-ajax.php 403 Forbidden on (un)collapsing menu sections"
Check the JavaScript console. This was reported here - https://wordpress.org/support/topic/403-admin-ajax/#post-11122409. I wasn't able to track it down to a specific version. Looks like it's been there since we made them collapsable in 2.2.

[2019-01-23 17:46] annayogi opened #2163 "Error message"
When the plug-in is activated, I keep getting an error when going to categories pages.
Fatal error: ob_start(): Cannot use output buffering in output buffering display handlers in /home3/fashior4/public_html/livingyogilife/wp-content/plugins/wordpress-seo/frontend/class-frontend.php on line 1813

My website: livingyogilife.com

[2019-01-23 17:52] michaeltorbert commented on #2163
That message is from the Yoast SEO plugin, not All in One SEO Pack. Deactivate that plugin and the error message should go away.

[2019-01-23 17:52] #2163 closed

[2019-01-23 21:46] arnaudbroes commented on #2163
@annayogi this is the development repository for All in One SEO Pack; not Yoast SEO. If you're using Yoast SEO, then you need to post this issue in their development repository.

[2019-01-23 22:20] arnaudbroes opened #2164 "Parent elements overlap input fields in menus in latest Chromium dev build"
Reported here - https://wordpress.org/support/topic/403-admin-ajax/page/2/#post-11122737.

This is a CSS issue. The latest Chromium development build causes parent elements to overlap with their child input fields. When this happens, the user can't adjust any settings.

We need to find out whether this is just a bug in the Chromium dev build, or if we need to change our HTML and CSS.

In order to

[2019-01-23 22:21] arnaudbroes commented on #2164
@wpsmort can you try the development build for Mac and see if this issue is also present there.

[2019-01-23 22:33] arnaudbroes commented on #2164
The latest stable version for Windows currently is 71.0.3578.98; the latest dev build for Windows is 73.0.3679.0.

The next stable release (v72) is going to release on January 29th and v73 is scheduled for March 12th.

[2019-01-23 23:22] wpsmort commented on #2164
I tested this in Chrome v73 on Mac but everything worked fine.  The problem appears to only affect Windows.

[2019-01-24 19:51] dkomando commented on #1744
I'm having this issue as well.

I cannot exclude an attachment from the auto-generated sitemap.xml with a every comma separated URL or slug variation I can think of.

The problem is Google Search Console is reporting it as an error and is asking me to remove or fix the page. Which the plugin is not allowing me to do.

I'm taking it, that this is very low priority since its still under "Initial Rev

[2019-01-24 22:13] michaeltorbert commented on #1744
@dkomando
This isn't a higher priority in part because many people tend to not include attachment pages in their XML sitemaps, and will probably be the default behavior eventually anyway.
Having said that, development is funded by people who purchase All in One SEO Pack Pro from semperplugins.com, so there aren't unlimited development resources to go around, yet there's an endless supply of new fe

[2019-01-24 22:30] dkomando commented on #1744
Understood. Thanks for the clarification.

[2019-01-25 14:01] arnaudbroes commented on #2142
@harryrobbins are you able to provide us with steps to reproduce this problem, or alternatively, give us access to your website so we can take a look?

[2019-01-25 14:03] arnaudbroes opened #2165 "Title - Drop support for %page_title% macro in favour of %post_title%"
As suggested by Ben in #2142.

[2019-01-25 14:16] arnaudbroes commented on #2155
In fine with those labels.

There's also a Has Been Reproduced label.

[2019-01-25 14:31] arnaudbroes commented on #2144
@vit1260 this a development repository; not a support forum. If you'd like to gain access to our support resources, then you'll need to puchase a license for All in One SEO Pack Pro - https://semperplugins.com/all-in-one-seo-pack-pro-version/

[2019-01-25 14:31] #2144 closed

[2019-01-25 14:34] wpsmort commented on #2155
My feeling is that what we have works with the exception of the stage where  PR has been tested and testing has identified a problem and the PR has been assigned back to the developer to reproduce and fix the problem.  This can also happen at the code review stage.  I feel that this is where we need better Stage labels.

I don't have any suggestions as to what the labels should be but I agree that

[2019-01-25 14:42] arnaudbroes commented on #2134
I was able to reproduce this.

In order to reproduce the issue, follow these steps:
1. Install All in One SEO Pack on a fresh test site
2. Go to the General Settings menu and enter the following format in the Post Title Format input field: %blog_title% | %post_author_firstname% %post_author_lastname%
3. Create a new Post or Page without an H1 (title) or SEO title and you'll see that the title only

[2019-01-25 14:50] arnaudbroes commented on #2128
I was able to reproduce this.

In able to reproduce this issue, use the following steps:
1. Create a fresh test site and install All in One SEO Pack
2. Create a new Post or Page and use something like to Bacon Ipsum (https://baconipsum.com/) to generate some dummy text and add the generated paragraphs (at least 10) to the body
3. Publish. You'll now see that the meta box is hovering in the middle

[2019-01-25 15:09] arnaudbroes commented on #2126
@wpsmort traced this back to https://github.com/semperfiwebdesign/all-in-one-seo-pack/tree/6a40943844702930faa44cb4cc757f3b5a44c124.

[2019-01-25 16:41] wpsmort commented on #2128
@arnaudbroes Was this reproduced with the default theme and no other plugins installed or does this only happen when Form Maker is active on the site?

[2019-01-25 18:42] michaeltorbert opened #2167 "Add contributors to credits"
https://github.com/semperfiwebdesign/all-in-one-seo-pack/graphs/contributors

[2019-01-26 12:36] contactashish13 commented on #1499
closing this issue as this is now complete

[2019-01-26 12:36] #1499 closed

[2019-01-26 12:37] contactashish13 commented on #1004
closing this as this is now complete

[2019-01-26 12:37] #1004 closed

[2019-01-26 14:01] wpsmort commented on #2128
@arnaudbroes Does the problem happen when AIOSEOP is deactivated and another plugin that adds a meta box on the Edit Post screen is activated?  If it does then this is a problem with Form Maker.

[2019-01-27 03:16] michaeltorbert commented on #2129
I'm bumping this to medium priority since a PR has been submitted.
@arnaudbroes Can you try and reproduce this, then assign the PR to a developer for code review?

[2019-01-27 13:52] arnaudbroes commented on #489
Requested again by J. Gosset.

[2019-01-27 14:48] arnaudbroes commented on #2129
@michaeltorbert I'm not able to reproduce this issue on a test site with WordPress 5.0.3, running on a web server that uses PHP 7.3.

However, after some research (https://core.trac.wordpress.org/ticket/44543), I was able to reproduce this issue (the notice disappeared after a refresh) on WordPress 4.9.8. It seems this is a WordPress Core bug that was fixed in 5.0.

I've reached out to those two u

[2019-01-27 14:59] arnaudbroes commented on #2128
@wpsmort @michaeltorbert I've confirmed this isn't an issue on our end since the Form Maker plugin also breaks this for the meta box of Toast.

[2019-01-27 14:59] #2128 closed

[2019-01-27 15:05] arnaudbroes commented on #2129
Nevermind, I was now able to reproduce this -
![image](https://user-images.githubusercontent.com/18156697/51802763-642ce200-224d-11e9-9bce-ab83dee4ca74.png)

[2019-01-27 15:38] michaeltorbert commented on #2128
@arnaudbroes Does it break all plugins that have meta boxes?

[2019-01-27 15:45] arnaudbroes commented on #2128
@michaeltorbert yes, breaks all plugins with meta boxes.

[2019-01-28 21:13] EkoJR commented on #2155
@wpsmort Those were my thoughts as well with the Development label, and I noticed it becomes further complex with Needs_&ast; and Completed_&ast; to  fill the gap. My thoughts were to simplify it and allow Needs_&ast; and Completed_&ast; to become secondary.

* Development Stage
    * 'In-Development'.
* --- PR is Created ---
* Testing Started
    * 'In-Testing'.
    * Fails 'In-Testing' & 'In-Dev

[2019-01-28 22:40] wpsmort opened #2169 "XML Sitemap - Line break in caption breaks sitemap"
Reported here - https://wordpress.org/support/topic/sitemap_post_1-is-blank-with-no-errors-in-the-console/

[2019-01-29 15:50] wpsmort commented on #2169
I tested this and was not able to reproduce the bug.  I tested back to version 2.9.1.1 and that version does have this bug but all versions after 2.9.1.1 do not.  I tested on my love site and did not get any errors from Google Search Console.

[2019-01-29 15:50] #2169 closed

[2019-01-29 16:12] arnaudbroes commented on #2169
@wpsmort your love site? 😃

[2019-01-29 20:22] wpsmort commented on #1987
I have tested All in One SEO Pack free and Pro thoroughly with WP5.0 and it works fine.  I've not encountered any usability issues with the new block editor.  We can increase the tested to in the next release.

[2019-01-29 21:20] gfrino commented on #2129
have the same problem right after installing it in ticinoweb.net

[2019-01-29 21:39] wpsmort commented on #1200
PR #1828 resolved the memory issues and this has also been superseded by the recent sitemap optimizations in PR #2136

[2019-01-29 21:39] #1200 closed

[2019-01-30 00:47] wpsmort opened #2170 "Bug - WP Ultimate Recipe Shortcode output in autogenerated description"
Reported by JO (name removed at user request) by email on 11/6/2018.

When the WP Ultimate Recipe plugin is active and the [recipe] shortcode is used in a recipe, the shortcode is output in the autogenerated meta description and og:description.  This bug first occurred in v2.9.

Steps to reproduce:
1. Install and activate the WP Ultimate Recipe plugin
2. Go to Recipes and publish the Demo Recipe.

[2019-01-30 08:52] contactashish13 commented on #1003
PR https://github.com/semperfiwebdesign/all-in-one-seo-pack/pull/2171 contains the files that were changed by grunt.

The changes might seem all over the place but if you look at the files and the changes, you will see that there are no breaking changes. Unit tests also confirm that independently but human eyes would be better to satisfy oneselves :smile:

I have created a new branch on the main r

[2019-01-30 09:23] Pivovody opened #2172 "How to add several categories to the title?"
Hello. There is a question. How to put some rubrics in the title? One post can be in several categories.

[2019-01-30 14:58] wpsmort commented on #2172
@Pivovody This is a development repository and not a support forum.  There's no way to do this in the plugin settings but it may be possible with the API.  You can find documentation on our API filter for the title here - https://semperplugins.com/documentation/aioseop_title/

[2019-01-30 14:58] #2172 closed

[2019-01-30 15:31] ddv1976 opened #2173 "My Meta Description is disappear WHY?"
Show META but empty WHY?

See:
https://gyazo.com/f018a9a4b516fe7fc1bc1d9f944ecf12

I have tried everything ... and nothing works!

[2019-01-30 16:01] michaeltorbert commented on #2173
This is a development repository, not a support forum. As this functionality does work, this is most likely a configuration issue or else something specific to your environment.
You can visit our documentation here https://semperplugins.com/documentation/ or upgrade to All in One SEO Pack Pro for a Premium support license here: https://semperplugins.com/all-in-one-seo-pack-pro-version/

[2019-01-30 16:01] #2173 closed

[2019-01-30 16:39] enaimi opened #2174 "No support for < WP 4.6"
Immediately after upgrading from 2.10.1 to 2.11 server returns error 500

PHP Fatal error:  Call to undefined function wp_get_attachment_caption() in /var/www/[domain]/wp-content/plugins/all-in-one-seo-pack/modules/aioseop_sitemap.php on line 3502, referer: [domain]/wp-admin/index.php?page=aioseop-about

Notice that -
I have 2 websites (2 separate WP installs ) under the same domain. one of them i

[2019-01-30 16:41] wpsmort commented on #2174
@enaimi Can you send us an Administrator login for your site and FTP login for your server using the secure form here please - https://semperplugins.com/contact/support-login-information/

[2019-01-30 16:51] enaimi commented on #2174
Since I'm part of an organization that has a restricted network policy, access from outside our network is highly complicated to arrange... is there anything else I can do instead?

[2019-01-30 16:53] wpsmort commented on #2174
@enaimi This may be something that can be resolved by enabling Sitemap Indexes and setting the Maximum Posts Per Sitemap Page to something such as 1000 (https://semperplugins.com/documentation/xml-sitemaps-module/#enable-sitemap-indexes).  Can you try that and see if it resolves the 500 error please.

[2019-01-30 17:01] wpsmort commented on #2174
@enaimi What version of WordPress do you have?

[2019-01-30 17:09] enaimi commented on #2174
I believe it is already enabled. please see attached screenshots
although the file is empty http://1062fm.co.il/he/sitemap.xml

![2019-01-30_190118](https://user-images.githubusercontent.com/47187008/51998526-86c73100-24c1-11e9-9478-998ec1f6e659.jpg)
![2019-01-30_190012](https://user-images.githubusercontent.com/47187008/51998527-86c73100-24c1-11e9-922c-70f9e8361698.jpg)

WP version is 4.4.4 but l

[2019-01-30 17:22] EkoJR commented on #2174
This was introduced before 2.11 (not sure exactly when yet), and wasn't introduced in WP until 4.6.

There could be some form of backwards compatibility, but looking at the function it's just a post excerpt being wrapped.
https://developer.wordpress.org/reference/functions/wp_get_attachment_caption/

...and could probably change the code to use the excerpt instead.

[2019-01-30 17:36] wpsmort commented on #2174
@enaimi The problem is that we have code in our XML Sitemap which only works with WordPress v4.6 or later.  You're running WP v4.4.4 which is why you're getting that error.  We'll look to see if we can add backwards compatibility but we do intend on changing our minimum required version of WordPress to v4.5 very soon (#1568).

I recommend you update your version of WordPress to at least 4.6 if not

[2019-01-30 17:37] enaimi commented on #2174
Well... your last post got me to think...

What would happen if I'll "Exclude images" and then update the version... Because it says something about attachments.

![2019-01-30_192946](https://user-images.githubusercontent.com/47187008/52000458-d1e34300-24c5-11e9-9ebe-5b6a49d157cd.jpg)

So I excluded images
And then I updated
And the update was successful

Then I thought... maybe now I can "un-excl

[2019-01-30 17:45] wpsmort commented on #2174
@enaimi There's only a certain amount of time that we can continue to support older versions of WordPress such as 4.4.  You'll find this with many other plugins.

[2019-01-30 17:49] enaimi commented on #2174
OK I understand
Anyway... for now everything works.
I appreciate the effort!

[2019-01-31 06:01] michaeltorbert commented on #2174
Since wp_get_attachment_caption() is such a small and simple function, offhand I'd say we could simply just make our wp_get_attachment_caption, checking if the core one exists first, with a note to remove it once we don't support <4.6.

On the other hand, considering 4.6 came out 2.5 years ago, we may want to consider dropping support for <4.6.

[2019-01-31 13:36] contactashish13 opened #2176 "Create realistic large site for testing"
We may want to consider creating a test site on a droplet (maybe the same one that we use for grunt?) that has a large number of links and images so that we can use this for automated testing and continuous integration. Typically this instance should also contain posts and pages with all conceivable test scenarios (similar to what Steve has on his test instance(s)).

Here is how I foresee it would

[2019-01-31 14:15] media377 opened #2177 "Problem in XML sitemap caused by rsquo; character"
Hi,

I have a problem in the All in One SEO plugin generated Sitemap :

Erreur d’analyse XML : entité non définie
Emplacement : http://www.jeremy-taburchi.com/sitemap.xml
Numéro de ligne 37, Colonne 40 :	image:captionDessin de presse de l`&rsquo;`eau sur mars</image:caption>

I tried to update everything, I changed the theme, deactivate (major) plugins, but nothing seems to fix that...

Thanks,

J

[2019-01-31 14:19] media377 commented on #2177
Some characters have disapeared from my previous post sorry (I add blankspace to & r s q u o ; ) :

Hi,

I have a problem in the All in One SEO plugin generated Sitemap :

Erreur d’analyse XML : entité non définie
Emplacement : http://www.jeremy-taburchi.com/sitemap.xml
Numéro de ligne 37, Colonne 40 :	image:captionDessin de presse de l & r s q u o ; eau sur mars</image:caption>

The "& r s q u o

[2019-01-31 17:56] wpsmort commented on #2177
@media377 You are correct, this is caused by the use of the `&rsquo;` character.  However, I cannot reproduce this if I use the shortcut for that character.  I can reproduce this if I type the `&rsquo;` character out.

@arnaudbroes Can you see if you can reproduce this on Windows using the Windows shortcut listed here - http://www.rsquo.net/

[2019-01-31 17:57] wpsmort commented on #2139
This is related to #808

[2019-01-31 18:35] media377 commented on #2177
Hi, thanks I will test this in the next hours, and come back there as soon after.

[2019-01-31 19:34] arnaudbroes commented on #2177
@wpsmort I'm not able to reproduce this when I copied the ’ character. The shortcut at rsquo.net doesn't make sense to me.

[2019-01-31 21:30] michaeltorbert commented on #2176
I love it. On a somewhat related note, we do a lot of manual testing before each release. It would be great to have some/most/all of that automated. @wpsmort should be able to provide a comprehensive pre-release testing list.

[2019-01-31 23:36] arnaudbroes commented on #2176
@michaeltorbert during the development meeting today we discussed and thought it might be a good idea to move one of the cloned client sites we have now over to Digital Ocean (of course with noindex enabled on the full site) as we have an excellent site available with tens of thousands of images and posts.

[2019-02-01 02:09] michaeltorbert commented on #2176
@arnaudbroes Sounds like a great idea. Do you want to take charge of that?

[2019-02-01 09:36] arnaudbroes commented on #2176
@michaeltorbert of course.

[2019-02-01 11:08] media377 commented on #2177
Tried to change the character with its escape code but nothing changes.

[2019-02-01 11:44] arnaudbroes commented on #2177
@media377 do you have a keyboard with a French layout by any chance?

[2019-02-01 11:48] media377 commented on #2177
Yes I have !

Le 2019-02-01 12:44, Arnaud Broes a écrit :

Links:
------
[1] https://github.com/media377
[2]
https://github.com/semperfiwebdesign/all-in-one-seo-pack/issues/2177#issuecomment-459696908
[3]
https://github.com/notifications/unsubscribe-auth/AtB474CYVi-OkJY1kjWf3M9Vfi35hbuZks5vJCicgaJpZM4acZYt

[2019-02-01 11:55] arnaudbroes commented on #2177
Are you able to tell me which keyboard key(s) you need to press for that character? I have an AZERTY keyboard as well, but a Belgian one. If ours doesn't support it, then I'll go ahead and order a cheap French version on Amazon.fr.

[2019-02-01 12:04] media377 commented on #2177
the ' is under the "4" number and with the "{" sign

[2019-02-01 12:16] arnaudbroes commented on #2177
@media377 so I have that key as well on my AZERTY (BE), but it produces an apostrophe (&#8216;) instead of a right quotation character (&rsquo;). Can you confirm that the French layout produces an &rsquo; by default? If so, then I'll go ahead and order one.

[2019-02-01 12:49] media377 commented on #2177
My keyboard produce correctly an apostrophe, and the sitemap should too ! There is a bug.

[2019-02-01 18:08] wpsmort opened #2179 "Use Schema.org Markup should remove all schema markup"
Requested here - https://wordpress.org/support/topic/schema-org-markup-cannot-be-turned-off/

The option Use Schema.org Markup (https://semperplugins.com/documentation/general-settings/#use-schema-markup) should remove ALL of the schema markup that we output.  Schema markup is output from these settings:

- Display Sitelinks Search Box (https://semperplugins.com/documentation/google-settings/#disp

[2019-02-02 08:33] McG77 opened #2180 "Sitemap not displaying - no style information."
- [x] I understand that this is a development repository and not a support forum. This is a bug report and is not a support request.
 - [x] I've followed the [troubleshooting steps](https://semperplugins.com/documentation/how-to-troubleshoot-issues-with-all-in-one-seo-pack)  to determine if there's a theme/plugin conflict.

**Describe the bug**
A clear and concise description of what the bug is.
W

[2019-02-02 08:40] McG77 commented on #2180
Hi,
I am using your software (Version 2.11) on 3 of my WP sites.  On missionarynightmare.com it is not working correctly. After creating the sitemap, I click on "view your XML sitemap."  I get a blank page with this line at the top:
**"This XML file does not appear to have any style information associated with it. The document tree is shown below."**

Can you please help?
Kind regards.

[2019-02-02 16:00] wpsmort commented on #2180
@McG77 Can you please provide us with an Administrator login for your site and FTP login for your server using the secure form below and we can take a look:

https://semperplugins.com/contact/support-login-information/

[2019-02-04 14:45] wpsmort commented on #158
Requested again by Gary Kopycinski by email

[2019-02-04 19:02] arnaudbroes commented on #2177
@contactashish13 user has responded.

[2019-02-04 23:54] tonyzeoli commented on #945
If you're thinking it's a WP Engine / NGINX issue, it's happened on all of my WP Engine sites, so I think it's got to be the culprit.

[2019-02-05 02:02] tonyzeoli commented on #945
Oh, wait. I forgot. Bookstr is on Pantheon, not on WP Engine. But most of my sites on WP Engine have this problem anyway. So, it could be NGINX at Pantheon, as well.

[2019-02-05 04:56] contactashish13 commented on #2179
PR https://github.com/semperfiwebdesign/all-in-one-seo-pack/pull/2181

[2019-02-05 10:04] arnaudbroes commented on #945
@tonyzeoli it is. I checked using the WhatRuns extension for Chrome.

[2019-02-05 14:57] wpsmort commented on #2180
@McG77 Thanks for the login information.  This appears to be a server issue.  When I take a backup of your site and restore it to a local server here the XML Sitemap works fine.  Can you tell me who is your hosting provider?

[2019-02-06 04:14] contactashish13 commented on #2177
@media377 unfortunately, `Dessin de presse de l'eau sur mars` contains the normal apostrophe and I can't see where on the page the special character is used. @arnaudbroes can you verify?

[2019-02-06 14:52] wpsmort commented on #2177
@contactashish13 I can only reproduce this if I actually use `&rsquo;` typed out exactly like that.  I cannot reproduce this any other way.

[2019-02-07 01:28] McG77 commented on #2180
I'm hosted through Wealthyaffiliate.com on ns1.mywahosting.com

Thanks

On Wed, Feb 6, 2019 at 3:57 AM wpsmort <notifications@github.com> wrote:

[2019-02-07 06:54] contactashish13 commented on #2177
PR https://github.com/semperfiwebdesign/all-in-one-seo-pack/pull/2183

I have tested with all the characters on http://www.rsquo.net/

[2019-02-07 15:53] GaryWicks opened #2184 "Sitemap not being read for several months, Submitted new, still not read"
- [x] I understand that this is a development repository and not a support forum. This is a bug report and is not a support request.
 - [x] I've followed the [troubleshooting steps](https://semperplugins.com/documentation/how-to-troubleshoot-issues-with-all-in-one-seo-pack)  to determine if there's a theme/plugin conflict.

**Describe the bug**
A clear and concise description of what the bug is.
W

[2019-02-07 15:57] GaryWicks commented on #2184
latest version of wordpress and all in one plugin all up to date and php 7.2.14
google has not read it since last June

[2019-02-07 16:51] michaeltorbert commented on #2184
There’s not much to go on since you haven’t filled out the form nor provided the URL to your sitemap.

[2019-02-07 17:26] wpsmort opened #2185 "Import SEO data from Rank Math plugin"
Requested by Zaheer by email today.

Add the Rank Math plugin (https://wordpress.org/plugins/seo-by-rank-math/) to our SEO Data Importer.

[2019-02-07 17:26] GaryWicks commented on #2184
Sorry, first time here and unaware of requirements and how this site works. How do I supply urls in private view only to semperfi all in one?

[2019-02-07 17:27] wpsmort commented on #2184
@GaryWicks You can use the contact form here - https://semperplugins.com/contact/

[2019-02-07 17:38] GaryWicks commented on #2184
Thank-you.

[2019-02-07 17:46] wpsmort commented on #2184
Your problem is caused by Cloudflare.  If I browse to your as Googlebot I get an Error 523 Origin is unreachable from Cloudflare.  You should exclude your sitemap from Cloudflare and any other caching, minification, etc.   This is not a problem caused by our plugin so I'm closing this issue.

[2019-02-07 17:46] #2184 closed

[2019-02-07 18:06] wpsmort commented on #2129
Reported again here - https://wordpress.org/support/topic/did-you-mean-to-use-continue-2/

[2019-02-08 00:47] wpsmort commented on #2129
Reported again here - https://semperplugins.com/support/troubleshooting-all-in-one-seo-pack-pro/error-scan-results-for-php-7-1-compatibility/#p8700#spEditFormAnchor

[2019-02-08 04:09] GaryWicks commented on #2184
What is the IP address used by Semper to crawl the site?, So I can whitelist it from all security checks in Cloudfare Where do I find this?

[2019-02-08 11:08] arnaudbroes commented on #2184
We don't crawl websites.

[2019-02-09 21:09] michaeltorbert commented on #1735
We could also borrow from WordFence
<img width="1102" alt="screen shot 2019-02-09 at 4 08 26 pm" src="https://user-images.githubusercontent.com/17364998/52526345-14a2d900-2c85-11e9-834b-ca9137cc924b.png">

[2019-02-10 11:14] arnaudbroes commented on #1735
@michaeltorbert I'd be a big supporter of that.

[2019-02-10 16:17] michaeltorbert commented on #1547
@mbanyuls Can you give more details about the problem? Is it the same as this? https://github.com/semperfiwebdesign/all-in-one-seo-pack/issues/2120

[2019-02-11 02:36] EkoJR commented on #1735
I'd support this as well.

However, there is a concern with using a jQuery plugin. I use a jQuery plugin called a [Multiselect](https://github.com/ehynds/jquery-ui-multiselect-widget), and the biggest problems would be unmaintained code and little to no support; it has gotten better since the day it was added to github for others to contribute though.

I would probably recommend using [jQuery UI](

[2019-02-11 20:46] wpsmort opened #2188 "Test compatibility with WordPress 5.1"
WordPress 5.1 RC1 has been released (https://wordpress.org/news/2019/02/wordpress-5-1-release-candidate/).  We need to test compatibility and update the readme to 5.1.

[2019-02-11 22:24] wpsmort commented on #157
Requested again here - https://semperplugins.com/support/general-all-in-one-seo-pack-pro-forum/301-per-page/#p8722

[2019-02-11 23:38] wpsmort opened #2189 "Class name output in link rel next and prev with WP5.1"
Whilst testing the current version of AIOSEOP on WordPress v5.1 RC1 (https://wordpress.org/news/2019/02/wordpress-5-1-release-candidate/) I found an issue with the rel next and prev links on paginated content.  When you view the links in the source code they have %20class=post-page-numbers added to the end of the link.  For example:

`<link rel='next' href='http://wp51.local/test-post/2/%20class=p

[2019-02-12 19:09] arnaudbroes opened #2190 "Non-existing /sitemap_XXX URLs navigate to empty sitemap instead of 404"
Some examples:

https://semperplugins.com/sitemap__arnaudiscool.xml
https://semperplugins.com/sitemap_weneedmorearnaud.xml
https://semperplugins.com/sitemap_arnaudforpresident2020.xml

The underscore seems to matter as this works fine and redirects to a 404:
https://semperplugins.com/sitemapredirectto404.xml

[2019-02-12 19:34] michaeltorbert commented on #2190
Is this new?

[2019-02-12 23:11] arnaudbroes commented on #2190
I checked. Been since sitemap indexes were introduced.

[2019-02-13 15:28] wpsmort opened #2192 "Character counts not updating in Home Page Settings"
The character counters for Home Title and Home Description in the Home Page Settings section are not incrementing as you type.  This appears to affect Pro only but needs more testing.

[2019-02-13 15:42] michaeltorbert commented on #2192
We need to determine if this used to work. If we recently broke it we can include it in 2.12, otherwise we should probably punt to 3.0.

[2019-02-13 16:42] michaeltorbert commented on #2174
After some discussion it was agreed that we'd drop support for < WP 4.6.

[2019-02-13 16:42] #2174 closed

[2019-02-13 16:43] michaeltorbert opened #2196 "Drop support for < WP 4.6"
We need to update the readme to reflect this.

[2019-02-13 16:52] michaeltorbert commented on #2129
Reported by "sam sam" via email

[2019-02-13 20:13] wpsmort commented on #2192
This bug only happens in Pro, the character counters works fine in free.  This last worked in v2.10.1 of Pro.

@arnaudbroes Can you track down which commit caused this.

[2019-02-14 09:54] arnaudbroes opened #2197 "Robots.txt - Add sitemap.rss to robots.txt when it's enabled"

[2019-02-14 10:08] arnaudbroes opened #2198 ""All in One SEO" instead of "All in One SEO Pack" in XML sitemap"
This should be All in One SEO Pack imo.

![image](https://user-images.githubusercontent.com/18156697/52779563-bbea8c00-3048-11e9-8f08-101129325de7.png)

[2019-02-14 14:43] michaeltorbert commented on #1391
Reported again here: https://twitter.com/hpagents/status/1096050816245481472

[2019-02-14 15:18] EkoJR commented on #2192
It seems it was the plugin folder name that is triggering the issue.

To reproduce, you just rename the folder name from `all-in-one-seo-pack` to something else; be sure to re-activate plugin after renaming.

[2019-02-14 16:00] EkoJR opened #2200 "Improve cron jobs with the cron improvements from WP 5.1"
WP 5.1 added improvements to the cron jobs. [Cron API changes in WordPress 5.1](https://make.wordpress.org/core/2019/01/23/cron-api-changes-in-wordpress-5-1/)

Be sure it is backwards compatible, and may want to create a wrap function for it to be easily removed in the future.

[2019-02-14 16:10] EkoJR opened #2201 "Investigate/Add improvements to PHPUnit from WP 5.1"
WP 5.1 made some changes to their PHPUnit testing. most notably...

[Miscellaneous Developer Focused Changes in 5.1](https://make.wordpress.org/core/2019/01/23/miscellaneous-developer-focused-changes-in-5-1/)

[2019-02-14 16:31] EkoJR commented on #1691
Hey @tevyaw. Just curious, do you have any updates regarding this issue?

[2019-02-14 16:42] arnaudbroes commented on #1391
Fortunately, this only affects the preview snippet and not the source code.

[2019-02-14 16:46] arnaudbroes commented on #53
Same as #1875. Closing this one in favour of the other.

[2019-02-14 16:46] #53 closed

[2019-02-14 16:47] michaeltorbert commented on #1391
@arnaudbroes That doesn't seem to be the case here with hpagents
view-source:https://hpagents.com/about-us-hpagents-com/

[2019-02-14 21:49] tevyaw commented on #1691
Thanks for following up @EkoJR. We're just about to release an update that I believe has this fixed. I'll ping the new developer and make sure. But hopefully next week (at the latest) we'll have this release out with this fix in it.

[2019-02-14 22:06] #2192 closed

[2019-02-14 22:09] tonyzeoli commented on #2192
Hey guys,

I was seeing this to, but hadn't reported it yet.

[image: photo]
Tony Zeoli
Founder, Digital Strategy Works LLC
O  (828) 412-0990  <(828) 412-0990> M  (917) 705-4700  <(917)
705-4700> E  az@digitalstrategyworks.com
<az@digitalstrategyworks.com>
W  https://digitalstrategyworks.com
Whatsapp 9177054700
Skype tonyzeoli
<http://www.facebook.com/digitalstrategyworks>
<http://www.twitter.com/

[2019-02-15 08:35] RomanianPac opened #2203 "facebook"

[2019-02-15 10:03] #2203 closed

[2019-02-15 11:49] contactashish13 commented on #660
@michaeltorbert I've worked on an implementation of this PR https://github.com/semperfiwebdesign/all-in-one-seo-pack/pull/2204 and this is how it looks (just an example)

![image](https://user-images.githubusercontent.com/12953439/52853628-30552600-3142-11e9-833b-367dec8fa2ff.png)

The salient points are:

- it logs in the database because I don't think using the filesystem is reliable when it com

[2019-02-15 13:48] EkoJR commented on #1691
Awesome to hear! Just let me know, so then I can close this issue.

[2019-02-15 16:21] michaeltorbert commented on #660
Personally my preference would be to log to a file, with the understanding that it may not work on some crappy hosts. This way we can use the WP Filesystem API.
I'm certainly open to discussion on it though.

Also, I'd change the radios to checkboxes so that multiple ones can be selected (obviously "all" would deselect the reset).

[2019-02-15 16:25] michaeltorbert commented on #2203
Twitter.

[2019-02-15 16:34] arnaudbroes commented on #660
I'm fine with both ideas although a text file would have my preference as well since that's easily accessible via SFTP.

[2019-02-15 16:34] #2179 closed

[2019-02-15 16:35] michaeltorbert commented on #660
@arnaudbroes That was my thinking. log files are easier to work with, send, etc.
They can also be easily deleted instead of filling up the db. I worry about runaway log entries killing a db.

[2019-02-15 16:45] arnaudbroes commented on #660
I wasn't even thinking about log entries running wild. Yes, we should definitely log to a file instead ofthe database. I only see this causing unwanted issues otherwise.

[2019-02-15 17:23] wpsmort commented on #660
I also agree that this should be logging to a file rather than the database and that the radios be changed to checkboxes and remove the All option.

What file and file location will this log to?  In our help for the Log events option it says the all-in-one-seo-pack.log file in its plugin directory.  Should we change the location to /wp-content/ so it's in the same location as the WordPress debug l

[2019-02-15 17:30] michaeltorbert commented on #660
I'd definitely change it to wp-content.
We may also want to have a constant AIOSEOP_DEBUG_LOG which can be set to a custom path in wp-config.

[2019-02-15 18:42] contactashish13 commented on #660
I think we take files to be easy to work with because of our familiarity and not any technical reasons. Writing to files is costly as compared to databases. Clearing files is costly. Any file operation is costly. Using g transients you reduce all that effort so I'm not cconvinced. Is there a strong technical reason I'm missing?

On Feb 15, 2019, 23:00, at 23:00, Michael Torbert <notifications@gith

[2019-02-15 19:35] michaeltorbert commented on #660
I mentioned technical reasons above. They're also easier for users to use, send, etc.
There's definitely a resource overhead cost of writing to files vs database, but presumably logging wouldn't be running all the time on a production site, only for development, staging, etc.

[2019-02-15 19:38] contactashish13 commented on #660
Not sure easier to work with qualifies as a technical reason :) That's more of user friendliness than a technical reason for preference or efficiency.

On Feb 16, 2019, 01:05, at 01:05, Michael Torbert <notifications@github.com> wrote:

[2019-02-15 19:40] michaeltorbert commented on #660
I'd rather have excessive log entries make a 10GB file than a 10GB db.

[2019-02-15 19:45] contactashish13 commented on #660
Not gonna happen with the constraints I mentioned. Log length and log expiry. Maybe you can check the code to see what's happening and how it works to reassure yourself it's not just random forget and insert into the database.

On Feb 16, 2019, 01:10, at 01:10, Michael Torbert <notifications@github.com> wrote:

[2019-02-15 20:10] #1197 closed

[2019-02-15 20:22] #2129 closed

[2019-02-15 21:03] #2167 closed

[2019-02-16 03:28] michaeltorbert commented on #660
Out of curiosity, why did you choose to store the logs as transients rather than something proprietary, and why do you recommend they be stored for only 10 minutes?
-----
Interestingly, WooCommerce does both file and database:
https://github.com/woocommerce/woocommerce/blob/master/includes/log-handlers/class-wc-log-handler-db.php
https://github.com/woocommerce/woocommerce/blob/master/includes/log-

[2019-02-16 03:37] contactashish13 commented on #660
I chose transients because the cleanup pf those is handled by WP automatically. Also because I don't want them cached as regular options are auto cached.

Caching for 5 minutes and using only the last 100 logs are just a random numbers and can be increased or decreased using the filters.

On Feb 16, 2019, 08:58, at 08:58, Michael Torbert <notifications@github.com> wrote:

[2019-02-16 03:45] #2177 closed

[2019-02-16 04:00] EkoJR commented on #660
Well, 5 minutes doesn't leave much time, and a lot of errors are caught after the fact.

I also think it would be best to make it an OOP class. Which seems to be what WooCommerce did.

I'm also concerned if this creates multiple transients instead of 1. Each transient save and load is an SQL query, which results in a higher time and memory. With the Sitemap Optimization to attachments, I kept it a

[2019-02-16 04:01] michaeltorbert commented on #660
@EkoJR I think he just meant that he randomly put down a number to be figured out later, not that he specifically wanted that time. ;)

[2019-02-16 16:46] michaeltorbert opened #2207 "Review constant definitions"
https://github.com/semperfiwebdesign/all-in-one-seo-pack/blob/master/all_in_one_seo_pack.php#L93

We define a bunch of constants like WP_CONTENT_DIR, some of which should already be defined by WP. We should look at why we have these, and whether we should get rid of any.

[2019-02-16 17:22] michaeltorbert commented on #1929
Why would we only auto-enable for >x URLs? That seems tricky and buggy, shouldn't we just auto enable it for all new sites and set it to 1000?

[2019-02-16 18:16] EkoJR opened #2209 "Optimized Sitemap Author"
When running qcachegrind on sitemap_authors.xml, I've found the these methods/functions to be the top 3 in time used.

All_in_One_SEO_Pack_Sitemap->get_author_prio_from_posts <cycle 2>
aiosp_common::make_xml_safe <cycle 2>
All_in_One_SEO_Pack_Sitemap->get_author_prio_data <cycle 2>

@wpsmort mentioned a user had reported an issue via email regarding  sitemap_authors.xml.

[2019-02-18 00:01] arnaudbroes commented on #216
I'm not able to reproduce this. @wpsmort can you confirm this, label the issue as "can't reproduce" and close it if you can't either?

[2019-02-18 00:12] arnaudbroes commented on #261
I was able to reproduce this.

Use these steps:

1. Create a new Post, upload a new image and add it to the content section of the Post
2. Publish the Post as a private page
3. Go to Media and make sure that the image shows up as attached
4. Include Media in the sitemap via the XML Sitemap menu, view the sitemap and you'll notice the attachment for that image is included

[2019-02-18 00:20] arnaudbroes commented on #396
This would have been a Pro issue, but I'm not able to reproduce it anyway. Based on the original report, I suspect this was caused by a plugin or theme conflict so I'll close the issue.

[2019-02-18 00:21] #396 closed

[2019-02-18 00:32] arnaudbroes commented on #453
This works fine, so you were probably right that it was an issue on their end.
![image](https://user-images.githubusercontent.com/18156697/52921964-03a93600-331d-11e9-91f6-92ff6ee21479.png)

[2019-02-18 00:32] #453 closed

[2019-02-18 00:49] arnaudbroes commented on #597
I'm pretty sure this is the same as #2190.

[2019-02-18 00:49] #597 closed

[2019-02-18 00:53] arnaudbroes commented on #645
I'm not able to reproduce this either so I'll go ahead and close this issuse. Steve is probably right about this being a theme issue.

[2019-02-18 00:53] #645 closed

[2019-02-18 04:47] EkoJR commented on #216
@arnaudbroes I believe I may have already fixed this from another issue https://github.com/semperfiwebdesign/all-in-one-seo-pack/issues/292

[2019-02-18 08:37] arnaudbroes commented on #216
@EkoJR correct, thanks!

[2019-02-18 08:37] #216 closed

[2019-02-18 11:16] arnaudbroes commented on #1457
I did this in an earlier release.

[2019-02-18 11:16] #1457 closed

[2019-02-18 11:21] arnaudbroes opened #2210 "Change Google Search Console verification documentation URL"
![image](https://user-images.githubusercontent.com/18156697/52947625-8c54c000-3377-11e9-92c3-c2eea6434fad.png)

We currently redirect to https://semperplugins.com/documentation/google-webmaster-tools-verification/, which in turn redirects to https://semperplugins.com/documentation/google-search-console-verification/ because I updated the documentation today. Ideally, we just redirect to the curren

[2019-02-18 14:26] arnaudbroes opened #2212 "Remove HTML Improvements documentation page"
This report will be removed from Google Search Console on March  28, 2019, so we should then take this page down - https://semperplugins.com/documentation/google-webmaster-tools-how-to-fix-html-improvements-reports/

We might want to move some of the content to other articles.

[2019-02-18 15:26] wpsmort commented on #2209
This was reported by Belal Zewain by email on 2/14.

I was unable to reproduce this on any other site except the site provided by Belal.  I cloned the site and was able to reproduce this with the default theme and no other plugins enabled.  The site had Sitemap Indexes enabled and pagination set to 500.  All other sitemaps loaded fine, the sitemap-author.xml would not load and was using 358Mb of m

[2019-02-18 15:47] michaeltorbert commented on #645
This is something that's been reported numerous times, but we've never been able to reproduce it.

[2019-02-18 16:58] #2210 closed

[2019-02-18 17:02] #555 closed

[2019-02-18 19:09] arnaudbroes commented on #674
All content on the website and plugin has been updated so this issue can be closed once #2213 is merged and released with 2.12.

[2019-02-18 19:34] #674 closed

[2019-02-18 19:41] michaeltorbert opened #2214 "Remove i18n folder"
Since our PHP translations are hosted on .org, we don't need this anymore.

[2019-02-18 19:44] #2214 closed

[2019-02-18 20:39] wpsmort commented on #2177
Reported again by Josh Broughton by email today.  This report was for the character `&trade;`.  I confirmed this is fixed in the PR.

[2019-02-19 11:43] arnaudbroes commented on #2164
The beta and dev builds are now at v73 and v74 respectively and the issue is no longer present, which means this was a bug in the v73 dev version of Chrome.

[2019-02-19 11:43] #2164 closed

[2019-02-19 12:26] weirdnose opened #2215 "Exclude list not reflecting RSS feeds"
Please fill out this form as completely as possible so that we can help you more quickly.

- [x] I understand that this is a development repository and not a support forum. This is a bug report and is not a support request.
 - [x] I've followed the [troubleshooting steps](https://semperplugins.com/documentation/how-to-troubleshoot-issues-with-all-in-one-seo-pack)  to determine if there's a theme/p

[2019-02-19 14:13] #1003 closed

[2019-02-19 14:29] #2157 closed

[2019-02-19 15:10] michaeltorbert opened #2216 "General - Add nofollow to user registration and login links"
This will correct a problem we see a lot of Google indexing admin urls.

We can probably just use the filters lostpassword_url, loginout, and register to do this.

[2019-02-19 16:09] #2189 closed

[2019-02-19 16:14] michaeltorbert commented on #2188
WP 5.1 RC2 is out https://wordpress.org/news/2019/02/wordpress-5-1-rc2/

[2019-02-19 16:39] michaeltorbert opened #2217 "XML Sitemap - indexes should be reverse chronological order"
Reported here: https://wordpress.org/support/topic/bugs-with-the-sitemap-please-fix-them/

https://www.seroundtable.com/google-dynamic-sitemap-file-names-25187.html
Please fix this. YOAST SEO has figured it out, its the only sitemap out there which has the oldest 1000 posts in sitemap1 and gradually the newest posts in the last sitemap, lets say 5. After 5 is full with 1000 newest posts, that will

[2019-02-19 16:41] michaeltorbert opened #2218 "Convert - XML Sitemap - Remove "Only show 1000 posts per sitemap file" message"
Reported here: https://wordpress.org/support/topic/bugs-with-the-sitemap-please-fix-them/

[2019-02-19 16:43] michaeltorbert opened #2219 "XML Sitemap - Make publish/update ping more obvious"
Reported here: https://wordpress.org/support/topic/bugs-with-the-sitemap-please-fix-them/

I'm pretty sure we already do this, but maybe we can somehow make it more clear that it's happening? (Feel free to fact-check me.)

Maybe we could put it toward the top of the Sitemap Module settings page with a check next to it.
https://developer.wordpress.org/resource/dashicons/#yes

(checkmark) XML Sitema

[2019-02-19 16:47] michaeltorbert opened #2220 "XML Sitemap - Include externally hosted images"
Reported here: https://wordpress.org/support/topic/bugs-with-the-sitemap-please-fix-them/

We already support this via filter, but we could explore whether we could do it automatically without a performance hit.

Maybe related:
https://github.com/semperfiwebdesign/all-in-one-seo-pack/issues/1872
https://github.com/semperfiwebdesign/all-in-one-seo-pack/issues/1258
https://github.com/semperfiwebdesi

[2019-02-19 21:13] arnaudbroes commented on #2219
@michaeltorbert I don't think so - https://github.com/semperfiwebdesign/all-in-one-seo-pack/issues/550

[2019-02-19 21:14] arnaudbroes commented on #2218
Shouldn't we also just make that notification appear once?

[2019-02-19 22:41] wpsmort commented on #2219
We removed this notification in #551.

[2019-02-19 22:50] wpsmort commented on #2218
I cannot reproduce this behavior.  If I click the X to dismiss the message and then navigate away and then back again, the message does not come back.  I've tried but cannot make that message reappear.

@arnaudbroes Can you try to reproduce this.

[2019-02-19 22:51] arnaudbroes commented on #2218
I'll take a look. I believe it's been reported a number of times now.

[2019-02-20 00:41] tevyaw commented on #1691
It appears to all work fine now. Thanks so much.

[2019-02-20 01:39] michaeltorbert commented on #1691
@tevyaw Awesome!

[2019-02-20 01:39] #1691 closed

[2019-02-20 01:50] michaeltorbert commented on #2219
@wpsmort If I'm not mistaken, that just removed the option.

@arnaudbroes Someone can feel free to verify the behavior, but unless I'm missing something, looks like we do it for new posts if static sitemaps are enabled. https://github.com/semperfiwebdesign/all-in-one-seo-pack/blob/7550dd8f46ce436216288c3dada2e71ad9929f12/modules/aioseop_sitemap.php#L525

[2019-02-20 09:37] arnaudbroes commented on #2219
@michaeltorbert I'll run it through Xdebug when I get the chance.

[2019-02-20 11:03] arnaudbroes commented on #2218
@wpsmort I'm not able to reproduce this either.

[2019-02-20 11:27] arnaudbroes commented on #2215
I was able to reproduce. This is still happening even when all noindex options have been disabled in the plugin.

[2019-02-20 14:22] wpsmort commented on #2219
I verified that we did remove the ping status updates in v2.3.10 (#551).  Here's a screenshot of what the Sitemap Status box looked like before v2.3.10:

<img width="627" alt="screen shot 2019-02-20 at 9 19 58 am" src="https://user-images.githubusercontent.com/17548525/53098127-fb095900-34f0-11e9-9a60-001b69396249.png">

[2019-02-20 14:35] michaeltorbert commented on #2219
I don't think that's what he's asking for. He's asking that AIOSEOP pings Google after a post is published (which we already do for static sitemaps) or updated, and as part of that we'd possibly want to give some indication it's happening.

[2019-02-20 14:56] michaeltorbert commented on #2218
https://github.com/semperfiwebdesign/all-in-one-seo-pack/blob/7550dd8f46ce436216288c3dada2e71ad9929f12/modules/aioseop_sitemap.php#L458 is where the magic happens. It is indeed written so that the message doesn't show again. While this will be obsoleted once we have the new notification system in place, perhaps @EkoJR or @contactashish13 could have a look at it and see if anything jumps out in our

[2019-02-20 18:15] wpsmort commented on #2188
I have tested compatibility with RC2 and found no problems.

[2019-02-20 18:36] #2188 closed

[2019-02-20 22:43] michaeltorbert commented on #2142
Closing this as nobody has been able to reproduce it.

[2019-02-20 22:43] #2142 closed

[2019-02-21 14:47] arnaudbroes opened #2222 "Conflict with Gravity Forms Polls add-on"
This was reported by Bryan B. on 02/21/2019 via e-mail.

[2019-02-21 15:37] MarcoVitale opened #2223 "Issue with home page title and description"
Hello, since updating to Wordpress 5.0.3 and All-in-one SEO Pack 2.12 the title and description fo the home page of my website are messed up (the Google's result shows some japanese charachters and other random stuff about Kalvin Klein Jeans which I have no idea where it comes from).
Moreover, it is impossible to access the plugin's dashboard or settings, it just shows a broken page.
However the i

[2019-02-21 15:51] wpsmort commented on #2223
@MarcoVitale This is not caused by All in One SEO Pack.  This looks like it's a malware infection.  You can check this by typing site:studentinfo30.com into Google.  If you then look at Google's cache for your homepage you'll see you get this content - http://webcache.googleusercontent.com/search?q=cache:4E-HbRe25rYJ:studentinfo30.com/+&cd=1&hl=en&ct=clnk&gl=us.  You should check your site and ser

[2019-02-21 15:51] #2223 closed

[2019-02-21 16:14] MarcoVitale commented on #2223
@wpsmort thanks a lot for your advice. Do you have any suggestion on helpful plugins to check the site for malware?

[2019-02-21 16:18] michaeltorbert commented on #2223
Sucuri or Wordfence

[2019-02-21 16:22] MarcoVitale commented on #2223
@michaeltorbert cheers, will try!

[2019-02-21 18:43] arnaudbroes commented on #2222
I couldn't reproduced this so reached out to the customer to request access to his site.

[2019-02-21 20:02] Soldier4Life opened #2224 "Sitemap with "No Index""
I just noticed a Google "coverage" issue in my webmaster console that I have never seen before. In doing a URL inspection for the /sitemap.html page, it says the page is not being indexed because it has 'noindex' detected in 'robots' meta tag. Not sure if this is deliberate, but I have never seen it come up before and I see no way to control it. I have not enabled a noindex anywhere on the site.

[2019-02-21 20:37] wpsmort commented on #2224
@Soldier4Life Can you provide the URL for this page and can you confirm that you mean sitemap.html and not sitemap.xml.

[2019-02-21 21:24] michaeltorbert commented on #534
I think we should remove this option, and it should be "enabled" in that if someone views your ...com/sitemap.xml.gz they get the compressed version, and if they visit ...com/sitemap.xml they get the uncompressed version, which I think is basically how it works now.
We're having so many issues with compression, we should make the default sitemap the non-compressed version, but where they can provi

[2019-02-21 22:30] Soldier4Life commented on #2224
Hi there... It is just the HTML version causing the error. I disabled the "create HTML version" in the SEO settings and resubmitted the site map to Google. Looks like it is still on my server. I may need to manually remove it.

aaclassicexteriors.com/sitemap.html

-------- Original Message --------
On Feb 21, 2019, 1:38 PM, wpsmort wrote:

[2019-02-21 22:33] wpsmort commented on #2224
All in One SEO Pack doesn't create an HTML sitemap or have an option for "create HTML version".  I checked your site and your XML Sitemap is being generated by Google XML Sitemaps plugin so you may have contacted the wrong company.

[2019-02-21 22:33] #2224 closed

[2019-02-21 22:48] Soldier4Life commented on #2224
So sorry for the confusion I must have hit the wrong support link. I'll contact the other guys thank you for setting me straight.

-------- Original Message --------
On Feb 21, 2019, 3:33 PM, wpsmort wrote:

[2019-02-22 03:32] namo2199 opened #2225 "What Is Data Science"
Hello, I am Namo narayan. As the world entered the age of big data, the need for its storage also grew. It was the main challenge and concern for the enterprise industries till 2010. The main focus was on building solutions to store data. Now once Hadoop and other frameworks have successfully solved the problem of storage, the focus has shifted to the process of this data. Data Science is the secr

[2019-02-22 03:40] #2225 closed

[2019-02-22 06:37] contactashish13 commented on #2218
@michaeltorbert the only reason that I see for this is the ajax method not being fired that updates the user meta. This may happen because of a JS error because of some other component. That is why the user is being redirected to another page when clicking on the 'X' instead of it firing the ajax method. Can we get a screenshot of the JS console?

[2019-02-22 12:02] sardar1592 opened #2226 "Update failed for wordpress 5.1"
I just tried updating in WordPress 5.1 and it failed.

[2019-02-22 16:18] InoPlugs commented on #2120
Hi,

Sorry it took a bit longer but I think I could fix the problem.

I added it to our dev repo for the next release.

I'm not sure why exactly in the example and setting above the shortcodes are called during processing the header. If I load the main page of Enfold 2017 demo which is more complex the header is executed and then the shortcodes are started - sounds strange.

Set a breakpoint in en

[2019-02-22 16:23] wpsmort opened #2227 "Social Meta - Changing default OG:Type doesn't affect posts"
Reported by Kasturi P by email.

When you change the default OG:Type for a post type, it doesn't seem to change the og:type meta tag in the source code for posts in that post type.

[2019-02-22 17:04] wpsmort commented on #2227
I've been able to reproduce this and I've tested back through the versions of AIO and found that this bug originates in v2.2 of the plugin.

Here's the steps to reproduce:
1. Create a new site and install AIO
2. Activate the Social Meta module and go to it
3. Click Update Options to ensure default settings are written to the database
4. Create a new post and view the source code, the og:type shoul

[2019-02-22 18:30] michaeltorbert commented on #2226
This isn't enough information to go on. You can find the template for reporting a bug here: https://github.com/semperfiwebdesign/all-in-one-seo-pack/issues/new?assignees=&labels=&template=bug_report.md&title=

[2019-02-22 19:32] michaeltorbert commented on #2218
@contactashish13 Unfortunately we're not able to reliably reproduce it on our site or a user's site.

[2019-02-22 19:47] michaeltorbert commented on #1702
Bumping the priority to high since https://github.com/semperfiwebdesign/all-in-one-seo-pack/pull/1447 depends on it.

[2019-02-23 04:32] contactashish13 commented on #2218
I don't think we can reproduce it on another instance as it will be specific to the components installed on that site. The user says it happens all the time so it seems like it's consistent behavior for him. We can't get a screenshot of his console?

On Feb 23, 2019, 01:02, at 01:02, Michael Torbert <notifications@github.com> wrote:

[2019-02-23 08:19] contactashish13 commented on #2227
@wpsmort when you save a post, it is assumed that the value of the **Facebook Object Type** under the social media tab is being saved. This defaults to the value set under **Posts Object Type in the Social Meta** settings. Therefore when the value of **Posts Object Type** is Article, the default value of **Facebook Object Type** is also Article and the value of the post_meta saved is Article.

Whe

[2019-02-23 11:03] vikingrunes commented on #2218
Perhaps this notification should be removed altogether.... after all the user is being told that 1000 is recommended in the sitemap settings. Doesn't need to be alerted by yet another notification when he navigates away to other pages.

[2019-02-23 11:14] vikingrunes commented on #2219
So if Google is pinged instantly whenever a post is published then its not well described in "Schedule Updates:" where options are only Daily, Weekly, Monthly
People will think if they choose "Daily" that Google gets pinged only once a day based on wp-cron instead of an instant action. People will especially believe this after reading the HELP for Schedule Updates which actually says that this act

[2019-02-23 11:19] vikingrunes commented on #2217
I can't believe this isn't getting any traction and discussion. This is actually true and very important. Sub-sitemaps can't change names all the time, Google will go crazy. Its actually important to start with the oldest posts first and gradually move to the newest. Isn't milestone 3.0 kind of too far ahead? Can't this be implemented in the next update? Shouldn't be that complicated to do.

[2019-02-23 16:51] michaeltorbert commented on #2217
3.0 is the next release. It’s been marked as high priority.

[2019-02-23 17:10] wpsmort commented on #2227
@contactashish13 I feel that if you change the default Object Type for a post type then it should affect all posts, not just new posts.  It's not good practice to make a user go through every published post tp update them to the new Object Type.

Given this, which of the two options are the best way to handle this, or is there an alternative option that is better?

[2019-02-23 17:19] michaeltorbert commented on #359
Related to #2219

[2019-02-23 17:19] michaeltorbert commented on #359
@wpsmort Why did we agree to default to weekly instead of daily?

[2019-02-23 17:23] michaeltorbert commented on #359
One thought... wouldn't pinging on update potentially make the save action time out with an excessively large sitemap? Should we have this add a cron event on save to do it a few minutes later in the background?

[2019-02-23 17:25] michaeltorbert commented on #2219
@vikingrunes You're absolutely correct that this is confusing. What we'd talked about previously was having the pings happen on 1) publish new post 2) updating a published post and 3) daily, and removing the Schedule Updates option. We'd then add in a filter hook so that someone could change this behavior, as most people wouldn't need to.

[2019-02-23 17:52] michaeltorbert commented on #2218
I'm actually not opposed to the idea of removing the notification. Anyone in favor of keeping it?

[2019-02-23 23:07] vikingrunes commented on #2217
ohh sorry, I didn't know 3.0 is the next update, I thought there would be 2.13, 2.14 and so on, LOL. Well that's great news, I'm really happy this is getting taken care of. Cheers

[2019-02-23 23:07] vikingrunes commented on #2218
silence is acceptance, so we should remove the notification :+1:

[2019-02-23 23:09] vikingrunes commented on #2220
Where do I need to add that external images hook? In theme’s function.php ? Thanks

[2019-02-24 05:26] contactashish13 commented on #2227
@wpsmort I don't understand why there is an object type defined in the main settings as well in the post when you want the former to always supersede the latter. None of the options you have mentioned make sense to me. From my point of view, we should either remove the per-post setting so that the main object type is used for each post or consider the "bug" not a bug.

[2019-02-24 08:18] contactashish13 opened #2228 "Integrate Grunt with Travis"
Travis should automatically run Grunt for every PR

[2019-02-24 09:04] EkoJR commented on #2218
There is a WP Community constant, `DISABLE_NAG_NOTICES`, to handle this kind of stuff, and is also implemented in another branch. Plus, I thought current notice could be dismissed.

As a minor notification that does tend to get in the way, I do see others potentially finding it useful to know their site isn't being crawled; especially those who are new to WordPress. ...but I would agree being able

[2019-02-24 12:19] vikingrunes opened #2230 "Rename, Remove /cateogory/ prefix from URL"
Please add an option to remove or rename the word "CATEGORY" from URLs in AIOSEOP general settings. This option is provided by YOAST and I think its a very good idea. This can even be added to tags.

Here is an example for a typical WordPress category URL:
www.example.com/category/movies/
add an option to hide category form URL and transform it like this:
www.example.com/movies/
Or maybe others wo

[2019-02-24 13:49] michaeltorbert commented on #2230
Dupe https://github.com/semperfiwebdesign/all-in-one-seo-pack/issues/665

[2019-02-24 13:49] #2230 closed

[2019-02-24 13:53] michaeltorbert commented on #2218
@EkoJR The ability to dismiss it is there, but periodically someone reports they can't dismiss it. We haven't been able to reproduce that behavior, and don't know why that would be the case.

[2019-02-24 14:34] wpsmort opened #2231 "Social Meta - Remove Facebook Object Type from individual post"
Related to #2227.

We should discuss if we need the Facebook Object Type (https://semperplugins.com/documentation/social-meta-settings-individual-pagepost-settings/#facebook-object-type) as an option on the edit post screen.

Is there a use case for having it?
Could it just be a filter?

[2019-02-24 14:35] wpsmort commented on #2227
@contactashish13 This allows a user to set a default object type per post type and then override it on an individual post basis if they so wish.  If you change the default, it should change for all posts except any individual posts where the object type has been changed.

We need the default object type setting because it would be unrealistic to have a user go through all posts to set an object ty

[2019-02-24 14:38] michaeltorbert commented on #2227
I'm punting this to 3.1 so we can focus on other 3.0 PRs and issues.

[2019-02-24 14:43] michaeltorbert commented on #2220
@vikingrunes https://semperplugins.com/documentation/how-do-i-use-your-api-code-examples/

[2019-02-24 14:48] contactashish13 commented on #2227
Unfortunately there is no way to tell if the user changed the default just by looking at the value. What if the user deliberately wanted to retain the same value as the default?

I still don't think it's a bug. If it is, then the bug is in the UX or the UI not in the implementation.

On Feb 24, 2019, 20:05, at 20:05, wpsmort <notifications@github.com> wrote:

[2019-02-24 14:58] wpsmort commented on #2227
@contactashish13 What about my suggestion here:

We don't store the object type in post_meta unless it's been set for a specific post.  When outputting the og:type, we check if an object type is set in the post_meta for each post and if it's not, we pull the object type from the main AIO options table.

[2019-02-25 05:37] contactashish13 commented on #1013
@wpsmort I'm closing PR https://github.com/semperfiwebdesign/all-in-one-seo-pack/pull/1112 in favor of a new PR https://github.com/semperfiwebdesign/all-in-one-seo-pack/pull/2232 as I'm not sure a db migration is the right way to do this. I'm instead in favor of what Michael suggested: https://github.com/semperfiwebdesign/all-in-one-seo-pack/issues/1013#issuecomment-320063342

[2019-02-25 07:42] McG77 commented on #2180
I eventually contacted my host and they fixed it instantly. Thanks for pointing me in the right direction!

Kind regards
McG77

[2019-02-25 07:42] #2180 closed

[2019-02-25 08:04] arnaudbroes commented on #2180
@McG77 good, thanks for letting us know.

[2019-02-25 09:08] contactashish13 commented on #2227
@wpsmort Whenever any field under the social meta tab is filled, the post_meta is populated. So, whether you change the drop down or not, it is always populated when the post is saved so I'm not sure why you say

[2019-02-25 15:58] michaeltorbert commented on #2180
@McG77 For the benefit of others reading this issue can you share the problem and solution?

[2019-02-25 22:44] wpsmort commented on #1834
I've been unable to reproduce this on any of my sites or on a new site.  Any time I have an unattached image, I cannot produce a 404 error.  It correctly opens the image attachment page.

@arnaudbroes Can you reliably reproduce this?  If so, can you provide the steps.  Can you reproduce this with the new block editor in WP 5.x?

Here's my two cents on this:

1. I would want to know that we can rel

[2019-02-25 23:19] #1013 closed

[2019-02-26 10:24] arnaudbroes commented on #1834
@wpsmort I tried reproducing this in two test enviroments. I played around with a few versions of the plugin and WordPress, but I'm no langer able to reproduce this issue.

[2019-02-26 15:44] michaeltorbert commented on #1834
The user happens to be a Pro user, so I'm emailing him to ask for login info.

[2019-02-26 16:29] michaeltorbert opened #2233 "Make SEO columns on All Posts screen sortable"
https://codex.wordpress.org/Plugin_API/Filter_Reference/manage_$post_type_sortable_columns

[2019-02-26 17:29] michaeltorbert commented on #2198
dupe of #1972

[2019-02-26 17:29] #2198 closed

[2019-02-26 17:31] michaeltorbert commented on #1861
BTW this should be the newest gear icon

[2019-02-26 17:32] michaeltorbert commented on #1917
This should be the newest gear icon

[2019-02-26 17:35] michaeltorbert commented on #1908
Dupe of https://github.com/semperfiwebdesign/aioseop-pro/issues/213

[2019-02-26 17:35] #1908 closed

[2019-02-27 01:07] michaeltorbert commented on #1207
Redundant pr

https://github.com/semperfiwebdesign/all-in-one-seo-pack/issues/1230
https://github.com/semperfiwebdesign/all-in-one-seo-pack/issues/1546

[2019-02-27 01:07] #1207 closed

[2019-02-27 16:55] contactashish13 commented on #2160
@michaeltorbert @wpsmort please refer to https://github.com/semperfiwebdesign/all-in-one-seo-pack/issues/2160#issuecomment-456706271. Maybe this issue can be linked to the issue for removing static sitemap support?

[2019-02-27 16:57] wpsmort commented on #2160
Related to #541

[2019-02-27 21:07] michaeltorbert commented on #2160
Does this only happen for static sitemaps?

[2019-02-27 21:19] EkoJR opened #2234 "Fix unnecessarily initializing $description variable"
Variable is being initialized twice, causing the empty variable to be unused.

https://github.com/semperfiwebdesign/all-in-one-seo-pack/blob/8bdb9d1c564ec607ae10dbe2821fa228e98d094b/aioseop_class.php#L2583

[2019-02-27 21:52] wpsmort commented on #2160
I will contact the customer to confirm if this only happens when he has static sitemap enabled.

[2019-02-28 00:23] arnaudbroes commented on #2160
I can confirm this only happens for static sitemaps.

[2019-02-28 01:34] michaeltorbert commented on #2160
@arnaudbroes Great that this is a bug only in static sitemaps. Hopefully the user can try simply using dynamic.
It's still work testing to see if this resolves the problem as well. Were you able to get a testing site up for it?

[2019-02-28 01:37] #2160 closed

[2019-02-28 15:16] #2104 closed

[2019-02-28 23:25] wpsmort commented on #1282
I've only found one mention of "preferred site name" in Google's docs here - https://support.google.com/webmasters/answer/7358659?hl=en.  I've been through their docs on search features structured data (https://developers.google.com/search/reference/overview) and there's no reference there and there's no example JSON code that shows that specific markup.

I recommend we remove this when we remove

[2019-02-28 23:28] wpsmort commented on #1306
@arnaudbroes When you do this, please also fix where quotes are being escaped with a backslash, i.e.

\"forum\"

[2019-03-01 14:58] wpsmort commented on #1156
@michaeltorbert @EkoJR Here are my recommendations for making this more intuitive:

1. The cursor should change to a question mark when it's over the help icon.  This would match what WooCommerce does when you mouse over their help icons.

2. When you mouse over the label text the mouse should remain as the default cursor.  It should not change to a hand because the label text is not a link.

3. F

[2019-03-01 15:52] EkoJR commented on #1156
1. I agree.
2. I think this was either pre-existing or a browser default. I can look into changing this as well.
3. I agree. Probably just needs a seperate css class.

[2019-03-01 16:20] wpsmort commented on #1834
The user who reported this submitted login information.  I took a look and here are some notes on what I found with this specific site:

- The Media Library on this site contains 408 images, only two images were unattached.
- Of the two unattached images, I could not reproduce the reported bug with either.  For example, there's an image called Wheat which is unattached and is in the XML Sitemap.

[2019-03-02 10:45] arnaudbroes opened #2238 "Add "Use Static Homepage" to Social Meta menu"
As seen on Vivian C.'s website on 03-02-2019.

When the "Use Static Homepage" setting is enabled in the General Settings menu, then the plugin is outputting the SEO data that can be found in the meta box of the relevant page.

However, the Open Graph data for the homepage still has to be set in the Social Meta menu. That doesn't make sense. We should either (1) add the same setting in the Social M

[2019-03-02 10:49] arnaudbroes opened #2239 "Undefined index: aiosp_opengraph_options in aioseop_opengraph.php on line 1302"
As seen on Olivier S.'s website who reported this on 03-02-2019 in the Premium Forums.

https://semperplugins.com/support/troubleshooting-all-in-one-seo-pack-pro/php-error-message/

[2019-03-02 12:17] arnaudbroes commented on #449
Duplicate.

[2019-03-02 12:17] #449 closed

[2019-03-02 14:23] arnaudbroes opened #2240 "Replace "Save Options" buttons with AJAX"
We might want to consider replacing all "save options" buttons with AJAX and Event Listeners.

[2019-03-02 14:34] arnaudbroes opened #2241 "Make remaining strings translatable"
![image](https://user-images.githubusercontent.com/18156697/53683396-a344cc00-3d00-11e9-93bb-95efc37ba2fc.png)

[2019-03-02 14:36] arnaudbroes opened #2242 "Add &nbsp; to point out space to translators"
![image](https://user-images.githubusercontent.com/18156697/53683423-eacb5800-3d00-11e9-9b60-802d534bc255.png)

[2019-03-02 14:38] arnaudbroes opened #2243 "Remove spaces before and after anchor text"
![image](https://user-images.githubusercontent.com/18156697/53683445-2d8d3000-3d01-11e9-8168-260d5c94749b.png)
![image](https://user-images.githubusercontent.com/18156697/53683449-32ea7a80-3d01-11e9-9b1c-8dbfc4f57ef6.png)

[2019-03-02 14:49] arnaudbroes opened #2244 ""Title Settings" section should be called "Rewrite Settings" section"
Imo this should be called "Rewrite Settings" section because that section also controls the format for the meta description.

Related to #2245.

[2019-03-02 15:03] arnaudbroes commented on #2241
Here's another one:
![image](https://user-images.githubusercontent.com/18156697/53683748-bbb6e580-3d04-11e9-8b33-98880d6ee087.png)

[2019-03-04 13:07] michaeltorbert commented on #2244
I could see this. I'd like to hear what anyone else has to say though.

[2019-03-04 13:26] michaeltorbert commented on #2240
If we decide to do this, depending on how the discussion goes, it could be a candidate for including in 3.0.

[2019-03-04 13:39] arnaudbroes opened #2245 "Move title format fields for Custom Post Types to Title Settings section"
We have a dedicated section for the title formats, yet when we enable SEO for a custom post type, the title format field is added in the Content Type Settings section. I'm not entirely sure how we build up the menus, but if possible we should generate those fields at the bottom of the Title Settings section.

Related to #2244.

[2019-03-04 13:50] #2222 closed

[2019-03-04 16:06] #1850 closed

[2019-03-04 18:09] wpsmort commented on #2244
I'm not sure Rewrite Settings is a good title as I think it may be confusing to many users.  How about Search Appearance instead?

[2019-03-04 22:38] Brain8torm opened #2246 "Remove meta itemprop="image" from social meta markup"
![2019-03-05_1-12-30](https://user-images.githubusercontent.com/571307/53767759-cf6e7180-3ee7-11e9-96df-2573c45f30ae.png)
Hi!
The new version of All in One SEO Pack has an error as a result of checking the validity of the code in W3C in The social meta functionality. Before updating the `itemscope itemtype="plugin http://schema.org/WebSite"` was added to the html tag, so the code `<meta itemprop=

[2019-03-05 01:23] wpsmort commented on #2246
I've edited the title of this issue to better reflect the action required here.

The meta itemprop="image" was added for Google+ but as that is going away soon (see #2121) we should be able to remove this meta tag.  This was the article we referred to when we added the meta tag - https://moz.com/blog/meta-data-templates-123

[2019-03-05 18:24] arnaudbroes commented on #379
I'm not able to reproduce this either. I'm closing this issue since it's been so long since the initial report.

[2019-03-05 18:24] #379 closed

[2019-03-05 18:53] onetarek commented on #2242
How about print a space in new line instead of adding &nbsp; ?
Below is the proposed code :
`echo aiosp_common::get_upgrade_hyperlink( 'side', __( 'Pro Version', 'all-in-one-seo-pack' ), __( 'CLICK HERE', 'all-in-one-seo-pack' ), '_blank' );
								echo ' ';//extra line to print a space here
								echo __( 'to upgrade to Pro Version and get:', 'all-in-one-seo-pack' );`

[2019-03-06 10:48] contactashish13 commented on #2228
PR https://github.com/semperfiwebdesign/all-in-one-seo-pack/pull/2249 is now ready. Grunt has been added as a separate job.

![image](https://user-images.githubusercontent.com/12953439/53875563-c5a15700-402a-11e9-8279-2665e28b3273.png)

Any errors in grunt will be listed

![image](https://user-images.githubusercontent.com/12953439/53875673-144ef100-402b-11e9-9048-428d537a8cdc.png)

[2019-03-06 10:50] contactashish13 opened #2250 "Minimum supported version is WP 4.6"
- Make changes to Travis build file

[2019-03-06 10:56] contactashish13 commented on #2250
PR https://github.com/semperfiwebdesign/all-in-one-seo-pack/pull/2251 makes the minimum WP version in travis 4.6

[2019-03-06 14:34] #1156 closed

[2019-03-06 16:15] #2250 closed

[2019-03-06 16:16] michaeltorbert opened #2252 "Create comprehensive release testing doc"
This should probably go in the github wiki, it should be step by step, etc so that testing doesn't depend on one person. Anyone off the street should be able to go step by step and test.

Once completed, also add the list to #1980 so we can write tests.

[2019-03-06 16:24] #2228 closed

[2019-03-06 17:00] EkoJR commented on #2155
Another thought for `Needs Testing`, `Needs Code Review`, `Completed Testing`, & `Complete Code Review`, could be a `Passed Tests` and 'Passed Review`; which we could use Github's Review feature with. This would be more of a Quality Assessment (QA) approach.

[2019-03-06 21:22] #2 closed

[2019-03-06 21:23] michaeltorbert opened #2253 "UI - Improve mobile UX of options pages"
metaboxes, etc

[2019-03-06 21:29] #40 closed

[2019-03-06 21:32] #42 closed

[2019-03-06 21:43] #68 closed

[2019-03-06 21:48] arnaudbroes commented on #69
#2244 might be relevant.

[2019-03-06 21:51] #138 closed

[2019-03-06 21:53] #219 closed

[2019-03-06 21:54] #223 closed

[2019-03-06 21:55] michaeltorbert opened #2254 "Improve/add calls to action (to purchase)"

[2019-03-06 21:57] #1444 closed

[2019-03-06 22:12] #447 closed

[2019-03-06 22:12] #451 closed

[2019-03-06 22:15] arnaudbroes opened #2255 "Add link to About page"
/wp-admin/index.php?page=aioseop-about

Perhaps here?
![image](https://user-images.githubusercontent.com/18156697/53917796-ad026280-4065-11e9-85cc-88fe94138fd5.png)

[2019-03-06 22:19] #475 closed

[2019-03-06 22:25] michaeltorbert commented on #528
To recap, we're just removing the setting and all checks for it, but not the functionality.

[2019-03-06 22:30] michaeltorbert commented on #529
We need to determine if we want to keep the functionality to disable pagination for canonical urls. Why would someone want this? This would cause the >1 pages to be excluded from Google.

[2019-03-06 22:35] michaeltorbert commented on #534
What we discussed is that we'll remove the option and all checks for it, and leave the functionality such that either the compressed or uncompressed URL works. We'll just explicitly supply the uncompressed version though, and update the documentation to make it clear we offer both.

[2019-03-06 22:36] michaeltorbert opened #2256 "Add to documentation compressed sitemap"
related to #534

[2019-03-06 22:47] EkoJR commented on #587
Could be missing user role `aiosp_manage_options`.

[2019-03-06 22:48] #587 closed

[2019-03-06 23:05] arnaudbroes commented on #945
Steve and I suspect this has something to do with the rewrite rules.

[2019-03-06 23:05] michaeltorbert commented on #945
Steve and Arnaud believe it may have to do with the rewrite rules.

[2019-03-06 23:12] arnaudbroes commented on #1158
Ben might know someone.

[2019-03-06 23:13] michaeltorbert commented on #1166
@EkoJR might know someone

[2019-03-06 23:17] michaeltorbert commented on #822
duplicate of #1169

[2019-03-06 23:17] #822 closed

[2019-03-06 23:23] michaeltorbert commented on #1312
Does WP do this?

[2019-03-06 23:34] michaeltorbert commented on #1382
Let's leave the options the way they are, but start excluding noindexed pages from the sitemap.
We can address the overlapping issues later.

[2019-03-06 23:37] arnaudbroes commented on #1471
Discuss with Steve and Michael.

[2019-03-06 23:43] #1492 closed

[2019-03-06 23:44] michaeltorbert commented on #1492
Closing this until we can reproduce.

[2019-03-06 23:46] #667 closed

[2019-03-06 23:47] michaeltorbert commented on #667
Duplicate of #1584

[2019-03-06 23:52] michaeltorbert commented on #1615
duplicate of #1735

[2019-03-06 23:52] #1615 closed

[2019-03-06 23:53] michaeltorbert commented on #1806
duplicate of #1735

[2019-03-06 23:53] #1806 closed

[2019-03-06 23:53] michaeltorbert commented on #1735
In the WordFence image... 1) more modern looking metaboxes... we may be able to do it by just styling the existing metaboxes, or we may need to do something custom and move away from metaboxes 2) field elements themselves (checkboxes, radio buttons, etc) have more modern styling the save buttons stay put.

On the Gutenberg image, notice their nice big buttons. Those are not WP standard buttons, bu

[2019-03-07 00:02] michaeltorbert commented on #1698
dupe of #67

[2019-03-07 00:02] #1698 closed

[2019-03-07 00:02] michaeltorbert commented on #67
Comment from other issue:

[2019-03-07 00:05] #1702 closed

[2019-03-07 00:11] michaeltorbert commented on #1754
We should even go so far as to have an article written on "How to add the current year to your title".

[2019-03-07 00:19] michaeltorbert commented on #1875
We need to review this considering Gutenberg. Any fix needs to be tested with and without Gutenberg, in older versions of WP (4.6) and the latest. In the latest it should be tested with Gutenberg and with the visual editor plugin installed.

[2019-03-07 00:29] #1985 closed

[2019-03-07 00:34] arnaudbroes commented on #2043
https://woocommerce.wordpress.com/2017/08/28/new-version-check-in-woocommerce-3-2/
I'll check how this looks like atm.

[2019-03-07 00:34] michaeltorbert commented on #2043
@arnaudbroes See if you can figure out the advantages and disadvantages of doing this. What does it look like if we haven't updated yet?

[2019-03-07 00:42] michaeltorbert opened #2257 "Default to 1000 posts per sitemap file"
This just needs to be changed from 10k to 1000 in the settings code.

[2019-03-07 00:43] michaeltorbert commented on #1929
We simply need to change the default option from off to on in the settings code.

[2019-03-07 00:44] arnaudbroes commented on #2257
Relevant to #2218 .

[2019-03-07 00:44] michaeltorbert commented on #2218
We decided to simply remove the notification.

[2019-03-07 00:53] wpsmort commented on #2239
I believe this is a dupe of #2158 which was fixed in PR #2158

[2019-03-07 14:02] wpsmort commented on #2165
This would help address the problem reported here - https://wordpress.org/support/topic/post-title-page_title-error/

[2019-03-07 14:12] wpsmort opened #2258 "Add documentation on importing when post info doesn't match"
Reported here - https://wordpress.org/support/topic/import-not-working-48/

We need documentation that explains why importing post data doesn't work if the post information in the import file doesn't match the site you are importing to.

Our export file for post data contains a post title and post date.  When you import to a different site, we look for posts that match the post title and post date

[2019-03-07 14:51] wpsmort opened #2259 "Importer/Exporter module - Improve importing post data across sites"
Reported here:
- https://wordpress.org/support/topic/import-not-working-48/
- https://semperplugins.com/support/install-upgrade-all-in-one-seo-pack-pro/migrating-seo-pro-from-one-theme-to-a-new-theme/

We need to look at improving the Importer / Exporter module to allow users to import post data to a different site and have that post data attach to the relevant posts.

Currently, the import proces

[2019-03-07 14:53] wpsmort commented on #2258
I tested the importer and checked the code.  I found that we only import post data if the Post Title and Post Date match exactly.  I've opened issue #2259 to review this.

I'll add documentation that explains how the import process works.

[2019-03-07 19:05] EkoJR opened #2261 "Fix Grunt Failing on node.js test"
I noticed grunt has been failing due to recent changes, and it found something to cause a warning error with the unit tests for admin_notices class. Looks like it is just a child class that doesn't have params like the parent class.

[2019-03-07 21:27] wpsmort commented on #1865
This is a dupe of #1918

[2019-03-07 21:27] #1865 closed

[2019-03-07 21:27] wpsmort commented on #1918
Related to #289

[2019-03-07 22:17] wpsmort commented on #1478
This is a dupe of #495.  I'm moving that issue up to the v3.0 milestone.

[2019-03-07 22:17] #1478 closed

[2019-03-07 22:17] wpsmort commented on #495
Comment copied over from #1478:

Suggestion to gray out/disable whichever portion isn't in use https://wordpress.org/support/topic/social-image-settings/#post-10613006

[2019-03-07 22:22] wpsmort commented on #532
Dupe of #1282

[2019-03-07 22:22] #532 closed

[2019-03-07 22:24] wpsmort commented on #544
Dupe of #520

[2019-03-07 22:24] #544 closed

[2019-03-07 23:01] wpsmort commented on #1361
@contactashish13 Here's a synopsis of what needs to be done.  This has been discussed thoroughly, we just need a PR.

1. Remove the Create Compressed Sitemap (this is being done under #534)
2. Retain the functionality in the code that creates the compressed sitemap
3. Only display links to the uncompressed sitemaps in the sitemap index
4. Only display the link to the uncompressed sitemap in the ro

[2019-03-07 23:41] wpsmort commented on #495
@michaeltorbert Here's my recommendations for action to be taken:

1. If "Your homepage displays" is set to "A static page" then we gray out the "Home Title", "Home Description" and "Home Keywords" fields and we set "Use Static Front Page Instead" to Enabled

2. The customer should be able to change this by toggling "Use Static Front Page Instead" to Disabled if they so wish

3. We update the Help

[2019-03-08 02:05] #2226 closed

[2019-03-08 06:01] contactashish13 commented on #2217
PR https://github.com/semperfiwebdesign/all-in-one-seo-pack/pull/2263

[2019-03-08 07:51] contactashish13 commented on #1382
PR https://github.com/semperfiwebdesign/all-in-one-seo-pack/pull/2264

@michaeltorbert do you think is required even for categories when using PRO?

[2019-03-08 08:49] contactashish13 commented on #1690
@wpsmort this seems to be related to #1798 but that is part of milestone 3.1. I think both are interdependent and should be done together. Let me know what you think.

[2019-03-08 13:35] contactashish13 commented on #738
@michaeltorbert is something like this already being shown in the plugin that I can get inspired from? If not, can you share the kind of UI you are looking for this?

I can think of the below:

- a link like the ones we usually see on the plugins listing page along with the plugin actions
- an admin info notification like some plugins show

I think it would also be a good idea to make this generic

[2019-03-08 14:16] michaeltorbert commented on #738
@contactashish13 For now let's do a non-dismissible admin notice that only shows up on these pages.

[2019-03-08 14:17] arnaudbroes opened #2265 "Add upsell as admin notice for cat/tag/taxonomy titles"
Related to #738.

[2019-03-08 14:18] michaeltorbert opened #2266 "Marketing - Improved upsell on taxonomy admin pages"
In https://github.com/semperfiwebdesign/all-in-one-seo-pack/issues/738 we made an admin notice for taxonomy admin pages. We should designing explore better and more attractive options.

[2019-03-08 14:19] arnaudbroes commented on #2265
@contactashish13 we'll go with a non-dismissible admin notice for now that only shows up on these pages. We'll replace it #738 later on.

[2019-03-08 14:20] #2265 closed

[2019-03-08 14:20] arnaudbroes commented on #2265
Nevermind, Michael already created #2266.

[2019-03-08 17:35] urvesh18 opened #2267 "theme astra"
Please fill out this form as completely as possible so that we can help you more quickly.

- [ ] I understand that this is a development repository and not a support forum. This is a bug report and is not a support request.
 - [ ] I've followed the [troubleshooting steps](https://semperplugins.com/documentation/how-to-troubleshoot-issues-with-all-in-one-seo-pack)  to determine if there's a theme/p

[2019-03-08 17:40] wpsmort commented on #2267
Closing as there's no information

[2019-03-08 17:40] #2267 closed

[2019-03-08 21:51] sporkman opened #2268 "Conflict with EWWW.io plugin"
When installing the latest EWWW.io cloud version (https://wordpress.org/plugins/ewww-image-optimizer-cloud/), some type of JS issue is introduced in AIOSEO's admin-side javascript:
![screenshot-dt 2019-03-08 at 4 33 17 PM](https://user-images.githubusercontent.com/510750/54057980-79891a80-41c2-11e9-8b79-99c95b3336ce.png)

[2019-03-09 05:02] contactashish13 commented on #738
will not address this in 3.0 as this has been moved to 3.1 by @arnaudbroes

[2019-03-09 06:19] contactashish13 commented on #1361
PR https://github.com/semperfiwebdesign/all-in-one-seo-pack/pull/2269

[2019-03-09 13:44] contactashish13 commented on #808
@michaeltorbert this seems to be a problem with other settings as well. While testing, I tried a long title and the entire title was printed out without any truncation. Do you want to create another issue to deal with this or should this done as part of the same issue?

[2019-03-09 19:20] #2261 closed

[2019-03-09 19:27] michaeltorbert commented on #808
@contactashish13 Since that's a separate issue, it's best to go ahead and create a separate Github issue.

[2019-03-09 19:34] michaeltorbert commented on #1361
That's not great behavior. Considering we're planning on moving to index files by default (and maybe even removing the option to not have and index file), I wonder if we should just abandon compression. Thoughts? @wpsmort @contactashish13

[2019-03-09 19:53] michaeltorbert commented on #1382
I've opened an issue so we can discuss it. https://github.com/semperfiwebdesign/aioseop-pro/issues/470

[2019-03-10 22:01] #2243 closed

[2019-03-11 06:51] contactashish13 commented on #808
### Facebook

I've been searching about this and it seems there are multiple schools of thought without a consensus:

1. https://stackoverflow.com/a/8916327 says provide whatever and it will be suitably truncated
1. The official site http://ogp.me/ says very vaguely "A one to two sentence description of your object" without a hard limit
1. https://stackoverflow.com/a/9552296 (same post) refers to

[2019-03-11 07:24] contactashish13 commented on #1715
I've made this use fadein/fadeout instead of show/hide. In medium vs. slow fade, I find slow more graceful.

PR: https://github.com/semperfiwebdesign/all-in-one-seo-pack/pull/2271

I see that we are using a bespoke implementation of tabs where as now we can use https://jqueryui.com/tabs/ as jqueryui is being used extensively in other parts of the plugin as well. Eventually, tabs should also make i

[2019-03-11 08:33] arnaudbroes commented on #1715
I'm all for switching custom code to framework code. As for the settings, I agree we should move all modules to a single settings page at some point.

[2019-03-11 08:38] arnaudbroes commented on #808
I suggest that we use the optimal OG lengths I brought up in #2139. Wait on what Michael and Steve have to say about this though.

[2019-03-11 08:43] arnaudbroes commented on #1361
I would abandon compression in favour sitemap indexes. I don't feel like we still need it at this point and it's causing a boatload of issues.

[2019-03-11 08:46] arnaudbroes commented on #738
@contactashish13 there was some confusion going on between Michael and myself. Ideally this is added in 3.0, so I corrected the milestone.

[2019-03-11 12:18] contactashish13 commented on #2190
PR https://github.com/semperfiwebdesign/all-in-one-seo-pack/pull/2272

[2019-03-11 13:49] wpsmort commented on #1361
I am fine with abandoning sitemap compression.

We'll need to make absolutely sure that all .xml.gz URLs redirect to the uncompressed URL.  This is so that if users have submitted the compressed sitemap URLs to search engines, then search bots will get the uncompressed sitemap when fetching the compressed URL.

[2019-03-11 13:51] michaeltorbert commented on #1361
We'll need to make a point about this in the changelog and release post that we've dropped compression for sitemaps and that they may want to resubmit their sitemaps but that we've redirected them as well.

[2019-03-11 13:58] Nupee opened #2273 ""PHP Compatibility Checker" Reports Errors When Checking PHP 7.2 Compatibility"
FILE: /home/NAME/public_html/NAME/blog/wp-content/plugins/all-in-one-wp-migration/functions.php
-----------------------------------------------------------------------------------------------------------------------
FOUND 0 ERRORS AND 1 WARNING AFFECTING 1 LINE
-----------------------------------------------------------------------------------------------------------------------
 1402 | WARNING |

[2019-03-11 13:58] michaeltorbert commented on #2273
That's a different plugin, all-in-one-wp-migration, not All in One SEO Pack.

[2019-03-11 13:58] #2273 closed

[2019-03-11 14:38] wpsmort commented on #808
Here's Facebook's documentation:

https://developers.facebook.com/docs/sharing/best-practices/#tags
https://developers.facebook.com/docs/sharing/webmasters#markup

I've checked several popular pages on Facebook and they only seem to display one line of the description.  I therefore agree with Arnaud that we should truncate the description based on the length in #2139.

[2019-03-11 15:11] wpsmort opened #2274 "Use jQuery Tabs on Edit Post screen"
From #1715:

I see that we are using a bespoke implementation of tabs where as now we can use https://jqueryui.com/tabs/ as jqueryui is being used extensively in other parts of the plugin as well.

[2019-03-11 15:13] wpsmort commented on #1715
@contactashish13 I've opened #2274 for implementing jQuery Tabs and assigned it to you for this release.  We already have #127 open for your suggestion of using tabs on the main settings screens but that will be done in a future release.

[2019-03-11 17:59] michaeltorbert commented on #1715
Does https://github.com/semperfiwebdesign/all-in-one-seo-pack/issues/2274 make this issue obsolete?

[2019-03-11 18:16] wpsmort commented on #882
Requested again here - https://semperplugins.com/support/feature-requests-all-in-one-seo-pack-pro/add-noindex-capability-to-quick-edit/

[2019-03-11 18:16] wpsmort commented on #2030
Dupe of #882

[2019-03-11 18:16] #2030 closed

[2019-03-11 18:19] wpsmort commented on #152
Dupe of #151

[2019-03-11 18:19] #152 closed

[2019-03-11 18:20] michaeltorbert commented on #882
Ok, we're still conflating three things.

1) Add noindex/nofollow to quick edit
2) Add noindex and nofollow columns
3) Add noindex and nofollow to a custom bulk action (requires WP 4.7)

[2019-03-11 18:39] arnaudbroes commented on #808
@contactashish13 I'll just post those lengths here again for your convenience.

- OG Title length: 55 characters or under.
- OG Description length: 55 characters.

Just make sure there's no truncation.

[2019-03-11 18:50] arnaudbroes commented on #2268
@sporkman I'm not able to reproduce this with the latest version of EWWW Image Optimizer Cloud and All in One SEO Pack. I went through all menus of both EWWW.io Cloud and AIOSEOP with the dev console and I didn't see any errors.

Please provide us with a list of any other plugins you're using, your theme, tell us where this is happening and if possible how we can reproduce the issue.

[2019-03-11 19:19] michaeltorbert commented on #882
We're still conflating three things in this issue.

Add noindex/nofollow to quick edit
Add noindex and nofollow columns
Add noindex and nofollow to a custom bulk action (requires WP 4.7)

[2019-03-11 19:23] michaeltorbert opened #2275 "New Feature - Add noindex/nofollow to quick edit"
from https://github.com/semperfiwebdesign/all-in-one-seo-pack/issues/882

Requested here: https://semperplugins.com/support/feature-requests-all-in-one-seo-pack-pro/add-noindex-capability-to-quick-edit/

[2019-03-11 19:25] michaeltorbert opened #2276 "New Feature - Add noindex/nofollow to edit.php columns"

[2019-03-11 19:25] michaeltorbert opened #2277 "New Feature - Add noindex and nofollow to a custom bulk action"
Requires #2276 and WordPress 4.7

https://make.wordpress.org/core/2016/10/04/custom-bulk-actions/

[2019-03-11 19:26] michaeltorbert commented on #882
Closing this in favor of #2275 #2276 #2277

[2019-03-11 19:26] #882 closed

[2019-03-11 19:27] michaeltorbert commented on #2277
Requested here: Requested here - https://wordpress.org/support/topic/nofollow-multiple-selection/

[2019-03-11 19:52] wpsmort commented on #1690
@contactashish13 I can't say whether that Undefined variable notice has anything to do with this issue.  You will need to assess whether this can be completed independently of any other issue.

[2019-03-11 22:43] michaeltorbert commented on #495
[]We need to make sure to change the documentation as appropriate in both the plugin and on semperplugins.com/documentatin.
[]We also need to mention the changes in our release blog post, and maybe even a post just for this.
[]The changelog should make it very clear what's happening.

[2019-03-11 22:44] michaeltorbert opened #2278 "Write release post"
-make sure to mention https://github.com/semperfiwebdesign/all-in-one-seo-pack/issues/495
-For removing the compression option, make sure in the post we point out that we're only removing the option, that compression still works ie you can go to either url

We should probably also have a mailing about it.

[2019-03-11 22:45] michaeltorbert opened #2279 "Write blog post about title changes"
We're fixing some title bugs that will change the homepage title for some users. We may want to make a blog post about it.
https://github.com/semperfiwebdesign/all-in-one-seo-pack/issues/495

I'd say schedule this to publish a few days after the release post.

[2019-03-11 22:46] michaeltorbert commented on #495
When testing, test all scenarios in the spreadsheet.

[2019-03-11 22:57] wpsmort commented on #1471
See #1271 for changing %blog_title% macro

[2019-03-11 23:12] wpsmort opened #2280 "Title/description placeholder and preview snippet doesn't update with Gutenberg"
I noticed this behavior whilst testing today:

When you update the title, excerpt or content of an existing post, which results in a change to the preview snippet and placeholder text, the preview snippet and placeholder text do not change when you click Update.  They only change when you refresh the screen.

Steps to reproduce this:
1. Edit an existing post that has no SEO title or description
2.

[2019-03-12 00:42] michaeltorbert opened #2282 "Upgrade to Pro link has hardcoded path"
if the directory is anything other than all-in-one-seo-pack these don't show up.

<img width="452" alt="Screen Shot 2019-03-11 at 8 41 14 PM" src="https://user-images.githubusercontent.com/17364998/54167001-2f13d200-443e-11e9-8e0d-b8882c34a393.png">

[2019-03-12 00:52] michaeltorbert commented on #2282
<img width="382" alt="Screen Shot 2019-03-11 at 8 51 55 PM" src="https://user-images.githubusercontent.com/17364998/54167336-98481500-443f-11e9-814a-ac3792d63317.png">

[2019-03-12 00:58] michaeltorbert opened #2283 "Improve design of tooltips"
Our new tooltips are awesome! However I think they could be improved so that they're even more attractive.
<img width="733" alt="Screen Shot 2019-03-11 at 8 55 22 PM" src="https://user-images.githubusercontent.com/17364998/54167513-671c1480-4440-11e9-890f-ebcaefc384e4.png">

[2019-03-12 01:31] michaeltorbert opened #2284 "Text alignment in 3.0 branch"
@arnaudbroes @wpsmort @EkoJR  Was this intentional or did we break something?

<img width="382" alt="Screen Shot 2019-03-11 at 8 51 55 PM" src="https://user-images.githubusercontent.com/17364998/54168458-f3303b00-4444-11e9-8fde-9867950e79d6.png">

[2019-03-12 02:06] michaeltorbert commented on #2282
The shield is in https://github.com/semperfiwebdesign/all-in-one-seo-pack/blob/master/css/aiosp_admin.css#L5 For example, the all-in-one-seo-pack in #toplevel_page_all-in-one-seo-pack-aioseop_class is a hardcoded URL.

The upgrade link is https://github.com/semperfiwebdesign/all-in-one-seo-pack/blob/master/admin/display/menu.php#L41 all-in-one-seo-pack/aioseop_class.php is the hardcoded path.

[2019-03-12 02:12] michaeltorbert commented on #1917
I don't remember now why we did it this way, but here's the shield: https://github.com/semperfiwebdesign/all-in-one-seo-pack/blob/master/css/aiosp_admin.css#L5

[2019-03-12 09:58] arnaudbroes commented on #2284
Not intentional as far as I know.

[2019-03-12 14:02] wpsmort commented on #2284
This was unintentional and looks like it may have been caused by the tooltips PR #2236.

[2019-03-12 15:52] wpsmort opened #2285 "XML Sitemap - Excluding category also excludes posts in the category"
We discovered this bug when responding to https://wordpress.org/support/topic/exclude-parent-category-from-sitemap/

If you exclude a category using the checkboxes under XML Sitemap > Excluded Items, then all posts in that category are excluded from the sitemap.

If you exclude a parent category, then all posts in that category and all posts in the child categories are also excluded.

This has bee

[2019-03-12 16:50] #1498 closed

[2019-03-12 16:52] michaeltorbert opened #2286 "Title template on specific posts"
Currently we have a system where you choose (or use defaults) a title template in our options pages... so for instance, posts may have %post_title% | %blog_title% which would make the doc title for a post with the title "This is My Post" and a site title "My Awesome Website" would be "This is My Post | My Awesome Website".
Unfortunately there's no way to override that in the UI on a per post basis

[2019-03-12 19:24] #2217 closed

[2019-03-13 00:00] EkoJR commented on #2284
I believe this may have been intentional to some degree. I can't remember the exact reason, and can't find any mention of the change in old PRs. Either way, this will probably have to be restored if there is no reason for the change.

Many of the style changes did occure here https://github.com/semperfiwebdesign/all-in-one-seo-pack/pull/1814

[2019-03-13 04:34] contactashish13 commented on #808
@wpsmort Just being the devil's advocate here, why are we going against Facebook's cague documentation and instead going with arbitrary lengths. The lengths Arnaud is recommending is probably from https://www.thoughtshift.co.uk/pimp-my-serp-are-open-graph-og-tags-more-important-than-meta-data/. Do we have official data to back this up?

@arnaudbroes what do you mean no truncation?

[2019-03-13 04:50] contactashish13 opened #2287 "Travis build fails for specific WP_VERSIONs because of PHPUnit version"
Travis jobs that mention WP_VERSION=latest and WP_VERSION=4.6 fail with below reason:

![image](https://user-images.githubusercontent.com/12953439/54254391-85396000-4579-11e9-8111-d9b6d9956846.png)

example: https://travis-ci.org/semperfiwebdesign/all-in-one-seo-pack/builds/505576911

![image](https://user-images.githubusercontent.com/12953439/54254365-7488ea00-4579-11e9-999d-2f2f5e87449a.png)

[2019-03-13 07:48] EkoJR commented on #2284
Actually, this wasn't from the changes in PR #2236, but rather changes that did not occur. I vaguely remember some mention of it in the past to fix it, and thought it may have been added.

Although, this looks like a mixture of changes/issues that occured over time since when the PR was created.

[2019-03-13 09:51] contactashish13 commented on #2274
PR https://github.com/semperfiwebdesign/all-in-one-seo-pack/pull/2290

[2019-03-13 14:01] #2287 closed

[2019-03-13 14:39] wpsmort commented on #808
We agreed in the dev meeting today that, in the absence of any official documentation from Facebook, we'll go with the information in the thoughtshift.co.uk article that Arnaud found and we'll make it clear in our documentation and help that this is just a guide

[2019-03-13 15:27] wpsmort commented on #1690
We discussed this in today's dev meeting and agreed that we should work to fix this specific bug without breaking anything else and keep it separate from all the other issues related to noindex/nofollow.

[2019-03-13 16:41] arnaudbroes commented on #2268
@sporkman just a reminder that we need your input here, otherwise we'll have to close this issue as we're not able to reproduce this.

[2019-03-13 16:55] wpsmort commented on #2274
@contactashish13 I don't like the design of the new tabs.

I'd like to see us improve on how the tabs currently look.  Here is an example of a design I like that's simple, clean and looks good - https://tympanus.net/Blueprints/FullWidthTabs/

[2019-03-13 17:03] arnaudbroes commented on #1848
I can't say that the above steps are fully correct, but what I can say is that Facebook definitely isn't able to pick up the image when only using SSL and that online documentation shows we need to add the `og:image:secure_url` tag when the site supports https.

[2019-03-13 17:05] arnaudbroes commented on #1848
@contactashish13 I assigned this one to you for 3.0 as it shouldn't be too difficult to solve. Detect if the site is using HTTPS and if so, output the `og:image:secure_url` tag in addition to the regular `og:image` tag.

[2019-03-13 17:18] arnaudbroes commented on #2046
I tried reproducing this with a bunch of locales but I'm not seeing any errors in my PHP error log.

[2019-03-13 17:32] arnaudbroes commented on #2239
I asked Olivier in the Premium Forums which version he is using.

[2019-03-13 17:34] sporkman commented on #2268
Hi - I'm not seeing this in the settings for either, it's coming up when editing some custom post types. Without the dev console open, it presents as the page being unresponsive, but that's just the result of most of the javascript not firing. If I had to guess, the issue is somewhere in the AIOSEOP editor snippet where one is able to add featured images for social networking.

Lots of plugins - i

[2019-03-13 17:36] michaeltorbert commented on #2046
change $translations      = wp_get_available_translations(); to instead set $translations as an empty array. This should reproduce it.

[2019-03-13 17:38] michaeltorbert commented on #2239
He says in there it's Pro 2.13.

[2019-03-13 17:41] #1999 closed

[2019-03-13 17:47] michaeltorbert commented on #2120
@InoPlugs You can send it to support at our domain which is semperplugins dot com. Address it to @arnaudbroes .

[2019-03-13 17:50] michaeltorbert commented on #1934
@arnaudbroes Can you see if this still applies considering our new robots.txt functionality?

[2019-03-13 18:03] michaeltorbert commented on #261
The problem I see with this is that determining on which posts media is used isn't an exact science. In addition to the performance hit checking for something that's very much an edge case, there would be so many false positives resulting in unintentionally blocked images that are used elsewhere.
I think any solution would need to include explicitly blocking the private media, rather than AIOSEOP

[2019-03-13 18:03] #261 closed

[2019-03-13 18:24] michaeltorbert commented on #260
In 2.9 we introduced a fix for this, but then reverted in 2.9.1 due to performance issues.

Original PR https://github.com/semperfiwebdesign/all-in-one-seo-pack/pull/1461
Revert PR https://github.com/semperfiwebdesign/all-in-one-seo-pack/pull/2007
Revert Issue https://github.com/semperfiwebdesign/all-in-one-seo-pack/issues/1997

[2019-03-13 18:28] michaeltorbert commented on #638
@arnaudbroes Here we are 2.5 years. See if any of those plugins are doing things better. Otherwise, we just may not be able to change this on some servers and this issue should be closed.

[2019-03-13 18:37] michaeltorbert commented on #745
Does this only apply to compression? When/if we get rid of xml sitemap compression will it still be an issue?
Also, does this apply for dynamic sitemaps or just static? Does the issue go away when we get drop support for static sitemaps?

[2019-03-13 18:51] michaeltorbert commented on #324
This issue may go away once we do #1631

[2019-03-13 18:56] #2155 closed

[2019-03-13 19:08] michaeltorbert commented on #2088
I don't see any compelling reason for either, but sure, we can do double.

[2019-03-13 19:24] michaeltorbert commented on #1773
This is bad practice.

[2019-03-13 19:24] #1773 closed

[2019-03-13 19:28] michaeltorbert commented on #1736
Perhaps we should be stripping out all HTML?

[2019-03-13 19:41] #1654 closed

[2019-03-13 19:43] michaeltorbert commented on #1640
We should discuss if there's a better way to handle this, maybe with temporary caching instead of permanent?
or maybe if we just add an "x" or something to delete each?

[2019-03-13 19:48] michaeltorbert commented on #1592
We'll need to decide whether this should support removing by id, slug, or url, and what to pass, such as an array.
We also could consider making a function for people to use aioseop_remove_sitemap_urls( $array_to_remove );

[2019-03-13 20:02] michaeltorbert commented on #1312
@arnaudbroes Can you see if WP's canonical URL does this? If so this may become obsolete once we overhaul canonical URLs.

[2019-03-13 20:03] michaeltorbert commented on #1309
This is a tricky one. Taxonomy meta is only supported in Pro, however, we can still import it in free.

[2019-03-13 20:05] michaeltorbert commented on #1296
@wpsmort Can you please review this for 2019?

[2019-03-13 20:10] michaeltorbert commented on #944
@wpsmort Does this still apply since we've removed schema? Will it apply with our new schema code?

[2019-03-13 20:40] arnaudbroes commented on #2286
Test

[2019-03-13 20:41] michaeltorbert commented on #934
Closing as this would be nothing but problems. Even our competitor took it out.

[2019-03-13 20:41] #934 closed

[2019-03-13 20:59] #695 closed

[2019-03-13 21:00] michaeltorbert commented on #2123
Duplicate of https://github.com/semperfiwebdesign/all-in-one-seo-pack/issues/262

[2019-03-13 21:00] #2123 closed

[2019-03-13 21:27] michaeltorbert commented on #427
This should probably be an add-on

[2019-03-14 00:36] EkoJR commented on #2088
They way it currently is, is incorrect. WP Coding standards say we should be using single quotes to wrap strings, and this is the other way around and should be fixed.

The only time I've seen double quotes being useful is with SQL strings. Otherwise WP standards tend to be better.

[2019-03-14 00:37] arnaudbroes commented on #473
@wpsmort I'm not able to find such a class in \wp-includes\css\buttons.css.

[2019-03-14 00:40] EkoJR commented on #827
Should this also be made an admin notice?

[2019-03-14 00:41] arnaudbroes commented on #773
Doesn't need JavaScript, just an HTML attribute.

[2019-03-14 12:40] arnaudbroes commented on #427
This makes SimpleMap more or less redundant, right?

[2019-03-14 12:42] arnaudbroes commented on #827
@EkoJR that's correct. We added it to 3.2 since you already have plenty of work, but feel free to squeeze it in wherever you like.

[2019-03-14 13:37] #2284 closed

[2019-03-14 13:52] wpsmort commented on #1219
Dupe of #1929

[2019-03-14 13:52] #1219 closed

[2019-03-14 13:57] wpsmort commented on #1227
Dupe of #1851

[2019-03-14 13:57] #1227 closed

[2019-03-14 13:59] wpsmort commented on #1217
Dupe of #1929

[2019-03-14 13:59] #1217 closed

[2019-03-14 14:30] wpsmort commented on #2139
We agreed in the dev meeting today that, in the absence of any official documentation from Facebook, we'll go with the information in the thoughtshift.co.uk article that Arnaud found and we'll make it clear in our documentation and help that this is just a guide.

[2019-03-14 18:12] #203 closed

[2019-03-14 18:24] michaeltorbert commented on #119
This seems like an unnecessary complexity added to the plugin for very edge cases. A separate add-on plugin/script should handle it.

[2019-03-14 18:24] #119 closed

[2019-03-14 18:35] michaeltorbert commented on #108
I see the value in this but I think it's still a bit of an edge case and would just be clutter for 99.9% of users.
We should make a filter for it. The variable is dimg.

[2019-03-14 18:38] michaeltorbert commented on #103
We already have a filter hook for this, which I believe is used by the SimplePress AIOSEOP xml sitemap add-on.

[2019-03-14 18:38] #103 closed

[2019-03-14 20:33] wpsmort opened #2296 "twitter:title should be truncated"
Whilst discussing #808 with @contactashish13, we agreed that we should open a separate issue for truncating the twitter:title.

Twitter states that the title should be a maximum of 70 characters - https://developer.twitter.com/en/docs/tweets/optimize-with-cards/overview/markup.html

This does not, and should not, affect the og:title meta tag as Facebook does not truncate the title. I confirmed thi

[2019-03-14 20:54] wpsmort commented on #473
@arnaudbroes I believe you are correct.  It looks like there is only .button-primary and .button-secondary now.  I'm therefore closing this as I don't believe we need to make any change to the current button or CSS class.

[2019-03-14 20:54] #473 closed

[2019-03-14 21:49] wpsmort commented on #495
I knew I'd seen a theme that interferes with the Settings > Reading option in WordPress.  It was the ProPhoto theme that does it.  See screenshot from a site running ProPhoto:

<img width="702" alt="Screen Shot 2019-03-14 at 5 48 35 PM" src="https://user-images.githubusercontent.com/17548525/54393815-835ac400-4681-11e9-9880-92f2a8be201a.png">

When testing, we'll have to test with this theme as we

[2019-03-15 00:28] onetarek commented on #2282
Changing the plugin folder name is not only causing the missing icon but it also changes all menu slugs.
For example : I changed the folder name to `all-in-one-seo-pack2`. Now the icon is missing and menu slugs are changed to
- `all-in-one-seo-pack2/aioseop_class.php`
- `all-in-one-seo-pack2/modules/aioseop_performance.php`
- etc.

## Cause of issue :
All menu slugs are defined based on plugin_bas

[2019-03-15 01:38] onetarek commented on #2080
While looking at the function `get_the_image_by_attachment()` I have found an unnecessary line of code
`$alt   = trim( strip_tags( get_post_field( 'post_excerpt', $id ) ) );`

https://github.com/semperfiwebdesign/all-in-one-seo-pack/blob/master/admin/aioseop_module_class.php#L1627

[2019-03-15 05:10] contactashish13 commented on #2296
@wpsmort as discussed PR https://github.com/semperfiwebdesign/all-in-one-seo-pack/pull/2297 addresses this

[2019-03-15 05:10] contactashish13 commented on #808
PR https://github.com/semperfiwebdesign/all-in-one-seo-pack/pull/2297

[2019-03-15 11:49] peteralewis commented on #1798
For me this was appearing on the 404 page, unticking "Use noindex for the 404 page:" from AIOSEO settings resolved the error output. I still have `<meta name="robots" content="noindex,follow">` output to the page, so still OK.

[2019-03-15 12:35] psmits1567 commented on #1798
Thanks peter, I will test it

[2019-03-15 15:05] michaeltorbert commented on #2282
@onetarek No, we're not going to do that, and please stop posting irrelevant comments on issues.
If you think you've found something, it should be its own issue.

[2019-03-15 20:22] michaeltorbert commented on #427
SimpleMap does more than this would, although I'd be fine with phasing it out in favor of this once we get to where we can support add-on plugins.

[2019-03-15 20:29] michaeltorbert commented on #2088
@EkoJR You're thinking about PHP coding standards. HTML coding standards are either: https://make.wordpress.org/core/handbook/best-practices/coding-standards/html/#quotes

[2019-03-17 12:56] arnaudbroes opened #2298 "Bug - Blank homepage title & description when using ProPhoto theme"
This theme is known to cause issues with the homepage title and description because it hijacks the homepage in a certain way. It's been reported a few times already so I'm assigning this medium priority. I'm also contacting the developer to see if I can get a copy of the theme for dev purposes.

[2019-03-18 09:57] contactashish13 commented on #738
@arnaudbroes what should the placeholder text read?

[2019-03-18 12:46] contactashish13 commented on #1848
PR https://github.com/semperfiwebdesign/all-in-one-seo-pack/pull/2299

[2019-03-18 13:27] InoPlugs commented on #2120
@michaeltorbert
@arnaudbroes

Hi, sorry for the late reply. I sent you the latest version (4.5.5 - a beta version shortly to be released).

Let us know if everything is fixed with this version. See also https://github.com/semperfiwebdesign/all-in-one-seo-pack/issues/2120#issuecomment-466453764

[2019-03-18 14:26] arnaudbroes commented on #738
@contactashish13 "Want to control SEO for Categories, Tags and other Taxonomies? <a href="https://semperplugins.com/all-in-one-seo-pack-pro-version/" target="blank">Upgrade to All in One SEO Pack Pro and unlock our premium features.</a>"

[2019-03-18 14:49] contactashish13 commented on #738
PR https://github.com/semperfiwebdesign/all-in-one-seo-pack/pull/2300

[2019-03-18 15:00] arnaudbroes commented on #2120
@InoPlugs thank you for getting back to us. The issue is fixed in the latest version of the Enfold theme, so I'll go ahead and close this.

[2019-03-18 15:00] #2120 closed

[2019-03-18 17:00] wpsmort commented on #446
Closing this in favor of #2246

[2019-03-18 17:00] #446 closed

[2019-03-18 17:28] wpsmort commented on #944
This no longer applies as we are no longer outputting any Schema markup on product pages that conflicts with WooCommerce.  Issue #413 resolved this.

[2019-03-18 17:28] #944 closed

[2019-03-18 19:27] arnaudbroes commented on #2298
I received the theme file from Benjamin T. who is a support engineer for ProPhoto.

[2019-03-18 19:44] arnaudbroes commented on #2268
@sporkman I'm not able to reproduce this with those plugins either so I'll go ahead and close this for now, but please feel free to reopen this if you have any new leads.

I'd recommend you to disable all your plugins besides AIOSEOP, switch to the default Twenty Seventeen theme and then start by reactivating them one by one to narrow it down.

[2019-03-18 19:44] #2268 closed

[2019-03-18 19:55] wpsmort commented on #1696
Dupe of #2121

[2019-03-18 19:55] #1696 closed

[2019-03-18 19:57] #2108 closed

[2019-03-18 20:01] #1213 closed

[2019-03-18 20:07] wpsmort commented on #1366
We should do this as part of the Schema project in 3.0. All of the Schema examples that Google provides show https://schema.org

https://developers.google.com/search/docs/guides/search-gallery

[2019-03-18 20:10] wpsmort commented on #686
This should be done at the same time as #73

[2019-03-18 20:12] wpsmort commented on #500
Dupe of #1635

[2019-03-18 20:12] #500 closed

[2019-03-18 21:44] arnaudbroes commented on #2108
FYI, I've seen this happening a few times, each time caused by a plugin conflict.

[2019-03-18 22:09] arnaudbroes commented on #1655
I'm actually wrong here, that setting only contains settings that are specific to Facebook so I'll go ahead and close this issue.

[2019-03-18 22:09] #1655 closed

[2019-03-18 22:19] arnaudbroes commented on #1757
We're only using one instance of Media (see below) on line 844 of /modules/aioseop_sitemap.php. Apart from that, all other occurences of Media aren't (hard)coded in the plugin but fetched from the list of Custom Post Types that the plugin detects.

`$post_type_titles['attachment'] = __( 'Media / Attachments', 'all-in-one-seo-pack' );`

@michaeltorbert I think we'd be better off closing this issue

[2019-03-18 22:20] arnaudbroes commented on #1757
I realize we might be able to change this everywhere using the above code snippet but that seems like a lot of work for something so minor.

[2019-03-19 14:45] michaeltorbert commented on #1757
In general settings "media" is listed, which some users take to mean the photos themselves, rather than the attachment post type.

[2019-03-19 14:47] michaeltorbert commented on #2108
@arnaudbroes Feel free to reopen it if you can reproduce with repeatable steps.

[2019-03-19 17:21] wpsmort opened #2301 "Add current_month and current_year to title formats"
Requested by Ron by email today.

Add new macros for current_month and current_year to title format fields for Page Title, Post Title and Description Format.

[2019-03-19 17:48] wpsmort opened #2302 "Google Analytics - Implement the Global Site Tag (gtag.js) tracking code"
This issue was created from a request we received in #1386.

We currently output the Universal Analytics (analytics.js) tracking code but Google recommends using the newer Global Site Tag (gtag.js) tracking code - https://support.google.com/analytics/answer/7538414#analyticsjs

For basic GA tracking we should implement this code instead of the current analytics.js.   Here's the new gtag.js code:

[2019-03-19 17:56] michaeltorbert commented on #2301
We already do current year in #1754

[2019-03-19 17:58] wpsmort commented on #2302
Note that when we switch to this new gtag.js code, we will no longer be able to use the Autotrack plugin developed by Google - https://github.com/googleanalytics/autotrack#overview.  This is because Autotrack does not work with the new gtag.js code (https://github.com/googleanalytics/autotrack/issues/202).

As a result, when we implement the new gtag.js, we'll need to remove the following options:

[2019-03-19 18:19] wpsmort opened #2303 "Remove Autotrack.js and all options"
Related to #1386 and #2302

When we implement the changes in both issues above, we will need to remove the code and options associated with Autotrack.js (added in #921), this includes:

The script code shown below:
`<script async src="http://stevemortiboy.com/wp-content/plugins/all-in-one-seo-pack-pro/public/js/vendor/autotrack.js"></script>`

The following options:

- Track Outbound Links
- Track

[2019-03-19 18:21] wpsmort commented on #1386
Here's what needs to be done to add support for Google Tag Manager:

- Add a new option for Google Tag Manager Container ID (see mockup below)

- Output the following code in the <head>, where GTM-XXXXXXX is replaced with the code entered in the new option field:

[code]

- Output the following code immediately after the opening <body> tag, where GTM-XXXXXXX is replaced with the code entered in th

[2019-03-19 18:31] wpsmort commented on #1296
I have reviewed this and here are my findings and recommendations.

Google has added a new version of their tracking code called Global Site Tag (gtag.js).  This is the recommended tracking method for all new implementations of Google Analytics.

However, they do still support the Universal Analytics (analytics.js) code which we currently output.  This explains the available options - https://supp

[2019-03-19 19:00] wpsmort commented on #93
This can be done by using Google Tag Manager (#1386).  I've tested this and when you use GTM then we don't need to output any additional code in the head or body HTML.  Here are two links on how to do this with GTM:

https://support.google.com/tagmanager/answer/6106716?visit_id=636886184769352827-3327835737&rd=1

https://www.skylinetechnologies.com/Blog/Skyline-Blog/January_2017/How_to_track_PDF_d

[2019-03-19 19:00] #93 closed

[2019-03-19 19:09] wpsmort commented on #486
Yes, we could do this as a filter when we add support for the newer gtag.js tracking code (#2302).

Here's the docs on how to route to multiple accounts with the gtag.js code - https://developers.google.com/gtagjs/devguide/routing

[2019-03-19 19:11] wpsmort commented on #581
See also https://developers.google.com/gtagjs/devguide/amp.  This is for the newer gtag.js analytics tracking code (#2302)

[2019-03-19 19:18] wpsmort commented on #1623
This will become a non-issue once we do #1386 and #2302

[2019-03-19 19:19] #1623 closed

[2019-03-19 19:21] wpsmort commented on #1455
The code link in public/google-analytics.php is now HTTPS.  This change was made a while back, possibly as part of #921.

[2019-03-19 19:21] #1455 closed

[2019-03-19 20:06] wpsmort commented on #1296
I'm closing this as I cannot reproduce the issue with the Tracking Domain setting and we've not received any other reports of a problem with that setting.

[2019-03-19 20:06] #1296 closed

[2019-03-19 21:57] wpsmort commented on #945
We found that the NGINX rewrite rules in our documentation were missing the appropriate rules for the gzipped files.  These rules work fine:

[code]

These rules are taken from our function get_rewrite_rules in the aioseop_sitemap.php file.

[2019-03-19 22:05] wpsmort commented on #945
@EkoJR Now that we know what rewrite rules are needed for nginx users, can you see if there's any way we can incorporate this into the plugin because many hosting companies don't allow custom rules to be added to the nginx.conf file on their servers.

[2019-03-20 10:22] contactashish13 opened #2305 "Make it easy to test PRO features in the free plugin with minimal changes"
I thought about this change while working on https://github.com/semperfiwebdesign/aioseop-pro/issues/34.

The traditional way of testing PRO features are:

**Method 1**
- make changes in the PRO plugin code
- once everything works, migrate the code to the equivalent FREE files
- be careful **not to forget** anything

**Method 2**
- copy the PRO headers to the FREE plugin
- change value of `AIOSEOP

[2019-03-20 10:39] contactashish13 commented on #2305
PR https://github.com/semperfiwebdesign/all-in-one-seo-pack/pull/2306

comments welcome @semperfiwebdesign/aioseop-core-committers

The steps to test PRO features using the FREE plugin are:
- change value of `AIOSEOPPRO` to true
- change value of `AIOSEOPPRO_MIMIC` to true
- copy `pro` folder to the free plugin
- test

The advantages I see are:
- 2 switches that need to be switched on
- no copying

[2019-03-20 17:37] arnaudbroes opened #2307 "Bug - Autogenerated OG descriptions broken with Enfold theme v4.5.5"
@InoPlugs fixed #2120 but this in turn broke autogenerated OG descriptions. I'm reaching out to him to see what caused this.

Reported by Iskan I. on 3/20/2019 via e-mail.

[2019-03-20 17:44] arnaudbroes commented on #2120
@InoPlugs your fix seems to have caused #2307. Would you mind having a look at that?

[2019-03-20 20:57] wpsmort opened #2308 "Add doc for new disable_meta_tag_truncation filter"
In issues #808 and #2296 we added a new filter as follows:

[code]

We need to add this to our API documentation.

[2019-03-20 21:08] #1848 closed

[2019-03-20 21:10] wpsmort opened #2309 "Update doc for aiosp_opengraph_meta filter"
In PR #2297 we added two new parameters to the aiosp_opengraph_meta filter:

string $v The meta tag with the network name prefixed. This is not always $network:$meta_tag.

array $extra_params Extra parameters that might be required to process the meta tag.

We should update the API doc here - https://semperplugins.com/documentation/aiosp_opengraph_meta/

[2019-03-20 21:10] #2190 closed

[2019-03-20 21:11] #1198 closed

[2019-03-20 21:53] michaeltorbert commented on #738
This should be something with an eye catching design, as it's essentially an advertisement.

[2019-03-20 22:01] wpsmort commented on #1261
I don't have the steps to reproduce this, however, the Parsing error reported by the user is most likely an issue with a special character that we weren't encoding properly.  We've had many reports of this over the years with different special characters and have made improvements to the XML Sitemap module that should now encode all special characters correctly.

The other error reported was Tempo

[2019-03-20 22:01] #1261 closed

[2019-03-20 23:04] arnaudbroes commented on #738
@EkoJR will create a non-dismissable notice for this using his new class.

[2019-03-21 08:11] contactashish13 commented on #1690
If you check https://github.com/semperfiwebdesign/all-in-one-seo-pack/issues/1798#issuecomment-412670589, this is the change that caused the bug reported in #1798 and fixing that bug resulted in uncovering the bug that necessitated the need to rewrite behavior of NOINDEX/NOFOLLOW. Steve created a document (https://github.com/semperfiwebdesign/all-in-one-seo-pack/issues/1798#issuecomment-430020572)

[2019-03-21 13:16] InoPlugs commented on #2307
@arnaudbroes
@michaeltorbert

Please check https://github.com/KriesiMedia/enfold-library/blob/master/temp_fixes/Enfold_4_5_5/AIO_SEO/shortcode-template.class.php

Replace enfold\config-templatebuilder\avia-template-builder\php\shortcode-template.class.php with the content of this file.

Look at line 388:

[code]

I added an option where user can enable this. I'm not sure if Kriesi likes this optio

[2019-03-21 13:18] michaeltorbert commented on #2307
@InoPlugs Please don't tag me in issues unless I specifically am needed.

[2019-03-21 18:01] qasimsaleem1 opened #2310 "google web structure problem"
Google webstructure problem??

[2019-03-21 18:31] wpsmort commented on #2310
There is no information as to what this bug is or what feature is being requested.  When creating a new issue, you must select the correct issue type and complete all information requested in the form:

Bug Report - https://github.com/semperfiwebdesign/all-in-one-seo-pack/issues/new?assignees=&labels=&template=bug_report.md&title=

Feature Request - https://github.com/semperfiwebdesign/all-in-one-

[2019-03-21 18:31] #2310 closed

[2019-03-21 19:15] michaeltorbert commented on #2305
Even better is to use action/filter hooks so that Pro functionality doesn't require changes in free.

[2019-03-22 04:32] contactashish13 commented on #1690
https://github.com/semperfiwebdesign/all-in-one-seo-pack/pull/2264 needed to be assigned to @EkoJR not this issue. Even though both deal with NOINDEX issues, this issue is more about the need to rewrite the entire NOINDEX/NOFOLLOW behavior.

[2019-03-22 07:06] contactashish13 commented on #2196
I'm reopening this as there are many instances in the code where version checks are being done to support version lower than 4.6.

- https://github.com/semperfiwebdesign/all-in-one-seo-pack/blob/master/modules/aioseop_sitemap.php#L901
- https://github.com/semperfiwebdesign/all-in-one-seo-pack/blob/master/modules/aioseop_sitemap.php#L3300
- https://github.com/semperfiwebdesign/all-in-one-seo-pack/b

[2019-03-22 18:10] michaeltorbert opened #2311 "Drop support for <WP 4.7"
there are many instances in the code where version checks are being done to support version lower than 4.6. Fortunately, all of them are in just 1 file

- https://github.com/semperfiwebdesign/all-in-one-seo-pack/blob/master/modules/aioseop_sitemap.php#L901
- https://github.com/semperfiwebdesign/all-in-one-seo-pack/blob/master/modules/aioseop_sitemap.php#L3300
- https://github.com/semperfiwebdesign

[2019-03-22 18:11] #2196 closed

[2019-03-23 03:12] contactashish13 commented on #2274
I'm reopening this in view of https://github.com/semperfiwebdesign/all-in-one-seo-pack/pull/2290#issuecomment-475834342

[2019-03-23 11:56] arnaudbroes opened #2312 "Add support for rel=alternative"
Requested on 3/23/2019 by Niket in the Premium Forums.

[2019-03-23 15:19] arnaudbroes commented on #1798
Reported again here - https://wordpress.org/support/topic/a-new-undefined-variable/

[2019-03-23 22:27] michaeltorbert commented on #2312
Offhand I'd say this is something a translation plugin should handle.

[2019-03-23 22:27] #2312 closed

[2019-03-25 18:09] Isambel commented on #2307
@InoPlugs I did replaced enfold\config-templatebuilder\avia-template-builder\php\shortcode-template.class.php with the content of this file, and nothing changed, same issue.

I’m not seeing a meta description, og:description and twitter:description in the section in the source code of my site.

You can check it here: http://u4425-elevated-372.qsandbox.com/a-nice-entry/

Thanks,
Iskan

[2019-03-25 20:40] michaeltorbert commented on #2209
We need to figure out how to reproduce this reliably without having to use a clone of a user's site. What are the conditions that trigger this, and is it worth fixing?

[2019-03-25 20:43] michaeltorbert commented on #2165
Just to be clear, "drop support" could mean we don't explicitly call it page_title, but still support it when used.

[2019-03-25 20:57] michaeltorbert commented on #2162
@arnaudbroes Can you provide the steps to reproduce?

[2019-03-25 20:59] arnaudbroes commented on #2162
This was a bug in Chrome's dev version. Not on our end.

[2019-03-25 20:59] #2162 closed

[2019-03-25 21:08] #2096 closed

[2019-03-25 21:21] #1990 closed

[2019-03-25 21:29] michaeltorbert commented on #1697
Requested by Karen via email:

_I have a static front page and I change my photos frequently. On the Social Setting tab I have noticed a buildup of images and would like to delete them._

Should these be generated on the fly instead of stored in the db?

[2019-03-25 21:29] michaeltorbert commented on #1697
We should discuss if there's a better way to handle this, maybe with temporary caching instead of permanent?
or maybe if we just add an "x" or something to delete each?

[2019-03-25 21:29] michaeltorbert commented on #1640
Duplicate of #1697 1697

[2019-03-25 21:29] #1640 closed

[2019-03-25 21:35] michaeltorbert commented on #1656
@arnaudbroes See when this broke.

[2019-03-25 21:37] michaeltorbert commented on #1629
@arnaudbroes See if this still exists.

[2019-03-25 21:48] michaeltorbert commented on #1479
At vk.com/dev it looks like they do use opengraph, so someone needs to take a look at why it's not working.

[2019-03-25 21:50] michaeltorbert commented on #1476
@EkoJR Can you try one last time to reproduce this or figure out why it might be happening?

[2019-03-25 21:53] #1443 closed

[2019-03-25 21:56] arnaudbroes commented on #1400
I'll check this again to see if there are any other cases that trigger this.

[2019-03-25 21:57] arnaudbroes commented on #1391
This will be no longer relevant after #69 is done.

[2019-03-25 21:58] michaeltorbert commented on #69
When removing this issue, we need to look and see what functionality this will affect. According to #1391 it doesn't actually enable/disable the title rewriting, but we should see what it does actually do.

[2019-03-25 21:58] #1391 closed

[2019-03-25 22:13] michaeltorbert commented on #1373
Unless anyone can think of any reason why we should include private post types we should probably do this.
https://github.com/semperfiwebdesign/all-in-one-seo-pack/blob/master/aioseop_class.php#L3136

Three things to think about
a) Are there any circumstances why we'd want to include private post types?
b) Should we look into a filter hook to override?
c) We probably no longer have to manually rem

[2019-03-26 06:34] InoPlugs commented on #2307
@Isambel

Did you use the filter to activate it (see line 308 ff) ?

[2019-03-26 15:31] Isambel commented on #2307
@InoPlugs Sorry, no I did not, where's it? how do I activate it?

[2019-03-27 08:30] yonnsmit opened #2316 "Plugins -All In One SEO Pack"
| Documentation \| Support Forum \| SEO Settings \| Deactivate | Out-of-the-box SEO for your WordPress blog. Features like XML Sitemaps, SEO for custom post types, SEO for blogs or business sites, SEO for ecommerce sites, and much more. More than 50 million downloads since 2007.Version 2.12 \| By Michael Torbert \| View details \| Feature Request/Bug Report
-- | --
How to make my plugin settings o

[2019-03-27 08:56] arnaudbroes commented on #2316
This isn't something we can help you with.

[2019-03-27 08:56] #2316 closed

[2019-03-27 11:53] InoPlugs commented on #2307
@Isambel

Mentioned above:
enfold\config-templatebuilder\avia-template-builder\php\shortcode-template.class.php line 308.
[code]

[2019-03-27 14:22] EkoJR commented on #1382
When a Post Type is selected to be NoIndexed, should we probably grey-out the option in the post since it is intended for the same purpose. Currently to the user it acts as a boolean to noindex; the backend does have on, off, and empty.

If someone wants a Post to be indexed on a noindex Post Type, then we'll have to add/change the option, either as another boolean setting, or a select-option/rati

[2019-03-27 16:36] michaeltorbert opened #2318 "Video Sitemap - GDPR compliance plugin blocks videos from being detected"
On https://www.hikeventures.com/kammiovuori/ (video at the bottom), they're using the complianz-gdpr plugin (https://wordpress.org/plugins/complianz-gdpr/) which requires the user to accept cookies. This apparently blocks the video, and so it doesn't show up in the Video Sitemap https://www.hikeventures.com/video-sitemap.xml

I don't know whether this only applies to the Complianz plugin or whethe

[2019-03-27 16:45] arnaudbroes commented on #2318
Looks like iFrames store external cookies, which explains why cookie consent is needed in order to be compliant with GDPR.

[2019-03-27 16:46] rlankhorst commented on #2318
Hi @michaeltorbert,

That is correct, to prevent placement of thirdparty tracking cookies, iframes and scripts like that from youtube etc are blocked, then activated on consent.

This sitemap is generated based on the actual html output? If there's a request from your plugin which retrieves the video's, setting a constant like CMPLZ_DO_NOT_BLOCK, JSON_REQUEST, XMLRPC_REQUEST or DOING_AJAX,  will p

[2019-03-27 17:23] michaeltorbert opened #2319 "Hard-coded path"
In Pro we check for the existence of free by way of a hard-coded path to free "all-in-one-seo-pack/".
a) If free's directory is named something else this won't work.
b) If when making Pro for dev, you have to change the directory name or it will self-deactivate.

https://github.com/semperfiwebdesign/all-in-one-seo-pack/blob/8bdb9d1c564ec607ae10dbe2821fa228e98d094b/all_in_one_seo_pack.php#L509-L510

[2019-03-27 17:24] #2305 closed

[2019-03-27 17:31] michaeltorbert opened #2320 "SEO Data Importer - Add support for SEOPress"
Requested here: https://wordpress.org/support/topic/seo-presss-to-all-in-one-seo/#topic-11363222-replies

[2019-03-27 20:03] EkoJR commented on #2319
I just want to note, the `AIOSEOP_PLUGIN_DIRNAME` constant could possibly be used here.

[2019-03-27 20:19] michaeltorbert commented on #2319
That won't work, because we're talking two different plugins.

Pro needs the path to free, not to itself.

[2019-03-27 20:46] Isambel commented on #2307
@InoPlugs it worked, I added the filter in function.php
Testing: http://u4425-elevated-372.qsandbox.com/a-nice-entry/

Thank you!

[2019-03-27 23:37] #2296 closed

[2019-03-27 23:37] #808 closed

[2019-03-28 01:53] contactashish13 commented on #1382
What you are recommending is future behavior. My comment was pertinent to existing users who might have a variety of these settings. We need a combination of both to address this issue permanently.

On Mar 27, 2019, 20:22, at 20:22, EkoJR <notifications@github.com> wrote:

[2019-03-28 17:35] Isambel commented on #2307
@InoPlugs another issue is that Autogenerate Descriptions includes now  <h1>–<h6>: The HTML Section Heading elements which come before the content, except the content itself
So it looks like this now
<meta name="description"  content="<h1>–<h6>Lorem ipsum dolor sit amet, consectetuer adipiscing... " />
How do I get rid of <h1>–<h6> in the content descriptions ?

Testing: http://u4425-elevated-372.

[2019-03-29 10:22] arnaudbroes commented on #1408
Might be related (double vertical bar) - https://wordpress.org/support/topic/double-separator-in-wordpress-title/

[2019-03-29 10:22] arnaudbroes commented on #1408
I've cloned Marcos site to my personal development server and will look into this server.

[2019-03-29 10:28] arnaudbroes opened #2322 "multisite: “array_key_exists() expects parameter 2 to be array… in modules/aioseop_robots.php on line 315”"
Reported here - https://wordpress.org/support/topic/robots-module-throws-error-array_key_exists-in-multisite/

@EkoJR can you review this at some point?

[2019-03-30 11:53] EkoJR commented on #2165
Deprecate might be a better approach. Continue to support it in the backend, but mark it for deprecation and remove the messages/help-text.

[2019-03-30 12:42] michaeltorbert commented on #2165
@EkoJR We have to _always_ support it in the backend.

[2019-03-30 12:47] EkoJR opened #2323 "Sitemap: Index posts on NoIndex post type"
Currently there is only an option for NoIndex on the post editor, which only NoIndexes on an Indexed Post Type.

This adds the ability to Index posts on NoIndex post types. This may be useful for indexing only a few post from a post type, rather than have to noindex many of the other posts.

[2019-03-30 12:53] EkoJR commented on #1382
I'm referring to the post editor. The `null` and "off" options acts as one in the same in the UI, and I also ran a file search and did not find anything that checked if it was off; I only saw checks for `'on'`, `''`, & `empty()`.

As for future implementation, the UI option could be better defined when adding 'Index posts on NoIndex post type' #2323.

However, for `noindex === 'on'` it is definiti

[2019-03-30 13:00] EkoJR commented on #2165
@michaeltorbert That is true. Marking it as deprecate doesn't remove it, but discourages its use.

[2019-04-01 03:21] EkoJR opened #2324 "Sync AIOSEOP_Helper class with Pro"
Some changes were added to pro to make the Helper class more extended.

Related to https://github.com/semperfiwebdesign/aioseop-pro/pull/478

[2019-04-01 10:16] InoPlugs commented on #2307
@Isambel

Checking your link above: cannot see h1-h6 in page content (FireFox right click "Show page content").
[code]

[2019-04-01 13:15] Isambel commented on #2307
@InoPlugs    test Ref: - > is <H1>
Please check in page content (FireFox or Chrome right click "Show page content").
Fyi. This is Heading - > (H1-H6 testing Ref: github.com/semperfiwebdesign/all-in-one-seo-pack/issues/2307 H1-H6 Ends here)

http://u4425-elevated-372.qsandbox.com/a-nice-entry/ Access Code: 1234

<meta name="description"  content="H1-H6 testing Ref: github.com/semperfiwebdesign/all-

[2019-04-01 16:10] InoPlugs commented on #2307
@Isambel

I your first link you gave me the output is correct:

`<meta property="og:description" content="test Ref: Lorem ipsum dolor sit amet, consect .....`

What did you enter in the heading text?

Whatever is added to the meta is nothing to do with Enfold. That must be handled by the plugin and not by the theme. We offer only the filters.

[2019-04-01 16:58] Isambel commented on #2307
@InoPlugs In my first link I gave you the output is absolutely incorrect.

Check it please here http://u4425-elevated-372.qsandbox.com/a-nice-entry/
content="H1-H6 this is Heading TEXT!!! Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque"

it should not work like that...

Unfortunately, there are no such filters that can we

[2019-04-02 08:46] InoPlugs commented on #2307
@Isambel

As much as I can see in the HTML structure you used a "Special Heading" element and as Heading Text you entered:

`H1-H6 this is Heading TEXT!!!`

And this is correct wrapped in h1 tags in the HTML structure.

If you do not like h1 - h6 tags in the meta this is the job of the plugin to filter what is needed or not.

Running the shortcodes in the content filter MUST output everything.

[2019-04-02 15:12] arnaudbroes commented on #664
Perhaps related to #1408.

[2019-04-02 15:12] arnaudbroes commented on #1408
Reported again here - https://wordpress.org/support/topic/title-shown-twice-in-preview-snippet-on-posts-page/

[2019-04-02 21:31] wpsmort commented on #1834
Reported again by email from Bill Connors.

I got access to Bill's site and found that there were images in the Media Library which were unattached and which resulted in a 404 page when viewing them.  I was able to use the Media Library Assistant plugin (https://wordpress.org/plugins/media-library-assistant/) to identify that these media attachments all had an invalid parent page which no longer e

[2019-04-02 22:24] michaeltorbert commented on #1408
@arnaudbroes Can we reproduce this yet?

[2019-04-04 20:31] wpsmort opened #2326 "WooCommerce product category image no longer available as OG image"
Reported by Lauren Goldstein by email

On the Social Settings tab of the Edit Product Category screen, Lauren states that we used to display the product category image.  This is no longer the case.  The screenshot below shows how it used to look:

<img width="1029" alt="Screen Shot 2019-04-04 at 4 23 31 PM" src="https://user-images.githubusercontent.com/17548525/55586291-9a2b8e00-56f6-11e9-92fb-fa

[2019-04-05 09:50] H-K-P commented on #1660
Hi Michael,
I was wondering if there is any chance of getting this bug fixed soon?
I just checked and it is still the same as 11 months and 3 weeks ago.
Honestly. i'd like to get me name back.....   :)
Regards and thanks,
Angus

[2019-04-06 12:50] pschlenker opened #2327 "Undefined index in aioseop_class.php"
I'm seeing the following notice in my PHP error logs:

PHP Notice: Undefined index: aiosp_cpostactive in /home/xxxxxxx/xxxxxxx/wp-content/plugins/all-in-one-seo-pack/aioseop_class.php on line 3561

I am running WordPress 5.1.1 (Multisite) and All In One SEO Pack plugin version 2.12.

If you need debug information, give me an email address and I'll email it to you.

[2019-04-06 12:51] arnaudbroes commented on #2327
@pschlenker thank you for reporting this. Please contact us here - https://semperplugins.com/contact/

[2019-04-07 15:15] arnaudbroes opened #2328 "General - Update HTTP hyperlinks to HTTPS equivalents"
Requested here on 4/7/2019 - https://wordpress.org/support/topic/plugin-update-needed-to-correct-url-requests/

[2019-04-08 05:15] contactashish13 opened #2329 "Implementation of help text as a helper is procedural and not OOP"
While doing code review for https://github.com/semperfiwebdesign/all-in-one-seo-pack/pull/2325 I came across a weird implementation that I thought was unnecessary. As explained https://github.com/semperfiwebdesign/all-in-one-seo-pack/pull/2325#discussion_r272443543

## Why is this required?
- All help text is in one file **even though** the fields that need the help text are defined **per module,