[2018-06-14 15:42] michaeltorbert opened #1740 "Make CSS for XML sitemap filterable"
https://github.com/semperfiwebdesign/all-in-one-seo-pack/blob/410ad40cc9c8a3640ad2be33fb16feab42b908e3/inc/sitemap-xsl.php#L45

Some of all of it... we need to determine whether to add one big filter, or a few small specific filters, or is there a better way to handle this?

[2018-06-14 15:43] michaeltorbert opened #1741 "Make XML sitemap column headers filterable"
https://github.com/semperfiwebdesign/all-in-one-seo-pack/blob/410ad40cc9c8a3640ad2be33fb16feab42b908e3/inc/sitemap-xsl.php#L155

We need to verify this doesn't break anything for Google if the column headers are changed.

[2018-06-16 00:33] davettt commented on #1616
I see it in the debug logs on sites where WordPress settings are 'Settings > Reading ->Front page displays' is set to "Your latest posts". I think it happens around line 1629 of aioseop_class.php when $post->ID is called.

This occurs in the get_aioseop_title function as the is_front_page() conditional returns true but $post is null, for themes that use the default WordPress reading settings to di

[2018-06-20 00:31] Dynatrace-Paul-Anderson opened #1744 "XML Sitemap excluded pages field doesn't work for attachment slugs"
While the **Excluded Pages** field successfully excludes page slugs from the sitemap, it does not work when the slug is for an attachment.

I have a private page, which I've excluded from the sitemap by placing the page's slug in the **Excluded Pages** field. Unfortunately, the attachments on that page are still in the sitemap, so I need a way to exclude those pages as well. Adding the slugs for t

[2018-06-20 14:44] michaeltorbert commented on #1492
Reported again here: https://wordpress.org/support/topic/emojis-in-meta-description-not-showing/

It's suggested that "our main competitor" doesn't have that problem.
We should look into seeing if we can come up with a resolution.

[2018-06-20 21:17] wpsmort opened #1745 "Incorrect path in menu.php"
On line 30 of admin/display/menu.php is the following line:

`$submenu['all-in-one-seo-pack/aioseop_class.php'][] = array(`

The path needs to be changed to this so that it works regardless of what the plugin directory is called:

`$submenu[AIOSEOP_PLUGIN_DIRNAME . '/aioseop_class.php']`

In addition, we need to improve the code because current_user_can seems to break on multisite.  Moving the cur

[2018-06-20 21:19] wpsmort commented on #1744
I've checked this and found that there are potentially two issues here:

1).  We shouldn't include image attachments that are on a page set to Private.
2).  We should support IDs for attachments in the Excluded Pages field.

[2018-06-20 21:30] michaeltorbert commented on #1744
Are we talking about the images themselves or the attachment pages?
Also, let's keep in mind that media can potentially be attached to multiple pages, so we'd need to think about how to handle that.

[2018-06-20 21:43] wpsmort commented on #1729
I have improved the layout of the Additional Pages section for XML Sitemap and Video XML Sitemap so  that instead of using a tabular layout, the fields are in a form layout.  This provides more space for the Last Modified date field.  Here is a screenshot of the new layout:

<img width="868" alt="screen shot 2018-06-20 at 5 37 18 pm" src="https://user-images.githubusercontent.com/17548525/41686254

[2018-06-20 21:48] wpsmort commented on #1744
We're talking about attachment pages.  I would say that if an image is attached to two pages and one is public and one is private then the attachment page should be included in the sitemap.  However, if both pages were private then it should not be included.  I agree that this could get complicated though.

[2018-06-20 21:50] michaeltorbert commented on #1744
Yeah that's probably the way to go.

[2018-06-21 14:21] SimbaAowhoo opened #1747 "AIOSEOP blocks ul class=”woocommerce-error”"
**Describe the bug**
When AIOSEOP is enabled, the error messages such as "Invalid username", "The password you entered is incorrect." are not displayed on /my-account/ page. ul class=”woocommerce-error” is not produced when AIOSEOP is enabled.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to /my-acccount/
2. Click sign in without typing username or click sign in with wrong/empty passwor

[2018-06-21 21:57] michaeltorbert commented on #937
This may be fixed in 2.7 free/2.8 pro?

[2018-06-22 02:04] michaeltorbert commented on #1720
I'm pretty sure this was fixed in PR #1743
@wpsmort Can you check after me and confirm before we close this?

[2018-06-22 12:24] silencesilence opened #1748 "all-in-one-seo-pack disappeared"
all-in-one-seo-pack disappeared from edit a post or post new, at the bottom
where it should be, but it is gone

All In One SEO Pack 2.6.1
WordPress 4.9.6
WP theme - https://www.solostream.com/wp_theme/wp-clear/

[2018-06-22 13:34] #1748 closed

[2018-06-22 13:35] michaeltorbert commented on #1748
You can read about this here: https://semperplugins.com/missing-all-in-one-seo-pack-2-6-post-and-page-meta/

[2018-06-22 14:46] michaeltorbert commented on #1747
Reported again by Rama via email:

[2018-06-22 14:47] michaeltorbert commented on #1747
After verifying the issue, see if a recent update to either https://github.com/woocommerce/woocommerce or AIOSEOP caused this.

[2018-06-24 02:21] mobvd opened #1749 "XML Parsing Error"
my side show XML Parsing Error

[2018-06-24 02:30] michaeltorbert commented on #1749
This is a development repository not a support forum. Try looking at our documentation: https://semperplugins.com/documentation/this-page-contains-the-following-errors/

[2018-06-24 02:30] #1749 closed

[2018-06-25 01:12] #1730 closed

[2018-06-25 08:55] aleksmytiuk opened #1750 "Description is not working"
Title is ok, but there is no description. In cms everything is ok.
When I'm switch to default theme it's working, but with mine no. Is there any solution to this issue?
If it's help - mototpress and cherry theme.

[2018-06-25 13:14] michaeltorbert commented on #1750
This is a development repository and is not for support. We offer support for users who upgrade to a Pro license, which can be purchased here: https://semperplugins.com/all-in-one-seo-pack-pro-version/

[2018-06-25 13:14] #1750 closed

[2018-06-25 13:59] michaeltorbert opened #1751 "Code Refactor - Support for wp_get_document_title()"
Do we support this function? (from WP 4.4)

This is regarding the support request from e. stout via email

[2018-06-25 15:47] michaeltorbert commented on #1751
After testing, we definitely do not.
Possibly related to https://github.com/semperfiwebdesign/all-in-one-seo-pack/issues/877 https://github.com/semperfiwebdesign/all-in-one-seo-pack/issues/255

[2018-06-27 04:09] michaeltorbert opened #1752 "add secure url for og image"
og:image:secure_url

http://ogp.me/

[2018-06-27 14:42] michaeltorbert opened #1753 "XML Sitemap - add title and caption for images"
image:title
image:caption

[2018-06-28 04:29] jayyap24 opened #1754 "add %currentyear% title format"
I'm trying to figure out how to pull up the "current year" using a string so I don't have to update the SEO title anymore. For example, Yoast has "%%CURRENTYEAR%%" and it will get whatever is the current year.

Do you guys have that in All in One?

[2018-06-28 12:08] michaeltorbert commented on #1754
We have current_date, but not current year.
However now that there's an issue open for it, we'll be happy to add current year as well. :)

[2018-07-02 14:10] michaeltorbert commented on #1747
Reported again by https://wordpress.org/support/topic/woocommerce-login-errors-missing/#post-10454848

[2018-07-02 17:39] freelancekid opened #1755 "Issues with descriptions length & Sitemaps"
Hello,

We are seeing issues with snippet length restricting to 155 characters: http://nimb.ws/R0VtTQ
The above image has been confirmed by Moz and Google that the snippet length has increased.

In addition, the plugin is not working with Simple Press - creating a sitemap for the forum.

Any updates?

[2018-07-02 18:19] michaeltorbert commented on #1755
Separate issues should be created for unrelated things.

For the first, we increased it in https://github.com/semperfiwebdesign/all-in-one-seo-pack/issues/1395 and decreased it in https://github.com/semperfiwebdesign/all-in-one-seo-pack/issues/1694

For the second, this is an issue with simplepress, not AIOSEOP. You need to purchase their XML Sitemap integration plugin.
https://simple-press.com/st

[2018-07-02 18:19] #1755 closed

[2018-07-02 19:16] wpsmort opened #1756 "XML Sitemap - Non-Latin characters shown as hex in Additional Pages"
from by @arnaudbroes when testing PR #1746

1. Non-Latin characters are shown as UTF-8 hexadecimal values.
![image](https://user-images.githubusercontent.com/18156697/41773521-9c058480-761c-11e8-82ba-cabfb356f9d7.png)

2. This affects the styling in Microsoft Edge.
![image](https://user-images.githubusercontent.com/18156697/41773877-d516e34e-761d-11e8-8d84-add0d453c0ba.png)

3. It also means that

[2018-07-02 19:22] wpsmort commented on #1720
@michaeltorbert Yes, this was fixed in PR #1743 so I am closing this issue.

[2018-07-02 19:22] #1720 closed

[2018-07-02 19:30] wpsmort commented on #1374
This is resolved by issue #1647

[2018-07-02 19:30] #1374 closed

[2018-07-03 03:16] michaeltorbert opened #1757 "change "media" to "attachment""
This can be confusing for some, so we should discuss whether to change it.

[2018-07-03 11:55] jguerine opened #1758 "XML sitemap does not contains the pictures"
Hello,

I use the version 2.6.1 of AIOSEO.
I didnt tick the box 'exclude pictures', but those are not integrated in the sitemap?

thanks !

[2018-07-03 12:23] michaeltorbert commented on #1758
The sitemap does contain images. This isn't a support forum.
We offer support via Pro license which can be purchased here: https://semperplugins.com/all-in-one-seo-pack-pro-version/

[2018-07-03 12:23] #1758 closed

[2018-07-03 19:34] michaeltorbert opened #1759 "noindex for search pages fails when no search results are found"
I've been able to verify this behavior.
Does this fail is_search?  https://github.com/semperfiwebdesign/all-in-one-seo-pack/blob/7550dd8f46ce436216288c3dada2e71ad9929f12/aioseop_class.php#L4228

Reported here: https://wordpress.org/support/topic/search-page-noindex-setting-not-working/

[2018-07-04 14:24] michaeltorbert commented on #1688
Reported again here: https://wordpress.org/support/topic/undefined-variable-error-in-aioseop_opengraph-php/

[2018-07-09 08:34] luisherranz opened #1760 "REST API Integration"
**Is your feature request related to a problem? Please describe.**
Thanks to the REST API we can now consume WP content outside of its PHP templating system. We should have a way to retrieve the data created by AIOSEOP using the REST API. If not, this plugin will become useless for all those new WP use cases.

**Describe the solution you'd like**
It should expose the relevant data using the REST A

[2018-07-10 07:52] luisherranz commented on #1760
Ok. Imagine you want to fetch your content using the REST API and build the final HTML using that data. Your endpoint would be something like this:
https://demo.worona.org/wp-json/wp/v2/posts/60?_embed=true
(`_embed=true` is used to include the author/tags/categories/images data in the same response)

You need to populate your HTML with that data, for example `<title>`, but the only thing you have

[2018-07-10 11:06] srdjan-jcc opened #1761 "WPML string translation hooks"
Translations for Home Page Title and Home Page Description fields are not applied.
AIOSEOP is calling get_options() too early and translations are not applied.

When home page is loaded, get_options() hook is only once called from file/line
all-in-one-seo-pack-pro/all_in_one_seo_pack.php :126

If aioseop_get_options() is called on 'init' hook - translations are applied.

**To Reproduce**
1. Edit H

[2018-07-10 12:11] michaeltorbert commented on #1760
Sounds like creating new endpoints is probably the way to go.
If you're interested in submitting a PR, that would ensure this gets included more quickly.

[2018-07-10 12:13] michaeltorbert commented on #1761
Thanks for the report. Feel free to submit a PR if you like.

[2018-07-10 14:04] #1729 closed

[2018-07-10 14:29] wpsmort opened #1762 "Help icons not working"
When clicking on a help icon in the 2.7 branch nothing happens and I get these JS errors in the browser console:

Uncaught TypeError: $ is not a function - aioseop_module.js?ver=2.6:851
    at aiospinitAll (aioseop_module.js?ver=2.6:851)
    at HTMLDocument.<anonymous> (aioseop_module.js?ver=2.6:642)
    at i (load-scripts.php?c=0&load[]=jquery-core,jquery-migrate,utils,moxiejs,plupload&ver=4.9.6:

[2018-07-10 14:45] wpsmort commented on #1762
@michaeltorbert I found that removing the $ from inside the parenthesis after the aiospinitAll and aiospinitCounting functions fixes the first JS error.  So the code that works looks like this:

`function aiospinitAll(){`
`function aiospinitCounting(){`

However, I cannot work out what is causing the second JS error - toggleVisibility is not defined

[2018-07-10 14:57] wpsmort opened #1763 "Add Help link to docs in Robots.txt module"
The Robots.txt module is missing a Help link to the docs in the top right corner.

<img width="1187" alt="screen shot 2018-07-10 at 10 56 23 am" src="https://user-images.githubusercontent.com/17548525/42518499-f77fd510-842f-11e8-826b-98d452138957.png">

[2018-07-10 16:08] #1763 closed

[2018-07-10 18:20] arnaudbroes commented on #1762
This actually does not only break the Help buttons, but all JavaScript on the page due to a scope error.

[2018-07-10 18:51] arnaudbroes opened #1765 "Sitemap Status box doesn't collapse"
Noticed this while working on #1762.

[2018-07-10 18:53] michaeltorbert opened #1766 "Name releases/milestones"
https://github.com/semperfiwebdesign/all-in-one-seo-pack/milestones

[2018-07-11 16:15] #1762 closed

[2018-07-11 17:35] michaeltorbert opened #1769 "Bad Bot Blocker module blocks SEMRush's site audit"
Reported here: https://twitter.com/Paul47Insights/status/1016816541264826368

To fix this, we'll probably need to run a site audit and log exactly what bot name/string is getting blocked.

We may want to see if we can get a test account for semrush.

[2018-07-11 18:22] wpsmort commented on #1142
I have updated both docs and screenshots here:
https://semperplugins.com/documentation/robots-txt-module/
https://semperplugins.com/documentation/file-editor-module/

[2018-07-11 18:22] #1142 closed

[2018-07-11 18:31] michaeltorbert opened #1772 "Create/improve documentation for the new robots.txt functionality, including multisite"
https://github.com/semperfiwebdesign/all-in-one-seo-pack/issues/1647

Link to it from the changelog as appropriate.

[2018-07-11 21:05] Tydbyte commented on #1695
I am having the same problem.
Any word on if this can be fixed?
Thanks.

[2018-07-11 21:23] wpsmort opened #1773 "Add rel=nofollow option for all external links"
Requested by Bob Gibson by email today.

Add an option to set all external links to have the rel=nofollow attribute.

[2018-07-12 01:39] michaeltorbert commented on #1492
Reported again here: https://twitter.com/LanceH61920/status/1016766810081910784

[2018-07-12 04:03] michaeltorbert opened #1774 "FTP credentials required on every pageload bug"
This happens with some sites that have whatever filesystem issues (no suexec, incorrect permissions, not having FS_METHOD as direct, or whatever). (Reported by Eric in email)

For testing, we can force the issue by changing FS_Method to ftpsockets in wp-config.php

<img width="1408" alt="screen shot 2018-07-12 at 12 02 04 am" src="https://user-images.githubusercontent.com/17364998/42612011-e516c14

[2018-07-12 12:55] michaeltorbert opened #1775 "aioseop_load_modules not found"
Reported here: https://wordpress.org/support/topic/oops-plugin-vanished-with-upgrade/

Warning: call_user_func_array() expects parameter 1 to be a valid callback, function ‘aioseop_load_modules’ not found or invalid function name in /srv/users/serverpilot/apps/wordpress/public/wp-includes/class-wp-hook.php on line 286

Warning: Cannot modify header information – headers already sent by (output sta

[2018-07-12 12:58] michaeltorbert opened #1776 "version 2.7 update on multisite issues"
Reported here: https://wordpress.org/support/topic/version-2-7-update-on-multisite-issues

"updated all in one to version 2.7.0 in one multisite installation.
Plugin are activated per site, not network wide.
Latest version of wp 4.9.7

All all in one seo options are dissapear from single post, page, and also main page options dissapear. Try access to options page from link in plugin view but get e

[2018-07-12 20:13] michaeltorbert opened #1777 "Consider removing support for FTP credentials for filesystem"
When we call request_filesystem_credentials we support FTP credentials, which is outdated, not needed on 99% of websites, and causes problems like https://github.com/semperfiwebdesign/all-in-one-seo-pack/issues/1774

We should consider ditching this, or at least only supporting it when explicitly requested, such as with an aioseop-specific constant in wp-config.php or a filter hook.

[2018-07-12 20:17] michaeltorbert opened #1778 "Redo our WP Filesystem API interface code"
Our code to interface with the WP filesystem API is old and probably outdated. We should look at it to see if can be improved/modernized.

[2018-07-12 20:21] michaeltorbert commented on #1777
From https://codex.wordpress.org/Filesystem_API

[2018-07-12 20:23] michaeltorbert commented on #1774
While this code still needs to be improved (doesn't need to happen on every pageload, and at a minimum on just the robots.txt module options page), we may want to start with just 1777 as a quick fix in the meantime.

[2018-07-12 20:58] arnaudbroes commented on #1776
I'll report my findings below:

- This error is only triggered when All in One SEO Pack is not network-activated, but activated on each subsite individually.

[2018-07-12 21:17] arnaudbroes commented on #1775
![image](https://user-images.githubusercontent.com/18156697/42659792-a5a411ba-8629-11e8-8625-e4198453477e.png)

This only happens when the plugin is **not network-wide activated**, but rather activated separately on each individual subsite.

[2018-07-12 21:55] arnaudbroes commented on #1776
This only occurs on multisites where the plugin is **not network-wide activated**, but rather activated separately on each individual subsite. Therefore, it is definitely related to #1775. It also started in the same commit - https://github.com/semperfiwebdesign/all-in-one-seo-pack/commit/67f1339fa8ef8a64a5ff701b7a5abf836a0960e3#diff-a49a1e48ac5a28e789ed856196af92c5

![image](https://user-images.g

[2018-07-12 22:01] wpsmort commented on #1775
Reported again by email from Paul Speck today.

[2018-07-13 01:36] wpsmort commented on #1775
Reported again here - https://wordpress.org/support/topic/error-after-updating-17/

[2018-07-13 03:05] michaeltorbert opened #1779 "move module code into callback functions"
a lot of the code in modules exists in either the construct or outside of callback functions... this generally means it runs on every page load

[2018-07-13 05:43] 21stcn commented on #1775
Same warning after update. I am running multisite with AIOSEO only active on some of the subsites.

[2018-07-13 13:35] wpsmort commented on #1774
Reported again by Krystian Hamerlik-Konopka via email

[2018-07-13 18:50] wpsmort opened #1785 "Cannot import or delete a static robots file with 2.7.1 branch"
I tested the code in the 2.7.2 branch on three sites and got the following problem when a static robots.txt file is present:

**On a Local dev site with nothing in the wp-config file for filesystem access method:**
- When I go to the Robots module it recognizes there is a static robots.txt file and provides the links to import and delete or delete but clicking either link does nothing
- If I add d

[2018-07-13 19:53] wpsmort commented on #1785
This is related to #1780 and #1781

[2018-07-13 19:56] wpsmort commented on #1775
This is tested and is good.  We have notified all users who reported this bug that v2.7.1 has been released.

[2018-07-13 19:56] #1775 closed

[2018-07-13 19:56] wpsmort commented on #1776
This is tested and is good.  We have notified all users who reported this bug that v2.7.1 has been released.

[2018-07-13 19:56] #1776 closed

[2018-07-13 19:57] wpsmort commented on #1777
Testing identified a bug and issue #1785 was opened to fix this in v2.7.2.

[2018-07-13 19:57] #1777 closed

[2018-07-13 19:58] wpsmort commented on #1774
Testing identified a bug and issue #1785 was opened to fix this in v2.7.2.  Leaving this open until everything has been resolved and users have been notified.

[2018-07-13 20:21] arnaudbroes commented on #1785
On a local dev site on my machine, the static robots.txt file is not recognized when it's placed in the root folder and when "define('FS_METHOD', 'direct'); isn't added to wp-config.php. Once it is, the plugin recognizes it, displays the import/delete anchors but they don't work.

[2018-07-13 22:35] mqudsi commented on #1775
I was just about to report this having ascertained it wasn't from anything on my end.

I can verify it's fixed with 2.7.1.

[2018-07-14 10:43] arnaudbroes commented on #1747
I'm not able to reproduce this using the exact same environment as @SimbaAowhoo. The error messages are showing up on my site. There might be a configuration issue.

@SimbaAowhoo, would you willing to give me access to your website so I can duplicate it and continue troubleshooting the issue? If so, please use our secure form to send us the credentials for an administrator user - https://semperplu

[2018-07-15 01:22] jodpoveda020390 opened #1789 "lector de huella"
reloj biometrico para el control de asistencia de personal, controles de acceso y una gama de equipos que se adaptan a las necesidades del mercado moderno por medio de la identificación de huella dactilar

[2018-07-15 01:23] #1789 closed, assigned to nobody

[2018-07-17 04:19] michaeltorbert opened #1790 "css improvement for text input fields"
Reported via email by Mark:

_There needs a change to the size (height) if the input field boxes used on each post or page editor, where we can enter Title, Keywords, etc.

The letters placed into the input box are cut-off at the bottom. Some letters are indistinquishable because the bottom portion is cut off.

This is the CSS file that needs changing;

Location of the CSS File: /wp-content/plugin

[2018-07-17 08:54] luisherranz commented on #1760
I'll do it as soon as I have time to explore AIOSEOP code and internal APIs.

[2018-07-17 16:57] santoshjmb opened #1791 "I would like to change old url "xyz.com/abdc" to "xyz.com/abcd", redirection option is lacking here"
I would like to change the old URL "xyz.com/abdc" to "xyz.com/abcd"

Would be happy if the plugin allows for a quick redirection change for the old URL just after changing the URL. Similar to Yoast SEO. This would remove the need of having a redirection plugin overall.

[2018-07-17 17:03] michaeltorbert commented on #1791
Thank you for your feedback. We've got an issue open for this https://github.com/semperfiwebdesign/all-in-one-seo-pack/issues/157

In the meantime, we use and recommend: https://wordpress.org/plugins/redirection/

[2018-07-17 17:03] #1791 closed

[2018-07-17 17:16] #1785 closed

[2018-07-18 10:22] Dougmc100 opened #1794 "all in one seo sitemap generation"
Hi I've been on chat with go daddy and they say the reason for a blank sitemap page is down the plugin. It has been working in the past but now its just a blank page.

[2018-07-18 10:34] colocoquillo opened #1795 "Attatchment page redirect not working"
Hi, I had to install a separate plugin as i just realized (by doing a search in google) that search engines where catching up my attatchement pages, which it should not, as i have activated the redirect attatchment pages option. I have the latest version installed, but i pressume that if the attachments are already indexed, this whould be or should have happened since at least a few versions ago.

[2018-07-18 10:40] colocoquillo commented on #1733
I have just recently opened a post about it (4 minutes ago) and think this could be the "issue" im facing, I think the approach of redirecting to the image itself is the way to go or at least one way to go. A decission should be taken in regards to this, it is affecting my SEO and my google results.

[2018-07-19 04:50] michaeltorbert opened #1796 "consider noindex for media/attachment post types by default"
Consider defaults for this + redirect to parent post.
Reasons not to do this would include messing up photography, etc sites.

[2018-07-19 04:56] michaeltorbert opened #1797 "noindex doesn't work when no SEO for a post type"
While working on https://semperplugins.com/support/configuring-all-in-one-seo-pack-pro/when-to-noindex-media/, I realized that if a post type has "no seo for this post type" selected, we  can't noindex it... it completely takes away the AIOSEOP section

related to #1796

[2018-07-19 05:04] #1795 closed

[2018-07-19 05:07] michaeltorbert commented on #1794
Godaddy wouldn't know anything about this.
You can read about it here: https://semperplugins.com/documentation/this-page-contains-the-following-errors/

As this isn't a support forum, I'm closing this issue. If you'd like additional support, you can purchase a Pro license here: https://semperplugins.com/all-in-one-seo-pack-pro-version/

[2018-07-19 05:07] #1794 closed

[2018-07-19 05:15] michaeltorbert opened #1798 "Undefined variable: post_type in aioseop_class.php"
`Undefined variable: post_type in <b>/var/www/fournais-bender.dk/public_html/wp-content/plugins/all-in-one-seo-pack-pro/aioseop_class.php</b> on line <b>4155</b>`

https://github.com/semperfiwebdesign/all-in-one-seo-pack/blob/master/aioseop_class.php#L4159

Reported by Henriette via email.

For reproducing... on the customer's site, it's only showing up on the _search results_ page.

[2018-07-19 12:58] arnaudbroes commented on #1747
I've tracked this issue down to our "Run shortcodes in the description" setting at the bottom of the Social Meta menu which is known to cause similar issues with other plugins that also use shortcodes.
Disabling it resolves this issue.

[2018-07-19 19:00] michaeltorbert commented on #1747
@arnaudbroes Make a note for us to discuss this with Steve.
As for this issue, we should probably look into some better way to handle it since it keeps coming up, for WC at least.

[2018-07-19 20:11] michaeltorbert opened #1799 "social tab conflict with YOP Poll plugin"
Reported here: https://wordpress.org/support/topic/clicking-on-social-tab-does-nothing

SEO on custom post types is enabled for Pages/Posts/Media

[2018-07-19 21:04] arnaudbroes opened #1800 "XML Sitemap - Multisite sitemap with domain cross-reference"
Reported here: https://wordpress.org/support/topic/multisite-sitemap-with-domain-cross-reference/

http://bahngebote.de/sitemap.xml (Dynamic sitemap is being used here).

[2018-07-26 22:00] jguerine opened #1801 "Undefined variable in 404 error page"
Hello,

I've noticed that my 404 error page briefly shows an error message before the page.
It says "Undefined variable: post_type in : /xxxxxxxxxxxxxxxxxx/plugins/all-in-ones-seo-pack/aioseop_class.php on line 4159

[2018-07-26 22:15] wpsmort commented on #1801
Duplicate of #1798

[2018-07-26 22:15] #1801 closed

[2018-07-26 22:16] wpsmort commented on #1798
@jguerine Can you please send us an Administrator login for your site using the secure form below so we can troubleshoot this:

https://semperplugins.com/contact/support-login-information/

[2018-07-30 07:53] Foxer2018 opened #1802 "Can not edit Robots.txt"
Good afternoon!
I can not edit Robots.txt in the "File Editor" section. There is edited only. Tell me what could be the problem. Is it possible that this is not a revision of this version?

[2018-07-30 10:50] arnaudbroes commented on #1802
@Foxer2018 The File Editor module is meant to edit the .htaccess file. You can use the Robots.txt module for that purpose. Please note that this is not a support forum, but a development repository, which is why I'm closing this issue. If you require any additional support from us, please purchase a license here - https://semperplugins.com/all-in-one-seo-pack-pro-version/

[2018-07-30 10:50] #1802 closed

[2018-07-31 05:52] contactashish13 commented on #1647
@wpsmort reopening this to add test cases. Can you please provide a matrix of rules that a user can provide and the expected results (similar to what you had listed in the spreadsheet) so that I can create test cases around each of them? It would also be great if you can specify multisite/single site next to each rule.

PR: https://github.com/semperfiwebdesign/all-in-one-seo-pack/pull/1803

[2018-07-31 16:04] wpsmort commented on #665
Requested again here - https://wordpress.org/support/topic/canonical-trouble-for-catagories-without-prefix/

[2018-07-31 21:57] arnaudbroes commented on #1682
I have access to the repositories of Theme Fusion's plugins and their Avada theme. Contact me in case you need them.

[2018-07-31 21:59] arnaudbroes opened #1804 "Not possible to override OG data when page contains global Fusion Builder container"
Issue reported by Nicolas D. via e-mail.

It's not possible to override OG data (title, description) in AIOSEOP when someone is using the Fusion Builder plugin to create his pages and added a global container to his page.

To reproduce this, install both All in One SEO Pack and Fusion Builder, create a new page, add a container and save that container as a global element. Then, change the OG data

[2018-07-31 22:05] wpsmort commented on #1647
@contactashish13 I've updated the Google spreadsheet with some rules for unit testing.  Let me know if you think we need more test rules.  The ones here should cover all cases.

https://docs.google.com/spreadsheets/d/1bRZPhoo4MurkfFHlQo-CucNp4DhASajw6Zmtka-vaRM/edit#gid=973451281

[2018-08-01 16:18] contactashish13 commented on #1207
@wpsmort moving the discussion from the PR here so that all relevant information is in one place.

The snippet here https://github.com/semperfiwebdesign/all-in-one-seo-pack/issues/1207#issuecomment-374914932 will add to every post. The signature of the filter needs to be changed below and then filtered according to the post. Let me know if this does not work.

`
add_filter( 'aioseop_image_shortcod

[2018-08-01 18:25] harunresitc opened #1805 "error on line 2 at column 6: XML declaration allowed only at the start of the document"
Error:
http://hrc.karaliyor.com/sitemap.xml
[code]

Source code of sitemap.xml:

[code]

The first line is actually empty.

[2018-08-01 19:48] wpsmort commented on #1805
This is not a support forum.  Support is available in the forums here https://semperplugins.com/support/ for customers who have purchased All in One SEO Pack Pro.

[2018-08-01 19:48] #1805 closed

[2018-08-01 20:08] harunresitc commented on #1805
This is not a support question! This is a error feedback. ;)

[2018-08-01 20:12] wpsmort commented on #1805
This is typically caused by whitespace in a theme or plugin file.  We have documentation addressing this here - https://semperplugins.com/documentation/this-page-contains-the-following-errors/

[2018-08-02 03:41] michaeltorbert commented on #1798
Reported for category archive pages: https://wordpress.org/support/topic/notice-undefined-variable-error-on-archive-page/

[2018-08-02 21:43] #673 closed

[2018-08-03 03:11] michaeltorbert opened #1806 "UI improvements on options pages"
These can probably be split up into multiple issues...

I think we can make a few simple (and maybe some not-so-simple) UI changes in the options screen to look a little more modern. We should discuss which of these should be completed.

<img width="1472" alt="screen shot 2018-08-02 at 11 09 21 pm" src="https://user-images.githubusercontent.com/17364998/43622290-5a78a1c0-96a9-11e8-8efa-304fd242e43

[2018-08-03 17:08] wpsmort opened #1808 "Placeholder text does not match autogenerated title or description"
Whilst testing #1421 I found that the placeholder text shown in the Title and Description fields on the Edit Post screen does not always match the autogenerated title and description.

I believe this is a problem we've known about for some time but I couldn't find an issue open for this.

The code that controls how placeholders are created needs to be reviewed.  The placeholders should match what'

[2018-08-03 17:24] wpsmort opened #1809 "Preview Snippet does not match autogenerated title or description"
Whilst testing #1421 I found that the Preview Snippet on the Edit Post screen does not always match the autogenerated title and description.

Like #1808, I believe this is a problem we've known about for some time but I couldn't find an issue open for this.

The code that controls how the Preview Snippet is created needs to be reviewed. The Preview Snippet should match what's displayed as the titl

[2018-08-03 19:07] wpsmort opened #1810 "Bug - Redirect attachments should ignore trashed content"
Whilst testing #1425 I found that there is a bug with the Redirect Attachments to Post Parent setting that is specific to WooCommerce Products.

If you create a product and add images to the content and/or the Product Image or Product Gallery and then you delete the product, the attachment pages are still present in the XML Sitemap and when you click on one of these URLs you get a Too many redirec

[2018-08-03 19:25] wpsmort commented on #1804
@arnaudbroes I have confirmed this by following the steps you outlined to reproduce the bug.  This only happens with elements saved as Global such as Global Containers or Global Columns and it only affects the OG Title and Description.

[2018-08-04 07:16] contactashish13 opened #1817 "Travis: PHP 5.2 and 5.3 builds hanging"

[2018-08-04 21:15] arnaudbroes commented on #1804
Nicolas D. requested to be updated when this issue has been fixed. Just making a note to self here.

[2018-08-05 05:34] michaeltorbert commented on #1817
Why are they hanging?
We still need to support both versions.

[2018-08-05 18:42] jdb9642 opened #1819 "htaccess"
why is htacess not able writeable

[2018-08-05 23:40] wpsmort commented on #1819
This is not a support forum.  Support can be access by All in One SEO Pack Pro customers here - https://semperplugins.com/support/

[2018-08-05 23:40] #1819 closed

[2018-08-06 19:13] wpsmort opened #1820 "Robots.txt - Add an Edit Rule feature"
Requested by Dorte by email today.

With the new Robots module you can add a rule and delete a rule but you can't edit an existing rule.  We should look at adding this ability.

[2018-08-06 19:14] awgd commented on #1798
If you intended to use $post_type on line 4159 of the aioseop_class then you will need to include 'global $post_type;' somewhere before it to be able to use it. Since the comment above it says it is duplicated to prevent stepping on toes, not sure if it's even needed or not.

[2018-08-07 05:44] contactashish13 commented on #1820
@wpsmort Correct me if I'm wrong, but isn't this easy to do by deleting a rule and then adding it again?

[2018-08-07 05:46] contactashish13 commented on #1804
@arnaudbroes have messaged you yesterday on slack for the cloudways information and the plugins. Could you please provide those?

[2018-08-07 09:08] abdramahi opened #1821 "Sitemap file size error in Google"
After I increased no of products on my website store http://phonetuningshop.com,
When my website submitted to Google I got errors on sitemap file size error, please help me

[2018-08-07 09:10] abdramahi commented on #1821
I am using All on one SEO plugin

[2018-08-07 12:13] arnaudbroes commented on #1804
@contactashish13 sent all steps to reproduce and the plugin file on Slack. You won't need the clone since we were able to reproduce it on a new, fresh test site.

[2018-08-07 12:16] arnaudbroes commented on #1821
@abdramahi this is a support issue, not a bug. If you'd like to gain access to our support resources, please purchase a license here - https://semperplugins.com/all-in-one-seo-pack-pro-version/

[2018-08-07 12:16] #1821 closed

[2018-08-07 22:22] michaeltorbert opened #1823 "Use rewrite_rules_array as filter"
We have rewrite_rules_array inadvertently as an action rather than a filter. It works, but this isn't really the best way to do it.

[2018-08-07 22:24] #1823 closed, assigned to michaeltorbert

[2018-08-07 22:46] #1817 closed

[2018-08-07 23:29] michaeltorbert commented on #1798
This code was added in https://github.com/semperfiwebdesign/all-in-one-seo-pack/commit/ebf2c686fa106e9d0aa908ec68d12ef297780b17 by @contactashish13

[2018-08-08 06:07] contactashish13 commented on #1798
to reproduce:

1. Default to NOFOLLOW: checked for posts
2. Use noindex for Categories: checked
3. Go to category archive page

PR: https://github.com/semperfiwebdesign/all-in-one-seo-pack/pull/1825

[2018-08-10 07:48] wattaman opened #1827 "Meta dscription PREFIX"
Hi,

Is it possible to add a prefix to the meta descriptions/titles, especially the Facebook's (ie og:).
My site sells products and I want to insert a "Where to buy " before the description or the title.

So when sharing on FB, instead of the title of the page/product such as "iFruit X phone", it would appear as "Where to buy iFruit X phone".

Thank you.

[2018-08-10 12:18] contactashish13 commented on #1639
looks like this is a WP core bug that is still unresolved: https://core.trac.wordpress.org/ticket/29204

[2018-08-11 02:25] michaeltorbert opened #1829 "SEO Data Importer - Import broken"
The import from yoast prompt no longer shows up after a recent update of yst.

[2018-08-11 06:26] contactashish13 commented on #1554
PR: https://github.com/semperfiwebdesign/all-in-one-seo-pack/pull/1830

[2018-08-11 08:52] NesooseN opened #1831 "Blank category page"
Hi, we get now blank category page when All In One SEO is enabled, free version, there is no error when wp-debug is enabled also.

Version 2.7.2

Where we can download old version ?

[2018-08-11 15:01] michaeltorbert commented on #1831
This is a development repository, not a support forum. You can find troubleshooting steps here: https://semperplugins.com/documentation/how-to-troubleshoot-issues-with-all-in-one-seo-pack/

[2018-08-11 15:01] #1831 closed

[2018-08-11 16:49] wpsmort commented on #1827
This is a development repository, not a support forum. Customers who have purchased All in One SEO Pack Pro can get support here - https://semperplugins.com/support

[2018-08-11 16:49] #1827 closed

[2018-08-11 17:37] michaeltorbert opened #1832 "XML Sitemap optimizations"
From the PR:

1. Preheat and cache calls to `get_post_thumbnail_id` when generating sitemap.
2. Defer `All_in_One_SEO_Pack_Sitemap::do_sitemaps` until shutdown and only call it once per request. (i.e. no need to generate the sitemaps 10 times in a row for 10 bulk-deleted posts).

Discussed and developed live (in Russian) https://youtu.be/FHSS7G2_GSI

[2018-08-12 21:56] anasknp opened #1833 "Used no Index for Attachments, Tags & Categories etc., But They're Still Indexed on Google"
Hi there,
2 days ago I installed All In One SEO pack and removed Yoast plugin from my WP blog which have 32 Posts and 7 Pages.
There is around more than 200 tags and 20 categories in my website along with hundreds of image files. After installing the All In One SEO pack I tick marked on NOINDEX for Categories, Date Archive, Author Archives, Tag Archives, Searched Pages & 404 Pages but what I see o

[2018-08-12 22:00] michaeltorbert commented on #1833
This is a development repository, not a support forum. Premium support is available for All in One SEO Pack Pro customers: https://semperplugins.com/all-in-one-seo-pack-pro-version/

[2018-08-12 22:00] #1833 closed

[2018-08-13 02:30] michaeltorbert opened #1834 "Bug - Redirect image to post parent results in 404 for unattached image"
Reported here: https://wordpress.org/support/topic/google-serp-index-of-images/#post-10584444

We need to discuss and figure out what, if anything, we should do for unattached images.

[2018-08-13 02:32] michaeltorbert opened #1835 "Bug - If a post is in Draft, an attachment id query string is generated to the sitemap even if the image is attached"
Reported at: https://wordpress.org/support/topic/google-serp-index-of-images/#post-10584444

[2018-08-13 14:20] michaeltorbert opened #1836 "organize general information for xml sitemap with video (pro) upsell"
Perhaps a better looking version of this:

<img width="492" alt="screen shot 2018-08-13 at 10 19 52 am" src="https://user-images.githubusercontent.com/17364998/44037499-7e2dd9be-9ee2-11e8-8fef-9c78dbd678db.png">

Text could say "Upgrade to enable" or something

[2018-08-13 14:46] michaeltorbert opened #1837 "WC-Marketplace doesn't publish when AIOSEOP is active"
Reported here: https://wordpress.org/support/topic/problem-for-multivendor/

[2018-08-13 18:29] wpsmort opened #1840 "XML Sitemap - Update help and docs for Additional Pages"
Related to #1554

As a result of PR #1830, we now only accept absolute URLs so we need to update the text in the Additional Pages section, the inline help and the documentation.

[2018-08-13 18:33] wpsmort commented on #1554
@contactashish13 This PR changes the behavior of the Page URL field in the Additional Pages section by removing the ability to enter relative URLs  Is there no way to support relative URLs as well as absolute URLs?

[2018-08-13 19:33] wpsmort commented on #1804
Also reported here - https://semperplugins.com/support/troubleshooting-all-in-one-seo-pack-pro/https-www-servextra-com-csr-start/

[2018-08-13 20:17] wpsmort commented on #1774
@michaeltorbert I tested this and it's much improved but the code looks to still be loaded on the Plugins page.

[2018-08-13 21:27] wpsmort commented on #1798
@contactashish13 I tested this PR by following your steps above.  Whilst this does fix the undefined variable notice it incorrectly changes the nofollow meta tag on category archives.  It changes the nofollow to match the setting for Posts which is wrong.

[2018-08-13 21:39] wpsmort commented on #292
@EkoJR This PR changes the dashicon for AIOSEOP which I don't believe is what is requested here.

[2018-08-13 23:00] CybersmithNZ opened #1841 "Site Map Error - XML Parsing Error: syntax error"
Hi, no matter what I have tried I can't get my site map working in All In One SEO. It's coming up with: XML Parsing Error: syntax error (https://www.movingtoaustralia.co.nz/sitemap.xml). Hope you can help. Thanks Johanna

[2018-08-13 23:07] wpsmort commented on #1841
This is a development repository, not a support forum. Premium support is available for All in One SEO Pack Pro customers: https://semperplugins.com/all-in-one-seo-pack-pro-version/

[2018-08-13 23:07] #1841 closed

[2018-08-14 14:07] michaeltorbert commented on #1774
@wpsmort Some of the code I wrote was wiped out in another PR.  I've added it back I think entirely here https://github.com/semperfiwebdesign/all-in-one-seo-pack/pull/1843

[2018-08-14 14:56] michaeltorbert opened #1844 "file_exists requires credentials check"
in aioseop_module_class.php, all the file interface functions start with get_filesystem_object() which requires a credentials check. This seems unneeded in many cases, such as simply checking if a file exists.

[2018-08-14 14:57] michaeltorbert commented on #1774
@wpsmort  That's from WP core.

[2018-08-14 14:57] #1774 closed

[2018-08-14 20:29] wpsmort opened #1845 "Remove Images column from Video XML Sitemap"
There is a column for Images on the video XML sitemap which is not used or necessary.  This is because it's in the shared XSL file.  It's been there since we added images into the XML Sitemap in v2.4.

If possible we should try to remove this column from the video XML sitemap.

[2018-08-14 20:39] arnaudbroes opened #1846 "Consider removing "Run shortcodes in description" setting"
Do we still need this? It causes a lot of bugs with other plugins (like page builders) and I can't think of what purpose this has.

[2018-08-14 21:06] wpsmort commented on #1846
@arnaudbroes Yes, this is still needed.  The history behind this option is that we added when theme builders because popular.  Many theme builders such as Fusion Builder use shortcodes to control the layout of the page.  We have to run these shortcodes in order to extract the content for the autogenerated descriptions.  This setting is really meant for anyone using these theme builders.

[2018-08-14 22:49] EkoJR commented on #1846
I was curious if it was possible to change the format, rather than remove?

I was also curious, what's the history/reason for not using shortcode brackets `[` and `]`? I imagine there may have been some conflicts when theme builders would add their shortcode content, and possibly stripping shortcodes before having a chance to process.

With shortcodes, I speculate the big problem was shortcodes wi

[2018-08-15 13:56] michaeltorbert commented on #1846
@EkoJR Offhand I'd say everything in your comment is great, but switching to that now many not be possible...

[2018-08-15 14:59] #670 closed

[2018-08-16 13:01] jack9603301 opened #1847 "Sitemap output format error can not be resolved properly: XML or text declaration is not at the beginning of the entity."
The format of the site map file exported by using the SEO sitemap plug-in is wrong. The actual error output file is as follows:

[code]

This will cause browsers and search crawlers to not resolve Sitemap.xml properly.

[2018-08-16 13:49] michaeltorbert commented on #1847
This is a development repository, not a support forum.

You can read more about that here: https://semperplugins.com/documentation/this-page-contains-the-following-errors/

[2018-08-16 13:49] #1847 closed

[2018-08-16 17:25] jimkeir opened #1848 "Facebook SSL og:image only works if they have a non-SSL version cached"
**Describe the bug**
If the site is using entirely HTTPS, Facebook does not retrieve the og:image if they have not cached a non-HTTP version.

**To Reproduce**
Steps to reproduce the behavior:
1. Create an entirely new page that FB has never seen before, served on HTTPS only.
2. Set the SEO "og:image" tag to an https:// URL as appropriate for that page.
3. Use FB's sharing debugger (https://develo

[2018-08-16 17:35] michaeltorbert opened #1849 "Output buffering conflict"
This message sometimes shows up for people using both AIOSEOP and Yoast. While we typically recommend people not use both due to potential conflicts, it would at least be nice to avoid fatal errors.

`PHP Fatal error: ob_start(): Cannot use output buffering in output buffering display handlers in /home/mrrogersvps/public_html/mrrwebdev01.org/wp-content/plugins/wordpress-seo/frontend/class-frontend

[2018-08-17 03:10] EkoJR opened #1850 "Operative class for Admin Notices"
Main class operations for admin notices within AIOSEOP.

This will be needed before adding/consolidating notices to.

[2018-08-17 09:38] EkoJR opened #1851 "Change/Consolidate Sitemap indexes notice"
Related to #43

This will also require the notices object/class #1850

[2018-08-17 09:38] EkoJR opened #1852 "Change/Consolidate upgrade to pro notice"
Related to #43

This will also require the notices object/class #1850

[2018-08-17 09:38] EkoJR opened #1853 "Change/Consolidate Yoast detected notice"
Related to #43

This will also require the notices object/class #1850

[2018-08-17 09:39] EkoJR opened #1854 "Change/Consolidate Blog visibility w/ search engines notice"
Related to #43

This will also require the notices object/class #1850

[2018-08-17 15:02] michaeltorbert commented on #1853
This may supercede #1829

[2018-08-17 15:11] michaeltorbert opened #1856 "improve importer"
Are we missing any meta fields for posts? taxonomies?
Reference seo meta importers from other plugins for inspiration.

[2018-08-17 15:12] michaeltorbert opened #1857 "add settings to importer"
We should discuss whether to import compatible settings, or whether to just leave it at meta.

[2018-08-19 08:27] khobor24 opened #1858 "Khobor 24 Ghanta"
Don't show feature image...

[2018-08-19 13:44] wpsmort commented on #1858
This is a development repository, not a support forum.  Support is available to customers with a valid license here - https://semperplugins.com/support/

[2018-08-19 13:44] #1858 closed

[2018-08-20 13:06] michaeltorbert opened #1859 "New Feature - Add taxonomies and custom fields via shortcode"
Requested via email by Jason B.

_____________________________

%%cf_year_made%% %%ct_make_manufacturer%% %%ct_make_model%% %%cf_series_vehicle%% %%cf_badge_variant%% For Sale.

Sample code: https://katz.co/1003/

[2018-08-20 13:08] michaeltorbert opened #1860 "Meta Description - Add autopopulate to fields"
This should apply to title/desc/etc in post editor as well as fields in options pages. (This may be multiple issues.)

Requested via email by Jason B:

[2018-08-20 20:15] jasonb4u commented on #1859
Hi,
I had found this on Yoast  and believe that the All In One SEO Pack should have this feature also as we can fully customize our SEO pages.
https://kb.yoast.com/kb/yoast-wordpress-seo-titles-metas-template-variables/#advanced-variables
[](https://kb.yoast.com/kb/yoast-wordpress-seo-titles-metas-template-variables/#advanced-variables)

This is current All In One SEO
![sem](https://user-images.gi

[2018-08-20 21:22] wpsmort commented on #1230
@contactashish13 The shortcode is this:

**[gallery size="medium" link="file" columns="5" type="slideshow" ids="553,551,552,550"]**

Note that it's the shortcode parameter type="", when that is set to slideshow this works fine but if it's set to one of the other options below it doesn't work:

rectangular, square, circle, columns

[2018-08-21 04:33] contactashish13 commented on #1554
@wpsmort this is as per https://github.com/semperfiwebdesign/all-in-one-seo-pack/issues/1554#issuecomment-374076114

[2018-08-21 14:54] contactashish13 commented on #1230
@wpsmort all options seem to work on my dev instance. This is probably because I do not get the jetpack options while creating the gallery and thus all options default to `slideshow`. Can you share the test site credentials?

[2018-08-21 15:20] wpsmort commented on #1230
@contactashish13 I have sent the credentials to you via Slack.  The code from the PR is active and so is Jetpack.

[2018-08-21 18:35] jguerine commented on #1798
I checked on my website.

It appeared on the 404 pages, for which I had ticked "noindex" in the AIO options.
I unticked that option for the 404 pages, and the error disappear.

I ticked again, and the error reappear.

It does indeed seems (to me) that it would come from that!

[2018-08-21 21:00] wpsmort commented on #155
@contactashish13 I tested this and it did not work.  Here's how it should work:

If a post type has an archive (https://codex.wordpress.org/Function_Reference/register_post_type#has_archive) then we should include that archive in the XML Sitemap if that post type is checked.

To test this follow these steps:

1). Create a custom post type and make sure that has_archive is set to true
2). Populate

[2018-08-21 21:24] wpsmort commented on #1554
@contactashish13 To clarify, my comment https://github.com/semperfiwebdesign/all-in-one-seo-pack/issues/1554#issuecomment-412619275 was a question.  As I'm not familiar with wp_http_validate_url() I was asking if it was possible to allow relative URLs or not.

I tested the PR and found two instances where I can enter invalid URLs:

1). Enter the URL without slashes, i.e. http:test.com and hit ente

[2018-08-22 03:38] EkoJR opened #1861 "Menu Icon reverts to default cogwheel w/ alt. plugin folder name"
**Describe the bug**
The icon used within the wp-admin menu uses the default cogwheel image/dashicon when the plugin directory is changed to a name different from what is registered with WP (possibly as well as coded in AIOSEOP); which is `all-in-one-seo-pack`.

**To Reproduce**
Steps to reproduce the behavior:
1. Change the plugin folder name to something other than `all-in-one-seo-pack`.
2. Acti

[2018-08-22 05:31] contactashish13 commented on #1230
@wpsmort I've concluded that the problem occurs because you have checked that you want to use JetPack's CDN. This means that images are included from an external domain and that is only allowed if the `aioseop_images_allowed_from_hosts` filter is used to specifically allow this domain. To verify this, you can disable the JetPack CDN and generate the sitemap and it will correctly parse the images n

[2018-08-22 06:08] contactashish13 commented on #1798
@wpsmort The problematic code was introduced to fix https://github.com/semperfiwebdesign/aioseop-pro/issues/322. Can you please reconcile the behavior of this bug and https://github.com/semperfiwebdesign/aioseop-pro/issues/322 so that I can test comprehensively?

[2018-08-22 14:31] michaeltorbert commented on #1478
Suggestion to gray out/disable whichever portion isn't in use https://wordpress.org/support/topic/social-image-settings/#post-10613006

[2018-08-22 22:14] phalancs commented on #1615
Oh no please no more nonstandard stuff like divi. Divi is the worst :)

[2018-08-22 22:47] michaeltorbert commented on #1615
@phalancs We welcome any and all suggestions, screenshots, mockups, PRs, etc.

[2018-08-23 00:29] #1423 closed

[2018-08-23 07:16] contactashish13 commented on #1554
@wpsmort I feel it does not make sense to allow users to input relative URLs when the sitemap ought to contain absolute URLs only.

As for URLs already existing in the database, I have tried to deduce whether they are absolute or relative. Can you please try a few random examples and let me know if the logic fails somewhere?

I have fixed the issue you reported above.

[2018-08-24 14:13] the-udjat-team opened #1862 "Polylang's String Translations for "Title" and "Description" not loaded on homepage"
Reported here: [https://wordpress.org/support/topic/the-problem-with-title-and-description-of-the-home-page/](https://wordpress.org/support/topic/the-problem-with-title-and-description-of-the-home-page/)

**Describe the bug**
"**Title**" and "**Description**" of the homepage don't get translated although you have added their translations in the "**String Translations**" section of **Polylang**.
In

[2018-08-24 20:05] michaeltorbert commented on #1859
We already do this for custom fields in post titles and descriptions, whether at the post level or in the templates. https://semperplugins.com/documentation/advanced-custom-fields-integration-with-title-format-fields/

We'll need to make this work for adding taxonomies as well.

[2018-08-24 20:12] michaeltorbert commented on #1862
@the-udjat-team Please add the exact steps to reproduce.

[2018-08-25 02:33] jasonb4u commented on #1859
Hi,

Yes, Taxonomies, am major part of worpress users make use of the TAX yet we cant add it to AIO.  Hopefully this will be very sooooooon in next update.

Cheers

Jason.

From: Michael Torbert [mailto:notifications@github.com]
Sent: Saturday, 25 August 2018 6:05 AM
To: semperfiwebdesign/all-in-one-seo-pack
Cc: jasonb4u; Comment
Subject: Re: [semperfiwebdesign/all-in-one-seo-pack] Add taxonomies

[2018-08-25 14:54] wpsmort opened #1863 "API filter to add XML Sitemap URLs to robots.txt"
Whilst responding to https://semperplugins.com/support/general-all-in-one-seo-pack-pro-forum/robots-has-two-sitemap-xml-files/#p8193 I realized that because we've removed the ability to edit the robots.txt in File Editor users can no longer add URL's to sitemaps created by other plugins.

We should add a filter so users can add their own XML Sitemap URLs.

[2018-08-26 05:57] the-udjat-team commented on #1862
Steps added.

[2018-08-27 09:01] rubinshah28 opened #1864 "XML sitemap error - This page contains the following errors:"
I' ve installed the all in one SEO plugin for our site on wordpress. When we try accessing the sitemap (http://shreyautomotives.com/sitemap.xml) we get the following error

This page contains the following errors:
error on line 4 at column 6: XML declaration allowed only at the start of the document
Below is a rendering of the page up to the first error.

I tried to disable each plugin but for all

[2018-08-27 11:30] michaeltorbert commented on #1864
https://semperplugins.com/documentation/this-page-contains-the-following-errors/

[2018-08-27 11:30] #1864 closed

[2018-08-27 14:13] michaeltorbert opened #1865 "Improve question mark dashicon"
Look at how we can change the size/location of the question mark dashicon in order to improve UX

[2018-08-27 16:44] EkoJR commented on #1865
This may be slightly different, but I believe #289 (use dashicons as much as possible to save space) improves this by converting the help icon to a Dashicon. Which also converts it SVG (required for Icons), and causes the icon to scale better.

[2018-08-27 16:54] michaeltorbert opened #1866 "Support for ACF groups"
Currently, you can use %cf_customfieldname% in a title, description, title format, or description format and it will replace it with the custom field value.
We may want to look at supporting ACF fields inside of ACF groups, reference: https://wordpress.org/support/topic/how-to-run-shortcodes-in-title-and-description/#post-10629130

[2018-08-27 17:02] michaeltorbert opened #1867 "Run shortcodes in description and title"
Currently we have "run shortcodes in autogenerated descriptions" but we should discuss running them (optionally?) in user-created titles and descriptions.

We need to discuss:

1) whether to do this
2) any negative effects (plugin conflicts?) https://github.com/semperfiwebdesign/all-in-one-seo-pack/issues?q=is%3Aissue+shortcode+is%3Aclosed

[2018-08-27 17:03] arnaudbroes commented on #1867
Duplicate of #1846.

[2018-08-27 17:05] michaeltorbert commented on #1867
@arnaudbroes This isn't a duplicate. That's a reference to an existing option "Run Shortcodes in Autogenerated Descriptions". This is for new functionality.

[2018-08-27 17:07] arnaudbroes commented on #1867
@michaeltorbert my bad, acted a bit too fast.

[2018-08-27 17:08] michaeltorbert commented on #1865
@EkoJR  Feel free to prove me wrong, but I was thinking it already was a dashicon.

[2018-08-27 17:27] wpsmort commented on #1798
@contactashish13 I tested this thoroughly.  The change made in your PR does not affect the fix for https://github.com/semperfiwebdesign/aioseop-pro/issues/322.  It does not reintroduce that bug.

The only bug that your PR introduces is the change in behavior as stated in my comment above - https://github.com/semperfiwebdesign/all-in-one-seo-pack/issues/1798#issuecomment-414691103

[2018-08-27 17:27] michaeltorbert commented on #1809
We need to completely extract all the code that deals with generating the title, and then do the same for the description. Currently, different (overlapping) code handles it differently depending on whether it's the snippet or the live site.

[2018-08-27 17:27] michaeltorbert commented on #1808
We need to completely extract all the code that deals with generating the title, and then do the same for the description. Currently, different (overlapping) code handles it differently depending on whether it's the placeholder text or the live site.

[2018-08-27 17:37] #986 closed

[2018-08-27 17:44] EkoJR commented on #1865
It appears that is correct, I may have been thinking of an earlier version. Although, I meant it as a custom Dashicon/Fonticon; which seemed to have potential at the time with customization, and got added.

[2018-08-27 17:45] Garconis commented on #1867
Shortcodes currently work in the Social Meta addon via: https://d.pr/free/i/3t1Hkb

So I don't understand why you wouldn't already have an option to also allow it to work for the regular Title and Description area as well: https://d.pr/free/i/p97okj

[2018-08-27 17:58] wpsmort commented on #1554
@contactashish13 I tested all variations of absolute and relative URLs.  The only ones that were a problem for URLs already in the database were these examples:

http:domain.com - This was output as http://aioseop1554.local/domain.com
http:/domain.com - This was output as http://aioseop1554.local/domain.com

Is there anything you can do to correctly sanitize these when they are output?

[2018-08-27 20:52] contactashish13 commented on #1554
@wpsmort added support for these types as well

[2018-08-27 21:26] #87 closed

[2018-08-27 21:38] wpsmort commented on #937
I have confirmed that this was fixed in the new Robots.txt module released in v2.7

[2018-08-27 21:38] #937 closed

[2018-08-28 14:02] gingeralfie opened #1868 "bug in 2.7.3 ?"
A 404 error page also throws up "Notice: Undefined variable: post_type in [...] wp-content/plugins/all-in-one-seo-pack/aioseop_class.php on line 4159"

[2018-08-28 14:04] michaeltorbert commented on #1868
Dupe of #1798

[2018-08-28 14:04] #1868 closed

[2018-08-28 15:26] wpsmort opened #1869 "aioseop_description filter does not override custom field macro"
When you use the macro for custom fields (https://semperplugins.com/documentation/advanced-custom-fields-integration-with-title-format-fields/) in the Description Format field under Title Settings and then use the aioseop_description filter (https://semperplugins.com/documentation/aioseop_description/), the filter should override what's in the custom field but it does not.

To reproduce this, foll

[2018-08-28 15:26] wpsmort commented on #1474
See also #1869

[2018-08-28 15:43] Qoter27 opened #1870 "Categories do not work"
Hi, I installed your plugin and ceased to work rubrics, what is the reason?

[2018-08-28 15:47] michaeltorbert commented on #1870
This is a development repository, not a support forum. You can find troubleshooting steps here https://semperplugins.com/documentation/how-to-troubleshoot-issues-with-all-in-one-seo-pack/

[2018-08-28 15:47] #1870 closed

[2018-08-29 02:27] #1308 closed

[2018-08-29 03:56] #476 closed

[2018-08-29 04:05] #155 closed

[2018-08-29 04:08] #1230 closed

[2018-08-29 15:03] wpsmort commented on #205
This is no longer needed as the optimizer was removed as part of #1647

[2018-08-29 15:03] #205 closed

[2018-08-29 15:03] wpsmort commented on #215
This is no longer needed as the optimizer was removed as part of #1647

[2018-08-29 15:03] #215 closed

[2018-08-29 15:39] Luunka opened #1871 "Bug ?"
Lorsque je met à jour l'extension "All in One Seo" le site plante complètement. Je dois carrément désinstaller et re installer le site pour qu'il soit fonctionnel... Le problème : je ne peut plus mettre l'extension "All in One Seo" à jour (sinon le site re plante) et il a apparemment créé un bug sur le site : je ne peux plus faire de sauvegardes, même quand je supprime l'extension !

[2018-08-29 15:44] michaeltorbert commented on #1871
This is a development repository, not a support forum.

You can find troubleshooting steps here https://semperplugins.com/documentation/how-to-troubleshoot-issues-with-all-in-one-seo-pack/
or access premium support here https://semperplugins.com/all-in-one-seo-pack-pro-version/

[2018-08-29 15:44] #1871 closed

[2018-08-29 19:14] wpsmort commented on #1545
@contactashish13 Can you take a look at this and see if you can figure out how to reproduce the PHP Notices reported here as neither @EkoJR or I can reproduce them.

[2018-08-30 08:53] srdjan-jcc commented on #1761
@michaeltorbert I have no exact suggestions for changing initialization.
Here is snippet that fixes issue:
https://gist.github.com/srdjan-jcc/e4352428f1c7cc4271b7aef52aeeb0af

Tested and looks it has no (bad) impact on other code.
Would be good to perform your tests too.

Do you think it can be added like that somewhere in AIOSEOP?

[2018-08-30 11:57] michaeltorbert commented on #1761
`Do you think it can be added like that somewhere in AIOSEOP? `

@srdjan-jcc Sure, but as we have hundreds of issues, we have to prioritize, so submitting a PR is the quickest way to get it included.

[2018-08-30 14:59] #960 closed

[2018-08-30 15:04] wpsmort commented on #1647
Now that the unit tests have been added (PR #1803 ) this issue can be closed.

[2018-08-30 15:04] #1647 closed

[2018-08-30 16:24] michaeltorbert opened #1872 "XML Sitemap - Include linked external images, even from a subdomain"
Reported here: https://wordpress.org/support/topic/site-map-images-not-listing-subdomain-images/#post-10640711

We need to verify this behavior, then discuss whether we should support external images if we don't already and whether that should just include from subdomains or from any domain, and whether it should be default behavior or an option/API hook. If default behavior we need to consider an

[2018-08-31 01:36] michaeltorbert commented on #1081
This are all languages/countries that are important at the moment:

ukraine
poland
russia
sweden
Spanish (spain)
china
dutch
french
arabic
german

[2018-08-31 04:55] #292 closed

[2018-08-31 07:35] contactashish13 commented on #1545
@wpsmort I'm unable to reproduce these notices as well.

[2018-08-31 22:19] wpsmort commented on #1872
@michaeltorbert We do support external images through our API - https://semperplugins.com/documentation/support-external-images-in-the-xml-sitemap/

I tested and verified that in the example provided by the user, they could use our filter to include images from their subdomains.

One of the reasons we added this API filter was so we could support images from CDN such as Photon in Jetpack as these

[2018-09-01 00:26] jonwbrown opened #1874 "404 error with sitemaps"
Hello,

We recently added SSL and are getting 404s with the sitemaps.

If you go to https://sdfilmfest.com/sitemap.xml, you can see the list of sitemaps.

If you click on any of those sitemaps, it send a 404.

I've reset the permalinks, but still no luck.

Can you recommend any steps to troubleshoot?

[2018-09-01 00:28] jonwbrown commented on #1874
Also, I'm not sure if the issue was there before the switch to https, that's just an assumption.

Thank you!

[2018-09-02 03:55] michaeltorbert commented on #1872
Should this be an option or leave it as just an API hook?

[2018-09-02 15:39] wpsmort commented on #1872
I think this should remain a filter unless we get a lot of requests for this and then we can consider adding an option.

[2018-09-03 00:22] michaeltorbert opened #1875 "UI - URL in preview snippet doesn't show permalink until page is published"
Until then it's example.com/?p=123

Reported here: https://wordpress.org/support/topic/permalink-and-page-title/

[2018-09-03 03:38] cryptosam commented on #1862
Any update? i have a same problem.

[2018-09-03 07:41] srdjan-jcc commented on #1761
@michaeltorbert Created PR here https://github.com/semperfiwebdesign/all-in-one-seo-pack/pull/1876

Please make sure fix is also applied to PRO version, thank you!

[2018-09-03 15:00] djordan2000 opened #1877 "Sitemap files too large"
Google search console reports an error that the sitemap files generated are too large. They are 1KB, rather that the limit of 50MB.

[2018-09-03 15:02] michaeltorbert commented on #1877
This is a development repository, not a support forum.

You can find troubleshooting steps here https://semperplugins.com/documentation/how-to-troubleshoot-issues-with-all-in-one-seo-pack/
or access premium support here https://semperplugins.com/all-in-one-seo-pack-pro-version/

[2018-09-03 15:02] #1877 closed

[2018-09-04 13:35] wpsmort commented on #875
Requested by kemal durmu by email today.

[2018-09-04 19:27] michaeltorbert opened #1878 "Robots.txt - Add notice for removing physical file"
Something that's more obvious than this:

<img width="832" alt="screen shot 2018-09-04 at 3 26 43 pm" src="https://user-images.githubusercontent.com/17364998/45053121-0823b000-b057-11e8-927a-985867cbbc06.png">

[2018-09-04 19:31] michaeltorbert opened #1879 "Add API hook to filter our robots.txt output"
As we hook into the WP core API filter hook robots_txt, we should have our own (aioseop_robots_txt or something) that runs after we've finished with it.

[2018-09-04 21:52] arnaudbroes opened #1880 ""Calling parse_str() without the result argument is deprecated""
Reported on 9/4/2018 at 4:16 PM EST.
Error can be found at https://www.thebrooklandscars.co.uk/sitemap.xml.

@michaeltorbert, can you review this and confirm we just need to add a second, result argument in order to fix this?

[2018-09-04 22:00] michaeltorbert commented on #1880
That's correct, this is as of PHP 7.2 according to https://secure.php.net/manual/en/function.parse-str.php

[2018-09-05 00:11] michaeltorbert opened #1881 "user aioseop_get_options()"
In some places within the plugin and in testing we use get_option( 'aioseop_options' ) instead of aioseop_get_options(). Is this an oversight or is there a reason not to?

[2018-09-05 01:58] michaeltorbert commented on #1761
When testing, make sure to first verify the problem, and that the linked PR fixes it.

[2018-09-06 15:11] michaeltorbert opened #1882 "PHP 7.2 Function create_function() is deprecated"
Reported here: https://wordpress.org/support/topic/php-7-2-function-create_function-is-deprecated-2/

in all_in_one_seo_pack.php line 879

[2018-09-06 15:35] #1554 closed

[2018-09-06 20:16] jvbrawley opened #1883 "Cannot deactivate plugin"
I decided to deactivate your plugin and when I did site went into the 500 internal error.  I reactivate and site comes back normally.   deleted and reinstalled plugin and the same problem.   completely deleting plugin also causes the error.   cannot get rid of your plugin.   If you come up with a solution please email me at jvbrawley@gmail.com
Thanks
Jack Brawley www.liveaboardcruising.com

[2018-09-06 20:18] michaeltorbert commented on #1883
This is a development repository, not a support forum.

You can find troubleshooting steps here https://semperplugins.com/documentation/how-to-troubleshoot-issues-with-all-in-one-seo-pack/
or access premium support here https://semperplugins.com/all-in-one-seo-pack-pro-version/

[2018-09-06 20:18] #1883 closed

[2018-09-06 21:37] EkoJR commented on #1880
This problem only affects the Pro Version with the Video Sitemap feature.

In regards to the initial report, I've been unable to reproduce the exact same error, and the sitemap was still operating. Also, the variable was being set as null instead of throwing an error.

Tested on PHP 7.2.4

[2018-09-06 23:38] michaeltorbert opened #1884 "Issue/PR protocol"
We need more consistency in handling issues and PRs. Which gets assigned to whom, where do comments go, etc.
Once we've discussed this and have agreed on what to do, we should make a spot in the github wiki for it.

My initial thoughts:

- The issue is assigned to, if anyone, the person who "owns" the issue and is responsible for making sure it progresses to a resolution.
- The  PR is assigned to

[2018-09-06 23:46] wpsmort commented on #1884
I agree with your thoughts on this, especially about where comments should go as there's been discussion and confusion over this.

The issue should remain with the owner and be labeled according to what the issue is for (Bug, Enhancement, etc) and priority.

The PR should change hands as it progresses through development, testing, etc. and be labeled with the stage in development and priority.  I

[2018-09-06 23:53] michaeltorbert commented on #1880
Closing in favor of the Pro issue.

[2018-09-06 23:53] #1880 closed

[2018-09-07 07:44] contactashish13 commented on #1884
Assuming there is always one PR per issue, the comments should be on the issue even if they pertain to the PR because the PR has no existence of its own without the issue. Often the comments on the PR pertain not just to the testing but also an additional scenario (e.g. how to replicate a specific scenario that has been missed after a PR has been submitted for review) and or code samples (e.g. the

[2018-09-07 08:41] EkoJR commented on #1884
Another problem I've seen happen from time to time is conversations or comments that hold no future value to someone else who would be working it. Most times, it's just others outside the dev team trying to weigh in on issues; or creating their own issue. However, there have been a few times information had to get chased down, and maybe it would help to add something about Slack (and/or returning

[2018-09-07 15:18] #37 closed

[2018-09-07 15:32] michaeltorbert opened #1885 "Canonical URLs rethink/rewrite"
We should probably rethink what we want to do with canonical URLs. When we first introduced this, WordPress didn't have canonical URLs functionality. Now they do.
My suggestion is that we just show the already existing WP canonical URL, and only change it if the user explicitly wants a custom one.

Suggested Workflow:
We access the WP canonical URL via WP api, and display that in our section, then

[2018-09-07 16:39] arnaudbroes commented on #1761
@wpsmort this has been tested. Works fine. @michaeltorbert needs code review.

[2018-09-07 19:15] #1761 closed

[2018-09-07 19:32] michaeltorbert commented on #1884
In my mind, comments on the Github issue should be about the overall "issue" itself. Comments like https://github.com/semperfiwebdesign/aioseop-pro/pull/377#issuecomment-416762702 make no sense in the issue, and are only relevant to the PR. Just my $.02

[2018-09-07 21:04] arnaudbroes commented on #1862
@michaeltorbert I've tested this. It's the same as #1761 and I've confirmed the PR for that issue fixes it.

@cryptosam @the-udjat-team the fix for this will be released with the next version of AIOSEOP (2.8.0).

[2018-09-07 21:04] #1862 closed

[2018-09-07 21:44] arnaudbroes commented on #1798
Reported again today by Dorte via e-mail.

[2018-09-07 22:12] arnaudbroes commented on #1829
I'll check if I can narrow down the version.

[2018-09-07 23:36] EkoJR commented on #1882
Seems like an older version of the plugin. The only create_function there is is already commented out. It also isn't the same as what is described.

[2018-09-08 05:36] michaeltorbert commented on #1882
It's definitely 2.7.3 which you can see in the source code of https://camilowp.com/sitemap.xml
However you're right, that code isn't anywhere in the plugin, and there aren't 879 lines in that file.

[2018-09-08 05:36] #1882 closed

[2018-09-08 08:58] contactashish13 opened #1888 "Description in Post Title Format is messed up"
![image](https://user-images.githubusercontent.com/12953439/45252405-8df07580-b34d-11e8-9397-e68861c7906f.png)

[2018-09-08 09:01] contactashish13 commented on #1382
what's the consensus on this approach?

[2018-09-08 11:17] chrisTUP opened #1889 "Menu Problem"
Hello,
Whenever i activate the plugin my menu category pages do not work anymore and link to an empty white page, with nothing displayed.

This is very frustrating as i really love the plugin and would like to use it.

Thank you,

[2018-09-08 14:29] wpsmort commented on #1703
Requested by Cameron Full via Facebook

[2018-09-08 14:40] michaeltorbert commented on #1889
You can find troubleshooting steps here https://semperplugins.com/documentation/how-to-troubleshoot-issues-with-all-in-one-seo-pack/

[2018-09-08 14:40] #1889 closed

[2018-09-08 18:42] arnaudbroes commented on #1837
I tested this but couldn't reproduce the problem. This works as expected. Could be a configuration issue. I'll close this for now, but I'll inform the user and he can reopen the issue if needed.

![image](https://user-images.githubusercontent.com/18156697/45257486-675f2880-b3a7-11e8-9174-cead0eaa6aa2.png)

[2018-09-08 18:42] #1837 closed

[2018-09-08 18:55] arnaudbroes commented on #1835
@michaeltorbert I was able to reproduce and confirm this on a new test site.

![image](https://user-images.githubusercontent.com/18156697/45257620-82329c80-b3a9-11e8-88e8-3ff56a08b732.png)

[2018-09-08 19:02] arnaudbroes commented on #1834
@michaeltorbert I was able to reproduce this on a new test site.

![image](https://user-images.githubusercontent.com/18156697/45257689-8c08cf80-b3aa-11e8-9759-37ee3d72a339.png)

[2018-09-08 19:11] arnaudbroes commented on #1829
@michaeltorbert I traced this back to version 7.1. This is what [their changelog](https://goo.gl/NBtBHM) says:

[2018-09-08 19:48] arnaudbroes commented on #1799
@michaeltorbert I'm not able to reproduce this. This works just fine. I can access the social meta tab and all its fields. I noticed that the YOP Poll plugin changes all our meta box headers to full uppercase but I reckon that's not something we need to deal with.

I'll inform the user and let him know he can reopen the issue if needed.

![image](https://user-images.githubusercontent.com/18156697/

[2018-09-08 19:48] #1799 closed

[2018-09-08 20:01] arnaudbroes commented on #1695
@michaeltorbert I checked this on a new test site and this still works as it should. New posts/pages inherit the default setting for the Twitter card. I'll close this for now.

@mycreatesite @Tydbyte since we're not able to reproduce this issue, we're closing it for now. Feel free to reopen it in case you're able to tell us the exact steps to reproduce this issue.

[2018-09-08 20:01] #1695 closed

[2018-09-09 01:06] michaeltorbert commented on #1682
@arnaudbroes Are you able to narrow down to a specific commit in 2.2?

[2018-09-09 02:01] michaeltorbert commented on #1829
I'm a bit curious as to exactly why this behavior changed, but the thing to do may be just to redo the notice completely. (We'd borrowed their code to show the exact same notice they had.)

@arnaudbroes Can you install old versions of both plugins (from say, a year ago) and grab some screenshots of the notices for whoever takes this over?

[2018-09-09 17:09] itinchev commented on #1867
We are also running a project in which a shortcode needs to be applied/executed in the title and description with SEO purposes. Can you please suggest a way this feature to be added to the current version (in functions.php of the theme or external plugin) if you are not planning to include it officially soon? Thanks.

[2018-09-09 20:44] #1832 closed

[2018-09-09 22:14] michaeltorbert commented on #1382
Reason **_to_** merge-

1)We have basically three places people can tell search engines not to look at a page: Sitemap options page (excluded pages), exclude this page option on the edit page itself, noindex on the edit page itself. This can be confusing.

Reason **_not to_** merge

1) backwards compatibility - as mentioned by Ashish. It would take quite a db migration to move all that over. Other

[2018-09-10 00:14] #1707 closed

[2018-09-10 17:03] wpsmort opened #1893 "Add documentation for filter aiosp_sitemap_include_post_types_archives"
Add documentation for new aiosp_sitemap_include_post_types_archives filter added in #155

[2018-09-10 17:07] wpsmort opened #1894 "Add documentation for Jetpack gallery support in XML Sitemap"
Add documentation on how to include images in our XML Sitemap from Jetpack's galleries and Photon CDN.

See issue #1230.

[2018-09-10 17:13] wpsmort commented on #1893
Done - https://semperplugins.com/documentation/exclude-post-type-archives-from-xml-sitemap/

[2018-09-10 17:13] #1893 closed

[2018-09-10 17:18] wpsmort commented on #1894
Done - https://semperplugins.com/documentation/support-for-jetpack-galleries-and-image-cdn/

[2018-09-10 17:18] #1894 closed

[2018-09-10 17:31] wpsmort opened #1895 "XML Sitemap - Update inline help for Additional Pages"
Related to #1554

As a result of PR #1830, we now only accept absolute URLs so we need to update the inline help text in the Additional Pages section.

<img width="655" alt="screen shot 2018-09-10 at 1 32 28 pm" src="https://user-images.githubusercontent.com/17548525/45313849-026a1680-b4fe-11e8-8cdc-9c63d286ecda.png">

[2018-09-11 08:30] contactashish13 commented on #1888
@wpsmort you can disregard and close https://github.com/semperfiwebdesign/all-in-one-seo-pack/pull/1674. I have corrected the bug in https://github.com/semperfiwebdesign/all-in-one-seo-pack/pull/1898

PS - @michaeltorbert I think testing ought to come before code review as the latter will not make sense if things do not work as expected.

[2018-09-11 08:54] netinial opened #1899 "Uploaded to this post dropdown (images) disappeared"
After Auto Update (2.8)
Uploaded to this post (images) disappeared

Pages or Posts
Click Add Media
From Media Library
Under
All Media Items
There should be Uploaded to this post.

I confirm that when I disabled AIOSEO from plugins it is appearing again.
False Screen
![adsiz](https://user-images.githubusercontent.com/1303482/45349155-36564200-b5b9-11e8-98ee-f3a892fffc85.jpg)

True Screen
![adsiz2](

[2018-09-11 12:49] arnaudbroes commented on #1798
FYI, Steve found out earlier that the PHP notice on the front-end of the website is there because of the WooCommerce PDF Invoices & Packing Slips plugin. Disabling the "Debug output" setting under PDF Invoices > Status resolves this.

[2018-09-11 13:04] michaeltorbert commented on #1888
@contactashish13 So that @shoheitanaka gets some of the credit, I edited his PR with your changes.

[2018-09-11 13:09] michaeltorbert commented on #1798
Reported here: https://wordpress.org/support/topic/updated-to-2-8-still-see-undefined-variable-error-line-4181/

[2018-09-11 13:16] michaeltorbert commented on #1899
@netinial We're unable to reproduce this, can you send us your wp-admin information so we can log in and resolve the issue? https://semperplugins.com/contact/support-login-information/

[2018-09-11 14:12] netinial commented on #1899
I send via
https://semperplugins.com/contact/support-login-information/

[2018-09-11 14:34] netinial commented on #1899
If there is no way. Ok.

[2018-09-11 15:10] wpsmort opened #1901 "Update to developer profile"
Update profile and Gravatar link for Ashish

[2018-09-12 07:57] ehsan680 commented on #1738
Any update on this?

[2018-09-12 10:43] arnaudbroes commented on #1738
@ehsan680 it's on the roadmap and we're working on it, but we have no definite release date at this time.

[2018-09-12 14:23] wpsmort opened #1902 "Plugin doesn't output any meta tags for bbPress Topic Tags"
Reported by Iskandar Ibragimov by email.

The Use noindex for Taxonomy Archives option doesn't work for bbPress Topic Tags.  Neither does the NOINDEX this page/post option when you edit the Topic Tag (Pro only).

To reproduce this:

1. Install bbPress and create a forum and add a topic.
2. Then add a Topic Tag to your topic (this is a taxonomy just like Tags).
3. Check the Topic Tags box under Use

[2018-09-13 07:10] contactashish13 commented on #1834
what kind of a fix are we thinking of here?

[2018-09-13 07:19] contactashish13 commented on #1703
PR: https://github.com/semperfiwebdesign/all-in-one-seo-pack/pull/1903

The filter is called `aiosp_sitemap_filename` or `aiosp_video_sitemap_filename` depending on the module.

[2018-09-13 14:33] michaeltorbert commented on #1804
This was introduced in 2.0.4, though I'm not sure why. The changelog just says "Bugfixes for issues reported by users in WordPress.org support forums"
https://semperfiwebdesign.com/all-in-one-seo-pack-release-history/6/

[2018-09-13 15:39] contactashish13 commented on #1804
@michaeltorbert If the intent was to keep the function from running multiple times on the same save etc. then the approach is incorrect. The correct way is to remove the hook and then add it back again.

Do you want to (1) leave this bug as it is, (2) correct the behavior by removing/adding hooks or (3) by checking if there is a specific way this functionality can be overridden only for posts that

[2018-09-13 15:43] michaeltorbert commented on #1804
@contactashish13 I'm just making an educated guess as to why it's there.

Personally, I'd think we should try for (2), but do (3) only if needed.
What are your thoughts?

[2018-09-13 16:31] contactashish13 commented on #1804
Approach (2) works but I don't know what it breaks :)

PR: https://github.com/semperfiwebdesign/all-in-one-seo-pack/pull/1904

[2018-09-13 16:33] contactashish13 commented on #1849
@michaeltorbert @arnaudbroes I tried to reproduce this but wasn't able to reproduce this error. If this is a specific scenario, can you mention the steps?

[2018-09-13 18:42] michaeltorbert commented on #1849
I can't seem to reproduce it either. The code that is likely breaking it is custom_category_descriptions_add_shortcode_support which fires on the core category_description filter hook... even when making sure that function runs, it doesn't seem to conflict for me.

I'll close it since we can't reproduce it. If we get more reports and are able to reproduce the issue, we can reopen it.

[2018-09-14 08:50] contactashish13 commented on #746
@wpsmort please check https://github.com/semperfiwebdesign/aioseop-pro/issues/240#issuecomment-421278189

[2018-09-14 08:59] contactashish13 commented on #1798
@arnaudbroes so is this still a bug or not?

[2018-09-14 10:35] JWestarp commented on #1798
I've got this problem, too. (Version 2.8)

[2018-09-14 11:41] netinial commented on #1899
Dear Michael, This is almost 3 days and we still can not use our website to update pictures. (It shows all pictures instead of post's)

Since disabling is not good option.

Would you please let us know are there any update?

[2018-09-14 11:46] michaeltorbert commented on #1899
@netinial When there are updates, you'll know on this page. Asking if there are any updates will only serve to slow development.

[2018-09-14 19:42] arnaudbroes commented on #1798
@contactashish13 it is.

[2018-09-14 19:44] #1849 closed

[2018-09-15 00:44] michaeltorbert commented on #1899
When testing, we need to determine conclusively whether we introduced this in 2.8.

[2018-09-15 01:35] michaeltorbert commented on #1733
Closing as a duplicate of #1834

[2018-09-15 01:35] #1733 closed

[2018-09-15 01:37] michaeltorbert commented on #1834
@contactashish13 I don't know, it's open for discussion. The only thing I can think of to do off the top of my head is to check first if there's anywhere to redirect it to.

[2018-09-15 01:52] michaeltorbert opened #1906 "Review save post hooks"
In admin/aioseop_module_class.php we have 6 hooks that call the "save_post_data". We need to look at each and see are they all actually needed or if just save_post is enough.

[2018-09-15 06:57] contactashish13 commented on #1798
@arnaudbroes please share a copy of that plugin on slack.

[2018-09-15 07:01] contactashish13 commented on #1899
That line of code (https://github.com/contactashish13/all-in-one-seo-pack/commit/968b1891e87e53e5f3cf4f2cc397d3ad94f08234#diff-604ad90165044b2b600ad4f4148dfacaL1771) seems to be there for the last 2 years so I doubt it was introduced in 2.8.

[2018-09-15 09:58] arnaudbroes commented on #1798
@contactashish13 what plugin? There's no specific plugin causing this as far as we know. There are some plugins though that have debugging features which we disable for our customers in order to remove the error notice as a temp fix.

[2018-09-15 12:39] contactashish13 commented on #1798
@arnaudbroes according to https://github.com/semperfiwebdesign/all-in-one-seo-pack/issues/1798#issuecomment-420262265 this happens when a specific option in a specific option is chosen.  That is the plugin I'm requesting. If you are talking about the bug mentioned in this issue, it was fixed in the PR https://github.com/semperfiwebdesign/all-in-one-seo-pack/pull/1825. Can you confirm that that PR

[2018-09-15 16:03] michaeltorbert opened #1908 "license key field autocompletes with admin password"
We should rethink our license key field... in some cases, when someone is filling out the general settings, it autocompletes with their password, but since it's obfuscated, they don't know until they click save and they get a notice that their license key is no good (they usually don't know why).

There are probably a few things we could do... we probably want to stop obfuscating the license key,

[2018-09-15 17:26] michaeltorbert commented on #1798
Also reported here (with a list of plugins installed) https://wordpress.org/support/topic/updated-to-2-8-still-see-undefined-variable-error-line-4181/#post-10690989

[2018-09-15 18:35] michaeltorbert commented on #1899
I've confirmed that the bug does not exist in 2.7.3. @arnaudbroes Can you figure out which commit caused it?
Steps to reproduce:

Install AIOSEOP.
Install the active3 theme.
Create new post, add media, change tab to "media library," then "Uploaded to this post" is missing.

[active3.zip](https://github.com/semperfiwebdesign/all-in-one-seo-pack/files/2385990/active3.zip)

[2018-09-15 20:47] netinial commented on #1899
Michael Is this private temporary clone ?
Please delete our theme from this place.

[2018-09-16 03:14] jasonb4u commented on #1859
I see there was an update to 2.9, and still nothing for custom taxonomies, how come ?

[2018-09-16 03:26] michaeltorbert commented on #1859
@jasonb4u You will see in this issue when development has been done on it. No need to post additional comments asking.

[2018-09-16 03:32] jasonb4u commented on #1859
Delays lol,
Maybe this might help, I dont know, but getting TAXONOMIES into the plugin is a must, I have no idea why ya said will cause delays unless it sound like something you guys arent interested in doing

https://katz.co/1003/

[2018-09-16 08:55] wpsmort commented on #1671
From Matt Robinson:

I'm getting an error logged from AIOSEO as follows:

PHP Warning: count(): Parameter must be an array or an object that implements Countable in
/wp-content/plugins/all-in-one-seo-pack/aioseop_class.php on line 2685

I've put in a guessed patch on the line before changing it to:

if ( ! empty( $query->posts ) && is_object( $query ) ) {

But thought you might like to know about

[2018-09-17 05:28] contactashish13 commented on #535
PR: https://github.com/semperfiwebdesign/all-in-one-seo-pack/pull/1909

[2018-09-17 05:32] contactashish13 commented on #1884
@michaeltorbert can we reach a final conclusion so that everyone can follow the same protocol?

[2018-09-17 05:34] contactashish13 commented on #1003
@michaeltorbert can we try to conclude on this so that going forward all PRs should have been run through grunt?

[2018-09-17 10:01] contactashish13 commented on #1834
PR: https://github.com/semperfiwebdesign/all-in-one-seo-pack/pull/1910

If the attachment post's parent post is deleted or unavailable, it will be redirected to the image itself.

[2018-09-17 10:35] contactashish13 commented on #413
PR: https://github.com/semperfiwebdesign/all-in-one-seo-pack/pull/1911 (as this is related to #407)

[2018-09-17 11:30] contactashish13 commented on #1810
@wpsmort I cannot reproduce the behavior exactly. Instead of a redirect loop I get the behavior mentioned in https://github.com/semperfiwebdesign/all-in-one-seo-pack/issues/1810. And using the PR there solves this.

[2018-09-17 12:00] arnaudbroes commented on #1908
Imo, no longer obfuscating the field would solve a lot of problems.

I also agree that we need to make sure the field cannot be autocompleted. We can do this using the "autocomplete=off" attribute or through some JavaScript code so that field is only writable when it's been focused (click or tab).

[2018-09-17 16:18] michaeltorbert commented on #1884
@contactashish13 I've created a page listing each of our preferences. https://github.com/semperfiwebdesign/all-in-one-seo-pack/wiki/Issue-PR-Protocol

This isn't for me to make a unilateral decision on, we should discuss and come to a consensus. A short call at some point may make sense.

[2018-09-17 18:57] michaeltorbert commented on #413
@wpsmort Does this need to be done at the same time as  #72 and #73 or is it fine to push this out prior to those?

[2018-09-17 19:11] arnaudbroes commented on #535
So here's what we need to happen:

1. Sitemap URL is added automatically to the virtual robots.txt file
2. XML Sitemap menu indicates whether or not the link is present in the virtual robots.txt file
3. Filter hook (can be a simple boolean) needs to be added so that users can disable this setting if they want to

[2018-09-17 22:25] EkoJR opened #1912 "Move/Refactor About Metabox Icons css to aioseop-icon.css"
Refactor Icon styling to an icon css file

Related to #289

[2018-09-17 22:25] EkoJR opened #1913 "Move/Refactor Tip Icons css to aioseop-icon.css"
Refactor Icon styling to an icon css file

Related to #289

[2018-09-17 22:25] EkoJR opened #1914 "Code Refactor - Move/Refactor title icon css to aioseop-icon.css"
Refactor Icon styling to an icon css file

Related to #289

[2018-09-17 22:25] EkoJR opened #1915 "Change AJAX accept & delete to Icon-Font"
![accept and delete icons](https://user-images.githubusercontent.com/2794445/45653155-c8fc5280-ba8b-11e8-8293-c08ff6b4a2d6.png)

Related to #289

[2018-09-17 22:26] EkoJR opened #1916 "Change cog_edit to Icon-Font"
![cog_edit icons](https://user-images.githubusercontent.com/2794445/45653225-12e53880-ba8c-11e8-9bee-f182fe5896fd.png)

Related to #289

[2018-09-17 22:26] EkoJR opened #1917 "Change Admin Menu icons to an Icon-Font"
![title menu icon](https://user-images.githubusercontent.com/2794445/45653306-5a6bc480-ba8c-11e8-8018-0aaadc82d59a.png)

Related to #289

[2018-09-17 22:26] EkoJR opened #1918 "Change Help Icon to Icon-Font"
![help icons](https://user-images.githubusercontent.com/2794445/45653356-8edf8080-ba8c-11e8-93af-77d6912524bb.png)

Related to #289

[2018-09-18 04:18] contactashish13 commented on #1003
@michaeltorbert they will have to be run through grunt before merging.

[2018-09-18 15:39] michaeltorbert opened #1929 "Default should be sitemap indexes"
We have a notice "Notice: To avoid problems with your XML Sitemap, we strongly recommend you enable Sitemap Indexes and set the Maximum Posts per Sitemap Page to 1000.
Click here to make these recommended changes"

We should check when this is displaying. On a brand new site it showed up for me. Shouldn't we just default to indexes? Should this even be an option?

[2018-09-18 21:06] EkoJR commented on #1918
Should use WP's Dashicon

https://developer.wordpress.org/resource/dashicons/#editor-help

[2018-09-18 21:15] michaeltorbert commented on #293
I'm going to close this issue and corresponding PR, as we only provide relatively basic GA functionality.  Generally, if someone wants more GA functionality, they should use a plugin specific for GA (as we do internally).
If someone can make a case for including this, it can be reopened.

[2018-09-18 21:15] #293 closed

[2018-09-19 14:46] MarioJHJ opened #1930 "Bug with plug-in All in One Seo Pack e Jannah Theme"
Hi, is months that I can not update the plug-in “All in One SEO Pack” with Jannah Theme, because in the post/article I do not see more the module of plug-in for data entry, my latest version 2.4.5.1 of the plug-in is working with Jannah theme, from the versions next this module disappear in article. As I do, I can no longer update the plug-in. Please Help me

Theme is: https://themeforest.net/item

[2018-09-19 15:28] michaeltorbert commented on #1930
I'm not clear on what problem you're reporting exactly. Please follow this template so we can help you: https://github.com/semperfiwebdesign/all-in-one-seo-pack/issues/new?template=bug_report.md

Also, we'll need a copy of the Jannah Theme.

[2018-09-20 00:33] #1753 closed

[2018-09-20 00:37] #1804 closed

[2018-09-20 00:41] #1888 closed

[2018-09-20 00:54] Xervenine opened #1931 "Not generating sitemap"
I seem to be having an issue with a sitemap not being generated...  The file is there but it is blank.

[2018-09-20 00:56] michaeltorbert commented on #1931
This is a development repository, not a support forum.

You can check out our documentation:

https://semperplugins.com/documentation/how-to-troubleshoot-issues-with-all-in-one-seo-pack/
https://semperplugins.com/documentation/this-page-contains-the-following-errors/

or if you'd like premium support, you can purchase a Pro license:

https://semperplugins.com/all-in-one-seo-pack-pro-version/

[2018-09-20 00:56] #1931 closed

[2018-09-20 01:12] michaeltorbert commented on #1156
I have two comments:

1) When hovering over a label, such as "Home Title" or "Use Static Front Page Instead," the curser changes as though it can be clicked on, but clicking the text of course no longer does anything. I'd think   it should either a) not turn into a hand or b) stay a hand point and when clicked on go to the documentation page.

2) Somewhat related to 1, the behavior of "Help" vs th

[2018-09-20 01:29] #1901 closed

[2018-09-20 06:04] contactashish13 commented on #260
@wpsmort have tested all combinations and they all work.

[2018-09-20 07:11] contactashish13 commented on #752
@wpsmort the functions gets called. You can test it by adding just an `error_log`.

The filter is

`apply_filters( 'aiosp_sitemap_tax_args', $args, $page, $sitemap_options )`

You can use the below snippet for removing the taxonomy exclusions:

[code]

[2018-09-20 12:27] MarioJHJ commented on #1930
Hi,

this module of "All In One SEO Pack" https://imgur.com/a/A8uCXWX
not see more in Article/Post of Wordpress, this happens from version next 2.4.5.1, so I can no longer update the plug-in.

[2018-09-20 12:34] MarioJHJ commented on #1930
This Theme http://www.filedropper.com/theme_3

[2018-09-20 13:18] MarioJHJ opened #1932 "Module article "All in One SEO Pack" do not see in Wordpress"
** Hi, is months that I can not update the plug-in “All in One SEO Pack” with Jannah Theme, because in the Article I do not see more the module of plug-in for data entry, that is: https://imgur.com/a/A8uCXWX
My latest version 2.4.5.1 of the plug-in is working with Jannah theme, from the versions next this module disappear in Article. I can no longer update the plug-in to the latest versions.

Them

[2018-09-20 18:38] dollaindra opened #1933 "can not update"
http://ekaputrasumbar.info/bandicam2018-09-21-01-32-49-370.mp4

is that something wrong with me or the plug in?

[2018-09-20 19:28] arnaudbroes commented on #1386
Requested again by Paul in the Premium Forums.

[2018-09-21 01:22] michaeltorbert opened #1934 "Robots.txt - Duplicate paths are not allowed"
Reported here: https://wordpress.org/support/topic/block-soe-user-agents-with-robots-txt-feature/

To reproduce, enter agent1 and any path, then enter agent2 and the same path. You'll get the message "Path cannot be overridden:"

-----------

We need to discuss exactly how we want to handle this. Do we have this behavior to keep from having conflicting rules? If so, is it our job to do so?

[2018-09-21 03:30] #413 closed

[2018-09-23 07:08] EkoJR commented on #1682
The problem occurs because of a patch/workaround, and it appears to be fixed within WP; removing the code resolves the problem, and no issues occur (to my knowledge).

https://github.com/semperfiwebdesign/all-in-one-seo-pack/blob/master/js/modules/aioseop_module.js#L294

[2018-09-23 15:28] jwbats opened #1937 "Setting 'Media' to 'Noindex' Does Not Set Noindex On Media Attachment Pages"
How to reproduce:

1. Go to settings for all in one seo pack.
2. In the noindex settings, check 'media' for 'default to noindex'.
3. Check out an existing media attachment page's source to search for the noindex attribute.
4. Add new media attachment page by uploading an image.
5. Check out the new media attachment page's source to search for the noindex attribute.
6. Observe that there is no noin

[2018-09-23 16:10] michaeltorbert commented on #1937
Duplicate of #1797

[2018-09-23 16:10] #1937 closed

[2018-09-23 16:11] mattyrob commented on #1671
Just to confirm that my above, guessed fix - doesn't work. I'll post more after some more investigating.

[2018-09-24 16:31] arnaudbroes opened #1938 "Repeated word in string"
Noticed this while I was updating the Dutch translation for AIOSEOP.

![image](https://user-images.githubusercontent.com/18156697/45965091-d71c1700-c027-11e8-8c1f-f15a1578163f.png)

[2018-09-24 16:41] #1938 closed

[2018-09-24 17:42] arnaudbroes opened #1940 "Unneeded bullet points in inline documentation"
Noticed this while revising the Dutch translation.

![image](https://user-images.githubusercontent.com/18156697/45968536-8e695b80-c031-11e8-90b8-9c23b97f1cfb.png)

[2018-09-24 17:53] arnaudbroes opened #1941 "Unneeded quotation mark in inline documentation"
Found this while revising the Dutch translation. This should be in the inline documentation for one of the title format fields.
![image](https://user-images.githubusercontent.com/18156697/45969167-316ea500-c033-11e8-9974-91ebd22e5291.png)

[2018-09-24 22:38] EkoJR commented on #1797
@michaeltorbert It appears that nofollow is also affected in the same way. Should I include it here, or make a separate issue?

[2018-09-25 00:52] michaeltorbert commented on #1797
@EkoJR You can make a separate issue, however, depending on what we do to fix it, the fix for this issue may apply to both.

[2018-09-25 07:01] EkoJR opened #1943 "nofollow doesn't work when no SEO for a post type"
**Describe the bug**
NoFollow doesn't work when SEO isn't enabled on Custom Post Type (CPT). Similar to #1797

**To Reproduce**
Steps to reproduce the behavior:
1. Go to AIOSEOP > General Setting.
2. Disable SEO for target CPT.
3. Enable NoFollow for target CPT.
4. Go to post from CPT, and NoFollow is missing.

**Expected behavior**
NoFollow should be added to CPT post/page.

**Version Info (pleas

[2018-09-25 19:56] DjMorgul opened #1947 "Pages and blog posts not showing up on sitemap"
**Describe the bug**
Pages and blog posts aren't showing up on sitemap, none of them.

**To Reproduce**
Even on my settings I have both the checkboxes for pages and posts selected, and no category selected for exclusion, none of the pages nor the blog posts show up on the generated sitemap.

**Expected behavior**
All published pages and blog posts should appear on the sitemap.

**Version Info (ple

[2018-09-25 20:04] michaeltorbert commented on #1947
You can submit your login information to our secure form here and we'll take a look: https://semperplugins.com/contact/submit-login-information/

Make sure to also provide the URLs for at least one page and one post that aren't showing up.

[2018-09-25 23:17] arnaudbroes commented on #1947
@DjMorgul thank you for sending us an administrator login. I accessed your website and I immediately was able to locate both of the example URLs that you mentioned.

![image](https://user-images.githubusercontent.com/18156697/46048483-dec3e480-c129-11e8-9461-27679e1ad55f.png)

[2018-09-26 05:29] paintbox opened #1948 "Conflict with Divi Child Theme"
Hello
http://www.monteltham.com.au
WordPress 4.9.8 running Divi Child Theme
When All In One SEO Pack v 2.8 is activated I am unable to edit any pages.
When turned off I can edit my pages
Thoughts?
I can give you access if this helps
Regards
William Wakefield
william@cairnsdesign.website
--

[2018-09-26 06:36] contactashish13 commented on #1069
@wpsmort have addressed the above observations.

[2018-09-26 07:39] toxpal opened #1949 "Use original keywords entered by user"
Just migrated from Yoast to AIO on 2 websites, works great. The only thing I don't understand is why plugin alters meta keywords (entered by user) by removing space symbols and uppercase letters. Let's say I enter such keywords for page:

`Lexus cars in Japan, Honda services in China, Whatever`

The plugin saves keywords correctly and keywords are displayed exactly like this in administration dash

[2018-09-26 09:36] arnaudbroes commented on #1949
Off the top of my head, I'd say this was done purely from a developer's perspective. One whitespace character means one extra byte in the source code. Typically, any decent HTML parser will remove redundant white spaces. In any case, I would recommend against spending time on entering meta keywords since these no longer carry any weight at all. Most search engines no longer consider them, and some

[2018-09-26 09:36] #1949 closed

[2018-09-26 09:52] arnaudbroes commented on #1948
@paintbox I'm unable to replicate this issue using the latest version of All in One SEO Pack, the Divi theme and the Divi Builder plugin. Please provide us with steps to replicate this issue or follow these steps to narrow down the issue - https://semperplugins.com/documentation/how-to-troubleshoot-issues-with-all-in-one-seo-pack/

If this issue is specifically caused by your custom child theme, t

[2018-09-26 09:52] #1948 closed

[2018-09-28 06:05] contactashish13 commented on #1200
While redoing the PR I realized that this issue might no longer be relevant as https://github.com/semperfiwebdesign/all-in-one-seo-pack/pull/1828 handles memory issues. @wpsmort please confirm.

[2018-09-28 18:06] arnaudbroes opened #1950 "Make display of Column Labels dependent of "SEO on these post types" setting"
If SEO for a custom post type is disabled, but the column labels are enabled, then they still show up, which doesn't make much sense to me. Shouldn't we simply make the display of column labels dependent of whether or not SEO for a certain post type is enabled?

[2018-09-29 13:27] DjMorgul commented on #1947
Proof that Google is also getting a sitemap with only 23 URLs.

![2018-09-29-152554_1275x1051_scrot](https://user-images.githubusercontent.com/14842546/46246330-36996e80-c3fc-11e8-8593-b5ff06e347c4.png)

[2018-09-29 14:13] arnaudbroes commented on #1947
@DjMorgul apparently, your sitemap is showing 53 URLs when logged in as an admin and only 23 when not logged in as an adminstrator user. We're going to troubleshoot the issue and let you know more once we've identified what's causing this behaviour.

[2018-09-29 19:27] arnaudbroes commented on #1947
I also found out that playing around with the settings or deactivating AIOSEOP has no effect on the sitemap at all. It's still there. @michaeltorbert can you take a look at this?

[2018-09-30 13:30] arnaudbroes opened #1951 "Add API documentation for upcoming (video) sitemap filename filter hook"
@wpsmort please review both draft API documentation pages that I created for #1703

[2018-09-30 14:11] arnaudbroes commented on #1363
This is now good. Needs code review.

[2018-09-30 21:11] DjMorgul commented on #1947
That's curious. Just in case, I checked that there's no file named sitemap.xml (nor anything similar) on the root folder of my webpage.

[2018-10-01 16:31] arnaudbroes commented on #1947
@DjMorgul I did too. ;-)

[2018-10-03 05:33] contactashish13 commented on #1798
@wpsmort I was able to reproduce the scenario mentioned in https://github.com/semperfiwebdesign/all-in-one-seo-pack/issues/1798#issuecomment-414691103

The difference is because `post_type` was not defined in 2.7.3 (the bug we are trying to fix) and therefore it does not qualify in the condition that checks whether the current post type should have `nofollow`.

But when I fix the bug, `post_type`

[2018-10-03 09:13] arnaudbroes commented on #1947
@wpsmort I'll send an email with the credentials and link to the test site.

[2018-10-03 21:03] wpsmort commented on #1798
@contactashish13 Thanks for the information.  We can't push a bug fix that changes behavior so we need to look at other options here which may require rewriting this code.

Are you sure there's no other code change you can make here that would fix this Undefined variable error without changing the behavior of the noindex and nofollow meta tags?

If you're unable to find a solution to this that doe

[2018-10-03 21:55] wpsmort commented on #746
@contactashish13 Please provide examples of how to use these filters.

[2018-10-04 13:55] contactashish13 commented on #1798
@wpsmort my changes that introduced this bug were for https://github.com/semperfiwebdesign/aioseop-pro/issues/322. In that issue, because of the immensely complicated code, I had to duplicate the code so that I didn't mess up any other functionality. In fact my code comment also reads `#322: duplicating this code so that we don't step on some other entities' toes.`.

I'm trying to reconcile the be

[2018-10-04 21:49] tonyzeoli commented on #1361
Do you guys have any information on this.

I have another site, https://pleasantgreenfarms.com, which also recently experienced this issue. In the newly redesigned Google Search Console, the error messages is that the sitemap is not in the proper format. I had to remove compression and resubmit.

[2018-10-04 22:34] wpsmort commented on #1361
@tonyzeoli We do not have any update at this time.  It's assigned to a developer for this next release and marked as high priority.

[2018-10-04 22:42] michaeltorbert opened #1952 ""Custom post type" language should just be "post type" when appropriate"
"Content type" might be even better.

Requested here: https://wordpress.org/support/topic/no-index-missing-from-pages/#post-10751090

[2018-10-05 00:47] tonyzeoli commented on #1361
Okay, great. I can confirm tonight that once I disabled compression, I resubmitted the sitemap and it was then accepted. So, the issue still persists for me. Look forward to it.

[2018-10-05 09:55] contactashish13 commented on #1361
@wpsmort this is waiting for you or @arnaudbroes's comments: https://github.com/semperfiwebdesign/all-in-one-seo-pack/issues/1361#issuecomment-344621510

[2018-10-05 13:46] arnaudbroes commented on #1361
@michaeltorbert here are my thoughts:

1. Sitemap compression should NOT be enabled by default as this functionality is only useful for users who have a substantial amount of URLs (at least that's my opinion on it).

2. When sitemap compression is enabled, the XML Sitemap menu shouldn't link to the compressed version since you can't view the contents of the archive in your browser and you will sim

[2018-10-05 13:51] arnaudbroes commented on #1952
That's exactly what I was thinking too when I responded on the WordPress.org forums. I'm not sure why I didn't open an issue. In any case, I definitely support renaming that setting to "content type".

[2018-10-05 19:46] michaeltorbert commented on #1361
Since there's no existing PR, this should not be in 2.9. I've bumped it to 3.0.

@arnaudbroes

We may want to consider that domain.com/sitemap.xml and domain.com/sitemap.xml.gz both work (I think that may be the case currently) and that just the uncompressed one shows up in the sitemap, then users can use either URL (we need to make it clear in the UI this is the case).
Then we don't even need an

[2018-10-06 14:02] ariyanusman opened #1953 "sitemap name not show"
Hi! my plugin not showing the name of the sitemap,  I mean I want to change it's patch. .xml to idex.xml

[2018-10-06 18:39] arnaudbroes commented on #1361
@michaeltorbert even better, let's do that.

@contactashish13 this is what we want:

1. The "Sitemap Compression" setting is removed, and instead, we generate both an uncompressed version and compressed version of the sitemap(s) by default.

2. The "view sitemap" link at the top of the menu links to the uncompressed version of the sitemap(s) so that users are able to view and browse through their

[2018-10-06 18:50] arnaudbroes commented on #1361
We have #945 open for the 404 error.

[2018-10-06 18:51] arnaudbroes commented on #701
Closing this in favour of #945.

[2018-10-06 18:51] #701 closed

[2018-10-06 18:53] arnaudbroes commented on #827
Related to #945.

[2018-10-06 19:06] arnaudbroes commented on #945
@contactashish13 are you able to see if we can resolve this issue?

In order to reproduce the issue, please follow these steps:

1. Set up an NGINX test server with WordPress
2. Install AIOSEOP and activate the XML Sitemap module
3. Check if Sitemap Compression is enabled
4. Go to yourdomainname.com/sitemap.xml.gz and you should get a 404 page

[2018-10-06 19:39] arnaudbroes commented on #1953
We've removed the "Sitemap Filename" feature in a recent update, but we're going to add a new filter hook soon which will allow you to manually change the sitemap file name - https://github.com/semperfiwebdesign/all-in-one-seo-pack/issues/1703

[2018-10-06 19:39] #1953 closed

[2018-10-07 04:07] tonyzeoli commented on #1361
Hey Arnaud,

I'm not sure, but I thought I'd bring something up. If you use compression,
are you supposed to resubmit your sitemap not as sitemap.xml but
sitemap.xml.gz, because if so, I never knew that and it's not clear to me
if you're supposed to do that. Could that be why Google is throwing an
error, because I am not submitting it as .xml.gz?

If so, then maybe there should be some note near t

[2018-10-07 16:08] arnaudbroes commented on #1361
@tonyzeoli you need to specifically submit it as yourdomainname.com/sitemap.xml.gz, but that's not causing the 404 error since the uncompressed version is still available at yourdomainname.com/sitemap.xml when compression is enabled. We just decided on adding a notification to the UI when sitemap compression is enabled, so that takes care of this.

I believe the 404 error is specific to nginx web

[2018-10-08 10:03] contactashish13 commented on #1361
@arnaudbroes I don't think https://github.com/semperfiwebdesign/all-in-one-seo-pack/issues/1361#issuecomment-427596928 will work because the user now has no way of specifying which sitemap to specify

1. in robots
2. while pinging google and bing (this is happening without a UI)

I think we should rename the option "Create Compressed Sitemap" to "Link to Compressed Sitemap". If this is checked, th

[2018-10-08 14:37] AnkitBhowmick9 opened #1954 "My sitemap.xml isn't working.."

[2018-10-08 14:38] #1954 closed

[2018-10-08 15:45] lriera2323 opened #1955 "PayPal"
I was charged and PayPal won't let me download the Pro plugin.

[2018-10-08 15:46] michaeltorbert commented on #1955
Please contact us via https://semperplugins.com/contact/ for support.

[2018-10-08 15:46] #1955 closed

[2018-10-08 18:40] #1703 closed

[2018-10-08 18:57] michaeltorbert opened #1956 "Meta box help icon is out of place"
<img width="735" alt="screen shot 2018-10-08 at 2 55 38 pm" src="https://user-images.githubusercontent.com/17364998/46628141-a3062300-cb0a-11e8-9154-e42da18bf825.png">

This only seems to occur when the social module isn't active.

<img width="702" alt="screen shot 2018-10-08 at 2 55 27 pm" src="https://user-images.githubusercontent.com/17364998/46628100-7fdb7380-cb0a-11e8-8704-810db2f73ebb.png">

[2018-10-08 20:44] #1797 closed

[2018-10-08 20:52] #1943 closed

[2018-10-08 21:03] michaeltorbert opened #1957 "noindex/nofollow for no SEO on post type only works together"
For #1797 and #1943 we made it so noindex/nofollow works when SEO for that post type is disabled, however this only works if you're using both noindex and nofollow. If you're trying to use just one it doesn't work.

To make the logic easier, it may be best to pull this out into its own function(s). Eventually it should be in its own file, rather than junking up that big class file.

[2018-10-08 22:59] arnaudbroes commented on #1941
Found it.

![image](https://user-images.githubusercontent.com/18156697/46637914-99a6a600-cb5e-11e8-906d-70e0f73cfdd3.png)

[2018-10-08 23:08] arnaudbroes commented on #1932
@MarioJHJ can you check in the General Settings menu whether "SEO for Custom Post Types" is enabled and that you've enabled SEO for the specific content type you're trying to edit.

![image](https://user-images.githubusercontent.com/18156697/46638149-c9a27900-cb5f-11e8-81fa-2df6e9319441.png)

[2018-10-08 23:09] arnaudbroes commented on #1930
Duplicate of #1932.

[2018-10-08 23:09] #1930 closed

[2018-10-08 23:20] arnaudbroes commented on #1769
I was able to reproduce this. Their bot is part of our blocklist.
![image](https://user-images.githubusercontent.com/18156697/46638491-73ced080-cb61-11e8-8d26-26556d6c3ae3.png)

[2018-10-09 01:44] #1941 closed

[2018-10-09 02:10] michaeltorbert commented on #1810
@contactashish13 Which PR and issue are you referring to? This is 1810.

[2018-10-09 02:40] michaeltorbert commented on #1545
@contactashish13 @EkoJR @wpsmort

What do we think, do we want to just close it (until we gain access to a user's site) since nobody can reproduce it, or do we like the code and figure it probably fixes it?
Personally, I don't like shipping code that we don't know if it actually accomplishes anything.

[2018-10-09 04:27] michaeltorbert opened #1961 "add page number to template tags for description"
%%paged%% or something like that

[2018-10-09 07:11] contactashish13 commented on #1545
@michaeltorbert Unless we can test, I feel it's dangerous as it could cause some other unforeseen bug. Might be best to shelve it for the time being.

[2018-10-09 07:51] contactashish13 commented on #1810
@michaeltorbert my bad. Have updated my comment.

[2018-10-09 12:56] EkoJR commented on #1957
It seems the git merge didn't go as smooth as would of hoped; looks like it duplicated code instead of line changes.

[2018-10-09 14:56] michaeltorbert commented on #1545
Ok so we're all in agreement to close both issues and their corresponding PRs?

[2018-10-09 14:56] #1545 closed

[2018-10-09 15:41] michaeltorbert commented on #538
I've scrapped the PR. I think even better would be to make better use of the Rewrite API.
For instance, instead of accessing the rewrite object directly, or filtering the rewrite rules array, we should interact via the https://codex.wordpress.org/Rewrite_API

[2018-10-09 15:44] michaeltorbert commented on #1332
@arnaudbroes Do you want to try and reproduce this issue on a Windows server?

[2018-10-09 16:50] #1069 closed

[2018-10-09 17:28] #561 closed

[2018-10-09 17:33] michaeltorbert opened #1963 "Update plugin icon to modern gear logo"
We also will want to do this for wp.org in a separate issue.

[2018-10-09 17:48] michaeltorbert commented on #1035
WP considers any text within [] to be a shortcode, but, we're talking about manually entered descriptions. We need to assume that brackets manually entered in (OG) descriptions are meant to be brackets, not shortcodes.
Anyone with the edge case of wanting to run shortcodes in their manually entered descriptions should be using our description filter hooks.

[2018-10-10 18:33] EkoJR opened #1965 "SEO data is in body and not head (w/ categories page)"
**Describe the bug**
When inspecting the data with categories, I found that the SEO was being excluded from the head element/section. This also causes all other head data to be outside of it.

**To Reproduce**
Steps to reproduce the behavior:
1. Activate plugin (unsure if there may a trigger)
2. Go to Categories
3. Inspect Source

**Expected behavior**
SEO data should be printed in the head elemen

[2018-10-10 19:46] michaeltorbert commented on #1965
Is this new or has it always been this way?

[2018-10-10 20:13] #1766 closed

[2018-10-11 00:51] #1820 closed

[2018-10-11 01:13] EkoJR commented on #1965
I tested this as far back as 2.7.3. So, I want to say it's probably been like that for quite some time now.

I haven't tried tracking it down other than comparing with recent versions.

[2018-10-11 01:30] michaeltorbert commented on #1765
When testing, make sure the toggle is removed only for that metabox, and nowhere else.
@arnaudbroes Once you've tested, assign it to Steve for code review.
@wpsmort Once you've code reviewed, assign it back to me with the label "ready to merge".

[2018-10-11 01:39] michaeltorbert commented on #1965
It shows up for me.

<img width="878" alt="screen shot 2018-10-10 at 9 38 58 pm" src="https://user-images.githubusercontent.com/17364998/46775369-ead8a600-ccd4-11e8-929b-ebc8d85f222e.png">

[2018-10-11 01:51] EkoJR commented on #1965
Interesting...I wonder what caused mine to change.

I noticed it was right at a `<br />` element, and it looked like it might of been part of WP's Auto-P.

[2018-10-11 02:03] michaeltorbert commented on #1965
I'll go ahead and close this for now unless it can be reproduced.

[2018-10-11 02:03] #1965 closed

[2018-10-11 04:34] EkoJR commented on #1691
@michaeltorbert That seems to be all that was needed.

To summarize it: Currently it relies on the description to be empty in order to generate one, which is also nested with do_shortcodes. If the aioseop description was typed manually, then it just returns that without do_shortcodes.

[2018-10-11 12:14] arnaudbroes opened #1969 "Possible conflict between AIOSEOP and Divi theme"
Reported on V. Ohle via e-mail on 10-11-2018. It concerns the page editor.
I'll see if I can reproduce this.

[2018-10-11 12:29] arnaudbroes commented on #1332
@michaeltorbert just to confirm, I need AIOSEOP installed on a test site that's hosted on an IIS server?

[2018-10-11 13:12] michaeltorbert commented on #1332
@arnaudbroes You know all I know, which is that both were using Windows. I don't know whether they were using IIS or Apache.

[2018-10-11 19:46] arnaudbroes opened #1970 "No OG: meta data output for WooCommerce shop page"
There's an issue with WooCommerce where the dedicated "Shop" page does not output OG: meta data.
www.mydomainname.com/shop/

In addition, the plugin will only output the doc title and meta description when SEO is enabled for "Products", while the shop page is considered a Page.

[2018-10-11 19:47] arnaudbroes commented on #1970
@wpsmort can you verify my findings and see if you find anything else? The other pages that WooCommerce generates seemed to work for me.

[2018-10-11 20:17] wpsmort commented on #1970
@arnaudbroes This is a known issue, see #96

[2018-10-11 20:17] #1970 closed

[2018-10-11 21:59] arnaudbroes commented on #1969
Person who reported this said this was due to a computer issue, not the plugin.

[2018-10-11 21:59] #1969 closed

[2018-10-12 18:55] #437 closed

[2018-10-12 18:58] #1363 closed

[2018-10-12 19:00] #1035 closed

[2018-10-12 19:06] #1297 closed

[2018-10-12 20:49] #491 closed

[2018-10-12 20:53] wpsmort opened #1971 "Canonical URL for archives wrong when using custom canonical"
If the latest post in a date or author archive has has a custom canonical URL then this is used as the canonical URL for the archives.

Steps to reproduce:
1.  On a brand new site, create two posts and enable Custom Canonical URLs in AIOSEOP
2.  View the source code of the date archives and the author archives. The canonical URL should be correct
3.  Edit the latest post and enter a custom canonic

[2018-10-12 20:54] wpsmort commented on #1971
@arnaudbroes Can you test and see when this bug was introduced.

[2018-10-12 21:16] #1885 closed

[2018-10-12 21:18] #752 closed

[2018-10-12 21:55] michaeltorbert opened #1972 "Add Pro to sitemap source code as appropriate"
We should add Pro to AIOSEOP ~~(otherwise the version number is confusing)~~.

![](https://user-images.githubusercontent.com/18156697/46801662-94fb1100-cd5b-11e8-98d6-54effae01e9b.png)

From https://github.com/semperfiwebdesign/aioseop-pro/issues/444

[2018-10-13 02:45] #948 closed

[2018-10-14 12:42] Grogadog opened #1973 "all in one seo not creating sitemap properly"
XML Parsing Error: XML or text declaration not at start of entity
Location: https://www.roadangelsdriving.co.uk/sitemap.xsl
Line Number 3, Column 1:<?xml version="1.0" encoding="UTF-8"?><xsl:stylesheet version="2.0"
goolge webmaster tools reports
Invalid UTF-8
3 instances
Sitemap contains either C0 or C1 control codes (other than CR LF HT FF) or non-characters.
Line: 3
Line: 4
Line: 5
Please help

[2018-10-14 13:48] wpsmort commented on #489
Requested again here https://semperplugins.com/support/general-all-in-one-seo-pack-pro-forum/integration-of-breadcrumbs/

[2018-10-14 13:55] wpsmort commented on #1973
This is a development repository, not a support forum.

You can check out our documentation:

https://semperplugins.com/documentation/how-to-troubleshoot-issues-with-all-in-one-seo-pack/
https://semperplugins.com/documentation/this-page-contains-the-following-errors/

or if you'd like premium support, you can purchase a Pro license:

https://semperplugins.com/all-in-one-seo-pack-pro-version/

[2018-10-14 13:55] #1973 closed

[2018-10-15 06:29] contactashish13 commented on #535
Filter to use:

[code]

[2018-10-15 21:29] wpsmort commented on #1798
@contactashish13 I have created a spreadsheet which lists the current behavior and the correct expected behavior of the NOINDEX and NOFOLLOW settings.  I have shared it with you via Google Docs.  Please let me know if you have any questions.

[2018-10-15 22:05] kiwiwebworks opened #1974 "XML Sitemap - Images added through WPBakery Page Builder are not included"
If images are added through the WPBakery Visual Composer editor (or other inbuilt editor) the XML sitemap show a count of 0 images for that page.

[2018-10-15 22:43] wpsmort commented on #1974
This is a development repository, not a support forum.  We received your contact form submission and will respond.

[2018-10-16 10:00] majuki opened #1975 "SEO On Page Shop Page"
Hi!
I am writing you because I need to know where I can update SEO Title / Metadescription at a Woocommerce Shop Page using your Plugin.

On the other hand, using formulas I was able to edit SEO Title at categories, BUT these formulas will appear at SERPS or just at browser tab?

Thanks!

[2018-10-16 11:53] michaeltorbert commented on #1975
This is a development repository, not a support forum. You can upgrade to a Pro license here for access to Premium Support: https://semperplugins.com/all-in-one-seo-pack-pro-version/

[2018-10-16 11:53] #1975 closed

[2018-10-16 13:44] wpsmort commented on #1798
I'm pushing this out to 3.1 as this likely requires a rewrite of the code for NOINDEX and NOFOLLOW settings.

[2018-10-16 13:51] wpsmort commented on #1691
@tevyaw I have emailed you to get a copy of your premium plugin or access to a test site where we can reproduce this conflict and verify that the new code resolves this.

[2018-10-16 14:24] arnaudbroes opened #1976 "HTML validation errors"
While working on #1940, I threw the HTML code of the General Settings menu in an HTML validator and it returned quite a few errors. I'll go through all sections of the plugin and resolve all errors.

![image](https://user-images.githubusercontent.com/18156697/47023348-d296da00-d15f-11e8-937e-daa0a097e486.png)

[2018-10-16 14:55] michaeltorbert commented on #535
Playing devil's advocate, why exactly do we want to respect the old setting? This is something that helps, and can not hurt, SEO. If someone for some crazy reason doesn't want the link to their sitemap in the robots.txt, do we really want to code burden to allow the previous setting, for a setting that doesn't even exist anymore?

[2018-10-16 14:56] #1765 closed

[2018-10-16 15:01] #1940 closed

[2018-10-16 15:28] arnaudbroes opened #1977 "XML Sitemap - Exclude Media Attachments when redirection to post parent is enabled"
Steve noted that we should consider excluding attachment pages from the sitemap when the "redirect to post parent" setting is enabled since it doesn't make sense for those pages to be in the sitemap if they redirect to somewhere else.

[2018-10-16 15:38] wpsmort commented on #535
I don't see any reason to respect the old setting for this option.  There's no downside to including the sitemap URL in the robots.txt and therefore there's no damage if someone had this option disabled and we enable it by default for them.

If someone had this option disabled then they would see the red X indicating that it's disabled which isn't helpful and is likely to create a support burden f

[2018-10-16 16:00] wpsmort commented on #1974
I have confirmed that if an image is added using the WPBakery Page Builder then we don't include it in our XML Sitemap.  This is due to the way that WPBakery's elements work.  If you look at the code output by WPBakery in the WordPress Text Editor then all you see is a shortcode with no image URL.  Here's an example:

[vc_row][vc_column][vc_single_image image="5"][/vc_column][/vc_row]

I don't bel

[2018-10-16 19:09] wpsmort commented on #1947
@arnaudbroes @DjMorgul This does not appear to be a bug with AIOSEOP.  It appears to be a problem with bbPress which is not installed correctly or is corrupt.  When bbPress is installed you should see menu items for Forums, Topics and Replies and a sub menu item under Settings for Forum Settings.  See screenshot below. These are not appearing on the clone site and don't appear if you reinstall bbP

[2018-10-16 19:09] #1947 closed

[2018-10-16 19:30] tevyaw commented on #1691
Thanks @wpsmort ! I just sent it over.

[2018-10-17 19:59] EkoJR commented on #1691
@tevyaw I took a look at Starfish to see how the shortcode functions, and I noticed it only allows a single use of a file with `require_once`. The shortcode is being executed, but with `*_once` prevents adding the file multiple times.

`require_once 'inc/starfish-shortcode.php';`
Located at starfish-reviews-premium/starfish-reviews.php Line 229

Could be changed to...
`require 'inc/starfish-shortc

[2018-10-18 04:38] tevyaw commented on #1691
Thanks for this info @EkoJR. I'm not actually the developer. I'll pass this on to him. But for my info: is this something that's contributing to the issue with AiO SEO? Or is it just a tip for us to improve our plugin?

[2018-10-18 06:38] EkoJR commented on #1691
It's to provide a fix, but there are other methods that could be used. The shortcode function is being used, but that one line is preventing rendering.

The same issue could occur if the visitor happens to render 2 of the same shortcode.

[2018-10-18 13:04] michaeltorbert opened #1980 "Unit Testing - Automated testing for release testing"
For each release, we do certain manual testing.
We should move as much of this as possible to automated tests.

We should make a project, series of issues, or whatever to handle this.

@wpsmort Can you add your list of manual tests?

[2018-10-18 13:40] DjMorgul commented on #1947
Please, let me know when I can stop allowing you that admin access. Take into account that it's my production site.

[2018-10-18 13:42] michaeltorbert commented on #1947
@DjMorgul You can remove our access, as it looks like @wpsmort has responded and closed the issue.

[2018-10-18 13:49] DjMorgul commented on #1947
But I can see those bbPress menu entries, without touching a thing...

![2018-10-18-154326_1362x1057_scrot](https://user-images.githubusercontent.com/14842546/47158934-02bfb380-d2ed-11e8-93e9-5f6a141be767.png)

And I'm not using any caching plugin right now.

[2018-10-18 13:54] DjMorgul commented on #1947
Okay, I think you weren't seeing those menu entries because the user I provided for you didn't have the bbPress role for that. Now I have changed its role from Participant to Keymaster.

[2018-10-18 13:58] wpsmort commented on #407
I have verified this has been resolved by #413 in the v2.9 release.

[2018-10-18 13:58] #407 closed

[2018-10-18 13:59] #728 closed

[2018-10-18 14:04] wpsmort commented on #1899
This is resolved in the v2.9 release.

[2018-10-18 14:04] #1899 closed

[2018-10-18 17:54] wpsmort commented on #1947
@DjMorgul I tested thoroughly on a clone of your site on our private development server and the only way I could get this to work was to delete the settings for bbPress and reinstall that plugin.  As soon as I did that the sitemap showed the correct number of URLs.  I don't see which setting in bbPress could be causing this but it definitely looks to be a bbPress issue.

[2018-10-18 19:50] #1769 closed

[2018-10-18 20:03] #1682 closed

[2018-10-18 20:05] #1957 closed

[2018-10-19 03:02] michaeltorbert opened #1985 "Undefined variable: post_type in aioseop_class.php on line 4251"
Reported here: https://wordpress.org/support/topic/updated-to-2-8-still-see-undefined-variable-error-line-4181/#post-10794921

Looks like $post_type didn't get a value yet. Looking at the code, $post_type = get_post_type() comes later in an elseif

[2018-10-19 14:08] wpsmort commented on #1985
Possibly a duplicate of #1798

[2018-10-19 16:12] arnaudbroes opened #1986 "XML Sitemap "Last Modified" column for archive pages should reflect latest post"
As requested on the Premium Forums on 10/19/2018.

[2018-10-19 18:15] michaeltorbert opened #1987 "test to 5.0"
test with 5.0 and increase tested to version

[2018-10-20 13:45] arnaudbroes opened #1988 "SEO Data Importer - Add support for noindex and nofollow"
This was requested on 10/20/2018 via e-mail. We should consider adding support this.

[2018-10-20 18:38] linian11 opened #1989 "Conflict with version 2.9 of AIOSEO and LearnDash plugin"
I found a bug related to the last release, 2.9 of AIOSEO plugin. The issue is that metaboxes for posts and pages created with ACF pro plugin will not open or close after updating to version 2.9 of AIOSEO. Here is what is necessary to replicate the issue:
1 - install and activate AIOSEO versioin 2.9.
2 - install and activate ACF pro plugin latest edition.
3 - install Learndash plugin latest edition

[2018-10-20 19:06] arnaudbroes commented on #1989
@linian11 please send us a copy of the Learndash plugin so we can troubleshoot the issue.

[2018-10-20 19:28] #1677 closed

[2018-10-20 19:38] arnaudbroes commented on #1677
I closed this issue since it's not so much of an issue, rather a setting that shouldn't be enabled.
At some point, we should improve the behaviour of that setting though.

[2018-10-20 19:44] arnaudbroes opened #1990 "Improve behaviour of "Run shortcodes in Autogenerated Descriptions" setting"
I wonder if there's anything we can do to avoid the compatibility issues with this setting that are frequently being reported. For instance, #1677 has been reported for a third time today.

Perhaps we should add some code that prevents a list of shortcodes from being executed in the description if they're known to cause issues, e.g. Envira Gallery.

[2018-10-20 21:38] arnaudbroes opened #1991 "Duplicate contributor name"
I don't think that's Ben's name. ;-)
![image](https://user-images.githubusercontent.com/18156697/47260723-305d5600-d4c1-11e8-9f31-f21117fd7eca.png)

[2018-10-21 22:22] michaeltorbert opened #1993 "Redirect to parent post setting makes the image URLs "unfetchable" by Google search console"
Reported via email by Louise

[2018-10-22 08:36] contactashish13 commented on #1835
@arnaudbroes I'm not able to reproduce this. Can you please mention the steps?

PS - It would be of immense help if you can write down the steps whenever you are able to reproduce an issue as it would save a lot of time and hunting through the issue (sometimes in vain :smile:)

[2018-10-22 08:41] JovoVranjes opened #1994 "Cannot create sitemap"
Hi, I have been experiencing issues with XML Sitemap feature in AIO. So far it worked but not any more. I contacted my hosting service and they could not solve the issue and suggested to contact the plugin support.

Is there anybody who could look at it? I have tried the usual way, by creating a single sitemap and it did not work. Then tried creating multiple files, so some are created and can see

[2018-10-22 12:54] Garconis commented on #1035
I think a simple "Allow shortcodes in descriptions?" would have been more ideal here.

[2018-10-22 12:55] #1993 closed

[2018-10-22 15:04] wpsmort commented on #1994
This is a development repository, not a support forum.

You can check out our documentation:

https://semperplugins.com/documentation/how-to-troubleshoot-issues-with-all-in-one-seo-pack/
https://semperplugins.com/documentation/this-page-contains-the-following-errors/

or if you'd like premium support, you can purchase a Pro license:

https://semperplugins.com/all-in-one-seo-pack-pro-version/

[2018-10-22 15:04] #1994 closed

[2018-10-22 16:10] wpsmort opened #1995 "Autogenerated descriptions with shortcodes affected by 2.9 release"
Reported by Iskan by email.

Iskan uses the Enfold theme which as a visual page builder called Avia.  After updating from Pro v2.9 to v2.10 his autogenerated SEO and OG descriptions changed to include the shortcodes from Avia.

Here's the SEO description autogenerated by Pro v2.9:

`Removed at customer request`

Here's the SEO description autogenerated by Pro 2.10:

`<meta name="description"  cont

[2018-10-22 17:49] wpsmort commented on #1995
I've confirmed it's the code change in PR #1964 that broke this.

[2018-10-22 18:11] wpsmort opened #1996 "JS conflict with LearnDash plugin"
Reported here - https://wordpress.org/support/topic/visual-text-not-working-correctly-in-backend/

When editing a post, you cannot switch between the Visual and Text editor tabs.  Checking the browser error console shows this error:

Uncaught TypeError: Cannot read property 'length' of undefined - /wp-content/plugins/sfwd-lms/assets/js/sfwd_module.min.js?ver=2.5.9
    at countChars (sfwd_module.mi

[2018-10-22 20:56] wpsmort commented on #1989
Reported again here - https://wordpress.org/support/topic/visual-text-not-working-correctly-in-backend/

When editing a post, you cannot switch between the Visual and Text editor tabs. Checking the browser error console shows this error:

Uncaught TypeError: Cannot read property 'length' of undefined - /wp-content/plugins/sfwd-lms/assets/js/sfwd_module.min.js?ver=2.5.9
at countChars (sfwd_module.m

[2018-10-22 20:56] wpsmort commented on #1996
Dupe of #1989

[2018-10-22 20:56] #1996 closed

[2018-10-22 21:41] wpsmort commented on #1995
@EkoJR @contactashish13 Here is a synopsis of this problem:

SEO / Open Graph descriptions can be created in three ways:

1).  We auto generate the description from the excerpt.  This is the behavior if Autogenerate Descriptions is enabled.

2).  We auto generate the description from the content.  This is the behavior if Autogenerate Descriptions is enabled and Use Content for Autogenerated Descri

[2018-10-23 11:30] EkoJR opened #1997 "Maximum execution time exceeded in v2.9"
**Describe the bug**
This instance occurred while editing/saving a post. However, xDebug profiler found other instances where sitemaps are being built.
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. (Possibly) Create many posts (this instance occurred at 1800+ posts).
    1. Make sure to have images added.
2. Activate XML Sitemap.
3. Make sure "Dynamic Sitemap" is unchecked in AIOSEO

[2018-10-23 15:14] arnaudbroes commented on #1989
Traced this back to https://github.com/semperfiwebdesign/all-in-one-seo-pack/commit/dd7cbbc2dd5b7b28dad1a2f7629fd4554d20c5f9. @EkoJR please troubleshoot the issue since I'm not familiar with the wp_enqueue_scripts action hook.

[2018-10-23 20:24] arnaudbroes opened #1999 "WooCommerce 500 error when AIOSEOP is active"
Reported by J. Skeggs on 10/23/2018 via e-mail and here - https://wordpress.org/support/topic/woocommerce-refunds-issue/

I'm not able to reproduce this issue on a test site nor on the cloned user site, but was able to reproduce it on the user's live site. The issue isn't specific to a certain version.

In order to replicate on the user's site:
1. Create a new Order
2. Refund the order via Authori

[2018-10-23 20:40] Jayip opened #2000 "image tag issues"
I'm having an issue with my log post images not going to my Facebook page via Jetpack. This is what they sent me when I asked them about it:
I ran your post through Facebook's debugging tool (https://developers.facebook.com/tools/debug/sharing/?q=https%3A%2F%2Fwww.bluewaterprism.com%2Falways-full-of-surprises%2F), and it looks like the image it's trying to pull in for your most recent post is a de

[2018-10-23 20:47] michaeltorbert commented on #2000
This is a development repository, not a support forum.

You can read our documentation here:
https://semperplugins.com/documentation/troubleshooting-incorrect-social-meta-when-sharing-or-publishing-content/
and here: https://semperplugins.com/documentation/troubleshooting-incorrect-social-meta-when-sharing-or-publishing-content/
and here: https://semperplugins.com/documentation/social-meta-setting

[2018-10-23 20:47] #2000 closed

[2018-10-23 20:57] arnaudbroes commented on #1971
@wpsmort this never broke and has been a bug since the release (v2.2.4) of this feature.

[2018-10-23 21:10] arnaudbroes commented on #1835
@contactashish13 here are the steps to reproduce:

1. Create a new Post
2. Upload a new image and add it in the content of the Post (this is referred to as "attaching")
3. Save to Post to Draft
4. Go to the General Setting menu, scroll down to the Advanced Settings section and enable "Redirect attachments to post parent"
5. View the sitemap as a non-logged in user and click the attachment ID URL (

[2018-10-23 21:30] wpsmort commented on #1997
Possible related report from Alex Col by email.

Alex reported that his site was very slow after updating to AIOSEOP v2.9.  He stated that the slowness was on the backend and the frontend and was resolved when he deactivates AIOSEOP.  He said the problem typically occurs 2 minutes after activating AIOSEOP.  I got access to his site and found that it has over 151,000 posts and 62,000 media items.

[2018-10-23 21:43] arnaudbroes commented on #1902
@wpsmort that's correct, we've never output any meta tags for Topic Tags so I'll change the title of the issue.

[2018-10-23 22:10] arnaudbroes commented on #1952
@wpsmort can you let me know what your thoughts are? If you agree on "content type", then I'll go ahead and make the changes.

[2018-10-23 22:18] arnaudbroes commented on #1986
Yst does this, so should we.

[2018-10-23 22:19] arnaudbroes commented on #1951
@wpsmort can you quickly review both pages and then publish them, considering that 2.9 is already out.

[2018-10-23 22:30] arnaudbroes commented on #1829
![image](https://user-images.githubusercontent.com/18156697/47394656-f0e27400-d723-11e8-9411-9d53405a18fb.png)

[2018-10-23 22:30] arnaudbroes commented on #1829
![image](https://user-images.githubusercontent.com/18156697/47394677-05267100-d724-11e8-8c66-048de8fd69d9.png)

[2018-10-23 22:33] arnaudbroes commented on #1829
Clicking on "import its settings" for Yst -> AIOSEOP redirects to the SEO Data Importer and shows another notice "sorry, can't do that".

Clicking on "import its settings" for AIOSEOP -> Yst automatically imports data.

[2018-10-23 22:44] arnaudbroes commented on #1734
Rather a personal interest than something I should do for SFWD, so closing the issue.

[2018-10-23 22:44] #1734 closed

[2018-10-23 23:08] arnaudbroes commented on #1681
I tested this using the Avada theme, Fusion Builder and Fusion Core plugin and saw no issues.

[2018-10-23 23:08] #1681 closed

[2018-10-23 23:21] EkoJR commented on #1989
The problem was with a duplicate function name, and it normally would be prefixed to prevent this. Not sure why this didn't become a problem sooner until 2.9.

[2018-10-24 03:17] fishnyc22 opened #2002 "I recently upgraded to php 7.0 and og meta is no longer being written"
I'm not sure what happened. All as working great. But now I'm finding that og:image and the other og meta is not being written to the page. Any ideas why? I tried disabling plugins to see if it changed things but no luck. Any help would greatly be approached.

[2018-10-24 03:54] fishnyc22 commented on #2002
Nevermind. I found this post which solved the problem.

https://semperplugins.com/missing-all-in-one-seo-pack-2-6-post-and-page-meta/

[2018-10-24 03:54] #2002 closed

[2018-10-24 05:11] contactashish13 commented on #1997
The method `get_image_src_for_url` is used to

1. determine `attachment id` of an image url
2. use that `attachment id` to get the full size image

This could be a problem because it runs once for every post that is being processed. This is probably made worse when someone has selected `First Image in Content` for Social Meta or is using the sitemap option as both scan through the entire post cont

[2018-10-24 09:08] contactashish13 commented on #1835
PR: https://github.com/semperfiwebdesign/all-in-one-seo-pack/pull/2003

[2018-10-24 11:02] arnaudbroes commented on #1997
Looking at that get_image_src_for_url() function, I'd say it's likely that query is causing problems if it needs to be executed so frequently. We should probably revert the code to get a fix out and think of a different approach in the meantime if it's going to take too long to improve this.

[2018-10-24 12:40] EkoJR commented on #1997
I'm leaning towards reverting this as well. I've tried a few possible fixes, but it is still very taxing on the server (with timeouts). I thought about minimizing it to 1 query, but it still needs to search for other URLs.

It becomes increasingly worse the more content and post meta there is on a site. Best bet is to minimize querying the SQL, especially searching in post_meta.

[2018-10-24 12:46] michaeltorbert commented on #1997
@contactashish13 Are you opposed to reverting for the time being until we come up with something better?
@EkoJR
If so, can one of you submit a PR to revert for now?

[2018-10-24 12:57] michaeltorbert commented on #1989
Reported again here: https://wordpress.org/support/topic/errors-in-v2-9/#post-10811257

[2018-10-24 13:10] contactashish13 commented on #1997
I would prefer to address the issue than revert, unless that is the only option left or we are short on time. Whatever is the consensus.

On Oct 24, 2018, 18:18, at 18:18, Michael Torbert <notifications@github.com> wrote:

[2018-10-24 13:12] wpsmort commented on #1997
@contactashish13 We are on a short timeframe here, it's potentially breaking users sites and we're receiving a lot of complaints and higher than normal support volume.

[2018-10-24 13:49] michaeltorbert commented on #1997
@contactashish13

We've had many people complaining of this breaking their site, which means potentially tens of thousands or more have broken sites.
We need to release something that stops their sites from breaking ASAP today, and then work on addressing the issue.

[2018-10-24 13:56] wpsmort commented on #1989
I've renamed this issue so it's more relevant to the actual bug.

[2018-10-24 14:00] wpsmort opened #2004 "Shortcodes being output in Open Graph descriptions"
Reported here - https://semperplugins.com/support/troubleshooting-all-in-one-seo-pack-pro/how-to-hide-short-codein-autogenerate-descriptions-when-i-share-it-on-facebook/

Since updating to the latest release (Free v2.9 / Pro v2.10), sharing to Facebook shows shortcodes.

[2018-10-24 14:01] wpsmort commented on #2004
Also reported here - https://wordpress.org/support/topic/facebook-description-post/

[2018-10-24 14:13] wpsmort commented on #1997
@kuse-de Can you check the SEO for Custom Post Types setting in All in One SEO Pack > General Settings > Custom Post Type Settings to see if that is enabled or disabled.  Most of the reports we've received about titles and descriptions missing are because that setting got disabled.  Enabling is and ticking the appropriate checkboxes next to the Post Types you want to use All in One SEO Pack for fi

[2018-10-24 14:27] michaeltorbert opened #2005 "CPT checkbox issue from 2.6 reportedly reverts when rolling back to 2.8"
Several of the people reporting the SEO fields disappearing in 2.9 (most likely from the 2.6 changes) report that the behavior reverts back (SEO reappears) when rolling back to 2.8.

We should investigate whether we can confirm this, and if so, why this is.

[2018-10-24 15:07] #1989 closed

[2018-10-24 15:11] michaeltorbert commented on #1997
@EkoJR Are we building the sitemap on every post save even if it's dynamic?

[2018-10-24 15:22] #1952 closed

[2018-10-24 16:31] kuse-de commented on #1997
@wpsmort this didnt fix it for me but i noticed that my issue is related to gantry framework plugin, i will open a new issue for that

[2018-10-24 18:30] wpsmort commented on #2004
For the second report above (from wordpress.org), I got access to the user's site and verified that he has Elementor page builder which uses shortcodes.  He did not have Run Shortcodes in Autogenerated Descriptions enabled.  Enabling this fixed the issue.  Note that he did not have the Social Meta module enabled so it looks like Facebook was using the meta description when he shared posts on Faceb

[2018-10-24 19:34] wpsmort commented on #1995
@EkoJR I have tested PR #1998 with the customer site running the Enfold theme and it did not work.  Here's the behavior I'm getting on the customer site and my test site with a page built using the Enfold Avia Layout Builder:

**Running v2.8:**  The meta and OG description are output with no problems when Run Shortcodes is not enabled.  When Run Shortcodes is enabled then code in any Code Block el

[2018-10-24 21:57] #1997 closed

[2018-10-24 21:58] #1991 closed

[2018-10-24 22:01] #2004 closed

[2018-10-24 22:12] wpsmort opened #2008 "Server Error 503 (Max Time/Memory) in v2.9.1"
This is related to #1997.

Whilst testing PR #2007 I was able to reproduce the fatal error below reliably on a clone of a client site.   The site has nearly 8,000 posts and was using static XML sitemaps.  When I installed AIOSEOP v2.9 the site crashed with a 503 error and these errors:

PHP Fatal error:  Allowed memory size of 268435456 bytes exhausted (tried to allocate 72 bytes) in /wp-content/p

[2018-10-24 22:12] wpsmort commented on #2008
Contact me on Slack for the access to the Cloudways site where we can reproduce this.

[2018-10-24 22:15] michaeltorbert commented on #2005
Closing as this can't be confirmed/reproduced.

[2018-10-24 22:15] #2005 closed

[2018-10-25 11:17] nmurciano opened #2010 "RSS sitemap"
Hi!

I want to edit my Rss Sitemap, But i have this error:

How can i fix this?

Thanks you!

[2018-10-25 11:56] EkoJR opened #2011 "PHP Timeout Issues in v2.9.1"
There are still reports of sites breaking, and is partially related to #1997 which was to fix this (different version though).

`get_image_attributes` was the other function that was being spotted at the time, and is still showing up on xDebug Profile (using QCacheGrind).

[2018-10-25 14:28] wpsmort commented on #2010
@nmurciano Please provide the URL for your RSS sitemap.  If you'd prefer to send that privately please use the form here - https://semperplugins.com/contact/

[2018-10-25 15:34] contactashish13 commented on #2008
NOTE: When we remove static sitemap, test cases might get impacted as that feature is being used in the test cases.

[2018-10-25 17:34] wpsmort opened #2014 "XML Sitemap doesn't load after updating to v2.9"
Reported by Miguel Emmara by contact form on 10/23.

Miguel reported that after updating to v2.9 and v2.9.1 that individual sitemaps in his indexed sitemap wouldn't load.  I as able to verify this on his site and that it works fine with v2.8.

I noticed that he has over 61GB of images in his uploads directory and when I exclude images from the XML Sitemap it works fine.

[2018-10-25 17:35] wpsmort commented on #2014
Possibly related to #2008 and #2011

[2018-10-25 19:16] wpsmort commented on #1951
@arnaudbroes Done.  I had to make a minor but important change to both.  The name of the parameter you were returning was wrong.

Both have been published.

[2018-10-25 19:16] #1951 closed

[2018-10-25 21:02] EkoJR opened #2015 "Move JS for Preview Snippet to a JS file"
Currently the script is stored in a PHP Array. This should be in a JS file.

[2018-10-26 12:37] Techwork78 opened #2017 "Google Analytics missing"
Hi
After upgrading from version 2.8 my Google Analytic ID is no longer inserted on my posts/pages. It is an issue in both version 2.9 and 2.9.1. If I roll back to version 2.8 it is working correct again.

When my ID is no longer inserted traffic is not logged in my Google Analytics account. Hope it can be fixed in future releases.

Best Regards
Thomas
https://techwork.dk

[2018-10-26 12:49] michaeltorbert commented on #2017
Hi @Techwork78
Thanks for reporting this. Unfortunately we're not able to reproduce this.
So that we can investigate and come up with a fix quickly, you can send us your login information to our secure form here: https://semperplugins.com/contact/support-login-information/

[2018-10-26 18:45] HOTDOG2705 opened #2018 "problem with site map"
Hello, I have problem with the site map, suddenly after the last upgrade stopped working! Google doesn't recognize it anymore and clicking on show sitemap gives back an empty page.

Edit..
Sorry just saw that there is another thread on the same topic open... you can close this one I think. Thanks

[2018-10-26 18:59] HOTDOG2705 commented on #2014
Hello, I have the same problem, with image selected no sitemap! With 2.8 worked well.. I'll might close the other thread.
Thanks!

[2018-10-26 19:58] wpsmort commented on #2018
Dupe of #2014

[2018-10-26 19:58] #2018 closed

[2018-10-26 19:59] wpsmort commented on #2014
@HOTDOG2705 Can you send us an Administrator login for your site and FTP login for your server using the secure form below so we can troubleshoot this:

https://semperplugins.com/contact/support-login-information/

[2018-10-26 20:28] EkoJR opened #2019 "Refactor All_in_One_SEO_Pack::add_page_icon"
Class method `All_in_One_SEO_Pack::add_page_icon` does what `All_in_One_SEO_Pack::admin_enqueue_scripts`
should be doing instead.

There is also JavaScript code that should be in a JS file.

https://github.com/semperfiwebdesign/all-in-one-seo-pack/blob/master/aioseop_class.php#L3035

[2018-10-26 22:12] wpsmort commented on #2014
Reported again here - https://semperplugins.com/support/general-all-in-one-seo-pack-pro-forum/sitemap-xml/

I got a login for this site and confirmed that it has 2200 posts with 8800 images.  Dynamic Sitemaps was enabled but Sitemap Indexes was not.  Even after enabling Sitemap Indexes and Pagination, trying to view a sitemap resulted in a 504 error.  However, excluding images resolved the problem

[2018-10-26 22:31] wpsmort commented on #2014
@EkoJR @contactashish13 I've set up separate clones of a site where this issue can be reproduced and sent you login information via Slack.

[2018-10-26 22:42] wpsmort commented on #1296
It looks like Google has changed their analytics tracking code yet again.  It now looks like they use Global Site Tag (gtag.js) tracking code which looks like this:

`
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-123456789-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config',

[2018-10-26 23:24] arnaudbroes opened #2020 "Documentation - New filters from v2.9/v2.10 that need API docs"
1).  https://github.com/semperfiwebdesign/all-in-one-seo-pack/issues/752

[code]

2).  https://github.com/semperfiwebdesign/aioseop-pro/issues/186

[code]

3).  https://github.com/semperfiwebdesign/aioseop-pro/issues/186

[code]

4).  https://github.com/semperfiwebdesign/aioseop-pro/issues/255

`add_filter( 'aisop_woocommerce_hide_hidden_products', '__return_false' );`

[2018-10-27 09:47] arnaudbroes opened #2021 "New Feature - Add column to show which settings are enabled for each post/page"
Requested by Benjamin C. via e-mail on 10/27/2018.

Here's what SEO Framework does:

![image001](https://user-images.githubusercontent.com/18156697/47602348-eeab3e80-d9dd-11e8-9b45-831c151388ce.png)

I think this is great and should definitely be added to the plugin if possible.

[2018-10-27 10:37] arnaudbroes commented on #2017
FYI, I reached out to Thomas on his website to let him know we updated the issue.

[2018-10-27 13:05] EkoJR commented on #2011
Duplicate of #2008

[2018-10-27 13:05] #2011 closed

[2018-10-27 13:10] EkoJR commented on #2008
This is partially related to #1997 which was to fix this (different version though).

`get_image_attributes` was the other function that was being spotted at the time, and is still showing up on xDebug Profile (using QCacheGrind).

[2018-10-27 13:11] EkoJR commented on #2014
@wpsmort I found this is the same as #2008 and PR #2012 does fix it for this issue.

[2018-10-27 17:36] wpsmort commented on #2014
@contactashish13 I have tested PR #2022 on both cloned sites where we could reproduce this problem.  It works fine on both sites, resolving the problem with the XML Sitemap timing out and with the 503 errors reported in #2008.  However, I do see that it still takes a long time to generate the sitemap.

Here are the timings and memory usage from both sites:

**Site 1 - Dynamic sitemap with indexes

[2018-10-27 18:33] EkoJR commented on #2014
That was one idea I had tried, but still didn't seem optimal enough. I would say, we would want to avoid 'N posts', and ideally avoid using the query on every instance it would be called.

Also, #2022 doesn't use any of WP's Cache, it's just a static variable; which might explain the high memory.

[2018-10-27 23:32] arnaudbroes opened #2023 "Rename Google Webmaster Tools verification setting"
Only makes sense to rename it now that it's been Google Search Console for a while.

[2018-10-27 23:46] arnaudbroes opened #2025 "Rename Bing Webmaster Center verification setting"
Same as #2023, it's now called "Tools" instead of "Center".

[2018-10-27 23:53] arnaudbroes commented on #425
@michaeltorbert should this issue still be open since we already removed this setting?

[2018-10-27 23:57] wpsmort commented on #2008
Reported again by Mark Zetter by email.  He sent this from his hosting company LiquidWeb:

The basis of my hypothesis is the system calls that PHP is doing at the time of the long delays. It is sending MySQL queries like this one:

9:02:55.905636 sendto(4<UNIX:[591731->593118]>, "s\0\0\0\3SELECT ID FROM wp97stgd_posts WHERE guid='http
s://www.ventureoutsource.com/wp-content/uploads/2017/05/Leesys.

[2018-10-28 00:02] arnaudbroes opened #2027 "Review sitemap ping URLs"
Are the URLs we currently use still working?
[code]
Google's documentation now says this:

Same goes for Bing:

[2018-10-28 00:03] arnaudbroes commented on #2027
@wpsmort can you check this and see if we need to change them?

[2018-10-28 12:45] michaeltorbert opened #2028 "Remove option "SEO for Content Types""
I'm not sure why we need this.  @wpsmort?

![seo for content types](https://user-images.githubusercontent.com/2794445/47691531-b4919680-dbaf-11e8-8098-f1bffbd4d274.png)

[2018-10-28 14:02] michaeltorbert opened #2029 "Disappearing SEO meta section in 2.9.x"
Reported by _many_ people.

Steps to reproduce:
1) Install 2.8.
2) Check posts and pages under SEO for Custom Post Types (Content Types in 2.9)
3) Disable "SEO for Custom Posts Types" radio.
4) Verify that the SEO meta section appears in wp-admin for edit posts and on the post/page on the front-end.
5) Update to 2.9.
6) SEO meta section disappears.
7) Enabling SEO for Content Types makes them reap

[2018-10-29 12:45] contactashish13 commented on #2029
I can confirm its because of that method. If I return true, the meta is shown.

If the radio button `disabled` is checked, does that not mean that no meta should show and therefore the behavior is correct?

To continue with previous behavior, we have 2 options
- remove the radio buttons unless they serve any other purpose besides toggling the view in the settings screen
- make https://github.com/s

[2018-10-29 13:14] contactashish13 commented on #1751
@michaeltorbert I'm trying to understand what to do here but I'm not very clear. An example would help.

[2018-10-29 16:44] wpsmort commented on #2008
Reported again here - https://wordpress.org/support/topic/all-in-one-how-to-deactivate-admin-panel-blank/

I got access to this site and found that he has 8515 posts, 2545 events and 250406 media items.  Dynamic Sitemap was enabled but Sitemap Indexes was not.  Yst SEO was also running.

The error log showed these fatal errors:

Allowed memory size of 268435456 bytes exhausted (tried to allocate 7

[2018-10-29 23:48] arnaudbroes opened #2030 "Add Quick Edit column to control NOINDEX/NOFOLLOW"
Requested by Henry in the Premium Forums on 10/29/2018.

[2018-10-29 23:55] arnaudbroes commented on #1999
As far as we know, this is a server issue. Jarrod is taking it up with Bluehost and will get back to us.

[2018-10-30 00:34] arnaudbroes commented on #2028
I'd like to see it removed as well to be honest.

[2018-10-30 01:00] wpsmort commented on #2014
Reported again here - https://semperplugins.com/support/troubleshooting-all-in-one-seo-pack-pro/updating-large-sitemap-locks-out-wp-api/#p8333#spEditFormAnchor

[2018-10-30 01:16] EkoJR commented on #2028
What about plugins that use Custom Post Types to store their data, and forcing SEO on those is needless processing and irrelevant data? Allowing others to disable/enable Post Types would prevent that.

For each Custom Post Type adds additional processing, and for some big sites it would have to deal with all the post types.

[2018-10-30 02:11] michaeltorbert commented on #2028
@EkoJR It's not that we'd take away the check boxes to enable/disable SEO meta per post type, only the radio for all of them. It's an unneeded extra layer.

[2018-10-30 02:17] EkoJR commented on #2028
In that case, I would agree then. That setting has always felt redundant.

[2018-10-30 13:37] wpsmort commented on #2029
Reported again here - https://wordpress.org/support/topic/problems-with-home-page-settings/

After getting a login for the users site, I found that SEO for Custom Post Types was disabled.  Enabling it rectified the problem.

[2018-10-30 13:45] designertale opened #2031 "NEED YOUR HELP FOR A BUG ISSUE"
We have working with the free version of the all in one seo pack as a trial version and whenever any 404 page like this is hit one our website a new error shwoing at the top of the page

Please check and guide me to resolve this issue

https://www.designertale.com/female-polo-t-shirt-mockup-230/

Thanks

[2018-10-30 13:46] #2031 closed

[2018-10-30 13:52] michaeltorbert opened #2032 "Change wording from CPT to content types in documentation"
https://semperplugins.com/documentation/custom-post-type-settings/

[2018-10-30 13:56] wpsmort commented on #2028
I'd really like to get rid of this option.  I'd also like to get rid of the Enable Advanced Options radio and the Custom Titles checkbox.  I see no reason for any of them to be there.

We have a trim options issue open for this here - #68

[2018-10-30 14:27] livinginteriorsonline opened #2033 "Zoffany | Contemporary Designer Zoffany Wallpapers - Living Interiors"
Contemporary wallpaper brand Zoffany has various collections with modern and luxury designs. Akaishi, Akita, Classic and Constantina Damask collections

[2018-10-30 14:29] #2033 closed

[2018-10-30 14:56] designertale commented on #2031
Hello why my ticket has been closed.

*ANUSREE NANDI*
*ADMIN: WWW.DESIGNERTALE.COM <https://www.designertale.com/>*
*admin@designertale.com <admin@designertale.com> *
*designertalemail@gmail.com <designertalemail@gmail.com>*

On Tue, Oct 30, 2018 at 7:16 PM Michael Torbert <notifications@github.com>
wrote:

[2018-10-30 15:02] michaeltorbert commented on #2031
This is a development repository, not a support forum. You didn't open a support ticket, you opened a development issue.

If you'd like to access Premium Support, you can purchase a Pro license here: https://semperplugins.com/all-in-one-seo-pack-pro-version/

[2018-10-30 16:49] wpsmort commented on #2027
I have confirmed that both Google and Bing have changed the URLs where you can ping and XML sitemap:

**From Google:**
https://support.google.com/webmasters/answer/183668?hl=en

**From Bing:**
https://www.bing.com/webmaster/help/how-to-submit-sitemaps-82a15bd4

[2018-10-30 17:51] wpsmort commented on #2032
This has been done.  Screenshot updated as well.

[2018-10-30 17:51] #2032 closed

[2018-10-31 06:52] contactashish13 commented on #2029
@wpsmort can you please comment on my observations?

[2018-10-31 11:50] arnaudbroes commented on #2028
@wpsmort yes, yes and yes!!

[2018-10-31 15:11] #2015 closed

[2018-10-31 15:14] wpsmort commented on #2029
@contactashish13 To answer your first question:

Yes, if SEO for Content Types is set to Disabled, no SEO meta should be output.  This was the change we made in v2.9 (see #1069).  However, it led to unforeseen consequences because prior to v2.9 we were outputting SEO meta when that was disabled.  Changing this to the correct behavior resulted in lots of users reporting that SEO meta was no longer

[2018-10-31 22:18] Valentin-che opened #2035 "page sitemap white :("
hi

my sitemap's page xml is white :( , i can see xml shema when i look source code.
i have this error in my erro log controle : Notice: Undefined variable: post_type in /wp-content/plugins/all-in-one-seo-pack/aioseop_class.php on line 4253

thank you  for your feedback ;)

[2018-10-31 22:22] michaeltorbert commented on #2035
Turn off debug mode.

[2018-10-31 22:22] #2035 closed

[2018-11-01 18:55] yesfitness opened #2036 "updated and it broke my posts"
See full description below...

[2018-11-01 18:55] yesfitness commented on #2036
PHP Strict Standards:  Only variables should be assigned by reference in xxxx functions.php  I am not familiar with code at all. I've looked through posts and don't see an answer that can help me.
Here's the original code:
$comments_by_type = &separate_comments(get_comments('status=approve&post_id=' . $id));  		  return count($comments_by_type['comment']);
I attempted to delete the '&' but it didn

[2018-11-02 17:12] EkoJR opened #2037 "Change/Remove get_facebook_debug() function to enqueue JS instead"
Currently, in `All_in_One_SEO_Pack_Opengraph::get_facebook_debug`, JavaScript is being printed via function using `ob_start()`. The JS should be in a JS File to be enqueued, and move code to remove class method since the only justification seemed to be with JS.

https://github.com/semperfiwebdesign/all-in-one-seo-pack/blob/bfef6379ed054a52ff858967fff5e8ead6218eb9/modules/aioseop_opengraph.php#L172

[2018-11-04 17:40] 7Narwen opened #2039 "After updating to 2.9.1 title of homepage is empty"
After updating plugin from 2.8 to 2.9.1 <title> tag of index page (hompages) become empty. I've tried to update my settings, but nothing happens.

[2018-11-04 17:44] michaeltorbert commented on #2039
Probably related to https://semperplugins.com/missing-all-in-one-seo-pack-2-6-post-and-page-meta/

[2018-11-04 17:44] #2039 closed

[2018-11-04 20:14] udafadil opened #2040 "google unable to read my Sitemap.xml"
Hi There,

currently i'm using free version of "All in one SEO" plugin - version 2.9.1 on my website.
Since about last week, google unable to read my sitemap. It says: "It may contain an entry we are unable to recognize. Please validate your Sitemap before resubmitting."

I've already validate my sitemap.xml but problem still persist.
my sitemap location was at https://www.propertyinside.id/sitema

[2018-11-04 20:48] michaeltorbert commented on #2040
You're using a different plugin for your sitemap.

[2018-11-04 20:48] #2040 closed

[2018-11-04 21:05] udafadil commented on #2040
Yes, for now i've disabling All in one SEO plugin, since i have no clue why
all in one sitemap couldnt read by google webmaster tools

On Mon, Nov 5, 2018, 03:48 Michael Torbert <notifications@github.com wrote:

[2018-11-05 09:55] AlainMirot opened #2041 "Error on sitemap.xml for my website"
Hi
I use All in SEO for WP website.
Il have an error detected by GSC and Semrush.

![erreur-sitemap-dtdr](https://user-images.githubusercontent.com/44769467/47990626-46396080-e0e8-11e8-81ea-6c306b493309.png)

Parameters :

![parameters-sitemap-dtdr-2](https://user-images.githubusercontent.com/44769467/47990996-3a9a6980-e0e9-11e8-82b9-bacb9e3367d4.png)
![parameters-sitemap-dtdr-1](https://user-imag

[2018-11-05 09:55] AlainMirot commented on #2041
URL of my sitemap :
https://www.de-tout-et-de-rien.fr/sitemap.xml

[2018-11-05 10:29] psmits1567 commented on #1798
Hi
Got the same error
Undefined variable: post_type in /www/wp-content/plugins/all-in-one-seo-pack/aioseop_class.php on line 4253
 ( ( '' === $aiosp_nofollow ) && ( ! empty( $aioseop_options['aiosp_cpostnofollow'] ) ) && in_array( $post_type, $aioseop_options['aiosp_cpostnofollow'] ) )
Seems within this function the variable $post_type is empty !
Latest version of SEO 2.9.1.

[2018-11-05 10:57] francobam opened #2042 "xml sitemap not works"
the sitemap generator does not work properly, Google cannot load the file, http failure

[2018-11-05 12:16] arnaudbroes commented on #2042
@francobam there's little we can do without your website URL.

[2018-11-05 12:20] arnaudbroes commented on #2041
Translation of that error: "Google couldn't read your sitemap. It's possible there was an unrecognized entry. Verify your sitemap before you send it to us again. Line: 53"

[2018-11-05 13:00] arnaudbroes commented on #2040
@udafadil we can't troubleshoot the issue if you're not actively using the plugin on your website.

[2018-11-05 13:02] arnaudbroes commented on #2041
Might be related to #2040.

[2018-11-05 15:49] michaeltorbert opened #2043 "add wc tested and required versions"
Basically we add the following to the main plugin file:

* WC requires at least: x
* WC tested up to: y

source: https://docs.woocommerce.com/document/create-a-plugin/#section-8

[2018-11-05 17:04] AlainMirot commented on #2041
Is there a way to debug the generated XML file ?

[2018-11-06 16:50] michaeltorbert commented on #2037
@EkoJR Does this fix a recently introduced issue? If not we should have this in 3.0.

[2018-11-06 16:59] wpsmort commented on #2037
@michaeltorbert This is related to https://github.com/semperfiwebdesign/aioseop-pro/issues/450.  The move of this code is required in order to get the patch for that issue to work.

[2018-11-07 13:37] iliyasdxb opened #2045 "Titles and Descriptions not saving with Gutenberg"
Since updating All In One SEO Pack Pro and using Gutenberg editor the site it longer picks up the correct SEO Title or Description. Even when I manually edit these they no longer save. If I switch back to the Classic Editor it is ok and works as normal. Up until we recently updated All In One SEO Pack Pro and renewing our subscription it was working fine.
Is there a bug or are we doing something w

[2018-11-07 14:00] michaeltorbert commented on #2045
@iliyasdxb You can submit your login information to our secure form here and we'll take a look.

[2018-11-07 14:05] michaeltorbert opened #2046 "PHP Notice from AIOSEOP_Translations::set_native_language"
Reported here: https://wordpress.org/support/topic/php-notice-from-aioseop_translationsset_native_language/

----------------------

When the plugin settings pages are visited, PHP notices such as the following can be issued:

“Undefined index: en-UK”

This applies to “All In One SEO Pack” version 2.9.1 running under WordPress 4.9.8.

#### Steps to Reproduce

1. Have locale language set to en-UK.

[2018-11-07 14:20] iliyasdxb commented on #2045
where is the form?

[2018-11-07 14:20] michaeltorbert commented on #2045
Oops. Sorry I was sure I'd pasted it. ;)
https://semperplugins.com/contact/support-login-information/

[2018-11-07 14:21] iliyasdxb commented on #2045
OK, I will set up a user for you now and send it

[2018-11-07 14:30] michaeltorbert opened #2047 "Gutenberg formatting issue"
<img width="1118" alt="screen shot 2018-11-07 at 9 28 20 am" src="https://user-images.githubusercontent.com/17364998/48137302-c211e500-e26f-11e8-81c6-495b9b750793.png">

[2018-11-07 14:30] michaeltorbert commented on #2047
Discovered while testing #2045

[2018-11-07 14:33] michaeltorbert commented on #2045
I've verified the issue. For some reason, when creating a new post, data already exists in the AIOSEOP title and description fields (and social title/description). When changing it and saving, it doesn't save correctly.
I'm going to delete extraneous comments from the thread for brevity's sake.
@iliyasdxb I'm cloning the site to a private development server so we can fully investigate and develop

[2018-11-07 14:37] iliyasdxb commented on #2045
Thanks.

Best Regards,
Iliyas Campbell
iliyasurg@me.com
07379 815 663

[2018-11-07 16:50] michaeltorbert commented on #1751
****************************From the email****************************

Ref: https://www.yescbd.co.uk/shop/

Using the 'All-in-one-SEO' module, to change the various page titles to 'Subject | YES CBD', however when using the Savoy Theme AJAX menu system it defaults back to 'Subject - YES CBD'. But, if I fully reload the page the correct pipe/| separator is used.

I contacted the Savoy theme maker

[2018-11-07 16:50] michaeltorbert commented on #1751
I've linked to the theme download in slack

[2018-11-07 18:11] EkoJR commented on #1995
As mentioned in Slack.

Unfortunately, that is the expected behavior I was worried about, and I've been thinking about adding a hook that we can use as well as any other plugin devs and/or users in order to remove specific shortcodes remaining (since we can't remove by brackets []).

The reason it is happening, is because it was not registered as a shortcode. That shortcode one  `avia_codeblock_pl

[2018-11-07 23:48] wpsmort commented on #1207
Requested again here - https://semperplugins.com/support/general-all-in-one-seo-pack-pro-forum/images-not-being-indexed/

[2018-11-08 04:59] celmore1230 opened #2048 "My Site is messed up and it is seo related."
`
				### WordPress ###

Version: 4.9.8
Language: en_US
Permalink structure: /%postname%/
Is this site using HTTPS?: Yes
Can anyone register on this site?: Yes
Default comment status: open
Is this a multisite?: No
User Count: 1
Communication with WordPress.org: WordPress.org is reachable
Create loopback requests: The loopback request to your site completed successfully.

### Installation size ###

[2018-11-08 06:49] contactashish13 commented on #1650
@arnaudbroes I think this was introduced much later in 2.7.1. as part of the fix for https://github.com/semperfiwebdesign/aioseop-pro/issues/412. Can you please confirm?

@wpsmort I believe this issue is related to https://github.com/semperfiwebdesign/aioseop-pro/issues/424 and is fixed by #1887.

[2018-11-08 08:02] arnaudbroes commented on #2048
@celmore1230 if you don't tell us what the problem is, then we can't help you.

[2018-11-08 08:02] #2048 closed

[2018-11-08 09:28] uo5 opened #2049 "image attachment pages in the Google results"
Unfortunately since the last update you can find the image attachment pages in the Google results! Do you have a solution how to prevent this?

[2018-11-08 14:10] wpsmort commented on #197
Requested by Pete Rafferty by email

[2018-11-08 14:40] wpsmort commented on #2049
This is not a support forum.  You can find documentation for the XML Sitemap module here - https://semperplugins.com/documentation/xml-sitemaps-module/#post-types-and-taxonomies

[2018-11-08 14:40] #2049 closed

[2018-11-09 17:54] AlainMirot commented on #2041
Is there really a support for this plugin? Otherwise I'll switch to Yoast LOL

[2018-11-09 18:01] PerceptionDigitale commented on #2041
yes this plugin have a support. i looking your sitemap.
Test : delete ! in you image title : <image:title>Pomme de Terre : elle a la patate !</image:title>
 
And post you feedback

other information rename your image without underscore ;)

[2018-11-09 23:42] wpsmort commented on #2014
Reported again by Phillip Berry by email.  Phillip's site has 1.8M images.

[2018-11-10 13:56] michaeltorbert commented on #2017
I'm closing this. If we're able to reproduce it or otherwise verify it isn't the CPT issue it can be reopened.

[2018-11-10 13:56] #2017 closed

[2018-11-10 15:19] AlainMirot commented on #2041
Done.
It didn't fix the problem.
All my photos have the character _ in the name.
It doesn't seem to bother you for the first posts / images.

[2018-11-10 19:50] EkoJR commented on #2008
With dynamic sitemaps, the problem only occurs on the sitemap.
With static sitemaps, the problem occurs when saving settings and when content is updated.

[2018-11-11 15:40] wpsmort commented on #2008
For many of the sites I've gotten access to, the problem occurs upon plugin activation.  At that point the WP Admin becomes inaccessible.  On the latest site I got access to for Phillip Berry, I had to roll back to v2.9 of Pro and reduce sitemap pagination from 50000 (the default setting) to 1000.  I could then get the latest release of Pro to work but the site was very slow on all page loads in W

[2018-11-11 19:29] wpsmort opened #2052 "AIO meta box overflows content editor in Gutenberg"
Reported by Magic Fred by email.  The user sent this screenshot:

![allinoneseo](https://user-images.githubusercontent.com/17548525/48317329-31643d80-e5be-11e8-9a52-20ee5aa77e58.png)

[2018-11-12 06:00] EkoJR commented on #1995
I took a look at the other problem with shortcodes not executing as intended on the frontend, but I'm not sure if there can be anything done on our part; minus the fact that AIOSEOP triggers the issue.

I believe it is more of a 'flawed concept'. Conceptually, the class responsible for shortcodes is based on how the instance itself is carried out, and in a situation with AIOSEOP, the instance is c

[2018-11-12 14:12] michaeltorbert commented on #945
How about we do both compressed and not compressed at the same time. We link to the uncompressed in the module, but if someone were to hit the compressed version that would work too (assuming it actually works).
That doesn't fix this issue, but for most people that would at least get their sitemap working from their perspective.

[2018-11-12 14:14] michaeltorbert commented on #945
Well... on nginx on Local by Flywheel, even without compression, I'm getting a 404.

[2018-11-12 14:57] alex2005 opened #2053 "performance problems with all in one seo pack"
the plugin cause a performance problems with big sites

[2018-11-12 19:32] wpsmort commented on #2053
@alex2005 This is a development repository and not a support forum.  Please contact us at https://semperplugins.com/contact/ with more specific information.  Please note that is you have a site with a lot of images then we are aware of a performance problem and have an issue open for this here https://github.com/semperfiwebdesign/all-in-one-seo-pack/issues/2008

[2018-11-12 19:32] #2053 closed

[2018-11-13 07:11] k008 opened #2054 "All in One SEO Pack: Error 2.9.1 in line 3868"
Hello, I updated the plugins on the site today and there was an error from all-in-one-seo-pack:
`in_array() expects parameter 2 to be array, null given in /wp-content/plugins/all-in-one-seo-pack/aioseop_class.php on line 3868`

Tell me how to solve this problem;
How can I turn off error output on the site (I tried various options - it did not help)

WP version 4.9.8
All in One SEO Pack: 2.9.1

[2018-11-13 17:06] k008 commented on #2054
Other users also complain:
https://wordpress.org/support/topic/php-error-in_array-expects-parameter-2-to-be-array-null-given/

I have a dynamic home page.
If in the SEO settings I choose a static main page, then the problem disappears, but this is incorrect, right?

[2018-11-13 17:10] #2023 closed

[2018-11-13 17:11] #2025 closed

[2018-11-13 17:25] k008 commented on #2054
It seems I understood, after updating my homepage's html code, it disappeared:
`<link rel = "canonical" href = "http: //domain.dom/" />`
Rummaging in SEO settings:
No Pagination for Canonical URLs

I turned on the option and the problem disappeared, turned off the option and the problem did not appear, but in the code I found `<link rel = "canonical" href = "http: //domain.dom/" />`

Most likely w

[2018-11-13 17:50] wpsmort commented on #2052
I've been unable to reproduce this on a test site.  I've requested login information from the user so we can see if it's a theme or plugin conflict.

[2018-11-13 18:17] wpsmort commented on #2045
I've identified this as a bug with the SiteOrigin Widgets Bundle plugin.  It runs a query using update_meta_chase() against the wp_postmeta table against the wrong post ID.  This causes the wrong post ID to be stored.

I verified this by deactivating all other plugins except Gutenberg, Page Builder by SiteOrigin and SiteOrigin Widgets Bundle and created a new post.  Once the post was saved as a Dr

[2018-11-13 18:17] #2045 closed

[2018-11-13 18:21] arnaudbroes commented on #2045
@wpsmort you beat me to it. I want to add that Yoast SEO is able to output the title correctly, but not the meta description, so I don't think we're to blame.

[2018-11-13 18:22] arnaudbroes commented on #2045
Oh, and it's specifically caused by the Post Carousel widget.

[2018-11-14 01:32] davettt commented on #2014
Reporting that I am also seeing sitemap.xml not loading on sites following update from 2.8.

[2018-11-14 02:34] michaeltorbert commented on #2014
@davettt What's the url to your sitemap?

[2018-11-14 02:42] davettt commented on #2014
@michaeltorbert here's one that you can take a look at if you like http://aioseo.davidtiong.net/sitemap.xml as the site is setup temporarily for testing of an issue with the meta description on the home page (details are in an email going through support at moment)

[2018-11-14 02:45] michaeltorbert commented on #2014
@davettt  The sitemap looks fine to me.

[2018-11-14 05:14] davettt commented on #2014
@michaeltorbert thanks for checking. It seems a little odd, as I use Firefox and the sitemap stopped loading (checked on 2 computers using Firefox), but I can see it loads without issue in Chrome.

[2018-11-14 13:48] michaeltorbert commented on #2014
@davettt It loads in Firefox for me. I'd say the problem is specific to your computer(s) and not on our end

[2018-11-14 15:33] wpsmort commented on #2014
Reported again here - https://wordpress.org/support/topic/sitemap-broken-after-update-2/.  This site has 2,386 images.  I enabled sitemap indexes and set pagination at 1000 but the post sitemap still loads blank, although the source code is fine.

[2018-11-14 16:32] wpsmort opened #2055 "No SEO output on homepage when there are no posts"
Reported by David Tiong (by email) and Shaul Hader (https://wordpress.org/support/topic/after-the-update-the-plug-in-does-not-work/)

The bug occurs in the v2.9 release and happens when Settings > Reading > Your homepage displays is set to Your latest posts.  If there are no posts on the site then AIOSEOP doesn't output anything in teh source code of the homepage.  This bug was introduce in v2.9.

[2018-11-14 16:42] wpsmort commented on #2055
@contactashish13 This bug was introduced in v2.9.  Please let me know ASAP if you need me to demonstrate how to reproduce this.

[2018-11-14 17:46] wpsmort commented on #2052
The user who reported this responded to say that this was caused by another plugin and not AIOSEOP.

[2018-11-14 17:46] #2052 closed

[2018-11-14 18:25] wpsmort commented on #1995
@EkoJR This doesn't address the bigger problem which is that when Run Shortcodes is enabled, the code in the Enfold Code Block element doesn't run so whatever it's supposed to output doesn't get output to the screen.

For example, if you put the iFrame embed code for a video into a Enfold Code Block element in a post and then view the post, the video is not displayed if Run Shortcodes is enabled.

[2018-11-14 18:35] EkoJR commented on #1995
@wpsmort My second comment addressed that issue. https://github.com/semperfiwebdesign/all-in-one-seo-pack/issues/1995#issuecomment-437766061

[2018-11-14 18:48] SwordAndrew opened #2056 "Open Graph"
Hi! We have problem with OpenGraph – photos aren’t displayed during cross-posting… on all pages. [The site](https://slovo-dnr.info/poetry/nebo/) is installed All In One SEO Pack. Two or three weeks ago everything worked fine. Any idea?

Thanks))
![default](https://user-images.githubusercontent.com/45046910/48504867-d26d2580-e856-11e8-8a59-be9a34865912.png)

[2018-11-14 19:02] michaeltorbert commented on #2056
@SwordAndrew This is an issue specific to your website. You have another plugin or your theme is outputting conflicting OG data.

[2018-11-14 19:02] #2056 closed

[2018-11-14 19:19] SwordAndrew commented on #2056
Hello!

1. We always used All In One SEO Pack with the theme OceanWP and there were no problems. Opengraph from the OceanWP we enable too. There was no conflict until about November 1. This is clearly seen in the cache pages in social networks (where the images remained in their places).

2. When the problem occurred, we disabled the plugin and enable only Opengraph from the OceanWP. This did not

[2018-11-14 20:13] wpsmort opened #2057 "RSS Sitemap should be optional and disabled by default"
Whilst troubleshooting issues with the XML sitemap (issues #2008 and #2014), we looked into whether the addition of the RSS sitemap in v2.9 contributed to the issues being reported by users.

As the RSS sitemap is not a requirement of any search engines, we should make this feature an option in the XML Sitemap settings and it should be disabled by default.

[2018-11-14 20:17] michaeltorbert commented on #2057
Are the performance problems caused by the RSS sitemap functionality only on large sites?
If so, I'd recommend that the documentation (on semperplugins.com and in AIOSEOP) warn that this option can cause performance issues on large sites.

[2018-11-14 20:21] wpsmort commented on #2057
@EkoJR is going to look into this and see if the RSS sitemap is causing or contributing to the performance problems.

[2018-11-14 21:43] davettt commented on #2014
@michaeltorbert you are correct it was at my end, thanks for the help with checking on Firefox.
Seems that the Ghostery extension (https://www.ghostery.com/) is preventing the sitemap from loading in the browser, as soon as I disable the extension the sitemaps load immediately again. Interestingly the sitemaps on sites running 2.8 load with Ghostery active.

[2018-11-15 08:07] contactashish13 commented on #2055
@wpsmort I have fixed this. PR: https://github.com/semperfiwebdesign/all-in-one-seo-pack/pull/2058

[2018-11-15 10:21] contactashish13 commented on #1751
The link in https://github.com/semperfiwebdesign/all-in-one-seo-pack/issues/1751#issuecomment-436694042 does not have an ajax menu so the bug cannot be reproduced.

I installed the theme (savoy, not savoy child) on a brand new install, installed all the theme recommended by it and created a menu. Went to the home page to click on a menu item and it does not load using ajax.  I consulted their docu

[2018-11-15 19:20] EkoJR opened #2059 "Clean AIOSEOP_Sitemap with WPCS"
Clean up sitemap using WPCS ( WordPress Code Sniffer ).

[2018-11-16 18:24] arnaudbroes opened #2062 "Add link to WordPress.org Reviews on Plugins page"
I saw this while providing support and it think it looks awesome. The stars are SVG files which are filled when hovering over them.

![image](https://user-images.githubusercontent.com/18156697/48639637-703a2f00-e9d4-11e8-9578-c27b645dbbd2.png)

[2018-11-16 19:03] arnaudbroes opened #2063 "Categories result in blank page when both AIOSEOP and Yoast SEO are activated"
I identified a bug where category pages result in a blank page when both AIOSEOP and Yoast SEO are installed and activated. The issue can be reproduced using these steps:

1. Install both AIOSEOP and Yoast SEO
2. Create one or multiple categories and assign them to the nav menu of the theme
3. Go to the site and click on one of the categories. You'll end up on a blank page.

I've traced this back

[2018-11-17 15:06] wpsmort commented on #154
https://wordpress.org/support/topic/no-seo-options-in-archive-template-for-custom-post-type/

[2018-11-18 11:59] AlainMirot commented on #2041
Considering the reactivity of the support of this plugin, I have disabled the Sitemap module. And I use the following module :
[https://wordpress.org/plugins/google-sitemap-generator/]

[2018-11-18 18:35] k008 commented on #2054
Unfortunately I can not, the problem has disappeared.
I do not even know the previous version of the All in One SEO Pack.

I have already described my steps, I do not know what to add ...
Install WP and All in One SEO Pack, try to reproduce the error?

[2018-11-19 02:03] michaeltorbert commented on #2054
From looking at the code my guess is this happens when the options haven’t been saved. To reproduce, I’d recommend trying installing it on a fresh site and looking at the front-end (which is where this code runs) without saving the options.

To fix we can Probably just check whether the array exists first.

[2018-11-19 05:08] k008 commented on #2054
The hoster has a backup of my site. Today he will give me a copy of the site, try to restore it to another place and give access

[2018-11-19 10:15] fabiobfava opened #2064 "Edit robots.txt"
Your actual robots.txt module just allows to create new rules, we need back (it was present in earlier versions) the capability to fully edit the robots.txt file. I just can't remove the lines:

User-agent: *
Disallow: /

So no matter what I add later, the robots.txt just blocks all Google Crawlers.

[2018-11-19 11:57] arnaudbroes commented on #2064
@fabiobfava it's possible to delete rules, as you can see in the image below. If you're using the latest version of All in One SEO Pack pro and do not have this option, then please reopen this issue and we'll investigate.

![image](https://user-images.githubusercontent.com/18156697/48705801-80cbee80-ebfa-11e8-8e4a-67b3b2d93cd5.png)

[2018-11-19 12:09] fabiobfava commented on #2064
I use the basic version (not Pro) and there's no way to delete a pre-existing rule. One year ago with the free version was possible to fully edit the robots.txt I don't understand why it's not possible now...

[2018-11-19 17:18] wpsmort opened #2065 "XML Sitemap - Characters aren't being encoded for image:caption"
Reported here - https://semperplugins.com/support/troubleshooting-all-in-one-seo-pack-pro/google-webmaster-parsing-error-in-xml-sitemaps/#p8416

When you have a character such as an ampersand in the image caption, it doesn't get encoded correctly and therefore Google Search Console returns a parsing error.

To reproduce, add a caption to an image that has an ampersand in the caption, i.e. "my capt

[2018-11-19 18:15] evanre opened #2066 "Lost aiosp social thumbnails settings after regenerated thumbnails"
**Describe the bug**
Hi, I've regenerated my media thumbnails (with 'regenerate thumbnails' plugin) and now all posts lost social image setting! There is few thousand of posts, please, help get this settings back!

**Version Info (please complete the following information):**
 - WordPress version: 4.9.8
 - All in One SEO Pack version: 2.9.1
 - PHP version: 5.6.33

[2018-11-19 18:22] wpsmort commented on #2066
This is a development repository, not a support forum.

You can find troubleshooting steps here https://semperplugins.com/documentation/how-to-troubleshoot-issues-with-all-in-one-seo-pack/
or access premium support here https://semperplugins.com/all-in-one-seo-pack-pro-version/

[2018-11-19 18:22] #2066 closed

[2018-11-19 19:11] evanre commented on #2066
I don't need a "Troubleshooting for housewives" or premium support. I just wanted to ask, do you guys think it was a good idea to hardcode absolute link to the cropped image right into post_meta table???
![image](https://user-images.githubusercontent.com/12615906/48729148-90215b00-ec3f-11e8-9a44-aace901a2797.png)

[2018-11-19 19:11] arnaudbroes commented on #2064
If you're using a multilingual plugin, then there's going to be multiple sitemaps where the slug starts with the language code.

We recently overhauled the Robots.txt module and since we added a Edit Rule feature in v2.9, this is a non-issue.

[2018-11-19 19:11] #2064 closed

[2018-11-19 20:48] michaeltorbert commented on #2066
I've updated the title to be more relevant

[2018-11-19 20:55] besweeet opened #2067 "Override title / description format at page / post level"
I'm very surprised this plugin doesn't have a way of doing this, but it would be great to ignore the global title rewrite settings (among others) for certain pages / posts.

For example, for a page I have, I don't want it to follow the standard `%page_title% | %blog_title%` formatting but rather whatever I set as the actual page title in the WordPress editor.

[2018-11-19 21:33] arnaudbroes opened #2068 "Importing meta data only works on the same, existing website"
If you migrate post data through the Importer/Exporter module, then entries will look like this:

[code]

If I'm not mistaken, then the URL is hardcoded as the GUID, which means that you can only import post data on the same, existing website as where the data was originally exported.

Can someone confirm this? If this is the case, we should find a better way to do this so you can import data into

[2018-11-19 22:57] wpsmort commented on #2065
@contactashish13 Can you ensure that the same encoding is performed on the <image:title> and <image:caption> tags so that HTML character codes are output in the source code of the XML Sitemap and Video XML Sitemap.  See the section on Non-alphanumeric and non-latin characters here  - https://support.google.com/webmasters/answer/183668?hl=en

[2018-11-20 02:31] EkoJR commented on #2068
My initial thoughts...I believe what could be happening is both/either the Guid & URL are getting saved. Presumably, both would reflect the old site, and both should be a new value (guid is a global unique identifier [added upon creation]), not the old value.

[2018-11-20 03:34] msongz opened #2069 "setting not saved"
![](https://ws4.sinaimg.cn/large/006tNbRwgy1fxedf55kqjg30f30b0405.gif)

[2018-11-20 09:16] arnaudbroes commented on #2069
@msongz this is development repository; not a support forum. You can use [these steps](https://semperplugins.com/documentation/how-to-troubleshoot-issues-with-all-in-one-seo-pack/) to narrow down a conflict or else you can purchase a premium license to gain access to our support resources - https://semperplugins.com/all-in-one-seo-pack-pro-version/

[2018-11-20 09:16] #2069 closed

[2018-11-20 10:40] arnaudbroes commented on #1650
@contactashish13 I reconfirmed that this issue was introduced in v2.5. However, you're correct that the issue is no longer present.

[2018-11-20 12:33] arnaudbroes commented on #2054
@michaeltorbert I tried that, but wasn't able to reproduce the issue.

[2018-11-20 13:10] arnaudbroes commented on #1884
I've added my input to that draft page. I feel like there's pretty a much a general consensus.

When we decide on a final protocol, everyone should carefully follow all steps each time they add an issue/PR to avoid going back and forth with each other all the time.

I also think it wouldn't be a bad idea to make someone responsible for our GitHub workflow. This person should review the GitHub repo

[2018-11-20 13:25] arnaudbroes opened #2071 "No caption and title attributes for images with sitemap indexes"
When Sitemap Indexes are enabled, caption and title attributes for images seem to be lacking.

[2018-11-20 13:48] arnaudbroes commented on #752
@contactashish13 I'm currently drafting documentation for this filter. From what I understand, this filter allows you to filter taxonomy terms.

Could you please let me know what these arguments exactly are and what they're used for -

- $args
- $page (is this the page ID?)
- $sitemap_options

[2018-11-20 16:09] arnaudbroes opened #2072 "Add code comments to all filters and hooks"
Ashish suggested that Ben and himself add code comments to all filters and hooks, on a per module basis. This both improves the code and makes it easier for Steve and I to write API documentation.

https://make.wordpress.org/core/handbook/best-practices/inline-documentation-standards/php/#4-hooks-actions-and-filters

[2018-11-20 16:12] arnaudbroes commented on #2072
The sitemap and open graph modules should be done first since we added a few new filters there.

[2018-11-20 16:12] arnaudbroes commented on #563
Closing this in favour of #2072.

[2018-11-20 16:12] #563 closed

[2018-11-20 18:06] k008 commented on #2054
@arnaudbroes, @michaeltorbert, @wpsmort
Unfortunately, I could not reproduce from my backup, because I deployed it on another server.
Now I am working on deploying on the server, where the problem was revealed.

[2018-11-20 18:11] tevyaw commented on #1691
Thanks all. I'm in the middle of switching developers for the plugin. So that's why the delay here. I'll see what the new dev says. He's much more experienced.

[2018-11-20 18:56] wpsmort commented on #2071
@arnaudbroes I cannot reproduce this. Both tags shows for me when I use Sitemap Indexes.

<img width="2539" alt="screen shot 2018-11-20 at 1 54 43 pm" src="https://user-images.githubusercontent.com/17548525/48795869-13888e00-eccc-11e8-8487-2aec69f30981.png">

[2018-11-20 20:07] wpsmort commented on #1662
I have updated the documentation here - https://semperplugins.com/documentation/custom-fields-in-titles-and-descriptions/

[2018-11-20 21:31] wpsmort commented on #1662
PR #2073

[2018-11-21 04:33] contactashish13 commented on #2057
@wpsmort I had also suggested on call that we can actually count how many elements are going to be included in the sitemap and on the basis of that we can recommend whether the user should enable indexes or not. Let me know if you think that needs to be done as well.

[2018-11-21 05:08] contactashish13 commented on #2057
PR: https://github.com/semperfiwebdesign/all-in-one-seo-pack/pull/2074

[2018-11-21 06:50] githubeing opened #2075 "Noindex/nofollow tag not output when taxonomy is empty"
**Describe the bug**
The option `use noindex for categories` doesn't work for categories that contain no published entries.

**To Reproduce**
Steps to reproduce the behavior:
1. In the General Settings , enable option `use noindex for categories` as it's described [here](https://semperplugins.com/documentation/noindex-settings/)
2. Create a category e.g. `test`
3. Optionally, you may add some entr

[2018-11-21 07:17] arnaudbroes commented on #2075
@githubeing thank you for reporting this.

I've confirmed that this is a bug and that it also applies to nofollow. Marking categories as noindex/nofollow in the meta box on the Edit page also doesn't work. Changing the title to better reflect the issue.

[2018-11-21 13:46] wpsmort commented on #2075
I don't believe there is a bug here.  If a taxonomy does not have any published posts then you get a 404 Not Found page when viewing the taxonomy archive.  You cannot view a taxonomy archive unless there is at least one published post.  I verified this on a brand new install of WordPress and followed the steps to reproduce and I got a 404 page when viewing the category archive.

[2018-11-21 15:11] arnaudbroes opened #2077 "Image attributes do not show up in sitemap when added in content"
The sitemap currently only shows the caption/title attributes for featured images. However, it does not include caption/title attributes for images that are added into the content.

Follow these steps to reproduce the issue:

1. Install AIOSEOP
2. Create a new page
3. Upload a new image, set its title and caption and add it into the content
4. Go to the sitemap and view the source code. You'll see

[2018-11-21 15:21] arnaudbroes commented on #2071
We found out this isn't caused by sitemap indexes but rather the fact that the plugin recognizes caption/title attributes for featured images, but not for images that are embedded into the content. Closing this in favour if #2077.

[2018-11-21 15:21] #2071 closed

[2018-11-21 15:22] arnaudbroes commented on #2075
Steve and I troubleshooted the issue together and confirmed that it is an actual bug since empty taxonomy pages aren't 404 pages, but actually exist.

[2018-11-21 16:49] githubeing commented on #2075
the thing is even more interesting. I confirm that on an empty new wordpress instance (after creating the `test` category) the URL `http://wordpress-4_9_8/category/test/` returns a 404 page "OOPS! THAT PAGE CAN’T BE FOUND" (with http 404 status code) BUT when you change theme from `twenty seventeen` to e.g. `twenty fifteen` then the same page returns "NOTHING FOUND" with 200 http status code. even

[2018-11-21 16:50] githubeing commented on #2075
therefore, i think this is a bug in wordpress itself since it doesn't behave consistently between switching themes immediately after install and after the first switch.